Repository Esri/calcite-design-system, pull requests merged in 2019-11, with the labels that each got.

#207 Popover modifier enhancements
  package-lock.json
  package.json
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tooltip/calcite-tooltip.tsx
Labels: enhancement

#223 Popover & Tooltip doc enhancements
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-popover/readme.md
  src/components/calcite-popover/usage/addClickHandle.md
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/components/calcite-tooltip/readme.md
  src/components/calcite-tooltip/usage/basic.md
Labels: documentation, enhancement

#221 style(popover): added border-radius
  src/components/calcite-popover/calcite-popover.scss
Labels: design

#241 fix: Popover caret showing again
  src/assets/styles/_popper.scss
  src/components/calcite-popover/calcite-popover.scss
  src/components/calcite-tooltip/calcite-tooltip.scss
Labels: bug

#245 Popover & Tooltip Enhancements to support positioning within a scrolling div better
  package-lock.json
  package.json
  src/components/calcite-popover/calcite-popover.scss
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tooltip/calcite-tooltip.scss
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/index.html
  src/utils/popper.ts
Labels: component-popover, documentation, enhancement
