Repository Esri/calcite-design-system, pull requests merged in 2020-11, with the labels that each got.

#1212 test(switch): add accessible tests
  src/components/calcite-switch/calcite-switch.e2e.ts
Labels: 1 - assigned, a11y

#1044 test: avoid deprecated waitFor
  package-lock.json
  package.json
  src/components/calcite-accordion-item/readme.md
  src/components/calcite-accordion/readme.md
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-chip/readme.md
  src/components/calcite-color-swatch/readme.md
  src/components/calcite-date/calcite-date.e2e.ts
  src/components/calcite-dropdown-group/readme.md
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown-item/readme.md
  src/components/calcite-graph/readme.md
  src/components/calcite-link/readme.md
  src/components/calcite-modal/calcite-modal.e2e.ts
  src/components/calcite-notice/calcite-notice.e2e.ts
  src/components/calcite-notice/readme.md
  src/components/calcite-pagination/readme.md
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-popover-manager/readme.md
  src/components/calcite-progress/readme.md
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-group-item/readme.md
  src/components/calcite-slider/readme.md
  src/components/calcite-stepper-item/readme.md
  src/components/calcite-tab-nav/readme.md
  src/components/calcite-tile/readme.md
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.e2e.ts
  src/components/calcite-tooltip/readme.md
  src/components/calcite-tree-item/readme.md
  src/components/calcite-tree/readme.md
Labels: chore 🧹, testing :woman_scientist: :test_tube:

#1227 fix(select): keep internal native elements in sync with calcite option and option groups
  src/components/calcite-select/calcite-select.e2e.ts
  src/components/calcite-select/calcite-select.tsx
Labels: bug 🐞

#1231 fix(shell-panel): adds auto bottom margin to make height dynamic.
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Labels: 1 - assigned, p - high :point_up_2:

#1243 fix(date): fix prev/next month buttons not rendering
  src/components/calcite-date-month-header/calcite-date-month-header.e2e.ts
  src/components/calcite-date-month-header/calcite-date-month-header.scss
  src/components/calcite-date/calcite-date.e2e.ts
Labels: bug 🐞

#1222 test: add more a11y tests
  src/components/calcite-color-hex-input/calcite-color-hex-input.e2e.ts
  src/components/calcite-color-swatch/calcite-color-swatch.e2e.ts
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Labels: a11y, testing :woman_scientist: :test_tube:

#1249 docs(select): add description and usage examples
  src/components/calcite-select/readme.md
  src/components/calcite-select/usage/basic.md
Labels: docs 📓

#1253 chore(docs): update readme files
  src/components/calcite-action/readme.md
  src/components/calcite-alert/readme.md
  src/components/calcite-avatar/readme.md
  src/components/calcite-block-section/readme.md
  src/components/calcite-button/readme.md
  src/components/calcite-chip/readme.md
  src/components/calcite-date/readme.md
  src/components/calcite-dropdown-item/readme.md
  src/components/calcite-icon/readme.md
  src/components/calcite-input/readme.md
  src/components/calcite-label/readme.md
  src/components/calcite-link/readme.md
  src/components/calcite-notice/readme.md
  src/components/calcite-option/readme.md
  src/components/calcite-panel/readme.md
  src/components/calcite-radio-button-group/readme.md
  src/components/calcite-radio-group-item/readme.md
  src/components/calcite-select/readme.md
  src/components/calcite-split-button/readme.md
  src/components/calcite-tab-title/readme.md
  src/components/calcite-tile-select-group/readme.md
  src/components/calcite-tooltip-manager/readme.md
Labels: docs 📓

#1256 fix(button): Fix loading style in transparent button
  src/components/calcite-button/calcite-button.scss
  src/demos/calcite-button.html
Labels: bug 🐞

#1242 fix(dropdown): Fix styles in Firefox and Safari
  src/components/calcite-dropdown-group/calcite-dropdown-group.scss
  src/components/calcite-dropdown-group/calcite-dropdown-group.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.scss
Labels: bug 🐞

#1247 docs(calcite-checkbox): removing usage instructions for deprecated child input feature
  src/components/calcite-checkbox/readme.md
Labels: docs 📓

#1239 fix(select): Fix overlapping text with long options
  src/components/calcite-select/calcite-select.scss
  src/components/calcite-select/calcite-select.tsx
  src/demos/calcite-select.html
Labels: bug 🐞

#1260 build: move non-dependencies to devDependencies
  package-lock.json
  package.json
  src/components/calcite-modal/calcite-modal.tsx
Labels: chore 🧹, dependencies

#1254 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore 🧹

#1264 fix(rating): add props for accessible labels, structure as radio button
  src/components/calcite-rating/calcite-rating-resources.ts
  src/components/calcite-rating/calcite-rating.e2e.ts
  src/components/calcite-rating/calcite-rating.scss
  src/components/calcite-rating/calcite-rating.stories.ts
  src/components/calcite-rating/calcite-rating.tsx
Labels: a11y

#1229 feat(pick-list, value-list): enhance lists to handle item removal
  CHANGELOG.md
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/pick-list/basic.html
Labels: enhancement ✨

#1273 fix(select): ensure select change event fires after render update
  src/components/calcite-select/calcite-select.e2e.ts
  src/components/calcite-select/calcite-select.tsx
Labels: bug 🐞

#1286 chore: Add GitHub action for stale PRs & Issues
  .github/stale.yml
  .github/workflows/stale.yml
Labels: 1 - assigned, chore 🧹

#1271 feat(button): add alignment property
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-button/calcite-button.stories.ts
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-button/readme.md
  src/components/calcite-button/resources.ts
  src/demos/calcite-button.html
Labels: 1 - assigned, enhancement ✨

#1288 chore: filter stale issues with new or assigned labels
  .github/workflows/stale.yml
Labels: 1 - assigned, chore

#1287 chore: update issue template labels
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/new-component.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/research.md
  .github/ISSUE_TEMPLATE/tooling.md
Labels: chore

#1291 fix(calcite-checkbox): space key works again on Firefox
  src/components/calcite-checkbox/calcite-checkbox.tsx
Labels: bug

#1293 feat(panel): setFocus to back button on calcite-panel. #1277
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
Labels: 1 - assigned, enhancement

#1295 feat(color): allow color input nudging by using ⬆ ⬇ (+shift) keys
  src/components/calcite-color-hex-input/calcite-color-hex-input.e2e.ts
  src/components/calcite-color-hex-input/calcite-color-hex-input.tsx
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-color/calcite-color.tsx
  src/demos/calcite-color-hex-input.html
Labels: a11y, enhancement

#1298 test(button): Fixes button tests
  src/components/calcite-button/calcite-button.e2e.ts
Labels: testing

#1308 test(dom): fix nesting
  src/utils/dom.spec.ts
Labels: testing

#1302 feat(date): Use popper.js for Date component. #1168
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-button/calcite-button.stories.ts
  src/components/calcite-date/calcite-date.scss
  src/components/calcite-date/calcite-date.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-label/calcite-label.tsx
Labels: 1 - assigned, architecture

#1303 test(alert): Update tests
  src/components/calcite-alert/calcite-alert.e2e.ts
Labels: testing

#1300 chore(accordion): Update tests and stories
  .storybook/preview-head.html
  src/components/calcite-accordion-item/calcite-accordion-item.e2e.ts
  src/components/calcite-accordion/calcite-accordion.e2e.ts
  src/components/calcite-accordion/calcite-accordion.stories.ts
Labels: docs, testing

#1299 fix(button)!: Remove floating property from calcite-button
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-button/calcite-button.stories.ts
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-fab/calcite-fab.scss
  src/components/calcite-fab/calcite-fab.stories.ts
  src/index.html
  stencil.config.ts
Labels: 1 - assigned, bug

#1310 chore: removed unused/duplicate button CSS #1167
  src/components/calcite-button/calcite-button.scss
Labels: 1 - assigned

#1307 feat(card): Adds checkbox label props for selectable cards
  src/components/calcite-card/calcite-card.e2e.ts
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-card/resources.ts
  src/demos/calcite-card.html
Labels: enhancement, testing

#1313 test(value-list-item): add e2e suite
  src/components/calcite-value-list-item/calcite-value-list-item.e2e.ts
Labels: testing
