Repository Esri/calcite-design-system, pull requests merged in 2020-08, with the labels that each got.

#807 feat(tabs): Add support for icons in tab-title
  CHANGELOG.md
  src/components/calcite-button/readme.md
  src/components/calcite-checkbox/readme.md
  src/components/calcite-color/readme.md
  src/components/calcite-icon/readme.md
  src/components/calcite-link/readme.md
  src/components/calcite-tab-title/calcite-tab-title.e2e.ts
  src/components/calcite-tab-title/calcite-tab-title.scss
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tab-title/readme.md
  src/components/calcite-tabs/calcite-tabs.stories.ts
  src/demos/calcite-tabs.html
Labels: component-icon, component-tabs, enhancement ✨

#806 build(deps): bump versions
  package-lock.json
  package.json
Labels: 1 - assigned

#812 feat(panel): Add tooling to test onscroll event for FlowItem and Panel
  src/components/calcite-panel/calcite-panel.e2e.ts
Labels: 1 - assigned

#792 docs: Add travis webhook readme
  TRAVIS_WEBHOOK_README.md
Labels: 1 - assigned, docs 📓

#814 build(deps): bump versions
  package-lock.json
  package.json
Labels: 1 - assigned

#820 feat(shell-panel)!: add width-scale property
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/readme.md
  src/components/calcite-shell/usage/advanced.md
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-center-row-action-bar.html
  src/demos/shell/demo-app-full-window-reversed.html
Labels: 1 - assigned, enhancement ✨

#828 test(color): add assertion for unsupported value console warning
  src/components/calcite-color/calcite-color.e2e.ts
Labels: component-color, testing :woman_scientist: :test_tube:

#827 chore: avoid doc generation for test runs
  package.json
Labels: chore 🧹

#832 fix(tabs): ensure proper ARIA roles
  package-lock.json
  package.json
  src/components/calcite-tab-nav/calcite-tab-nav.tsx
  src/components/calcite-tabs/calcite-tabs.e2e.ts
Labels: a11y, component-tabs

#842 docs: fix boolean attribute generation in story util
  .storybook/utils.ts
Labels: docs 📓

#843 chore: add changelog preview script
  CONTRIBUTING.md
  package.json
  support/ensureNonPrereleaseChangelog.ts
Labels: chore 🧹

#845 docs: correct knob name to match property name
  src/components/calcite-icon/calcite-icon.stories.ts
Labels: docs 📓

#847 chore: replace componentDidUnload with disconnectedCallback
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tab/calcite-tab.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Labels: 1 - assigned, refactor

#857 style(radio-group): update hover styling
  src/components/calcite-radio-group-item/calcite-radio-group-item.scss
Labels: component-radio-group, design 🎨

#809 feat(tabs): Add support for content positioning
  CHANGELOG.md
  src/components/calcite-tab-title/calcite-tab-title.scss
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tabs/calcite-tabs.scss
  src/components/calcite-tabs/calcite-tabs.stories.ts
  src/components/calcite-tabs/calcite-tabs.tsx
  src/components/calcite-tabs/readme.md
  src/demos/calcite-tabs.html
Labels: component-tabs, enhancement ✨

#859 style(icon): update number button icon scale
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-input/calcite-input.tsx
Labels: bug-css 🐞, component-input, design 🎨

#865 feat(input): Update default icon of input type email
  src/components/calcite-input/calcite-input.tsx
  src/demos/calcite-input.html
Labels: component-input, enhancement ✨

#856 feat(switch): add disabled prop
  src/components/calcite-card/readme.md
  src/components/calcite-checkbox/readme.md
  src/components/calcite-label/readme.md
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-switch/calcite-switch.scss
  src/components/calcite-switch/calcite-switch.stories.ts
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-switch/readme.md
  src/demos/calcite-switch.html
Labels: component-switch, enhancement ✨

#869 docs: fix storybook config
  .storybook/main.ts
Labels: chore 🧹, docs 📓

#878 feat(tooltip): Dismiss calcite-tooltip via ESC key #877
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.e2e.ts
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
Labels: 1 - assigned, a11y, component-tooltip

#882 refactor(color): throttle canvas rendering to 60fps
  src/components/calcite-color/calcite-color.tsx
Labels: component-color, refactor

#881 fix(color): ensure color change event is emitted when color is modified via API or interaction
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-color/calcite-color.tsx
  src/components/calcite-color/utils.ts
Labels: component-color

#884 chore(tests): drop obsolete setup file
  src/tests/setup.ts
Labels: chore 🧹

#895 fix(input): No longer set clearable by default on type date or time
  src/components/calcite-input/calcite-input.tsx
  src/demos/calcite-input.html
Labels: component-input

#904 chore(value-list): port dragging between same-group value lists
  src/components/calcite-sortable-list/calcite-sortable-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
  src/tests/utils.ts
Labels: chore 🧹

#906 chore: ui alignment for value-list and pick-list
  src/assets/styles/_shadowBorder.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
Labels: 1 - assigned, component-pick-list, component-pick-list-item, component-value-list, component-value-list-item

#909 chore(block): aligning with accordion and simplifying styles
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
Labels: 1 - assigned, chore 🧹, component-block, design 🎨

#911 fix(tree): change tabindex to 0 to prevent forced first tab stop on page
  src/components/calcite-tree/calcite-tree.tsx
Labels: bug 🐞, component-tree

#910 chore(tip, tip-group, tip-manager): ui alignment
  src/components/calcite-tip-group/calcite-tip-group.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
Labels: 1 - assigned, component-tip, component-tip-group, component-tip-manager

#914 feat(label): Updates alignment and spacing
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-input/calcite-input.stories.ts
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-label/calcite-label.scss
  src/components/calcite-radio-group/calcite-radio-group.scss
  src/demos/calcite-input.html
Labels: component-input, component-label, component-radio-group, design 🎨

#923 feat(label): Adds disabled prop to label, radio-group
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-label/calcite-label.scss
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-radio-group/calcite-radio-group.scss
  src/components/calcite-radio-group/calcite-radio-group.stories.ts
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/demos/calcite-input.html
  src/demos/calcite-radio-group.html
Labels: component-label, component-radio-group, enhancement ✨

#919 feat(calcite-label): adds no-margin property. also updates label-text spacing
  src/components/calcite-label/calcite-label.scss
  src/components/calcite-label/calcite-label.tsx
Labels: 1 - assigned, component-label
