Repository Esri/calcite-design-system, pull requests merged in 2020-06, with the labels that each got.

#642 refactor(calcite-dropdown)!: rename events and stop propagation of internal ones
  CHANGELOG.md
  src/components/calcite-dropdown-group/calcite-dropdown-group.tsx
  src/components/calcite-dropdown-group/readme.md
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown-item/readme.md
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/interfaces/Dropdown.ts
Labels: breaking change 🚨, component-dropdown, refactor

#643 feat(dropdown)!: add selectedItems property and calciteDropdownSelect event
  CHANGELOG.md
  src/components/calcite-dropdown-group/calcite-dropdown-group.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown-item/readme.md
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-dropdown/readme.md
  src/demos/calcite-date.html
Labels: component-dropdown, enhancement ✨

#647 Ensure consistent styling of any slotted element in alert and notice
  src/components/calcite-alert/calcite-alert.scss
  src/components/calcite-notice/calcite-notice.scss
Labels: component-alert, component-notice

#650 Fixing `__spreadArrays` error in ES5 builds
  src/components/calcite-stepper/calcite-stepper.tsx
Labels: component-stepper

#655 feat(popover): remove max-width
  CHANGELOG.md
  src/components/calcite-popover/calcite-popover.scss
  src/demos/calcite-popover.html
Labels: breaking change 🚨, component-popover, enhancement ✨

#662 Prevent events on disabled buttons
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-button/calcite-button.tsx
Labels: component-button

#661 Various Dropdown Updates
  CHANGELOG.md
  src/components/calcite-accordion-item/readme.md
  src/components/calcite-accordion/readme.md
  src/components/calcite-dropdown-group/calcite-dropdown-group.tsx
  src/components/calcite-dropdown-group/readme.md
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown-item/readme.md
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.stories.js
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-dropdown/readme.md
  src/components/calcite-input-message/readme.md
  src/components/calcite-input/readme.md
  src/components/calcite-progress/readme.md
  src/components/calcite-radio-button/readme.md
  src/components/calcite-radio-group/readme.md
  src/components/calcite-slider/readme.md
  src/demos/calcite-dropdown.html
  src/interfaces/Dropdown.ts
Labels: component-dropdown, enhancement ✨

#681 679/labels extend past edge
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-slider/calcite-slider.tsx
Labels: component-slider

#680 feat(slider): update disabled style
  src/components/calcite-slider/calcite-slider.scss
Labels: component-slider, design 🎨
