Repository Esri/calcite-design-system, pull requests merged in 2020-02, with the labels that each got.

#314 fix(icon): include all observed intersection entries to determine icon visibility
  src/components/calcite-icon/calcite-icon.tsx
Labels: bug

#317 fix(switch): honor user-set tab index
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-switch/calcite-switch.tsx
Labels: bug

#316 Updates slider guid name
  src/components/calcite-slider/calcite-slider.tsx
Labels: component-slider

#321 build(deps): add dependency updating script
  package-lock.json
  package.json
Labels: enhancement

#331 Fix RTL style issues for accordion, alert, notice
  CHANGELOG.md
  src/components/calcite-accordion-item/calcite-accordion-item.scss
  src/components/calcite-alert/calcite-alert.scss
  src/components/calcite-notice/calcite-notice.scss
Labels: component-accordion, component-alert, component-notice, design

#325 Adds ability to add icon to dropdown items
  CHANGELOG.md
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown-item/readme.md
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.scss
  src/components/calcite-dropdown/calcite-dropdown.stories.js
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-dropdown/readme.md
  src/components/calcite-icon/calcite-icon.stories.js
  src/components/calcite-icon/readme.md
  src/components/calcite-tooltip/readme.md
  src/demos/calcite-dropdown.html
Labels: component-dropdown, enhancement

#332 Updates accordion style and tabindex
  src/components/calcite-accordion-item/calcite-accordion-item.scss
  src/components/calcite-accordion/calcite-accordion.scss
  src/components/calcite-accordion/calcite-accordion.tsx
  src/demos/calcite-accordion.html
Labels: component-accordion, design

#334 Breaking - Update button icon functionality to use calcite-icon and calcite UI icon names
  CHANGELOG.md
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-button/calcite-button.stories.js
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-button/readme.md
  src/components/calcite-icon/readme.md
  src/demos/calcite-button.html
Labels: component-button

#339 Use calcite-icon within components instead of calcite-ui-icons.
  src/components/calcite-modal/calcite-modal.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/utils/CalciteIcon.tsx
Labels: component-modal, component-popover, component-tree

#343 Popper: Allow pointer events for poppers that have escaped their container
  src/assets/styles/_popper.scss
Labels: component-popover, component-tooltip

#344 Add setFocus method to popover to focus on the close button.
  src/components/calcite-popover/calcite-popover.tsx
Labels: component-popover

#346 Clean up dropdown css, tsx
  src/components/calcite-dropdown-group/calcite-dropdown-group.scss
  src/components/calcite-dropdown-group/calcite-dropdown-group.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.scss
Labels: component-dropdown

#242 Kat10140/calcite card - Do not merge - no styles!
  CHANGELOG.md
  src/assets/styles/readme.md
  src/components/calcite-card/calcite-card.e2e.ts
  src/components/calcite-card/calcite-card.scss
  src/components/calcite-card/calcite-card.stories.js
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-card/readme.md
  src/components/calcite-card/resources.ts
  src/components/calcite-checkbox/readme.md
  src/components/calcite-icon/readme.md
  src/components/calcite-loader/readme.md
  src/components/calcite-modal/readme.md
  src/components/calcite-popover/readme.md
  src/components/calcite-tree-item/readme.md
  src/demos/calcite-card.html
  src/index.html
  src/tests/utils.ts
  src/utils/resources.ts
  stencil.config.ts
Labels: documentation, enhancement, in progress, new component

#350 Add example of queued alerts to Storybook
  src/assets/demo/createAlert.js
  src/components/calcite-alert/calcite-alert.stories.js
Labels: documentation
