Repository Esri/calcite-design-system, pull requests merged in 2020-03, with the labels that each got.

#357 BREAKING - Dropdown updates
  CHANGELOG.md
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown-item/readme.md
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.scss
  src/components/calcite-dropdown/calcite-dropdown.stories.js
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-dropdown/readme.md
  src/components/calcite-radio-group/readme.md
  src/demos/calcite-dropdown.html
Labels: component-dropdown, design 🎨, enhancement ✨

#355 Use GUID to manage alert queue if ID is not provided in DOM
  src/components/calcite-alert/calcite-alert.stories.js
  src/components/calcite-alert/calcite-alert.tsx
  src/demos/calcite-alert.html
  stencil.config.ts
Labels: component-alert

#360 Updates dropdown docs to reflect new attribute nomenclature
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-dropdown/readme.md
  src/demos/calcite-dropdown.html
Labels: component-dropdown, documentation 📓

#364 feat(radio-group): add setFocus method
  src/components/calcite-radio-group/calcite-radio-group.e2e.ts
  src/components/calcite-radio-group/calcite-radio-group.tsx
Labels: enhancement ✨

#378 refactor(storybook): extract iconNames constant
  .storybook/helpers.js
  src/components/calcite-button/calcite-button.stories.js
  src/components/calcite-icon/calcite-icon.stories.js
Labels: refactor

#389 Update storybook version
  package-lock.json
  package.json
  support/ensureStorybookBuildHasModuleScripts.ts
Labels: chore 🧹, docs-storybook 📚

#391 Explicitly emit change event on keypress
  src/components/calcite-switch/calcite-switch.tsx
  src/demos/calcite-switch.html
Labels: component-switch

#410 Fix card ie11 styling and tests
  src/components/calcite-card/calcite-card.e2e.ts
  src/components/calcite-card/calcite-card.scss
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-card/resources.ts
  src/demos/calcite-card.html
Labels: browser-ie, component-card

#412 feat(icon): avoid rendering icon SVG when no path data is available
  src/components/calcite-icon/calcite-icon.e2e.ts
  src/components/calcite-icon/calcite-icon.scss
  src/components/calcite-icon/calcite-icon.tsx
  src/components/calcite-icon/utils.ts
Labels: component-icon, enhancement ✨

#416 build(deps): fix vulnerable deps
  package-lock.json
Labels: chore 🧹

#417 fix(icon): fix missing watcher for scale
  src/components/calcite-icon/calcite-icon.tsx
Labels: chore 🧹, component-icon

#411 Tooltip & Popover managers for event delegation
  src/assets/styles/_popper.scss
  src/components/calcite-popover-manager/calcite-popover-manager.tsx
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-popover/calcite-popover.stories.js
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-popover/resources.ts
  src/components/calcite-popover/usage/addClickHandle.md
  src/components/calcite-popover/usage/manager.md
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
  src/components/calcite-tooltip/calcite-tooltip.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.stories.js
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/components/calcite-tooltip/resources.ts
  src/components/calcite-tooltip/usage/basic.md
  src/demos/calcite-popover.html
  src/demos/calcite-tooltip.html
  src/utils/dom.ts
  stencil.config.ts
Labels: component-popover, component-tooltip, enhancement ✨, new component 🆕

#418 feat(dropdown): focus on active item when opened
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.e2e.ts
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown-item/readme.md
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.scss
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/demos/calcite-dropdown.html
  src/utils/dom.ts
Labels: component-dropdown, enhancement ✨

#328 feat(combobox): Add combobox component
  package-lock.json
  package.json
  src/components/calcite-chip/calcite-chip.e2e.ts
  src/components/calcite-chip/calcite-chip.scss
  src/components/calcite-chip/calcite-chip.stories.js
  src/components/calcite-chip/calcite-chip.tsx
  src/components/calcite-chip/readme.md
  src/components/calcite-chip/resources.ts
  src/components/calcite-combobox-item/calcite-combobox-item.scss
  src/components/calcite-combobox-item/calcite-combobox-item.tsx
  src/components/calcite-combobox-item/readme.md
  src/components/calcite-combobox-item/resources.ts
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.scss
  src/components/calcite-combobox/calcite-combobox.stories.js
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-combobox/interfaces.ts
  src/components/calcite-combobox/readme.md
  src/components/calcite-combobox/resources.ts
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/demos/calcite-chip.html
  src/demos/calcite-combobox.html
  src/index.html
  src/utils/filter.ts
  stencil.config.ts
Labels: component-combobox, new component 🆕

#425 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore 🧹

#427 Update changelog
  CHANGELOG.md
Labels: docs 📓
