Repository Esri/calcite-design-system, pull requests merged in 2020-10, with the labels that each got.

#1055 test(color): restore skipped color input tests
  src/components/calcite-color/calcite-color.e2e.ts
Labels: testing :woman_scientist: :test_tube:

#982 feat(dom): allow prop lookup to go beyond shadow boundary
  src/utils/dom.spec.ts
  src/utils/dom.ts
Labels: enhancement ✨

#1061 docs(panel): adds doc for new slots
  src/components/calcite-panel/calcite-panel.tsx
Labels: 1 - assigned, component-panel, docs 📓

#1067 ci(github): update actions-milestone-sync
  .github/workflows/main.yml
Labels: chore 🧹

#903 feat(action, action-group, action-bar, action-pad, block, block-section, flow, panel, shell, shell-panel, tip, tip-group, tip-manager): add calcite app components to distributable
  .storybook/main.ts
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-flow/readme.md
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/resources.ts
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/readme.md
  src/components/calcite-tip-group/calcite-tip-group.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/calcite-value-list/resources.ts
  src/demos/_assets/head.ts
  src/demos/_assets/toggles.ts
  src/demos/flow/adding-items.html
  src/index.html
  src/tests/utils.ts
  stencil.config.ts
  tsconfig-storybook.json
  tsconfig.json
Labels: enhancement ✨

#1084 feat(calcite-shell-panel): adds detached-height-scale property
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/demos/shell/block-configurations.html
Labels: 1 - assigned, component-shell-panel, enhancement ✨

#1085 build(deps): bump versions
  package-lock.json
  package.json
Labels: 1 - assigned

#1087 fix(block-section): use expand/collapse tooltips as a section's native tooltip
  src/components/calcite-block-section/calcite-block-section.tsx
Labels: bug 🐞

#1092 docs: renames props in docs and demos
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-pick-list-group/readme.md
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/readme.md
  src/components/calcite-pick-list/readme.md
  src/components/calcite-pick-list/usage/basic.md
  src/components/calcite-shell/readme.md
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-tip-group/readme.md
  src/components/calcite-tip-manager/readme.md
  src/components/calcite-tip-manager/usage/basic.md
  src/components/calcite-value-list-item/readme.md
  src/components/calcite-value-list/readme.md
  src/components/calcite-value-list/usage/basic.md
  src/demos/block/with-value-list.html
  src/demos/pick-list/advanced.html
  src/demos/pick-list/basic.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-center-row-action-bar.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app.html
  src/demos/tip-manager/basic.html
  src/demos/value-list/advanced.html
  src/demos/value-list/basic.html
  src/demos/value-list/double-action.html
  src/demos/value-list/value-update.html
Labels: docs 📓

#1099 docs(theme): add story for custom theme #1097
  src/6-custom-theme.stories.mdx
  src/custom-theme.md
Labels: docs 📓, docs-storybook 📚

#1100 chore(storybook): fix knob panel to the right
  .storybook/manager.ts
Labels: chore 🧹, docs 📓

#1101 chore(storybook): simplify story sorting
  .storybook/preview.ts
Labels: chore 🧹, docs 📓

#1102 chore(storybook): rename app component story titles for consistency
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-fab/calcite-fab.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Labels: chore 🧹, docs 📓

#1105 docs(contributing): add note on doc-updating script
  CONTRIBUTING.md
Labels: docs 📓

#1109 feat(panel, shell-panel): adds width-scale default to panel. adds width-scale property and styles to shell-panel
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/demos/shell/demo-app-advanced-2.html
Labels: 1 - assigned, enhancement ✨

#1129 docs(calcite-alert, calcite-combobox-item, calcite-date-day, calcite-date-month): fix invalid JSDoc
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-combobox-item/calcite-combobox-item.tsx
  src/components/calcite-date-day/calcite-date-day.tsx
  src/components/calcite-date-month/calcite-date-month.tsx
Labels: docs 📓

#1128 fix(panel): removes default width-scale and lets panel default width to be 100%
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/readme.md
Labels: 1 - assigned

#1134 fix(panel, block, block-section): updates font-sizes
  src/assets/styles/_header.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-section/calcite-block-section.e2e.ts
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block-section/resources.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
Labels: 1 - assigned

#821 feat(rating): Add rating component
  src/components/calcite-accordion-item/readme.md
  src/components/calcite-accordion/readme.md
  src/components/calcite-chip/readme.md
  src/components/calcite-color-swatch/readme.md
  src/components/calcite-dropdown-group/readme.md
  src/components/calcite-dropdown-item/readme.md
  src/components/calcite-graph/readme.md
  src/components/calcite-icon/readme.md
  src/components/calcite-link/readme.md
  src/components/calcite-notice/readme.md
  src/components/calcite-pagination/readme.md
  src/components/calcite-popover-manager/readme.md
  src/components/calcite-progress/readme.md
  src/components/calcite-radio-button-group/readme.md
  src/components/calcite-radio-group-item/readme.md
  src/components/calcite-rating/calcite-rating.e2e.ts
  src/components/calcite-rating/calcite-rating.scss
  src/components/calcite-rating/calcite-rating.stories.ts
  src/components/calcite-rating/calcite-rating.tsx
  src/components/calcite-rating/readme.md
  src/components/calcite-slider/readme.md
  src/components/calcite-stepper-item/readme.md
  src/components/calcite-tab-nav/readme.md
  src/components/calcite-tile-select-group/readme.md
  src/components/calcite-tile/readme.md
  src/components/calcite-tooltip-manager/readme.md
  src/components/calcite-tooltip/readme.md
  src/components/calcite-tree-item/readme.md
  src/components/calcite-tree/readme.md
  src/demos/calcite-rating.html
  src/index.html
  stencil.config.ts
Labels: new component 🆕

#1142 build(deps): bump versions
  .storybook/utils.tsx
  package-lock.json
  package.json
  src/assets/styles/global.scss
  src/assets/styles/includes.scss
Labels: 1 - assigned, chore 🧹

#1151 chore: Auto run a11y on storybook
  .storybook/preview.ts
Labels: 1 - assigned

#1153 fix(a11y): Fixes for accessibility to various components
  src/components/calcite-accordion/calcite-accordion.stories.ts
  src/components/calcite-button/calcite-button.stories.ts
  src/components/calcite-card/calcite-card.stories.ts
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-checkbox/calcite-checkbox.stories.ts
  src/components/calcite-chip/calcite-chip.stories.ts
  src/components/calcite-combobox-item/calcite-combobox-item.tsx
  src/components/calcite-combobox/calcite-combobox.stories.ts
  src/components/calcite-date-month-header/calcite-date-month-header.tsx
  src/components/calcite-date/calcite-date.stories.ts
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-scrim/calcite-scrim.stories.ts
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.tsx
Labels: 1 - assigned, a11y

#1112 feat(select, option, option-group): add calcite-select, calcite-option, calcite-option-group components
  src/components/calcite-label/calcite-label.stories.ts
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-option-group/calcite-option-group.e2e.ts
  src/components/calcite-option-group/calcite-option-group.tsx
  src/components/calcite-option-group/readme.md
  src/components/calcite-option/calcite-option.e2e.ts
  src/components/calcite-option/calcite-option.tsx
  src/components/calcite-option/readme.md
  src/components/calcite-select/calcite-select.e2e.ts
  src/components/calcite-select/calcite-select.scss
  src/components/calcite-select/calcite-select.stories.ts
  src/components/calcite-select/calcite-select.tsx
  src/components/calcite-select/readme.md
  src/components/calcite-select/resources.ts
  src/demos/calcite-select.html
  src/index.html
  src/interfaces/Label.ts
  stencil.config.ts
Labels: new component 🆕

#1176 build(deps): bump versions
  package-lock.json
  package.json
Labels: 1 - assigned

#1183 fix(combobox): calciteComboboxChipDismiss event not firing
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
Labels: 1 - assigned, bug 🐞, p - low :point_down:

#1193 build(deps): bump versions
  package-lock.json
  package.json
Labels: 1 - assigned, chore 🧹

#1194 Tests: Add accessible tests #1159
  src/components/calcite-checkbox/calcite-checkbox.e2e.ts
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-popover-manager/calcite-popover-manager.e2e.ts
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-progress/calcite-progress.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-scrim/calcite-scrim.e2e.ts
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.e2e.ts
Labels: 1 - assigned, a11y, chore 🧹

#1191 feat: updates a shortlist of components with new font-sizes for each scale
  src/components/calcite-accordion-item/calcite-accordion-item.scss
  src/components/calcite-accordion/calcite-accordion.scss
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-checkbox/calcite-checkbox.scss
  src/components/calcite-dropdown-group/calcite-dropdown-group.scss
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-label/calcite-label.scss
  src/components/calcite-radio-button/calcite-radio-button.scss
  src/components/calcite-radio-group-item/calcite-radio-group-item.scss
  src/components/calcite-select/calcite-select.scss
  src/demos/calcite-dropdown.html
Labels: 1 - assigned, design 🎨, enhancement ✨

#1202 test(button): add accessible tests
  src/components/calcite-button/calcite-button.e2e.ts
Labels: 1 - assigned, a11y

#1210 test(graph): add accessible tests
  src/components/calcite-graph/calcite-graph.e2e.ts
  src/tests/commonTests.ts
Labels: 1 - assigned, a11y

#1211 test(tree, tree-item): add accessible tests.
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.e2e.ts
Labels: 1 - assigned, a11y
