Repository Esri/calcite-design-system, pull requests merged in 2020-04, with the labels that each got.

#423 IE 11 Dropdown style fixes
  src/components/calcite-dropdown-group/calcite-dropdown-group.scss
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
Labels: browser-ie, bug-css 🐞, component-dropdown

#424 IE 11 Accordion style fixes
  src/components/calcite-accordion-item/calcite-accordion-item.scss
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
Labels: browser-ie, bug-css 🐞, component-accordion

#430 Date picker updates
  CHANGELOG.md
  package-lock.json
  src/components/calcite-date-day/calcite-date-day.scss
  src/components/calcite-date-day/calcite-date-day.tsx
  src/components/calcite-date-day/readme.md
  src/components/calcite-date-month-header/calcite-date-month-header.scss
  src/components/calcite-date-month-header/calcite-date-month-header.tsx
  src/components/calcite-date-month-header/readme.md
  src/components/calcite-date-month/calcite-date-month.scss
  src/components/calcite-date-month/calcite-date-month.tsx
  src/components/calcite-date-month/readme.md
  src/components/calcite-date/calcite-date-picker.scss
  src/components/calcite-date/calcite-date-picker.stories.js
  src/components/calcite-date/calcite-date-picker.tsx
  src/components/calcite-date/calcite-date.e2e.ts
  src/components/calcite-date/calcite-date.scss
  src/components/calcite-date/calcite-date.stories.js
  src/components/calcite-date/calcite-date.ts
  src/components/calcite-date/calcite-date.tsx
  src/components/calcite-date/readme.md
  src/components/calcite-icon/calcite-icon.scss
  src/components/calcite-icon/readme.md
  src/demos/calcite-date.html
  src/interfaces/Date.ts
  src/utils/date.spec.ts
  src/utils/date.ts
  src/utils/locale.ts
  stencil.config.ts
Labels: component-date, refactor

#422 Adds focus state mixins and adds to components
  src/assets/styles/includes.scss
  src/components/calcite-accordion-item/calcite-accordion-item.scss
  src/components/calcite-accordion/readme.md
  src/components/calcite-alert/calcite-alert.scss
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-alert/readme.md
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-button/readme.md
  src/components/calcite-card/readme.md
  src/components/calcite-checkbox/calcite-checkbox.scss
  src/components/calcite-checkbox/readme.md
  src/components/calcite-chip/calcite-chip.scss
  src/components/calcite-combobox-item/calcite-combobox-item.scss
  src/components/calcite-combobox/calcite-combobox.scss
  src/components/calcite-dropdown-group/readme.md
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-dropdown/readme.md
  src/components/calcite-icon/readme.md
  src/components/calcite-loader/readme.md
  src/components/calcite-modal/calcite-modal.scss
  src/components/calcite-modal/calcite-modal.tsx
  src/components/calcite-modal/readme.md
  src/components/calcite-notice/calcite-notice.scss
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-notice/readme.md
  src/components/calcite-pagination/calcite-pagination.scss
  src/components/calcite-pagination/calcite-pagination.tsx
  src/components/calcite-pagination/readme.md
  src/components/calcite-popover/calcite-popover.scss
  src/components/calcite-popover/readme.md
  src/components/calcite-progress/readme.md
  src/components/calcite-radio-group-item/calcite-radio-group-item.scss
  src/components/calcite-radio-group/readme.md
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-slider/readme.md
  src/components/calcite-switch/calcite-switch.scss
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-switch/readme.md
  src/components/calcite-tab-title/calcite-tab-title.scss
  src/components/calcite-tabs/readme.md
  src/components/calcite-tooltip/readme.md
  src/components/calcite-tree-item/calcite-tree-item.scss
  src/components/calcite-tree/readme.md
Labels: design 🎨, new component 🆕

#408 Feature/stepper
  CHANGELOG.md
  src/components/calcite-icon/readme.md
  src/components/calcite-stepper-item/calcite-stepper-item.e2e.ts
  src/components/calcite-stepper-item/calcite-stepper-item.scss
  src/components/calcite-stepper-item/calcite-stepper-item.tsx
  src/components/calcite-stepper-item/readme.md
  src/components/calcite-stepper/calcite-stepper.e2e.ts
  src/components/calcite-stepper/calcite-stepper.scss
  src/components/calcite-stepper/calcite-stepper.stories.js
  src/components/calcite-stepper/calcite-stepper.tsx
  src/components/calcite-stepper/readme.md
  src/demos/calcite-stepper.html
  src/index.html
  stencil.config.ts
Labels: component-stepper, docs-storybook 📚, new component 🆕

#433 fix(icon): always render in the target scale to avoid shifts in layout
  src/components/calcite-icon/calcite-icon.e2e.ts
  src/components/calcite-icon/calcite-icon.tsx
  src/components/calcite-icon/utils.ts
Labels: bug 🐞, component-icon

#435 feat(dropdown): specify max items to display before scrolling is enabled
  src/components/calcite-dropdown-group/calcite-dropdown-group.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.stories.js
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/demos/calcite-dropdown.html
  src/interfaces/Dropdown.ts
Labels: component-dropdown, enhancement ✨

#438 Updates changelog for new dropdown attribute / prop
  CHANGELOG.md
Labels: chore 🧹

#436 Remove mutationObserver in button for hasText prop
  src/components/calcite-button/calcite-button.tsx
Labels: bug 🐞, component-button

#439 docs: update changelog
  CHANGELOG.md
Labels: docs 📓

#445 Fix naming of click handler in accordion item
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
Labels: component-accordion

#444 Edge - fixes stepper content not displaying in horizontal layout
  src/components/calcite-stepper-item/calcite-stepper-item.scss
  src/components/calcite-stepper-item/calcite-stepper-item.tsx
  src/components/calcite-stepper/calcite-stepper.tsx
Labels: component-stepper

#449 fix(button): update hasText when textContent is set after initial render
  src/components/calcite-button/calcite-button.tsx
Labels: bug 🐞

#476 Fix for textarea entry
  src/components/calcite-input/calcite-input.tsx
  src/demos/calcite-input.html
Labels: component-input

#484 Popover/Tooltip: Keep guid consistent
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tooltip/calcite-tooltip.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.tsx
Labels: bug 🐞, component-popover, component-tooltip

#493 fix(popper): typings
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/utils/popper.ts
Labels: bug 🐞, chore 🧹, component-popover, component-tooltip

#492 Update/radiogroup
  CHANGELOG.md
  src/components/calcite-radio-group-item/calcite-radio-group-item.scss
  src/components/calcite-radio-group-item/calcite-radio-group-item.tsx
  src/components/calcite-radio-group/calcite-radio-group.stories.js
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/demos/calcite-radio-group.html
Labels: component-radio-group, design 🎨, enhancement ✨

#499 Add child component docs to storybook
  src/components/calcite-accordion/calcite-accordion.stories.js
  src/components/calcite-combobox/calcite-combobox.stories.js
  src/components/calcite-dropdown/calcite-dropdown.stories.js
  src/components/calcite-radio-group/calcite-radio-group.stories.js
  src/components/calcite-stepper/calcite-stepper.stories.js
  src/components/calcite-stepper/readme.md
Labels: docs 📓, docs-storybook 📚

#504 Update pagination style
  CHANGELOG.md
  src/components/calcite-pagination/calcite-pagination.scss
  src/components/calcite-pagination/calcite-pagination.stories.js
  src/components/calcite-pagination/calcite-pagination.tsx
  src/components/calcite-pagination/readme.md
  src/demos/calcite-pagination.html
Labels: component-pagination

#511 Adds support for icons in calcite-accordion-item
  CHANGELOG.md
  src/components/calcite-accordion-item/calcite-accordion-item.scss
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-accordion-item/readme.md
  src/components/calcite-accordion/calcite-accordion.e2e.ts
  src/components/calcite-accordion/calcite-accordion.stories.js
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-stepper-item/calcite-stepper-item.scss
  src/demos/calcite-accordion.html
Labels: component-accordion, enhancement ✨

#523 Fix increment and decrement of number type input when min/max is 0
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-input/calcite-input.stories.js
  src/components/calcite-input/calcite-input.tsx
  src/demos/calcite-input.html
Labels: bug 🐞, component-input

#503 Adds vertical layout option to radio group
  CHANGELOG.md
  src/components/calcite-radio-group-item/calcite-radio-group-item.scss
  src/components/calcite-radio-group-item/calcite-radio-group-item.tsx
  src/components/calcite-radio-group/calcite-radio-group.e2e.ts
  src/components/calcite-radio-group/calcite-radio-group.scss
  src/components/calcite-radio-group/calcite-radio-group.stories.js
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-radio-group/readme.md
  src/demos/calcite-radio-group.html
Labels: component-radio-group, enhancement ✨

#524 Fix/input
  src/components/calcite-input-message/calcite-input-message.scss
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-input/calcite-input.stories.js
Labels: component-input, component-input-message

#525 Update changelog
  CHANGELOG.md
Labels: docs 📓

#530 Small updates to date style from feedback #446
  src/components/calcite-date-day/calcite-date-day.scss
  src/components/calcite-date-day/calcite-date-day.tsx
  src/components/calcite-date-month-header/calcite-date-month-header.scss
  src/components/calcite-date-month-header/calcite-date-month-header.tsx
  src/components/calcite-date-month/calcite-date-month.scss
  src/components/calcite-date/calcite-date.scss
  src/components/calcite-date/calcite-date.tsx
Labels: component-date

#534 Fix Notice RTL padding
  src/components/calcite-notice/calcite-notice.scss
  src/demos/calcite-notice.html
Labels: bug-css 🐞, component-notice
