Repository Esri/calcite-design-system, pull requests merged in 2020-09, with the labels that each got.

#920 build(deps): bump versions
  package-lock.json
  package.json
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-stepper-item/calcite-stepper-item.tsx
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tab/calcite-tab.tsx
Labels: 2 - in development 🚧, bug 🐞, chore 🧹

#929 test(color): skip color input tests until they no longer time out
  src/components/calcite-color/calcite-color.e2e.ts
Labels: chore 🧹, testing :woman_scientist: :test_tube:

#941 build: restore legacy polyfills
  stencil.config.ts
Labels: chore 🧹

#948 refactor(dropdown): update calcite-dropdown to use Popper.js
  src/assets/styles/_popper.scss
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.scss
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-popover/calcite-popover.scss
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-popover/resources.ts
  src/components/calcite-tooltip/calcite-tooltip.scss
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/components/calcite-tooltip/resources.ts
  src/utils/popper.ts
Labels: 1 - assigned, chore 🧹, component-dropdown, dependency-popper :popcorn:, discussion 💬, help wanted, question❔, refactor

#958 build(deps): bump versions
  package-lock.json
  package.json
Labels: 1 - assigned

#978 chore(linting): ensure all JSX props are sorted
  .eslintrc.json
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-chip/calcite-chip.tsx
  src/components/calcite-color-hex-input/calcite-color-hex-input.tsx
  src/components/calcite-color-swatch/calcite-color-swatch.tsx
  src/components/calcite-color/calcite-color.tsx
  src/components/calcite-combobox-item/calcite-combobox-item.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-date-month-header/calcite-date-month-header.tsx
  src/components/calcite-date-month/calcite-date-month.tsx
  src/components/calcite-date/calcite-date.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-graph/calcite-graph.tsx
  src/components/calcite-handle/calcite-handle.tsx
  src/components/calcite-icon/calcite-icon.tsx
  src/components/calcite-input-message/calcite-input-message.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-link/calcite-link.tsx
  src/components/calcite-loader/calcite-loader.tsx
  src/components/calcite-modal/calcite-modal.tsx
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-pagination/calcite-pagination.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-radio-group-item/calcite-radio-group-item.tsx
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-split-button/calcite-split-button.tsx
  src/components/calcite-stepper-item/calcite-stepper-item.tsx
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tab/calcite-tab.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/utils/CalciteExpandToggle.tsx
Labels: chore 🧹

#980 chore: consolidate all utils
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tab-nav/calcite-tab-nav.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  src/components/functional/CalciteExpandToggle.tsx
  src/components/utils/dom.ts
  src/components/utils/guid.ts
  src/components/utils/resources.ts
  src/utils/array.ts
  src/utils/dom.spec.ts
  src/utils/dom.ts
  src/utils/popper.ts
  tsconfig.json
Labels: chore 🧹

#959 refactor(combobox): Update combobox to use popper
  src/components/calcite-combobox/calcite-combobox.scss
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-popover/resources.ts
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/components/calcite-tooltip/resources.ts
  src/utils/popper.ts
Labels: 1 - assigned, component-combobox, dependency-popper :popcorn:, refactor

#984 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore 🧹

#946 chore: fix package asset handling in custom GitHub-release script
  support/releaseToGitHub.ts
Labels: chore 🧹, tooling 🛠️

#952 @macandcheese fix(input): only set disabled on slotted action when input is disabled
  src/components/calcite-input/calcite-input.tsx
  src/demos/calcite-input.html
Labels: bug 🐞, component-input

#985 ci: tweak next release tag
  package.json
Labels: chore 🧹

#883 fix(color): ensure color object values are rounded
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-color/calcite-color.tsx
Labels: component-color

#986 chore: update changelog scripts
  .versionrc.json
  support/ensureNonPrereleaseChangelog.ts
Labels: chore 🧹

#995 fix(dropdown): fix item selection when dropdown is in a shadow DOM context
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
Labels: component-dropdown

#1001 chore(linting): enable self-closing tags
  .eslintrc.json
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-chip/calcite-chip.tsx
  src/components/calcite-date/calcite-date.tsx
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-input-message/calcite-input-message.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-modal/calcite-modal.tsx
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-radio-button-group/calcite-radio-button-group.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-scrim/calcite-scrim.tsx
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-tile-select-group/calcite-tile-select-group.tsx
  src/components/calcite-tile-select/calcite-tile-select.tsx
  src/components/calcite-tile/calcite-tile.tsx
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.tsx
Labels: chore 🧹

#987 fix(tooltip): Add a11y improvements for hovering over a tooltip
  src/components/calcite-popover-manager/calcite-popover-manager.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.e2e.ts
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
  src/components/calcite-tooltip/calcite-tooltip.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/components/calcite-tooltip/resources.ts
  src/utils/dom.ts
Labels: 1 - assigned, a11y, component-tooltip

#1005 fix(tooltip): Keep tooltip visible if focus occurs after hover #938
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
Labels: 1 - assigned

#1007 test(tooltip): Add unit test for triggering tooltip from combinations of hover/focus #1006
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.e2e.ts
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
Labels: 1 - assigned, component-tooltip

#1008 docs: remove empty changelog entries
  CHANGELOG.md
Labels: docs 📓

#1009 chore: update release scripts to keep track of beta and next versions
  .versionrc.json
  package-lock.json
  package.json
  support/ensureNonPrereleaseChangelog.ts
  support/prepareVersionUpdate.ts
Labels: chore 🧹

#1011 fix(calcite-radio-button): fixing issue where input isn't properly initialized in some cases
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-tile-select/calcite-tile-select.tsx
Labels: component-radio-button

#1013 fix(dropdown): Adjust display of slotted full width buttons
  src/components/calcite-dropdown/calcite-dropdown.scss
  src/demos/calcite-dropdown.html
Labels: component-dropdown

#1016 chore(docs): update storybook deployer to use existing docs build
  package.json
Labels: chore 🧹, docs 📓

#954 refactor!: drop prop validation in favor of documentation and types
  src/components/calcite-accordion/calcite-accordion.e2e.ts
  src/components/calcite-accordion/calcite-accordion.tsx
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-chip/calcite-chip.e2e.ts
  src/components/calcite-chip/calcite-chip.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-dropdown-group/calcite-dropdown-group.tsx
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-input-message/calcite-input-message.e2e.ts
  src/components/calcite-input-message/calcite-input-message.tsx
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-label/calcite-label.e2e.ts
  src/components/calcite-link/calcite-link.e2e.ts
  src/components/calcite-link/calcite-link.tsx
  src/components/calcite-loader/calcite-loader.e2e.ts
  src/components/calcite-loader/calcite-loader.tsx
  src/components/calcite-notice/calcite-notice.e2e.ts
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-pagination/calcite-pagination.tsx
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.tsx
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-group-item/calcite-radio-group-item.tsx
  src/components/calcite-radio-group/calcite-radio-group.e2e.ts
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-split-button/calcite-split-button.e2e.ts
  src/components/calcite-split-button/calcite-split-button.tsx
  src/components/calcite-stepper/calcite-stepper.e2e.ts
  src/components/calcite-stepper/calcite-stepper.tsx
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-switch/calcite-switch.tsx
Labels: refactor

#949 refactor(panel, flow-item, flow): removes flow-item, enhances panel to replace flow-item, updates flow to use panel
  src/components/calcite-action/readme.md
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-flow-item/calcite-flow-item.e2e.ts
  src/components/calcite-flow-item/calcite-flow-item.scss
  src/components/calcite-flow-item/calcite-flow-item.tsx
  src/components/calcite-flow-item/readme.md
  src/components/calcite-flow-item/resources.ts
  src/components/calcite-flow/calcite-flow.e2e.ts
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-flow/readme.md
  src/components/calcite-flow/usage/basic.md
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/readme.md
  src/components/calcite-panel/resources.ts
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/readme.md
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/readme.md
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/functional/CalciteExpandToggle.tsx
  src/demos/flow-item/basic.html
  src/demos/flow/adding-items.html
  src/demos/flow/basic.html
  src/demos/panel/basic.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-center-row-action-bar.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/index.html
Labels: component-flow, component-flow-item, component-panel, refactor

#1031 ci(github): enable milestone-updating GitHub action
  .github/workflows/main.yml
Labels: ci

#1037 test(modal): fix context type for exposed function
  src/components/calcite-modal/calcite-modal.e2e.ts
Labels: testing :woman_scientist: :test_tube:

#1036 chore(changelog): ensure changelog script does not generate invalid commits
  CHANGELOG.md
  support/ensureNonPrereleaseChangelog.ts
Labels: tooling 🛠️

#1038 fix(color): initial user-defined value (prop) gets set properly
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-color/calcite-color.tsx
Labels: component-color

#1042 build(deps): bump versions
  package-lock.json
  package.json
Labels: 1 - assigned
