Repository Esri/calcite-design-system, pull requests merged in 2020-12, with the labels that each got.

#1315 fix(tooltip-manager): Fix race condition between focused and hovered …
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.e2e.ts
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
Labels: 1 - assigned, bug

#1326 fix(dropdown): Emit close event on trigger click
  src/components/calcite-dropdown/calcite-dropdown.tsx
Labels: bug

#1328 test(notice): Update tests
  src/components/calcite-notice/calcite-notice.e2e.ts
Labels: a11y, testing

#1327 feat(a11y): Adds aria labels to required roles
  package-lock.json
  package.json
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/resources.ts
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-button/resources.ts
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-card/resources.ts
  src/components/calcite-loader/calcite-loader.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-scrim/calcite-scrim.tsx
  src/components/calcite-scrim/resources.ts
  src/components/calcite-tooltip/calcite-tooltip.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.tsx
Labels: 1 - assigned

#1333 docs(date): Update Storybook label
  src/components/calcite-date/calcite-date.stories.ts
Labels: docs

#1331 test(input-message): Update tests
  src/components/calcite-input-message/calcite-input-message.e2e.ts
Labels: a11y, testing

#1335 docs(alert): Update Storybook
  src/components/calcite-alert/calcite-alert.stories.ts
Labels: docs

#1340 docs: update readmes
  src/components/calcite-action/readme.md
  src/components/calcite-alert/readme.md
  src/components/calcite-block/readme.md
  src/components/calcite-button/readme.md
  src/components/calcite-card/readme.md
  src/components/calcite-date/readme.md
  src/components/calcite-link/readme.md
  src/components/calcite-loader/readme.md
  src/components/calcite-panel/readme.md
  src/components/calcite-popover/readme.md
  src/components/calcite-rating/readme.md
  src/components/calcite-scrim/readme.md
  src/components/calcite-select/readme.md
  src/components/calcite-tooltip/readme.md
  src/components/calcite-value-list-item/readme.md
Labels: docs

#1309 feat(action-bar, action-pad): Add setFocus method for the expand toggle #974
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/functional/CalciteExpandToggle.tsx
Labels: 1 - assigned, enhancement

#1345 refactor: enhance focusable test helper to support more use cases
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-dropdown-item/calcite-dropdown-item.e2e.ts
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-radio-group/calcite-radio-group.e2e.ts
  src/tests/commonTests.ts
Labels: refactor, testing

#1343 docs(dropdown): Clarify max-item intent
  src/components/calcite-dropdown/calcite-dropdown.tsx
Labels: docs

#1351 feat(tooltip, popover): Make Tooltip ❤️ Popover
  package.json
  src/components/calcite-popover-manager/calcite-popover-manager.tsx
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-popover/resources.ts
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
  src/components/calcite-tooltip/calcite-tooltip.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/components/calcite-tooltip/resources.ts
  src/demos/calcite-popover.html
  src/utils/dom.ts
Labels: 1 - assigned, a11y, enhancement

#1352 chore: Update stale issues/prs configuration #1348
  .github/workflows/stale.yml
Labels: 1 - assigned, chore

#1353 chore(github): update actions-milestone-sync
  .github/workflows/milestone-mover.yml
Labels: chore

#1354 build: Add code scanning
  .github/workflows/codeql-analysis.yml
Labels: 1 - assigned

#1358 chore: remove unnecessary code from stepper resources
  src/components/calcite-stepper/calcite-stepper.resources.ts
Labels: 1 - assigned

#1362 docs(guidelines): Add guidelines around branch naming
  PROJECT_GUIDELINES.md
Labels: docs

#1363 build(deps): bump versions
  package-lock.json
  package.json
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/tests/setupTests.ts
Labels: 1 - assigned

#1371 test(color, input-message, radio-button): stabilize tests
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-input-message/calcite-input-message.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/tests/commonTests.ts
Labels: testing

#1367 chore: cleanup tests
  package.json
  src/components/calcite-color/calcite-color.e2e.ts
  src/tests/setupTests.ts
Labels: 1 - assigned

#1372 fix(tab, tab-title, tabs): Emit unregister events on the document.
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tab/calcite-tab.tsx
  src/components/calcite-tabs/calcite-tabs.tsx
  src/tests/setupTests.ts
Labels: 1 - assigned, bug

#1377 chore: restore passing arguments to test script
  package.json
Labels: chore

#1376 refactor: use different selector to hide components that should not be visible on first render
  src/assets/styles/global.scss
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tooltip/calcite-tooltip.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.tsx
Labels: refactor

#1337 fix(icon, link): improve a11y markup for screen readers
  src/components/calcite-icon/calcite-icon.tsx
  src/components/calcite-link/calcite-link.e2e.ts
  src/components/calcite-link/calcite-link.tsx
  src/demos/calcite-link.html
Labels: a11y, bug

#1387 fix(dropdown): Dropdown on RTL page causes long horizontal scroll #1381
  src/assets/styles/_popper.scss
Labels: 1 - assigned, bug

#1382 fix(modal): Allow modal to focus on calcite components.
  src/components/calcite-modal/calcite-modal.tsx
Labels: 1 - assigned, bug

#1339 feat(select): add selectedOption convenience prop
  src/components/calcite-select/calcite-select.e2e.ts
  src/components/calcite-select/calcite-select.tsx
Labels: enhancement

#1388 refactor(input): rename resource const
  src/components/calcite-input/calcite-input.resources.ts
  src/components/calcite-input/calcite-input.tsx
Labels: refactor

#1390 fix(input): Prevent error when changing the 'step', 'min', or 'max'
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Labels: 1 - assigned, bug

#1397 test: stabilize async execution
  src/components/calcite-color-swatch/calcite-color-swatch.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-link/calcite-link.e2e.ts
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
  src/components/calcite-rating/calcite-rating.e2e.ts
  src/components/calcite-select/calcite-select.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.e2e.ts
  src/components/calcite-value-list-item/calcite-value-list-item.e2e.ts
Labels: testing

#1392 chore: add helper to enable auto-formatting of HTML template strings
  src/components/calcite-accordion/calcite-accordion.stories.ts
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-radio-group/calcite-radio-group.e2e.ts
  src/components/calcite-select/calcite-select.e2e.ts
  src/components/calcite-select/calcite-select.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-value-list-item/calcite-value-list-item.e2e.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
  src/demos/_assets/head.ts
  src/demos/flow/adding-items.html
  src/tests/utils.ts
  stencil.config.ts
Labels: chore

#1368 chore(linting): enable linting rules for tests
  .eslintrc.json
  package-lock.json
  package.json
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-avatar/calcite-avatar.e2e.ts
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-date/calcite-date.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/components/calcite-rating/calcite-rating.e2e.ts
  src/components/calcite-split-button/calcite-split-button.e2e.ts
  src/components/calcite-tile/calcite-tile.e2e.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
Labels: testing

#1400 test(avatar): clean up a11y test
  src/components/calcite-avatar/calcite-avatar.e2e.ts
Labels: testing

#1403 fix(dropdown): Set dropdown scale to 0 when inactive. #1381
  src/assets/styles/_popper.scss
  src/components/calcite-combobox/calcite-combobox.scss
  src/components/calcite-date/calcite-date.scss
  src/components/calcite-dropdown/calcite-dropdown.scss
Labels: 1 - assigned

#1405 build(deps): bump versions
  package-lock.json
  package.json
Labels: 1 - assigned

#1413 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore

#1396 fix(modal): Remove overflow class when modal is removed from DOM
  src/components/calcite-modal/calcite-modal.e2e.ts
  src/components/calcite-modal/calcite-modal.tsx
Labels: bug

#1414 feat(combobox): add custom-values prop that allows free entry of new tags
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.stories.ts
  src/components/calcite-combobox/calcite-combobox.tsx
  src/demos/calcite-combobox.html
Labels: enhancement

#1421 chore(storybook): migrate stories to CSF
  src/components/calcite-alert/calcite-alert.stories.ts
  src/components/calcite-avatar/calcite-avatar.stories.ts
  src/components/calcite-button/calcite-button.stories.ts
  src/components/calcite-card/calcite-card.stories.ts
  src/components/calcite-checkbox/calcite-checkbox.stories.ts
  src/components/calcite-chip/calcite-chip.stories.ts
  src/components/calcite-color/calcite-color.stories.ts
  src/components/calcite-combobox/calcite-combobox.stories.ts
  src/components/calcite-date/calcite-date.stories.ts
  src/components/calcite-dropdown/calcite-dropdown.stories.ts
  src/components/calcite-icon/calcite-icon.stories.ts
  src/components/calcite-inline-editable/calcite-inline-editable.stories.ts
  src/components/calcite-input/calcite-input.stories.ts
  src/components/calcite-label/calcite-label.stories.ts
  src/components/calcite-link/calcite-link.stories.ts
  src/components/calcite-loader/calcite-loader.stories.ts
  src/components/calcite-modal/calcite-modal.stories.ts
  src/components/calcite-notice/calcite-notice.stories.ts
  src/components/calcite-pagination/calcite-pagination.stories.ts
  src/components/calcite-popover/calcite-popover.stories.ts
  src/components/calcite-progress/calcite-progress.stories.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.stories.ts
  src/components/calcite-radio-button/calcite-radio-button.stories.ts
  src/components/calcite-radio-group/calcite-radio-group.stories.ts
  src/components/calcite-rating/calcite-rating.stories.ts
  src/components/calcite-scrim/calcite-scrim.stories.ts
  src/components/calcite-slider/calcite-slider.stories.ts
  src/components/calcite-split-button/calcite-split-button.stories.ts
  src/components/calcite-stepper/calcite-stepper.stories.ts
  src/components/calcite-switch/calcite-switch.stories.ts
  src/components/calcite-tabs/calcite-tabs.stories.ts
  src/components/calcite-tile-select-group/calcite-tile-select-group.stories.ts
  src/components/calcite-tile-select/calcite-tile-select.stories.ts
  src/components/calcite-tile/calcite-tile.stories.ts
  src/components/calcite-tooltip/calcite-tooltip.stories.ts
  src/components/calcite-tree/calcite-tree.stories.ts
Labels: chore

#1410 feat(color, color-hex-input, color-swatch): add support for no-color
  CHANGELOG.md
  src/components/calcite-color-hex-input/calcite-color-hex-input.e2e.ts
  src/components/calcite-color-hex-input/calcite-color-hex-input.tsx
  src/components/calcite-color-swatch/calcite-color-swatch.e2e.ts
  src/components/calcite-color-swatch/calcite-color-swatch.scss
  src/components/calcite-color-swatch/calcite-color-swatch.tsx
  src/components/calcite-color-swatch/resources.ts
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-color/calcite-color.stories.ts
  src/components/calcite-color/calcite-color.tsx
  src/components/calcite-color/resources.ts
  src/components/calcite-color/utils.ts
  src/demos/calcite-color-hex-input.html
  src/demos/calcite-color-swatch.html
  src/demos/calcite-color.html
Labels: enhancement, p - high

#1428 fix(label): enforce directionality with new alignment prop
  src/components/calcite-input/calcite-input.stories.ts
  src/components/calcite-label/calcite-label.e2e.ts
  src/components/calcite-label/calcite-label.scss
  src/components/calcite-label/calcite-label.tsx
Labels: 1 - assigned, bug

#1422 fix(calcite-radio-button): radios now properly deselect when the selection changes while wrapped in a parent shadowRoot
  src/6-custom-theme.stories.mdx
  src/components/calcite-card/calcite-card.stories.ts
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.tsx
Labels: bug

#1434 build(deps): bump versions
  package-lock.json
  package.json
  src/components/calcite-date/calcite-date.e2e.ts
Labels: 1 - assigned

#1435 docs(flow, panel): fix calcite-flow and calcite-panel stories referencing outdated slots #1425
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
Labels: 1 - assigned
