Repository Esri/calcite-design-system, pull requests merged in 2020-07, with the labels that each got.

#695 Adds disabled prop to dropdown
  CHANGELOG.md
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.scss
  src/components/calcite-dropdown/calcite-dropdown.stories.js
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-dropdown/readme.md
  src/demos/calcite-dropdown.html
Labels: component-dropdown

#696 Various fixes and improvements for input / label
  CHANGELOG.md
  src/components/calcite-accordion-item/calcite-accordion-item.scss
  src/components/calcite-checkbox/calcite-checkbox.scss
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-date/readme.md
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-input/calcite-input.stories.js
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-input/readme.md
  src/components/calcite-label/calcite-label.scss
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-label/readme.md
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-switch/calcite-switch.scss
  src/components/calcite-switch/calcite-switch.tsx
  src/demos/calcite-button.html
  src/demos/calcite-checkbox.html
  src/demos/calcite-input.html
  src/demos/calcite-switch.html
  src/utils/dom.ts
Labels: breaking change 🚨, component-input, component-label

#686 Update disabled calcite-link handling
  src/components/calcite-link/calcite-link.scss
  src/components/calcite-link/calcite-link.tsx
Labels: component-link

#700 use hydrated attribute rather than class for FOUC prevention
  src/assets/styles/_popper.scss
  src/assets/styles/global.scss
  src/components/calcite-accordion-item/calcite-accordion-item.e2e.ts
  src/components/calcite-accordion/calcite-accordion.e2e.ts
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-alert/calcite-alert.scss
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-checkbox/calcite-checkbox.e2e.ts
  src/components/calcite-dropdown-group/calcite-dropdown-group.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-example/calcite-example.e2e.ts
  src/components/calcite-input-message/calcite-input-message.e2e.ts
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-label/calcite-label.e2e.ts
  src/components/calcite-link/calcite-link.e2e.ts
  src/components/calcite-loader/calcite-loader.e2e.ts
  src/components/calcite-modal/calcite-modal.e2e.ts
  src/components/calcite-notice/calcite-notice.e2e.ts
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-split-button/calcite-split-button.e2e.ts
  src/components/calcite-stepper-item/calcite-stepper-item.e2e.ts
  src/components/calcite-stepper/calcite-stepper.e2e.ts
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-tab-nav/calcite-tab-nav.e2e.ts
  src/components/calcite-tab-title/calcite-tab-title.e2e.ts
  src/components/calcite-tab/calcite-tab.e2e.ts
  src/components/calcite-tabs/calcite-tabs.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/components/calcite-tree/calcite-tree.e2e.ts
  src/tests/commonTests.ts
  src/utils/dom.ts
  stencil.config.ts
Labels: enhancement ✨

#708 Chore. Update text to intl.
  CHANGELOG.md
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-popover/readme.md
  src/components/calcite-popover/resources.ts
Labels: chore 🧹, component-popover

#706 chore(notice): add text attribute for close button
  CHANGELOG.md
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-notice/readme.md
  src/components/calcite-notice/resources.ts
  src/components/calcite-popover/readme.md
  src/components/calcite-popover/resources.ts
Labels: chore 🧹, component-notice

#714 Update readmes / Add calcite-tab child component readmes to Storybook
  src/components/calcite-notice/readme.md
  src/components/calcite-popover/readme.md
  src/components/calcite-tabs/calcite-tabs.stories.js
Labels: component-tabs, docs-storybook 📚

#715 chore(card): rename select event and remove el from event detail
  src/components/calcite-card/calcite-card.tsx
Labels: chore 🧹, component-card

#709 feat(loader): add scale property
  src/components/calcite-loader/calcite-loader.e2e.ts
  src/components/calcite-loader/calcite-loader.scss
  src/components/calcite-loader/calcite-loader.tsx
  src/demos/calcite-loader.html
Labels: chore 🧹, component-loader

#716 [1.0 Cleanup] Tabs
  CHANGELOG.md
  src/components/calcite-card/readme.md
  src/components/calcite-tab-nav/calcite-tab-nav.tsx
  src/components/calcite-tab-title/calcite-tab-title.scss
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tab-title/readme.md
  src/components/calcite-tab/calcite-tab.scss
  src/components/calcite-tab/calcite-tab.tsx
  src/components/calcite-tab/readme.md
  src/components/calcite-tabs/calcite-tabs.e2e.ts
  src/components/calcite-tabs/calcite-tabs.stories.js
  src/demos/calcite-tabs.html
Labels: breaking change 🚨, component-tabs

#717 Docs cleanup for tabs
  src/components/calcite-tabs/readme.md
  src/demos/calcite-tabs.html
  src/index.html
Labels: component-tabs, docs 📓

#719 Fixes button tests for new calcite-hydrated attribute
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-loader/readme.md
Labels: component-button, testing :woman_scientist: :test_tube:

#718 [Loader] Cleanup for isActive -> active prop change
  CHANGELOG.md
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-loader/calcite-loader.e2e.ts
  src/components/calcite-loader/calcite-loader.scss
  src/components/calcite-loader/calcite-loader.stories.js
  src/components/calcite-loader/readme.md
  src/components/calcite-scrim/calcite-scrim.tsx
  src/demos/calcite-loader.html
Labels: breaking change 🚨, component-loader, docs 📓, docs-storybook 📚

#723 chore: fix tests for components
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-example/calcite-example.e2e.ts
  src/components/calcite-radio-group-item/calcite-radio-group-item.tsx
  src/components/calcite-stepper-item/calcite-stepper-item.tsx
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/tests/utils.ts
  src/utils/date.spec.ts
  src/utils/date.ts
Labels: chore 🧹

#724 chore(pagination): remove background style
  src/components/calcite-pagination/calcite-pagination.scss
Labels: component-pagination

#725 chore(switch): add switched to event detail
  CHANGELOG.md
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-switch/calcite-switch.tsx
Labels: component-switch

#728 Tests: Fail on console.error()
  src/tests/commonTests.ts
  src/tests/iconPathDataStub.ts
  src/tests/setup.ts
  src/tests/setupTests.ts
  src/tests/utils.ts
  stencil.config.ts
Labels: chore 🧹

#726 chore(stepper, stepper-item): update event names
  CHANGELOG.md
  src/components/calcite-stepper-item/calcite-stepper-item.tsx
  src/components/calcite-stepper-item/readme.md
  src/components/calcite-stepper/calcite-stepper.tsx
  src/components/calcite-stepper/readme.md
Labels: component-stepper

#729 build(deps): bump versions
  package-lock.json
  package.json
  src/assets/styles/global.scss
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-checkbox/calcite-checkbox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-dropdown-group/calcite-dropdown-group.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-example/calcite-example.e2e.ts
  src/components/calcite-input-message/calcite-input-message.e2e.ts
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-label/calcite-label.e2e.ts
  src/components/calcite-link/calcite-link.e2e.ts
  src/components/calcite-loader/calcite-loader.e2e.ts
  src/components/calcite-modal/calcite-modal.e2e.ts
  src/components/calcite-notice/calcite-notice.e2e.ts
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-split-button/calcite-split-button.e2e.ts
  src/components/calcite-stepper-item/calcite-stepper-item.e2e.ts
  src/components/calcite-stepper/calcite-stepper.e2e.ts
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-tab-nav/calcite-tab-nav.e2e.ts
  src/components/calcite-tab-title/calcite-tab-title.e2e.ts
  src/components/calcite-tab/calcite-tab.e2e.ts
  src/components/calcite-tabs/calcite-tabs.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/components/calcite-tree/calcite-tree.e2e.ts
  src/tests/commonTests.ts
  stencil.config.ts
Labels: chore 🧹

#730 Cleanup Tests: Fix a skipped test and remove example files
  CONTRIBUTING.md
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-example/calcite-example.e2e.ts
  src/components/calcite-example/calcite-example.scss
  src/components/calcite-example/calcite-example.tsx
  src/components/calcite-example/readme.md
Labels: chore 🧹

#736 chore: cleanup dom util for popover/tooltip
  src/components/calcite-popover-manager/calcite-popover-manager.tsx
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
  src/utils/dom.ts
Labels: chore 🧹

#737 style: use proper file name for prettier config
  .prettierrc.json
Labels: chore 🧹

#735 chore: bump stencil to 1.16.3
  package-lock.json
  package.json
  src/assets/styles/global.scss
  src/components/calcite-date-month-header/readme.md
  src/components/calcite-popover/readme.md
  src/components/calcite-stepper-item/readme.md
  src/components/calcite-stepper/readme.md
  src/components/calcite-switch/readme.md
  stencil.config.ts
Labels: chore 🧹

#742 Alert updates
  CHANGELOG.md
  src/assets/demo/createAlert.js
  src/components/calcite-accordion/readme.md
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-alert/calcite-alert.resources.ts
  src/components/calcite-alert/calcite-alert.scss
  src/components/calcite-alert/calcite-alert.stories.js
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-alert/readme.md
  src/components/calcite-dropdown/readme.md
  src/components/calcite-modal/readme.md
  src/components/calcite-popover/readme.md
  src/components/calcite-stepper/readme.md
  src/demos/calcite-alert.html
Labels: breaking change 🚨, component-alert

#759 fix(tabs): fix invalid aria attribute
  src/components/calcite-tab/calcite-tab.tsx
  src/components/calcite-tabs/calcite-tabs.e2e.ts
Labels: accessibility, component-tabs

#764 #751 prevent tooltip-manager selector conflicting with popover-manage…
  src/components/calcite-popover/resources.ts
Labels: bug 🐞, component-popover

#765 test(color): remove border dependency from color sampling test
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-color/calcite-color.tsx
Labels: refactor, testing :woman_scientist: :test_tube:

#766 chore: add GitHub issue/PR templates
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/new-component.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/research.md
  .github/ISSUE_TEMPLATE/tooling.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/stale.yml
Labels: chore 🧹

#770 chore(storybook): move storybook setup to TypeScript
  .npmrc
  .storybook/addons.js
  .storybook/config.js
  .storybook/declarations.d.ts
  .storybook/helpers.ts
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.ts
  .storybook/resources.ts
  .storybook/theme.js
  .storybook/theme.ts
  .storybook/utils.ts
  .storybook/webpack.config.ts
  package-lock.json
  package.json
  prerender.config.js
  prerender.config.ts
  src/components/calcite-accordion/calcite-accordion.stories.ts
  src/components/calcite-alert/calcite-alert.stories.ts
  src/components/calcite-button/calcite-button.stories.ts
  src/components/calcite-card/calcite-card.stories.ts
  src/components/calcite-checkbox/calcite-checkbox.stories.ts
  src/components/calcite-chip/calcite-chip.stories.ts
  src/components/calcite-color/calcite-color.stories.ts
  src/components/calcite-combobox/calcite-combobox.stories.ts
  src/components/calcite-date/calcite-date.stories.ts
  src/components/calcite-dropdown/calcite-dropdown.stories.ts
  src/components/calcite-icon/calcite-icon.stories.ts
  src/components/calcite-input/calcite-input.stories.ts
  src/components/calcite-label/calcite-label.stories.ts
  src/components/calcite-link/calcite-link.stories.ts
  src/components/calcite-loader/calcite-loader.stories.ts
  src/components/calcite-modal/calcite-modal.stories.ts
  src/components/calcite-notice/calcite-notice.stories.ts
  src/components/calcite-pagination/calcite-pagination.stories.ts
  src/components/calcite-popover/calcite-popover.stories.ts
  src/components/calcite-progress/calcite-progress.stories.js
  src/components/calcite-progress/calcite-progress.stories.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.stories.ts
  src/components/calcite-radio-button/calcite-radio-button.stories.ts
  src/components/calcite-radio-group/calcite-radio-group.stories.ts
  src/components/calcite-scrim/calcite-scrim.stories.ts
  src/components/calcite-slider/calcite-slider.stories.js
  src/components/calcite-slider/calcite-slider.stories.ts
  src/components/calcite-split-button/calcite-split-button.stories.ts
  src/components/calcite-stepper/calcite-stepper.stories.ts
  src/components/calcite-switch/calcite-switch.stories.ts
  src/components/calcite-tabs/calcite-tabs.stories.ts
  src/components/calcite-tooltip/calcite-tooltip.stories.ts
  src/components/calcite-tree/calcite-tree.stories.ts
  tsconfig-base.json
  tsconfig-storybook.json
  tsconfig.json
Labels: chore 🧹

#773 chore: add info about conventional commits to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore 🧹

#775 build(deps): move @types/color as a dependency so the public types resolve properly
  package-lock.json
  package.json
Labels: chore 🧹, component-color, dependencies

#776 feat(color): add appearance property to support embedded use cases
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-color/calcite-color.scss
  src/components/calcite-color/calcite-color.tsx
  src/components/calcite-color/resources.ts
Labels: component-color, enhancement ✨

#777 fix(radio-group): Fix for label alignment
  src/components/calcite-label/calcite-label.scss
Labels: component-label, component-radio-group

#774 fix: Restore dropdown support for multiple triggers
  CHANGELOG.md
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/demos/calcite-dropdown.html
Labels: component-dropdown, enhancement ✨

#780 chore: remove lingering build output folder from previous release
  hydrate/index.d.ts
  hydrate/index.js
  hydrate/package.json
Labels: chore 🧹

#784 ci: enable Travis CI
  .travis.yml
Labels: testing :woman_scientist: :test_tube:

#785 test(color): update color test
  src/components/calcite-color/calcite-color.e2e.ts
Labels: component-color, testing :woman_scientist: :test_tube:

#790 build(linting): enable eslint, tslint and stylelint
  .eslintrc.json
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-accordion/calcite-accordion.tsx
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-chip/calcite-chip.tsx
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-color/calcite-color.tsx
  src/components/calcite-color/utils.ts
  src/components/calcite-combobox-item/calcite-combobox-item.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-date-day/calcite-date-day.tsx
  src/components/calcite-date-month-header/calcite-date-month-header.tsx
  src/components/calcite-date-month/calcite-date-month.tsx
  src/components/calcite-date/calcite-date.tsx
  src/components/calcite-dropdown-group/calcite-dropdown-group.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-graph/calcite-graph.e2e.ts
  src/components/calcite-graph/calcite-graph.tsx
  src/components/calcite-icon/calcite-icon.e2e.ts
  src/components/calcite-icon/calcite-icon.tsx
  src/components/calcite-input-message/calcite-input-message.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-link/calcite-link.tsx
  src/components/calcite-loader/calcite-loader.tsx
  src/components/calcite-modal/calcite-modal.tsx
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-pagination/calcite-pagination.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-progress/calcite-progress.tsx
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.tsx
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-group-item/calcite-radio-group-item.tsx
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-split-button/calcite-split-button.tsx
  src/components/calcite-stepper-item/calcite-stepper-item.tsx
  src/components/calcite-stepper/calcite-stepper.tsx
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-tab-nav/calcite-tab-nav.tsx
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tab/calcite-tab.tsx
  src/components/calcite-tabs/calcite-tabs.tsx
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.tsx
  src/utils/date.spec.ts
  src/utils/guid.ts
  src/utils/locale.ts
  support/preact.ts
Labels: chore 🧹, tooling 🛠️

#793 fix(storybook): fix stepper storybook
  src/components/calcite-popover/readme.md
  src/components/calcite-stepper/calcite-stepper.stories.ts
Labels: component-stepper, docs-storybook 📚

#795 build(linting): restore eslint rules
  .eslintrc.json
  package.json
  src/components/calcite-accordion/calcite-accordion.tsx
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-card/resources.ts
  src/components/calcite-chip/calcite-chip.tsx
  src/components/calcite-color-hex-input/calcite-color-hex-input.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-input-message/calcite-input-message.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-link/calcite-link.tsx
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-scrim/calcite-scrim.tsx
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-split-button/calcite-split-button.tsx
  src/components/calcite-stepper-item/calcite-stepper-item.tsx
  src/components/calcite-stepper/calcite-stepper.tsx
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tab/calcite-tab.tsx
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.tsx
Labels: chore 🧹, refactor

#798 Document that you can pass additional attributes like target and type to <calcite-button>
  src/components/calcite-button/usage/internals.md
Labels: component-button, docs 📓

#800 style: fix linting errors
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-tile-select/calcite-tile-select.tsx
  src/components/calcite-tile/calcite-tile.tsx
Labels: chore 🧹

#802 fix(panel): remove slot-container and associated styles
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
Labels: 1 - assigned
