Repository Esri/calcite-design-system, pull requests merged in 2021-03, with the labels that each got.

#1644 refactor: clear timeouts on components
  conventions/README.md
  src/components/calcite-action-menu/calcite-action-menu.tsx
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-modal/calcite-modal.tsx
Labels: 1 - assigned, refactor

#1645 build: update teams channel connector
  .travis.yml
  TRAVIS_WEBHOOK_README.md
Labels: 1 - assigned

#1523 chore!: hide internal styling props
  conventions/README.md
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio/calcite-radio.tsx
  src/components/calcite-tile/calcite-tile.tsx
Labels: chore

#1635 feat(combobox, combobox-item, combobox-item-group): Add CalciteComboboxItemGroup
  src/components/calcite-combobox-item-group/calcite-combobox-item-group.scss
  src/components/calcite-combobox-item-group/calcite-combobox-item-group.tsx
  src/components/calcite-combobox-item-group/readme.md
  src/components/calcite-combobox-item-group/resources.ts
  src/components/calcite-combobox-item/calcite-combobox-item.tsx
  src/components/calcite-combobox-item/readme.md
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-combobox/interfaces.ts
  src/components/calcite-combobox/resources.ts
  src/components/calcite-combobox/utils.ts
  src/demos/calcite-combobox.html
  stencil.config.ts
Labels: 1 - assigned, enhancement

#1675 fix(shell): content layout when not content-behind
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell/calcite-shell.e2e.ts
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/readme.md
Labels: 1 - assigned

#1517 docs: doc public events
  conventions/README.md
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-accordion/calcite-accordion.tsx
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-color-picker/calcite-color-picker.tsx
  src/components/calcite-combobox-item/calcite-combobox-item.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-date-picker-day/calcite-date-picker-day.tsx
  src/components/calcite-date-picker-month/calcite-date-picker-month.tsx
  src/components/calcite-dropdown-group/calcite-dropdown-group.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-handle/calcite-handle.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-radio-button-group/calcite-radio-button-group.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-group-item/calcite-radio-group-item.tsx
  src/components/calcite-rating/calcite-rating.tsx
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-stepper-item/calcite-stepper-item.tsx
  src/components/calcite-stepper/calcite-stepper.tsx
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Labels: docs

#1639 feat(block, panel, pick-list-group, tip, tip-manager): Add 'headingLevel' property
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/components/calcite-date-picker-month-header/calcite-date-picker-month-header.tsx
  src/components/calcite-date-picker/calcite-date-picker.e2e.ts
  src/components/calcite-date-picker/calcite-date-picker.tsx
  src/components/calcite-date-picker/resources.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-group/resources.ts
  src/components/calcite-tip-manager/calcite-tip-manager.e2e.ts
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tip-manager/resources.ts
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tip/resources.ts
  src/components/functional/CalciteHeading.spec.tsx
  src/components/functional/CalciteHeading.tsx
Labels: 1 - assigned, a11y, architecture, design, discussion

#1714 fix(input-date-picker): removes max-widths
  src/components/calcite-input-date-picker/calcite-input-date-picker.scss
Labels: 1 - assigned

#1723 fix(filter): Escape filter value
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/utils/filter.ts
Labels: 1 - assigned, bug

#1724 refactor(combobox): Match dismissed chip by combobox item
  src/components/calcite-combobox/calcite-combobox.tsx
Labels: 1 - assigned

#1725 fix(pick-list, value-list): fix keyboard navigation after filtering
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
Labels: bug

#1735 fix: Theme is no longer set by default.
  src/components/calcite-avatar/calcite-avatar.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-color-picker-hex-input/calcite-color-picker-hex-input.e2e.ts
  src/components/calcite-color-picker-hex-input/calcite-color-picker-hex-input.tsx
  src/components/calcite-color-picker-swatch/calcite-color-picker-swatch.tsx
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-color-picker/calcite-color-picker.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.tsx
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio/calcite-radio.e2e.ts
  src/components/calcite-radio/calcite-radio.tsx
  src/components/calcite-select/calcite-select.tsx
  src/components/calcite-tile-select/calcite-tile-select.e2e.ts
  src/components/calcite-tile-select/calcite-tile-select.tsx
  src/components/calcite-tile/calcite-tile.e2e.ts
  src/components/calcite-tile/calcite-tile.tsx
  src/components/calcite-tree/calcite-tree.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  src/demos/calcite-color-picker.html
  src/demos/calcite-color.html
  src/index.html
  src/utils/dom.ts
Labels: 1 - assigned

#1742 fix(shell): adds unique keys for content node. adds related e2e tests
  src/components/calcite-shell/calcite-shell.e2e.ts
  src/components/calcite-shell/calcite-shell.tsx
Labels: 1 - assigned

#1743 fix(input, label): Removing disabled prop should also updated slotted elements.
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-radio-group-item/calcite-radio-group-item.tsx
Labels: 1 - assigned

#1744 fix(rating): Fix wrapper display.
  src/components/calcite-rating/calcite-rating.scss
Labels: 1 - assigned

#1751 feat(date-picker, input-date-picker): Add 'minAsDate' and 'maxAsDate' props
  src/components/calcite-date-picker/calcite-date-picker.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/demos/calcite-date-picker.html
  src/demos/calcite-input-date-picker.html
Labels: 1 - assigned

#1754 fix(shell): simplifies content render removes center-row conditional
  src/components/calcite-shell/calcite-shell.tsx
  src/demos/shell/demo-app-advanced-center-row-async.html
Labels: 1 - assigned, bug

#1761 feat(dropdown)!: Replace alignment property with position property.
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.stories.ts
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-dropdown/interfaces.ts
  src/components/calcite-dropdown/resources.ts
  src/components/calcite-popover/calcite-popover.stories.ts
  src/components/calcite-split-button/calcite-split-button.tsx
  src/demos/calcite-dropdown.html
  src/utils/popper.spec.ts
  src/utils/popper.ts
Labels: 1 - assigned, architecture

#1762 feat(filter): clear text on Escape
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
Labels: a11y, enhancement

#1763 chore: fine-tune codeowners
  CODEOWNERS
Labels: chore

#1509 docs(storybook): prevent internal attributes from being rendered in HTML preview
  .storybook/manager.ts
  package-lock.json
  package.json
Labels: docs

#1448 chore(linting): enable curly rule
  .eslintrc.json
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-accordion/calcite-accordion.tsx
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-combobox/interfaces.ts
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.scss
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-stepper-item/calcite-stepper-item.tsx
  src/components/calcite-stepper/calcite-stepper.tsx
  src/components/calcite-switch/calcite-switch.tsx
  src/utils/dom.ts
Labels: chore

#1783 docs: Update storybook to remove 'app' section, add 'theming' section and organize stories.
  src/6-custom-theme.stories.mdx
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-fab/calcite-fab.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Labels: docs

#1791 fix(shell-panel): adds divs to provide accurate height calculations for slotted content
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/resources.ts
  src/demos/shell/block-configurations.html
Labels: 1 - assigned, bug

#1798 fix(popover, panel)!: image slot removed and sizing styles updated
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-popover/calcite-popover.scss
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-popover/readme.md
  src/demos/shell/block-configurations.html
Labels: 1 - assigned, bug

#1807 docs: Update browser support table
  readme.md
Labels: docs

#1811 feat(action-group, action): add grid layout to action-group. add center layout to action
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-group/calcite-action-group.tsx
  src/components/calcite-action-group/readme.md
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-action/readme.md
  src/components/interfaces.ts
  src/demos/shell/block-configurations.html
Labels: 1 - assigned, enhancement

#1827 feat(combobox, input-date-picker): Use new placements that flip in RTL.
  src/components/calcite-combobox/resources.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
Labels: 1 - assigned

#1832 build(deps): bump versions
  package-lock.json
  package.json
Labels: 1 - assigned

#1833 feat(input): add minLength/maxLength props
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Labels: enhancement

#1834 docs(modal): fix 'none' option values for modal color attribute
  src/components/calcite-modal/calcite-modal.stories.ts
Labels: docs

#1812 fix(tip): Hide tip when dismissed.
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tip/calcite-tip.tsx
Labels: 1 - assigned

#1840 fix(action): reset line-height
  src/components/calcite-action/calcite-action.scss
Labels: 1 - assigned

#1837 fix(filter): keep focus on filter after clearing text via mouse
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
Labels: bug

#1843 fix(input): only emit input event on user interaction
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Labels: bug

#1839 docs: correcting misspelling
  CONTRIBUTING.md
Labels: docs

#1861 feat(panel, shell-panel): add width base unit at root level
  src/assets/styles/global.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
Labels: 1 - assigned

#1866 fix(select): fix rendering of options for mobile
  src/components/calcite-select/calcite-select.tsx
Labels: bug

#1848 fix(fab): Fix native tooltip display.
  src/components/calcite-fab/calcite-fab.e2e.ts
  src/components/calcite-fab/calcite-fab.tsx
Labels: 1 - assigned

#1841 refactor(action-bar, action-pad)!: Replace 'tooltipExpand' properties with 'expand-tooltip' slots
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/resources.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-action-pad/resources.ts
  src/demos/action-bar/basic.html
  src/demos/action-pad/basic.html
Labels: 1 - assigned

#1877 test(combobox): skip unstable combobox test.
  src/components/calcite-combobox/calcite-combobox.e2e.ts
Labels: testing

#1868 fix(color-picker): prevent invalid chars from being entered when hex input text is selected
  src/components/calcite-color-picker-hex-input/calcite-color-picker-hex-input.e2e.ts
  src/components/calcite-color-picker-hex-input/calcite-color-picker-hex-input.tsx
  src/components/calcite-color-picker/utils.ts
Labels: bug

#1878 fix(option): fix mutation observer options used to track content changes
  src/components/calcite-option/calcite-option.e2e.ts
  src/components/calcite-option/calcite-option.tsx
Labels: bug
