Repository Esri/calcite-design-system, pull requests merged in 2021-01, with the labels that each got.

#1436 fix(fab)!: default scale property to medium (m). #1427
  src/components/calcite-fab/calcite-fab.e2e.ts
  src/components/calcite-fab/calcite-fab.tsx
Labels: 1 - assigned

#1357 docs: create SECURITY.md
  SECURITY.md
Labels: 1 - assigned

#1441 fix(select): handle case where mutation observer fires before internal select is stored
  src/components/calcite-select/calcite-select.tsx
Labels: bug

#1439 feat(color): allow setting color value format
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-color/calcite-color.tsx
  src/components/calcite-color/utils.ts
Labels: enhancement

#1446 docs(storybook): add html preview tab
  .storybook/main.ts
  package-lock.json
  package.json
Labels: docs

#1447 chore(tests): remove unnecessary await for sync methods
  src/components/calcite-graph/calcite-graph.e2e.ts
  src/components/calcite-icon/calcite-icon.e2e.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/components/calcite-radio-group-item/calcite-radio-group-item.e2e.ts
  src/components/calcite-radio-group/calcite-radio-group.e2e.ts
  src/components/calcite-rating/calcite-rating.e2e.ts
Labels: chore, testing

#1452 test(dropdown): type promise
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
Labels: chore, testing

#1451 fix(dropdown): use handler event argument
  src/components/calcite-dropdown/calcite-dropdown.tsx
Labels: bug

#1455 build: move @stencil/core as a dependency for custom-elements output
  package-lock.json
  package.json
Labels: dependencies

#1456 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore

#1457 feat: unify all assets in distributable output
  conventions/README.md
  package.json
  src/components/calcite-date/assets/calcite-date/ar.json
  src/components/calcite-date/assets/calcite-date/bs.json
  src/components/calcite-date/assets/calcite-date/ca.json
  src/components/calcite-date/assets/calcite-date/cs.json
  src/components/calcite-date/assets/calcite-date/da.json
  src/components/calcite-date/assets/calcite-date/de-CH.json
  src/components/calcite-date/assets/calcite-date/de.json
  src/components/calcite-date/assets/calcite-date/el.json
  src/components/calcite-date/assets/calcite-date/en-AU.json
  src/components/calcite-date/assets/calcite-date/en-CA.json
  src/components/calcite-date/assets/calcite-date/en-GB.json
  src/components/calcite-date/assets/calcite-date/en.json
  src/components/calcite-date/assets/calcite-date/es-MX.json
  src/components/calcite-date/assets/calcite-date/es.json
  src/components/calcite-date/assets/calcite-date/et.json
  src/components/calcite-date/assets/calcite-date/fi.json
  src/components/calcite-date/assets/calcite-date/fr-CH.json
  src/components/calcite-date/assets/calcite-date/fr.json
  src/components/calcite-date/assets/calcite-date/he.json
  src/components/calcite-date/assets/calcite-date/hi.json
  src/components/calcite-date/assets/calcite-date/hr.json
  src/components/calcite-date/assets/calcite-date/hu.json
  src/components/calcite-date/assets/calcite-date/id.json
  src/components/calcite-date/assets/calcite-date/it-CH.json
  src/components/calcite-date/assets/calcite-date/it.json
  src/components/calcite-date/assets/calcite-date/ja.json
  src/components/calcite-date/assets/calcite-date/ko.json
  src/components/calcite-date/assets/calcite-date/lt.json
  src/components/calcite-date/assets/calcite-date/lv.json
  src/components/calcite-date/assets/calcite-date/mk.json
  src/components/calcite-date/assets/calcite-date/nb.json
  src/components/calcite-date/assets/calcite-date/nl.json
  src/components/calcite-date/assets/calcite-date/pl.json
  src/components/calcite-date/assets/calcite-date/pt-PT.json
  src/components/calcite-date/assets/calcite-date/pt.json
  src/components/calcite-date/assets/calcite-date/ro.json
  src/components/calcite-date/assets/calcite-date/ru.json
  src/components/calcite-date/assets/calcite-date/sk.json
  src/components/calcite-date/assets/calcite-date/sl.json
  src/components/calcite-date/assets/calcite-date/sr.json
  src/components/calcite-date/assets/calcite-date/sv.json
  src/components/calcite-date/assets/calcite-date/th.json
  src/components/calcite-date/assets/calcite-date/tr.json
  src/components/calcite-date/assets/calcite-date/uk.json
  src/components/calcite-date/assets/calcite-date/vi.json
  src/components/calcite-date/assets/calcite-date/zh-CN.json
  src/components/calcite-date/assets/calcite-date/zh-HK.json
  src/components/calcite-date/assets/calcite-date/zh-TW.json
  src/components/calcite-date/calcite-date.tsx
  src/components/calcite-date/utils.ts
  src/components/calcite-icon/calcite-icon.tsx
  src/components/calcite-icon/utils.ts
  src/utils/date.spec.ts
Labels: enhancement

#1415 refactor: tailwind configuration
  SECURITY.md
  src/assets/styles/_animation.scss
  src/assets/styles/_focus.scss
  src/assets/styles/_header.scss
  src/assets/styles/_host.scss
  src/assets/styles/_layout.scss
  src/assets/styles/_shadow.scss
  src/assets/styles/_shadowBorder.scss
  src/assets/styles/_spacing.scss
  src/assets/styles/_type.scss
  src/assets/styles/global.scss
  src/assets/styles/includes.scss
  src/assets/styles/readme.md
  src/components/calcite-action-bar/calcite-action-bar.scss
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action-pad/calcite-action-pad.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-combobox-item/calcite-combobox-item.scss
  src/components/calcite-date-day/calcite-date-day.scss
  src/components/calcite-date/calcite-date.scss
  src/components/calcite-fab/calcite-fab.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-flow/calcite-flow.scss
  src/components/calcite-handle/calcite-handle.scss
  src/components/calcite-modal/calcite-modal.scss
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-pick-list-group/calcite-pick-list-group.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list/calcite-pick-list.scss
  src/components/calcite-select/calcite-select.scss
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell/calcite-shell.scss
  src/components/calcite-tile-select/calcite-tile-select.scss
  src/components/calcite-tip-group/calcite-tip-group.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-value-list-item/calcite-value-list-item.scss
  src/components/calcite-value-list/calcite-value-list.scss
  src/demos/_assets/demos.css
  tailwind.config.js
Labels: 1 - assigned, p - high, refactor

#1391 refactor(calcite-dropdown): miscellaneous changes in response to review
  package-lock.json
  src/components/calcite-date/calcite-date.stories.ts
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.tsx
Labels: refactor

#1463 docs: correcting grammar in event details section of conventions
  conventions/README.md
Labels: docs

#1465 chore: exclude unrelated component code from dist
  .gitignore
  src/assets/demo/loadingButton.js
  src/assets/demo/validateInput.js
  src/demos/_assets/createAlert.ts
  src/demos/_assets/demo-form.ts
  src/demos/_assets/demo-spacer.ts
  src/demos/_assets/loadingButton.ts
  src/demos/_assets/validateInput.ts
  src/demos/calcite-alert.html
  src/demos/calcite-avatar.html
  src/demos/calcite-button.html
  src/demos/calcite-card.html
  src/demos/calcite-checkbox.html
  src/demos/calcite-input.html
  src/demos/calcite-label.html
  src/demos/calcite-link.html
  src/demos/calcite-radio-button-group-rtl.html
  src/demos/calcite-radio-button-group.html
  src/demos/calcite-radio-button-rtl.html
  src/demos/calcite-radio-button.html
  src/demos/calcite-slider.html
  src/demos/calcite-tile-select.html
  src/demos/calcite-tile.html
  tsconfig-demos.json
  tsconfig.json
Labels: chore

#1480 fix(date-picker): Update placeholder text for all languages (#1265)
  src/components/calcite-date-picker-month-header/calcite-date-picker-month-header.e2e.ts
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/ar.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/bs.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/ca.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/cs.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/da.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/de-CH.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/de.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/el.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/en-AU.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/en-CA.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/en-GB.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/en.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/es-MX.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/es.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/et.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/fi.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/fr-CH.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/fr.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/he.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/hi.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/hr.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/hu.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/id.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/it-CH.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/it.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/ja.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/ko.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/lt.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/lv.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/mk.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/nb.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/nl.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/pl.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/pt-PT.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/pt.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/ro.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/ru.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/sk.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/sl.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/sr.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/sv.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/th.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/tr.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/uk.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/vi.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/zh-CN.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/zh-HK.json
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/zh-TW.json
  src/utils/date.spec.ts
Labels: bug

#1489 build(deps): bump versions
  package-lock.json
  package.json
  src/components/calcite-color/calcite-color.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
  src/tests/commonTests.ts
Labels: chore

#1492 fix(deps): move runtime deps to dependencies
  package-lock.json
  package.json
Labels: bug
