Repository Esri/calcite-design-system, pull requests merged in 2021-11, with the labels that each got.

#3377 test: ensure for...of is used to await on loops
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
Labels: testing

#3393 chore: remove title from issue templates
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/new-component.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/refactor.md
  .github/ISSUE_TEMPLATE/research.md
  .github/ISSUE_TEMPLATE/tooling.md
Labels: chore

#3320 refactor(slider, loader): prevent Sass deprecation warnings from being thrown on start
  src/components/calcite-loader/calcite-loader.scss
  src/components/calcite-slider/calcite-slider.scss
Labels: refactor

#3330 fix(panel, block): align panel header and block header x-spacing
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-panel/calcite-panel.scss
Labels: bug

#3416 ci: use environment variable to set Screener API key
  .github/workflows/pr-screener.yml
Labels: chore

#3415 test(action): adding a default story so that it shows up in the deployed Storybook
  src/components/calcite-action/calcite-action.stories.ts
Labels: testing

#3302 test(slider): add e2e test to verify maxValue capped to max prop
  src/components/calcite-slider/calcite-slider.e2e.ts
Labels: testing

#3400 fix(switch): ensure checked/switched are in sync if either is set initially
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-switch/calcite-switch.tsx
Labels: bug

#3408 refactor(label): remove unnecessary E2E helper
  src/components/calcite-label/calcite-label.e2e.ts
Labels: refactor

#3409 chore: remove irrelevant test code from from input demo page
  src/demos/calcite-input.html
Labels: chore

#3419 build(ci): add commit sha to screener run
  .github/workflows/pr-screener.yml
  screener.config.js
Labels: chore

#3370 fix(loader): alter loader styling to prevent no padding prop from overlapping #2145
  src/components/calcite-loader/calcite-loader.scss
  src/components/calcite-loader/calcite-loader.stories.ts
Labels: bug

#3386 fix(card): fix focusing behavior when clicking on a checkbox label
  src/components/calcite-card/calcite-card.e2e.ts
  src/components/calcite-card/calcite-card.tsx
Labels: bug

#3361 fix(tile): adjust the heading styling to be word wrapped including long string texts #3215
  src/components/calcite-tile-select-group/calcite-tile-select-group.stories.ts
  src/components/calcite-tile/calcite-tile.scss
Labels: bug

#3340 fix(input): number input controls now increment/decrement in a unifor…
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Labels: bug, 2 - in development

#3396 refactor(input): enterKeyHint prop naming convention
  src/components/calcite-input/calcite-input.tsx
Labels: refactor

#3432 refactor(filter): Add value property to set a filter.
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
Labels: enhancement

#3433 fix(combobox): Do not open dropdown when clicking on chip dismiss button
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
Labels: bug

#3424 fix(label): avoid associating labels to nested labelable components
  src/components/calcite-tile-select/calcite-tile-select.e2e.ts
  src/utils/label.spec.ts
  src/utils/label.ts
Labels: bug

#3382 feat(input): add inputmode property to specify mobile keyboard display
  src/components/calcite-input/calcite-input.tsx
Labels: enhancement

#3411 chore: simplify demo page setup
  src/demos/_assets/createAlert.ts
  src/demos/_assets/demoPageReloader.ts
  src/demos/_assets/head.ts
  src/demos/_assets/loadingButton.ts
  src/demos/_assets/locales.ts
  src/demos/_assets/validateInput.ts
  src/demos/calcite-alert.html
  src/demos/calcite-avatar.html
  src/demos/calcite-button.html
  src/demos/calcite-card.html
  src/demos/calcite-input.html
  src/demos/calcite-label.html
  src/demos/calcite-link.html
  support/demoPageSync.ts
Labels: chore

#3410 build(deps): remove unnecessary stylelint-scss as it is already bundled by stylelint-config-recommended-scss
  package.json
Labels: chore

#3445 refactor(filter): apply filter when data changes
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
Labels: refactor

#3399 fix(color-picker): avoid input/change events from firing when initializing color/value
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-color-picker/calcite-color-picker.tsx
Labels: bug

#3266 fix(tree-item): ensure items are visible when appended to expanded parent item
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.tsx
Labels: bug

#3444 chore(ci): add github action to auto merge branches when commenting in a PR
  .github/workflows/pr-merge.yml
Labels: chore

#3449 feat(filter): add filter component
  src/components/calcite-filter/calcite-filter.e2e.ts
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-filter/resources.ts
Labels: enhancement

#3461 test(select): drop redundant test
  src/components/calcite-select/calcite-select.e2e.ts
Labels: testing

#3464 docs(changelog): add missing switch entry from beta 67
  CHANGELOG.md
Labels: docs

#3447 chore(storybook): address migration warnings
  .storybook/utils.tsx
  src/1-introduction.stories.mdx
  src/2-contributing.stories.mdx
  src/3-conventions.stories.mdx
  src/4-code-of-conduct.stories.mdx
  src/5-licensing.stories.mdx
  src/6-custom-theme.stories.mdx
  src/7-faq.stories.mdx
  src/components/calcite-accordion/calcite-accordion.stories.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-alert/calcite-alert.stories.ts
  src/components/calcite-avatar/calcite-avatar.stories.ts
  src/components/calcite-button/calcite-button.stories.ts
  src/components/calcite-card/calcite-card.stories.ts
  src/components/calcite-checkbox/calcite-checkbox.stories.ts
  src/components/calcite-chip/calcite-chip.stories.ts
  src/components/calcite-color-picker/calcite-color-picker.stories.ts
  src/components/calcite-combobox/calcite-combobox.stories.ts
  src/components/calcite-date-picker/calcite-date-picker.stories.ts
  src/components/calcite-dropdown/calcite-dropdown.stories.ts
  src/components/calcite-fab/calcite-fab.stories.ts
  src/components/calcite-inline-editable/calcite-inline-editable.stories.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.stories.ts
  src/components/calcite-input-time-picker/calcite-input-time-picker.stories.ts
  src/components/calcite-input/calcite-input.stories.ts
  src/components/calcite-label/calcite-label.stories.ts
  src/components/calcite-link/calcite-link.stories.ts
  src/components/calcite-list/calcite-list.stories.ts
  src/components/calcite-loader/calcite-loader.stories.ts
  src/components/calcite-modal/calcite-modal.stories.ts
  src/components/calcite-notice/calcite-notice.stories.ts
  src/components/calcite-pagination/calcite-pagination.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-progress/calcite-progress.stories.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.stories.ts
  src/components/calcite-radio-button/calcite-radio-button.stories.ts
  src/components/calcite-radio-group/calcite-radio-group.stories.ts
  src/components/calcite-rating/calcite-rating.stories.ts
  src/components/calcite-scrim/calcite-scrim.stories.ts
  src/components/calcite-slider/calcite-slider.stories.ts
  src/components/calcite-split-button/calcite-split-button.stories.ts
  src/components/calcite-stepper/calcite-stepper.stories.ts
  src/components/calcite-switch/calcite-switch.stories.ts
  src/components/calcite-tabs/calcite-tabs.stories.ts
  src/components/calcite-tile-select-group/calcite-tile-select-group.stories.ts
  src/components/calcite-tile-select/calcite-tile-select.stories.ts
  src/components/calcite-tile/calcite-tile.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-tree/calcite-tree.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Labels: chore

#2777 refactor: convert scoped components to shadowed
  src/assets/styles/includes.scss
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-checkbox/calcite-checkbox.e2e.ts
  src/components/calcite-checkbox/calcite-checkbox.scss
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-color-picker-hex-input/calcite-color-picker-hex-input.e2e.ts
  src/components/calcite-color-picker-hex-input/calcite-color-picker-hex-input.tsx
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.scss
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-date-picker/calcite-date-picker.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.scss
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-inline-editable/resources.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.e2e.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.scss
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-input-time-picker/calcite-input-time-picker.e2e.ts
  src/components/calcite-input-time-picker/calcite-input-time-picker.scss
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-input/resources.ts
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-pick-list/shared-list-tests.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.scss
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-button/resources.ts
  src/components/calcite-radio-group/calcite-radio-group.e2e.ts
  src/components/calcite-radio-group/calcite-radio-group.scss
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-rating/calcite-rating.e2e.ts
  src/components/calcite-rating/calcite-rating.scss
  src/components/calcite-rating/calcite-rating.tsx
  src/components/calcite-select/calcite-select.e2e.ts
  src/components/calcite-select/calcite-select.scss
  src/components/calcite-select/calcite-select.tsx
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-switch/calcite-switch.scss
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-tile-select/calcite-tile-select.e2e.ts
  src/components/calcite-tile-select/calcite-tile-select.tsx
  src/demos/form.html
  src/tests/commonTests.ts
  src/utils/form.ts
  src/utils/form.tsx
Labels: refactor, 1 - assigned

#3467 chore(ci): move logging to help troubleshoot next script
  support/deployNextFromCI.ts
  support/prepReleaseCommit.ts
Labels: chore

#3469 chore(ci): add user information to next deploy script and refactor conditionals
  support/deployNextFromCI.ts
Labels: chore

#3468 build(deps): bump versions
  package-lock.json
Labels: chore

#3470 chore(ci): log tags and add noVerify to commit on next release script
  support/prepReleaseCommit.ts
Labels: chore

#3478 chore(ci): fix github action push issue on protected branch
  .github/workflows/deploy-next.yml
  support/deployNextFromCI.ts
Labels: chore

#3481 feat(list-item): add padding when there is only a label or only a description
  src/components/calcite-list-item/calcite-list-item.scss
  src/components/calcite-list/calcite-list.stories.ts
Labels: enhancement, design, 1 - assigned

#3413 fix(panel): get the fab slot to have more spacing on firefox #3236
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.scss
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-panel/resources.ts
Labels: bug

#3452 fix(slider): set the current min/max to the provided values to keep histogram range updated #2914
  src/components/calcite-graph/calcite-graph.tsx
  src/components/calcite-slider/calcite-slider.tsx
Labels: bug

#3490 fix(block): heading and summary now align in RTL
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
Labels: bug

#3497 chore: update package-lock.json to version 2
  package-lock.json
Labels: chore

#3499 build: ensure build script arguments are passed through
  package.json
Labels: chore

#3395 fix(tab): add scroll to tab content #3389
  src/components/calcite-tab/calcite-tab.scss
  src/components/calcite-tabs/calcite-tabs.stories.ts
Labels: bug

#3502 fix: remove quotes from generic font families
  src/assets/styles/_type.scss
Labels: bug

#3506 chore(ci): use the same bot account for all actions
  .github/workflows/pr-merge.yml
  support/deployNextFromCI.ts
Labels: chore

#3507 chore(ci): use admin token to fix stalling pr checks
  .github/workflows/pr-merge.yml
  .github/workflows/update-browserslist-db.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-doc.yml
Labels: chore

#3514 chore(ci): allow users to run merge action in prs created by bot
  .github/workflows/pr-merge.yml
Labels: chore

#3512 chore(ci): bump node versions to latest lts in gh actions
  .github/workflows/update-deps.yml
  .github/workflows/update-doc.yml
Labels: chore

#3517 chore: use lts/* to generate package lock
  package-lock.json
Labels: docs

#3511 fix(accordion-item): clicking on an accordion with selection-mode=single no longer toggles unrelated accordions with the same selection mode
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-accordion/calcite-accordion.e2e.ts
Labels: bug

#3237 refactor(tree-item): limit padding-y CSS var to top/bottom spacing, remove end indentation
  src/components/calcite-tree-item/calcite-tree-item.scss
Labels: refactor

#3528 feat(input): add calciteInputChange event
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-input/readme.md
  src/components/calcite-input/usage/Native-events.md
Labels: enhancement

#3527 fix(input): prevent default behavior of cursor jumping to the beginning of input, match rate of native input type=number (100ms)
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Labels: bug

#3532 fix: fix build on windows (#2697)
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
  src/components/calcite-value-list-item/calcite-value-list-item.e2e.ts
Labels: bug

#3504 docs(contributing): fix broken email links and remove Julio
  CONTRIBUTING.md
Labels: docs

#3534 docs: update component READMEs
  src/components/calcite-input/readme.md
Labels: docs

#3539 chore(storybook): streamline storybook setup
  .storybook/main.ts
  .storybook/webpack.config.ts
  package-lock.json
  package.json
Labels: chore

#3542 test(input): skip unstable input test
  src/components/calcite-input/calcite-input.e2e.ts
Labels: testing

#3538 docs(input-time-picker): specify step property is seconds
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
Labels: docs

#3439 fix(slider): range slider maxValue label no longer overlaps with preceding labels
  src/components/calcite-slider/calcite-slider.stories.ts
  src/components/calcite-slider/calcite-slider.tsx
Labels: bug

#3550 fix(color-picker): ensure props/attrs are initialized consistently
  src/components/calcite-color-picker/calcite-color-picker.tsx
Labels: bug

#3554 docs: update component READMEs
  package-lock.json
  src/components/calcite-input-time-picker/readme.md
Labels: docs

#3356 fix(slider): focus respective thumb when click on track for range slider
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-slider/calcite-slider.tsx
Labels: bug

#3516 fix(tile-select): fixes focus and blur styling for radio buttons
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-tile-select/calcite-tile-select.tsx
Labels: bug

#3568 fix(input): fix inconsistent value stepping
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Labels: bug

#3573 test(radio-button): adding front-to-back round robin test with keyboard navigation
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
Labels: testing

#3575 build: update browserslist db
  package-lock.json
Labels: chore

#3569 refactor(input): simplify code for value nudging
  src/components/calcite-input/calcite-input.tsx
Labels: refactor

#3525 fix(alert): remove clearTimeOut that delays the alert to close on autoDismiss mode #3366
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-alert/calcite-alert.tsx
Labels: bug

#3535 feat(shell-panel): Add resizable property to allow resizing of content. #2770
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.scss
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/resources.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/demos/shell/demo-app-full-window.html
Labels: enhancement, 2 - in development

#3583 docs: update component READMEs
  package-lock.json
  src/components/calcite-shell-panel/readme.md
Labels: docs

#3595 feat(split-button): Add overlayPositioning property to position dropdown.
  src/components/calcite-split-button/calcite-split-button.e2e.ts
  src/components/calcite-split-button/calcite-split-button.tsx
Labels: enhancement, 1 - assigned

#3584 build(deps): bump calcite-ui-icons
  package-lock.json
  package.json
Labels: chore
