Repository Esri/calcite-design-system, pull requests merged in 2021-05, with the labels that each got.

#2090 fix(dropdown-item): Remove setting 'dir' attribute in light DOM elements. #1831
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
Labels: 1 - assigned

#2057 refactor(alert, chip, input, notice, shell)!: simplify slot names
  src/6-custom-theme.stories.mdx
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-alert/calcite-alert.resources.ts
  src/components/calcite-alert/calcite-alert.scss
  src/components/calcite-alert/calcite-alert.stories.ts
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-alert/readme.md
  src/components/calcite-alert/usage/basic.md
  src/components/calcite-chip/calcite-chip.scss
  src/components/calcite-chip/calcite-chip.stories.ts
  src/components/calcite-chip/calcite-chip.tsx
  src/components/calcite-input/calcite-input.resources.ts
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-input/calcite-input.stories.ts
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-notice/calcite-notice.e2e.ts
  src/components/calcite-notice/calcite-notice.resources.ts
  src/components/calcite-notice/calcite-notice.scss
  src/components/calcite-notice/calcite-notice.stories.ts
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-notice/readme.md
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-shell/readme.md
  src/components/calcite-shell/resources.ts
  src/components/calcite-shell/usage/advanced.md
  src/components/calcite-shell/usage/basic.md
  src/components/calcite-stepper/calcite-stepper.stories.ts
  src/demos/_assets/createAlert.ts
  src/demos/calcite-alert.html
  src/demos/calcite-chip.html
  src/demos/calcite-input.html
  src/demos/calcite-notice.html
  src/demos/shell/basic.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-3.html
  src/demos/shell/demo-app-advanced-center-row-async.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-center-row-action-bar.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/nesting-testing.html
  src/index.html
Labels: refactor

#2068 feat: adds opened and closed status icon to Block and updates UI of related components
  src/components/calcite-block-section/calcite-block-section.scss
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-block-section/resources.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/components/calcite-handle/calcite-handle.scss
  src/components/calcite-panel/calcite-panel.scss
  src/demos/shell/popup-config-example.html
  tailwind.config.js
Labels: 1 - assigned, enhancement

#2087 fix(notice): Remove setting 'dir' attribute in light DOM elements. #1831
  src/components/calcite-notice/calcite-notice.scss
  src/components/calcite-notice/calcite-notice.tsx
Labels: 1 - assigned

#2075 fix(filter): Dark theme colors. #1850
  src/components/calcite-filter/calcite-filter.scss
Labels: 1 - assigned

#2085 fix(accordion-item, alert, color-picker-swatch, combobox-item-group, combobox-item): avoid setting internal attributes on host element
  src/components/calcite-accordion-item/calcite-accordion-item.scss
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-alert/calcite-alert.scss
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-color-picker-swatch/calcite-color-picker-swatch.tsx
  src/components/calcite-combobox-item-group/calcite-combobox-item-group.scss
  src/components/calcite-combobox-item-group/calcite-combobox-item-group.tsx
  src/components/calcite-combobox-item/calcite-combobox-item.scss
  src/components/calcite-combobox-item/calcite-combobox-item.tsx
  src/demos/calcite-alert.html
Labels: bug

#2134 chore(linting): enable no-unneeded-ternary rule
  .eslintrc.json
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-tree/calcite-tree.tsx
  src/utils/number.ts
Labels: chore

#2128 fix(calcite-input): disallowing typing any key with shift modifier down inside a number input
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/utils/key.ts
Labels: bug

#2107 fix(action-group): 'menu-tooltip' slot to show the tooltip.
  src/components/calcite-popover-manager/calcite-popover-manager.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/utils/dom.e2e.ts
  src/utils/dom.ts
Labels: 1 - assigned

#2156 fix(switch): removed unneeded RTL margin
  src/components/calcite-switch/calcite-switch.scss
Labels: 1 - assigned

#2118 fix(combobox, combobox-item): Toggling 'selected' on combobox-item should update the combobox parent. #2102
  src/components/calcite-combobox-item/calcite-combobox-item.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
Labels: Stale

#2148 fix(calcite-radio-button): removing internal label
  src/components/calcite-label/calcite-label.e2e.ts
  src/components/calcite-label/calcite-label.scss
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.scss
  src/components/calcite-radio-button-group/calcite-radio-button-group.stories.ts
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.scss
  src/components/calcite-radio-button/calcite-radio-button.stories.ts
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-tile-select/calcite-tile-select.e2e.ts
  src/demos/calcite-label.html
  src/demos/calcite-radio-button-group-rtl.html
  src/demos/calcite-radio-button-group.html
  src/demos/calcite-radio-button-rtl.html
  src/demos/calcite-radio-button.html
Labels: bug

#2160 fix(value-list-item): updated handle color
  src/components/calcite-value-list-item/calcite-value-list-item.scss
Labels: 1 - assigned

#2167 fix(calcite-label): label for clicks work properly inside shadowRoots
  src/components/calcite-label/calcite-label.e2e.ts
  src/components/calcite-label/calcite-label.tsx
Labels: bug

#2165 fix(calcite-slider): slider handle position changes on mousedown instead of click/mouseup
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.tsx
Labels: bug

#2176 fix(tooltip-manager): Don't show tooltip on click of referenceElement
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.e2e.ts
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
Labels: 1 - assigned

#2183 feat(color-picker): improve thumb drag interaction
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-color-picker/calcite-color-picker.tsx
  src/utils/math.spec.ts
  src/utils/math.ts
Labels: enhancement

#2190 feat(pick-list, value-list): improve keyboard interaction for single-item selection
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-pick-list/shared-list-tests.ts
Labels: enhancement

#2198 docs(changelog): add extra info about removal of `theme` prop and include note on removal of internal label from calcite-radio-button
  CHANGELOG.md
Labels: docs

#2211 chore: drop milestone mover action
  .github/workflows/milestone-mover.yml
Labels: chore

#2212 chore: add 'needs triage' label to issue templates
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/new-component.md
  .github/ISSUE_TEMPLATE/research.md
  .github/ISSUE_TEMPLATE/tooling.md
Labels: chore

#2200 fix(avatar): Updated large avatar to match design
  src/components/calcite-avatar/calcite-avatar.scss
  tailwind.config.js
Labels: bug

#2218 chore: set up doc auto-update action
  .github/workflows/update-doc.yml
  package.json
Labels: chore, docs

#2222 chore: fix auto-doc action step
  .github/workflows/update-doc.yml
Labels: chore

#2217 fix(tile): remove max-width
  src/components/calcite-tile/calcite-tile.scss
Labels: bug

#2221 feat(popover): adds heading prop and header node for when heading is supplied
  src/components/calcite-popover/calcite-popover.scss
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-popover/readme.md
  src/components/calcite-popover/resources.ts
  src/demos/calcite-popover.html
Labels: 1 - assigned

#2225 fix(modal): improve modal a11y
  src/components/calcite-modal/calcite-modal.tsx
  src/utils/dom.spec.ts
  src/utils/dom.ts
  src/utils/guid.spec.ts
Labels: a11y, bug

#2236 chore: fix wrong auto-doc action config prop name
  .github/workflows/update-doc.yml
Labels: chore, docs

#2239 feat(combobox): apply entered text on tab for custom values combobox
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
Labels: enhancement
