Repository Esri/calcite-design-system, pull requests merged in 2021-09, with the labels that each got.

#2954 chore: add gh action to label prs
  .github/labeler.yml
  .github/workflows/label-prs.yml
Labels: chore

#2968 chore: create github action to add milestones to prs
  .github/labeler.yml
  .github/workflows/label-prs.yml
  .github/workflows/pr-bot.yml
Labels: chore

#2932 feat(block): add margin between heading and summary
  src/components/calcite-block/calcite-block.scss
Labels: enhancement, design, 2 - in development

#2973 refactor(dropdown): use resource file for slot
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-dropdown/resources.ts
Labels: refactor

#2975 docs(tree, tree-item): fix slot documentation
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.tsx
Labels: docs

#2963 fix(accordion): match accordion icon directions with block
  src/components/calcite-accordion-item/calcite-accordion-item.scss
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/demos/calcite-accordion.html
Labels: bug, 2 - in development

#2971 chore: add action to auto assign prs
  .github/auto_assign.yml
  .github/workflows/pr-bot.yml
Labels: chore

#2976 refactor (calcite tip manager) close button size
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
Labels: refactor

#2786 refactor(action): large component needs to match figma design
  src/components/calcite-action/calcite-action.scss
Labels: refactor

#2977 refactor(action): action active tap behavior
  src/components/calcite-action/calcite-action.scss
Labels: refactor

#2967 fix(block-section): style update to align better with label and switch combo.
  src/components/calcite-block-section/calcite-block-section.scss
  src/demos/shell/block-configurations.html
Labels: bug, 1 - assigned

#2883 test(demo-homepage): updated demo homepage, removed search bar
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/demos/_assets/demos.css
  src/demos/calcite-accordion.html
  src/demos/calcite-alert.html
  src/demos/calcite-avatar.html
  src/demos/calcite-card.html
  src/demos/calcite-checkbox.html
  src/demos/calcite-chip.html
  src/demos/calcite-color-picker.html
  src/demos/calcite-combobox.html
  src/demos/calcite-date-picker.html
  src/demos/calcite-icon.html
  src/demos/calcite-inline-editable.html
  src/demos/calcite-list.html
  src/demos/calcite-loader.html
  src/demos/calcite-modal.html
  src/demos/calcite-notice.html
  src/demos/calcite-pagination.html
  src/demos/calcite-pick-list.html
  src/demos/calcite-popover.html
  src/demos/calcite-progress.html
  src/demos/calcite-rating.html
  src/demos/calcite-scrim.html
  src/demos/calcite-select.html
  src/demos/calcite-slider.html
  src/demos/calcite-sortable-list.html
  src/demos/calcite-switch.html
  src/demos/calcite-tooltip.html
  src/demos/calcite-tree.html
  src/demos/tip/basic.html
  src/index.html
Labels: testing, 2 - in development

#2982 chore: update calcite-ui-icons to latest
  package-lock.json
  package.json
Labels: chore

#2970 docs: add missing storybook readmes
  src/components/calcite-list/calcite-list.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-popover/calcite-popover.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Labels: docs

#2988 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore

#2985 docs(changelog): remove irrelevant revert entry
  CHANGELOG.md
Labels: docs

#2987 fix(slider): prevent added handle margins in Safari
  src/components/calcite-slider/calcite-slider.scss
Labels: bug

#2990 fix: default boolean properties to be false instead of undefined.
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-chip/calcite-chip.tsx
  src/components/calcite-date-picker/calcite-date-picker.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-link/calcite-link.tsx
  src/components/calcite-loader/calcite-loader.tsx
  src/components/calcite-modal/calcite-modal.tsx
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-popover-manager/calcite-popover-manager.e2e.ts
  src/components/calcite-popover-manager/calcite-popover-manager.tsx
  src/components/calcite-radio-group-item/calcite-radio-group-item.tsx
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-radio/calcite-radio.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-split-button/calcite-split-button.tsx
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-tab-nav/calcite-tab-nav.tsx
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tabs/calcite-tabs.tsx
  src/components/calcite-tile/calcite-tile.tsx
  src/components/calcite-tip/calcite-tip.tsx
Labels: bug

#2993 fix(input-date-picker): Set value, start, and end properties via input or date-picker. #2955
  src/components/calcite-date-picker-month/calcite-date-picker-month.tsx
  src/components/calcite-date-picker/calcite-date-picker.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.e2e.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
Labels: bug

#3000 docs(assets): fix broken color link
  src/assets/styles/readme.md
Labels: docs

#3002 docs(block): require heading
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/readme.md
Labels: docs

#3006 docs: Add documentation for undocumented properties, methods, and events
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-chip/calcite-chip.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-date-picker-day/calcite-date-picker-day.tsx
  src/components/calcite-date-picker-month/calcite-date-picker-month.tsx
  src/components/calcite-date-picker/calcite-date-picker.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-input-message/calcite-input-message.tsx
  src/components/calcite-list-item/calcite-list-item.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-radio-button-group/calcite-radio-button-group.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  src/utils/date.ts
Labels: docs

#3005 docs: document the setFocus method on components
  src/components/calcite-action-menu/calcite-action-menu.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-chip/calcite-chip.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-fab/calcite-fab.tsx
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-handle/calcite-handle.tsx
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-link/calcite-link.tsx
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-rating/calcite-rating.tsx
  src/components/calcite-select/calcite-select.tsx
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-switch/calcite-switch.tsx
  src/components/calcite-tile-select/calcite-tile-select.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
Labels: docs

#2984 refactor: add util to create observers consistently
  package-lock.json
  package.json
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-menu/calcite-action-menu.tsx
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-flow/calcite-flow.tsx
  src/components/calcite-icon/calcite-icon.tsx
  src/components/calcite-modal/calcite-modal.tsx
  src/components/calcite-option/calcite-option.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-pick-list/shared-list-logic.ts
  src/components/calcite-radio-group-item/calcite-radio-group-item.tsx
  src/components/calcite-select/calcite-select.tsx
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tip-manager/calcite-tip-manager.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
  src/utils/observers.ts
Labels: refactor

#2958 docs(checkbox, radio, radio-button, tile): Make private properties internal.
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio/calcite-radio.tsx
  src/components/calcite-tile/calcite-tile.tsx
Labels: docs

#3008 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore

#3010 chore: fix CDN-updating logic
  support/prepReleaseCommit.ts
Labels: chore

#3012 docs: document the setFocus method on components #2701
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/calcite-pick-list.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-time-picker/calcite-time-picker.tsx
  src/components/calcite-value-list/calcite-value-list.tsx
Labels: docs

#2983 test(demo-homepage): updated demo homepage, removed search bar
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/demos/_assets/demos.css
  src/demos/calcite-accordion.html
  src/demos/calcite-alert.html
  src/demos/calcite-avatar.html
  src/demos/calcite-card.html
  src/demos/calcite-checkbox.html
  src/demos/calcite-chip.html
  src/demos/calcite-color-picker.html
  src/demos/calcite-combobox.html
  src/demos/calcite-date-picker.html
  src/demos/calcite-icon.html
  src/demos/calcite-inline-editable.html
  src/demos/calcite-list.html
  src/demos/calcite-loader.html
  src/demos/calcite-modal.html
  src/demos/calcite-notice.html
  src/demos/calcite-pagination.html
  src/demos/calcite-pick-list.html
  src/demos/calcite-popover.html
  src/demos/calcite-progress.html
  src/demos/calcite-rating.html
  src/demos/calcite-scrim.html
  src/demos/calcite-select.html
  src/demos/calcite-slider.html
  src/demos/calcite-sortable-list.html
  src/demos/calcite-switch.html
  src/demos/calcite-tooltip.html
  src/demos/calcite-tree.html
  src/demos/tip/basic.html
  src/index.html
Labels: testing

#3013 chore(actions): only run on opened event
  .github/workflows/pr-bot.yml
Labels: chore

#3014 docs(pagination, pick-list-item, slider): Add additional information for label properties
  src/components/calcite-pagination/calcite-pagination.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-slider/calcite-slider.tsx
Labels: docs

#3001 feat(tree-item): update selection visuals to match Figma
  src/components/calcite-tree-item/calcite-tree-item.scss
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree-item/resources.ts
  src/components/calcite-tree/calcite-tree.e2e.ts
  src/demos/calcite-tree-scales.html
Labels: enhancement

#2989 fix(accordion): match icon directions with block when positioned at start
  src/components/calcite-accordion-item/calcite-accordion-item.scss
Labels: bug

#3019 refactor(header): apply tailwind to _header include
  src/assets/styles/_header.scss
  src/components/calcite-tip-manager/calcite-tip-manager.scss
Labels: refactor, 1 - assigned

#3018 test(input): skip unstable test
  src/components/calcite-input/calcite-input.e2e.ts
Labels: testing

#2997 fix(input): change color input padding so the selected color appears
  src/components/calcite-input/calcite-input.scss
  src/demos/calcite-input.html
Labels: bug

#3026 chore(actions): update prbot workflow
  .github/auto_assign.yml
  .github/workflows/pr-bot.yml
Labels: chore

#3020 fix(color-picker): render current value when set initially with custom format
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-color-picker/calcite-color-picker.tsx
Labels: bug

#3034 docs(readme): add travis status badge
  readme.md
Labels: docs

#3036 chore: new bugs require a repro sample
  .github/ISSUE_TEMPLATE/bug.md
  .github/need-info.yml
  .github/workflows/need-info-close.yml
  .github/workflows/need-info-verify.yml
  CONTRIBUTING.md
Labels: chore

#3040 docs: setup the jsapi in a template repro sample
  CONTRIBUTING.md
Labels: docs

#3041 fix(color-picker): fix mouse tracking logic when moved within another component's shadow DOM
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-color-picker/calcite-color-picker.tsx
Labels: bug, p - high

#3042 fix(action-bar): Better handling of overflow actions on smaller screens
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/functional/CalciteExpandToggle.tsx
Labels: bug

#3045 build(deps): bump calcite-ui-icons version
  package-lock.json
  package.json
Labels: chore

#3031 fix(sortable-list): updated to use column layout
  src/components/calcite-sortable-list/calcite-sortable-list.scss
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-sortable-list/readme.md
  src/components/calcite-sortable-list/resources.ts
Labels: bug

#3049 test(action-bar): Skip unstable test related to resize observer.
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
Labels: testing

#3047 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore

#3039 refactor(combobox): single select text wrong font weight
  src/components/calcite-combobox/calcite-combobox.scss
Labels: refactor

#3038 refactor(stepper): change text sizing to use -h
  src/components/calcite-stepper-item/calcite-stepper-item.scss
  src/demos/calcite-stepper.html
Labels: refactor

#3056 chore: add template samples to bug issue template
  .github/ISSUE_TEMPLATE/bug.md
  .github/need-info.yml
  .github/workflows/need-info-verify.yml
Labels: chore

#3050 docs(usage): add missing examples
  src/components/calcite-card/readme.md
  src/components/calcite-card/usage/Basic.md
  src/components/calcite-combobox-item-group/readme.md
  src/components/calcite-combobox-item/readme.md
  src/components/calcite-combobox/readme.md
  src/components/calcite-dropdown/readme.md
  src/components/calcite-flow/readme.md
  src/components/calcite-input-date-picker/readme.md
  src/components/calcite-input-date-picker/usage/Basic.md
  src/components/calcite-input-time-picker/readme.md
  src/components/calcite-input-time-picker/usage/Basic.md
  src/components/calcite-link/readme.md
  src/components/calcite-link/usage/Basic.md
  src/components/calcite-pagination/readme.md
  src/components/calcite-pagination/usage/Basic.md
  src/components/calcite-pick-list-item/readme.md
  src/components/calcite-pick-list/readme.md
  src/components/calcite-progress/readme.md
  src/components/calcite-radio-group/readme.md
  src/components/calcite-radio-group/usage/Basic.md
  src/components/calcite-rating/readme.md
  src/components/calcite-rating/usage/Basic.md
  src/components/calcite-select/readme.md
  src/components/calcite-tile-select/readme.md
  src/components/calcite-tile-select/usage/Basic.md
  src/components/calcite-tile/readme.md
  src/components/calcite-tile/usage/Basic.md
  src/components/calcite-value-list/readme.md
Labels: docs

#3062 docs: move release process out of contributing doc
  CONTRIBUTING.md
Labels: docs

#3065 chore: allow doc samples for repro
  .github/ISSUE_TEMPLATE/bug.md
  .github/need-info.yml
  CONTRIBUTING.md
Labels: chore

#3068 docs: remove native label from usage example
  src/components/calcite-input-date-picker/readme.md
  src/components/calcite-input-date-picker/usage/Basic.md
Labels: docs

#2995 fix(checkbox): resize calcite-checkbox when unchecked & focusout
  src/components/calcite-checkbox/calcite-checkbox.scss
Labels: bug, 2 - in development

#3078 fix(slider): move maxValue thumb when thumbs overlap at min edge
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.tsx
Labels: bug

#3067 chore: auto assign installed issues for verification
  .github/need-info.yml
  .github/workflows/assign-for-verification.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/need-info-verify.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-doc.yml
Labels: chore

#3083 fix(slider): align minValue thumb when both minValue/maxValue are zero
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.tsx
Labels: bug

#3084 fix(slider): stop emitting change on page load
  src/components/calcite-slider/calcite-slider.tsx
Labels: bug

#3086 chore(action): automatically notify teams channel about releases
  .github/workflows/teams-release-msg.yml
Labels: chore

#3085 chore: format yml files using prettier
  .lintstagedrc.json
  package.json
Labels: chore

#3088 chore(actions): fix milestone action to stop failing on dependabot prs
  .github/workflows/pr-bot.yml
Labels: chore

#3090 style: format yml files
  .github/labeler.yml
  .github/need-info.yml
  .github/workflows/assign-for-verification.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/need-info-close.yml
  .github/workflows/need-info-verify.yml
  .github/workflows/pr-bot.yml
  .github/workflows/update-deps.yml
  .github/workflows/update-doc.yml
Labels: chore

#3080 fix(stepper-item): remove margin-bottom for calcite-stepper-item
  src/components/calcite-stepper-item/calcite-stepper-item.scss
Labels: bug, 2 - in development

#3044 refactor(calcite-tile): center content on large variant
  src/components/calcite-tile/calcite-tile.scss
Labels: refactor

#3024 refactor(pick-list/value-list): change to use calcite-input
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-filter/calcite-filter.tsx
  src/components/calcite-pick-list/calcite-pick-list.scss
Labels: refactor

#3089 chore(actions): no self assign for verification
  .github/workflows/assign-for-verification.yml
Labels: chore

#3092 fix(slider): align histogram minValue thumb when both minValue/maxValue are zero
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.tsx
Labels: bug

#3093 refactor (calcite-font-weight-bold): updated weight to 600
  src/assets/styles/_type.scss
  src/assets/styles/readme.md
Labels: refactor

#3095 chore: use github secrets for verifier usernames
  .github/workflows/assign-for-verification.yml
  .github/workflows/need-info-close.yml
Labels: chore

#3054 refactor(action-bar): Refactor action-bar overflowActions.
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
Labels: refactor

#3098 docs: add missing default slots
  src/components/calcite-accordion-item/calcite-accordion-item.tsx
  src/components/calcite-accordion/calcite-accordion.tsx
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-chip/calcite-chip.tsx
  src/components/calcite-combobox-item-group/calcite-combobox-item-group.tsx
  src/components/calcite-combobox-item/calcite-combobox-item.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-dropdown-group/calcite-dropdown-group.tsx
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-input-message/calcite-input-message.tsx
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-link/calcite-link.tsx
  src/components/calcite-list-item/calcite-list-item.tsx
  src/components/calcite-option-group/calcite-option-group.tsx
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-radio-button-group/calcite-radio-button-group.tsx
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-scrim/calcite-scrim.tsx
  src/components/calcite-select/calcite-select.tsx
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-sortable-list/calcite-sortable-list.tsx
  src/components/calcite-split-button/calcite-split-button.tsx
  src/components/calcite-stepper-item/calcite-stepper-item.tsx
  src/components/calcite-stepper/calcite-stepper.tsx
  src/components/calcite-tab-nav/calcite-tab-nav.tsx
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tab/calcite-tab.tsx
  src/components/calcite-tabs/calcite-tabs.tsx
  src/components/calcite-tile-select-group/calcite-tile-select-group.tsx
  src/components/calcite-tile-select/calcite-tile-select.tsx
  src/components/calcite-tip-group/calcite-tip-group.tsx
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tooltip/calcite-tooltip.tsx
  src/components/calcite-tree-item/calcite-tree-item.tsx
Labels: docs

#3100 build(deps): bump versions.
  package-lock.json
  package.json
Labels: chore

#3091 feat!: improve integration with calcite-label
  src/components/calcite-block-section/calcite-block-section.tsx
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-button/calcite-button.tsx
  src/components/calcite-checkbox/calcite-checkbox.e2e.ts
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.e2e.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-input-time-picker/calcite-input-time-picker.e2e.ts
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-label/calcite-label.e2e.ts
  src/components/calcite-label/calcite-label.scss
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-label/interfaces.ts
  src/components/calcite-label/resources.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-group/calcite-radio-group.e2e.ts
  src/components/calcite-radio-group/calcite-radio-group.tsx
  src/components/calcite-rating/calcite-rating.e2e.ts
  src/components/calcite-rating/calcite-rating.tsx
  src/components/calcite-select/calcite-select.e2e.ts
  src/components/calcite-select/calcite-select.tsx
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.tsx
  src/components/calcite-switch/calcite-switch.e2e.ts
  src/components/calcite-switch/calcite-switch.tsx
  src/demos/calcite-label.html
  src/tests/commonTests.ts
  src/utils/dom.ts
  src/utils/label.ts
Labels: refactor

#3106 docs(contributing): add issue management section
  CONTRIBUTING.md
Labels: docs

#3111 fix(tree-item): update `indeterminate` on ancestor tree-items when `selected` on load
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/demos/calcite-tree-scales.html
Labels: bug

#3116 fix(dropdown): Set scroller height to zero when not active. #3071
  src/components/calcite-dropdown/calcite-dropdown.tsx
Labels: bug

#3110 docs: cleanup and reorganize onboarding information
  CONTRIBUTING.md
  GETTING_STARTED.md
  PROJECT_GUIDELINES.md
  TRAVIS_WEBHOOK_README.md
  conventions/README.md
  src/2-contributing.stories.mdx
  src/2-getting-started.stories.mdx
  src/3-conventions.stories.mdx
Labels: docs

#3114 fix(combobox): Correct display issues with single select and long strings. #3059
  src/components/calcite-combobox/calcite-combobox.scss
Labels: bug

#3115 fix(tab, tab-nav): remove z-index styles so popover appears on top
  src/components/calcite-tab-nav/calcite-tab-nav.scss
  src/components/calcite-tab/calcite-tab.scss
  src/demos/calcite-popover.html
Labels: bug

#3124 test: Fix calcite-action-bar skipped test. #3119
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/utils.ts
Labels: testing

#3130 test(action-bar): Fix action-bar skipped test.
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
Labels: testing

#3094 feat(combobox): match combobox height with single selection mode
  src/components/calcite-combobox/calcite-combobox.tsx
Labels: enhancement, 2 - in development
