Repository Esri/calcite-design-system, pull requests merged in 2021-02, with the labels that each got.

#1495 fix(deps): move runtime deps to dependencies
  package-lock.json
  package.json
Labels: bug, chore

#1488 feat(calcite-input): Allow setting "any" on step attribute for calcite-input
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-input/readme.md
Labels: enhancement

#1508 chore(storybook): migrate to latest supported story glob pattern
  .storybook/main.ts
Labels: chore, docs

#1491 build(deps): bump calcite-colors
  conventions/README.md
  package-lock.json
  package.json
  src/6-custom-theme.stories.mdx
  src/assets/styles/_focus.scss
  src/assets/styles/_shadow.scss
  src/components/calcite-action/calcite-action.scss
  src/components/calcite-alert/calcite-alert.scss
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-card/calcite-card.scss
  src/components/calcite-checkbox/calcite-checkbox.scss
  src/components/calcite-chip/calcite-chip.scss
  src/components/calcite-combobox-item/calcite-combobox-item.scss
  src/components/calcite-date-picker-day/calcite-date-picker-day.scss
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/components/calcite-filter/calcite-filter.scss
  src/components/calcite-input-message/calcite-input-message.scss
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-label/calcite-label.scss
  src/components/calcite-link/calcite-link.scss
  src/components/calcite-loader/calcite-loader.scss
  src/components/calcite-loader/calcite-loader.stories.ts
  src/components/calcite-modal/calcite-modal.scss
  src/components/calcite-notice/calcite-notice.scss
  src/components/calcite-pagination/calcite-pagination.scss
  src/components/calcite-progress/calcite-progress.scss
  src/components/calcite-radio-group-item/calcite-radio-group-item.scss
  src/components/calcite-radio/calcite-radio.scss
  src/components/calcite-rating/calcite-rating.scss
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-split-button/calcite-split-button.scss
  src/components/calcite-stepper-item/calcite-stepper-item.scss
  src/components/calcite-switch/calcite-switch.scss
  src/components/calcite-tab-nav/calcite-tab-nav.scss
  src/components/calcite-tile-select/calcite-tile-select.scss
  src/components/calcite-tile/calcite-tile.scss
  src/components/calcite-tip/calcite-tip.scss
  src/components/calcite-tooltip/calcite-tooltip.scss
  src/components/calcite-tree-item/calcite-tree-item.scss
  src/custom-theme.md
  src/demos/calcite-button.html
  src/demos/calcite-chip.html
  src/demos/calcite-graph.html
  src/demos/calcite-loader.html
  src/demos/calcite-tabs.html
Labels: chore

#1519 chore(input, slider): add change events and deprecate update ones
  conventions/README.md
  src/components/calcite-pagination/calcite-pagination.e2e.ts
  src/components/calcite-pagination/calcite-pagination.tsx
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.tsx
Labels: chore

#1522 feat(modal): add setFocus method and deprecate focusElement
  conventions/README.md
  src/components/calcite-modal/calcite-modal.e2e.ts
  src/components/calcite-modal/calcite-modal.tsx
Labels: enhancement

#1535 fix(combobox): solve issue with using combobox inside shadow DOM
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
Labels: bug

#1544 chore(avatar, label): drop lingering prop validation checks
  src/components/calcite-avatar/calcite-avatar.tsx
  src/components/calcite-label/calcite-label.tsx
Labels: chore

#1518 docs: update description for calcite-action's label prop
  src/components/calcite-action/calcite-action.tsx
Labels: 3 - installed

#1450 feat(tile-select)!: Updates input display prop nomenclature
  src/components/calcite-tile-select-group/calcite-tile-select-group.stories.ts
  src/components/calcite-tile-select/calcite-tile-select.e2e.ts
  src/components/calcite-tile-select/calcite-tile-select.scss
  src/components/calcite-tile-select/calcite-tile-select.stories.ts
  src/components/calcite-tile-select/calcite-tile-select.tsx
  src/demos/calcite-tile-select.html
Labels: enhancement

#1539 docs: update project guidelines for advanced CSS selectors
  PROJECT_GUIDELINES.md
Labels: 1 - assigned, docs

#1543 feat(shell-panel): adds slot for header content
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell-panel/resources.ts
Labels: 1 - assigned

#1552 docs: update readme's
  src/components/calcite-action-bar/readme.md
  src/components/calcite-action-pad/readme.md
  src/components/calcite-action/readme.md
  src/components/calcite-combobox-item/readme.md
  src/components/calcite-combobox/readme.md
  src/components/calcite-date-picker-day/readme.md
  src/components/calcite-date-picker-month/readme.md
  src/components/calcite-date-picker/readme.md
  src/components/calcite-icon/readme.md
  src/components/calcite-input-date-picker/readme.md
  src/components/calcite-input-message/readme.md
  src/components/calcite-link/readme.md
  src/components/calcite-modal/readme.md
  src/components/calcite-pagination/readme.md
  src/components/calcite-radio-group/readme.md
  src/components/calcite-slider/readme.md
  src/components/calcite-tile-select/readme.md
Labels: docs

#1563 feat(shell-center-row): remove CSS transition for height
  src/components/calcite-shell-center-row/calcite-shell-center-row.scss
Labels: 1 - assigned

#1572 chore: hide invalid color warnings shown during test
  src/components/calcite-color/calcite-color.e2e.ts
Labels: chore

#1578 Docs: Add additional storybook sections for grouping components #1573
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-button/calcite-button.stories.ts
  src/components/calcite-checkbox/calcite-checkbox.stories.ts
  src/components/calcite-color/calcite-color.stories.ts
  src/components/calcite-combobox/calcite-combobox.stories.ts
  src/components/calcite-date-picker/calcite-date-picker.stories.ts
  src/components/calcite-dropdown/calcite-dropdown.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-inline-editable/calcite-inline-editable.stories.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.stories.ts
  src/components/calcite-input/calcite-input.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.stories.ts
  src/components/calcite-radio-button/calcite-radio-button.stories.ts
  src/components/calcite-radio-group/calcite-radio-group.stories.ts
  src/components/calcite-rating/calcite-rating.stories.ts
  src/components/calcite-select/calcite-select.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-slider/calcite-slider.stories.ts
  src/components/calcite-split-button/calcite-split-button.stories.ts
  src/components/calcite-switch/calcite-switch.stories.ts
  src/components/calcite-tile-select-group/calcite-tile-select-group.stories.ts
  src/components/calcite-tile-select/calcite-tile-select.stories.ts
  src/components/calcite-tile/calcite-tile.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Labels: 1 - assigned

#1499 feat(custom-elements): include build utils
  .gitignore
  package.json
  stencil.config.ts
  support/output-targets/custom-elements/createBundles.ts
  support/output-targets/custom-elements/tsconfig-dist-utils.json
  support/output-targets/custom-elements/utils.ts
  tsconfig-node-scripts.json
Labels: enhancement

#1568 docs: Update convention stubbing console.warn
  conventions/README.md
Labels: 1 - assigned

#1587 chore: add utility to render a placeholder SVG image.
  src/components/calcite-accordion/calcite-accordion.stories.ts
  src/tests/utils.ts
Labels: 1 - assigned

#1571 fix(input): Support default value to reset an input
  src/components/calcite-color-hex-input/calcite-color-hex-input.e2e.ts
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/demos/calcite-input.html
Labels: 1 - assigned, bug

#1588 fix(tooltip): Tooltip should appear in front of a popover.
  src/assets/styles/_popper.scss
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.scss
Labels: 1 - assigned

#1589 fix(FAB)!: Remove clear option from appearance property.
  src/components/calcite-fab/calcite-fab.tsx
Labels: 1 - assigned

#1594 docs(modal): Simple modal HTML shows obsolete property #1477
  src/components/calcite-modal/calcite-modal.e2e.ts
  src/components/calcite-modal/calcite-modal.stories.ts
Labels: 1 - assigned

#1593 ci: prevent deployment if outdated
  bla
  support/deployNextFromTravisBuild.sh
Labels: chore

#1595 feat(checkbox, radio-button): add setFocus()
  src/components/calcite-checkbox/calcite-checkbox.e2e.ts
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-radio-button/calcite-radio-button.e2e.ts
  src/components/calcite-radio-button/calcite-radio-button.tsx
Labels: enhancement

#1598 ci: check for latest deployable installs after current commit
  bla
  support/deployNextFromTravisBuild.sh
Labels: chore

#1599 fix(color): convert default value based on initial format
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-color/calcite-color.tsx
Labels: bug

#1510 feat(ActionMenu): Add calcite-action-menu component
  src/components/calcite-action-group/calcite-action-group.tsx
  src/components/calcite-action-group/resources.ts
  src/components/calcite-action-menu/calcite-action-menu.e2e.ts
  src/components/calcite-action-menu/calcite-action-menu.scss
  src/components/calcite-action-menu/calcite-action-menu.tsx
  src/components/calcite-action-menu/resources.ts
  src/components/calcite-action/calcite-action.tsx
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list/shared-list-render.tsx
  src/components/calcite-popover/calcite-popover.scss
  src/components/calcite-tip/calcite-tip.tsx
  src/components/functional/CalciteExpandToggle.tsx
  src/demos/panel/basic.html
  src/demos/shell/demo-app-advanced.html
  stencil.config.ts
Labels: 1 - assigned, a11y, breaking change, enhancement, new component

#1603 fix(calcite-checkbox): fixing focus outline styling weirdness on Safari
  src/components/calcite-checkbox/calcite-checkbox.stories.ts
  src/components/calcite-checkbox/calcite-checkbox.tsx
Labels: bug

#1607 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore

#1606 refactor!: Remove 'host-context' selector within component CSS. #1601
  src/assets/styles/global.scss
  src/components/calcite-accordion-item/calcite-accordion-item.scss
  src/components/calcite-accordion/calcite-accordion.scss
  src/components/calcite-avatar/calcite-avatar.scss
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-card/calcite-card.scss
  src/components/calcite-checkbox/calcite-checkbox.scss
  src/components/calcite-chip/calcite-chip.scss
  src/components/calcite-combobox-item/calcite-combobox-item.scss
  src/components/calcite-combobox/calcite-combobox.scss
  src/components/calcite-date-picker-day/calcite-date-picker-day.scss
  src/components/calcite-date-picker-month-header/calcite-date-picker-month-header.scss
  src/components/calcite-date-picker-month/calcite-date-picker-month.scss
  src/components/calcite-date-picker/calcite-date-picker.scss
  src/components/calcite-dropdown-group/calcite-dropdown-group.scss
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/components/calcite-dropdown/calcite-dropdown.scss
  src/components/calcite-input-date-picker/calcite-input-date-picker.scss
  src/components/calcite-label/calcite-label.scss
  src/components/calcite-notice/calcite-notice.scss
  src/components/calcite-pagination/calcite-pagination.scss
  src/components/calcite-popover/calcite-popover.scss
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-radio-button/calcite-radio-button.scss
  src/components/calcite-radio-group-item/calcite-radio-group-item.scss
  src/components/calcite-radio/calcite-radio.scss
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-split-button/calcite-split-button.scss
  src/components/calcite-stepper-item/calcite-stepper-item.scss
  src/components/calcite-switch/calcite-switch.scss
  src/components/calcite-tab-title/calcite-tab-title.scss
  src/components/calcite-tab-title/calcite-tab-title.tsx
  src/components/calcite-tabs/calcite-tabs.scss
  src/components/calcite-tile-select/calcite-tile-select.scss
  src/components/calcite-tile/calcite-tile.scss
  src/components/calcite-tree-item/calcite-tree-item.scss
Labels: 1 - assigned

#1609 test(alert): skip unstable test
  src/components/calcite-alert/calcite-alert.e2e.ts
Labels: testing

#1611 fix(color): ensure hue slider always updates internal color regardless of value being equal
  src/components/calcite-color/calcite-color.e2e.ts
  src/components/calcite-color/calcite-color.tsx
Labels: bug

#1612 refactor(calcite-checkbox): replacing focused attribute with setFocus method
  src/components/calcite-checkbox/calcite-checkbox.scss
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-tile-select/calcite-tile-select.e2e.ts
  src/components/calcite-tile-select/calcite-tile-select.scss
  src/components/calcite-tile-select/calcite-tile-select.tsx
Labels: refactor

#1615 chore(linting): restore auto-linting
  package-lock.json
  package.json
Labels: chore

#1614 test: stabilize tests
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.e2e.ts
Labels: testing

#1619 chore: Update stale issue and PR configuration
  .github/workflows/stale.yml
Labels: 1 - assigned

#1620 chore(tests): add convention for skipping unstable tests with issue template
  .github/ISSUE_TEMPLATE/unstable-test.md
  .github/PULL_REQUEST_TEMPLATE.md
  conventions/README.md
Labels: chore, testing

#1613 refactor(color)!: rename color to color-picker
  src/components/calcite-avatar/calcite-avatar.spec.ts
  src/components/calcite-avatar/calcite-avatar.tsx
  src/components/calcite-avatar/utils.ts
  src/components/calcite-button/readme.md
  src/components/calcite-color-picker-hex-input/calcite-color-picker-hex-input.e2e.ts
  src/components/calcite-color-picker-hex-input/calcite-color-picker-hex-input.scss
  src/components/calcite-color-picker-hex-input/calcite-color-picker-hex-input.tsx
  src/components/calcite-color-picker-hex-input/readme.md
  src/components/calcite-color-picker-hex-input/resources.ts
  src/components/calcite-color-picker-swatch/calcite-color-picker-swatch.e2e.ts
  src/components/calcite-color-picker-swatch/calcite-color-picker-swatch.scss
  src/components/calcite-color-picker-swatch/calcite-color-picker-swatch.tsx
  src/components/calcite-color-picker-swatch/readme.md
  src/components/calcite-color-picker-swatch/resources.ts
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-color-picker/calcite-color-picker.scss
  src/components/calcite-color-picker/calcite-color-picker.stories.ts
  src/components/calcite-color-picker/calcite-color-picker.tsx
  src/components/calcite-color-picker/interfaces.ts
  src/components/calcite-color-picker/readme.md
  src/components/calcite-color-picker/resources.ts
  src/components/calcite-color-picker/utils.spec.ts
  src/components/calcite-color-picker/utils.ts
  src/components/calcite-input/readme.md
  src/components/calcite-tab-nav/readme.md
  src/components/calcite-tab-title/readme.md
  src/components/calcite-tab/readme.md
  src/components/calcite-tabs/readme.md
  src/demos/calcite-color-hex-input.html
  src/demos/calcite-color-swatch.html
  src/demos/calcite-color.html
  stencil.config.ts
Labels: breaking change, refactor

#1624 refactor(color)!: rename color to color-picker
  src/components/calcite-color-picker-hex-input/calcite-color-picker-hex-input.e2e.ts
  src/components/calcite-color-picker-hex-input/calcite-color-picker-hex-input.tsx
  src/components/calcite-color-picker-hex-input/readme.md
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-color-picker/calcite-color-picker.tsx
  src/components/calcite-color-picker/readme.md
Labels: refactor

#1625 test(modal): skip unstable test
  src/components/calcite-modal/calcite-modal.e2e.ts
Labels: testing

#1627 chore(tests): update unstable-test templates
  .github/ISSUE_TEMPLATE/unstable-test.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore, testing

#1629 docs(Action): Update usage for clarity on text property.
  src/components/calcite-action/usage/basic.md
Labels: 1 - assigned
