Repository Esri/calcite-design-system, pull requests merged in 2021-08, with the labels that each got.

#2676 fix(color-picker): improve mouse tracking when dragging color field/hue slider thumb
  src/components/calcite-color-picker/calcite-color-picker.tsx
Labels: bug

#2647 test(tooltip): updated tooltip demo page
  src/demos/calcite-tooltip.html
Labels: 2 - in development, docs, enhancement, testing

#2677 fix(slider): ensure change event is emitted consistently
  src/components/calcite-slider/calcite-slider.tsx
Labels: bug

#2695 test(color-picker): skip unstable test
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
Labels: testing

#2679 fix(input): Internal buttons should not be able to submit forms
  src/components/calcite-input/calcite-input.tsx
Labels: bug

#2572 feat(slider): Add support for histogram color stops
  src/components/calcite-graph/calcite-graph.e2e.ts
  src/components/calcite-graph/calcite-graph.tsx
  src/components/calcite-graph/interfaces.ts
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.stories.ts
  src/components/calcite-slider/calcite-slider.tsx
  src/demos/calcite-graph.html
  src/demos/calcite-slider.html
Labels: enhancement

#2705 build: Remove @types/autoprefixer and add postcss. #2697
  package-lock.json
  package.json
Labels: 1 - assigned

#2698 test(color-picker): stabilize and unskip test
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
Labels: testing

#2719 fix(dropdown): revert dropdown-trigger-container width
  src/components/calcite-dropdown/calcite-dropdown.scss
  src/demos/calcite-card.html
Labels: 1 - assigned

#2658 test(pagination): updated pagination demo page
  src/demos/calcite-pagination.html
Labels: 2 - in development, docs, enhancement, testing

#2666 test(combobox): updated combobox demo page
  src/demos/calcite-combobox.html
Labels: 2 - in development, docs, enhancement, testing

#2731 fix(select): truncate long labels. #2714
  src/components/calcite-select/calcite-select.scss
  src/components/calcite-select/calcite-select.stories.ts
Labels: bug

#2704 test(list): updated list demo
  src/demos/list/basic.html
Labels: 2 - in development, docs, enhancement, testing

#2673 refactor(action-bar): Overflow actions based on browser calculated size of action.
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/utils.ts
Labels: 1 - assigned

#2700 feat(calcite-list-item-group): Add support for grouping list items #2550
  src/components/calcite-graph/calcite-graph.tsx
  src/components/calcite-list-item-group/calcite-list-item-group.e2e.ts
  src/components/calcite-list-item-group/calcite-list-item-group.scss
  src/components/calcite-list-item-group/calcite-list-item-group.tsx
  src/components/calcite-list-item-group/resources.ts
  src/components/calcite-list-item/calcite-list-item.e2e.ts
  src/components/calcite-list-item/calcite-list-item.scss
  src/components/calcite-list-item/calcite-list-item.tsx
  src/components/calcite-list-item/resources.ts
  src/components/calcite-list/calcite-list.scss
  src/components/calcite-list/calcite-list.stories.ts
  src/components/calcite-list/calcite-list.tsx
  src/components/calcite-list/usage/advanced.md
  src/components/calcite-list/usage/basic.md
  src/components/calcite-list/usage/grouped.md
  src/components/calcite-list/usage/nested.md
  src/components/calcite-slider/calcite-slider.tsx
  src/demos/calcite-combobox.html
  src/demos/calcite-pagination.html
  src/demos/list/basic.html
  src/tests/commonTests.ts
  stencil.config.ts
Labels: 1 - assigned

#2722 chore: customize PR title and body for browserslist-update-db GH action
  .github/workflows/update-browserslist-db.yml
Labels: tooling

#2730 fix(list): update display to block and updates related test
  src/components/calcite-list/calcite-list.e2e.ts
  src/components/calcite-list/calcite-list.scss
Labels: 1 - assigned

#2737 docs(contributing): update dev environment setup content
  .editorconfig
  CONTRIBUTING.md
Labels: docs

#2743 chore: run prettier
  src/components/calcite-input-message/calcite-input-message.tsx
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/demos/calcite-checkbox.html
  src/demos/calcite-input.html
  src/demos/calcite-loader.html
  src/demos/calcite-popover.html
  src/demos/calcite-tooltip.html
Labels: 1 - assigned

#2665 test(card): updated card demo page
  src/components/calcite-radio-button/calcite-radio-button.scss
  src/demos/calcite-card.html
Labels: enhancement, docs, testing, 2 - in development

#2711 test(slider): updated slider demo page
  src/demos/calcite-slider.html
Labels: enhancement, docs, testing, 2 - in development

#2696 test(tree): updated tree demo
  src/demos/calcite-tree.html
Labels: enhancement, docs, testing, 2 - in development

#2578 test(color-picker): updated calcite-color-picker demo page
  src/demos/calcite-color-picker.html
Labels: enhancement, docs, testing, 2 - in development

#2656 test(select): updated demo page
  src/demos/calcite-select.html
Labels: enhancement, docs, testing, 2 - in development

#2759 fix(custom-elements): add missing action component helper bundles
  stencil.config.ts
Labels: bug

#2758 chore: fix browserslist-db-action-name
  .github/workflows/update-browserslist-db.yml
Labels: chore

#2756 fix(date-picker, input-date-picker): Fix setting date for the correct range input
  src/components/calcite-date-picker/calcite-date-picker.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
Labels: 2 - in development

#2760 chore(codeql): ensure environment variable paths are escaped
  package-lock.json
  package.json
  support/prepReleaseCommit.ts
Labels: chore

#2766 docs(action): Deprecate calciteActionClick.
  src/components/calcite-action/calcite-action.e2e.ts
  src/components/calcite-action/calcite-action.tsx
Labels: 1 - assigned

#2788 docs(contributing): add commit message format section
  CONTRIBUTING.md
Labels: docs

#2742 fix(block): stops rendering collapsibleIcon when there are header-menu-actions
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
Labels: 1 - assigned

#2650 test: Replace demo toggles with buttons in nav
  src/demos/_assets/demo-template.css
  src/demos/_assets/demo-template.html
  src/demos/_assets/demo-template.ts
  src/demos/_assets/head.ts
  src/demos/_assets/toggles.template
  src/demos/_assets/toggles.ts
Labels: 1 - assigned

#2667 test(inline-editable): updated inline-editable demo page
  src/demos/calcite-inline-editable.html
Labels: enhancement, docs, testing, 2 - in development

#2685 test(accordion): updated accordion demo
  src/demos/calcite-accordion.html
Labels: enhancement, docs, testing, 2 - in development

#2821 chore: customize commit message for update-browserslist-db GH action
  .github/workflows/update-browserslist-db.yml
Labels: chore

#2779 fix(input-date-picker): When range is true, emit 'calciteDatePickerRangeChange' on input.
  src/components/calcite-input-date-picker/calcite-input-date-picker.e2e.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
Labels: bug

#2819 chore(linting): add linting script per lint-staged config and remove redundant ones
  package.json
Labels: chore

#2820 style: fix linting issues
  .storybook/preview-head.html
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/demos/calcite-select.html
Labels: chore

#2725 refactor(tooltip, popover): Log warning when reference element if it is not found and rename internal variables.
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tooltip/calcite-tooltip.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.tsx
Labels: 1 - assigned

#2830 fix(popover, tooltip): Reposition open popover and tooltip on initial load. #2446
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tooltip/calcite-tooltip.tsx
Labels: 1 - assigned

#2796 test: Remove home button from demos. #2650
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-input/calcite-input.tsx
  src/demos/animation/animation.html
  src/demos/calcite-accordion.html
  src/demos/calcite-alert.html
  src/demos/calcite-avatar.html
  src/demos/calcite-button.html
  src/demos/calcite-card.html
  src/demos/calcite-checkbox.html
  src/demos/calcite-chip.html
  src/demos/calcite-color-picker.html
  src/demos/calcite-combobox.html
  src/demos/calcite-date-picker.html
  src/demos/calcite-dropdown.html
  src/demos/calcite-graph.html
  src/demos/calcite-icon.html
  src/demos/calcite-inline-editable.html
  src/demos/calcite-input-date-picker.html
  src/demos/calcite-input-number.html
  src/demos/calcite-input-time-picker.html
  src/demos/calcite-input.html
  src/demos/calcite-label.html
  src/demos/calcite-link.html
  src/demos/calcite-loader.html
  src/demos/calcite-modal.html
  src/demos/calcite-notice.html
  src/demos/calcite-pagination.html
  src/demos/calcite-popover.html
  src/demos/calcite-progress.html
  src/demos/calcite-radio-button-group-rtl.html
  src/demos/calcite-radio-button-group.html
  src/demos/calcite-radio-button-rtl.html
  src/demos/calcite-radio-button.html
  src/demos/calcite-radio-group.html
  src/demos/calcite-rating.html
  src/demos/calcite-scrim.html
  src/demos/calcite-select.html
  src/demos/calcite-slider.html
  src/demos/calcite-split-button.html
  src/demos/calcite-stepper.html
  src/demos/calcite-switch.html
  src/demos/calcite-tabs.html
  src/demos/calcite-tile-select.html
  src/demos/calcite-tile.html
  src/demos/calcite-tooltip.html
  src/demos/calcite-tree.html
  src/demos/list/basic.html
  src/demos/pick-list/advanced.html
Labels: 1 - assigned

#2833 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore

#2832 docs: lint files and update prettier ignore
  .prettierignore
  src/demos/calcite-alert.html
  src/demos/calcite-avatar.html
  src/demos/calcite-button.html
  src/demos/calcite-checkbox.html
  src/demos/calcite-chip.html
  src/demos/calcite-color-picker.html
  src/demos/calcite-combobox.html
  src/demos/calcite-date-picker.html
  src/demos/calcite-dropdown.html
  src/demos/calcite-graph.html
  src/demos/calcite-icon.html
  src/demos/calcite-input-date-picker.html
  src/demos/calcite-input.html
  src/demos/calcite-label.html
  src/demos/calcite-link.html
  src/demos/calcite-loader.html
  src/demos/calcite-modal.html
  src/demos/calcite-notice.html
  src/demos/calcite-pagination.html
  src/demos/calcite-popover.html
  src/demos/calcite-progress.html
  src/demos/calcite-radio-button-group-rtl.html
  src/demos/calcite-radio-button-group.html
  src/demos/calcite-radio-button-rtl.html
  src/demos/calcite-radio-button.html
  src/demos/calcite-radio-group.html
  src/demos/calcite-rating.html
  src/demos/calcite-scrim.html
  src/demos/calcite-slider.html
  src/demos/calcite-split-button.html
  src/demos/calcite-stepper.html
  src/demos/calcite-switch.html
  src/demos/calcite-tabs.html
  src/demos/calcite-tile-select.html
  src/demos/calcite-tile.html
  src/demos/calcite-tooltip.html
  src/demos/calcite-tree.html
  src/demos/list/basic.html
Labels: chore

#2842 test(flow-corrected): current merge error, corrected file path
  src/demos/calcite-flow.html
  src/index.html
Labels: 2 - in development

#2668 test(link): updated calcite-link demo page
  src/demos/calcite-link.html
Labels: enhancement, docs, testing, 2 - in development

#2783 test(split-button): split button demo update
  src/demos/calcite-split-button.html
Labels: enhancement, docs, testing, 2 - in development

#2717 test(sortable-list): updated sortable-list demo
  src/demos/sortable-list/basic.html
  src/demos/sortable-list/calcite-sortable-list.html
  src/demos/sortable-list/sortable-blocks.html
Labels: enhancement, docs, testing, 2 - in development

#2682 test(tile): updated calcite tile and tile-select demo into one
  src/demos/calcite-tile-select.html
  src/demos/calcite-tile.html
  src/index.html
Labels: enhancement, docs, testing, 2 - in development

#2802 test(stepper): updated stepper demo
  src/demos/calcite-stepper.html
Labels: enhancement, docs, testing, 2 - in development

#2699 test(button): calcite button update
  src/demos/calcite-button.html
Labels: enhancement, docs, testing, 2 - in development

#2836 build: explicitly set babelHelpers to address warning
  stencil.config.ts
Labels: tooling

#2750 feat(flow): add match-height class
  src/components/calcite-flow/calcite-flow.scss
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/nesting-testing.html
Labels: 1 - assigned

#2843 ci(screener): enable alwaysAcceptBaseBranch
  screener.config.js
Labels: chore

#2875 fix(combobox): Set focus style correctly
  src/components/calcite-combobox/calcite-combobox.scss
Labels: 1 - assigned

#2757 test(block): update block demo page
  src/demos/block/basic.html
  src/demos/block/with-value-list.html
  src/demos/calcite-block.html
  src/index.html
Labels: enhancement, docs, testing, 2 - in development

#2670 test(dropdown): updated dropdown demo page
  src/demos/calcite-dropdown.html
Labels: enhancement, docs, testing, 2 - in development

#2674 test(tabs): updated tabs demo page
  src/demos/calcite-tabs.html
Labels: enhancement, docs, testing, 2 - in development

#2771 test(radio-button): calcite-radio-button demo update
  src/demos/calcite-radio-button.html
  src/index.html
Labels: enhancement, docs, testing, 2 - in development

#2895 fix(dropdown): Stops closing after selection even with disableCloseOnSelect
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.tsx
Labels: 1 - assigned

#2899 test(date-picker): skip unstable test
  src/components/calcite-date-picker/calcite-date-picker.e2e.ts
Labels: testing

#2919 test(combobox): stabilize test
  src/components/calcite-combobox/calcite-combobox.e2e.ts
Labels: testing

#2922 test(modal): stabilize test
  src/components/calcite-modal/calcite-modal.e2e.ts
Labels: testing

#2924 test(alert): stabilize test
  src/components/calcite-alert/calcite-alert.e2e.ts
Labels: testing

#2862 docs: Add storybook addons for toggling RTL and theme.
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.ts
  .storybook/resources.ts
  .storybook/utils.tsx
  package-lock.json
  package.json
  src/components/calcite-accordion/calcite-accordion.stories.ts
  src/components/calcite-action-bar/calcite-action-bar.stories.ts
  src/components/calcite-action-pad/calcite-action-pad.stories.ts
  src/components/calcite-action/calcite-action.stories.ts
  src/components/calcite-alert/calcite-alert.stories.ts
  src/components/calcite-avatar/calcite-avatar.stories.ts
  src/components/calcite-block/calcite-block.stories.ts
  src/components/calcite-button/calcite-button.stories.ts
  src/components/calcite-card/calcite-card.stories.ts
  src/components/calcite-checkbox/calcite-checkbox.stories.ts
  src/components/calcite-chip/calcite-chip.stories.ts
  src/components/calcite-color-picker/calcite-color-picker.stories.ts
  src/components/calcite-combobox/calcite-combobox.stories.ts
  src/components/calcite-date-picker/calcite-date-picker.stories.ts
  src/components/calcite-dropdown/calcite-dropdown.stories.ts
  src/components/calcite-fab/calcite-fab.stories.ts
  src/components/calcite-flow/calcite-flow.stories.ts
  src/components/calcite-icon/calcite-icon.stories.ts
  src/components/calcite-inline-editable/calcite-inline-editable.stories.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.stories.ts
  src/components/calcite-input-time-picker/calcite-input-time-picker.stories.ts
  src/components/calcite-input/calcite-input.stories.ts
  src/components/calcite-label/calcite-label.stories.ts
  src/components/calcite-link/calcite-link.stories.ts
  src/components/calcite-list/calcite-list.stories.ts
  src/components/calcite-loader/calcite-loader.stories.ts
  src/components/calcite-modal/calcite-modal.stories.ts
  src/components/calcite-notice/calcite-notice.stories.ts
  src/components/calcite-pagination/calcite-pagination.stories.ts
  src/components/calcite-panel/calcite-panel.stories.ts
  src/components/calcite-pick-list/calcite-pick-list.stories.ts
  src/components/calcite-popover/calcite-popover.stories.ts
  src/components/calcite-progress/calcite-progress.stories.ts
  src/components/calcite-radio-button-group/calcite-radio-button-group.stories.ts
  src/components/calcite-radio-button/calcite-radio-button.stories.ts
  src/components/calcite-radio-group/calcite-radio-group.stories.ts
  src/components/calcite-rating/calcite-rating.stories.ts
  src/components/calcite-scrim/calcite-scrim.stories.ts
  src/components/calcite-select/calcite-select.stories.ts
  src/components/calcite-shell/calcite-shell.stories.ts
  src/components/calcite-slider/calcite-slider.stories.ts
  src/components/calcite-split-button/calcite-split-button.stories.ts
  src/components/calcite-stepper/calcite-stepper.stories.ts
  src/components/calcite-switch/calcite-switch.stories.ts
  src/components/calcite-tabs/calcite-tabs.stories.ts
  src/components/calcite-tile-select-group/calcite-tile-select-group.stories.ts
  src/components/calcite-tile-select/calcite-tile-select.stories.ts
  src/components/calcite-tile/calcite-tile.stories.ts
  src/components/calcite-tip-manager/calcite-tip-manager.stories.ts
  src/components/calcite-tip/calcite-tip.stories.ts
  src/components/calcite-tooltip/calcite-tooltip.stories.ts
  src/components/calcite-tree/calcite-tree.stories.ts
  src/components/calcite-value-list/calcite-value-list.stories.ts
Labels: docs

#2844 chore(linting): enable JS linting for config files
  .lintstagedrc.json
  package.json
Labels: chore, p - low, Stale

#2945 test(input): skip unstable test
  src/components/calcite-input/calcite-input.e2e.ts
Labels: testing

#2797 refactor(dropdown): post refactor styling issues
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
Labels: Stale

#2939 fix(calcite-input): number values properly nudge when step is set to a decimal or "any"
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Labels: bug

#2890 feat(tile): add content-start/content-end slots
  src/components/calcite-tile/calcite-tile.e2e.ts
  src/components/calcite-tile/calcite-tile.scss
  src/components/calcite-tile/calcite-tile.stories.ts
  src/components/calcite-tile/calcite-tile.tsx
  src/components/calcite-tile/resources.ts
  src/demos/calcite-tile-select.html
  src/tests/commonTests.ts
Labels: enhancement
