Repository Esri/calcite-design-system, pull requests merged in 2021-07, with the labels that each got.

#2388 refactor(select): Match Figma and Tainwindify
  src/components/calcite-select/calcite-select.scss
  src/demos/calcite-select.html
Labels: 2 - in development, design, refactor

#2363 fix(combobox): use normal pointer for input of single select combobox
  src/components/calcite-combobox/calcite-combobox.scss
Labels: Stale

#2371 refactor(stepper): Figma match and Tailwindify
  src/components/calcite-stepper-item/calcite-stepper-item.scss
  src/demos/calcite-stepper.html
Labels: 2 - in development, design, refactor

#2423 refactor(graph, popover-manager, tooltip-manager): Make components shadowed.
  src/components/calcite-graph/calcite-graph.e2e.ts
  src/components/calcite-graph/calcite-graph.tsx
  src/components/calcite-popover-manager/calcite-popover-manager.tsx
  src/components/calcite-tooltip-manager/calcite-tooltip-manager.tsx
Labels: 1 - assigned

#2413 fix(color-picker): setFocus() should focus on the first focusable element. #2267
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-color-picker/calcite-color-picker.tsx
  src/components/calcite-color-picker/resources.ts
  src/components/calcite-modal/calcite-modal.tsx
  src/utils/dom.ts
Labels: 1 - assigned, a11y, bug

#2419 fix(tree): allow focusing out of tree via shift + tab
  src/components/calcite-tree/calcite-tree.e2e.ts
  src/components/calcite-tree/calcite-tree.tsx
Labels: a11y, bug

#2416 fix(tree): allow selecting children with Enter/Space when selection-mode=children
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree-item/interfaces.ts
  src/components/calcite-tree/calcite-tree.e2e.ts
Labels: bug

#2432 fix(color-picker): ensure color picker dimensions match its content
  src/components/calcite-color-picker/calcite-color-picker.scss
Labels: bug

#2339 refactor(alert): tailwindify
  src/assets/styles/global.scss
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-alert/calcite-alert.scss
  src/components/calcite-alert/calcite-alert.tsx
  src/demos/calcite-alert.html
Labels: 2 - in development, design, refactor

#2434 feat(block): add slot for header menu actions
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.scss
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/resources.ts
  src/demos/block/basic.html
Labels: enhancement

#2438 fix(tree): prevent emitting selection event twice when a tree-item's checkbox label is clicked
  src/components/calcite-tree-item/calcite-tree-item.scss
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.e2e.ts
Labels: bug

#2300 refactor(action-group, action-menu, panel): Adds a new slot 'trigger' to 'calcite-action-menu' to supply a custom trigger action.
  src/components/calcite-action-bar/calcite-action-bar.tsx
  src/components/calcite-action-bar/utils.ts
  src/components/calcite-action-group/calcite-action-group.tsx
  src/components/calcite-action-group/resources.ts
  src/components/calcite-action-menu/calcite-action-menu.e2e.ts
  src/components/calcite-action-menu/calcite-action-menu.scss
  src/components/calcite-action-menu/calcite-action-menu.tsx
  src/components/calcite-action-menu/resources.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/demos/shell/demo-app-advanced-2.html
Labels: 1 - assigned, architecture

#2431 fix(alert, notice): update leading and close icons to follow calcite-action icon sizing
  src/components/calcite-alert/calcite-alert.scss
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-notice/calcite-notice.scss
  src/components/calcite-notice/calcite-notice.tsx
  src/demos/calcite-notice.html
Labels: bug

#2475 fix(popover, tooltip): Query for referenceElement if needed when the tooltip/popover is opened or closed. #2446
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tooltip/calcite-tooltip.e2e.ts
  src/components/calcite-tooltip/calcite-tooltip.tsx
Labels: 1 - assigned

#2464 docs(popover, tooltip): Update referenceElement usage guidelines. #2446
  src/components/calcite-popover/calcite-popover.tsx
  src/components/calcite-tooltip/calcite-tooltip.tsx
Labels: 1 - assigned

#2500 chore(changelog): display upcoming changes in changelog between releases
  .versionrc.json
  package-lock.json
  package.json
  support/.unreleased-changelog-context.json
  support/deployNextFromTravis.sh
  support/ensureNonPrereleaseChangelog.ts
  support/prepReleaseCommit.ts
  support/prepareVersionUpdate.ts
Labels: chore, tooling

#2484 feat(slider): add support for mirroring slider
  src/components/calcite-slider/calcite-slider.e2e.ts
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-slider/calcite-slider.tsx
  src/demos/calcite-slider.html
  src/utils/dom.ts
Labels: enhancement

#2501 refactor(components-x): components need consistent `x` idle, hover, etc
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-modal/calcite-modal.scss
Labels: 2 - in development, design, refactor

#2429 refactor(action-bar): match Figma and Tailwind
  src/components/calcite-action-group/calcite-action-group.scss
  src/components/calcite-action/calcite-action.scss
Labels: 1 - assigned, design, refactor

#2518 chore(deps): set up automated dependency updates
  .github/workflows/update-deps.yml
Labels: chore, dependencies

#2074 refactor: Replace setTimeouts for animations with transition events
  src/components/calcite-action-menu/calcite-action-menu.tsx
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-combobox/resources.ts
  src/components/calcite-date-picker/calcite-date-picker.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-modal/calcite-modal.tsx
  src/components/calcite-popover/calcite-popover.e2e.ts
  src/components/calcite-popover/calcite-popover.tsx
Labels: 1 - assigned

#2435 test(switch): update demo html to match Figma
  src/demos/calcite-switch.html
Labels: 2 - in development, enhancement, testing

#2543 fix(dropdown): Fix dropdown display issues.
  src/components/calcite-dropdown/calcite-dropdown.scss
  src/components/calcite-dropdown/calcite-dropdown.stories.ts
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-split-button/calcite-split-button.stories.ts
  src/components/calcite-split-button/calcite-split-button.tsx
Labels: bug

#2441 feat(button): Display text with loading and add disabled styling. #2420
  src/components/calcite-button/calcite-button.scss
  src/components/calcite-button/calcite-button.tsx
Labels: 1 - assigned

#2444 refactor(progress): Add progress role to component for accessibility. #2248
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-progress/calcite-progress.e2e.ts
  src/components/calcite-progress/calcite-progress.tsx
  src/demos/calcite-progress.html
  src/utils/resources.ts
Labels: 1 - assigned

#2552 chore(deps): update calicte-ui-icons in lock file
  package-lock.json
Labels: chore

#2545 docs(radio-button-group, radio-button): fix "Docs" render issue
  src/components/calcite-radio-button-group/calcite-radio-button-group.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
Labels: docs

#2485 feat(dropdown-item): Use an icon instead of HTML char for selected item. #957
  src/components/calcite-dropdown-item/calcite-dropdown-item.scss
  src/components/calcite-dropdown-item/calcite-dropdown-item.tsx
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
Labels: 2 - in development

#2540 fix(input-time-picker): input box supports 12-hour display
  src/components/calcite-input-time-picker/calcite-input-time-picker.e2e.ts
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-time-picker/calcite-time-picker.e2e.ts
  src/components/calcite-time-picker/calcite-time-picker.tsx
Labels: bug

#2557 fix(action-menu): target 1px margin more accurately to actions in menu
  src/components/calcite-action-menu/calcite-action-menu.scss
Labels: 1 - assigned

#2555 fix(tree): fix item selection when multi + input-enabled
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.e2e.ts
Labels: bug

#2551 fix(color-picker): fix nudging hue slider with left/right arrows when color is #000 or #fff
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-color-picker/calcite-color-picker.tsx
Labels: bug

#2486 test(alert): update demo html to match Figma
  src/demos/calcite-alert.html
Labels: 3 - installed, docs, enhancement

#2567 test(button): fix unstable tests
  src/components/calcite-button/calcite-button.e2e.ts
Labels: testing

#2564 fix(inline-editable, input, radio-button): namespace scoped CSS classes
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.scss
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-inline-editable/resources.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.scss
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.resources.ts
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-radio-button/calcite-radio-button.scss
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/components/calcite-radio-button/resources.ts
Labels: bug

#2493 fix(combobox): Fix selection logic and prevent events from causing stack error
  src/components/calcite-button/calcite-button.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
Labels: 1 - assigned

#2581 fix(input): fix layout of number input with horizontal button layout
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-input/calcite-input.tsx
Labels: bug

#2583 test(tree): fix Jest warning
  src/components/calcite-tree/calcite-tree.e2e.ts
Labels: testing

#2556 test(chip): updated demo html page
  src/demos/calcite-chip.html
Labels: 1 - assigned, docs, enhancement, testing

#2558 test(icon): updated icon demo page
  src/demos/calcite-icon.html
Labels: 0 - new, 1 - assigned, enhancement, testing

#2585 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore, tooling

#2589 fix(calcite-list-item): adds bit of spacing between label and description
  src/components/calcite-list-item/calcite-list-item.scss
Labels: 1 - assigned

#2574 fix(button): Remove use of document.getElementsByName()
  src/components/calcite-button/calcite-button.tsx
  src/utils/dom.spec.ts
  src/utils/dom.ts
Labels: 1 - assigned

#2575 fix(button, checkbox, input, radio-button): Support native forms across shadow boundary.
  src/components/calcite-checkbox/calcite-checkbox.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
Labels: 1 - assigned

#2598 chore(deps): set git user for dep-updater action
  .github/workflows/update-deps.yml
Labels: chore, tooling

#2596 fix(x-close input and inline): x hover ui-text-1
  src/components/calcite-input/calcite-input.scss
Labels: 2 - in development

#2586 docs(action-block): slot icon position is wrong
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-block/readme.md
Labels: 2 - in development, docs

#2539 feat(value-list-item, pick-list-item): add disableSelect prop
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.scss
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.e2e.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/components/calcite-value-list-item/readme.md
  src/demos/calcite-accordion.html
  src/demos/pick-list/basic.html
  src/demos/value-list/basic.html
Labels: 1 - assigned

#2563 feat(calcite-input): allow integer only input when step is a whole number
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/demos/calcite-input-number.html
  src/utils/number.ts
Labels: enhancement

#2609 fix(input): disabled calcite-input + type=number allows interaction with the up/down buttons
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.scss
  src/components/calcite-input/calcite-input.tsx
Labels: bug

#2516 test(modal): update demo html to match Figma
  src/demos/calcite-modal.html
Labels: 1 - assigned, docs, enhancement, testing

#2604 refactor: Drop legacy code
  src/components/calcite-date-picker/calcite-date-picker.tsx
  src/components/calcite-graph/util.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
  src/components/calcite-loader/calcite-loader.scss
  src/components/calcite-stepper-item/calcite-stepper-item.tsx
  src/components/calcite-stepper/calcite-stepper.resources.ts
  src/components/calcite-stepper/calcite-stepper.tsx
Labels: refactor

#2608 chore(deps): fix git user setup for dep-updater
  .github/workflows/update-deps.yml
Labels: chore, tooling

#2593 chore: remove unnecessary .huskyrc.json
  .huskyrc.json
Labels: chore

#2592 style: fix formatting
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-list/calcite-list.scss
  src/demos/shell/block-configurations.html
Labels: chore

#2591 test: fix linting issues
  src/components/calcite-pick-list/calcite-pick-list.e2e.ts
  src/components/calcite-value-list/calcite-value-list.e2e.ts
  src/tests/setupTests.ts
Labels: testing

#2559 test(avatar): updated calcite-avatar demo page
  src/demos/calcite-avatar.html
Labels: 2 - in development, docs, enhancement, testing

#2528 test(checkbox): update demo html to match Figma
  src/demos/calcite-checkbox.html
Labels: 2 - in development, docs, enhancement, testing

#2649 test(loader): loader demo updated
  src/demos/calcite-loader.html
Labels: 2 - in development, docs, enhancement, testing

#2606 test(scrim): updated demo design using flexbox with two rows
  src/demos/calcite-scrim.html
Labels: 1 - assigned, docs, enhancement, testing

#2646 test(progress): updated demo page
  src/demos/calcite-progress.html
Labels: 2 - in development, docs, enhancement, testing

#2661 test(progress): fixed indeterminate typo
  src/demos/calcite-progress.html
Labels: 3 - installed, docs, enhancement, testing

#2657 test(popover): updated popover demo page
  src/demos/calcite-popover.html
Labels: 2 - in development, docs, enhancement, testing

#2560 test(rating): updated calcite-rating demo page
  src/demos/calcite-rating.html
Labels: 2 - in development, docs, enhancement, testing

#2594 test(date-picker): updated date-picker demo according to Figma
  src/demos/calcite-date-picker.html
Labels: 2 - in development, docs, enhancement, testing

#2615 test(notice): updated demo page
  src/demos/calcite-notice.html
Labels: 1 - assigned, docs, enhancement, testing

#2671 build: update browserslist
  .browserslistrc
Labels: chore

#2672 chore: automate browserslist db update
  .github/workflows/update-browserslist-db.yml
Labels: chore

#2654 test: enhance drag-and-drop util and add mouse cursor tracking util
  src/tests/utils.ts
Labels: testing

#2653 feat(color-picker)!: introduce input event and modify change event to no longer fire as hue slider/color field thumbs are dragged
  src/components/calcite-color-picker/calcite-color-picker.e2e.ts
  src/components/calcite-color-picker/calcite-color-picker.tsx
Labels: enhancement
