Repository Esri/calcite-design-system, pull requests merged in 2022-07, with the labels that each got.

#4841 docs: update component READMEs
  src/components/color-picker-hex-input/readme.md
  src/components/color-picker/readme.md
  src/components/input/readme.md
Labels: docs

#4791 refactor(combobox): create openCloseComponent interface in global utils that defines methods for beforeOpen, open, beforeClose and close public events
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/utils/openCloseComponent.ts
Labels: refactor

#4848 fix(radio-group): fix form reset for radio groups with initial selected item
  src/components/radio-group/radio-group.e2e.ts
  src/components/radio-group/radio-group.tsx
Labels: bug

#4839 fix(color-picker): resize color field/hue slider canvas on scale change
  src/components/color-picker/color-picker.stories.ts
  src/components/color-picker/color-picker.tsx
Labels: bug

#4847 fix(date-picker): update Thai locale to use Buddhist calendar
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month-header/resources.ts
  src/components/date-picker/assets/date-picker/nls/th.json
  src/components/date-picker/date-picker.stories.ts
  src/components/date-picker/utils.ts
Labels: bug

#4846 fix(input): update number stepper buttons to work with both mouse/touch inputs
  src/components/input/input.tsx
Labels: bug

#4845 fix(color-picker): update color-field and hue slider to work with both mouse/touch inputs
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.scss
  src/components/color-picker/color-picker.tsx
Labels: bug

#4877 fix: (radio group) - apply forced-colors styles
  src/components/radio-group-item/radio-group-item.scss
Labels: bug, a11y

#4884 fix(Input): type number spinner buttons will no longer interact when disabled
  src/components/input/input.e2e.ts
  src/components/input/input.scss
  src/components/input/input.tsx
Labels: bug

#4875 refactor(flow): Use querySelectorAll to query panels.
  CHANGELOG.md
  src/components/flow/flow.e2e.ts
  src/components/flow/flow.tsx
Labels: refactor

#4887 docs(flow): Update story to use description instead of summary property.
  src/components/flow/flow.stories.ts
Labels: docs

#4886 fix(flow): Only set showBackButton on active panel.
  src/components/flow/flow.e2e.ts
  src/components/flow/flow.tsx
Labels: bug

#4885 fix(tooltip): Add aria-live="polite" for screen readers
  src/components/tooltip/tooltip.tsx
Labels: bug

#4809 fix(input): set the default numbering system for arab languages to latin
  src/components/input/input.stories.ts
  src/utils/locale.ts
Labels: bug

#4856 fix: css-only hydration to prevent FOUC (#991)
  .gitignore
  package.json
  src/assets/styles/global.scss
  stencil.config.ts
  support/hydrationStyles.ts
Labels: bug

#4891 chore(storybook): update static dir option
  .github/workflows/deploy-storybook.yml
  .storybook/main.ts
  package.json
  screener.config.js
Labels: chore

#4894 fix(popover): Add aria-live="polite" for screen readers
  src/components/popover/popover.tsx
Labels: bug

#4899 fix(radio-group-item): Add aria-label providing context to users
  src/components/radio-group-item/radio-group-item.tsx
Labels: bug

#4897 chore: properly filter non-component files when generating hydration styles
  support/hydrationStyles.ts
Labels: chore

#4836 feat(chip): add support for closed prop
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.scss
  src/components/chip/chip.tsx
Labels: enhancement

#4892 docs: update component READMEs
  src/components/list-item-group/readme.md
  src/components/list-item/readme.md
  src/components/list/readme.md
  src/components/loader/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/option-group/readme.md
  src/components/option/readme.md
  src/components/pagination/readme.md
  src/components/panel/readme.md
  src/components/pick-list-group/readme.md
  src/components/pick-list-item/readme.md
  src/components/pick-list/readme.md
  src/components/popover/readme.md
  src/components/progress/readme.md
  src/components/tooltip/readme.md
  src/components/tree-item/readme.md
  src/components/tree/readme.md
  src/components/value-list-item/readme.md
  src/components/value-list/readme.md
Labels: docs

#4775 feat(accordion-item,combobox,dropdown,modal): deprecate active prop for open in collapsible components
  src/components/accordion-item/accordion-item.scss
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.stories.ts
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/modal/modal.scss
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
Labels: enhancement

#4889 fix(label): deprecate disable-spacing property by allowing a css variable to override the bottom margin
  CHANGELOG.md
  src/components/label/label.scss
  src/components/label/label.stories.ts
  src/components/label/label.tsx
Labels: bug

#4901 chore: modify changelog to remove flow entry.
  CHANGELOG.md
Labels: chore

#4904 fix(action-bar, action-pad): Background color should be transparent on host.
  src/components/action-bar/action-bar.scss
  src/components/action-pad/action-pad.scss
Labels: bug

#4888 fix(input-date-picker): added readOnly prop support
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-date-picker/resources.ts
Labels: bug

#4910 feat(input-time-picker): add readOnly prop support
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
Labels: bug

#4905 fix(combobox): Correctly read back items in voiceover
  src/components/combobox/combobox.tsx
Labels: bug

#4908 fix(card): Prevent content from overflowing when corners are rounded
  src/components/card/card.scss
  src/components/card/card.stories.ts
Labels: bug

#4789 feat(chip,notice,panel,popover): deprecate dismissible & dismissed props and add support for closable & closed props
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.scss
  src/components/chip/chip.tsx
  src/components/notice/notice.e2e.ts
  src/components/notice/notice.tsx
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.tsx
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
Labels: refactor

#4914 docs(changelog): replacing breaking change from changelog with deprecation notice
  CHANGELOG.md
Labels: docs

#3680 chore(linting): enable CSS logical prop rules
  .stylelintrc.json
Labels: chore, Stale

#4913 fix(accordion, combobox, dropdown, tree): remove excessive borders in high contrast mode
  src/components/accordion-item/accordion-item.scss
  src/components/combobox-item-group/combobox-item-group.scss
  src/components/combobox-item/combobox-item.scss
  src/components/combobox/combobox.scss
  src/components/dropdown-item/dropdown-item.scss
  src/components/dropdown/dropdown.scss
  src/components/tree-item/tree-item.scss
  src/components/tree/tree.scss
Labels: bug

#4922 docs(changelog): remove duplicate label entry
  CHANGELOG.md
Labels: docs

#3765 build: use postcss to ensure logical prop usage
  .stylelintrc-postcss.json
  package-lock.json
  src/assets/styles/_popper.scss
  src/components/accordion-item/accordion-item.scss
  src/components/card/card.scss
  src/components/chip/chip.scss
  src/components/combobox-item-group/combobox-item-group.scss
  src/components/combobox-item/combobox-item.scss
  src/components/combobox/combobox.scss
  src/components/dropdown/dropdown.scss
  src/components/slider/slider.scss
  src/components/tab-nav/tab-nav.scss
  src/components/tree-item/tree-item.scss
  stencil.config.ts
Labels: chore

#4923 docs: update component READMEs
  src/components/accordion-item/readme.md
  src/components/chip/readme.md
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/icon/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-number/readme.md
  src/components/input-time-picker/readme.md
  src/components/label/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/panel/readme.md
  src/components/popover/readme.md
  src/components/progress/readme.md
  src/components/value-list/readme.md
Labels: docs

#4931 fix(accordion-item): add on-demand screen reader feedback to collapsed and expansion interaction
  src/components/accordion-item/accordion-item.tsx
Labels: bug

#4920 fix(card): align footer leading and trailing slots vertically.
  src/components/card/card.scss
Labels: bug

#3672 chore: warn on keypress, keyup usage in JSX for consistency
  .eslintrc.json
Labels: chore, Stale

#4367 fix(stepper): revisit horizontal layout approach to avoid rearranging the DOM
  src/components/stepper-item/stepper-item.scss
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/interfaces.ts
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.scss
  src/components/stepper/stepper.tsx
Labels: bug

#4941 chore(storybook): block indexing from search engines
  .storybook/manager-head.html
Labels: chore

#4942 docs: update component READMEs
  src/components/stepper-item/readme.md
Labels: docs

#4937 refactor(input-date-picker): to implement OpenCloseComponent interface
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Labels: refactor

#4921 refactor(dropdown): implement OpenCloseComponent interface
  src/components/dropdown/dropdown.tsx
Labels: refactor

#4915 refactor(alert): implement OpenCloseComponent interface
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.tsx
Labels: refactor

#4947 refactor(combobox): replace transitionrun with transitionstart and cleanup
  src/components/combobox/combobox.tsx
Labels: refactor

#4951 docs: update component READMEs
  src/components/alert/readme.md
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/input-date-picker/readme.md
Labels: docs

#4950 refactor(popover): implements OpenCloseComponent interface
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
Labels: refactor

#4907 fix(pick-list-item): Make label property required. (#3373)
  src/components/pick-list-item/pick-list-item.tsx
Labels: bug

#4952 chore(linting): replace deprecated prop for same line bracket
  .prettierrc.json
Labels: chore

#4962 fix(modal, alert, combobox, dropdown, input-date-picker, popover): Scope open and close events to component
  src/components/alert/alert.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/modal/modal.tsx
  src/components/popover/popover.tsx
Labels: bug

#4857 fix(action): updates line-height and affected y padding
  src/components/action/action.scss
  src/components/action/action.stories.ts
Labels: bug, 1 - assigned, milestone adjusted

#4964 fix(stepper-item): restore disabled styling on horizontal layout stepper items
  src/assets/styles/includes.scss
  src/components/stepper-item/stepper-item.scss
Labels: bug

#4966 fix(stepper-item): remove bottom margin on content from horizontal layout
  src/components/stepper-item/stepper-item.scss
Labels: bug

#4965 fix(stepper-item): avoid cursor-pointer on item content for horizontal layouts
  src/components/stepper-item/stepper-item.scss
Labels: bug

#4890 build: switch project module type to ESM
  .storybook/package.json
  .storybook/screener.config.js
  package-lock.json
  package.json
  support/checkSquashMergeableBranch.ts
  support/cleanOnProcessExit.ts
  support/deployNextFromCI.ts
  support/patchES5Helpers.ts
  support/prepReleaseCommit.ts
  support/prepublish.ts
  support/releaseToGitHub.ts
  tsconfig-node-scripts.json
Labels: chore

#3836 refactor: replace popper.js with floating-ui
  package-lock.json
  package.json
  src/assets/styles/_floating-ui.scss
  src/assets/styles/_popper.scss
  src/assets/styles/includes.scss
  src/components/action-menu/action-menu.tsx
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.scss
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.scss
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.stories.ts
  src/components/input-time-picker/input-time-picker.tsx
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.scss
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/split-button/split-button.tsx
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.scss
  src/components/tooltip/tooltip.stories.ts
  src/components/tooltip/tooltip.tsx
  src/tests/commonTests.ts
  src/utils/floating-ui.spec.ts
  src/utils/floating-ui.ts
  src/utils/popper.spec.ts
  src/utils/popper.ts
Labels: refactor, 1 - assigned

#4958 feat(accordion-item): add actions-end and actions-start slots
  src/components/accordion-item/accordion-item.e2e.ts
  src/components/accordion-item/accordion-item.scss
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion-item/resources.ts
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.stories.ts
Labels: enhancement, design

#4985 build(deps): bump @esri/eslint-plugin-calcite-components
  package-lock.json
  package.json
Labels: chore

#4936 feat(action-menu, date-picker, input-date-picker, input-time-picker, modal, tip-manager)!: use keydown for consistent interaction behavior
  src/components/action-menu/action-menu.tsx
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/modal/modal.tsx
  src/components/tip-manager/tip-manager.tsx
Labels: enhancement

#4995 fix(combobox): Remove popper remnants.
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.scss
Labels: bug

#4984 chore(linting): enable rule to help with key event consistency
  .eslintrc.json
Labels: chore

#4982 docs(accordion, accordion-item): Update docs to use heading and description props.
  src/05-custom-theme.stories.mdx
  src/components/accordion-item/accordion-item.e2e.ts
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/readme.md
  src/components/accordion/usage/Basic.md
  src/demos/accordion.html
Labels: docs

#4998 build: add __dirname vars that are missing in ESM
  support/patchES5Helpers.ts
  support/prepReleaseCommit.ts
Labels: chore

#4974 fix(accordion-item): allows initially expanded items to toggle
  src/components/accordion-item/accordion-item.scss
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.e2e.ts
Labels: bug

#4973 feat(notice): deprecate active prop and add support for open prop
  src/components/notice/notice.e2e.ts
  src/components/notice/notice.scss
  src/components/notice/notice.stories.ts
  src/components/notice/notice.tsx
  src/demos/notice.html
Labels: enhancement

#4999 docs(alert, combobox, dropdown, modal, input-date-picker, popover): restore JSDoc comments
  src/components/alert/alert.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/modal/modal.tsx
  src/components/popover/popover.tsx
Labels: refactor

#4963 docs: update component READMEs
  src/components/action-menu/readme.md
  src/components/alert/readme.md
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-time-picker/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/pick-list-item/readme.md
  src/components/popover/readme.md
  src/components/tooltip/readme.md
Labels: docs

#4977 fix(panel): removes dismissed prop on close
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.tsx
  src/demos/panel.html
Labels: bug

#5002 fix(combobox): Announce selection to assistive technologies in focus and on demand
  src/components/combobox/combobox.tsx
Labels: bug

#5007 build: fix dynamic import in prepReleaseCommit
  support/prepReleaseCommit.ts
Labels: chore

#4983 chore(linting): ban event/error param abbreviation
  .eslintrc.json
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.tsx
  src/components/alert/alert.tsx
  src/components/card/card.tsx
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/modal/modal.tsx
  src/components/split-button/split-button.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.tsx
  src/components/switch/switch.tsx
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.tsx
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.tsx
  src/utils/time.ts
Labels: chore

#4939 feat(modal,block,loader): deprecate disablePadding , noPadding and add support for custom CSS variables
  src/components/block/block.scss
  src/components/block/block.stories.ts
  src/components/block/block.tsx
  src/components/loader/loader.scss
  src/components/loader/loader.tsx
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
Labels: enhancement

#5001 chore(linting): fix event emitter type linting errors
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion-item/interfaces.ts
  src/components/accordion/accordion.tsx
  src/components/accordion/interfaces.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.tsx
  src/components/action-menu/action-menu.tsx
  src/components/action-pad/action-pad.tsx
  src/components/action/action.tsx
  src/components/alert/alert.tsx
  src/components/alert/interfaces.ts
  src/components/block-section/block-section.tsx
  src/components/block/block.tsx
  src/components/card/card.tsx
  src/components/checkbox/checkbox.tsx
  src/components/chip/chip.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.tsx
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown-group/interfaces.ts
  src/components/dropdown-item/dropdown-item.tsx
  src/components/handle/handle.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input/input.tsx
  src/components/interfaces.ts
  src/components/notice/notice.tsx
  src/components/option-group/option-group.tsx
  src/components/option/option.tsx
  src/components/panel/panel.tsx
  src/components/radio-button-group/radio-button-group.tsx
  src/components/radio-button/radio-button.tsx
  src/components/radio-group-item/radio-group-item.tsx
  src/components/shell-panel/shell-panel.tsx
  src/components/slider/slider.tsx
  src/components/sortable-list/sortable-list.tsx
  src/components/split-button/split-button.tsx
  src/components/switch/switch.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tile-select/tile-select.tsx
  src/components/tip-manager/tip-manager.tsx
  src/components/tip/tip.tsx
Labels: chore

#5009 docs: update component READMEs
  src/components/action-bar/readme.md
  src/components/action-menu/readme.md
  src/components/action-pad/readme.md
  src/components/action/readme.md
  src/components/block-section/readme.md
  src/components/block/readme.md
  src/components/card/readme.md
  src/components/checkbox/readme.md
  src/components/chip/readme.md
  src/components/color-picker-hex-input/readme.md
  src/components/color-picker/readme.md
  src/components/combobox-item/readme.md
  src/components/combobox/readme.md
  src/components/date-picker-day/readme.md
  src/components/date-picker-month/readme.md
  src/components/handle/readme.md
  src/components/input-number/readme.md
  src/components/input/readme.md
  src/components/loader/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/panel/readme.md
  src/components/radio-button-group/readme.md
  src/components/radio-button/readme.md
  src/components/shell-panel/readme.md
  src/components/slider/readme.md
  src/components/sortable-list/readme.md
  src/components/split-button/readme.md
  src/components/switch/readme.md
  src/components/tile-select/readme.md
  src/components/tip-manager/readme.md
  src/components/tip/readme.md
Labels: docs

#5010 build: fix dynamic ESM imports
  support/cleanOnProcessExit.ts
  support/prepReleaseCommit.ts
  support/releaseToGitHub.ts
Labels: chore

#5008 build(deps): bump @esri/eslint-plugin-calcite-components
  package-lock.json
  package.json
Labels: chore

#4949 fix(dropdown): Fix navigating without a dropdown-group
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
Labels: bug

#5006 fix(action-bar, action-pad): Allow users to define custom max-width with CSS
  src/components/action-bar/action-bar.scss
  src/components/action-bar/action-bar.stories.ts
  src/components/action-pad/action-pad.scss
  src/components/action-pad/action-pad.stories.ts
Labels: bug

#4838 feat(action-bar): Add property for "horizontal" layout
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.scss
  src/components/action-bar/action-bar.stories.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-bar/utils.ts
  src/components/action-group/action-group.tsx
  src/components/action-pad/action-pad.tsx
  src/demos/action.html
Labels: enhancement, design

#5000 fix(shell): Allow a single detached shell-panel at the end in content-behind mode
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell/readme.md
  src/components/shell/resources.ts
  src/components/shell/shell.e2e.ts
  src/components/shell/shell.scss
  src/components/shell/shell.stories.ts
  src/components/shell/shell.tsx
  src/components/shell/usage/Advanced.md
  src/components/shell/usage/With-panel-and-action-bar.md
  src/components/shell/usage/With-panels.md
  src/demos/shell/basic.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-3.html
  src/demos/shell/demo-app-advanced-center-row-async.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-blank.html
  src/demos/shell/demo-app-center-row-action-bar.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/nesting-testing.html
  src/demos/shell/panel-with-action-bar.html
  src/demos/shell/popup-config-example.html
  src/demos/theme/auto.html
Labels: bug, design, 1 - assigned, milestone adjusted

#4938 fix(stepper-item): Correctly emit position in calciteStepperItemChange event
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
Labels: bug

#5012 fix(pick-list, value-list): fix error when typing special regex chars
  src/components/filter/filter.tsx
  src/components/pick-list/shared-list-tests.ts
Labels: bug

#5019 build: fix CLI option handling in ESM scripts
  support/cleanOnProcessExit.ts
  support/prepReleaseCommit.ts
Labels: chore

#5018 docs: update component READMEs
  src/components/action-bar/readme.md
  src/components/action-pad/readme.md
  src/components/shell/readme.md
Labels: docs

#4979 fix(tab, tab-title): Fix accessibility and keyboard navigation
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab-title/tab-title.scss
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.e2e.ts
Labels: bug

#5014 fix(pick-list-group, tip, tip-manager, block, panel): headingLevel should not adjust styling
  src/assets/styles/_header.scss
  src/components/block/block.stories.ts
  src/components/panel/panel.stories.ts
  src/components/pick-list-group/pick-list-group.scss
  src/components/pick-list/pick-list.stories.ts
  src/components/tip-manager/tip-manager.scss
  src/components/tip-manager/tip-manager.stories.ts
  src/components/tip/tip.scss
Labels: bug

#4997 fix(dropdown,modal,combobox): active prop will be in sync with open prop
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.tsx
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.tsx
Labels: bug

#5031 test: fix async issues
  src/components/color-picker/color-picker.e2e.ts
  src/components/date-picker/date-picker.e2e.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/fab/fab.e2e.ts
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input/input.e2e.ts
  src/components/panel/panel.e2e.ts
  src/components/popover-manager/popover-manager.e2e.ts
  src/components/split-button/split-button.e2e.ts
  src/components/tabs/tabs.e2e.ts
  src/components/tree/tree.e2e.ts
Labels: testing

#5028 fix(date-picker): add short day names for pt-PT date picker
  src/components/date-picker/assets/date-picker/nls/pt-PT.json
  src/components/date-picker/date-picker.stories.ts
Labels: bug

#5015 fix(combobox, dropdown): Make sure menus do not take up more than half of available height by default
  src/components/combobox/combobox.scss
  src/components/combobox/combobox.stories.ts
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
  tailwind.config.ts
Labels: bug

#5029 feat(alert): deprecates active prop and syncs with open
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.scss
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
Labels: enhancement

#5034 fix(action-menu): Correctly close on touch devices
  src/components/action-menu/action-menu.tsx
Labels: bug

#4946 feat(input-text): create separate component for input type text
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.scss
  src/components/input-text/input-text.stories.ts
  src/components/input-text/input-text.tsx
  src/components/input-text/readme.md
  src/components/input-text/resources.ts
  src/demos/input-text.html
  src/index.html
Labels: enhancement

#5030 feat(dropdown): include selection-triggering item in select event payload
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/interfaces.ts
Labels: enhancement

#5039 docs: update component READMEs
  src/components/alert/readme.md
  src/components/dropdown/readme.md
  src/components/icon/readme.md
  src/components/input-text/readme.md
  src/components/progress/readme.md
Labels: docs

#5037 fix(slider): Focus active handle on pointerdown instead of click
  src/components/slider/slider.tsx
Labels: bug

#5035 refactor(combobox, dropdown): Use pointerdown in favor of onclick for events.
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
Labels: refactor

#5038 fix(modal): escape key closes modal when open on page load
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
Labels: bug

#5044 fix(notice,chip,popover): setting closable prop to false will remove dismissible prop
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.scss
  src/components/chip/chip.stories.ts
  src/components/chip/chip.tsx
  src/components/notice/notice.e2e.ts
  src/components/notice/notice.stories.ts
  src/components/notice/notice.tsx
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
Labels: bug

#4953 chore(linting): suggest alternative CSS approach for high specificity selectors
  .stylelintrc.json
Labels: chore

#5048 docs(value-list): remove invalid usage example
  src/components/value-list/usage/Label-editing-and-single-select.md
Labels: docs

#5045 fix(combobox): set min width of combobox items to match its input
  src/components/combobox/combobox.scss
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
Labels: bug

#5051 fix(stepper): allow overriding stepper width
  src/components/stepper/stepper.scss
  src/components/stepper/stepper.stories.ts
Labels: bug

#5050 docs(dropdown): dropdown-items must have a parent dropdown-group
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/readme.md
Labels: docs

#5054 docs: update component READMEs
  src/components/dropdown-group/readme.md
  src/components/dropdown/readme.md
  src/components/value-list/readme.md
Labels: docs

#4975 refactor(openCloseComponent, alert, combobox, dropdown, input-date-picker, modal, popover): reworked openCloseComponent Interface to apply connect pattern for consistency with other components
  src/components/alert/alert.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/modal/modal.tsx
  src/components/popover/popover.tsx
  src/utils/openCloseComponent.ts
Labels: refactor

#5046 fix(modal): improve interaction between modal and floating-ui-owning components
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
  src/tests/utils.ts
Labels: bug
