Repository Esri/calcite-design-system, pull requests merged in 2022-06, with the labels that each got.

#4195 feat(input): allow customizing numbering system
  src/components/input/input.stories.ts
  src/components/input/input.tsx
  src/utils/locale.ts
Labels: enhancement

#4666 docs: update component READMEs
  src/components/modal/readme.md
  src/components/notice/readme.md
Labels: docs

#4669 chore: Cleanup unused import in test.
  src/components/tooltip-manager/tooltip-manager.e2e.ts
Labels: chore

#4668 fix(action-menu): Hide tooltip when open. (#4609)
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-menu/action-menu.tsx
  src/components/functional/ExpandToggle.tsx
Labels: bug

#4671 fix(modal): Remove unused 'firstFocus' property. (#4613)
  src/components/modal/modal.tsx
Labels: bug

#4670 fix(flow): Only slotted panels should be managed. (#4667)
  src/components/flow/flow.e2e.ts
  src/components/flow/flow.tsx
Labels: bug

#4665 feat(popover, tooltip): Support virtual elements for positioning.
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.tsx
  src/components/popover/usage/Basic.md
  src/components/popover/usage/Manager.md
  src/components/popover/usage/Virtual.md
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.tsx
  src/components/tooltip/usage/Virtual.md
  src/utils/popper.ts
Labels: enhancement

#4677 build(storybook): pin cheerio to pre-CJS/ESM version
  package-lock.json
  package.json
Labels: chore

#4680 feat(tooltip): Add property to close tooltip when referenceElement is clicked
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.tsx
Labels: enhancement

#4657 docs(internal): globalAttributes util usage
  conventions/README.md
Labels: docs

#4635 feat(dropdown): Set dropdown minimum width to width of the trigger
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
Labels: enhancement

#4607 feat(card): horizontal thumbnail layout
  .storybook/resources.ts
  src/components/card/card.scss
  src/components/card/card.stories.ts
  src/components/card/card.tsx
  src/components/card/resources.ts
  src/components/interfaces.ts
  src/demos/card.html
Labels: enhancement

#4687 build: update browserslist db
  package-lock.json
Labels: chore

#4683 fix(panel): Add back z-index usage for internal component styles
  src/components/panel/panel.scss
Labels: bug

#4684 fix(tooltip): Remove internal flex display. (#4631)
  src/components/tooltip/tooltip.scss
Labels: bug

#4690 docs(tooltip): style guide api consistency
  src/components/tooltip/tooltip.tsx
Labels: docs

#4679 fix(input): support larger than 64-bit floating point numbers without losing precision
  conventions/README.md
  src/components/input/input.e2e.ts
  src/utils/locale.ts
  src/utils/number.spec.ts
  src/utils/number.ts
  tsconfig-base.json
Labels: bug

#4711 fix(tooltip): Fix syntax typo in `TooltipManager`
  src/components/tooltip/TooltipManager.ts
Labels: bug

#4709 refactor(combobox-item): enable filter-disabled prop support
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/demos/combobox.html
  src/utils/filter.ts
Labels: refactor

#4727 test(tooltip, popover): Add tests for virtual reference elements
  src/components/popover/popover.e2e.ts
  src/components/tooltip/tooltip.e2e.ts
Labels: testing, 1 - assigned

#4694 fix(label): expose bottom margin value and remove the disable-spacing property
  src/components/label/label.scss
  src/components/label/label.tsx
  src/demos/input.html
Labels: bug

#4717 feat(action): Add css variable to override indicator color
  src/components/action/action.scss
Labels: enhancement

#4729 feat(tabs,tab-nav,tab-title): add top,bottom values for position prop
  src/components/tab-nav/tab-nav.scss
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab-title/tab-title.scss
  src/components/tabs/interfaces.ts
  src/components/tabs/tabs.e2e.ts
  src/components/tabs/tabs.scss
  src/components/tabs/tabs.tsx
Labels: enhancement

#4693 refactor(alert): added 'before' events for events that fire after transition
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.tsx
  src/components/alert/resources.ts
Labels: enhancement

#4673 docs: update component READMEs
  src/components/card/readme.md
  src/components/dropdown/readme.md
  src/components/input/readme.md
  src/components/modal/readme.md
  src/components/popover/readme.md
  src/components/tooltip/readme.md
Labels: docs

#4732 feat(accordion-item,stepper-item,block,panel): add heading & description prop
  src/components/accordion-item/accordion-item.scss
  src/components/accordion-item/accordion-item.tsx
  src/components/block/block.e2e.ts
  src/components/block/block.scss
  src/components/block/block.tsx
  src/components/block/resources.ts
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.scss
  src/components/panel/panel.tsx
  src/components/panel/resources.ts
  src/components/stepper-item/stepper-item.scss
  src/components/stepper-item/stepper-item.tsx
Labels: enhancement

#4742 test(modal): remove test for firstFocus property
  src/components/modal/modal.e2e.ts
Labels: testing

#4740 refactor: Update toAriaBoolean DOM utility to use Boolean function.
  src/utils/dom.ts
Labels: refactor

#4737 feat(stepper): Add calciteStepperItemChange event
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
Labels: enhancement

#4739 fix: Make sure component setFocus methods do not throw error
  src/components/accordion/accordion.tsx
  src/components/action-bar/action-bar.tsx
  src/components/action-pad/action-pad.tsx
  src/components/action/action.tsx
  src/components/button/button.tsx
  src/components/color-picker/color-picker.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/handle/handle.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/rating/rating.tsx
  src/components/slider/slider.tsx
  src/components/stepper/stepper.tsx
  src/components/tab-nav/tab-nav.tsx
  src/components/tile-select/tile-select.tsx
  src/components/tree-item/tree-item.tsx
  src/components/value-list/value-list.tsx
Labels: bug

#4710 refactor(combobox): added 'before' events for events that fire after transition
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/resources.ts
Labels: refactor

#4763 build(deps): Revert cheerio to 1.0.0-rc.10 to fix storybook
  package-lock.json
  package.json
Labels: chore

#4745 fix(stepper): setting active property should update content
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.stories.ts
  src/components/stepper/stepper.tsx
Labels: bug

#4767 fix(stepper): remove invalid layout value (#4766)
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.tsx
Labels: bug

#4714 fix(tabs): update style for centered and bordered tab titles
  src/components/tab-nav/tab-nav.scss
  src/components/tab-title/tab-title.scss
  src/components/tab-title/tab-title.tsx
Labels: bug

#4718 docs(ref): implement style guide for components that start with 'a'
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.tsx
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.scss
  src/components/action-group/action-group.tsx
  src/components/action-menu/action-menu.tsx
  src/components/action-pad/action-pad.tsx
  src/components/action/action.tsx
  src/components/alert/alert.scss
  src/components/alert/alert.tsx
  src/components/avatar/avatar.tsx
Labels: docs

#4790 feat(block): support noPadding property
  src/components/block/block.scss
  src/components/block/block.stories.ts
  src/components/block/block.tsx
Labels: enhancement

#4797 refactor(dropdown): added 'before' events for events that fire after transition
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/resources.ts
Labels: refactor

#4808 refactor(combobox): rename functions that emit open/close events
  src/components/combobox/combobox.tsx
Labels: refactor

#4811 docs: update component READMEs
  src/components/accordion-item/readme.md
  src/components/accordion/readme.md
  src/components/action-bar/readme.md
  src/components/action-group/readme.md
  src/components/action-menu/readme.md
  src/components/action-pad/readme.md
  src/components/action/readme.md
  src/components/alert/readme.md
  src/components/avatar/readme.md
  src/components/block/readme.md
  src/components/combobox-item/readme.md
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/label/readme.md
  src/components/panel/readme.md
  src/components/stepper-item/readme.md
  src/components/stepper/readme.md
  src/components/tabs/readme.md
Labels: docs

#4810 fix(popover): autoClose property should work in Shadow DOM
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.e2e.ts
  src/utils/dom.e2e.ts
  src/utils/dom.ts
Labels: bug

#4784 feat(combobox): add support for placeholder icon & no longer display leading space for placeholder text
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
Labels: enhancement

#4823 fix(dropdown): Restore trigger container to flex-auto
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
Labels: bug

#4822 fix(accordion-item): Indicate whether accordion is expanded to screen readers.
  src/components/accordion-item/accordion-item.tsx
Labels: bug

#4828 docs: update component READMEs
  src/components/block/readme.md
  src/components/combobox/readme.md
Labels: docs

#4801 feat(color-picker): support customizing numbering system for locale
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
Labels: enhancement

#4816 fix(combobox): Correctly honor max-items
  src/components/combobox/combobox.tsx
Labels: bug

#4827 feat(input): add selectText method
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Labels: enhancement

#4798 docs(input): proofread and update api reference
  src/components/input/input.tsx
Labels: docs
