Repository Esri/calcite-design-system, pull requests merged in 2022-03, with the labels that each got.

#4175 fix(action, loader): adjust the loadable icon size to match regular icon size
  src/components/action/action.tsx
  src/components/loader/loader.scss
  src/components/pick-list/shared-list-logic.ts
Labels: bug

#4170 fix(tree, tree-item): calciteTreeSelect only emits when item is selected and not on toggle parent icon
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.e2e.ts
Labels: bug

#4167 refactor(tree, tree-item): allow all arrow keydown events to propagate outside the root tree element
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.tsx
Labels: refactor

#4173 fix(slider): aria-role is assigned to appropriate element
  src/components/slider/slider.stories.ts
  src/components/slider/slider.tsx
  src/demos/slider.html
Labels: bug

#4177 fix(pick-list): change unselected items to be untabbable when an item is selected
  src/components/pick-list/shared-list-tests.ts
  src/components/value-list/value-list.tsx
Labels: bug

#4181 fix: solve regression with preact type generation
  support/preact.ts
Labels: bug

#4204 build(deps): drop unused posthtml
  package-lock.json
  package.json
Labels: chore

#4205 build: update browserslist db
  package-lock.json
Labels: chore

#4207 fix(filter): filter method runs on load in case there is a predefined search value prop
  src/components/filter/filter.e2e.ts
  src/components/filter/filter.tsx
Labels: bug

#4029 fix(label, input, label util): clicking the label always triggers a "click" event, whether the label was added before component was added or after
  src/components/label/label.tsx
  src/tests/commonTests.ts
  src/utils/label.spec.ts
  src/utils/label.ts
Labels: bug

#4209 docs: update component READMEs
  src/components/filter/readme.md
Labels: docs

#4219 docs: update component READMEs
  src/components/color-picker/readme.md
  src/components/filter/readme.md
  src/components/label/readme.md
  src/components/list/readme.md
  src/components/pick-list/readme.md
  src/components/scrim/readme.md
  src/components/tile-select-group/readme.md
  src/components/value-list/readme.md
Labels: docs

#4230 build: update browserslist db
  package-lock.json
Labels: chore

#4217 build(tailwind): add content paths
  tailwind.config.ts
Labels: chore

#4233 build(deps): bump @popperjs/core from 2.11.2 to 2.11.4
  package-lock.json
  package.json
Labels: chore

#4073 feat(combobox, dropdown, input-date-picker): Add flipPlacements property
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/resources.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/interfaces.ts
  src/components/dropdown/resources.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/utils/popper.ts
Labels: enhancement, 1 - assigned, Stale

#4236 docs: update component READMEs
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/input-date-picker/readme.md
Labels: docs

#4074 fix(action-menu): Correctly set flipPlacements on popover.
  src/components/action-menu/action-menu.tsx
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/popover/resources.ts
Labels: bug, 1 - assigned

#4239 fix(popover, tooltip, combobox, dropdown, input-date-picker): display escaped poppers
  src/assets/styles/_popper.scss
  src/components/popover/popover.e2e.ts
Labels: bug

#4245 fix(pick-list): only remove group if removable item is slotted as parent
  src/components/pick-list/shared-list-logic.ts
  src/components/pick-list/shared-list-tests.ts
Labels: bug

#4244 fix(dropdown-item): ensure dropdown items are initialized properly
  src/components/dropdown-item/dropdown-item.tsx
Labels: bug

#4247 docs: update component READMEs
  src/components/action-menu/readme.md
  src/components/popover/readme.md
Labels: docs

#4243 fix(dropdown): trigger keydown handler should only work for trigger element
  src/components/dropdown/dropdown.tsx
Labels: bug

#4241 fix(action-bar, action-pad): allow expanding via API when expandDisabled. #4169
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-pad/action-pad.e2e.ts
  src/components/action-pad/action-pad.tsx
Labels: bug

#4251 fix(input-date-picker): fix issue where clicking on the date picker would immediately close it
  src/components/input-date-picker/input-date-picker.scss
Labels: bug

#4263 build(action): ensure PR title is not truncated
  .github/workflows/pr-untruncated.yml
Labels: chore

#4253 feat(input-date-picker, input-time-picker): add placement props
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.stories.ts
  src/components/input-time-picker/input-time-picker.tsx
Labels: enhancement

#4252 fix(date-picker): Allow changing year in header when minValue/maxValue are set.
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker/date-picker.e2e.ts
Labels: bug

#4273 refactor(tab-title, tab): clean up
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.tsx
Labels: refactor

#4250 fix(tab-title, tab): Support nested tabs
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.e2e.ts
Labels: bug

#4271 docs: update component READMEs
  src/components/input-date-picker/readme.md
  src/components/input-time-picker/readme.md
  src/components/slider/readme.md
Labels: docs

#4160 fix(modal): focus traps when close button is disabled
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.tsx
Labels: bug

#4176 fix(combobox-item): items align to left when added dynamically
  src/components/combobox-item/combobox-item.scss
  src/components/combobox/combobox.stories.ts
Labels: bug

#4278 build: update browserslist db
  package-lock.json
Labels: chore

#4308 docs: update tip manager prop desc
  src/components/tip-manager/tip-manager.tsx
Labels: docs

#4303 build: add version to preamble
  package.json
  stencil.config.ts
Labels: chore

#4316 build: update browserslist db
  package-lock.json
Labels: chore

#4280 fix(tooltip): Removes console error when querying the tooltip
  src/utils/dom.ts
Labels: bug

#4321 fix(input-time-picker, time-picker): fixing direct value setting issue where the minutes and seconds weren't respected when a default value is supplied
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/time-picker/time-picker.e2e.ts
  src/components/time-picker/time-picker.tsx
Labels: bug

#4331 chore: remove issue template for questions
  .github/ISSUE_TEMPLATE/question.yml
Labels: chore

#4295 docs(conventions): separation of concerns for the internal doc
  conventions/Accessibility.md
  conventions/Documentation.md
  conventions/Internationalization.md
  conventions/README.md
  conventions/Styling.md
  conventions/Testing.md
  src/01-introduction.stories.mdx
  src/02-contributing.stories.mdx
  src/03-code-of-conduct.stories.mdx
  src/04-licensing.stories.mdx
  src/05-custom-theme.stories.mdx
  src/06-faq.stories.mdx
  src/07-conventions.stories.mdx
  src/08-testing.stories.mdx
  src/09-styling.stories.mdx
  src/10-documentation.stories.mdx
  src/11-accessibility.stories.mdx
  src/12-internationalization.stories.mdx
Labels: Stale

#4332 test: remove unnecessary polyfill
  src/utils/label.spec.ts
Labels: testing

#4351 fix(tabs): update active tab styling on resize
  src/components/tab-nav/tab-nav.e2e.ts
  src/components/tab-nav/tab-nav.tsx
Labels: bug
