Repository Esri/calcite-design-system, pull requests merged in 2022-05, with the labels that each got.

#4480 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore, dependencies

#4476 docs: update component READMEs
  src/components/filter/readme.md
  src/components/icon/readme.md
  src/components/input/readme.md
  src/components/pick-list/readme.md
  src/components/value-list/readme.md
Labels: docs

#4479 docs: consistent api refs for value-list and value-list-item
  src/components/value-list-item/value-list-item.tsx
  src/components/value-list/value-list.tsx
Labels: docs

#4472 fix(checkbox): no longer displays focus outline in chrome and FF
  src/components/checkbox/checkbox.scss
  src/components/checkbox/checkbox.stories.ts
Labels: bug

#4484 refactor(commonTests): Cleanup formatting.
  src/tests/commonTests.ts
Labels: refactor

#4475 build: update browserslist db
  package-lock.json
Labels: chore

#4485 docs: update component READMEs
  src/components/value-list-item/readme.md
  src/components/value-list/readme.md
Labels: docs

#4457 fix(slider): prevent parent word-break from breaking labels
  src/components/slider/slider.scss
  src/components/slider/slider.stories.ts
Labels: bug

#4482 refactor(action-menu): Store tooltip using assignedElements on slotChange
  src/components/action-menu/action-menu.tsx
Labels: refactor

#4375 fix(split-button): Enable keyboard navigation
  src/components/dropdown/dropdown.tsx
  src/components/split-button/split-button.e2e.ts
Labels: bug, 2 - in development, architecture, p - medium

#4471 fix(input): up key moves caret to the beginning of text for text input and text area, for number it only increments
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Labels: bug

#4464 fix(combobox): when listbox item is selected with a click, "tab" will now close the listbox and unfocus the element before moving to the next
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/resources.ts
Labels: bug

#4497 docs: update component READMEs
  src/components/tree-item/readme.md
  src/components/tree/readme.md
Labels: docs

#4486 fix(input-date-picker): no longer allows selection before minAsDate and after maxAsDate
  src/components/date-picker/date-picker.stories.ts
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.tsx
Labels: bug

#4498 fix(label): fix memory leak from label util
  src/utils/label.ts
Labels: bug

#4499 fix(form): keep track of bound form reset event handlers to plug memory leak
  src/utils/form.tsx
Labels: bug

#4501 fix(date-picker): displays appropriate last date of previous month
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.stories.ts
Labels: bug

#4487 docs(internal): add jsdoc for common test helpers
  src/tests/commonTests.ts
Labels: docs

#4503 fix(shell-panel): Remove border on slotted panels that are dismissed
  src/components/shell-panel/shell-panel.scss
  src/components/shell/shell.stories.ts
Labels: bug

#4505 build: update browserslist db
  package-lock.json
Labels: chore

#4439 fix(input, combobox, input-date-picker, input-time-picker): Enter key event should submit form
  src/components/button/button.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/filter/filter.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/demos/_assets/demo-form.ts
  src/tests/commonTests.ts
  src/utils/form.tsx
Labels: bug

#4493 fix(color-picker): color field and hue slider thumbs do not overflow container
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.scss
  src/components/color-picker/color-picker.stories.ts
Labels: bug

#4463 fix(input): stop emitting change event on blur when the value is set directly
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Labels: bug

#4491 refactor(stepper, stepper-item): Clean up code and add additional types
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/interfaces.ts
  src/components/stepper/stepper.tsx
Labels: refactor

#4374 fix(panel): Conditionally set tabindex on scrollable area.
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.tsx
Labels: bug, Stale

#4517 fix(slider): add high contrast specific styles for component
  src/components/slider/slider.scss
Labels: bug

#4490 fix(stepper): Selection methods should ignore disabled items
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
Labels: bug, 2 - in development

#4502 docs(tab-title): calciteTabsActivate emits tab property or index position
  src/components/tab-title/tab-title.tsx
Labels: docs

#4521 refactor(stepper): Fix direction setting.
  src/components/stepper/stepper.tsx
Labels: refactor

#4513 docs(demos): finalize demo homepage
  src/demos/graph.html
  src/demos/shell/popup-config-example.html
  src/demos/theme/auto.html
  src/index.html
Labels: docs

#4523 test(color-picker): Fix build error.
  src/components/color-picker/color-picker.e2e.ts
Labels: testing

#4522 refactor(stepper): Cleanup code from review.
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
Labels: refactor

#4520 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore, dependencies

#4515 fix(stepper-item): focus outline wraps item title
  src/components/stepper-item/stepper-item.scss
  src/components/stepper/stepper.stories.ts
Labels: bug

#4528 docs: update component READMEs
  package-lock.json
  src/components/stepper/readme.md
  src/components/tab-title/readme.md
Labels: docs

#4530 fix(graph): Set default height to 100%
  src/components/graph/graph.scss
  src/components/graph/graph.stories.ts
  src/demos/graph.html
Labels: bug

#4536 docs(block): add default doc tag
  src/components/block/block.tsx
Labels: docs

#4542 docs: consistent api styles
  src/components/list-item-group/list-item-group.tsx
  src/components/list-item/list-item.tsx
  src/components/list/list.tsx
  src/components/loader/loader.scss
  src/components/loader/loader.tsx
Labels: docs

#4496 refactor: use calciteInternal prefix for internal events
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.tsx
  src/components/alert/alert.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.tsx
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.tsx
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/option-group/option-group.tsx
  src/components/option/option.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list/pick-list.tsx
  src/components/pick-list/shared-list-logic.ts
  src/components/radio-group-item/radio-group-item.tsx
  src/components/radio-group/radio-group.tsx
  src/components/select/select.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.tsx
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.tsx
  src/components/time-picker/time-picker.tsx
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.tsx
  src/components/value-list/value-list.tsx
  src/demos/input-time-picker.html
Labels: refactor

#4533 test(action-bar): Fix skipped test
  src/components/action-bar/action-bar.e2e.ts
Labels: testing

#4525 fix(date-picker): display correct day abbreviations when locale='ru'
  src/components/date-picker/assets/date-picker/nls/ru.json
  src/components/date-picker/date-picker.stories.ts
Labels: bug

#4548 docs: update component READMEs
  src/components/list-item-group/readme.md
  src/components/list-item/readme.md
  src/components/list/readme.md
  src/components/loader/readme.md
Labels: docs

#4550 build(deps): install jsdoc eslint plugin
  .eslintrc.json
  package-lock.json
  package.json
Labels: chore

#4540 feat(popover): Add triggerDisabled property to disable automatically toggling a popover via mouse or keyboard
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
Labels: bug

#4552 test(action-bar): Fix timing issue.
  src/components/action-bar/action-bar.e2e.ts
Labels: testing

#4553 docs: re-add backticks
  src/components/list-item-group/list-item-group.tsx
  src/components/list-item/list-item.tsx
  src/components/list/list.tsx
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.tsx
  src/components/value-list/value-list.tsx
Labels: docs

#4555 docs: update component READMEs
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/input/readme.md
  src/components/panel/readme.md
  src/components/popover/readme.md
Labels: docs

#4556 build: update browserslist db
  package-lock.json
Labels: chore

#4563 docs: update component READMEs
  src/components/list-item-group/readme.md
  src/components/list-item/readme.md
  src/components/list/readme.md
  src/components/tree-item/readme.md
  src/components/tree/readme.md
  src/components/value-list/readme.md
Labels: docs

#4554 docs(internal): add jsdoc to test utils exported functions
  src/tests/utils.ts
Labels: docs

#4562 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore, dependencies

#4565 fix(stepper): Add high contrast specific styles to stepper
  src/components/stepper-item/stepper-item.scss
Labels: bug

#4572 fix(input-message): remove the scaling transition effect when displaying an input message
  src/components/input-message/input-message.scss
Labels: bug

#4575 fix: patch __spreadArray helper to work around tslib bug (#4481)
  package.json
  support/patchES5Helpers.ts
Labels: bug

#4573 fix(stepper): Stepper methods should replace active content correctly
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
Labels: bug

#4602 test(action-bar): Stabilize menuOpen test.
  src/components/action-bar/action-bar.e2e.ts
Labels: testing

#4604 test(action-bar): Stabilize test.
  src/components/action-bar/action-bar.e2e.ts
Labels: testing

#4601 fix(input): Align type="time" correctly in Firefox
  src/components/input/input.scss
Labels: bug

#4605 test(action-bar): Fix stability of test.
  src/components/action-bar/action-bar.e2e.ts
Labels: testing

#4581 fix(popover, tooltip, alert, tree-item): Make component invisible and have no pointer events by default
  src/assets/styles/_popper.scss
  src/assets/styles/global.scss
  src/assets/styles/includes.scss
  src/components/alert/alert.scss
  src/components/input-message/input-message.scss
  src/components/tree-item/tree-item.scss
Labels: bug

#4516 feat: drop focus transitions to look snappier
  src/assets/styles/_focus.scss
  src/components/button/button.scss
  src/components/checkbox/checkbox.scss
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-month-header/date-picker-month-header.scss
  src/components/input/input.scss
  src/components/notice/notice.scss
  src/components/radio-button/radio-button.scss
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.scss
  src/components/tile-select/tile-select.scss
  tailwind.config.ts
Labels: enhancement

#4615 fix(dropdown-item, dropdown-group): text align to "start" by default.
  src/components/dropdown-group/dropdown-group.scss
  src/components/dropdown-item/dropdown-item.scss
  src/components/dropdown/dropdown.stories.ts
Labels: bug

#4625 fix(dropdown-item): Only prevent default event for specific keys.
  src/components/dropdown-item/dropdown-item.tsx
Labels: bug

#4630 docs(modal): consistent api refs
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
Labels: docs

#4659 build: update browserslist db
  package-lock.json
Labels: chore

#4658 docs: update component READMEs
  src/components/modal/readme.md
Labels: docs

#4663 fix: Ensure components are using logical css properties for margin and padding.
  src/components/action/action.scss
  src/components/chip/chip.scss
  src/components/date-picker-day/date-picker-day.scss
  src/components/filter/filter.scss
  src/components/input-date-picker/input-date-picker.scss
  src/components/label/label.scss
  src/components/list-item-group/list-item-group.scss
  src/components/list-item/list-item.scss
  src/components/pagination/pagination.scss
  src/components/tab-title/tab-title.scss
  src/components/tile-select-group/tile-select-group.scss
Labels: bug
