Repository Esri/calcite-design-system, pull requests merged in 2022-08, with the labels that each got.

#5057 fix(tree): fix keyboard navigation when wrapped in shadow DOM
  src/components/tree/tree.tsx
Labels: bug

#5058 fix: apply layered z-indices across components
  src/assets/styles/_floating-ui.scss
  src/components/action/action.scss
  src/components/alert/alert.scss
  src/components/card/card.scss
  src/components/color-picker-hex-input/color-picker-hex-input.scss
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-month-header/date-picker-month-header.scss
  src/components/input-date-picker/input-date-picker.scss
  src/components/input-number/input-number.scss
  src/components/input-text/input-text.scss
  src/components/input/input.scss
  src/components/modal/modal.scss
  src/components/panel/panel.scss
  src/components/pick-list/pick-list.scss
  src/components/progress/progress.scss
  src/components/radio-group/radio-group.scss
  src/components/scrim/scrim.scss
  src/components/shell-panel/shell-panel.scss
  src/components/shell/shell.scss
  src/components/tile-select/tile-select.scss
  src/components/tree-item/tree-item.scss
  src/components/value-list/value-list.scss
  tailwind.config.ts
Labels: bug

#5061 fix(tab): Screen reader support to access tab content
  src/components/tab/tab.tsx
Labels: bug

#5059 feat: ensure global hidden attribute is honored for all components
  src/assets/styles/includes.scss
  src/components/accordion-item/accordion-item.e2e.ts
  src/components/accordion/accordion.e2e.ts
  src/components/alert/alert.e2e.ts
  src/components/button/button.e2e.ts
  src/components/card/card.e2e.ts
  src/components/checkbox/checkbox.e2e.ts
  src/components/chip/chip.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker-swatch/color-picker-swatch.e2e.ts
  src/components/dropdown-group/dropdown-group.e2e.ts
  src/components/dropdown-item/dropdown-item.e2e.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/graph/graph.e2e.ts
  src/components/icon/icon.e2e.ts
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-message/input-message.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input-text/input-text.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input/input.e2e.ts
  src/components/label/label.e2e.ts
  src/components/link/link.e2e.ts
  src/components/loader/loader.e2e.ts
  src/components/modal/modal.e2e.ts
  src/components/notice/notice.e2e.ts
  src/components/option-group/option-group.e2e.ts
  src/components/option/option.e2e.ts
  src/components/pick-list-group/pick-list-group.e2e.ts
  src/components/pick-list-item/pick-list-item.e2e.ts
  src/components/popover/popover.e2e.ts
  src/components/progress/progress.e2e.ts
  src/components/radio-group-item/radio-group-item.e2e.ts
  src/components/radio-group/radio-group.e2e.ts
  src/components/rating/rating.e2e.ts
  src/components/select/select.e2e.ts
  src/components/slider/slider.e2e.ts
  src/components/split-button/split-button.e2e.ts
  src/components/stepper-item/stepper-item.e2e.ts
  src/components/stepper/stepper.e2e.ts
  src/components/switch/switch.e2e.ts
  src/components/tab-nav/tab-nav.e2e.ts
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab/tab.e2e.ts
  src/components/tabs/tabs.e2e.ts
  src/components/tile-select-group/tile-select-group.e2e.ts
  src/components/tile/tile.e2e.ts
  src/components/time-picker/time-picker.e2e.ts
  src/components/tip-manager/tip-manager.e2e.ts
  src/components/tooltip/tooltip.e2e.ts
  src/components/tree-item/tree-item.e2e.ts
  src/components/tree/tree.e2e.ts
  src/components/value-list-item/value-list-item.e2e.ts
Labels: enhancement

#5081 fix(action-menu): Fix focus styling and opening behavior
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-menu/action-menu.scss
  src/components/action-menu/action-menu.stories.ts
  src/components/action-menu/action-menu.tsx
Labels: bug

#5093 feat(tab,tab-title): deprecate active and add selected prop
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab-title/tab-title.scss
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.e2e.ts
  src/components/tab/tab.scss
  src/components/tab/tab.tsx
  src/demos/tabs.html
Labels: enhancement

#5100 docs: update component READMEs
  src/components/tab-title/readme.md
  src/components/tab/readme.md
Labels: docs

#5105 docs: api styling consistency for radio components and rating
  src/components/radio-button-group/radio-button-group.tsx
  src/components/radio-button/radio-button.tsx
  src/components/radio-group-item/radio-group-item.tsx
  src/components/radio-group/radio-group.tsx
  src/components/rating/rating.scss
  src/components/rating/rating.tsx
Labels: docs

#5106 refactor: deconstruct event key
  src/components/accordion/accordion.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/dropdown/dropdown.tsx
  src/components/radio-button/radio-button.tsx
  src/components/radio-group/radio-group.tsx
  src/components/slider/slider.tsx
  src/components/switch/switch.tsx
  src/components/time-picker/time-picker.tsx
Labels: refactor

#5107 refactor(time-picker): drop obsolete Spacebar key value check
  src/components/time-picker/time-picker.tsx
Labels: refactor

#5108 refactor: use activationKey util
  src/components/block-section/block-section.tsx
  src/components/checkbox/checkbox.tsx
  src/components/color-picker/color-picker.tsx
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/popover/PopoverManager.ts
  src/components/slider/slider.tsx
  src/components/switch/switch.tsx
Labels: refactor

#5110 docs: update component READMEs
  src/components/radio-button-group/readme.md
  src/components/radio-button/readme.md
  src/components/radio-group-item/readme.md
  src/components/radio-group/readme.md
  src/components/rating/readme.md
Labels: docs

#5112 fix(tabs): reverts regression that makes tabs ignore layout center
  src/components/tab-nav/tab-nav.scss
  src/components/tabs/tabs.stories.ts
Labels: bug

#5064 ci(dependabot): change back to tuesdays
  .github/dependabot.yml
Labels: Stale

#5104 feat: emit calciteThemeChange event when dynamically toggling between light and dark modes
  src/utils/globalScript.ts
  src/utils/resources.ts
  src/utils/theme.ts
  stencil.config.ts
Labels: enhancement

#5124 docs: improve overlayPositioning property description
  src/components/action-menu/action-menu.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/popover/popover.tsx
  src/components/split-button/split-button.tsx
  src/components/tooltip/tooltip.tsx
Labels: docs

#5125 docs(handle, pick-list-item, rating): remove repeat the in comments
  src/components/handle/handle.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/rating/rating.tsx
Labels: docs

#5126 build(deps): downgrade stencil due to unresolved tree shaking bug
  package-lock.json
  package.json
Labels: chore

#5083 fix: ensure handled key events are canceled and ignore canceled-events
  conventions/README.md
  src/components/action-menu/action-menu.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.tsx
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/dropdown/dropdown.tsx
  src/components/filter/filter.tsx
  src/components/handle/handle.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/modal/modal.tsx
  src/components/panel/panel.tsx
  src/components/popover/PopoverManager.ts
  src/components/radio-button/radio-button.tsx
  src/components/switch/switch.tsx
  src/components/time-picker/time-picker.tsx
  src/components/value-list/value-list.tsx
  src/utils/form.spec.ts
  src/utils/form.tsx
Labels: bug

#5135 docs: update component READMEs
  src/components/action-menu/readme.md
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/handle/readme.md
  src/components/input-date-picker/readme.md
  src/components/popover/readme.md
  src/components/split-button/readme.md
  src/components/tooltip/readme.md
Labels: docs

#5133 docs: consistent api ref s-named components
  src/components/scrim/scrim.tsx
  src/components/select/select.scss
  src/components/select/select.tsx
  src/components/shell-center-row/shell-center-row.tsx
  src/components/shell-panel/shell-panel.tsx
  src/components/shell/shell.scss
  src/components/shell/shell.tsx
  src/components/slider/slider.tsx
  src/components/split-button/split-button.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.tsx
  src/components/switch/switch.tsx
Labels: docs

#5140 docs: update component READMEs
  src/components/scrim/readme.md
  src/components/select/readme.md
  src/components/shell-center-row/readme.md
  src/components/shell-panel/readme.md
  src/components/shell/readme.md
  src/components/slider/readme.md
  src/components/split-button/readme.md
  src/components/stepper-item/readme.md
  src/components/stepper/readme.md
  src/components/switch/readme.md
Labels: docs

#5145 fix: patch esm resolution issue causing webpack build error
  package.json
  support/patchESMResolution.ts
Labels: bug

#5153 fix(radio-button-group): fix incorrect event payload type
  src/components/radio-button-group/radio-button-group.tsx
Labels: bug

#5128 feat(tree): add none selection mode
  src/components/tree-item/resources.ts
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/interfaces.ts
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.stories.ts
  src/components/tree/tree.tsx
  src/demos/tree.html
Labels: enhancement

#5173 docs: update component READMEs
  src/components/radio-button-group/readme.md
  src/components/tree/readme.md
Labels: docs

#5172 refactor(input-time-picker, tab-nav): remove duplicate stopPropagations
  src/components/input-time-picker/input-time-picker.tsx
  src/components/tab-nav/tab-nav.tsx
Labels: refactor

#5097 feat(stepper-item,dropdown-item): deprecate active and add support for selected prop
  src/components/dropdown-item/dropdown-item.scss
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/stepper-item/stepper-item.scss
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.stories.ts
Labels: enhancement

#5174 fix(scrim): reverts change to hidden attribute that caused a transition regression on scrim
  src/assets/styles/includes.scss
  src/components/stepper/stepper.e2e.ts
Labels: bug

#5175 fix(date-picker): no longer misalign dates with day in `en-gb`,`en-au`,`nb`,`es`,`de` locales
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.stories.ts
Labels: bug

#5180 fix: wait for body to load before initializing theme change event
  src/utils/globalScript.ts
Labels: bug

#5181 docs: update component READMEs
  src/components/dropdown-item/readme.md
  src/components/stepper-item/readme.md
Labels: docs

#5184 fix: initialize calciteThemeChange when DOM content is loaded before globalScript executes
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/utils/globalScript.ts
Labels: bug

#5185 fix(tooltip, popover): reconnecting the component to the DOM should work
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.tsx
Labels: bug

#5188 fix(dropdown): Remove scrolling when max-items >= number of dropdown items
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
Labels: bug

#5189 feat(color-picker): allow pasting hex values with # character
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
Labels: enhancement

#5183 fix(shell): fix z-index for content-behind mode
  src/components/shell/shell.scss
  src/components/shell/shell.stories.ts
Labels: bug

#5073 fix(combobox): no longer has left padding when placeholder-icon is empty
  src/components/chip/chip.tsx
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.scss
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
Labels: enhancement

#5165 fix(dropdown): Fix placement typings
  src/utils/floating-ui.ts
Labels: bug

#5178 fix(popover): autoClose should work when clicking on another popover reference element
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.e2e.ts
Labels: bug

#5169 fix(dropdown): Correct placement when opening
  src/assets/styles/_floating-ui.scss
  src/components/dropdown/dropdown.tsx
Labels: bug

#5193 docs: update component READMEs
  src/components/dropdown/readme.md
  src/components/input-date-picker/readme.md
Labels: docs

#5195 docs: Include code documentation notes
  conventions/Documentation.md
Labels: docs

#5170 fix(combobox, dropdown, input-date-picker, popover): Correctly honor flipPlacements property.
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/utils/floating-ui.ts
Labels: bug

#5187 fix(modal): calciteModalOpen and calciteModalBeforeOpen now emit on page load
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
Labels: bug

#4744 feat(accordion, action, button, chip, color-picker, split-button): deprecate clear & default appearance types
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.tsx
  src/components/accordion/interfaces.ts
  src/components/action/action.scss
  src/components/button/button.scss
  src/components/button/interfaces.ts
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.scss
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.tsx
  src/components/color-picker/interfaces.ts
  src/components/interfaces.ts
  src/components/split-button/split-button.scss
  src/components/tooltip/tooltip.stories.ts
Labels: enhancement

#5215 docs: update component READMEs
  src/components/accordion/readme.md
  src/components/button/readme.md
  src/components/color-picker/readme.md
  src/components/split-button/readme.md
Labels: docs

#5214 test(list): use placeholder image util
  src/components/list/list.e2e.ts
Labels: testing

#5212 fix(card): drop hover/press styling
  src/components/card/card.scss
Labels: bug

#5129 feat(flow): Adds flow-item component to replace use of panel within a flow
  src/components/flow-item/flow-item.e2e.ts
  src/components/flow-item/flow-item.scss
  src/components/flow-item/flow-item.tsx
  src/components/flow-item/resources.ts
  src/components/flow/flow.e2e.ts
  src/components/flow/flow.scss
  src/components/flow/flow.stories.ts
  src/components/flow/flow.tsx
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.scss
  src/components/panel/panel.tsx
  src/components/panel/resources.ts
  src/components/shell/shell.stories.ts
  src/demos/flow.html
Labels: enhancement

#5224 docs: update component READMEs
  src/components/action/readme.md
  src/components/flow-item/readme.md
  src/components/flow/readme.md
  src/components/panel/readme.md
Labels: docs

#5222 test(radio-button): update to help test click behavior via HTMLElement.click()
  src/components/radio-button/radio-button.e2e.ts
Labels: refactor

#5225 test(switch): update to help test click behavior via HTMLElement.click()
  src/components/switch/switch.e2e.ts
Labels: testing

#5179 feat(input-time-picker): deprecate active prop and add open prop
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.stories.ts
  src/components/input-time-picker/input-time-picker.tsx
Labels: enhancement

#5223 test(checkbox): update to help test click behavior via HTMLElement.click()
  src/components/checkbox/checkbox.e2e.ts
Labels: refactor

#5232 docs: update component READMEs
  src/components/input-time-picker/readme.md
Labels: docs

#5230 docs: incorporate the api reference style guide in some t-named components
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.tsx
  src/components/tile-select-group/tile-select-group.tsx
  src/components/tile-select/tile-select.tsx
  src/components/tile/tile.tsx
  src/components/time-picker/time-picker.tsx
  src/components/tip-group/tip-group.tsx
  src/components/tip-manager/tip-manager.scss
  src/components/tip-manager/tip-manager.tsx
  src/components/tip/tip.tsx
Labels: docs

#5234 test(combobox): add test to verify user is able to tab through the component
  src/components/combobox/combobox.e2e.ts
Labels: testing

#5233 build: patch rollup tree shaking stencil issue
  package-lock.json
  package.json
  support/patchESMResolution.ts
  support/patchTreeShaking.ts
Labels: chore

#5217 fix(modal): close button padding is aligned
  src/components/modal/modal.scss
Labels: bug

#5235 docs: update component READMEs
  src/components/tab-nav/readme.md
  src/components/tab-title/readme.md
  src/components/tab/readme.md
  src/components/tabs/readme.md
  src/components/tile-select-group/readme.md
  src/components/tile-select/readme.md
  src/components/tile/readme.md
  src/components/time-picker/readme.md
  src/components/tip-group/readme.md
  src/components/tip-manager/readme.md
  src/components/tip/readme.md
Labels: docs

#5246 fix(time-picker, input-time-picker): initialize meridiem at the start of the time for rtl locales
  src/components/time-picker/time-picker.e2e.ts
  src/components/time-picker/time-picker.tsx
Labels: bug

#5220 fix(input-date-picker): range end date is set to end of the day
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/utils.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/utils/date.ts
Labels: bug

#5231 feat(link): add support for HTMLElement.click()
  src/components/link/link.e2e.ts
  src/components/link/link.tsx
  src/tests/commonTests.ts
Labels: bug
