Repository Esri/calcite-design-system, pull requests merged in 2022-01, with the labels that each got.

#3832 fix(list-item): apply line-height to label and description
  src/components/calcite-list-item/calcite-list-item.scss
Labels: bug

#3837 build: update browserslist db
  package-lock.json
Labels: chore

#3853 docs(input-time-picker, time-picker): synchronize value/step prop descriptions
  src/components/calcite-input-time-picker/calcite-input-time-picker.tsx
  src/components/calcite-time-picker/calcite-time-picker.tsx
Labels: docs

#3738 feat(input): add support for exponential number format
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/utils/locale.ts
  src/utils/number.spec.ts
  src/utils/number.ts
Labels: enhancement

#3862 docs: update component READMEs
  src/components/calcite-input-time-picker/readme.md
  src/components/calcite-time-picker/readme.md
Labels: docs

#3806 fix(color-picker-swatch): double the alpha value on the border when theme is light to make it a bit more pronounced
  src/components/calcite-color-picker-swatch/resources.ts
Labels: bug

#3863 build(deps): bump @esri/eslint-plugin-calcite-components
  package-lock.json
  package.json
Labels: chore

#3865 fix(tree-item): toggle behavior
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.e2e.ts
Labels: bug

#3870 fix(input): restrict typing more than two hyphens
  src/components/calcite-input/calcite-input.tsx
Labels: bug

#3867 docs: update component READMEs
  src/components/calcite-alert/readme.md
Labels: docs

#3873 feat(date-picker): add support for Bulgaria locale
  src/components/calcite-date-picker/assets/calcite-date-picker/nls/bg.json
  src/demos/calcite-input.html
  src/utils/locale.ts
Labels: enhancement

#3857 fix(dropdown): exclude calcite action from keyDownHandler
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/demos/calcite-dropdown.html
Labels: bug

#3833 fix(date-picker): ensure change event gets emitted on user interaction
  src/components/calcite-date-picker/calcite-date-picker.e2e.ts
  src/components/calcite-date-picker/calcite-date-picker.tsx
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
Labels: bug

#3879 feat(input-date-picker): add calciteInputDatePickerChange event
  src/components/calcite-input-date-picker/calcite-input-date-picker.e2e.ts
  src/components/calcite-input-date-picker/calcite-input-date-picker.tsx
Labels: enhancement

#3788 refactor(dom): Update getSlotted utility to handle querying for item(s) in default slot
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/utils/dom.spec.ts
  src/utils/dom.ts
Labels: refactor, Stale

#3884 docs: update component READMEs
  src/components/calcite-input-date-picker/readme.md
Labels: docs

#3885 build: update browserslist db
  package-lock.json
Labels: chore

#3886 fix(radio-button): show selection in high contrast
  src/components/calcite-radio-button/calcite-radio-button.scss
Labels: bug

#3378 fix(dropdown): dropdown wrapper no longer overflows inside a panel
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
  src/components/calcite-dropdown/calcite-dropdown.scss
  src/components/calcite-dropdown/calcite-dropdown.tsx
Labels: bug, 2 - in development

#3819 refactor(graph): updated graph default width to be 100%
  src/components/calcite-graph/calcite-graph.e2e.ts
  src/components/calcite-graph/calcite-graph.scss
  src/components/calcite-graph/calcite-graph.tsx
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-slider/calcite-slider.tsx
Labels: refactor

#3912 test: fix dropdown test.
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
Labels: testing

#3893 chore: use the issue template form format
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.md
  .github/ISSUE_TEMPLATE/new-component.yml
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/refactor.md
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/ISSUE_TEMPLATE/research.md
  .github/ISSUE_TEMPLATE/research.yml
  .github/ISSUE_TEMPLATE/tooling.md
  .github/ISSUE_TEMPLATE/tooling.yml
  .github/ISSUE_TEMPLATE/unstable-test.md
  .github/ISSUE_TEMPLATE/unstable-test.yml
Labels: chore

#3916 test(dropdown): Fix another tests HTML. :)
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
Labels: testing

#3917 docs: update component READMEs
  src/components/calcite-graph/readme.md
Labels: docs

#3872 feat(inline-editable): change internal events to public
  src/components/calcite-inline-editable/calcite-inline-editable.e2e.ts
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
Labels: enhancement

#3921 chore(template): remove value from enhancement field
  .github/ISSUE_TEMPLATE/enhancement.yml
Labels: chore

#3908 fix(input): number input no longer increments by itself indefinitely when up/down buttons are toggled fast or pressed at the same time;
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
Labels: bug

#3913 chore(ci): remove obsolete check for valid new issues
  .github/need-info.yml
Labels: chore

#3920 feat(combobox): Add 'intlRemoveTag' property to override the remove tag text.
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
  src/components/calcite-combobox/resources.ts
Labels: enhancement

#3919 fix(combobox): Properly set internal identifiers. #3754
  src/components/calcite-combobox/calcite-combobox.e2e.ts
  src/components/calcite-combobox/calcite-combobox.tsx
Labels: bug

#3923 fix(alert): Emit calciteAlertClose/calciteAlertOpen after animation. #3760
  src/components/calcite-alert/calcite-alert.e2e.ts
  src/components/calcite-alert/calcite-alert.tsx
Labels: bug

#3927 docs: update component READMEs
  src/components/calcite-inline-editable/readme.md
Labels: docs

#3871 fix: rerender components with conditional slots when slotting elements after initialization
  src/components/calcite-action-bar/calcite-action-bar.e2e.ts
  src/components/calcite-action-group/calcite-action-group.e2e.ts
  src/components/calcite-action-group/calcite-action-group.tsx
  src/components/calcite-action-menu/calcite-action-menu.e2e.ts
  src/components/calcite-action-menu/calcite-action-menu.tsx
  src/components/calcite-action-pad/calcite-action-pad.e2e.ts
  src/components/calcite-action-pad/calcite-action-pad.tsx
  src/components/calcite-block/calcite-block.e2e.ts
  src/components/calcite-block/calcite-block.tsx
  src/components/calcite-chip/calcite-chip.e2e.ts
  src/components/calcite-chip/calcite-chip.tsx
  src/components/calcite-list-item/calcite-list-item.e2e.ts
  src/components/calcite-list-item/calcite-list-item.tsx
  src/components/calcite-modal/calcite-modal.e2e.ts
  src/components/calcite-modal/calcite-modal.tsx
  src/components/calcite-notice/calcite-notice.e2e.ts
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-pick-list-group/calcite-pick-list-group.e2e.ts
  src/components/calcite-pick-list-group/calcite-pick-list-group.tsx
  src/components/calcite-pick-list-item/calcite-pick-list-item.e2e.ts
  src/components/calcite-pick-list-item/calcite-pick-list-item.tsx
  src/components/calcite-shell-center-row/calcite-shell-center-row.e2e.ts
  src/components/calcite-shell-center-row/calcite-shell-center-row.tsx
  src/components/calcite-shell-panel/calcite-shell-panel.e2e.ts
  src/components/calcite-shell-panel/calcite-shell-panel.tsx
  src/components/calcite-shell/calcite-shell.e2e.ts
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tile/calcite-tile.tsx
  src/components/calcite-tip/calcite-tip.e2e.ts
  src/components/calcite-tip/calcite-tip.tsx
  src/components/calcite-tree-item/calcite-tree-item.e2e.ts
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-value-list-item/calcite-value-list-item.e2e.ts
  src/components/calcite-value-list-item/calcite-value-list-item.tsx
  src/tests/commonTests.ts
  src/utils/conditionalSlot.ts
Labels: bug

#3932 test(dropdown): skip dropdown opens when dropdown-trigger is an action or a button
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
Labels: testing

#3933 test(input): skip unstable test
  src/components/calcite-input/calcite-input.e2e.ts
Labels: testing

#3892 build(deps): drop unnecessary @storybook/cli
  package-lock.json
  package.json
Labels: chore

#3922 feat(calcite-link): Add support for download attribute. #3758
  src/components/calcite-link/calcite-link.e2e.ts
  src/components/calcite-link/calcite-link.tsx
  src/demos/calcite-link.html
Labels: enhancement

#3937 docs: update component READMEs
  src/components/calcite-combobox/readme.md
Labels: docs

#3934 docs(readme): remove stencil webpack plugin
  readme.md
Labels: docs

#3813 fix(slider): maxValue thumb positioned above minValue when overlapped…
  src/components/calcite-slider/calcite-slider.scss
  src/components/calcite-slider/calcite-slider.tsx
Labels: bug

#3596 feat: Add utility to watch global attributes of a component.
  src/tests/utils.ts
  src/utils/globalAttributes.spec.ts
  src/utils/globalAttributes.ts
  src/utils/observers.ts
Labels: enhancement, help wanted, question, discussion, 2 - in development, need more info

#3943 build: update browserslist db
  package-lock.json
Labels: chore

#3942 docs: update component READMEs
  src/components/calcite-link/readme.md
Labels: docs

#3929 fix(action, action-group): alignment center when enclosed within group (grid layout, text-enabled vs no text)
  src/components/calcite-action-group/calcite-action-group.stories.ts
  src/components/calcite-action/calcite-action.scss
  src/demos/calcite-action.html
Labels: bug

#3914 fix(tree): change tab index when tabbing in/out for first element
  src/components/calcite-tree/calcite-tree.tsx
Labels: bug

#3941 fix(input-date-picker): return the matching locale code to prop locale
  src/components/calcite-date-picker/utils.spec.ts
  src/components/calcite-date-picker/utils.ts
Labels: bug

#3959 fix(card, combobox-item): rerender components with conditional slots when slotting elements after initialization
  src/components/calcite-card/calcite-card.e2e.ts
  src/components/calcite-card/calcite-card.tsx
  src/components/calcite-combobox-item/calcite-combobox-item.e2e.ts
  src/components/calcite-combobox-item/calcite-combobox-item.tsx
  src/components/calcite-combobox/calcite-combobox.tsx
  src/tests/commonTests.ts
  src/utils/dom.ts
Labels: bug, 2 - in development

#3954 fix(accordion): no longer has white background when set to transparent
  src/components/calcite-accordion-item/calcite-accordion-item.scss
  src/components/calcite-accordion/calcite-accordion.scss
  src/components/calcite-accordion/calcite-accordion.stories.ts
  src/components/calcite-accordion/calcite-accordion.tsx
Labels: bug

#3962 refactor(panel, shell, tree-item): Add keys to conditionally rendered slots.
  src/components/calcite-panel/calcite-panel.tsx
  src/components/calcite-shell/calcite-shell.tsx
  src/components/calcite-tree-item/calcite-tree-item.tsx
Labels: refactor

#3960 feat(panel): Add method to scroll content. #3924
  src/components/calcite-panel/calcite-panel.e2e.ts
  src/components/calcite-panel/calcite-panel.tsx
  src/demos/calcite-panel.html
Labels: enhancement

#3972 docs: update component READMEs
  src/components/calcite-panel/readme.md
Labels: docs

#3981 refactor(input): add types where they are any
  src/components/calcite-input/calcite-input.tsx
Labels: refactor

#3889 refactor: Update relevant components to handle slotting after init
  src/components/calcite-action-menu/calcite-action-menu.tsx
  src/components/calcite-alert/calcite-alert.tsx
  src/components/calcite-dropdown/calcite-dropdown.tsx
  src/components/calcite-inline-editable/calcite-inline-editable.tsx
  src/components/calcite-input/calcite-input.tsx
  src/components/calcite-modal/calcite-modal.tsx
  src/components/calcite-notice/calcite-notice.tsx
  src/components/calcite-radio-button-group/calcite-radio-button-group.tsx
  src/components/calcite-radio-button/calcite-radio-button.tsx
  src/utils/dom.spec.ts
Labels: refactor

#3969 refactor(slider): remove drag event listeners on component disconnected
  src/components/calcite-slider/calcite-slider.tsx
Labels: refactor

#3985 build: update browserslist db
  package-lock.json
Labels: chore

#3989 test(input): when both 'ArrowUp' and 'ArrowDown' are pressed at the same time most recently pressed key takes over
  src/components/calcite-input/calcite-input.e2e.ts
Labels: testing

#3970 docs(template): provide context for the repro samples
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/need-info.yml
Labels: docs

#3964 chore: pin node 16 and npm 8 for volta
  package.json
Labels: chore

#3996 docs(readme): remove sketch info until it is up to date
  readme.md
Labels: docs

#3968 fix(date-picker): update utils locale to get the lang code if regional code is not found
  src/components/calcite-date-picker/utils.spec.ts
  src/components/calcite-date-picker/utils.ts
Labels: bug

#3733 feat(tree): multi-selection no longer requires holding shift key
  src/components/calcite-tree-item/calcite-tree-item.tsx
  src/components/calcite-tree/calcite-tree.e2e.ts
Labels: bug, 2 - in development

#3998 test(dropdown): correct logical errors in the test
  src/components/calcite-dropdown/calcite-dropdown.e2e.ts
Labels: testing

#3993 fix(time-picker): match rtl order with ltr
  src/components/calcite-time-picker/calcite-time-picker.e2e.ts
  src/components/calcite-time-picker/calcite-time-picker.tsx
Labels: bug

#3992 build(deps): fix and run update deps action
  .github/dependabot.yml
  .github/workflows/update-deps.yml
  package-lock.json
  package.json
Labels: chore

#4017 docs(tooltip): use the correct component name
  src/components/calcite-tooltip/calcite-tooltip.tsx
Labels: docs

#3983 fix(combobox): fix stacking icon on very narrow combobox (#3891)
  src/components/calcite-combobox/calcite-combobox.scss
  src/components/calcite-combobox/calcite-combobox.stories.ts
Labels: bug

#4016 refactor(demos): change var to const
  src/demos/calcite-date-picker.html
  src/demos/calcite-graph.html
  src/demos/calcite-loader.html
  src/demos/calcite-switch.html
  src/demos/calcite-tree.html
  src/demos/form.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-3.html
  src/demos/shell/demo-app-advanced.html
  src/demos/theme/auto.html
Labels: refactor

#3984 feat(label): deprecate status prop
  src/components/calcite-input-message/calcite-input-message.e2e.ts
  src/components/calcite-input-message/readme.md
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/readme.md
  src/components/calcite-label/calcite-label.e2e.ts
  src/components/calcite-label/calcite-label.tsx
  src/components/calcite-label/readme.md
Labels: bug

#4020 fix(input): correct negative values in ar and et locales
  src/components/calcite-input/calcite-input.e2e.ts
  src/components/calcite-input/calcite-input.tsx
  src/demos/calcite-input.html
Labels: bug

#3975 fix(Action): updates font-family declaration
  src/components/calcite-action/calcite-action.scss
Labels: bug, 1 - assigned

#3991 fix(switch): provide a selected color to track element (#3987)
  src/components/calcite-switch/calcite-switch.scss
Labels: bug, a11y

#4027 build: update browserslist db
  package-lock.json
Labels: chore
