Repository Esri/calcite-design-system, pull requests merged in 2022-09, with the labels that each got.

#5253 ci(screener): disable screener PR checks
  .github/workflows/pr-screener.yml
Labels: pr has no visual changes

#4807 feat(accordion-item,radio-group-item): deprecate iconPosition & icon and add support for iconStart and iconEnd
  src/components/accordion-item/accordion-item.scss
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion-item/resources.ts
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.stories.ts
  src/components/radio-group-item/radio-group-item.e2e.ts
  src/components/radio-group-item/radio-group-item.scss
  src/components/radio-group-item/radio-group-item.tsx
  src/components/radio-group/radio-group.stories.ts
  src/demos/accordion.html
  src/demos/radio-group.html
Labels: enhancement

#5228 docs(contributing, conventions): proofread and add additional info
  CONTRIBUTING.md
  conventions/Documentation.md
Labels: docs

#5266 docs: update component READMEs
  src/components/accordion-item/readme.md
  src/components/radio-group-item/readme.md
Labels: docs, pr has no visual changes

#5264 ci(close-milestone): fix issue due to no optional chaining
  .github/workflows/close-milestone.yml
Labels: pr has no visual changes

#5277 fix(list-item): Use margin instead of padding when slotting icons.
  src/components/list-item/list-item.scss
Labels: bug

#5138 feat(slider)!: add a groupSeparator prop to enable toggling display of separator in label
  src/components/slider/resources.ts
  src/components/slider/slider.e2e.ts
  src/components/slider/slider.tsx
Labels: enhancement, Stale, i18n-l10n

#5283 test(action, card, tooltip): cleanup screener snapshots
  src/components/action/action.stories.ts
  src/components/card/card.stories.ts
  src/components/tooltip/tooltip.stories.ts
Labels: testing

#5282 docs: update component READMEs
  src/components/slider/readme.md
Labels: docs

#5265 feat(pagination)!: add groupSeparator prop to enable toggling display of separator in pages
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.tsx
Labels: enhancement, breaking change

#5291 chore: revert dropdown demo modification
  src/demos/dropdown.html
Labels: chore

#5290 feat(input-time-picker): Add overlayPositioning property.
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
Labels: enhancement

#5293 feat(action): Add a slot for a calcite-tooltip
  src/components/action/action.e2e.ts
  src/components/action/action.tsx
  src/components/action/resources.ts
  src/components/action/usage/With-text-displayed.md
  src/components/action/usage/With-tooltip.md
  src/components/action/usage/Without-text-displayed.md
  src/demos/action.html
Labels: enhancement

#5292 fix(tree-item): preserve the alignment of tree-items with selection-mode: none regardless of whether they have children
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.stories.ts
Labels: bug, pr ready for visual snapshots

#5250 fix(tab): active indicator width grows with tab's width
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tabs/tabs.stories.ts
Labels: bug, pr ready for visual snapshots

#5298 refactor: remove redundant code block
  src/components/accordion/accordion.stories.ts
Labels: refactor

#5299 fix: remove unsafe-eval to support CSP script-src
  src/utils/globalScript.ts
Labels: bug

#5211 fix(checkbox): hide check icon from screen readers
  src/components/checkbox/checkbox.tsx
Labels: bug

#5300 chore(eslint): add no-eval, no-implied-evail, and no-new-func rules
  .eslintrc.json
Labels: chore

#5269 feat: reflect props if they do not represent content nor rich-data
  conventions/README.md
  src/components/action-bar/action-bar.tsx
  src/components/action-menu/action-menu.tsx
  src/components/action/action.tsx
  src/components/alert/alert.tsx
  src/components/avatar/avatar.tsx
  src/components/block/block.tsx
  src/components/button/button.tsx
  src/components/card/card.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.tsx
  src/components/date-picker/date-picker.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.tsx
  src/components/fab/fab.tsx
  src/components/flow-item/flow-item.tsx
  src/components/graph/graph.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/label/label.tsx
  src/components/link/link.tsx
  src/components/list-item-group/list-item-group.tsx
  src/components/list/list.tsx
  src/components/loader/loader.tsx
  src/components/modal/modal.tsx
  src/components/pagination/pagination.tsx
  src/components/panel/panel.tsx
  src/components/pick-list-group/pick-list-group.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list/pick-list.tsx
  src/components/popover-manager/popover-manager.tsx
  src/components/popover/popover.tsx
  src/components/progress/progress.tsx
  src/components/radio-group/radio-group.tsx
  src/components/select/select.tsx
  src/components/slider/slider.tsx
  src/components/sortable-list/sortable-list.tsx
  src/components/split-button/split-button.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/switch/switch.tsx
  src/components/tab-nav/tab-nav.tsx
  src/components/time-picker/time-picker.tsx
  src/components/tip-manager/tip-manager.tsx
  src/components/tip/tip.tsx
  src/components/tooltip-manager/tooltip-manager.tsx
  src/components/tooltip/tooltip.tsx
  src/components/value-list/value-list.tsx
Labels: enhancement

#5219 feat(input, input-number, input-text): improve keyboard navigation by preventing the clear button from being focusable
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
  src/components/pick-list/shared-list-tests.ts
Labels: refactor

#5311 test(action-bar): Stabilize tests.
  src/components/action-bar/action-bar.e2e.ts
Labels: testing

#5313 test(input-date-picker): Fix test to specific date.
  src/components/input-date-picker/input-date-picker.stories.ts
Labels: testing

#5256 feat(flow-item): Add back button tooltip.
  src/components/flow-item/flow-item.tsx
Labels: enhancement

#5317 docs: update component READMEs
  src/components/action/readme.md
  src/components/input-time-picker/readme.md
  src/components/pagination/readme.md
Labels: docs

#5324 fix(input, input-number): hide non-interactive number up/down buttons from assistive technologies
  src/components/input-number/input-number.tsx
  src/components/input/input.tsx
Labels: bug

#5327 docs: update component READMEs
  src/components/flow-item/readme.md
  src/components/tooltip/readme.md
Labels: docs

#5330 fix(panel): Do not close non closable panel on ESC key
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.tsx
Labels: bug

#5320 refactor(tooltip): Use pointer events in favor of mouse events
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
  src/demos/tooltip.html
Labels: refactor

#5314 feat(animation): support reduced motion preference for animations
  src/assets/styles/_animation.scss
  src/components/block/block.scss
  src/components/button/button.scss
  src/components/loader/loader.scss
  src/components/progress/progress.scss
Labels: enhancement, pr ready for visual snapshots

#5296 refactor(avatar): rename state var to drop comment
  src/components/avatar/avatar.tsx
Labels: refactor

#5216 feat: use global lang attribute to determine locale, deprecates `locale` prop
  src/components/action/action.stories.ts
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.tsx
  src/components/flow/flow.e2e.ts
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-date-picker/readme.md
  src/components/input-date-picker/usage/Basic.md
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.stories.ts
  src/components/input-number/input-number.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.stories.ts
  src/components/input/input.tsx
  src/components/pagination/pagination.tsx
  src/components/time-picker/time-picker.tsx
  src/demos/date-picker.html
  src/demos/input-number.html
  src/demos/input-time-picker.html
  src/demos/input.html
  src/utils/locale.ts
Labels: enhancement, pr ready for visual snapshots

#5325 fix(card): prevent header from overlapping with checkbox
  src/components/card/card.scss
  src/components/card/card.stories.ts
Labels: bug, pr ready for visual snapshots

#5335 fix(action-bar, combobox, dropdown, filter, input-date-picker, popover, tooltip): make methods using debounce/throttle private to prevent lodash type errors
  src/components/action-bar/action-bar.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/filter/filter.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/popover/popover.tsx
  src/components/tooltip/tooltip.tsx
Labels: bug

#5337 docs: update component READMEs
  src/components/date-picker-month-header/readme.md
  src/components/date-picker/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-number/readme.md
  src/components/input/readme.md
Labels: docs

#5336 fix(progress): text now responds to light/dark theme mode change
  src/components/progress/progress.scss
  src/components/progress/progress.stories.ts
Labels: bug, pr ready for visual snapshots

#5066 docs(conventions): add layering entry
  conventions/README.md
Labels: docs, Stale

#5341 feat(panel): Add `calcitePanelClose` event and deprecate `calcitePanelDismiss` event
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.tsx
Labels: refactor

#5342 feat(flow-item): Add `calciteFlowItemClose` event
  src/components/flow-item/flow-item.tsx
Labels: enhancement

#5343 feat(flow-item): Add `calciteFlowItemBack` event and deprecate `calciteFlowItemBackClick` event
  src/components/flow-item/flow-item.e2e.ts
  src/components/flow-item/flow-item.tsx
Labels: enhancement

#5062 ci: check generated types before publishing
  package.json
Labels: chore, Stale

#5362 docs: update color-picker JSDoc link
  src/components/color-picker/color-picker.tsx
Labels: docs

#5364 chore: specify esri product team when logging issues
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/workflows/add-esri-product-label.yml
Labels: chore

#5279 docs(storybook): add storybook guidelines to doc conventions
  conventions/Documentation.md
Labels: docs, Stale

#5323 chore: build prior to stencil test to fix missing types error
  package.json
Labels: chore

#5366 docs: update component READMEs
  src/components/color-picker/readme.md
  src/components/flow-item/readme.md
Labels: docs

#5376 test(action-bar, input-number, input-text, modal, radio-button): skip unstable
  src/components/action-bar/action-bar.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input-text/input-text.e2e.ts
  src/components/modal/modal.e2e.ts
  src/components/radio-button/radio-button.e2e.ts
Labels: testing

#5373 build(deps): bump calcite-ui-icons
  package-lock.json
  package.json
Labels: chore

#5365 fix(date-picker-month-header): adds RTL equivalent CSS
  src/components/date-picker-month-header/date-picker-month-header.scss
Labels: bug, pr ready for visual snapshots

#5378 chore(tile-select): Fix storybook story knobs.
  src/components/tile-select-group/tile-select-group.stories.ts
  src/components/tile-select/tile-select.stories.ts
Labels: chore

#5332 fix(tab-nav, tab-title): centered layout allows to scroll to the extent
  src/components/tab-nav/tab-nav.scss
  src/components/tab-title/tab-title.scss
Labels: bug, pr ready for visual snapshots

#5383 fix(modal): drop unnecessary calcite-hydrated selector for open/close eventing
  src/components/modal/modal.scss
Labels: bug, pr ready for visual snapshots

#5390 fix(tile-select): ensure checked tile border is visible within tile-select group
  src/components/tile-select/tile-select.scss
Labels: bug, pr ready for visual snapshots

#5397 fix(slider): thumb no longer appears above track at min
  src/components/slider/slider.e2e.ts
  src/components/slider/slider.stories.ts
  src/components/slider/slider.tsx
Labels: bug, pr ready for visual snapshots

#5339 feat: use pointer events instead of mouse events to improve device compatibility
  conventions/README.md
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/dropdown/dropdown.tsx
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.tsx
  src/components/tile-select/tile-select.tsx
Labels: refactor, Stale

#5400 docs: update component READMEs
  src/components/combobox-item-group/readme.md
  src/components/combobox-item/readme.md
  src/components/radio-group/readme.md
  src/components/select/readme.md
Labels: docs
