Repository Esri/calcite-design-system, pull requests merged in 2022-02, with the labels that each got.

#4031 docs: update component READMEs
  src/components/calcite-input-message/readme.md
  src/components/calcite-input/readme.md
  src/components/calcite-label/readme.md
  src/components/calcite-tooltip/readme.md
Labels: docs

#4033 refactor: remove remaining calcite filename prefix
  .gitignore
  src/components/action-group/action-group.stories.ts
  src/components/combobox-item/combobox-item.e2e.ts
Labels: refactor

#4039 docs: update component READMEs
  src/components/icon/readme.md
  src/components/pagination/readme.md
Labels: docs

#4011 fix(date-picker): make date picker work in high-contrast (#4005)
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-month/date-picker-month.scss
Labels: bug

#4041 feat(calcite-filter): add scale prop/attribute
  src/components/filter/filter.e2e.ts
  src/components/filter/filter.tsx
  src/components/filter/readme.md
Labels: enhancement

#4014 fix(popover-manager, tooltip-manager): Properly query referenceElement in shadowRoot
  src/components/popover-manager/popover-manager.tsx
  src/components/tooltip-manager/tooltip-manager.tsx
Labels: bug

#4058 fix(dropdown): Reposition floating menu correctly.
  .storybook/helpers.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
Labels: bug

#4061 refactor(radio-button): fix selector typo
  src/components/radio-button/radio-button.tsx
Labels: refactor

#4059 fix(combobox): Align with dropdown logic and repositioning
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
Labels: refactor

#4021 fix(popover): Allow nesting of popovers
  src/components/popover/popover.scss
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/popover/resources.ts
  src/demos/popover.html
Labels: bug

#4065 build: update browserslist db
  package-lock.json
Labels: chore

#4057 fix(value-list-item): change to older tailwind class for outlining a selected item
  src/components/value-list-item/value-list-item.scss
  tailwind.config.ts
Labels: bug

#4028 docs(readme): add getting started info
  readme.md
Labels: docs

#4070 fix(fab, color-picker, inline-editable, split-button): Set calcite button type
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.tsx
  src/components/fab/fab.e2e.ts
  src/components/fab/fab.tsx
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/inline-editable/inline-editable.tsx
  src/components/split-button/split-button.e2e.ts
  src/components/split-button/split-button.tsx
Labels: bug

#3952 fix(radio-button): scale selection indicator with radio button size #3875
  src/components/radio-button/radio-button.scss
Labels: bug

#3988 fix(progress): make progress visible in high contrast (#3986)
  src/components/progress/progress.scss
Labels: bug

#4026 feat(card): use css variable to change border-radius
  src/assets/styles/global.scss
  src/components/card/card.scss
  src/demos/card.html
Labels: enhancement, Stale

#4081 docs(pick-list-item): change invalid heading property to label
  src/components/pick-list/readme.md
  src/components/pick-list/usage/Sub-groups.md
Labels: docs

#4084 fix(input-message): contained links work
  src/components/input-message/input-message.scss
Labels: bug

#4097 docs(panel, shell-panel-shell-center-row): fix heightScale typo
  src/components/panel/panel.tsx
  src/components/shell-center-row/shell-center-row.tsx
  src/components/shell-panel/shell-panel.tsx
Labels: docs

#4080 fix(combobox): limit the auto selection for custom new values at single selection mode #3928
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
Labels: bug

#4101 docs: update component READMEs
  src/components/panel/readme.md
  src/components/shell-center-row/readme.md
  src/components/shell-panel/readme.md
Labels: docs

#4102 chore: reorganize a11y and bug issue templates
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
Labels: chore

#4099 docs(readme): the local assets directory must be named assets
  readme.md
Labels: docs

#4104 build: update browserslist db
  package-lock.json
Labels: chore

#4069 fix(popover-manager, tooltip-manager): Misalignment of tooltips in FireFox #3900
  src/components/popover-manager/popover-manager.e2e.ts
  src/components/popover-manager/popover-manager.scss
  src/components/tooltip-manager/tooltip-manager.e2e.ts
  src/components/tooltip-manager/tooltip-manager.scss
Labels: bug

#4067 fix(action-bar, action-pad): Remove warning when when expanding with expand tooltip #3978
  src/components/functional/ExpandToggle.tsx
Labels: bug

#4115 fix(popover, tooltip, combobox, dropdown, input-date-picker): Hide popover when the reference element or popover is out of view.
  src/assets/styles/_popper.scss
  src/components/popover/popover.e2e.ts
Labels: bug

#4118 fix(date-picker): set correct first day of week for all locales
  src/components/date-picker/assets/date-picker/nls/bs.json
  src/components/date-picker/assets/date-picker/nls/ca.json
  src/components/date-picker/assets/date-picker/nls/cs.json
  src/components/date-picker/assets/date-picker/nls/da.json
  src/components/date-picker/assets/date-picker/nls/de.json
  src/components/date-picker/assets/date-picker/nls/el.json
  src/components/date-picker/assets/date-picker/nls/en-AU.json
  src/components/date-picker/assets/date-picker/nls/es.json
  src/components/date-picker/assets/date-picker/nls/et.json
  src/components/date-picker/assets/date-picker/nls/fi.json
  src/components/date-picker/assets/date-picker/nls/fr.json
  src/components/date-picker/assets/date-picker/nls/hr.json
  src/components/date-picker/assets/date-picker/nls/hu.json
  src/components/date-picker/assets/date-picker/nls/it.json
  src/components/date-picker/assets/date-picker/nls/lt.json
  src/components/date-picker/assets/date-picker/nls/lv.json
  src/components/date-picker/assets/date-picker/nls/mk.json
  src/components/date-picker/assets/date-picker/nls/nb.json
  src/components/date-picker/assets/date-picker/nls/nl.json
  src/components/date-picker/assets/date-picker/nls/pl.json
  src/components/date-picker/assets/date-picker/nls/ro.json
  src/components/date-picker/assets/date-picker/nls/ru.json
  src/components/date-picker/assets/date-picker/nls/sl.json
  src/components/date-picker/assets/date-picker/nls/sr.json
  src/components/date-picker/assets/date-picker/nls/sv.json
  src/components/date-picker/assets/date-picker/nls/tr.json
  src/components/date-picker/assets/date-picker/nls/uk.json
  src/components/date-picker/assets/date-picker/nls/vi.json
Labels: bug

#4030 fix(time-picker): meridiem order matches with input time picker
  src/components/input-time-picker/input-time-picker.stories.ts
  src/components/input-time-picker/input-time-picker.tsx
  src/components/time-picker/resources.ts
  src/components/time-picker/time-picker.scss
  src/components/time-picker/time-picker.tsx
  src/demos/input-time-picker.html
  src/utils/time.ts
Labels: bug

#4114 fix(tab-title, tab): tab switching will function even when wrapped wi…
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tabs/tabs.e2e.ts
Labels: bug

#4145 docs: update component READMEs
  src/components/color-picker/readme.md
  src/components/combobox/readme.md
  src/components/dropdown/readme.md
  src/components/flow/readme.md
  src/components/pick-list-item/readme.md
  src/components/pick-list/readme.md
  src/components/radio-group/readme.md
  src/components/select/readme.md
  src/components/value-list/readme.md
Labels: docs

#4152 test(date-picker): unskip test
  src/components/date-picker/date-picker.e2e.ts
Labels: testing

#4154 build: update browserslist db
  package-lock.json
Labels: chore

#4150 fix(tree-item): Pressing right arrow key focuses first child when the tree-item contains an expanded subtree
  src/components/tree-item/tree-item.e2e.ts
  src/components/tree-item/tree-item.tsx
Labels: bug

#4147 refactor(button,link): remove childElType as state
  src/components/button/button.tsx
  src/components/link/link.tsx
Labels: refactor

#4122 fix(accordion): transparent appearance no longer has border
  src/components/accordion/accordion.scss
  src/components/accordion/accordion.tsx
Labels: bug, Stale

#4125 fix(input): update number programmatically after blur event
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Labels: bug
