Repository Esri/calcite-design-system, pull requests merged in 2022-10, with the labels that each got.

#5295 docs: style guide consistency across components
  src/components/accordion-item/accordion-item.tsx
  src/components/action-menu/action-menu.tsx
  src/components/action/action.tsx
  src/components/button/button.tsx
  src/components/checkbox/checkbox.tsx
  src/components/chip/chip.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.tsx
  src/components/date-picker/date-picker.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.tsx
  src/components/fab/fab.tsx
  src/components/handle/handle.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-message/input-message.scss
  src/components/input-message/input-message.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/label/label.scss
  src/components/label/label.tsx
  src/components/link/link.tsx
  src/components/notice/notice.tsx
  src/components/popover/popover.tsx
  src/components/radio-button-group/radio-button-group.tsx
  src/components/radio-button/radio-button.tsx
  src/components/radio-group-item/radio-group-item.tsx
  src/components/radio-group/radio-group.tsx
  src/components/rating/rating.tsx
  src/components/select/select.tsx
  src/components/shell-center-row/shell-center-row.tsx
  src/components/shell-panel/shell-panel.tsx
  src/components/slider/slider.tsx
  src/components/split-button/split-button.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/switch/switch.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
  src/components/tile-select-group/tile-select-group.tsx
  src/components/tip-manager/tip-manager.tsx
  src/components/tooltip/tooltip.tsx
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.tsx
Labels: docs

#5402 build(deps): bump stencil and typescript
  package-lock.json
  package.json
Labels: chore

#5340 feat(alert): add numberingSystem property
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
  src/utils/locale.ts
Labels: enhancement, Stale

#5363 fix(date-picker-day): adds RTL equivalent CSS
  src/components/date-picker-day/date-picker-day.scss
Labels: bug, Stale, pr ready for visual snapshots

#5421 docs(flow-item, panel): use @example jsdoc tag to fix formatting
  src/components/flow-item/flow-item.tsx
  src/components/panel/panel.tsx
Labels: docs

#5368 fix(alert, date-picker-month-header, input-date-picker, loader, panel): adds RTL equivalent CSS
  src/components/alert/alert.scss
  src/components/input-date-picker/input-date-picker.scss
  src/components/loader/loader.scss
  src/components/panel/panel.scss
Labels: bug, pr ready for visual snapshots

#5338 feat: allow lang to be inherited to set component locale
  src/components/alert/alert.tsx
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/utils.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/pagination/pagination.tsx
  src/components/slider/slider.tsx
  src/components/time-picker/time-picker.tsx
  src/utils/dom.ts
  src/utils/locale.ts
  src/utils/observers.ts
Labels: enhancement, pr ready for visual snapshots

#5412 build: drop ES5 build
  package.json
  stencil.config.ts
  support/patchES5Helpers.ts
Labels: chore

#5411 build(output-target): drop undocumented and deprecated dist-custom-elements-bundle output target
  .gitignore
  stencil.config.ts
Labels: chore

#5425 chore: add t9n module, helpers and doc
  .gitignore
  conventions/Internationalization.md
  package-lock.json
  package.json
  src/tests/commonTests.ts
  src/utils/locale.ts
  src/utils/t9n.ts
  src/utils/time.ts
  support/generateT9nTypes.ts
  support/syncEnT9nBundles.ts
Labels: chore

#5418 docs(readme): need --legacy-peer-deps flag on first install
  CONTRIBUTING.md
Labels: docs

#5406 docs: update component READMEs
  src/components/accordion-item/readme.md
  src/components/action-menu/readme.md
  src/components/action/readme.md
  src/components/alert/readme.md
  src/components/button/readme.md
  src/components/chip/readme.md
  src/components/color-picker-hex-input/readme.md
  src/components/color-picker/readme.md
  src/components/combobox-item/readme.md
  src/components/combobox/readme.md
  src/components/date-picker/readme.md
  src/components/dropdown-item/readme.md
  src/components/dropdown/readme.md
  src/components/fab/readme.md
  src/components/flow-item/readme.md
  src/components/handle/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-message/readme.md
  src/components/input-number/readme.md
  src/components/input-text/readme.md
  src/components/input-time-picker/readme.md
  src/components/input/readme.md
  src/components/label/readme.md
  src/components/link/readme.md
  src/components/notice/readme.md
  src/components/panel/readme.md
  src/components/popover/readme.md
  src/components/radio-button-group/readme.md
  src/components/radio-button/readme.md
  src/components/radio-group-item/readme.md
  src/components/shell-center-row/readme.md
  src/components/shell-panel/readme.md
  src/components/slider/readme.md
  src/components/split-button/readme.md
  src/components/stepper-item/readme.md
  src/components/switch/readme.md
  src/components/tab-title/readme.md
  src/components/tab/readme.md
  src/components/tile-select-group/readme.md
  src/components/tip-manager/readme.md
  src/components/tooltip/readme.md
  src/components/tree/readme.md
Labels: docs

#5427 fix(input, input-number): numberingSystem property works correctly
  src/components/alert/alert.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/components/pagination/pagination.tsx
  src/components/slider/slider.tsx
  src/demos/input.html
  src/utils/locale.spec.ts
  src/utils/locale.ts
  src/utils/number.ts
Labels: pr ready for visual snapshots

#5448 refactor(alert, pagination, slider, input, input-number): use NumberStringFormat class for localization
  src/components/alert/alert.tsx
  src/components/input-number/input-number.tsx
  src/components/input/input.tsx
  src/components/pagination/pagination.tsx
  src/components/slider/slider.tsx
  src/utils/locale.spec.ts
  src/utils/locale.ts
  src/utils/number.spec.ts
  src/utils/number.ts
Labels: refactor, pr ready for visual snapshots

#5194 feat(tree-item): allow disabling tree-item
  src/components/tree-item/tree-item.e2e.ts
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.tsx
  src/components/tree/utils.ts
Labels: enhancement, pr ready for visual snapshots

#5461 docs: update component READMEs
  src/components/alert/readme.md
  src/components/color-picker-hex-input/readme.md
  src/components/color-picker/readme.md
  src/components/input-number/readme.md
  src/components/input/readme.md
  src/components/pagination/readme.md
  src/components/slider/readme.md
  src/components/tree-item/readme.md
Labels: docs

#5415 build: fix typescript errors
  .storybook/placeholderImage.ts
  .storybook/utils.tsx
  src/components/accordion/accordion.stories.ts
  src/components/avatar/avatar.stories.ts
  src/components/block/block.stories.ts
  src/components/card/card.e2e.ts
  src/components/chip/chip.stories.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/list/list.e2e.ts
  src/components/list/list.stories.ts
  src/components/shell/shell.stories.ts
  src/components/tabs/tabs.stories.ts
  src/components/tile/tile.e2e.ts
  src/components/tip-manager/tip-manager.stories.ts
  src/components/tip/tip.stories.ts
  src/tests/utils.ts
  stencil.config.ts
  tailwind.config.ts
  tsconfig.json
Labels: chore, pr ready for visual snapshots

#5466 refactor: use getters and setters in NumberStringFormat
  src/components/alert/alert.tsx
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/components/pagination/pagination.tsx
  src/components/slider/slider.tsx
  src/utils/locale.spec.ts
  src/utils/locale.ts
  src/utils/number.spec.ts
Labels: refactor

#5301 feat(time-picker, input-time-picker): add numberingSystem property
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.stories.ts
  src/components/input-time-picker/input-time-picker.tsx
  src/components/time-picker/time-picker.tsx
  src/utils/time.ts
Labels: enhancement, Stale, pr ready for visual snapshots

#5474 refactor(block): move hardcoded classes to CSS object
  src/components/block/block.tsx
  src/components/block/resources.ts
Labels: refactor

#5475 fix(input, input-number, input-text): fix input icons not displaying properly in Firefox
  src/components/input-number/input-number.scss
  src/components/input-text/input-text.scss
  src/components/input/input.scss
Labels: bug, pr ready for visual snapshots

#5477 refactor(input-number, input-text): drop resize-icon selectors
  src/components/input-number/input-number.scss
  src/components/input-text/input-text.scss
Labels: refactor, pr ready for visual snapshots

#5473 fix(block): improve content layout
  src/components/block/block.scss
  src/components/block/block.stories.ts
  src/components/block/block.tsx
  src/components/block/resources.ts
Labels: bug, pr ready for visual snapshots

#5479 docs: update component READMEs
  src/components/input-time-picker/readme.md
  src/components/time-picker/readme.md
Labels: docs

#5431 feat(color-picker): add built-in translations
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.tsx
Labels: enhancement

#5344 fix(date-picker): no longer hides year for zh-CN locale
  src/components/date-picker-month-header/date-picker-month-header.scss
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker/date-picker.stories.ts
Labels: bug, pr ready for visual snapshots

#5435 feat(scrim): add built-in translations
  src/components/scrim/resources.ts
  src/components/scrim/scrim.e2e.ts
  src/components/scrim/scrim.tsx
Labels: enhancement

#5469 docs(changelog): add missing breaking changes
  CHANGELOG.md
Labels: docs

#5436 feat(popover): add built-in translations
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
  src/components/popover/resources.ts
  src/utils/t9n.ts
Labels: enhancement

#5467 feat(stepper, stepper-item): add numberingSystem property
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.stories.ts
  src/components/stepper/stepper.tsx
  src/demos/stepper.html
Labels: enhancement, pr ready for visual snapshots

#5487 fix(flow-item): fix scrollContentTo
  src/components/flow-item/flow-item.e2e.ts
  src/components/flow-item/flow-item.tsx
Labels: bug

#5438 feat(value-list): add built-in translations
  src/components/value-list/assets/value-list/t9n/messages.json
  src/components/value-list/assets/value-list/t9n/messages_ar.json
  src/components/value-list/assets/value-list/t9n/messages_bg.json
  src/components/value-list/assets/value-list/t9n/messages_bs.json
  src/components/value-list/assets/value-list/t9n/messages_ca.json
  src/components/value-list/assets/value-list/t9n/messages_cs.json
  src/components/value-list/assets/value-list/t9n/messages_da.json
  src/components/value-list/assets/value-list/t9n/messages_de.json
  src/components/value-list/assets/value-list/t9n/messages_el.json
  src/components/value-list/assets/value-list/t9n/messages_en.json
  src/components/value-list/assets/value-list/t9n/messages_es.json
  src/components/value-list/assets/value-list/t9n/messages_et.json
  src/components/value-list/assets/value-list/t9n/messages_fi.json
  src/components/value-list/assets/value-list/t9n/messages_fr.json
  src/components/value-list/assets/value-list/t9n/messages_he.json
  src/components/value-list/assets/value-list/t9n/messages_hr.json
  src/components/value-list/assets/value-list/t9n/messages_hu.json
  src/components/value-list/assets/value-list/t9n/messages_id.json
  src/components/value-list/assets/value-list/t9n/messages_it.json
  src/components/value-list/assets/value-list/t9n/messages_ja.json
  src/components/value-list/assets/value-list/t9n/messages_ko.json
  src/components/value-list/assets/value-list/t9n/messages_lt.json
  src/components/value-list/assets/value-list/t9n/messages_lv.json
  src/components/value-list/assets/value-list/t9n/messages_nl.json
  src/components/value-list/assets/value-list/t9n/messages_no.json
  src/components/value-list/assets/value-list/t9n/messages_pl.json
  src/components/value-list/assets/value-list/t9n/messages_pt-BR.json
  src/components/value-list/assets/value-list/t9n/messages_pt-PT.json
  src/components/value-list/assets/value-list/t9n/messages_ro.json
  src/components/value-list/assets/value-list/t9n/messages_ru.json
  src/components/value-list/assets/value-list/t9n/messages_sk.json
  src/components/value-list/assets/value-list/t9n/messages_sl.json
  src/components/value-list/assets/value-list/t9n/messages_sr.json
  src/components/value-list/assets/value-list/t9n/messages_sv.json
  src/components/value-list/assets/value-list/t9n/messages_th.json
  src/components/value-list/assets/value-list/t9n/messages_tr.json
  src/components/value-list/assets/value-list/t9n/messages_uk.json
  src/components/value-list/assets/value-list/t9n/messages_vi.json
  src/components/value-list/assets/value-list/t9n/messages_zh-CN.json
  src/components/value-list/assets/value-list/t9n/messages_zh-HK.json
  src/components/value-list/assets/value-list/t9n/messages_zh-TW.json
  src/components/value-list/utils.ts
  src/components/value-list/value-list.e2e.ts
  src/components/value-list/value-list.tsx
Labels: enhancement

#5501 docs: update component READMEs
  src/components/accordion-item/readme.md
  src/components/accordion/readme.md
  src/components/action-bar/readme.md
  src/components/action-group/readme.md
  src/components/action-menu/readme.md
  src/components/action-pad/readme.md
  src/components/action/readme.md
  src/components/alert/readme.md
  src/components/input-message/readme.md
  src/components/input-number/readme.md
  src/components/input-text/readme.md
  src/components/input-time-picker/readme.md
  src/components/input/readme.md
  src/components/label/readme.md
  src/components/link/readme.md
  src/components/list-item/readme.md
  src/components/list/readme.md
  src/components/loader/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/option-group/readme.md
  src/components/option/readme.md
  src/components/pagination/readme.md
  src/components/panel/readme.md
  src/components/pick-list-item/readme.md
  src/components/pick-list/readme.md
  src/components/popover/readme.md
  src/components/progress/readme.md
  src/components/radio-button-group/readme.md
  src/components/radio-button/readme.md
  src/components/radio-group-item/readme.md
  src/components/radio-group/readme.md
  src/components/rating/readme.md
  src/components/scrim/readme.md
  src/components/select/readme.md
  src/components/shell-center-row/readme.md
  src/components/shell-panel/readme.md
  src/components/slider/readme.md
  src/components/split-button/readme.md
  src/components/stepper-item/readme.md
  src/components/stepper/readme.md
  src/components/switch/readme.md
  src/components/tab-title/readme.md
  src/components/tab/readme.md
  src/components/tabs/readme.md
  src/components/tile-select-group/readme.md
  src/components/tile-select/readme.md
  src/components/tile/readme.md
  src/components/time-picker/readme.md
  src/components/tip-manager/readme.md
  src/components/tip/readme.md
  src/components/tooltip-manager/readme.md
  src/components/tooltip/readme.md
  src/components/tree-item/readme.md
  src/components/tree/readme.md
  src/components/value-list-item/readme.md
  src/components/value-list/readme.md
Labels: docs

#5472 fix(tree, tree-item): works when tree is the topmost element in a shadow root where it has no parent
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.tsx
Labels: bug, pr ready for visual snapshots

#5463 feat(notice): add built-in translations
  src/components/notice/notice.e2e.ts
  src/components/notice/notice.tsx
  src/components/notice/resources.ts
Labels: enhancement

#5457 feat(inline-editable): add built-in translations
  src/components/inline-editable/assets/inline-editable/t9n/messages.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_ar.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_bg.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_bs.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_ca.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_cs.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_da.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_de.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_el.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_en.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_es.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_et.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_fi.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_fr.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_he.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_hr.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_hu.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_id.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_it.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_ja.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_ko.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_lt.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_lv.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_nl.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_no.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_pl.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_pt-BR.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_pt-PT.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_ro.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_ru.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_sk.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_sl.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_sr.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_sv.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_th.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_tr.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_uk.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_vi.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_zh-CN.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_zh-HK.json
  src/components/inline-editable/assets/inline-editable/t9n/messages_zh-TW.json
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/inline-editable/inline-editable.tsx
  src/components/inline-editable/resources.ts
Labels: enhancement

#5456 feat(filter): add built-in translations
  src/components/filter/assets/filter/t9n/messages.json
  src/components/filter/assets/filter/t9n/messages_ar.json
  src/components/filter/assets/filter/t9n/messages_bg.json
  src/components/filter/assets/filter/t9n/messages_bs.json
  src/components/filter/assets/filter/t9n/messages_ca.json
  src/components/filter/assets/filter/t9n/messages_cs.json
  src/components/filter/assets/filter/t9n/messages_da.json
  src/components/filter/assets/filter/t9n/messages_de.json
  src/components/filter/assets/filter/t9n/messages_el.json
  src/components/filter/assets/filter/t9n/messages_en.json
  src/components/filter/assets/filter/t9n/messages_es.json
  src/components/filter/assets/filter/t9n/messages_et.json
  src/components/filter/assets/filter/t9n/messages_fi.json
  src/components/filter/assets/filter/t9n/messages_fr.json
  src/components/filter/assets/filter/t9n/messages_he.json
  src/components/filter/assets/filter/t9n/messages_hr.json
  src/components/filter/assets/filter/t9n/messages_hu.json
  src/components/filter/assets/filter/t9n/messages_id.json
  src/components/filter/assets/filter/t9n/messages_it.json
  src/components/filter/assets/filter/t9n/messages_ja.json
  src/components/filter/assets/filter/t9n/messages_ko.json
  src/components/filter/assets/filter/t9n/messages_lt.json
  src/components/filter/assets/filter/t9n/messages_lv.json
  src/components/filter/assets/filter/t9n/messages_nl.json
  src/components/filter/assets/filter/t9n/messages_no.json
  src/components/filter/assets/filter/t9n/messages_pl.json
  src/components/filter/assets/filter/t9n/messages_pt-BR.json
  src/components/filter/assets/filter/t9n/messages_pt-PT.json
  src/components/filter/assets/filter/t9n/messages_ro.json
  src/components/filter/assets/filter/t9n/messages_ru.json
  src/components/filter/assets/filter/t9n/messages_sk.json
  src/components/filter/assets/filter/t9n/messages_sl.json
  src/components/filter/assets/filter/t9n/messages_sr.json
  src/components/filter/assets/filter/t9n/messages_sv.json
  src/components/filter/assets/filter/t9n/messages_th.json
  src/components/filter/assets/filter/t9n/messages_tr.json
  src/components/filter/assets/filter/t9n/messages_uk.json
  src/components/filter/assets/filter/t9n/messages_vi.json
  src/components/filter/assets/filter/t9n/messages_zh-CN.json
  src/components/filter/assets/filter/t9n/messages_zh-HK.json
  src/components/filter/assets/filter/t9n/messages_zh-TW.json
  src/components/filter/filter.e2e.ts
  src/components/filter/filter.tsx
  src/components/filter/resources.ts
Labels: enhancement

#5455 feat(combobox): add built-in translations
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/resources.ts
Labels: enhancement

#5450 feat(card): add built-in translations
  src/components/card/card.e2e.ts
  src/components/card/card.tsx
  src/components/card/resources.ts
Labels: enhancement

#5446 feat(block,block-section): add built-in translations
  src/components/block-section/block-section.e2e.ts
  src/components/block-section/block-section.tsx
  src/components/block/block.e2e.ts
  src/components/block/block.tsx
  src/utils/locale.ts
Labels: enhancement

#5444 feat(alert): add support for built-in translations
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.tsx
  src/components/alert/resources.ts
Labels: enhancement

#5465 feat(chip): add built-in translations
  src/components/chip/assets/chip/t9n/messages.json
  src/components/chip/assets/chip/t9n/messages_ar.json
  src/components/chip/assets/chip/t9n/messages_bg.json
  src/components/chip/assets/chip/t9n/messages_bs.json
  src/components/chip/assets/chip/t9n/messages_ca.json
  src/components/chip/assets/chip/t9n/messages_cs.json
  src/components/chip/assets/chip/t9n/messages_da.json
  src/components/chip/assets/chip/t9n/messages_de.json
  src/components/chip/assets/chip/t9n/messages_el.json
  src/components/chip/assets/chip/t9n/messages_en.json
  src/components/chip/assets/chip/t9n/messages_es.json
  src/components/chip/assets/chip/t9n/messages_et.json
  src/components/chip/assets/chip/t9n/messages_fi.json
  src/components/chip/assets/chip/t9n/messages_fr.json
  src/components/chip/assets/chip/t9n/messages_he.json
  src/components/chip/assets/chip/t9n/messages_hr.json
  src/components/chip/assets/chip/t9n/messages_hu.json
  src/components/chip/assets/chip/t9n/messages_id.json
  src/components/chip/assets/chip/t9n/messages_it.json
  src/components/chip/assets/chip/t9n/messages_ja.json
  src/components/chip/assets/chip/t9n/messages_ko.json
  src/components/chip/assets/chip/t9n/messages_lt.json
  src/components/chip/assets/chip/t9n/messages_lv.json
  src/components/chip/assets/chip/t9n/messages_nl.json
  src/components/chip/assets/chip/t9n/messages_no.json
  src/components/chip/assets/chip/t9n/messages_pl.json
  src/components/chip/assets/chip/t9n/messages_pt-BR.json
  src/components/chip/assets/chip/t9n/messages_pt-PT.json
  src/components/chip/assets/chip/t9n/messages_ro.json
  src/components/chip/assets/chip/t9n/messages_ru.json
  src/components/chip/assets/chip/t9n/messages_sk.json
  src/components/chip/assets/chip/t9n/messages_sl.json
  src/components/chip/assets/chip/t9n/messages_sr.json
  src/components/chip/assets/chip/t9n/messages_sv.json
  src/components/chip/assets/chip/t9n/messages_th.json
  src/components/chip/assets/chip/t9n/messages_tr.json
  src/components/chip/assets/chip/t9n/messages_uk.json
  src/components/chip/assets/chip/t9n/messages_vi.json
  src/components/chip/assets/chip/t9n/messages_zh-CN.json
  src/components/chip/assets/chip/t9n/messages_zh-HK.json
  src/components/chip/assets/chip/t9n/messages_zh-TW.json
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.tsx
  src/components/chip/resources.ts
  src/tests/commonTests.ts
  src/utils/t9n.ts
Labels: enhancement

#5511 fix(flow-item): Render back button first.
  src/components/flow-item/flow-item.tsx
Labels: bug, pr ready for visual snapshots

#5516 fix(tab): applies section styles onto the enclosing parent
  src/components/tab/tab.scss
  src/components/tab/tab.tsx
  src/components/tabs/tabs.stories.ts
Labels: bug, pr ready for visual snapshots

#5517 chore: remove unused import
  src/components/tree/tree.e2e.ts
Labels: chore

#5404 feat(date-picker,input-date-picker): add support for built-in translation
  conventions/Internationalization.md
  src/components/date-picker/assets/date-picker/nls/no.json
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/resources.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/utils/locale.ts
  src/utils/t9n.ts
Labels: enhancement

#5401 feat(list): Add filtering support.
  src/components/list-item/interfaces.d.ts
  src/components/list-item/list-item.tsx
  src/components/list/list.scss
  src/components/list/list.stories.ts
  src/components/list/list.tsx
  src/components/list/resources.ts
  src/demos/list.html
Labels: Stale

#5458 feat(input-number, input, input-text): add built-in translations
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input-number/resources.ts
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/utils/locale.ts
Labels: enhancement

#5434 feat(pick-list-item): add built-in translations
  src/components/pick-list-item/pick-list-item.e2e.ts
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list-item/resources.ts
  src/components/pick-list/assets/pick-list/t9n/messages.json
  src/components/pick-list/assets/pick-list/t9n/messages_ar.json
  src/components/pick-list/assets/pick-list/t9n/messages_bg.json
  src/components/pick-list/assets/pick-list/t9n/messages_bs.json
  src/components/pick-list/assets/pick-list/t9n/messages_ca.json
  src/components/pick-list/assets/pick-list/t9n/messages_cs.json
  src/components/pick-list/assets/pick-list/t9n/messages_da.json
  src/components/pick-list/assets/pick-list/t9n/messages_de.json
  src/components/pick-list/assets/pick-list/t9n/messages_el.json
  src/components/pick-list/assets/pick-list/t9n/messages_en.json
  src/components/pick-list/assets/pick-list/t9n/messages_es.json
  src/components/pick-list/assets/pick-list/t9n/messages_et.json
  src/components/pick-list/assets/pick-list/t9n/messages_fi.json
  src/components/pick-list/assets/pick-list/t9n/messages_fr.json
  src/components/pick-list/assets/pick-list/t9n/messages_he.json
  src/components/pick-list/assets/pick-list/t9n/messages_hr.json
  src/components/pick-list/assets/pick-list/t9n/messages_hu.json
  src/components/pick-list/assets/pick-list/t9n/messages_id.json
  src/components/pick-list/assets/pick-list/t9n/messages_it.json
  src/components/pick-list/assets/pick-list/t9n/messages_ja.json
  src/components/pick-list/assets/pick-list/t9n/messages_ko.json
  src/components/pick-list/assets/pick-list/t9n/messages_lt.json
  src/components/pick-list/assets/pick-list/t9n/messages_lv.json
  src/components/pick-list/assets/pick-list/t9n/messages_nl.json
  src/components/pick-list/assets/pick-list/t9n/messages_no.json
  src/components/pick-list/assets/pick-list/t9n/messages_pl.json
  src/components/pick-list/assets/pick-list/t9n/messages_pt-BR.json
  src/components/pick-list/assets/pick-list/t9n/messages_pt-PT.json
  src/components/pick-list/assets/pick-list/t9n/messages_ro.json
  src/components/pick-list/assets/pick-list/t9n/messages_ru.json
  src/components/pick-list/assets/pick-list/t9n/messages_sk.json
  src/components/pick-list/assets/pick-list/t9n/messages_sl.json
  src/components/pick-list/assets/pick-list/t9n/messages_sr.json
  src/components/pick-list/assets/pick-list/t9n/messages_sv.json
  src/components/pick-list/assets/pick-list/t9n/messages_th.json
  src/components/pick-list/assets/pick-list/t9n/messages_tr.json
  src/components/pick-list/assets/pick-list/t9n/messages_uk.json
  src/components/pick-list/assets/pick-list/t9n/messages_vi.json
  src/components/pick-list/assets/pick-list/t9n/messages_zh-CN.json
  src/components/pick-list/assets/pick-list/t9n/messages_zh-HK.json
  src/components/pick-list/assets/pick-list/t9n/messages_zh-TW.json
  t9nmanifest.txt
Labels: enhancement

#5432 feat(pagination): add built-in translations
  src/components/pagination/assets/pagination/t9n/messages.json
  src/components/pagination/assets/pagination/t9n/messages_ar.json
  src/components/pagination/assets/pagination/t9n/messages_bg.json
  src/components/pagination/assets/pagination/t9n/messages_bs.json
  src/components/pagination/assets/pagination/t9n/messages_ca.json
  src/components/pagination/assets/pagination/t9n/messages_cs.json
  src/components/pagination/assets/pagination/t9n/messages_da.json
  src/components/pagination/assets/pagination/t9n/messages_de.json
  src/components/pagination/assets/pagination/t9n/messages_el.json
  src/components/pagination/assets/pagination/t9n/messages_en.json
  src/components/pagination/assets/pagination/t9n/messages_es.json
  src/components/pagination/assets/pagination/t9n/messages_et.json
  src/components/pagination/assets/pagination/t9n/messages_fi.json
  src/components/pagination/assets/pagination/t9n/messages_fr.json
  src/components/pagination/assets/pagination/t9n/messages_he.json
  src/components/pagination/assets/pagination/t9n/messages_hr.json
  src/components/pagination/assets/pagination/t9n/messages_hu.json
  src/components/pagination/assets/pagination/t9n/messages_id.json
  src/components/pagination/assets/pagination/t9n/messages_it.json
  src/components/pagination/assets/pagination/t9n/messages_ja.json
  src/components/pagination/assets/pagination/t9n/messages_ko.json
  src/components/pagination/assets/pagination/t9n/messages_lt.json
  src/components/pagination/assets/pagination/t9n/messages_lv.json
  src/components/pagination/assets/pagination/t9n/messages_nl.json
  src/components/pagination/assets/pagination/t9n/messages_no.json
  src/components/pagination/assets/pagination/t9n/messages_pl.json
  src/components/pagination/assets/pagination/t9n/messages_pt-BR.json
  src/components/pagination/assets/pagination/t9n/messages_pt-PT.json
  src/components/pagination/assets/pagination/t9n/messages_ro.json
  src/components/pagination/assets/pagination/t9n/messages_ru.json
  src/components/pagination/assets/pagination/t9n/messages_sk.json
  src/components/pagination/assets/pagination/t9n/messages_sl.json
  src/components/pagination/assets/pagination/t9n/messages_sr.json
  src/components/pagination/assets/pagination/t9n/messages_sv.json
  src/components/pagination/assets/pagination/t9n/messages_th.json
  src/components/pagination/assets/pagination/t9n/messages_tr.json
  src/components/pagination/assets/pagination/t9n/messages_uk.json
  src/components/pagination/assets/pagination/t9n/messages_vi.json
  src/components/pagination/assets/pagination/t9n/messages_zh-CN.json
  src/components/pagination/assets/pagination/t9n/messages_zh-HK.json
  src/components/pagination/assets/pagination/t9n/messages_zh-TW.json
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.tsx
  src/components/pagination/resources.ts
  src/utils/locale.ts
Labels: enhancement

#5462 feat(modal): add built-in translations
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
Labels: enhancement

#5521 fix(button, fab): bumping the scale of icon to M when the parent Button / FAB is scale L
  src/components/button/button.tsx
  src/demos/fab.html
Labels: bug, pr ready for visual snapshots

#5523 refactor(tree): drop the optional chaining operator ? from tree within the event handler
  src/components/tree/tree.tsx
Labels: refactor

#5525 build(deps): bump calcite icons
  package-lock.json
  package.json
Labels: chore

#5482 refactor(storybook): fix type errors
  .storybook/preview.ts
  .storybook/utils.tsx
  src/components/card/card.stories.ts
  src/components/flow-item/flow-item.stories.ts
  src/components/graph/graph.stories.ts
  src/components/progress/progress.stories.ts
  src/components/shell/shell.stories.ts
  src/components/slider/slider.stories.ts
  src/tests/utils.ts
  stencil.storybook.config.ts
  tsconfig-eslint.json
  tsconfig-storybook.json
Labels: refactor, pr ready for visual snapshots

#5530 docs(conventions): update style guide
  conventions/Documentation.md
Labels: docs

#5533 fix(slider): fix slider (single-value) error when clicking range
  src/components/slider/slider.e2e.ts
  src/components/slider/slider.tsx
Labels: bug, pr ready for visual snapshots

#5528 ci(screener): reenable screener on pushes to master to update baseline
  .github/workflows/pr-screener.yml
Labels: pr ready for visual snapshots

#5519 fix: components should only react to primary button pointer events.
  src/components/action-menu/action-menu.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-number/input-number.tsx
  src/components/input/input.tsx
  src/components/popover/PopoverManager.ts
  src/components/shell-panel/shell-panel.tsx
  src/components/slider/slider.tsx
  src/components/tooltip/TooltipManager.ts
  src/utils/dom.spec.ts
  src/utils/dom.ts
Labels: bug, pr ready for visual snapshots

#5488 feat(date-picker, input-date-picker): add numberingSystem property
  src/components/date-picker-day/date-picker-day.e2e.ts
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.stories.ts
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/demos/date-picker.html
  src/utils/date.spec.ts
  src/utils/date.ts
  src/utils/locale.spec.ts
  src/utils/locale.ts
  src/utils/number.ts
Labels: enhancement, pr ready for visual snapshots

#5518 docs: consistent api styling + define card thumbnailPosition
  src/components/block-section/block-section.tsx
  src/components/block/block.tsx
  src/components/button/button.tsx
  src/components/card/card.tsx
  src/components/checkbox/checkbox.scss
  src/components/checkbox/checkbox.tsx
  src/components/chip/chip.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker-swatch/color-picker-swatch.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox-item-group/combobox-item-group.tsx
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.scss
  src/components/combobox/combobox.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/popover/popover.tsx
  src/components/tip/tip.tsx
Labels: docs

#5543 fix(value-list-item): Change drag handle color.
  src/components/handle/handle.scss
  src/components/value-list-item/value-list-item.scss
Labels: bug, pr ready for visual snapshots

#5542 fix: add custom logic for floating-ui positioning across shadow DOM in non-Chromium browsers
  package-lock.json
  package.json
  src/utils/config.ts
  src/utils/floating-ui.ts
  src/utils/floating-ui/nonChromiumPlatformUtils.ts
Labels: bug, pr ready for visual snapshots

#5484 fix: fix jarring positioning when a closed component is first opened
  src/assets/styles/_floating-ui.scss
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.tsx
  src/utils/floating-ui.spec.ts
  src/utils/floating-ui.ts
  stencil.config.ts
Labels: bug, pr ready for visual snapshots

#5537 fix(calcite-loader, calcite-input-message): drop active in favor of hidden
  src/components/input-message/input-message.e2e.ts
  src/components/input-message/input-message.scss
  src/components/input-message/input-message.tsx
  src/components/loader/loader.e2e.ts
  src/components/loader/loader.scss
  src/components/loader/loader.tsx
Labels: bug, pr ready for visual snapshots

#5547 feat(flow-item): Add calciteFlowItemScroll event
  src/components/flow-item/flow-item.e2e.ts
  src/components/flow-item/flow-item.tsx
Labels: enhancement

#5534 fix(date-picker): display correct date format order in header for zh-CN locale.
  src/components/date-picker-month-header/date-picker-month-header.scss
Labels: bug, pr ready for visual snapshots

#5640 fix(stepper-item): make sure numberingSystem is rendered on load
  src/components/stepper-item/stepper-item.tsx
Labels: bug, pr ready for visual snapshots

#5641 fix(slider): dragging range fires input event
  src/components/slider/slider.e2e.ts
  src/components/slider/slider.tsx
Labels: bug, pr ready for visual snapshots

#5643 fix(tooltip): Prevent opening when closeOnClick is true and referenceElement is clicked quickly
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
Labels: bug

#5649 fix(types): fix type issue caused by unintentionally moving @floating-ui/dom as a dev dependency
  package-lock.json
  package.json
Labels: bug

#5447 feat(button): add built-in translations
  src/components/button/button.e2e.ts
  src/components/button/button.tsx
  src/components/button/resources.ts
  src/utils/config.ts
  src/utils/floating-ui/nonChromiumPlatformUtils.ts
  src/utils/locale.ts
Labels: enhancement

#5642 fix(action-menu): fix keydown support
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-menu/action-menu.tsx
Labels: bug, pr ready for visual snapshots

#5647 fix(tabs): bordered and layout center combination works
  src/components/tabs/tabs.e2e.ts
  src/components/tabs/tabs.stories.ts
  src/components/tabs/tabs.tsx
Labels: bug, pr ready for visual snapshots

#5656 fix(input-message,loader): reverts breaking change
  CHANGELOG.md
  src/components/input-message/input-message.e2e.ts
  src/components/input-message/input-message.scss
  src/components/input-message/input-message.tsx
  src/components/loader/loader.e2e.ts
  src/components/loader/loader.scss
  src/components/loader/loader.tsx
Labels: bug, pr ready for visual snapshots

#5645 fix(date-picker): cached formatter does not conflict with our numberingSystem components
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/demos/date-picker.html
Labels: bug, pr ready for visual snapshots

#5658 docs(changelog): add context to revert requiring patch
  CHANGELOG.md
Labels: docs

#5483 ci: automatically create product label when added after submission
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
  .github/workflows/add-esri-product-label.yml
Labels: Stale

#5653 refactor: import types from @floating-ui/dom and not the package src
  src/utils/floating-ui/nonChromiumPlatformUtils.ts
Labels: refactor

#5560 fix(popover): adds a new `scale` prop
  src/components/popover/popover.scss
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
Labels: bug, pr ready for visual snapshots

#5669 docs(changelog): add back output target removal breaking change
  CHANGELOG.md
Labels: docs

#5491 test(dropdown, icon, modal, tab-title): skip unstable tests
  src/components/dropdown/dropdown.e2e.ts
  src/components/icon/icon.e2e.ts
  src/components/modal/modal.e2e.ts
  src/components/tab-title/tab-title.e2e.ts
Labels: testing, Stale
