Repository Esri/calcite-design-system, pull requests merged in 2022-12, with the labels that each got.

#5865 docs: update component READMEs
  src/components/accordion-item/readme.md
  src/components/accordion/readme.md
  src/components/action-menu/readme.md
  src/components/block/readme.md
  src/components/chip/readme.md
  src/components/date-picker-day/readme.md
  src/components/date-picker-month-header/readme.md
  src/components/date-picker-month/readme.md
  src/components/date-picker/readme.md
  src/components/dropdown-group/readme.md
  src/components/dropdown-item/readme.md
  src/components/dropdown/readme.md
  src/components/fab/readme.md
  src/components/filter/readme.md
  src/components/flow-item/readme.md
  src/components/icon/readme.md
  src/components/inline-editable/readme.md
Labels: docs

#5849 docs(contributing): estimate labels and guidance
  CONTRIBUTING.md
Labels: docs

#5852 fix(alert): placement of link consistent with notice
  src/components/alert/alert.scss
Labels: bug, pr ready for visual snapshots

#5858 refactor(tree)!: Remove deprecated `inputEnabled` property
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.tsx
Labels: refactor, pr ready for visual snapshots

#5859 refactor(dropdown, dropdown-item)!: Remove deprecated properties
  src/components/dropdown-item/dropdown-item.scss
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/usage/Basic.md
  src/components/dropdown/usage/Disabling-close-on-select.md
  src/components/dropdown/usage/Groups.md
  src/components/split-button/split-button.tsx
Labels: refactor, pr ready for visual snapshots

#5863 refactor(slider)!: Remove deprecated `calciteSliderUpdate` event
  src/components/slider/slider.tsx
  src/demos/slider.html
Labels: refactor

#5864 refactor(split-button)!: Remove deprecated `event.detail` on events
  src/components/split-button/split-button.tsx
Labels: refactor

#5862 refactor(radio-group-item)!: Remove deprecated properties
  src/components/radio-group-item/radio-group-item.e2e.ts
  src/components/radio-group-item/radio-group-item.scss
  src/components/radio-group-item/radio-group-item.tsx
  src/components/radio-group/radio-group.stories.ts
  src/demos/radio-group.html
Labels: refactor, pr ready for visual snapshots

#5871 docs(changelog): fix breaking change indent levels
  CHANGELOG.md
Labels: docs, pr ready for visual snapshots

#5874 docs: update component READMEs
  src/components/dropdown-item/readme.md
  src/components/dropdown/readme.md
  src/components/radio-group-item/readme.md
  src/components/slider/readme.md
  src/components/split-button/readme.md
  src/components/tree/readme.md
Labels: docs

#5879 build(tsconfig): bump target to es2020 and lib to es2021
  tsconfig-base.json
Labels: chore, pr ready for visual snapshots

#5868 fix(modal): restore deprecated scrim background css property
  src/components/modal/modal.scss
  src/components/modal/readme.md
Labels: bug, pr ready for visual snapshots

#5884 ci: disable milestone automation due to process changes
  .github/workflows/change-milestone.yml
  .github/workflows/close-milestone.yml
  .github/workflows/create-milestone.yml
Labels: chore

#5891 fix(list-item): Add hover styling
  src/components/list-item/list-item.scss
Labels: bug, pr ready for visual snapshots

#5892 ci(pr-template): remove markdown comment
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore, pr ready for visual snapshots

#5894 ci(browserlist): use legacy-peer-deps flag on uninstall
  .github/workflows/update-browserslist-db.yml
Labels: chore

#5870 feat(textarea): add default message bundle
  src/components/textarea/assets/textarea/t9n/messages.json
  t9nmanifest.txt
Labels: enhancement, pr ready for visual snapshots

#5873 fix(tooltip): Prevent tooltip from appearing above modal overlay
  src/assets/styles/_floating-ui.scss
  src/components/combobox/combobox.scss
  src/components/dropdown/dropdown.scss
  src/components/input-date-picker/input-date-picker.scss
  src/components/modal/modal.stories.ts
  src/components/popover/popover.scss
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.scss
  tailwind.config.ts
Labels: bug, pr ready for visual snapshots

#5869 refactor(stepper-item)!: Remove deprecated properties
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.stories.ts
  src/components/stepper/usage/Basic.md
  src/demos/stepper.html
Labels: refactor

#5876 feat(list-item): Add content slot for specialized content
  src/components/list-item/list-item.e2e.ts
  src/components/list-item/list-item.scss
  src/components/list-item/list-item.tsx
  src/components/list-item/resources.ts
  src/components/list/list.stories.ts
Labels: enhancement, pr ready for visual snapshots

#5326 fix(modal): OpenCloseComponent emits when setting `--calcite-duration-factor` to 0
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
  src/utils/openCloseComponent.ts
Labels: bug, pr ready for visual snapshots

#5905 docs: update component READMEs
  .github/PULL_REQUEST_TEMPLATE.md
  src/components/list-item/readme.md
  src/components/popover/readme.md
  src/components/stepper-item/readme.md
  src/components/stepper/readme.md
  src/components/tooltip/readme.md
Labels: docs

#5906 build(deps): bump
  package-lock.json
  package.json
Labels: chore, pr ready for visual snapshots

#5904 refactor(panel): Remove messages related to deprecated properties.
  src/components/panel/assets/panel/t9n/messages.json
  src/components/panel/assets/panel/t9n/messages_ar.json
  src/components/panel/assets/panel/t9n/messages_bg.json
  src/components/panel/assets/panel/t9n/messages_bs.json
  src/components/panel/assets/panel/t9n/messages_ca.json
  src/components/panel/assets/panel/t9n/messages_cs.json
  src/components/panel/assets/panel/t9n/messages_da.json
  src/components/panel/assets/panel/t9n/messages_de.json
  src/components/panel/assets/panel/t9n/messages_el.json
  src/components/panel/assets/panel/t9n/messages_en.json
  src/components/panel/assets/panel/t9n/messages_es.json
  src/components/panel/assets/panel/t9n/messages_et.json
  src/components/panel/assets/panel/t9n/messages_fi.json
  src/components/panel/assets/panel/t9n/messages_fr.json
  src/components/panel/assets/panel/t9n/messages_he.json
  src/components/panel/assets/panel/t9n/messages_hr.json
  src/components/panel/assets/panel/t9n/messages_hu.json
  src/components/panel/assets/panel/t9n/messages_id.json
  src/components/panel/assets/panel/t9n/messages_it.json
  src/components/panel/assets/panel/t9n/messages_ja.json
  src/components/panel/assets/panel/t9n/messages_ko.json
  src/components/panel/assets/panel/t9n/messages_lt.json
  src/components/panel/assets/panel/t9n/messages_lv.json
  src/components/panel/assets/panel/t9n/messages_nl.json
  src/components/panel/assets/panel/t9n/messages_no.json
  src/components/panel/assets/panel/t9n/messages_pl.json
  src/components/panel/assets/panel/t9n/messages_pt-BR.json
  src/components/panel/assets/panel/t9n/messages_pt-PT.json
  src/components/panel/assets/panel/t9n/messages_ro.json
  src/components/panel/assets/panel/t9n/messages_ru.json
  src/components/panel/assets/panel/t9n/messages_sk.json
  src/components/panel/assets/panel/t9n/messages_sl.json
  src/components/panel/assets/panel/t9n/messages_sr.json
  src/components/panel/assets/panel/t9n/messages_sv.json
  src/components/panel/assets/panel/t9n/messages_th.json
  src/components/panel/assets/panel/t9n/messages_tr.json
  src/components/panel/assets/panel/t9n/messages_uk.json
  src/components/panel/assets/panel/t9n/messages_vi.json
  src/components/panel/assets/panel/t9n/messages_zh-CN.json
  src/components/panel/assets/panel/t9n/messages_zh-HK.json
  src/components/panel/assets/panel/t9n/messages_zh-TW.json
Labels: refactor

#5907 chore: update focus-trap
  src/components/modal/modal.tsx
  src/utils/focusTrapComponent.ts
Labels: chore

#5861 refactor(label)!: Remove deprecated properties
  src/components/input-message/input-message.e2e.ts
  src/components/input-message/input-message.tsx
  src/components/input-message/readme.md
  src/components/input-message/usage/Basic.md
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.tsx
  src/components/input/input.e2e.ts
  src/components/input/readme.md
  src/components/input/usage/With-label.md
  src/components/label/label.e2e.ts
  src/components/label/label.scss
  src/components/label/label.stories.ts
  src/components/label/label.tsx
  src/components/label/readme.md
  src/components/label/usage/Basic.md
  src/components/label/usage/Browser-caveat.md
  src/demos/input-number.html
  src/demos/input-text.html
  src/demos/input.html
  src/demos/label.html
Labels: refactor, pr ready for visual snapshots

#5918 fix(block): Fix content spacing. #5898
  src/components/block/block.scss
  src/components/block/block.stories.ts
Labels: bug, pr ready for visual snapshots

#5875 fix(action): Add screen reader support for `active` and `indicator` props
  src/components/action/action.e2e.ts
  src/components/action/action.scss
  src/components/action/action.tsx
  src/components/action/resources.ts
Labels: bug

#5925 test(modal): Skip unstable test
  src/components/modal/modal.e2e.ts
Labels: testing, pr ready for visual snapshots

#5928 docs: update component READMEs
  src/components/accordion/readme.md
  src/components/action/readme.md
  src/components/alert/readme.md
  src/components/label/readme.md
  src/components/list-item-group/readme.md
  src/components/list-item/readme.md
  src/components/list/readme.md
Labels: docs

#5926 docs(changelog): fix breaking change indent levels
  CHANGELOG.md
Labels: docs

#5895 feat(action): add built-in translation support for indicator text
  src/components/action/assets/action/t9n/messages.json
Labels: enhancement

#5909 refactor(input-number)!: remove deprecated property and event payload
  src/components/input-number/input-number.tsx
  src/demos/input-number.html
Labels: refactor, pr ready for visual snapshots

#5941 build(deps): downgrade stencil due to e2e errors in ci
  package-lock.json
  package.json
Labels: chore

#5943 docs: update component READMEs
  src/components/input-number/readme.md
Labels: docs

#5942 chore: bump stencil and downgrade e2e action runner
  .github/workflows/deploy-next.yml
  .github/workflows/pr-e2e.yml
  package-lock.json
  package.json
Labels: chore

#5938 docs(action): update indicator prop context for assistive technology
  src/components/action/action.tsx
Labels: docs, pr ready for visual snapshots

#5921 refactor(switch)!: Remove deprecated property and event payload.
  src/components/switch/switch.e2e.ts
  src/components/switch/switch.tsx
  src/demos/switch.html
Labels: refactor, pr ready for visual snapshots

#5922 refactor(tabs, tab-nav, tab-title, tab)!: Remove deprecated properties and values.
  src/components/color-picker/color-picker.tsx
  src/components/tab-nav/readme.md
  src/components/tab-nav/tab-nav.e2e.ts
  src/components/tab-nav/tab-nav.scss
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-nav/usage/Basic.md
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab-title/tab-title.scss
  src/components/tab-title/tab-title.tsx
  src/components/tab/interfaces.ts
  src/components/tab/tab.e2e.ts
  src/components/tab/tab.tsx
  src/components/tabs/interfaces.ts
  src/components/tabs/readme.md
  src/components/tabs/tabs.e2e.ts
  src/components/tabs/tabs.scss
  src/components/tabs/tabs.stories.ts
  src/components/tabs/tabs.tsx
  src/components/tabs/usage/Basic.md
  src/components/tabs/usage/Bordered.md
  src/demos/tabs.html
Labels: refactor, pr ready for visual snapshots

#5935 refactor(handle)!: Remove deprecated event payload property on `calciteHandleNudge`.
  src/components/handle/handle.e2e.ts
  src/components/handle/handle.tsx
  src/components/handle/interfaces.d.ts
  src/components/sortable-list/sortable-list.tsx
Labels: refactor, pr ready for visual snapshots

#5949 docs(changelog): fix breaking change indent levels
  CHANGELOG.md
Labels: docs

#5959 chore(color-picker): add opacity string
  src/components/color-picker/assets/color-picker/t9n/messages.json
Labels: chore

#5872 fix(alert): auto-dismissible retains close button and dismisses timer while a user is hovering over
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.scss
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
  src/components/alert/resources.ts
Labels: bug, enhancement, pr ready for visual snapshots

#5964 docs: update component READMEs
  src/components/action-menu/readme.md
  src/components/action/readme.md
  src/components/handle/readme.md
  src/components/input-time-picker/readme.md
  src/components/input/readme.md
  src/components/popover/readme.md
  src/components/switch/readme.md
  src/components/tab-title/readme.md
  src/components/tab/readme.md
  src/components/tabs/readme.md
  src/components/tooltip/readme.md
Labels: docs

#5966 test(floating-ui): fix type errors
  src/utils/floating-ui.spec.ts
Labels: testing

#5961 fix(input, input-number, input-text): Fix infinite loop crashing browser. #5882
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
Labels: bug, pr ready for visual snapshots

#5962 refactor(time-picker)!: Remove deprecated locale property
  src/components/time-picker/time-picker.tsx
Labels: refactor, pr ready for visual snapshots

#5973 docs(changelog): fix breaking change indent levels
  CHANGELOG.md
Labels: docs

#5970 refactor(input-time-picker)!: Remove deprecated active property
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
Labels: refactor, pr ready for visual snapshots

#5965 fix(modal, popover): Add `disableFocusTrap` property to toggle focus trapping.
  src/components/modal/modal.tsx
  src/components/popover/popover.tsx
  src/utils/focusTrapComponent.ts
Labels: pr ready for visual snapshots

#5974 refactor(input-date-picker)!: Remove deprecated active property
  src/components/input-date-picker/input-date-picker.tsx
Labels: refactor, pr ready for visual snapshots

#5977 refactor(input-date-picker,date-picker)!: Removing deprecated locale properties
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.stories.ts
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Labels: refactor, pr ready for visual snapshots

#5980 docs: update component READMEs
  src/components/date-picker/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-time-picker/readme.md
  src/components/modal/readme.md
Labels: docs

#5986 build: update browserslist db
  package-lock.json
Labels: chore

#5976 feat(input, input-number, input-text): add inputMode and enterKeyHint properties
  src/components/input-number/input-number.tsx
  src/components/input-number/interfaces.ts
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
  src/components/input/interfaces.ts
Labels: enhancement, pr ready for visual snapshots

#5988 docs(readme): add more stat badges
  readme.md
Labels: docs, pr ready for visual snapshots

#5910 refactor(input-text)!: remove deprecated event payload
  src/components/input-text/input-text.tsx
Labels: refactor, breaking change, pr ready for visual snapshots

#5987 test(globalStyles): fix type errors
  src/tests/globalStyles.e2e.ts
Labels: testing

#5967 chore(vscode): provide launch config
  .vscode/launch.json
Labels: chore, tooling, p - low, estimate - 1

#5990 test(chromatic): add delay and disable animation on some stories
  src/components/alert/alert.stories.ts
  src/components/date-picker/date-picker.stories.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/list/list.stories.ts
  src/components/loader/loader.stories.ts
  src/components/modal/modal.stories.ts
  src/components/pagination/pagination.stories.ts
  src/components/popover/popover.stories.ts
  src/components/progress/progress.stories.ts
  src/components/slider/slider.stories.ts
Labels: testing, pr ready for visual snapshots

#5991 test(input-time-picker): fix type errors
  src/components/input-time-picker/input-time-picker.e2e.ts
Labels: testing

#5972 refactor(translations): remove duplicate file
  src/components/date-picker/assets/date-picker/nls/messages.json
Labels: refactor, pr ready for visual snapshots

#5981 fix(loader): no longer animates when reduced motion is enabled
  src/assets/styles/_animation.scss
Labels: bug, pr ready for visual snapshots

#5997 docs: update component READMEs
  src/components/input-message/readme.md
  src/components/input-number/readme.md
  src/components/input-text/readme.md
  src/components/input/readme.md
  src/components/label/readme.md
Labels: docs

#5994 fix(popover, modal): deactivate focus trap on outside click
  src/utils/focusTrapComponent.ts
Labels: bug

#6002 chore(alert): Fix local demo page attribute
  src/demos/alert.html
Labels: chore

#6008 ci(screener): remove
  .github/ISSUE_TEMPLATE/test.yml
  .github/workflows/pr-screener.yml
  .storybook/helpers.ts
  .storybook/preview.ts
  .storybook/screener.config.js
  CONTRIBUTING.md
  conventions/Testing.md
  package-lock.json
  package.json
  src/components/button/button.stories.ts
  src/components/checkbox/checkbox.stories.ts
  src/components/color-picker/color-picker.stories.ts
  src/components/date-picker/date-picker.stories.ts
  src/components/label/label.stories.ts
  src/components/tabs/tabs.stories.ts
Labels: chore, pr ready for visual snapshots

#6015 feat(dropdown-item): Add `calciteDropdownItemSelect` event
  src/components/dropdown-item/dropdown-item.e2e.ts
  src/components/dropdown-item/dropdown-item.tsx
Labels: enhancement

#6010 refactor(action-menu): remove event `calciteActionMenuOpenChange`
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.tsx
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-menu/action-menu.tsx
  src/components/action-pad/action-pad.e2e.ts
  src/components/action-pad/action-pad.tsx
Labels: refactor

#5889 refactor(combobox,combobox-item)!: remove deprecated properties ,events & event payload.
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/readme.md
  src/components/interfaces.ts
Labels: refactor, breaking change, pr ready for visual snapshots

#6016 refactor(action-menu)!: remove event `calciteActionMenuOpenChange`
  src/components/action-menu/action-menu.tsx
Labels: refactor

#6013 fix(loader): Do not modify display when inline
  src/components/loader/loader.e2e.ts
  src/components/loader/loader.scss
Labels: bug, pr ready for visual snapshots

#6006 refactor(dropdown)!: removed slot `dropdown-trigger`.
  FAQ.md
  src/05-custom-theme.stories.mdx
  src/components/card/card.stories.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/readme.md
  src/components/dropdown/resources.ts
  src/components/dropdown/usage/Basic.md
  src/components/dropdown/usage/Disabling-close-on-select.md
  src/components/dropdown/usage/Groups.md
  src/components/split-button/split-button.tsx
  src/demos/card.html
  src/demos/date-picker.html
  src/demos/dropdown.html
Labels: refactor, pr ready for visual snapshots

#6009 refactor(tabs)!: removed slot `tab-nav`.
  src/05-custom-theme.stories.mdx
  src/components/color-picker/color-picker.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/tab-title/tab-title.e2e.ts
  src/components/tabs/readme.md
  src/components/tabs/resources.ts
  src/components/tabs/tabs.e2e.ts
  src/components/tabs/tabs.stories.ts
  src/components/tabs/tabs.tsx
  src/components/tabs/usage/Basic.md
  src/components/tabs/usage/Bordered.md
  src/demos/popover.html
  src/demos/tabs.html
Labels: refactor, pr ready for visual snapshots

#6014 refactor(label)!: Set default display to be `flex`
  src/components/label/label.e2e.ts
  src/components/label/label.scss
Labels: refactor, pr ready for visual snapshots

#6003 refactor(loader)!: remove deprecated properties
  src/components/loader/loader.scss
  src/components/loader/loader.stories.ts
  src/components/loader/loader.tsx
  src/components/loader/usage/Basic.md
  src/components/loader/usage/Determinate.md
  src/demos/loader.html
  src/demos/modal.html
  src/demos/scrim.html
Labels: refactor, breaking change, pr ready for visual snapshots

#6027 docs(changelog): fixing breaking change formatting
  CHANGELOG.md
Labels: docs, pr ready for visual snapshots

#6020 refactor(pagination)!: remove deprecated event.
  src/components/pagination/pagination.tsx
  src/components/pagination/readme.md
Labels: refactor, breaking change, pr ready for visual snapshots

#6019 refactor(modal)!: remove deprecated properties and method.
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
  src/components/modal/readme.md
  src/components/modal/usage/Basic.md
  src/components/modal/usage/Open.md
  src/demos/modal.html
Labels: refactor, breaking change, pr ready for visual snapshots

#6030 refactor(date-picker)!: remove `event.detail` payload from events
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/interfaces.d.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/demos/date-picker.html
Labels: refactor

#6026 refactor(tip)!: Rename property
  src/components/tip-manager/tip-manager.tsx
  src/components/tip/readme.md
  src/components/tip/tip.e2e.ts
  src/components/tip/tip.stories.ts
  src/components/tip/tip.tsx
  src/components/tip/usage/Basic.md
  src/demos/notice.html
  src/demos/tip/basic.html
Labels: refactor, pr ready for visual snapshots

#6023 refactor(chip)!: Rename event
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.tsx
  src/components/chip/readme.md
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/demos/chip.html
Labels: refactor, pr ready for visual snapshots

#6029 refactor(combobox)!: remove `event.detail` payload from events
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
Labels: refactor, pr ready for visual snapshots

#6022 refactor(alert)!: rename properties.
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.scss
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
  src/components/alert/readme.md
  src/demos/alert.html
Labels: refactor, pr ready for visual snapshots

#6025 refactor(combobox)!: rename event
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/readme.md
Labels: refactor, pr ready for visual snapshots

#6034 test(shared-list): skip unstable tests
  src/components/pick-list/shared-list-tests.ts
Labels: testing, pr ready for visual snapshots

#6012 refactor(date-picker)!: remove deprecated start and end properties
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.stories.ts
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/usage/Range.md
  src/demos/date-picker.html
Labels: refactor, pr ready for visual snapshots

#6036 refactor(popover, dropdown, modal, pick-list-item, value-list-item)!: rename `disable*` properties
  src/components/action-menu/action-menu.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/readme.md
  src/components/dropdown/usage/Disabling-close-on-select.md
  src/components/input-time-picker/input-time-picker.tsx
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
  src/components/modal/readme.md
  src/components/pick-list-item/pick-list-item.e2e.ts
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list-item/readme.md
  src/components/pick-list/shared-list-logic.ts
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/popover/readme.md
  src/components/value-list-item/value-list-item.e2e.ts
  src/components/value-list-item/value-list-item.tsx
  src/demos/color-picker.html
  src/demos/modal.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-3.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-blank.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/nesting-testing.html
  src/demos/theme/auto.html
  src/utils/floating-ui.ts
  src/utils/focusTrapComponent.ts
Labels: refactor, pr ready for visual snapshots

#5982 refactor(action,action-bar,action-group,action-pad,alert,block-section,block,button): remove deprecated `intl*` properties
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.tsx
  src/components/action-pad/action-pad.tsx
  src/components/action/action.e2e.ts
  src/components/action/action.tsx
  src/components/action/assets/action/t9n/messages_en.json
  src/components/action/resources.ts
  src/components/alert/alert.tsx
  src/components/block-section/block-section.tsx
  src/components/block/block.stories.ts
  src/components/block/block.tsx
  src/components/button/button.tsx
Labels: refactor, breaking change, pr ready for visual snapshots

#6041 refactor(chip,card,combobox,date-picker,flow,flow-item,filter, input-date-picker): remove deprecated `intl*` & accessible label properties
  src/components/card/card.tsx
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.tsx
  src/components/date-picker/date-picker.stories.ts
  src/components/date-picker/date-picker.tsx
  src/components/filter/filter.tsx
  src/components/flow-item/flow-item.tsx
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
Labels: refactor, breaking change, pr ready for visual snapshots

#6052 docs: update component READMEs
  src/components/action-bar/readme.md
  src/components/action-group/readme.md
  src/components/action-pad/readme.md
  src/components/action/readme.md
  src/components/alert/readme.md
  src/components/block-section/readme.md
  src/components/block/readme.md
  src/components/button/readme.md
  src/components/card/readme.md
  src/components/chip/readme.md
  src/components/color-picker/readme.md
  src/components/combobox/readme.md
  src/components/date-picker-month-header/readme.md
  src/components/date-picker/readme.md
  src/components/filter/readme.md
  src/components/flow-item/readme.md
  src/components/inline-editable/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-number/readme.md
  src/components/input-text/readme.md
  src/components/input-time-picker/readme.md
  src/components/input/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/pagination/readme.md
  src/components/panel/readme.md
  src/components/pick-list-item/readme.md
  src/components/popover/readme.md
  src/components/rating/readme.md
  src/components/scrim/readme.md
  src/components/time-picker/readme.md
  src/components/tip/readme.md
  src/components/value-list/readme.md
Labels: docs

#6053 refactor(scrim,rating,time-picker,input-time-picker,value-list)!: removed deprecated `intl*`properties
  src/components/input-time-picker/input-time-picker.tsx
  src/components/rating/rating.stories.ts
  src/components/rating/rating.tsx
  src/components/scrim/scrim.tsx
  src/components/time-picker/time-picker.tsx
  src/components/value-list/value-list.tsx
Labels: refactor, breaking change, pr ready for visual snapshots

#6049 refactor(inline-editable,input,input-text,input-number)!: remove deprecated `intl*` properties
  src/components/filter/filter.tsx
  src/components/inline-editable/inline-editable.stories.ts
  src/components/inline-editable/inline-editable.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.tsx
  src/components/input-text/resources.ts
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/components/input/resources.ts
Labels: refactor, breaking change, pr ready for visual snapshots

#6045 refactor(rating)!: remove `event.detail` payload from events
  src/components/rating/rating.e2e.ts
  src/components/rating/rating.tsx
Labels: refactor

#6044 refactor(dropdown)!: remove `event.detail` payload from events
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/interfaces.ts
Labels: refactor

#6047 refactor(pagination)!: remove `event.detail` payload from events
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.tsx
Labels: refactor

#6057 docs(changelog): fix breaking change indent levels
  CHANGELOG.md
Labels: docs

#6051 refactor(tree)!: remove `event.detail` payload from events
  src/components/tree/interfaces.ts
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.tsx
  src/demos/tree.html
Labels: refactor

#6046 refactor(tab-nav, tab-title)!: remove `event.detail` payload from events
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
Labels: refactor

#6054 refactor(modal)!: Renamed property and updated values
  src/components/interfaces.ts
  src/components/modal/modal.scss
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
  src/demos/modal.html
Labels: refactor, breaking change

#6042 refactor(alert, notice)!: Renamed properties and updated values
  src/05-custom-theme.stories.mdx
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.scss
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
  src/components/alert/interfaces.ts
  src/components/notice/notice.e2e.ts
  src/components/notice/notice.scss
  src/components/notice/notice.stories.ts
  src/components/notice/notice.tsx
  src/components/notice/usage/Basic.md
  src/components/resources.ts
  src/demos/alert.html
  src/demos/notice.html
Labels: refactor, breaking change, pr ready for visual snapshots

#6060 refactor(date-picker-month, date-picker-month-header)!: Remove events.
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.tsx
Labels: refactor

#6048 refactor(radio-group)!: remove `event.detail` payload from events
  src/components/radio-group/radio-group.e2e.ts
  src/components/radio-group/radio-group.tsx
Labels: refactor

#6028 refactor(chip,combobox-item)!: remove deprecated event payload.
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.tsx
  src/components/combobox-item/combobox-item.tsx
Labels: refactor, pr ready for visual snapshots

#6050 refactor(modal,notice,pagination,panel,pick-list-item,popover)!: removed deprecated `intl*` & accessible label properties
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
  src/components/notice/notice.tsx
  src/components/pagination/pagination.tsx
  src/components/panel/panel.tsx
  src/components/pick-list-item/pick-list-item.e2e.ts
  src/components/pick-list-item/pick-list-item.tsx
  src/components/popover/popover.tsx
Labels: refactor, breaking change, pr ready for visual snapshots

#6004 refactor(notice)!: remove deprecated properties
  src/components/flow-item/flow-item.e2e.ts
  src/components/notice/notice.e2e.ts
  src/components/notice/notice.tsx
  src/components/notice/readme.md
  src/components/stepper/stepper.stories.ts
  src/demos/notice.html
  src/demos/stepper.html
Labels: refactor, breaking change, pr ready for visual snapshots

#6056 refactor!: enabled delegatesFocus
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.tsx
  src/components/action-pad/action-pad.e2e.ts
  src/components/action-pad/action-pad.tsx
  src/components/color-picker/color-picker.tsx
  src/components/date-picker/date-picker.tsx
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown/dropdown.tsx
  src/components/filter/filter.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/pagination/pagination.tsx
  src/components/radio-button-group/radio-button-group.tsx
  src/components/slider/slider.tsx
  src/components/split-button/split-button.tsx
  src/components/time-picker/time-picker.tsx
Labels: refactor, breaking change, pr ready for visual snapshots

#6062 refactor(button, fab, split-button)!: Update properties and values
  src/05-custom-theme.stories.mdx
  src/components/button/button.e2e.ts
  src/components/button/button.scss
  src/components/button/button.stories.ts
  src/components/button/button.tsx
  src/components/button/interfaces.ts
  src/components/button/usage/Basic.md
  src/components/button/usage/With-icons.md
  src/components/button/usage/With-loader-disabled.md
  src/components/card/card.stories.ts
  src/components/color-picker/color-picker.tsx
  src/components/fab/fab.e2e.ts
  src/components/fab/fab.stories.ts
  src/components/fab/fab.tsx
  src/components/flow-item/flow-item.stories.ts
  src/components/flow/flow.stories.ts
  src/components/inline-editable/inline-editable.tsx
  src/components/interfaces.ts
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.stories.ts
  src/components/panel/panel.stories.ts
  src/components/pick-list/pick-list.stories.ts
  src/components/shell/shell.stories.ts
  src/components/split-button/split-button.e2e.ts
  src/components/split-button/split-button.scss
  src/components/split-button/split-button.stories.ts
  src/components/split-button/split-button.tsx
  src/components/tooltip/tooltip.stories.ts
  src/components/value-list/value-list.stories.ts
  src/demos/_assets/demo-template.html
  src/demos/alert.html
  src/demos/animation/animation.html
  src/demos/button.html
  src/demos/card.html
  src/demos/fab.html
  src/demos/modal.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-3.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/nesting-testing.html
  src/demos/shell/popup-config-example.html
  src/demos/split-button.html
  src/demos/theme/auto.html
  src/index.html
Labels: refactor, breaking change, pr ready for visual snapshots

#5878 feat: add iconFlipRtl prop to all components with a convenience icon prop #5496
  src/components/accordion-item/accordion-item.tsx
  src/components/action/action.tsx
  src/components/alert/alert.tsx
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.tsx
  src/components/fab/fab.tsx
  src/components/input-message/input-message.tsx
  src/components/notice/notice.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/tile-select/tile-select.tsx
  src/components/tile/tile.tsx
  src/components/value-list-item/value-list-item.tsx
Labels: enhancement, Stale, pr ready for visual snapshots

#6064 docs(switch): Remove deprecated event detail doc
  src/components/switch/switch.tsx
Labels: docs

#6067 chore(action): Clean up action appearance references
  src/components/action/usage/Transparent-appearance.md
  src/components/interfaces.ts
  src/demos/action.html
Labels: chore

#6068 chore: Update interface references
  src/components/accordion/accordion.tsx
  src/components/accordion/interfaces.ts
  src/components/color-picker/color-picker.tsx
  src/components/color-picker/interfaces.ts
  src/components/radio-group-item/radio-group-item.tsx
  src/components/radio-group/interfaces.ts
  src/components/radio-group/radio-group.tsx
Labels: chore

#6072 docs: update component READMEs
  src/components/accordion-item/readme.md
  src/components/accordion/readme.md
  src/components/action-bar/readme.md
  src/components/action-pad/readme.md
  src/components/action/readme.md
  src/components/alert/readme.md
  src/components/button/readme.md
  src/components/chip/readme.md
  src/components/color-picker/readme.md
  src/components/combobox-item/readme.md
  src/components/combobox/readme.md
  src/components/date-picker-month-header/readme.md
  src/components/date-picker-month/readme.md
  src/components/dropdown/readme.md
  src/components/fab/readme.md
  src/components/inline-editable/readme.md
  src/components/input-message/readme.md
  src/components/input-number/readme.md
  src/components/input-text/readme.md
  src/components/input-time-picker/readme.md
  src/components/input/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/pagination/readme.md
  src/components/panel/readme.md
  src/components/pick-list-item/readme.md
  src/components/popover/readme.md
  src/components/radio-group/readme.md
  src/components/rating/readme.md
  src/components/scrim/readme.md
  src/components/split-button/readme.md
  src/components/stepper-item/readme.md
  src/components/switch/readme.md
  src/components/tab-nav/readme.md
  src/components/tab-title/readme.md
  src/components/tile-select/readme.md
  src/components/tile/readme.md
  src/components/time-picker/readme.md
  src/components/tree/readme.md
  src/components/value-list-item/readme.md
  src/components/value-list/readme.md
Labels: docs

#6073 chore: Clean outdated properties
  conventions/README.md
  conventions/Styling.md
  src/05-custom-theme.stories.mdx
  src/components/list/list.stories.ts
  src/components/modal/usage/Basic.md
  src/demos/list.html
Labels: chore

#5948 fix(rating): 5312 improve user interface
  src/components/rating/function/star.tsx
  src/components/rating/interfaces.ts
  src/components/rating/rating.e2e.ts
  src/components/rating/rating.scss
  src/components/rating/rating.tsx
Labels: bug, pr ready for visual snapshots

#6071 fix(combobox): Fix error when typing a custom value
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
Labels: bug

#6076 refactor(input-date-picker)!: Removed deprecated start, startAsDate, end, endAsDate properties
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
Labels: refactor, pr ready for visual snapshots

#5983 feat(shell): Add slots for Modal and Alert
  src/components/alert/alert.scss
  src/components/alert/alert.tsx
  src/components/alert/resources.ts
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
  src/components/shell/resources.ts
  src/components/shell/shell.e2e.ts
  src/components/shell/shell.scss
  src/components/shell/shell.stories.ts
  src/components/shell/shell.tsx
  src/demos/shell/basic-slotted-elements.html
  src/index.html
Labels: enhancement, pr ready for visual snapshots

#6063 refactor(color-picker-hex-input)!: removed `intl*` properties
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
  src/components/color-picker/resources.ts
Labels: refactor, pr ready for visual snapshots

#6078 refactor(modal)!: Renamed CSS variable
  src/components/modal/modal.scss
Labels: refactor, pr ready for visual snapshots

#6069 fix(icon, graphic, loader): Set aria-hidden on internal svg elements
  conventions/Accessibility.md
  src/components/graph/graph.tsx
  src/components/icon/icon.tsx
  src/components/loader/loader.tsx
Labels: bug

#6074 feat(tip,tip-manager): add built-in translations
  src/components/tip-manager/tip-manager.e2e.ts
  src/components/tip-manager/tip-manager.stories.ts
  src/components/tip-manager/tip-manager.tsx
  src/components/tip/resources.ts
  src/components/tip/tip.e2e.ts
  src/components/tip/tip.stories.ts
  src/components/tip/tip.tsx
Labels: enhancement, breaking change, pr ready for visual snapshots

#6077 refactor(modal)!: Remove `backgroundColor` property and added a CSS variable
  src/components/modal/interfaces.ts
  src/components/modal/modal.scss
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
Labels: refactor, pr ready for visual snapshots

#6079 feat(shell-panel): add built-in translations
  src/components/shell-panel/resources.ts
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell-panel/shell-panel.tsx
  src/demos/shell/demo-app-advanced-3.html
  src/tests/commonTests.ts
Labels: enhancement, pr ready for visual snapshots

#6082 refactor(shell-panel)!: removed deprecated `intlResize` property
  src/components/shell-panel/shell-panel.tsx
Labels: refactor, breaking change, pr ready for visual snapshots

#6087 refactor(accordion, combobox, dropdown, list, tree)!: Remove deprecated "multi" value
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.stories.ts
  src/components/accordion/accordion.tsx
  src/components/accordion/interfaces.ts
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/interfaces.ts
  src/components/combobox/usage/Multiple.md
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown-group/interfaces.ts
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.stories.ts
  src/components/interfaces.ts
  src/components/list-item/list-item.tsx
  src/components/list/list.tsx
  src/components/list/resources.ts
  src/components/tree-item/tree-item.tsx
  src/components/tree/interfaces.ts
  src/components/tree/tree.stories.ts
  src/components/tree/tree.tsx
  src/demos/dropdown.html
Labels: refactor

#6086 refactor(accordion, dropdown, stepper, tabs): Updates keyboard handling
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion-item/interfaces.ts
  src/components/accordion/accordion.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.tsx
  src/components/stepper/stepper.tsx
  src/components/tab-nav/tab-nav.tsx
  src/utils/dom.ts
Labels: refactor

#6089 docs: update component READMEs
  src/components/accordion/readme.md
  src/components/color-picker-hex-input/readme.md
  src/components/combobox/readme.md
  src/components/dropdown-group/readme.md
  src/components/input-date-picker/readme.md
  src/components/modal/readme.md
  src/components/rating/readme.md
  src/components/shell-panel/readme.md
  src/components/shell/readme.md
  src/components/tip-manager/readme.md
  src/components/tip/readme.md
  src/components/tree/readme.md
Labels: docs

#6080 refactor(input-time-picker)!: removed deprecated `locale` property
  src/components/input-time-picker/input-time-picker.tsx
Labels: refactor, breaking change, pr ready for visual snapshots

#6088 refactor(time-picker)!: remove target parameter from setFocus
  src/components/time-picker/time-picker.e2e.ts
  src/components/time-picker/time-picker.tsx
Labels: refactor, breaking change, pr ready for visual snapshots

#6091 chore(scrim): Expose css var
  src/assets/styles/global.scss
  src/components/scrim/scrim.e2e.ts
  src/components/scrim/scrim.scss
Labels: chore

#6084 refactor(date-picker)!: removed deprecated properties
  src/components/date-picker/date-picker.tsx
Labels: refactor, pr ready for visual snapshots

#6090 chore(block): Expose css var
  src/components/block/block.e2e.ts
  src/components/block/block.scss
Labels: chore

#6097 chore(docs): Cleanup local index page
  src/index.html
Labels: chore

#6094 chore(button): Update internal css var
  src/components/button/button.scss
Labels: chore

#6092 refactor(input-date-picker)!: remove deprecated event
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Labels: refactor, breaking change, pr ready for visual snapshots

#6096 refactor(radio-group)!: Update `appearance` value
  src/components/radio-group-item/radio-group-item.scss
  src/components/radio-group/radio-group.tsx
Labels: refactor

#6093 chore(modal): Expose css var
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
Labels: chore

#6098 refactor(locale): remove unused property from LocalizaedComponent
  src/utils/locale.ts
Labels: refactor

#6102 build: update browserslist db
  package-lock.json
Labels: chore

#6103 docs: update component READMEs
  src/components/block/readme.md
  src/components/date-picker/readme.md
  src/components/input-date-picker/readme.md
  src/components/modal/readme.md
  src/components/radio-group/readme.md
  src/components/scrim/readme.md
  src/components/time-picker/readme.md
Labels: docs

#6099 refactor(input)!: remove deprecated event payload
  src/components/color-picker/color-picker.tsx
  src/components/input/input.tsx
  src/components/interfaces.ts
Labels: refactor, breaking change, pr ready for visual snapshots

#6101 chore(utils): Cleanup `focusElementInGroup` helper
  src/components/tab-nav/tab-nav.tsx
  src/utils/dom.ts
Labels: chore

#6104 refactor(translations): prepend component name to Messages type
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.tsx
  src/components/action-pad/action-pad.tsx
  src/components/action/action.tsx
  src/components/alert/alert.tsx
  src/components/block-section/block-section.tsx
  src/components/block/block.tsx
  src/components/button/button.tsx
  src/components/card/card.tsx
  src/components/chip/chip.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker/date-picker.tsx
  src/components/filter/filter.tsx
  src/components/flow-item/flow-item.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/modal/modal.tsx
  src/components/notice/notice.tsx
  src/components/pagination/pagination.tsx
  src/components/panel/panel.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/popover/popover.tsx
  src/components/rating/rating.tsx
  src/components/scrim/scrim.tsx
  src/components/shell-panel/shell-panel.tsx
  src/components/time-picker/time-picker.tsx
  src/components/tip-manager/tip-manager.tsx
  src/components/tip/tip.tsx
  src/components/value-list/value-list.tsx
  support/generateT9nTypes.ts
Labels: bug, pr ready for visual snapshots

#6107 chore(types): Adds missing value to SelectionMode
  src/components/interfaces.ts
Labels: chore

#6108 docs: update component READMEs
  src/components/accordion/readme.md
  src/components/action-bar/readme.md
  src/components/action-group/readme.md
  src/components/action-pad/readme.md
  src/components/action/readme.md
  src/components/alert/readme.md
  src/components/block-section/readme.md
  src/components/block/readme.md
  src/components/button/readme.md
  src/components/card/readme.md
  src/components/chip/readme.md
  src/components/color-picker/readme.md
  src/components/combobox/readme.md
  src/components/date-picker/readme.md
  src/components/filter/readme.md
  src/components/flow-item/readme.md
  src/components/inline-editable/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-number/readme.md
  src/components/input-text/readme.md
  src/components/input-time-picker/readme.md
  src/components/input/readme.md
  src/components/modal/readme.md
  src/components/notice/readme.md
  src/components/pagination/readme.md
  src/components/panel/readme.md
  src/components/pick-list-item/readme.md
  src/components/popover/readme.md
  src/components/rating/readme.md
  src/components/scrim/readme.md
  src/components/shell-panel/readme.md
  src/components/time-picker/readme.md
  src/components/tip-manager/readme.md
  src/components/tip/readme.md
  src/components/tree/readme.md
  src/components/value-list/readme.md
Labels: docs

#6110 docs(changelog): resort and modify indent levels and styling
  CHANGELOG.md
Labels: docs

#6111 chore(date-picker): Remove unused deprecated interface.
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/interfaces.d.ts
Labels: chore

#6114 docs(changelog): context to `calciteDropdownItemSelect` event
  CHANGELOG.md
Labels: docs

#6112 chore: remove unused util methods & deprecated `intl*` property references.
  src/components/action-menu/action-menu.e2e.ts
  src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  src/demos/card.html
  src/demos/input.html
  src/tests/commonTests.ts
  src/utils/t9n.ts
Labels: chore, pr ready for visual snapshots
