Repository Esri/calcite-design-system, pull requests merged in 2022-04, with the labels that each got.

#4359 fix(combobox, dropdown, input-date-picker, popover): Ensure flipPlacements are computed placements.
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/popover/popover.tsx
  src/utils/popper.spec.ts
  src/utils/popper.ts
Labels: bug

#4366 build: update browserslist db
  package-lock.json
Labels: chore

#4370 docs: remove build status from readme
  readme.md
Labels: docs

#4371 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore, dependencies

#4324 fix(tile): match content-start spacing when dir set to rtl
  src/components/tile/tile.scss
  src/components/tile/tile.stories.ts
Labels: bug, Stale

#4335 fix(button)!: Change type property to be "button" by default
  src/components/button/button.e2e.ts
  src/components/button/button.tsx
Labels: bug

#4320 fix(switch): Calling click() on switch should toggle checked
  src/components/switch/switch.e2e.ts
  src/components/switch/switch.tsx
Labels: bug

#4287 fix(filter): emit events only on user interaction
  src/components/filter/filter.e2e.ts
  src/components/filter/filter.tsx
  src/components/filter/resources.ts
Labels: bug, Stale

#4362 feat(ListItem): updates flex definitions on start and end content slots
  src/components/list-item/list-item.scss
  src/components/list-item/list-item.tsx
  src/components/list-item/resources.ts
  src/components/list/list.stories.ts
  src/demos/list.html
Labels: enhancement, 1 - assigned

#4182 fix(panel): drop z-index usage for internal component styles
  src/components/panel/panel.scss
Labels: bug, Stale

#4288 fix(color-picker)!: emit color change and input events on user-interaction only
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.tsx
Labels: bug

#4327 fix(color-picker): color channels order no longer mirrors when dir='rtl'
  src/components/color-picker/color-picker.tsx
Labels: bug

#4377 docs: update component READMEs
  src/components/button/readme.md
Labels: docs

#4353 fix(tabs)!: emit calciteTabsActivate and calciteTabChange events on user interaction
  src/components/tab-nav/tab-nav.e2e.ts
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.tsx
Labels: bug, breaking change

#4387 fix(input): correctly de-localize negative numbers in ar and et
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/utils/locale.ts
  src/utils/number.ts
Labels: bug

#4304 fix(combobox): listbox item focused with home or end now scrolls into view
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
Labels: bug

#4389 build: update browserslist db
  package-lock.json
Labels: chore

#4395 fix(color-picker): setting value programmatically twice or more in a row will no longer emit change/input events
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.tsx
Labels: bug

#4400 fix(input): negative numbers delocalize correctly in ar locale
  src/components/input/input.e2e.ts
  src/demos/input.html
  src/utils/locale.spec.ts
  src/utils/locale.ts
Labels: bug

#4393 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore, dependencies

#4403 fix(input): correctly delocalize numbers with group separators
  src/utils/locale.spec.ts
  src/utils/locale.ts
Labels: bug

#4385 build: remove unnecessary numeric separator plugin
  package.json
  stencil.config.ts
Labels: chore

#4286 refactor(shell-panel): deprecate calciteShellPanelToggle event
  src/components/shell-panel/shell-panel.tsx
Labels: bug

#4285 refactor(tip-manager): deprecate calciteTipManagerToggle event in favor of calciteTipManagerClose
  src/components/tip-manager/tip-manager.e2e.ts
  src/components/tip-manager/tip-manager.tsx
Labels: bug, Stale

#4413 fix(label): avoid accumulation of event listeners
  src/utils/label.ts
Labels: bug

#4417 build: update browserslist db
  package-lock.json
Labels: chore

#4284 refactor(panel): Deprecate calcitePanelDismissedChange in favor of calcitePanelDismiss.
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.tsx
Labels: bug, Stale

#4406 fix(input-date-picker): emit events when date is cleared
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/demos/input-date-picker.html
Labels: bug

#4420 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore, dependencies

#4421 docs: update component READMEs
  src/components/panel/readme.md
  src/components/shell-panel/readme.md
  src/components/tip-manager/readme.md
Labels: docs

#4422 feat(tooltip): Simplify tooltip usage by deprecating tooltip-manager component.
  src/components/action-menu/action-menu.tsx
  src/components/card/card.stories.ts
  src/components/functional/ExpandToggle.tsx
  src/components/tooltip-manager/tooltip-manager.e2e.ts
  src/components/tooltip-manager/tooltip-manager.tsx
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/resources.ts
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.stories.ts
  src/components/tooltip/tooltip.tsx
  src/components/tooltip/usage/Basic.md
  src/demos/card.html
  src/demos/link.html
  src/demos/notice.html
  src/demos/popover.html
  src/demos/tooltip.html
Labels: refactor, 1 - assigned

#4423 feat(popover): Simplify popover usage by deprecating popover-manager component
  src/components/popover-manager/popover-manager.e2e.ts
  src/components/popover-manager/popover-manager.tsx
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/popover/resources.ts
  src/demos/color-picker.html
  src/demos/popover.html
Labels: refactor, 1 - assigned

#4405 fix(combobox): input value will now filter correctly as typed in
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/utils/filter.ts
Labels: bug

#4424 docs(readme): change loader property from isActive to active
  readme.md
Labels: docs

#4275 fix(action-pad, action-bar): toggleChange event emit only on user interaction
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-pad/action-pad.e2e.ts
  src/components/action-pad/action-pad.tsx
Labels: bug, Stale

#4431 docs(demos): update demos and styling
  src/demos/_assets/demos.css
  src/demos/input-time-picker.html
  src/demos/shell-panel/basic.html
  src/demos/sortable-list.html
  src/demos/tip/basic.html
  src/index.html
Labels: docs

#4435 docs(popover): Remove manager readme from popover story.
  src/components/popover/popover.stories.ts
Labels: docs

#4438 docs: remove invalid breaking changes entry
  CHANGELOG.md
Labels: docs

#4433 fix(tile): Prevent description from overflowing
  src/components/tile/tile.scss
  src/components/tile/tile.stories.ts
Labels: bug

#4432 fix(inline-editable): will no longer emit unnecessary calciteInlineEditableEditCancel events
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/inline-editable/inline-editable.tsx
Labels: bug

#4440 test(color-picker): import getElementXY from util
  src/components/color-picker/color-picker.e2e.ts
Labels: testing

#4441 docs(internal): add section about test helpers and utilities
  conventions/Testing.md
Labels: docs

#4443 fix(combobox, filter): only test regex on string properties when filtering
  src/components/combobox/combobox.e2e.ts
  src/components/filter/filter.tsx
  src/utils/filter.ts
Labels: bug

#4449 build(deps): bump versions
  package-lock.json
  package.json
Labels: chore, dependencies

#4448 feat(input-time-picker): Add reposition method
  src/components/input-time-picker/input-time-picker.tsx
Labels: enhancement

#4454 chore: modify test template
  .github/ISSUE_TEMPLATE/test.yml
Labels: chore

#4474 docs: update component READMEs
  src/components/block/readme.md
Labels: docs

#4456 fix(filter): fix inconsistent text-clearing UX
  src/components/filter/filter.e2e.ts
  src/components/filter/filter.tsx
  src/components/filter/resources.ts
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/components/input/resources.ts
Labels: bug
