Repository Esri/calcite-design-system, pull requests merged in 2022-11, with the labels that each got.

#5677 fix(dropdown): fix calculation of max-items for non-Chromium browsers.
  src/components/dropdown-group/dropdown-group.scss
Labels: bug

#5650 fix(link): fix link underline and icon placement when used with calcite fonts 2.x
  src/components/link/link.scss
Labels: bug

#5251 feat(accordion,combobox,dropdown-group,tree): deprecate multi selectionMode and add support for multiple selectionMode
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.stories.ts
  src/components/accordion/accordion.tsx
  src/components/accordion/interfaces.ts
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/interfaces.ts
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown-group/interfaces.ts
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.stories.ts
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/interfaces.ts
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.stories.ts
  src/components/tree/tree.tsx
  src/demos/combobox.html
  src/demos/tree-scales.html
  src/demos/tree.html
Labels: enhancement, pr ready for visual snapshots

#5682 fix(tooltip, popover): Fix pointer when text-align is right
  src/assets/styles/_floating-ui.scss
  src/components/tooltip/tooltip.stories.ts
Labels: bug, pr ready for visual snapshots

#5666 fix: Floating-ui should handle visibility and pointer-events on the floating element.
  src/assets/styles/_floating-ui.scss
  src/components/dropdown/dropdown.tsx
  src/utils/floating-ui.spec.ts
  src/utils/floating-ui.ts
Labels: bug

#5685 docs(tests): end-to-end vs unit
  conventions/Testing.md
Labels: docs

#5459 fix(input-date-picker): commit value and refresh calendar on blur or Enter keypress in the input
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/utils/date.spec.ts
  src/utils/date.ts
Labels: bug, pr ready for visual snapshots

#5691 fix(value-list): no longer display screen reader only text when drag-enabled
  src/components/pick-list/shared-list-render.scss
  src/components/value-list/value-list.e2e.ts
  src/components/value-list/value-list.scss
Labels: pr ready for visual snapshots

#5512 ci: cleanup 3rd party action dependencies
  .github/labeler.yml
  .github/workflows/create-milestone.yml
  .github/workflows/deploy-next.yml
  .github/workflows/npm-audit.yml
  .github/workflows/pr-bot.yml
  .github/workflows/pr-untruncated.yml
  .github/workflows/teams-release-msg.yml
  .github/workflows/update-browserslist-db.yml
  .github/workflows/update-doc.yml
Labels: chore, pr ready for visual snapshots

#5478 ci(actions): bump versions due to node12 deprecation
  .github/workflows/add-esri-product-label.yml
  .github/workflows/assign-for-verification.yml
  .github/workflows/change-milestone.yml
  .github/workflows/close-milestone.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-milestone.yml
  .github/workflows/deploy-next.yml
  .github/workflows/new-component-notify.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-screener.yml
  .github/workflows/update-doc.yml
Labels: chore, Stale, pr ready for visual snapshots

#5710 ci: fix merge conflict issue
  .github/workflows/pr-screener.yml
Labels: chore

#5711 ci(screener): fix yaml syntax
  .github/workflows/pr-screener.yml
Labels: chore, pr ready for visual snapshots

#5712 ci(e2e): use step output in github action
  .github/workflows/pr-e2e.yml
Labels: chore

#5696 fix: tweak position reset logic to avoid layout interference
  src/utils/floating-ui.spec.ts
  src/utils/floating-ui.ts
Labels: bug, pr ready for visual snapshots

#5695 fix: avoid size changes before and after positioning floating-ui elements
  src/assets/styles/_floating-ui.scss
  src/components/dropdown/dropdown.e2e.ts
Labels: bug, pr ready for visual snapshots

#5715 test(dropdown): Temporary fix to have tests pass for dropdown.
  src/components/dropdown/dropdown.e2e.ts
Labels: testing

#5719 ci(next): fix potential type error due to the components.d.ts stencil bug
  .github/workflows/deploy-next.yml
  .gitignore
Labels: chore

#5724 ci(next): add back default npm registry url
  .github/workflows/deploy-next.yml
Labels: chore

#5730 ci(output targets): move patches to postbuild to include them in CCR
  package.json
Labels: chore

#5709 fix(value-list-item): Prevent scrolling when space is pressed on drag button
  src/components/value-list-item/value-list-item.tsx
Labels: bug

#5726 feat(popover): Escape key should close open popovers.
  src/components/popover/PopoverManager.ts
  src/components/popover/popover.e2e.ts
Labels: enhancement

#5688 fix(flow-item): Position back tooltip above
  src/components/flow-item/flow-item.tsx
Labels: 1 - assigned, milestone adjusted

#5737 ci(pr-bot): skip assignment for dependabot PRs
  .github/workflows/pr-bot.yml
Labels: chore

#5738 test(value-list): Skip unstable test.
  src/components/value-list/value-list.e2e.ts
Labels: testing

#5742 revert: bump semver-regex and screener-storybook (#5741)
  package-lock.json
  package.json
Labels: chore, pr ready for visual snapshots

#5744 test(tree): Skip unstable test.
  src/components/tree/tree.e2e.ts
Labels: testing

#5679 fix(inline-editable): Add text-ellipsis when not editing
  src/components/inline-editable/inline-editable.stories.ts
  src/components/input/input.scss
Labels: bug, pr ready for visual snapshots

#5748 build(docs): generate docs-json for afd usage
  package.json
Labels: chore

#5733 ci: add chromatic
  .github/workflows/chromatic.yml
  .storybook/helpers.ts
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/05-custom-theme.stories.mdx
  src/components/accordion/accordion.stories.ts
  src/components/action-bar/action-bar.stories.ts
  src/components/action-pad/action-pad.stories.ts
  src/components/alert/alert.stories.ts
  src/components/card/card.stories.ts
  src/components/loader/loader.stories.ts
  src/components/modal/modal.stories.ts
  src/components/pagination/pagination.stories.ts
  src/components/progress/progress.stories.ts
Labels: chore, pr ready for visual snapshots

#5672 fix(combobox): Wrap and break text on long items
  src/components/combobox-item/combobox-item.scss
  src/components/combobox/combobox.stories.ts
Labels: bug, Stale, pr ready for visual snapshots

#5759 ci(pr-bot): don't label dependabot PRs
  .github/workflows/pr-bot.yml
Labels: chore

#5762 ci(product-label): fix version syntax and use os agnostic newline char
  .github/workflows/add-esri-product-label.yml
Labels: chore

#5760 fix(input-date-picker): restores mouse clicks on date-picker popup
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.scss
Labels: bug, pr ready for visual snapshots

#5676 refactor(modal): Update modal to use focus-trap module.
  package-lock.json
  package.json
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.tsx
  src/tests/commonTests.ts
  src/utils/focusTrapComponent.spec.ts
  src/utils/focusTrapComponent.ts
Labels: refactor, pr ready for visual snapshots

#5728 fix(block, date-picker, list-item-group, panel, pick-list-group, popover, tip, tip-manager)!: Set default internal heading to a div.
  src/components/block/block.tsx
  src/components/block/resources.ts
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/resources.ts
  src/components/functional/Heading.spec.tsx
  src/components/functional/Heading.tsx
  src/components/list-item-group/list-item-group.tsx
  src/components/list-item-group/resources.ts
  src/components/panel/panel.tsx
  src/components/panel/resources.ts
  src/components/pick-list-group/pick-list-group.tsx
  src/components/pick-list-group/resources.ts
  src/components/popover/popover.tsx
  src/components/popover/resources.ts
  src/components/tip-manager/resources.ts
  src/components/tip-manager/tip-manager.tsx
  src/components/tip/resources.ts
  src/components/tip/tip.tsx
Labels: bug, pr ready for visual snapshots

#5681 feat(pick-list, value-list): Add calciteListFilter event, filteredItems prop, filterText prop and filteredData prop.
  src/components/filter/filter.tsx
  src/components/pick-list/pick-list.tsx
  src/components/pick-list/shared-list-logic.ts
  src/components/pick-list/shared-list-render.tsx
  src/components/pick-list/shared-list-tests.ts
  src/components/value-list/value-list.tsx
Labels: enhancement, Stale

#5380 refactor: Deprecate conditionalSlot utility and getSlotted method
  src/utils/conditionalSlot.ts
  src/utils/dom.spec.ts
  src/utils/dom.ts
Labels: refactor, Stale

#5490 fix(input, input-number): decimals no longer contain groupSeparators and remove leading zeros
  src/utils/locale.spec.ts
  src/utils/locale.ts
  src/utils/number.spec.ts
  src/utils/number.ts
Labels: bug, pr ready for visual snapshots

#5761 fix(calcite-loader, calcite-input-message)!: drop active in favor of hidden
  src/components/action/action.tsx
  src/components/button/button.tsx
  src/components/card/card.tsx
  src/components/inline-editable/inline-editable.stories.ts
  src/components/input-message/input-message.e2e.ts
  src/components/input-message/input-message.scss
  src/components/input-message/input-message.tsx
  src/components/input-number/input-number.stories.ts
  src/components/input-text/input-text.stories.ts
  src/components/input/input.stories.ts
  src/components/loader/loader.e2e.ts
  src/components/loader/loader.scss
  src/components/loader/loader.tsx
  src/components/loader/readme.md
  src/components/loader/usage/Compact.md
  src/components/scrim/scrim.tsx
  src/custom-theme.md
Labels: bug, breaking change, pr ready for visual snapshots

#5773 docs: update component READMEs
  src/components/pick-list/readme.md
  src/components/value-list/readme.md
Labels: docs

#5780 docs: update changelog's breaking changes.
  CHANGELOG.md
Labels: docs

#5772 feat(tooltip): Add tooltip open, close, beforeOpen, and beforeClose events
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.tsx
Labels: enhancement, 2 - in development

#5725 feat(popover): Add focus-trap to popover and disableFocusTrap property.
  src/components/action-menu/action-menu.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.tsx
Labels: enhancement, pr ready for visual snapshots

#5781 refactor(changelog): remove redundant information from changelog and add a follow-up note to contributing docs
  CHANGELOG.md
  CONTRIBUTING.md
Labels: refactor, pr ready for visual snapshots

#5749 fix: setFocus methods should wait for the component to be loaded
  src/components/action-bar/action-bar.tsx
  src/components/action-menu/action-menu.tsx
  src/components/action-pad/action-pad.tsx
  src/components/action/action.tsx
  src/components/alert/alert.tsx
  src/components/button/button.tsx
  src/components/checkbox/checkbox.tsx
  src/components/chip/chip.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/fab/fab.tsx
  src/components/filter/filter.tsx
  src/components/flow-item/flow-item.tsx
  src/components/handle/handle.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/link/link.tsx
  src/components/list-item/list-item.tsx
  src/components/list/list.tsx
  src/components/modal/modal.tsx
  src/components/notice/notice.tsx
  src/components/panel/panel.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list/pick-list.tsx
  src/components/popover/popover.tsx
  src/components/radio-button/radio-button.tsx
  src/components/radio-group/radio-group.tsx
  src/components/rating/rating.tsx
  src/components/select/select.tsx
  src/components/slider/slider.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/switch/switch.tsx
  src/components/tile-select/tile-select.tsx
  src/components/time-picker/time-picker.tsx
  src/components/value-list-item/value-list-item.tsx
  src/components/value-list/value-list.tsx
  src/utils/loadable.spec.ts
  src/utils/loadable.ts
Labels: bug, pr ready for visual snapshots

#5778 fix(block): slow down loading icon spin
  src/components/block/block.scss
Labels: bug, pr ready for visual snapshots

#5787 docs(changelog): cleanup
  CHANGELOG.md
Labels: docs, pr ready for visual snapshots

#5750 feat(alert): support actions-end
  src/components/alert/alert.scss
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
  src/components/alert/resources.ts
Labels: enhancement, pr ready for visual snapshots

#4527 feat(list, list-item, list-item-group)!: Adds support for selecting and filtering list items. Improves accessibility by using aria "treegrid" role.
  src/components/list-item-group/list-item-group.e2e.ts
  src/components/list-item-group/list-item-group.scss
  src/components/list-item-group/list-item-group.tsx
  src/components/list-item-group/resources.ts
  src/components/list-item/interfaces.d.ts
  src/components/list-item/list-item.e2e.ts
  src/components/list-item/list-item.scss
  src/components/list-item/list-item.tsx
  src/components/list-item/resources.ts
  src/components/list-item/utils.ts
  src/components/list/list.e2e.ts
  src/components/list/list.scss
  src/components/list/list.stories.ts
  src/components/list/list.tsx
  src/components/list/resources.ts
  src/demos/list.html
  tailwind.config.ts
Labels: enhancement, design, refactor, pr ready for visual snapshots

#5788 docs: update component READMEs
  src/components/alert/readme.md
  src/components/filter/readme.md
  src/components/icon/readme.md
  src/components/list-item-group/readme.md
  src/components/list-item/readme.md
  src/components/list/readme.md
  src/components/scrim/readme.md
Labels: docs

#5790 refactor(list-item): Use DOM utility for checking if slot has assigned element.
  src/components/list-item/list-item.tsx
Labels: refactor

#5789 docs(list): Fix storybook filtering for list.
  src/components/list/list.stories.ts
Labels: docs

#5791 ci: changelog modifications aren't overwritten after next releases
  CHANGELOG.md
  support/prepReleaseCommit.ts
Labels: chore

#5799 refactor(action)!: Removed deprecated properties and values
  .storybook/resources.ts
  src/components/action/action.scss
  src/components/action/action.stories.ts
  src/components/action/action.tsx
  src/components/interfaces.ts
  src/components/pick-list-item/pick-list-item.tsx
Labels: refactor, breaking change, pr ready for visual snapshots

#5802 docs(contributing): add additional info about environment setup
  CONTRIBUTING.md
Labels: docs, pr ready for visual snapshots

#5804 docs: update component READMEs
  src/components/action/readme.md
Labels: docs

#5801 docs(tree): Update interface for selectionMode.
  src/components/tree-item/tree-item.tsx
  src/components/tree/interfaces.ts
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.tsx
Labels: docs

#5758 fix(input-date-picker): display updated valueAsDate in the two range inputs
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Labels: bug, pr ready for visual snapshots

#5800 fix(tree-item): Allow space and enter key events when selectionMode is "none"
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.e2e.ts
Labels: bug

#5774 fix(combobox): 5540 - handle focus
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/filter/filter.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input/input.e2e.ts
Labels: bug, pr ready for visual snapshots

#5806 ci(chromatic): use diffThreshold value saved in secrets
  .github/workflows/chromatic.yml
Labels: chore

#5810 docs: update component READMEs
  src/components/tree/readme.md
Labels: docs

#5807 feat(input, input-text, input-number): add attributes autocomplete, accept, multiple, pattern
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Labels: enhancement, pr ready for visual snapshots

#5824 docs: update component READMEs
  src/components/input-number/readme.md
  src/components/input-text/readme.md
  src/components/input/readme.md
Labels: docs

#5834 build: Revert bump @whitespace/storybook-addon-html from 5.0.0 to 5.0.3
  package-lock.json
  package.json
Labels: pr ready for visual snapshots

#5826 refactor(tip-manager)!: Remove deprecated `calciteTipManagerToggle` event.
  src/components/tip-manager/tip-manager.e2e.ts
  src/components/tip-manager/tip-manager.tsx
Labels: refactor, pr ready for visual snapshots

#5825 refactor(flow, flow-item)!: Remove deprecated events and supported slotted content.
  src/components/flow-item/flow-item.e2e.ts
  src/components/flow-item/flow-item.stories.ts
  src/components/flow-item/flow-item.tsx
  src/components/flow/flow.e2e.ts
  src/components/flow/flow.stories.ts
  src/components/flow/flow.tsx
  src/components/panel/panel.stories.ts
  src/components/shell-panel/readme.md
  src/components/shell-panel/usage/With-flow.md
  src/components/shell/readme.md
  src/components/shell/usage/Advanced.md
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-center-row-async.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-blank.html
  src/demos/shell/demo-app-center-row-action-bar.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/popup-config-example.html
  src/demos/theme/auto.html
Labels: refactor, pr ready for visual snapshots

#5820 refactor(shell-panel)!: Remove deprecated `calciteShellPanelToggle` event.
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell-panel/shell-panel.tsx
Labels: refactor, pr ready for visual snapshots

#5819 refactor(shell)!: Remove deprecated slots.
  src/components/shell/resources.ts
  src/components/shell/shell.e2e.ts
  src/components/shell/shell.scss
  src/components/shell/shell.tsx
Labels: refactor, pr ready for visual snapshots

#5818 refactor(list, list-item, list-item-group)!: Remove deprecated properties.
  src/components/list-item-group/list-item-group.tsx
  src/components/list-item/list-item.tsx
  src/components/list/list.tsx
Labels: refactor, pr ready for visual snapshots

#5817 refactor!: Remove deprecated `*-leading` and `*-trailing` values for `placement` properties.
  src/components/action-group/action-group.tsx
  src/utils/floating-ui.ts
Labels: refactor, pr ready for visual snapshots

#5814 refactor(alert)!: Remove deprecated `active` property.
  src/components/alert/alert.e2e.ts
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
  src/components/alert/usage/Basic.md
Labels: refactor, pr ready for visual snapshots

#5813 refactor(tooltip-manager)!: Remove deprecated component.
  src/components/tooltip-manager/readme.md
  src/components/tooltip-manager/tooltip-manager.e2e.ts
  src/components/tooltip-manager/tooltip-manager.scss
  src/components/tooltip-manager/tooltip-manager.tsx
  stencil.config.ts
Labels: refactor, pr ready for visual snapshots

#5822 refactor(popover)!: Remove deprecated properties.
  src/components/popover/popover.e2e.ts
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
Labels: refactor, pr ready for visual snapshots

#5823 refactor(panel)!: Remove deprecated properties and events.
  src/components/action-group/action-group.stories.ts
  src/components/action/usage/Clear-appearance.md
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.stories.ts
  src/components/panel/panel.tsx
  src/components/panel/usage/Closable.md
  src/components/panel/usage/Dismissible.md
  src/components/shell-panel/shell-panel.scss
  src/components/shell/shell.stories.ts
  src/demos/action.html
  src/demos/flow.html
  src/demos/list.html
  src/demos/popover.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-3.html
  src/demos/shell/demo-app-advanced-center-row-async.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-center-row-action-bar.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/nesting-testing.html
  src/demos/shell/popup-config-example.html
  src/demos/theme/auto.html
Labels: refactor, pr ready for visual snapshots

#5828 fix(pagination): numberingSystem and lang properties work without groupSeparator
  src/components/pagination/pagination.stories.ts
  src/components/pagination/pagination.tsx
  src/demos/pagination.html
Labels: bug, pr ready for visual snapshots

#5839 ci(deps): exclude bumping @whitespace/storybook-addon-html due to chromatic errors
  .github/dependabot.yml
  package.json
Labels: chore, pr ready for visual snapshots

#5840 build: update dependencies.
  package-lock.json
  package.json
Labels: chore, pr ready for visual snapshots

#5846 ci: more tweaks to prevent chromatic diffs for text aliasing
  .storybook/preview.ts
  src/components/date-picker/date-picker.stories.ts
  src/components/slider/slider.stories.ts
Labels: chore, pr ready for visual snapshots

#5850 docs: update component READMEs
  src/components/action-menu/readme.md
  src/components/action/readme.md
  src/components/alert/readme.md
  src/components/dropdown/readme.md
  src/components/flow-item/readme.md
  src/components/flow/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-time-picker/readme.md
  src/components/list-item-group/readme.md
  src/components/list-item/readme.md
  src/components/list/readme.md
  src/components/panel/readme.md
  src/components/popover/readme.md
  src/components/shell-panel/readme.md
  src/components/shell/readme.md
  src/components/tip-manager/readme.md
  src/components/tooltip/readme.md
Labels: docs

#5851 ci(pr-bot): prevent from removing existing labels
  .github/workflows/pr-bot.yml
Labels: chore, pr ready for visual snapshots

#5853 test(custom-theme): use placeholderImage
  src/05-custom-theme.stories.mdx
Labels: testing, pr ready for visual snapshots

#5821 docs: consistent api reference throughout components
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.tsx
  src/components/dropdown-group/dropdown-group.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.tsx
  src/components/fab/fab.tsx
  src/components/filter/filter.tsx
  src/components/flow-item/flow-item.tsx
  src/components/icon/icon.scss
  src/components/icon/icon.tsx
  src/components/inline-editable/inline-editable.tsx
Labels: docs

#5808 refactor(accordion-item)!: Remove deprecated properties
  src/05-custom-theme.stories.mdx
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.stories.ts
  src/components/accordion/readme.md
  src/components/accordion/usage/Basic.md
Labels: refactor, pr ready for visual snapshots

#5812 refactor(popover-manager)!: Remove deprecated component
  src/components/popover-manager/popover-manager.e2e.ts
  src/components/popover-manager/popover-manager.scss
  src/components/popover-manager/popover-manager.tsx
  src/components/popover-manager/readme.md
  stencil.config.ts
Labels: refactor, pr ready for visual snapshots

#5815 refactor(block)!: Remove deprecated properties.
  src/components/block/block.e2e.ts
  src/components/block/block.scss
  src/components/block/block.stories.ts
  src/components/block/block.tsx
  src/components/block/resources.ts
  src/components/block/usage/Basic.md
  src/components/block/usage/Header-with-control.md
Labels: refactor, pr ready for visual snapshots

#5809 refactor(action-menu)!: Remove deprecated calciteActionMenuOpenChange event payload
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.tsx
  src/components/action-menu/action-menu.tsx
  src/components/action-pad/action-pad.e2e.ts
  src/components/action-pad/action-pad.tsx
Labels: refactor, pr ready for visual snapshots

#5838 refactor(chip)!: remove deprecated properties and values.
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.stories.ts
  src/components/chip/chip.tsx
  src/components/chip/readme.md
  src/components/chip/usage/Basic.md
  src/components/combobox/combobox.tsx
  src/demos/chip.html
Labels: refactor, pr ready for visual snapshots
