Repository Esri/calcite-design-system, pull requests merged in 2023-01, with the labels that each got.

#6215 build: update browserslist db
  package-lock.json
Labels: chore

#6212 docs: update setFocus method across components
  src/components/action-bar/action-bar.tsx
  src/components/action-pad/action-pad.tsx
  src/components/alert/alert.tsx
  src/components/chip/chip.tsx
  src/components/color-picker/color-picker.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/list/list.tsx
  src/components/notice/notice.tsx
  src/components/panel/panel.tsx
  src/components/pick-list/pick-list.tsx
  src/components/popover/popover.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/time-picker/time-picker.tsx
  src/components/value-list/value-list.tsx
Labels: docs

#6225 ci: make sure action doesn't remove existing team label
  .github/workflows/add-esri-product-label.yml
Labels: chore

#6228 fix(alert): Correctly dismiss after hovering
  src/components/alert/alert.tsx
Labels: bug, pr ready for visual snapshots

#6224 refactor(radio-group, radio-group-item)!: Renames radio group components
  conventions/Accessibility/AccessibilityRoles.md
  src/05-custom-theme.stories.mdx
  src/components/icon/readme.md
  src/components/label/label.stories.ts
  src/components/radio-group/radio-group.e2e.ts
  src/components/radio-group/radio-group.stories.ts
  src/components/radio-group/usage/Basic.md
  src/components/segmented-control-item/readme.md
  src/components/segmented-control-item/resources.ts
  src/components/segmented-control-item/segmented-control-item.e2e.ts
  src/components/segmented-control-item/segmented-control-item.scss
  src/components/segmented-control-item/segmented-control-item.tsx
  src/components/segmented-control/readme.md
  src/components/segmented-control/segmented-control.e2e.ts
  src/components/segmented-control/segmented-control.scss
  src/components/segmented-control/segmented-control.stories.ts
  src/components/segmented-control/segmented-control.tsx
  src/components/segmented-control/usage/Basic.md
  src/demos/accordion.html
  src/demos/alert.html
  src/demos/button.html
  src/demos/form.html
  src/demos/label.html
  src/demos/radio-group.html
  src/demos/segmented-control.html
  src/index.html
  stencil.config.ts
Labels: refactor, breaking change, pr ready for visual snapshots

#6234 docs(changelog): modify indent levels
  CHANGELOG.md
Labels: docs

#6232 docs(list,pick-list,value-list): remove duplicate read only refs
  src/components/list/list.tsx
  src/components/pick-list/pick-list.tsx
  src/components/value-list/value-list.tsx
Labels: docs

#6221 docs(tooltip): assistive technology story support
  src/components/tooltip/tooltip.stories.ts
  src/components/tooltip/usage/Basic.md
Labels: docs

#6213 fix(list-item): use pointer cursor when selection mode is none
  src/components/list-item/list-item.scss
Labels: bug, pr ready for visual snapshots

#6227 docs: update component READMEs
  src/components/action-bar/readme.md
  src/components/action-pad/readme.md
  src/components/alert/readme.md
  src/components/chip/readme.md
  src/components/color-picker/readme.md
  src/components/flow-item/readme.md
  src/components/inline-editable/readme.md
  src/components/list/readme.md
  src/components/notice/readme.md
  src/components/panel/readme.md
  src/components/pick-list/readme.md
  src/components/popover/readme.md
  src/components/shell-panel/readme.md
  src/components/stepper-item/readme.md
  src/components/time-picker/readme.md
  src/components/value-list/readme.md
Labels: docs

#5261 fix(tree-item): overflow slotted elements are no longer hidden
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.stories.ts
  src/utils/openCloseComponent.ts
Labels: bug, pr ready for visual snapshots

#6233 docs(pick-list,pick-list-group,pick-list-item,value-list,value-list-item): deprecate components
  src/components/pick-list-group/pick-list-group.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list/pick-list.tsx
  src/components/value-list-item/value-list-item.tsx
  src/components/value-list/value-list.tsx
Labels: docs

#6239 refactor(segmented-control)!: Update event name
  src/components/segmented-control-item/segmented-control-item.tsx
  src/components/segmented-control/segmented-control.e2e.ts
  src/components/segmented-control/segmented-control.tsx
  src/demos/button.html
Labels: refactor

#6246 docs(changelog): modify indentation levels
  CHANGELOG.md
Labels: docs

#6240 fix(input, input-number): nudge buttons increment/decrement once per interaction
  src/components/input-number/input-number.tsx
  src/components/input/input.tsx
Labels: bug, pr ready for visual snapshots

#6251 build: update browserslist db
  package-lock.json
Labels: chore

#6238 docs: update component READMEs
  src/components/icon/readme.md
  src/components/list/readme.md
  src/components/pick-list-group/readme.md
  src/components/pick-list-item/readme.md
  src/components/pick-list/readme.md
  src/components/segmented-control/readme.md
  src/components/tooltip/readme.md
  src/components/value-list-item/readme.md
  src/components/value-list/readme.md
Labels: docs, pr ready for visual snapshots

#6243 docs: add context to `iconFlipRtl` for components with the `FlipContext` interface
  src/components/accordion-item/accordion-item.tsx
  src/components/button/button.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/link/link.tsx
  src/components/split-button/split-button.tsx
  src/components/tab-title/tab-title.tsx
Labels: docs

#6249 refactor(card)!: rename footer-leading and footer-trailing slots to footer-start and footer-end
  src/05-custom-theme.stories.mdx
  src/components/card/card.scss
  src/components/card/card.stories.ts
  src/components/card/card.tsx
  src/components/card/readme.md
  src/components/card/resources.ts
  src/demos/card.html
  src/demos/chip.html
  src/demos/modal.html
Labels: refactor, breaking change, pr ready for visual snapshots

#6256 feat(panel): Allow Panel to fill height of parent
  src/components/panel/panel.scss
Labels: enhancement, pr ready for visual snapshots

#6257 docs(changelog): modify breaking changes indentation level
  CHANGELOG.md
Labels: docs, pr ready for visual snapshots

#6250 fix(input, input-number, input-text): allow slotted action to be independently disabled
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/demos/input.html
Labels: bug, pr ready for visual snapshots

#6259 docs: update component READMEs
  src/components/accordion-item/readme.md
  src/components/button/readme.md
  src/components/card/readme.md
  src/components/dropdown-item/readme.md
  src/components/link/readme.md
  src/components/split-button/readme.md
  src/components/tab-title/readme.md
Labels: docs, pr ready for visual snapshots

#6253 fix(combobox-item): bumping the scale of icon to M when parent combobox is scale L
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.stories.ts
Labels: bug, pr ready for visual snapshots

#6268 refactor(accordion)!: remove minimal and default values from appearance property
  src/components/accordion/accordion.e2e.ts
  src/components/accordion/accordion.scss
  src/components/accordion/accordion.stories.ts
  src/components/accordion/accordion.tsx
  src/demos/accordion.html
Labels: refactor, breaking change, pr ready for visual snapshots

#6271 docs(changelog): reorganize and set indentation
  CHANGELOG.md
Labels: docs

#6252 fix(accordion-item): bumping the scale of icon to M when parent accordion is scale L
  src/components/accordion-item/accordion-item.tsx
  src/components/accordion/accordion.stories.ts
Labels: bug, pr ready for visual snapshots

#6275 refactor(input-time-picker)!: remove string payload from event.
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input-time-picker/readme.md
Labels: refactor, breaking change, pr ready for visual snapshots

#6276 refactor(color-picker)!: remove appearance property
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.scss
  src/components/color-picker/color-picker.tsx
  src/components/color-picker/usage/Basic.md
  src/components/color-picker/usage/Minimal.md
  src/components/interfaces.ts
  src/demos/color-picker.html
Labels: refactor, pr ready for visual snapshots

#6273 feat(date-picker): Update border color
  src/components/date-picker/date-picker.scss
Labels: enhancement

#6274 docs: update component READMEs
  src/components/accordion/readme.md
  src/components/color-picker/readme.md
Labels: docs, pr ready for visual snapshots

#6166 feat(modal)!: Updates accepted `width` values, adds css variables for width and height
  src/components/modal/modal.e2e.ts
  src/components/modal/modal.scss
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
  src/demos/modal.html
  src/demos/shell/basic-slotted-elements.html
Labels: enhancement, breaking change, pr ready for visual snapshots

#6267 fix(tab, tabs, tab-title, input, input-number, input-text, input-date-picker, input-time-picker): bumping the scale of icon to M when parent is scale L
  src/components/input-date-picker/input-date-picker.stories.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.scss
  src/components/input-number/input-number.stories.ts
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.scss
  src/components/input-text/input-text.stories.ts
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.stories.ts
  src/components/input/input.scss
  src/components/input/input.tsx
  src/components/tab-title/resources.ts
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab-title/tab-title.scss
  src/components/tab-title/tab-title.tsx
  src/components/tab/tab.scss
  src/components/tabs/tabs.stories.ts
Labels: bug, pr ready for visual snapshots

#6254 fix(dropdown-item): bumping the scale of icon to M when parent dropdown is scale L
  src/components/dropdown-item/dropdown-item.scss
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown-item/resources.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.stories.ts
Labels: bug, pr ready for visual snapshots

#6297 refactor(tip)!: rename `dismissed` to `closed`
  src/components/tip/tip.scss
  src/components/tip/tip.stories.ts
  src/components/tip/tip.tsx
  src/demos/tip-manager.html
Labels: refactor, breaking change, pr ready for visual snapshots

#6290 build: update browserslist db
  package-lock.json
Labels: chore

#6302 docs(changelog): organize and indent breaking changes
  CHANGELOG.md
Labels: docs, pr ready for visual snapshots

#6288 docs: update component READMEs
  src/components/modal/readme.md
  src/components/tip/readme.md
Labels: docs, pr ready for visual snapshots

#6289 fix(date-picker): range value property updates correctly
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.tsx
Labels: bug, pr ready for visual snapshots

#6216 fix(date-picker): end-range is now rounded and has the correct box-shadow
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker/date-picker.stories.ts
Labels: bug, pr ready for visual snapshots

#6318 build: bump calcite-colors to latest
  package-lock.json
  package.json
Labels: chore, pr ready for visual snapshots

#6308 test(date): add test for dateToISO utility function
  src/components/input-date-picker/input-date-picker.tsx
  src/utils/date.spec.ts
  src/utils/date.ts
Labels: testing, pr ready for visual snapshots

#6316 docs: context to name prop for form submission
  src/components/combobox/combobox.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.tsx
  src/components/segmented-control/segmented-control.tsx
  src/components/select/select.tsx
  src/components/slider/slider.tsx
  src/components/switch/switch.tsx
Labels: docs

#6286 refactor(pagination)!: rename properties.
  src/05-custom-theme.stories.mdx
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.stories.ts
  src/components/pagination/pagination.tsx
  src/components/pagination/usage/Basic.md
  src/demos/pagination.html
Labels: refactor, pr ready for visual snapshots

#6282 fix(combobox-item): adds selector indicator for item's with icon.
  src/components/combobox-item-group/combobox-item-group.scss
  src/components/combobox-item/combobox-item.scss
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox-item/resources.ts
  src/components/combobox/combobox.stories.ts
  src/components/combobox/utils.ts
Labels: bug, pr ready for visual snapshots

#6005 feat(tree-item): support actions-end and icon-start
  src/components/tree-item/resources.ts
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.stories.ts
Labels: enhancement, pr ready for visual snapshots

#6320 fix(tree): expanded item renders correctly on initial load
  conventions/README.md
  src/components/tree-item/resources.ts
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
Labels: bug, pr ready for visual snapshots

#6325 docs: update component READMEs
  src/components/combobox/readme.md
  src/components/input-date-picker/readme.md
  src/components/input-number/readme.md
  src/components/input-text/readme.md
  src/components/input/readme.md
  src/components/pagination/readme.md
  src/components/radio-button/readme.md
  src/components/rating/readme.md
  src/components/segmented-control/readme.md
  src/components/select/readme.md
  src/components/slider/readme.md
  src/components/switch/readme.md
Labels: docs, pr ready for visual snapshots

#6306 fix(input, input-number): correctly handle '-' and '.' values when sanitizing number
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Labels: bug, pr ready for visual snapshots

#6335 fix(select): bumping scale of chevron icon to M when host is scale l
  src/components/select/select.stories.ts
  src/components/select/select.tsx
Labels: bug, pr ready for visual snapshots

#6333 ci: add npm script to remove js files compiled by tsc
  package.json
Labels: chore

#6336 ci: prepare release scripts for v1
  .versionrc.json
  package-lock.json
  package.json
  support/.eslintrc.json
  support/prepReleaseCommit.ts
Labels: chore

#6338 fix(pagination): bumping scale of chevron icon to M when host is scale L
  src/components/pagination/pagination.stories.ts
  src/components/pagination/pagination.tsx
Labels: bug, pr ready for visual snapshots

#6339 docs: update license year
  LICENSE.md
  readme.md
Labels: docs, pr ready for visual snapshots

#6337 docs: update component READMEs
  src/components/tree-item/readme.md
Labels: docs

#6351 ci: fix release script sanity check error
  package.json
  support/prepReleaseCommit.ts
Labels: chore

#6346 docs(progress): update value prop for determinate types
  src/components/progress/progress.tsx
Labels: docs

#6341 fix(popover): fix heading padding for m and l scales
  src/components/popover/popover.scss
  src/components/popover/popover.stories.ts
Labels: bug, pr ready for visual snapshots

#6350 fix(split-button): no longer displays divider for transparent with inverse kind
  src/components/split-button/split-button.scss
  src/components/split-button/split-button.stories.ts
Labels: bug, pr ready for visual snapshots

#6360 fix(input-date-picker): input renders numbers in the specified numbering system
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Labels: pr ready for visual snapshots

#6354 docs(contributing): mention windows environment considerations
  CONTRIBUTING.md
Labels: docs, pr ready for visual snapshots

#6355 ci(linting): improve results readability and add markdownlint
  .lintstagedrc.json
  CONTRIBUTING.md
  LICENSE.md
  conventions/Accessibility.md
  conventions/Accessibility/AccessibilityDeveloper.md
  conventions/Accessibility/AccessibilityRoles.md
  conventions/Internationalization.md
  conventions/README.md
  conventions/Styling.md
  package-lock.json
  package.json
  readme.md
  src/assets/styles/readme.md
  src/components/link/readme.md
  src/components/shell/readme.md
Labels: chore, pr ready for visual snapshots

#6368 fix(alert): ensure `border-radius` is consistent for prescribed `slots`
  src/components/alert/alert.scss
  src/components/alert/alert.stories.ts
  src/components/alert/alert.tsx
Labels: bug, pr ready for visual snapshots

#6372 fix(tree): prevent lines from expanded item from bleeding out of container
  src/components/tree-item/tree-item.scss
  src/components/tree/tree.stories.ts
Labels: bug, pr ready for visual snapshots

#6377 ci: update esri team names
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
Labels: chore, Calcite (dev)

#6380 fix(stepper-item): no longer refer numberingSystem from neighbor stepper component
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
Labels: bug, pr ready for visual snapshots
