Repository Esri/calcite-design-system, pull requests merged in 2023-02, with the labels that each got.

#6406 ci(release): lint readme and changelog before committing
  .versionrc.json
Labels: chore

#6394 docs(input-number, input-text): remove unsupported boolean type from type prop doc
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
Labels: docs, Calcite (dev)

#6405 feat(pagination, split-button, dropdown, date-picker) action-group): add setFocus method
  src/components/action-group/action-group.e2e.ts
  src/components/action-group/action-group.tsx
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.tsx
  src/components/split-button/split-button.e2e.ts
  src/components/split-button/split-button.tsx
  src/tests/commonTests.ts
Labels: enhancement, pr ready for visual snapshots

#6340 docs: cleanup references to beta versions
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  conventions/Documentation.md
Labels: docs, Calcite (dev)

#6417 build(deps): bump calcite-ui-icons from 3.20.7 to 3.21.0
  package-lock.json
  package.json
Labels: chore

#6369 fix(date-picker): days previous to the currently hovered day when no range value exists display correctly with no hover styles
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.tsx
Labels: bug, pr ready for visual snapshots, Calcite (dev)

#6420 docs: fix slot creation for deprecated components
  src/components/pick-list-group/pick-list-group.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list/pick-list.tsx
  src/components/value-list-item/value-list-item.tsx
  src/components/value-list/value-list.tsx
Labels: docs

#6385 fix(stepper): add margin bottom for text in vertical layout
  src/components/stepper-item/stepper-item.scss
  src/components/stepper/stepper.stories.ts
Labels: bug, pr ready for visual snapshots

#6415 test(heading): remove unnecessary dummy component for spec test
  src/components/functional/Heading.spec.tsx
Labels: testing, pr ready for visual snapshots

#6422 fix(icon): fix icon normalization to handle x-times-named icons
  src/components/icon/utils.spec.ts
  src/components/icon/utils.ts
Labels: bug, pr ready for visual snapshots

#6424 fix(tree-item): reverses regression to bring back focus when navigating with keyboard
  src/components/tree-item/tree-item.scss
Labels: bug, regression, pr ready for visual snapshots

#6428 docs(segmented-control): update event description for calciteSegmentedControlChange
  src/components/segmented-control/segmented-control.tsx
Labels: docs

#6426 revert: "feat(pagination, split-button, dropdown, date-picker) action-group): add setFocus method (#6405)"
  src/components/action-group/action-group.e2e.ts
  src/components/action-group/action-group.tsx
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.tsx
  src/components/split-button/split-button.e2e.ts
  src/components/split-button/split-button.tsx
  src/tests/commonTests.ts
Labels: pr ready for visual snapshots

#6435 docs(changelog): remove reverted feature
  CHANGELOG.md
Labels: docs

#6436 fix(vite): resolve lazying loading error in dist build
  stencil.config.ts
Labels: bug, pr ready for visual snapshots

#6425 ci(next): fix commit message
  .versionrc.json
Labels: chore

#6352 docs: update component READMEs
  src/components/progress/readme.md
Labels: docs, Stale, pr ready for visual snapshots

#6322 fix(checkbox, input, radio-button, switch): improve form validation by adding type to internal inputs
  src/components/checkbox/checkbox.e2e.ts
  src/components/checkbox/checkbox.tsx
  src/components/input-number/input-number.e2e.ts
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/components/radio-button/radio-button.e2e.ts
  src/components/radio-button/radio-button.tsx
  src/components/switch/switch.e2e.ts
  src/components/switch/switch.tsx
  src/tests/commonTests.ts
  src/utils/form.tsx
Labels: bug, pr ready for visual snapshots

#6343 fix(tooltip): prevent closing of Esc-key-closing parent components when dismissing a tooltip with Esc
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
  src/components/tooltip/tooltip.tsx
  src/components/tooltip/utils.ts
Labels: bug, Stale, pr ready for visual snapshots

#6441 build(deps): bump calcite-ui-icons from 3.21.0 to 3.21.2
  package-lock.json
  package.json
Labels: chore

#6431 fix(input, input-number, input-text): emit change value when clearing programmatically-set value
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Labels: bug

#6439 chore: drop unused import
  src/components/date-picker/date-picker.e2e.ts
Labels: chore

#6434 fix(modal): no longer loses focus trap after clicking inside the component.
  src/components/modal/modal.e2e.ts
  src/components/popover/popover.e2e.ts
  src/utils/focusTrapComponent.ts
Labels: bug, pr ready for visual snapshots

#6403 fix(tree-item): preserves consistent height with or w/t actions-end
  src/components/tree-item/resources.ts
  src/components/tree-item/tree-item.scss
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.stories.ts
Labels: bug, pr ready for visual snapshots

#6452 fix(vite): getting the dist build to work correctly with vite again
  stencil.config.ts
Labels: bug

#6442 ci: remove version placeholders from issue templates
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
Labels: chore

#6465 ci: Create sync_to_airtable.yml
  .github/workflows/sync_to_airtable.yml
  src/components/popover/popover.e2e.ts
Labels: chore, pr ready for visual snapshots

#6474 ci(action): debugging issue with GH Action
  .github/workflows/sync_to_airtable.yml
Labels: chore

#6476 ci(action): fix edge case where '`' causes breaks in webhook
  .github/workflows/sync_to_airtable.yml
Labels: chore

#6477 ci(action): fix issue edgecase when passing to webhook
  .github/workflows/sync_to_airtable.yml
Labels: chore

#6479 fix(focus-trap): prevent host from receiving initial focus
  src/components/modal/modal.e2e.ts
  src/tests/utils.ts
  src/utils/focusTrapComponent.spec.ts
  src/utils/focusTrapComponent.ts
Labels: bug, pr ready for visual snapshots

#6478 ci(action): rollback airtable sync action to cover most use cases
  .github/workflows/sync_to_airtable.yml
Labels: chore

#5372 fix(slider): slider handle aligns with track when font size changes
  src/components/slider/slider.scss
  src/components/slider/slider.stories.ts
Labels: bug, pr ready for visual snapshots

#6486 test(modal): restore fixed E2E tests
  src/components/modal/modal.e2e.ts
  src/tests/utils.ts
Labels: testing

#6487 chore(linting): block commits if there are unused imports
  .eslintrc.json
Labels: chore

#6493 chore(handle): add message bundles for translation.
  src/components/handle/assets/handle/t9n/messages.json
  src/components/handle/assets/handle/t9n/messages_en.json
  t9nmanifest.txt
Labels: chore

#6502 chore(deps): bump stylelint-use-logical-spec
  package-lock.json
  package.json
Labels: chore, pr ready for visual snapshots

#6489 chore(linting): drop filter for JS file linting
  .lintstagedrc.json
  package.json
Labels: chore

#6488 chore(linting): restore pattern to lint TS and TSX files
  .lintstagedrc.json
Labels: chore

#6513 ci: add user-defined priority
  .github/ISSUE_TEMPLATE/bug.yml
  .github/workflows/add-bug-priority-label.yml
Labels: chore

#6500 fix(select, slider, combobox): display label in screen reader instructions.
  src/components/combobox/combobox.tsx
  src/components/select/select.tsx
  src/components/slider/slider.tsx
Labels: bug, pr ready for visual snapshots

#6402 fix(value-list): add back instructions for screen reader when drag handle is activated
  src/components/value-list-item/interfaces.ts
  src/components/value-list-item/value-list-item.tsx
  src/components/value-list/value-list.e2e.ts
  src/components/value-list/value-list.tsx
Labels: bug, a11y, pr ready for visual snapshots

#6522 chore(linting): fix no-unused-var errors
  src/components/action-pad/action-pad.stories.ts
  src/components/card/card.stories.ts
  src/components/checkbox/checkbox.stories.ts
  src/components/flow-item/flow-item.e2e.ts
  src/components/modal/modal.stories.ts
  src/components/tabs/tabs.stories.ts
Labels: chore

#6519 fix(tree): prevent tree-item content from being clipped
  src/components/tree-item/tree-item.scss
  src/components/tree/tree.stories.ts
Labels: bug, pr ready for visual snapshots

#6518 fix(tree): restore wrapping in tree-item text content
  src/components/tree-item/tree-item.scss
  src/components/tree/tree.stories.ts
Labels: bug, pr ready for visual snapshots

#6520 fix: apply offsetParent polyfill for Chrome 109+
  package-lock.json
  package.json
  src/utils/floating-ui.ts
  src/utils/floating-ui/nonChromiumPlatformUtils.ts
  src/utils/floating-ui/utils.ts
Labels: bug, pr ready for visual snapshots
