Repository Esri/calcite-design-system, pull requests merged in 2023-06, with the labels that each got.

#7098 fix(menu-item): Ensure correct order of rendered icons
  src/components/menu-item/menu-item.stories.ts
  src/components/menu-item/menu-item.tsx
  src/demos/menu.html
Labels: bug, pr ready for visual snapshots

#7086 test: set up `labelable` helper to run a test per use case
  src/components/button/button.e2e.ts
  src/components/checkbox/checkbox.e2e.ts
  src/components/combobox/combobox.e2e.ts
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input-text/input-text.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input/input.e2e.ts
  src/components/radio-button/radio-button.e2e.ts
  src/components/rating/rating.e2e.ts
  src/components/segmented-control/segmented-control.e2e.ts
  src/components/select/select.e2e.ts
  src/components/slider/slider.e2e.ts
  src/components/switch/switch.e2e.ts
  src/components/text-area/text-area.e2e.ts
  src/tests/commonTests.ts
Labels: testing, skip visual snapshots

#7103 docs: provide context to slot and css var deprecations
  src/components/flow-item/flow-item.tsx
  src/components/panel/panel.tsx
  src/components/shell-panel/shell-panel.scss
  src/components/shell/shell.tsx
Labels: docs, skip visual snapshots

#7108 chore: fix event handler casing
  src/components/modal/modal.tsx
Labels: chore, skip visual snapshots

#7064 refactor(action-bar, action-pad): refactor resize, overflowActions and textEnabled logic.
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
Labels: refactor, pr ready for visual snapshots

#7128 build: move stencil devDeps from root to individual packages
  package-lock.json
  package.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#7131 build(deps): update package-lock
  package-lock.json
Labels: chore, skip visual snapshots

#7132 test: set up floatingUIOwner helper to run a test per use case
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Labels: testing, skip visual snapshots

#7084 fix(navigation): label is no longer a required property
  packages/calcite-components/src/components/navigation/navigation.tsx
Labels: bug, skip visual snapshots

#7112 test: set up `t9n` helper to run a test per use case
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-group/action-group.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/block-section/block-section.e2e.ts
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/card/card.e2e.ts
  packages/calcite-components/src/components/chip/chip.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/filter/filter.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/menu-item/menu-item.e2e.ts
  packages/calcite-components/src/components/menu/menu.e2e.ts
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/notice/notice.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/pick-list-item/pick-list-item.e2e.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/tip-manager/tip-manager.e2e.ts
  packages/calcite-components/src/components/tip/tip.e2e.ts
  packages/calcite-components/src/components/value-list/value-list.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Labels: testing, skip visual snapshots

#7145 ci: fix a couple release ci issues
  .github/workflows/remove-next-changelog-entries.yml
  package.json
Labels: chore, skip visual snapshots

#7050 fix(radio-button-group): no longer focus first radio button on label click and adds `setFocus` method.
  packages/calcite-components/src/components/radio-button-group/radio-button-group.e2e.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
Labels: bug, pr ready for visual snapshots

#7160 fix(list): Improve border styling
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.scss
Labels: bug, pr ready for visual snapshots

#7161 docs(changelog): Update commit message for #7160
  packages/calcite-components/CHANGELOG.md
Labels: docs

#7153 ci(release-please): change PR title and ensure git tag consistency
  packages/calcite-components/CHANGELOG.md
  release-please-config.json
Labels: chore, skip visual snapshots

#7173 fix(input,input-number): allow typing decimal separator in firefox for arabic locale
  packages/calcite-components/src/utils/locale.ts
Labels: bug, pr ready for visual snapshots

#7156 fix(input-date-picker): Fix showing the placeholder when resetting the value
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Labels: bug, pr ready for visual snapshots

#7172 fix(tooltip): improve component timing
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/resources.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Labels: bug, pr ready for visual snapshots

#7148 feat(list): Add slots for filter actions
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
  packages/calcite-components/src/demos/list.html
Labels: enhancement, pr ready for visual snapshots

#7102 fix(radio-button, radio-button-group): prevent emitting events when selecting a checked radio button
  packages/calcite-components/src/components/radio-button-group/radio-button-group.e2e.ts
  packages/calcite-components/src/components/radio-button/radio-button.e2e.ts
  packages/calcite-components/src/components/radio-button/radio-button.tsx
Labels: bug, pr ready for visual snapshots

#7107 fix: ensure mouse events are blocked for disabled components in Firefox
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/fab/fab.tsx
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/link/link.tsx
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/pick-list-item/pick-list-item.tsx
  packages/calcite-components/src/components/pick-list/pick-list.tsx
  packages/calcite-components/src/components/radio-button/radio-button.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/components/split-button/split-button.tsx
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/switch/switch.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/components/tile-select-group/tile-select-group.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
  packages/calcite-components/src/utils/browser.ts
  packages/calcite-components/src/utils/floating-ui.ts
  packages/calcite-components/src/utils/interactive.ts
Labels: bug, pr ready for visual snapshots

#7134 chore(t9n): move manifest file to root level.
  packages/calcite-components/support/generateT9nTypes.ts
  packages/calcite-components/support/syncEnT9nBundles.ts
  packages/calcite-components/t9nmanifest.txt
  t9nmanifest.txt
Labels: chore, pr ready for visual snapshots

#7182 fix(scrim): Responsively set the scale of the loading spinner
  packages/calcite-components/src/components/scrim/resources.ts
  packages/calcite-components/src/components/scrim/scrim.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.tsx
Labels: bug, pr ready for visual snapshots

#7157 fix(alert): Sets autoCloseDuration to "medium" by default
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.tsx
Labels: bug, pr ready for visual snapshots

#7187 chore(t9n): corrects name of the path constant
  packages/calcite-components/support/generateT9nTypes.ts
Labels: chore, skip visual snapshots

#7189 fix(alert): update alert queue when an alert is removed from the DOM
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/alert/interfaces.ts
Labels: bug, pr ready for visual snapshots

#7152 fix(radio-button): focuses first focusable radio-button element in group.
  packages/calcite-components/src/components/radio-button/radio-button.e2e.ts
  packages/calcite-components/src/components/radio-button/radio-button.tsx
Labels: bug, pr ready for visual snapshots

#7203 chore: fix sorting logic for t9nmanifest entries
  packages/calcite-components/support/generateT9nTypes.ts
  t9nmanifest.txt
Labels: chore, skip visual snapshots

#7204 fix(list): update selectedItems property on all item selection changes
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug

#7206 ci: set design complete label conditionals
  .github/workflows/design-complete.yml
Labels: chore, skip visual snapshots

#7089 test: set up `disabled` helper to run a test per use case
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/checkbox/checkbox.e2e.ts
  packages/calcite-components/src/components/chip-group/chip-group.e2e.ts
  packages/calcite-components/src/components/chip/chip.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/combobox-item/combobox-item.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/date-picker-day/date-picker-day.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/fab/fab.e2e.ts
  packages/calcite-components/src/components/filter/filter.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/link/link.e2e.ts
  packages/calcite-components/src/components/list-item-group/list-item-group.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/pick-list-item/pick-list-item.e2e.ts
  packages/calcite-components/src/components/pick-list/shared-list-tests.ts
  packages/calcite-components/src/components/radio-button/radio-button.e2e.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/sortable-list/sortable-list.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.e2e.ts
  packages/calcite-components/src/components/switch/switch.e2e.ts
  packages/calcite-components/src/components/tab-title/tab-title.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
  packages/calcite-components/src/components/tile-select-group/tile-select-group.e2e.ts
  packages/calcite-components/src/components/tile-select/tile-select.e2e.ts
  packages/calcite-components/src/components/tile/tile.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/value-list-item/value-list-item.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Labels: testing, skip visual snapshots

#7209 build: ignore node_modules and build outputs when watching for changes during stencil tests
  packages/calcite-components/stencil.config.ts
Labels: chore, skip visual snapshots

#7192 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#7178 fix(combobox, dropdown, input-date-picker, input-time-picker, popover, tooltip): Prevent repositioning from affecting other floating components
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Labels: bug, pr ready for visual snapshots

#7214 build(t9n): generate json file containing t9n values
  packages/calcite-components/package.json
  packages/calcite-components/support/generateT9nDocsJSON.ts
Labels: chore, tooling, skip visual snapshots

#7213 fix(input, input-number): allows numeric characters.
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
Labels: bug, pr ready for visual snapshots

#7222 ci(release-please): pin action version and allow manually running action
  .github/workflows/deploy-latest.yml
Labels: chore, skip visual snapshots

#7216 fix(tree-item): ensure expanded tree-item is displayed when expanded and made visible
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.scss
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Labels: bug, skip visual snapshots

#7225 ci: hardcode release version due to reverting feat
  package-lock.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
  release-please-config.json
Labels: chore

#7144 chore: release latest
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  release-please-config.json
Labels: chore, skip visual snapshots, autorelease: pending

#7228 build: bump package versions back to 1.5.0-next.5
  package-lock.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#7227 ci: double build cc when publishing to workaround stencil types bug
  packages/calcite-components/package.json
  packages/calcite-components/support/stencilDoubleBuildTypesWorkaround.sh
Labels: chore, skip visual snapshots

#7220 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#7235 test(commonTests): restore disabled focus target testing for non-"none" focus targets
  packages/calcite-components/src/tests/commonTests.ts
Labels: testing, skip visual snapshots

#7219 fix(input-date-picker): reset active date picker date after closing
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/tests/utils.ts
Labels: bug, pr ready for visual snapshots

#7236 chore(linting): allow e2ePage variable naming
  packages/calcite-components/.eslintrc.json
  packages/calcite-components/src/tests/commonTests.ts
Labels: chore, skip visual snapshots

#7190 chore: issue template context for issue check and package
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/workflows/add-package-label.yml
Labels: chore, skip visual snapshots

#7127 feat(filter): Add filter method
  packages/calcite-components/src/components/filter/filter.e2e.ts
  packages/calcite-components/src/components/filter/filter.tsx
Labels: enhancement, Stale

#7133 fix(list): changing filterText property will now update filtered items
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, Stale

#7208 feat(block, block-section): Add setFocus method
  packages/calcite-components/src/components/block-section/block-section.e2e.ts
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.tsx
Labels: enhancement

#7183 feat(list): Add slots for filter actions
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
  packages/calcite-components/src/demos/list.html
Labels: enhancement, Stale, pr ready for visual snapshots

#7201 chore: add eslint-plugin-calcite-components package
  .github/workflows/pr-tests_eslint-plugin-calcite-components.yml
  .release-please-manifest.json
  package-lock.json
  package.json
  packages/calcite-components/package.json
  packages/eslint-plugin-calcite-components/.gitignore
  packages/eslint-plugin-calcite-components/CONTRIBUTING.md
  packages/eslint-plugin-calcite-components/LICENSE.md
  packages/eslint-plugin-calcite-components/README.md
  packages/eslint-plugin-calcite-components/docs/ban-events.md
  packages/eslint-plugin-calcite-components/docs/ban-props-on-host.md
  packages/eslint-plugin-calcite-components/docs/require-event-emitter-type.md
  packages/eslint-plugin-calcite-components/docs/strict-boolean-attributes.md
  packages/eslint-plugin-calcite-components/jest.config.ts
  packages/eslint-plugin-calcite-components/package.json
  packages/eslint-plugin-calcite-components/rollup.config.ts
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/configs/index.ts
  packages/eslint-plugin-calcite-components/src/configs/recommended.ts
  packages/eslint-plugin-calcite-components/src/index.ts
  packages/eslint-plugin-calcite-components/src/rules/ban-events.ts
  packages/eslint-plugin-calcite-components/src/rules/ban-props-on-host.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
  packages/eslint-plugin-calcite-components/src/rules/require-event-emitter-type.ts
  packages/eslint-plugin-calcite-components/src/rules/strict-boolean-attributes.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/.keep
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/tsconfig.json
  packages/eslint-plugin-calcite-components/tsconfig.json
  release-please-config.json
Labels: chore, skip visual snapshots

#7081 feat(navigation-logo): Increase font-size of heading with no description
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
  packages/calcite-components/src/components/navigation-logo/navigation-logo.tsx
  packages/calcite-components/src/components/navigation-logo/resources.ts
Labels: enhancement, pr ready for visual snapshots

#7185 feat: automatically import and define Calcite Components when importing their React wrapper
  package-lock.json
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchImportPathJSX.ts
  packages/calcite-components-react/tsconfig.json
  packages/calcite-components/package.json
  packages/calcite-components/stencil.config.ts
Labels: enhancement, skip visual snapshots

#7239 fix(block): removes extra loading indicator
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
  packages/calcite-components/src/components/interfaces.ts
Labels: bug

#7159 fix(input, input-number): no longer removes trailing decimal separator
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/utils/number.spec.ts
  packages/calcite-components/src/utils/number.ts
Labels: bug, pr ready for visual snapshots

#7248 test(input): replaces input-number with input component
  packages/calcite-components/src/components/input/input.e2e.ts
Labels: testing, skip visual snapshots

#7247 fix(tooltip): deprecate the label property due to the description coming from the component's content
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.stories.ts
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/demos/tooltip.html
Labels: bug, pr ready for visual snapshots

#7240 refactor(floating-ui): apply composed getOffsetParent consistently
  packages/calcite-components/src/utils/browser.ts
  packages/calcite-components/src/utils/config.ts
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Labels: refactor, pr ready for visual snapshots

#7243 test(input): stabilize increment tests
  packages/calcite-components/src/components/input/input.e2e.ts
Labels: testing, skip visual snapshots
