Repository Esri/calcite-design-system, pull requests merged in 2023-11, with the labels that each got.

#8107 ci(renovate): run on weekdays and don't pin peerDeps
  .renovaterc.json
Labels: chore, skip visual snapshots

#7667 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#7669 chore: custom ESLint rule to disable sorting for `ref` attribute to keep it as last property in JSX to ensure it is up-to-date
  packages/eslint-plugin-calcite-components/README.md
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/configs/recommended.ts
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.wrong.tsx
Labels: chore, skip visual snapshots

#8109 test(text-area): fix story markup
  packages/calcite-components/src/components/text-area/text-area.stories.ts
Labels: testing, pr ready for visual snapshots

#8101 fix(block-section): wraps long text over to a new line when toggle switch is displayed
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/block/block.stories.ts
Labels: bug, pr ready for visual snapshots

#7996 chore(deps-dev): remove unused yargs type
  package-lock.json
  package.json
  packages/calcite-components-angular/projects/component-library/src/public-api.ts
Labels: chore, low risk

#8122 ci: update github actions for new rc base branch
  .github/workflows/chromatic-main.yml
  .github/workflows/chromatic-rc.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr-bot.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-milestone.yml
  .github/workflows/pr-tests_eslint-plugin-calcite-components.yml
  package.json
Labels: chore, pr ready for visual snapshots

#8128 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#8127 test(openClose): add missing awaits to openClose tests
  packages/calcite-components/src/tests/commonTests.ts
Labels: testing, skip visual snapshots

#8099 refactor(card)!: remove deprecated `deselected` message
  packages/calcite-components/src/components/card/assets/card/t9n/messages.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_en.json
  packages/calcite-components/support/generateT9nDocsJSON.ts
Labels: refactor, breaking change, skip visual snapshots

#8136 ci: update spike complete automation to try removing dev lifecycle label
  .github/scripts/notifyWhenSpikeComplete.js
Labels: skip visual snapshots

#8133 fix(split-button): fix width layout
  packages/calcite-components/src/components/split-button/resources.ts
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.scss
  packages/calcite-components/src/components/split-button/split-button.stories.ts
  packages/calcite-components/src/components/split-button/split-button.tsx
Labels: bug, pr ready for visual snapshots

#8129 refactor: improve on enforce-ref-last-prop ESLint rule docs
  packages/eslint-plugin-calcite-components/README.md
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
Labels: refactor, skip visual snapshots

#8151 fix(angular): publish from the dist directory
  package-lock.json
  packages/calcite-components-angular/projects/component-library/package.json
Labels: bug, skip visual snapshots

#8108 build(deps)!: bump Stencil to v4
  package-lock.json
  package.json
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchJSXImport.ts
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/.prettierignore
  packages/calcite-components/package.json
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/date-picker-day/date-picker-day.e2e.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/icon/utils.spec.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/pick-list-item/pick-list-item.e2e.ts
  packages/calcite-components/src/components/pick-list/shared-list-tests.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/value-list-item/value-list-item.e2e.ts
  packages/calcite-components/src/index.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/tests/iconPathDataStub.ts
  packages/calcite-components/src/tests/utils.ts
  packages/calcite-components/stencil.config.ts
  packages/calcite-components/support/generateT9nTypes.ts
  packages/calcite-components/support/patchJSDOMTypes.ts
  packages/calcite-components/support/patchTreeShaking.ts
  packages/calcite-components/tsconfig-eslint.json
  packages/eslint-plugin-calcite-components/package.json
Labels: chore, skip visual snapshots

#8155 chore: drop form-request-submit-polyfill as Safari 16 supports it
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/utils/form.tsx
Labels: chore, skip visual snapshots

#8051 refactor(responsive): use JS module to create breakpoints lookup object
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/utils/responsive.spec.ts
  packages/calcite-components/src/utils/responsive.ts
  packages/calcite-components/stencil.config.ts
Labels: refactor, pr ready for visual snapshots

#8055 fix(panel, flow-item): remove overflow rule
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/demos/flow-and-panel-action-menu-overflow.html
Labels: bug, pr ready for visual snapshots

#8162 ci(rc): cleanup npm scripts for deployment
  package.json
Labels: chore, skip visual snapshots

#8165 ci: additional changes to the next/rc deployment scripts
  lerna.json
  package.json
  support/syncLinkedPackageVersions.ts
Labels: chore, skip visual snapshots

#8164 refactor(rating): rename functional component dir for consistency
  packages/calcite-components/src/components/rating/functional/star.tsx
  packages/calcite-components/src/components/rating/rating.tsx
Labels: refactor, skip visual snapshots

#7872 feat(date-picker): make component responsive
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker/date-picker.scss
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
Labels: enhancement, pr ready for visual snapshots

#8167 build(angular): chage calcite-components to a dep from peerDep/devDep
  package-lock.json
  packages/calcite-components-angular/projects/component-library/README.md
  packages/calcite-components-angular/projects/component-library/ng-package.json
  packages/calcite-components-angular/projects/component-library/package.json
Labels: chore, skip visual snapshots

#8177 build(angular): remove event detail types patch by exporting them from the entry point
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/support/patchEventDetailTypeImports.ts
  packages/calcite-components/package.json
  packages/calcite-components/src/index.ts
Labels: chore, pr ready for visual snapshots

#8123 feat(list): Specify the element types in the `calciteListOrderChange` event detail.
  packages/calcite-components/src/components/list/interfaces.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/index.ts
Labels: bug, enhancement, skip visual snapshots

#8178 ci(angular): rebuild before publishing to fix outdated version in dist
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/support/prepublishBuildForCorrectVersion.sh
Labels: chore, skip visual snapshots

#8179 ci(next): attempt to fix tests by copying steps in passing pr check
  .github/workflows/deploy-next.yml
Labels: chore, skip visual snapshots

#8172 fix(input-date-picker): fix date-picker wrapper displaying beyond its bounds
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
Labels: bug, pr ready for visual snapshots

#8160 feat(input, input-date-picker, input-number, input-text, input-time-picker): truncate value and placeholder when input is narrow
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/input-text/input-text.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input/input.scss
  packages/calcite-components/src/components/input/input.stories.ts
Labels: enhancement, pr ready for visual snapshots

#8181 fix(checkbox): make label property public
  packages/calcite-components/src/components/checkbox/checkbox.tsx
Labels: bug, skip visual snapshots

#8189 style: fix linting violations
  packages/calcite-components-react/LICENSE.md
  packages/calcite-components-react/README.md
  packages/calcite-components/src/components/functional/FloatingArrow.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
  packages/eslint-plugin-calcite-components/LICENSE.md
  packages/eslint-plugin-calcite-components/jest.config.ts
  packages/eslint-plugin-calcite-components/src/configs/index.ts
  packages/eslint-plugin-calcite-components/src/rules/ban-events.ts
  packages/eslint-plugin-calcite-components/src/rules/ban-props-on-host.ts
  packages/eslint-plugin-calcite-components/src/rules/require-event-emitter-type.ts
  packages/eslint-plugin-calcite-components/src/rules/strict-boolean-attributes.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.spec.ts
  readme.md
Labels: chore, skip visual snapshots

#8185 fix(list-item, stack): stretch action-menu and handle when placed inside a list-item or stack.
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/stack/stack.scss
  packages/calcite-components/src/components/stack/stack.stories.ts
Labels: bug, pr ready for visual snapshots

#8184 fix(action): Ensure action content is correctly spaced
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/action.stories.ts
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/action/resources.ts
  packages/calcite-components/src/demos/action.html
Labels: bug, pr ready for visual snapshots

#8191 revert: "Merge branch 'rc-force' into main"
  package-lock.json
  package.json
  packages/calcite-components-angular/package-lock.json
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchJSXImport.ts
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/.prettierignore
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/card/assets/card/t9n/messages.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_en.json
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/date-picker-day/date-picker-day.e2e.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/icon/utils.spec.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/pick-list-item/pick-list-item.e2e.ts
  packages/calcite-components/src/components/pick-list/shared-list-tests.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/value-list-item/value-list-item.e2e.ts
  packages/calcite-components/src/index.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/tests/iconPathDataStub.ts
  packages/calcite-components/src/tests/utils.ts
  packages/calcite-components/stencil.config.ts
  packages/calcite-components/support/generateT9nDocsJSON.ts
  packages/calcite-components/support/generateT9nTypes.ts
  packages/calcite-components/support/patchJSDOMTypes.ts
  packages/calcite-components/support/patchTreeShaking.ts
  packages/calcite-components/tsconfig-eslint.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Labels: pr ready for visual snapshots

#8192 docs(label, list): update usage examples
  packages/calcite-components/src/components/label/usage/Basic.md
  packages/calcite-components/src/components/list/usage/Advanced.md
  packages/calcite-components/src/components/list/usage/Basic.md
  packages/calcite-components/src/components/list/usage/DragEnabled.md
  packages/calcite-components/src/components/list/usage/DragEnabledNested.md
  packages/calcite-components/src/components/list/usage/Grouped.md
  packages/calcite-components/src/components/list/usage/MultipleSelections.md
  packages/calcite-components/src/components/list/usage/Nested.md
Labels: docs, skip visual snapshots

#8183 feat(list-item): Add content-bottom slot for placing content below the label and description of the component
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list/list.stories.ts
Labels: enhancement, pr ready for visual snapshots

#8197 chore(design-tokens): delete unnecessary lock file
  packages/calcite-design-tokens/package-lock.json
Labels: chore, pr ready for visual snapshots

#8204 fix(list-item, stack): stretch dropdown when placed inside a list-item or stack
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/stack/stack.scss
  packages/calcite-components/src/components/stack/stack.stories.ts
Labels: bug, pr ready for visual snapshots

#8134 fix(list-item): adds border between grouped and ungrouped list-items
  packages/calcite-components/calcite-preset.ts
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, pr ready for visual snapshots

#8209 chore(jest, turbo): resolve test run failures
  packages/calcite-components/stencil.config.ts
  turbo.json
Labels: chore, skip visual snapshots

#8161 test(panel, flow-item): add screenshot tests for overflow (#8028)
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
Labels: testing, pr ready for visual snapshots, skip visual snapshots

#8213 build(deps): bump @stencil/core
  package-lock.json
  packages/calcite-components-angular/package-lock.json
  packages/calcite-components/package.json
Labels: chore, pr ready for visual snapshots

#8199 chore: drop unnecessary double build type workaround since components.d.ts is now tracked
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/support/stencilDoubleBuildTypesWorkaround.sh
  packages/calcite-components/package.json
  packages/calcite-components/support/buildForPreambleVersion.sh
Labels: chore, skip visual snapshots

#8200 build: use `enableImportInjection` extras config option instead of the deprecated `experimentalImportInjection`
  packages/calcite-components/stencil.config.ts
Labels: chore, skip visual snapshots

#8221 docs: update outdated Web Component conventions link
  packages/calcite-components/conventions/README.md
Labels: skip visual snapshots

#8194 fix(action): Update transparent action styles
  packages/calcite-components/src/components/action/action.scss
Labels: bug, pr ready for visual snapshots

#8222 feat(stepper-item)!: remove support for previousStep and nextStep in messages
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ar.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_bg.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_bs.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ca.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_cs.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_da.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_de.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_el.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_en.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_es.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_et.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_fi.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_fr.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_he.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_hr.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_hu.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_id.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_it.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ja.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ko.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_lt.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_lv.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_nl.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_no.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_pl.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_pt-BR.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_pt-PT.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ro.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ru.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_sk.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_sl.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_sr.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_sv.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_th.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_tr.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_uk.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_vi.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_zh-TW.json
Labels: enhancement, breaking change, pr ready for visual snapshots

#8225 chore: add angular package to issue templates
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Labels: chore, skip visual snapshots

#8226 fix(input-number): prevents mutating value on blur
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Labels: bug, pr ready for visual snapshots

#8195 revert: feat(alert): make component responsive
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/alert/alert.stories.ts
  packages/calcite-components/src/components/alert/alert.tsx
Labels: chore, pr ready for visual snapshots

#8207 fix(list-item): fix rendering of open icon.
  packages/calcite-components/src/components/list-item/list-item.tsx
Labels: bug, pr ready for visual snapshots

#8218 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#7912 feat(combobox): limit display of selected items with new selection-display prop
  packages/calcite-components/src/components/combobox/assets/combobox/t9n/messages.json
  packages/calcite-components/src/components/combobox/assets/combobox/t9n/messages_en.json
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/interfaces.ts
  packages/calcite-components/src/components/combobox/resources.ts
  packages/calcite-components/src/demos/combobox.html
  packages/calcite-components/src/utils/dom.ts
Labels: enhancement, pr ready for visual snapshots

#7744 feat(stepper): enable responsive layout
  packages/calcite-components/calcite-preset.ts
  packages/calcite-components/src/components/icon/icon.tsx
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_ar.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_bg.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_bs.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_ca.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_cs.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_da.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_de.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_el.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_en.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_es.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_et.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_fi.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_fr.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_he.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_hr.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_hu.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_id.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_it.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_ja.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_ko.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_lt.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_lv.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_nl.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_no.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_pl.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_pt-BR.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_pt-PT.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_ro.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_ru.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_sk.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_sl.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_sr.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_sv.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_th.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_tr.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_uk.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_vi.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/stepper/assets/stepper/t9n/messages_zh-TW.json
  packages/calcite-components/src/components/stepper/functional/step-bar.tsx
  packages/calcite-components/src/components/stepper/resources.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.scss
  packages/calcite-components/src/components/stepper/stepper.stories.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Labels: enhancement, pr ready for visual snapshots

#8232 revert: feat(stepper-item)!: remove support for previousStep and nextStep in messages (#8222)
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ar.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_bg.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_bs.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ca.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_cs.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_da.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_de.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_el.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_en.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_es.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_et.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_fi.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_fr.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_he.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_hr.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_hu.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_id.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_it.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ja.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ko.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_lt.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_lv.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_nl.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_no.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_pl.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_pt-BR.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_pt-PT.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ro.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ru.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_sk.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_sl.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_sr.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_sv.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_th.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_tr.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_uk.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_vi.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_zh-TW.json
Labels: skip visual snapshots

#8234 refactor(stepper-item)!: no longer supports previousStep and nextStep messages
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ar.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_bg.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_bs.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ca.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_cs.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_da.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_de.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_el.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_en.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_es.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_et.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_fi.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_fr.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_he.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_hr.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_hu.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_id.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_it.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ja.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ko.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_lt.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_lv.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_nl.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_no.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_pl.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_pt-BR.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_pt-PT.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ro.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_ru.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_sk.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_sl.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_sr.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_sv.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_th.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_tr.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_uk.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_vi.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_zh-TW.json
Labels: enhancement, breaking change, skip visual snapshots

#8237 chore: downgrade packages after reverting 2.0.0-next.0 change
  package-lock.json
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#8235 refactor(combobox): fix linting errors
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: refactor, skip visual snapshots

#8238 chore: downgrade eslint plugin after reverting breaking change
  package-lock.json
  packages/calcite-components/package.json
  packages/eslint-plugin-calcite-components/package.json
Labels: chore, skip visual snapshots

#8092 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Labels: chore, skip visual snapshots, autorelease: pending

#8245 fix(input): prevents mutating value on `blur` when `type="number"`
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
Labels: bug, pr ready for visual snapshots

#8240 fix(list-item): an item with an empty slotted list should be openable.
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.stories.ts
Labels: bug, pr ready for visual snapshots

#8230 fix: dragging floating ui components
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Labels: bug, pr ready for visual snapshots

#8239 fix(list-item): Reserve space for empty open lists.
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
Labels: bug, pr ready for visual snapshots

#8247 fix(color-picker, popover, shell-panel, slider, tooltip): Register events on the window instead of the document
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/popover/PopoverManager.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
Labels: bug, pr ready for visual snapshots

#8217 refactor(i18n)!: reduce list of supported numbering systems
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/input.stories.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.stories.ts
  packages/calcite-components/src/demos/_assets/locales.ts
  packages/calcite-components/src/demos/date-picker.html
  packages/calcite-components/src/utils/locale.ts
Labels: refactor, pr ready for visual snapshots

#8248 fix(react)!: disable includeImportCustomElements to resolve initial render issues
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchSSR.ts
  packages/calcite-components/stencil.config.ts
Labels: bug, skip visual snapshots

#8050 test: add token snapshot tests
  .vscode/launch.json
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/tests/index.spec.ts
Labels: testing, skip visual snapshots, low risk

#8252 refactor(modal)!: rename `width` property to `widthScale`
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/modal/modal.stories.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/demos/modal.html
Labels: refactor, breaking change, pr ready for visual snapshots

#8251 refactor(dropdown)!: rename `width` property to `widthScale`
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.tsx
  packages/calcite-components/src/demos/dropdown.html
Labels: refactor, breaking change, pr ready for visual snapshots

#8253 fix(dropdown)!: change display to inline-block to ease truncation setup
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
Labels: bug, pr ready for visual snapshots

#8270 fix(button): Sets aria-disabled instead of disabled on internal anchor element
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.tsx
Labels: bug, skip visual snapshots

#8148 fix(list): Add live region for dynamically changing list items
  packages/calcite-components/src/components/list/assets/list/t9n/messages.json
  packages/calcite-components/src/components/list/assets/list/t9n/messages_en.json
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  t9nmanifest.txt
Labels: bug, skip visual snapshots

#8262 fix(list-item): adds border between last item in a group and slotted item
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
Labels: bug, pr ready for visual snapshots

#8267 docs(link, loader, modal, notice, panel, select): update usage examples
  packages/calcite-components/src/components/link/usage/Basic.md
  packages/calcite-components/src/components/loader/usage/Compact.md
  packages/calcite-components/src/components/modal/usage/Basic.md
  packages/calcite-components/src/components/notice/usage/Basic.md
  packages/calcite-components/src/components/panel/usage/With-action-bar.md
  packages/calcite-components/src/components/panel/usage/With-fab.md
  packages/calcite-components/src/components/select/usage/Basic.md
  packages/calcite-components/src/components/select/usage/Content.md
  packages/calcite-components/src/components/select/usage/Disable.md
  packages/calcite-components/src/components/select/usage/Grouped.md
  packages/calcite-components/src/components/select/usage/Side-by-side.md
  packages/calcite-components/src/components/select/usage/Value.md
Labels: docs, skip visual snapshots

#8256 refactor(alert): remove unnecessary CSS declaration
  packages/calcite-components/src/components/alert/alert.scss
Labels: refactor, skip visual snapshots

#8275 feat(action-menu): set max height of the action menu
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-menu/action-menu.stories.ts
Labels: enhancement, pr ready for visual snapshots

#8255 fix(stepper): typo in CSS variable for step bar's fill
  packages/calcite-components/src/components/stepper/stepper.scss
Labels: bug, pr ready for visual snapshots

#8283 feat(handle): Add disabled property
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/handle/handle.scss
  packages/calcite-components/src/components/handle/handle.stories.ts
  packages/calcite-components/src/components/handle/handle.tsx
Labels: enhancement, pr ready for visual snapshots

#8273 feat(action-menu): support action-groups
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-menu/action-menu.stories.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action/action.scss
Labels: enhancement, pr ready for visual snapshots

#8289 refactor(input,input-text,input-number): updates `alignmen`t property type
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
Labels: refactor, pr ready for visual snapshots

#8285 feat(list-item): Add dragDisabled property
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/demos/list.html
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: enhancement, pr ready for visual snapshots

#8292 fix(button, list, pick-list, value-list)!: prevent loading prop from affecting interactivity
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/pick-list/pick-list.e2e.ts
  packages/calcite-components/src/components/pick-list/shared-list-render.tsx
  packages/calcite-components/src/components/pick-list/shared-list-tests.ts
  packages/calcite-components/src/components/value-list/value-list.e2e.ts
Labels: bug, pr ready for visual snapshots

#8291 fix(list-item): focus on the first focusable element within the component when using arrow keys
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/utils/dom.ts
Labels: bug, skip visual snapshots

#8295 chore: Add additional notes to sortableComponent.
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: chore, skip visual snapshots

#8296 fix(combobox, dropdown, input-date-picker, popover, tooltip): fix positioning of component when component is moved
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
Labels: bug, skip visual snapshots

#8279 refactor(core tokens): split core tokens into groups
  packages/calcite-design-tokens/src/core/box-shadow.json
  packages/calcite-design-tokens/src/core/color.json
  packages/calcite-design-tokens/src/core/container-size.json
  packages/calcite-design-tokens/src/core/font.json
  packages/calcite-design-tokens/src/core/opacity.json
  packages/calcite-design-tokens/src/core/sizing.json
  packages/calcite-design-tokens/src/core/stacking.json
  packages/calcite-design-tokens/src/index.ts
Labels: refactor, skip visual snapshots, low risk

#8290 feat: add json to design token output
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/src/$config.ts
  packages/calcite-design-tokens/support/tests/index.spec.ts
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/sd-run.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/attributes/attributePlatformName.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSpacePath.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSpacePath.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils/setTokenNameByPlatform.ts
  packages/calcite-design-tokens/support/types/fileExtensions.ts
  packages/calcite-design-tokens/support/types/platform.ts
Labels: enhancement, p - high, skip visual snapshots

#8300 test(spec): resolve jsdom type errors
  packages/calcite-components/src/utils/focusTrapComponent.spec.ts
  packages/calcite-components/src/utils/globalAttributes.spec.ts
Labels: testing, skip visual snapshots

#8299 feat!: update default main file output for design tokens
  packages/calcite-design-tokens/package.json
Labels: enhancement, p - high, skip visual snapshots

#8302 docs(shell-panel): remove incorrect information from heightScale prop
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
Labels: docs, skip visual snapshots

#8260 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#8271 fix(input-time-zone): update time zone items when item-dependent props change
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Labels: bug, pr ready for visual snapshots
