Repository Esri/calcite-design-system, pull requests merged in 2023-07, with the labels that each got.

#7267 build: update browserslist db
  package-lock.json
Labels: chore

#7269 test(input-number, input-time-picker): Skip unstable tests
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Labels: testing

#7271 test(input-time-picker): Skip another unstable test
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Labels: testing

#7256 refactor(flow-item): setFocus method should return setFocus calls to child components
  packages/calcite-components/src/components/flow-item/flow-item.tsx
Labels: refactor

#7274 test(modal): skip unstable test
  packages/calcite-components/src/components/modal/modal.e2e.ts
Labels: testing

#7272 fix(tab-title): add full focus outline to closable tab button in high contrast mode
  packages/calcite-components/src/components/tab-title/tab-title.scss
Labels: bug, skip visual snapshots

#7255 fix(action): correctly focus the button after rendering updates.
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/utils/loadable.ts
Labels: bug, pr ready for visual snapshots

#7275 fix(list): fix keyboard navigation after a listItem's disabled or closed property changes
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, pr ready for visual snapshots

#7252 feat(flow): Adds setFocus method
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.tsx
Labels: enhancement

#7285 fix(flow): Call setFocus() on back button click
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.tsx
Labels: bug, pr ready for visual snapshots

#7286 refactor(popover): renames private method
  packages/calcite-components/src/components/popover/popover.tsx
Labels: refactor

#7277 feat: improve focus behavior in components
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/fab/fab.tsx
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/link/link.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/components/menu/menu.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/navigation-logo/navigation-logo.tsx
  packages/calcite-components/src/components/navigation-user/navigation-user.tsx
  packages/calcite-components/src/components/navigation/navigation.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/pick-list-item/pick-list-item.tsx
  packages/calcite-components/src/components/pick-list/pick-list.tsx
  packages/calcite-components/src/components/pick-list/shared-list-tests.ts
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/radio-button/radio-button.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.tsx
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/switch/switch.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
  packages/calcite-components/src/tests/commonTests.ts
Labels: refactor, pr ready for visual snapshots

#7292 docs: Add implementation example to `visualizeMouseCursor` util
  packages/calcite-components/src/tests/utils.ts
Labels: docs, skip visual snapshots

#7293 docs: Add implementation example to `skipAnimations` util
  packages/calcite-components/src/tests/utils.ts
Labels: docs, skip visual snapshots

#7295 test: stabilize tests using setFocus
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/filter/filter.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/link/link.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
Labels: testing, skip visual snapshots

#7287 refactor: Ensure all setFocus methods return calls to setFocus
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/navigation/navigation.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
Labels: refactor, pr ready for visual snapshots

#7294 build: make sure eslint-plugin-calcite-components is set up correctly
  .vscode/settings.json
  CONTRIBUTING.md
  package-lock.json
  package.json
  packages/calcite-components/.gitignore
  packages/calcite-components/package.json
  packages/calcite-components/support/cleanOnProcessExit.ts
  packages/eslint-plugin-calcite-components/.eslintrc.json
  turbo.json
Labels: chore

#7298 test(stack): stabilize screenshot tests
  packages/calcite-components/src/components/stack/stack.stories.ts
Labels: testing, pr ready for visual snapshots

#7191 fix(accordion, accordion-item): `icon-position`, `icon-type`, `selection-mode` and `scale` can now be set as props or attributes
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion/accordion.e2e.ts
  packages/calcite-components/src/components/accordion/accordion.tsx
Labels: bug, refactor, skip visual snapshots

#7297 ci: allow lint-staged to find typescript parser config file
  .lintstagedrc.cjs
  .lintstagedrc.json
  packages/calcite-components/.eslintrc.cjs
Labels: chore, skip visual snapshots

#7299 feat(text-area): provide additional context for AT users when character limit exceeds
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_ar.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_bg.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_bs.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_ca.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_cs.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_da.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_de.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_el.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_en.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_es.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_et.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_fi.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_fr.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_he.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_hr.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_hu.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_id.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_it.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_ja.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_ko.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_lt.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_lv.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_nl.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_no.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_pl.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_pt-BR.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_pt-PT.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_ro.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_ru.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_sk.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_sl.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_sr.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_sv.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_th.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_tr.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_uk.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_vi.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/text-area/assets/text-area/t9n/messages_zh-TW.json
  packages/calcite-components/src/components/text-area/interfaces.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Labels: enhancement, pr ready for visual snapshots

#7301 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#7303 fix(block): loader now appears for all loading cases
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
Labels: bug, skip visual snapshots

#7310 fix(action-bar): no longer delegates focus when clicked on non-focusable region
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.scss
  packages/calcite-components/src/components/action-bar/action-bar.tsx
Labels: bug, pr ready for visual snapshots

#7313 ci: create more specific codeowners to limit unnecessary notifications
  CODEOWNERS
Labels: chore, skip visual snapshots

#7316 fix(dropdown-item): provides accessible label when href is not parsed
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
Labels: bug, pr ready for visual snapshots

#7320 fix(input-date-picker): provides placeholder text context for AT users
  packages/calcite-components/src/components/input-date-picker/assets/input-date-picker/t9n/messages.json
  packages/calcite-components/src/components/input-date-picker/assets/input-date-picker/t9n/messages_en.json
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/resources.ts
Labels: bug, pr ready for visual snapshots

#7318 chore: add editorconfig
  .editorconfig
  .prettierrc.json
Labels: chore, skip visual snapshots

#7326 chore(eslint): disable jsdoc/require-param-type rule in favor of typescript
  packages/calcite-components/.eslintrc.cjs
Labels: chore, skip visual snapshots

#7300 ci: modifies design complete workflow to ready for dev
  .github/workflows/ready-for-dev.yml
Labels: chore, Stale, skip visual snapshots

#7283 test(input-time-picker): stabilize tests that update the lang and numberingSystems
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Labels: testing, skip visual snapshots

#7333 test(block): disable loader animation in chromatic snapshots
  packages/calcite-components/src/components/block/block.stories.ts
Labels: testing, pr ready for visual snapshots

#7327 fix(color-picker): maintains correct numbering system when entering invalid RGB value
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/input/input.tsx
Labels: bug, skip visual snapshots

#7340 chore: drop Airtable syncing action
  .github/workflows/sync_to_airtable.yml
Labels: chore, skip visual snapshots

#7339 chore: remove references to removed cleanup script
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#7338 docs: add warning notice to internal storybook
  packages/calcite-components/.storybook/main.ts
Labels: docs, skip visual snapshots

#7345 fix(tooltip): ensure --calcite-app-z-index-tooltip is applied
  packages/calcite-components/calcite-preset.ts
Labels: bug, pr ready for visual snapshots

#7342 fix(link): adds outline-offset to avoid overlapping with text.
  packages/calcite-components/src/components/link/link.scss
Labels: bug, pr ready for visual snapshots

#7334 feat: allow sharing focus trap stacks via configuration global
  packages/calcite-components/src/utils/config.spec.ts
  packages/calcite-components/src/utils/config.ts
  packages/calcite-components/src/utils/focusTrapComponent.spec.ts
  packages/calcite-components/src/utils/focusTrapComponent.ts
Labels: enhancement, skip visual snapshots

#7337 docs: add more chromatic/storybook info
  CONTRIBUTING.md
Labels: docs, skip visual snapshots

#7348 ci(chromatic): disable animations globally to prevent false positive visual diffs
  packages/calcite-components/.storybook/main.ts
  packages/calcite-components/src/components/alert/alert.stories.ts
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/loader/loader.stories.ts
  packages/calcite-components/src/components/popover/popover.stories.ts
  packages/calcite-components/src/components/progress/progress.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
Labels: chore, pr ready for visual snapshots

#7356 refactor(alert, dropdown): `onToggleOpenCloseComponent` replaces connect logic
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Labels: refactor, skip visual snapshots

#7361 refactor(combobox): `onToggleOpenCloseComponent` replaces connect logic
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: refactor, skip visual snapshots

#7366 feat(action-group): Adds overlayPositioning property.
  packages/calcite-components/src/components/action-group/action-group.e2e.ts
  packages/calcite-components/src/components/action-group/action-group.tsx
Labels: enhancement, pr ready for visual snapshots

#7358 refactor(tooltip, popover, input-date-picker): `onToggleOpenCloseComponent` replaces connect logic
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
Labels: refactor, skip visual snapshots

#7347 refactor(modal): use inline style to set overflow instead of a class
  packages/calcite-components/src/assets/styles/global.scss
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/modal/resources.ts
Labels: refactor, pr ready for visual snapshots

#7377 refactor: clean up global stylesheets
  packages/calcite-components/src/assets/styles/_animation.scss
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/assets/styles/global.scss
Labels: refactor, pr ready for visual snapshots

#7362 build: export types so the ccr build patch can be removed
  packages/calcite-components-react/package.json
  packages/calcite-components-react/support/patchImportPathJSX.ts
  packages/calcite-components/src/index.ts
Labels: chore, skip visual snapshots

#7385 fix(list): fix keyboard navigation when filterEnabled is true
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, pr ready for visual snapshots

#7360 chore: fix typos
  packages/calcite-components/src/components/card/card.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/menu/menu.stories.ts
  packages/calcite-components/src/components/notice/notice.stories.ts
  packages/calcite-components/src/components/pick-list/pick-list.stories.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.e2e.ts
  packages/calcite-components/src/components/tree/tree.stories.ts
  packages/calcite-components/src/utils/number.spec.ts
Labels: chore

#7359 refactor: rename supported locale type
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/utils/locale.ts
Labels: refactor, skip visual snapshots

#7352 refactor: rename remaining intl props from interface
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
Labels: refactor, pr ready for visual snapshots

#7381 feat(menu-item): Update spacing and icon layout
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/menu-item/menu-item.stories.ts
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/components/menu/menu.stories.ts
  packages/calcite-components/src/demos/menu.html
Labels: enhancement, pr ready for visual snapshots

#7387 fix(menu-item): Prevent duplicate border in nested vertical menu-items
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/menu/menu.stories.ts
Labels: bug, pr ready for visual snapshots

#7363 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#7388 refactor(combobox): fix method name casing
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: refactor, skip visual snapshots

#6947 feat(input-time-zone): add input-time-zone component
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ar.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_bg.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_bs.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ca.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_cs.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_da.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_de.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_el.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_es.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_et.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_fi.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_fr.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_he.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_hr.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_hu.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_id.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_it.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ja.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ko.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_lt.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_lv.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_nl.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_no.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_pl.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_pt-BR.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_pt-PT.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ro.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ru.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_sk.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_sl.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_sr.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_sv.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_th.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_tr.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_uk.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_vi.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-TW.json
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.scss
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input-time-zone/interfaces.d.ts
  packages/calcite-components/src/components/input-time-zone/readme.md
  packages/calcite-components/src/components/input-time-zone/usage/Basic.md
  packages/calcite-components/src/components/input-time-zone/utils.ts
  packages/calcite-components/src/demos/input-time-zone.html
  packages/calcite-components/src/index.html
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/stencil.config.ts
Labels: enhancement, pr ready for visual snapshots

#7390 feat(switch): updates focus outline to be rounded
  packages/calcite-components/src/components/switch/switch.scss
  packages/calcite-components/src/components/switch/switch.stories.ts
Labels: enhancement, pr ready for visual snapshots
