Repository Esri/calcite-design-system, pull requests merged in 2023-04, with the labels that each got.

#6716 chore: fix CSS class typo
  src/components/date-picker-month/date-picker-month.scss
  src/components/date-picker-month/date-picker-month.tsx
Labels: chore, pr ready for visual snapshots

#6708 test(date-picker): stabilize screenshot test
  src/components/date-picker/date-picker.stories.ts
Labels: testing, pr ready for visual snapshots

#6719 refactor(time): add util to create and cache date time formats
  src/utils/locale.spec.ts
  src/utils/locale.ts
  src/utils/time.ts
Labels: refactor, pr ready for visual snapshots

#6722 docs(contributing): update JSAPI product name
  CONTRIBUTING.md
Labels: docs

#6707 refactor(tailwind): extract tailwind preset
  calcite-preset.ts
  package-lock.json
  package.json
  tailwind.config.ts
Labels: enhancement, refactor, pr ready for visual snapshots

#6717 build: update browserslist db
  package-lock.json
Labels: chore

#6506 fix(inline-editable, input-message, input-number, input-text, input): prevent components from unintentionally picking up a different scale/status value from an ancestor
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/inline-editable/inline-editable.tsx
  src/components/input-message/input-message.tsx
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.e2e.ts
  src/components/input-text/input-text.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
Labels: bug, pr ready for visual snapshots

#6715 fix(date-picker): improve date-picker a11y
  src/components/date-picker-day/date-picker-day.e2e.ts
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month/date-picker-month.scss
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.tsx
  src/components/date-picker/resources.ts
Labels: bug, pr ready for visual snapshots

#6731 fix(input-time-picker, time-picker): render when input-time-picker or time-picker's step property changes
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
  src/components/time-picker/time-picker.e2e.ts
  src/components/time-picker/time-picker.tsx
Labels: bug, pr ready for visual snapshots

#6735 docs: format form refs across components
  src/components/button/button.tsx
  src/components/checkbox/checkbox.tsx
  src/components/combobox/combobox.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.tsx
  src/components/segmented-control/segmented-control.tsx
  src/components/select/select.tsx
  src/components/slider/slider.tsx
  src/components/switch/switch.tsx
  src/components/text-area/text-area.tsx
  src/utils/form.tsx
Labels: docs

#6730 feat(shell): Add panel-top slot
  src/components/shell/resources.ts
  src/components/shell/shell.e2e.ts
  src/components/shell/shell.scss
  src/components/shell/shell.stories.ts
  src/components/shell/shell.tsx
  src/demos/shell/demo-app-blank.html
  src/demos/shell/demo-app-center-row-action-bar.html
Labels: enhancement, pr ready for visual snapshots

#6723 fix(block): Ensure description has correct line-height
  src/components/block/block.scss
Labels: bug, pr ready for visual snapshots

#6748 docs(conventions): update t9n conventions
  conventions/Internationalization.md
Labels: docs

#6741 chore: switch unpkg CDN to jsdelivr
  package.json
  readme.md
  support/prepReleaseCommit.ts
Labels: chore

#6739 feat(action-bar, action-pad): Set layout property on child action-group elements.
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-bar/action-bar.stories.ts
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.e2e.ts
  src/components/action-group/action-group.tsx
  src/components/action-pad/action-pad.e2e.ts
  src/components/action-pad/action-pad.tsx
  src/components/shell/shell.stories.ts
  src/demos/action.html
Labels: enhancement, pr ready for visual snapshots

#6745 refactor(shell-panel, shell-center-row): Set layout property on slotted action-bar components.
  src/components/shell-center-row/shell-center-row.tsx
  src/components/shell-panel/shell-panel.tsx
Labels: refactor

#6744 chore: fix linting errors
  src/components/input-message/input-message.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
  src/demos/_assets/locales.ts
  src/demos/input-time-picker.html
Labels: chore

#6752 build(deps): update calcite-ui-icons from 3.21.2 to 3.21.9
  package-lock.json
  package.json
Labels: chore, pr ready for visual snapshots

#6710 refactor: use composed-offset-position instead of custom utils
  package-lock.json
  package.json
  src/utils/floating-ui.ts
  src/utils/floating-ui/utils.ts
Labels: refactor, pr ready for visual snapshots

#6756 build: update browserslist db
  package-lock.json
Labels: chore

#6754 refactor: remove invalid option from observers util
  src/utils/observers.ts
Labels: refactor

#6755 feat: make getAssetPath available in output targets
  src/index.ts
Labels: bug

#6747 fix(dropdown): trigger should break words when overflowing container.
  src/components/dropdown/dropdown.scss
  src/components/dropdown/dropdown.stories.ts
Labels: bug, pr ready for visual snapshots

#6746 fix(panel): ensure close button is placed in the corner of the panel header.
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.stories.ts
  src/components/panel/panel.tsx
  src/demos/panel.html
Labels: bug, pr ready for visual snapshots

#6738 feat(panel): Add slot for an action-bar component.
  src/components/panel/panel.e2e.ts
  src/components/panel/panel.scss
  src/components/panel/panel.stories.ts
  src/components/panel/panel.tsx
  src/components/panel/resources.ts
  src/demos/panel.html
Labels: enhancement, pr ready for visual snapshots

#6763 chore(storybook): use quiet flag to reduce noise from storybook build step
  package.json
Labels: chore

#6762 chore: fix missed renamed import
  src/components/segmented-control/segmented-control.stories.ts
Labels: chore

#6772 ci: fix next releases by increasing maxBuffer
  support/deployNextFromCI.ts
Labels: chore

#6583 feat(nav): navigation component
  src/components/nav-menu-item/nav-menu-item.scss
  src/components/nav-menu-item/nav-menu-item.tsx
  src/components/nav-menu-item/utils.ts
  src/components/nav-menu/nav-menu.tsx
  src/utils/dom.ts
Labels: enhancement

#6771 docs(conventions): fix typo for assetsDirs and add link to Stencil docs
  conventions/README.md
Labels: docs, pr ready for visual snapshots

#6769 fix(modal, popover): fix focus-trap from preventing first click
  src/components/modal/modal.tsx
  src/components/popover/popover.tsx
  src/utils/focusTrapComponent.spec.ts
  src/utils/focusTrapComponent.ts
Labels: bug

#6749 fix(combobox): Visually nest group items properly
  src/components/combobox-item-group/combobox-item-group.scss
  src/components/combobox-item-group/combobox-item-group.tsx
  src/components/combobox/combobox.stories.ts
  src/components/combobox/utils.ts
Labels: bug, pr ready for visual snapshots

#6709 fix(combobox, dropdown, input-date-picker, popover, tooltip): fix misplaced floating-ui elements when associated-components are closed
  src/components/combobox/combobox.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/popover/popover.tsx
  src/components/tooltip/tooltip.tsx
  src/utils/floating-ui.spec.ts
  src/utils/floating-ui.ts
Labels: bug, pr ready for visual snapshots

#6780 docs: add color-picker-swatch name
  src/components/color-picker-swatch/readme.md
Labels: docs

#6783 refactor: DRY up form-associated tests
  src/tests/commonTests.ts
Labels: refactor

#6784 test: stabilize tests
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input/input.e2e.ts
  src/components/modal/modal.e2e.ts
  src/components/text-area/text-area.e2e.ts
Labels: testing

#6788 feat: add json for de-AT locale with locale-specific data
  src/components/date-picker/assets/date-picker/nls/de-AT.json
  src/utils/locale.ts
Labels: enhancement, pr ready for visual snapshots

#6792 docs(changelog): format locale feature
  CHANGELOG.md
Labels: docs

#6664 fix(button): truncate long button text
  src/components/button/button.e2e.ts
  src/components/button/button.scss
  src/components/button/button.tsx
Labels: bug, pr ready for visual snapshots

#6775 feat(list, list-item): Adds the ability to close a list-item
  src/components/list-item/assets/list-item/t9n/messages.json
  src/components/list-item/assets/list-item/t9n/messages_ar.json
  src/components/list-item/assets/list-item/t9n/messages_bg.json
  src/components/list-item/assets/list-item/t9n/messages_bs.json
  src/components/list-item/assets/list-item/t9n/messages_ca.json
  src/components/list-item/assets/list-item/t9n/messages_cs.json
  src/components/list-item/assets/list-item/t9n/messages_da.json
  src/components/list-item/assets/list-item/t9n/messages_de.json
  src/components/list-item/assets/list-item/t9n/messages_el.json
  src/components/list-item/assets/list-item/t9n/messages_en.json
  src/components/list-item/assets/list-item/t9n/messages_es.json
  src/components/list-item/assets/list-item/t9n/messages_et.json
  src/components/list-item/assets/list-item/t9n/messages_fi.json
  src/components/list-item/assets/list-item/t9n/messages_fr.json
  src/components/list-item/assets/list-item/t9n/messages_he.json
  src/components/list-item/assets/list-item/t9n/messages_hr.json
  src/components/list-item/assets/list-item/t9n/messages_hu.json
  src/components/list-item/assets/list-item/t9n/messages_id.json
  src/components/list-item/assets/list-item/t9n/messages_it.json
  src/components/list-item/assets/list-item/t9n/messages_ja.json
  src/components/list-item/assets/list-item/t9n/messages_ko.json
  src/components/list-item/assets/list-item/t9n/messages_lt.json
  src/components/list-item/assets/list-item/t9n/messages_lv.json
  src/components/list-item/assets/list-item/t9n/messages_nl.json
  src/components/list-item/assets/list-item/t9n/messages_no.json
  src/components/list-item/assets/list-item/t9n/messages_pl.json
  src/components/list-item/assets/list-item/t9n/messages_pt-BR.json
  src/components/list-item/assets/list-item/t9n/messages_pt-PT.json
  src/components/list-item/assets/list-item/t9n/messages_ro.json
  src/components/list-item/assets/list-item/t9n/messages_ru.json
  src/components/list-item/assets/list-item/t9n/messages_sk.json
  src/components/list-item/assets/list-item/t9n/messages_sl.json
  src/components/list-item/assets/list-item/t9n/messages_sr.json
  src/components/list-item/assets/list-item/t9n/messages_sv.json
  src/components/list-item/assets/list-item/t9n/messages_th.json
  src/components/list-item/assets/list-item/t9n/messages_tr.json
  src/components/list-item/assets/list-item/t9n/messages_uk.json
  src/components/list-item/assets/list-item/t9n/messages_vi.json
  src/components/list-item/assets/list-item/t9n/messages_zh-CN.json
  src/components/list-item/assets/list-item/t9n/messages_zh-HK.json
  src/components/list-item/assets/list-item/t9n/messages_zh-TW.json
  src/components/list-item/list-item.e2e.ts
  src/components/list-item/list-item.tsx
  src/components/list-item/resources.ts
  src/components/list/list.stories.ts
  src/components/list/list.tsx
  src/demos/list.html
  t9nmanifest.txt
Labels: enhancement, pr ready for visual snapshots

#6794 refactor: tidy up date-picker demo page
  src/demos/_assets/locales.ts
  src/demos/date-picker.html
Labels: refactor

#6796 build: update browserslist db
  package-lock.json
Labels: chore

#6797 fix(value-list-item): add missing event emitter
  src/components/value-list-item/value-list-item.tsx
Labels: bug

#6795 fix(tree-item): ensure tree-item properly reflect ancestor-mode selection on initialization
  src/components/tree-item/tree-item.e2e.ts
  src/components/tree-item/tree-item.tsx
Labels: bug, pr ready for visual snapshots

#6786 chore: Adds ability to remove demo page header via a close button.
  src/demos/_assets/demo-template.css
  src/demos/_assets/demo-template.html
  src/demos/_assets/demo-template.ts
Labels: chore

#6669 fix(input-date-picker): implement dialog behavior to improve a11y
  src/components/input-date-picker/assets/input-date-picker/t9n/messages.json
  src/components/input-date-picker/assets/input-date-picker/t9n/messages_ar.json
  src/components/input-date-picker/assets/input-date-picker/t9n/messages_en.json
  src/components/input-date-picker/assets/input-date-picker/t9n/messages_es.json
  src/components/input-date-picker/assets/input-date-picker/t9n/messages_zh-CN.json
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  t9nmanifest.txt
Labels: bug, pr ready for visual snapshots

#6811 refactor(input-date-picker, date-picker-month-header): remove unused state prop
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/input-date-picker/input-date-picker.tsx
Labels: refactor

#6761 feat(shell-panel): Place Action Bar in correct location when used in top / bottom Shell slots
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell-panel/shell-panel.scss
  src/components/shell-panel/shell-panel.tsx
  src/components/shell/shell.stories.ts
  src/components/shell/shell.tsx
  src/demos/shell/resizable-panels.html
Labels: enhancement, pr ready for visual snapshots

#6732 feat: allow disabled elements to emit pointer events without triggering activation
  src/assets/styles/includes.scss
  src/components/button/button.scss
  src/components/checkbox/checkbox.tsx
  src/components/color-picker/color-picker.scss
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.tsx
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/dropdown/dropdown.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/label/label.scss
  src/components/link/link.tsx
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.scss
  src/components/segmented-control/segmented-control.tsx
  src/components/slider/slider.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/switch/switch.tsx
  src/components/tab-title/tab-title.tsx
  src/components/tile-select/tile-select.tsx
  src/components/tree-item/tree-item.tsx
  src/tests/commonTests.ts
  src/utils/interactive.ts
Labels: enhancement, pr ready for visual snapshots

#6075 feat(chip-group): Add Chip Group component
  src/components/chip-group/chip-group.e2e.ts
  src/components/chip-group/chip-group.scss
  src/components/chip-group/chip-group.stories.ts
  src/components/chip-group/chip-group.tsx
  src/components/chip-group/readme.md
  src/components/chip/chip.e2e.ts
  src/components/chip/chip.scss
  src/components/chip/chip.stories.ts
  src/components/chip/chip.tsx
  src/components/chip/resources.ts
  src/components/combobox/combobox.tsx
  src/demos/chip-group.html
  src/demos/chip.html
  src/index.html
  stencil.config.ts
Labels: enhancement, new component, pr ready for visual snapshots

#6805 feat(input-date-picker): allow toggling date picker by clicking the input or entering the down/escape key
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker/date-picker.tsx
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.scss
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-date-picker/resources.ts
  src/components/input/input.tsx
  src/utils/globalAttributes.ts
Labels: enhancement, pr ready for visual snapshots

#6787 fix(shell-panel): Side panels should appear over center panels
  src/components/shell-center-row/shell-center-row.scss
  src/components/shell-panel/shell-panel.scss
  src/components/shell/shell.scss
  src/components/shell/shell.stories.ts
Labels: bug, pr ready for visual snapshots

#6828 docs(shell-panel): Update css var descriptions
  src/components/shell-panel/shell-panel.scss
Labels: docs

#6816 feat(input-date-picker): add focus trap support
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
  src/tests/commonTests.ts
  src/tests/utils.ts
  src/utils/focusTrapComponent.spec.ts
  src/utils/focusTrapComponent.ts
Labels: enhancement, pr ready for visual snapshots

#6563 fix(stepper): rerender stepper items when parent numbering system changes
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
Labels: bug, pr ready for visual snapshots

#6815 fix(input-date-picker): Correctly position open component when scrolling
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-date-picker/input-date-picker.tsx
Labels: bug, pr ready for visual snapshots

#6843 chore(input-time-picker): add strings for translation
  src/components/input-time-picker/assets/input-time-picker/t9n/messages.json
  src/components/input-time-picker/assets/input-time-picker/t9n/messages_ar.json
  src/components/input-time-picker/assets/input-time-picker/t9n/messages_en.json
  src/components/input-time-picker/assets/input-time-picker/t9n/messages_fr.json
  src/components/input-time-picker/assets/input-time-picker/t9n/messages_th.json
  t9nmanifest.txt
Labels: chore

#6836 fix(date-picker): fix range highlight style regression
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-day/date-picker-day.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/date-picker/date-picker.stories.ts
Labels: bug, pr ready for visual snapshots

#6842 build(deps): bump calcite-ui-icons from 3.21.9 to 3.22.1
  package-lock.json
  package.json
Labels: chore

#6782 feat: add global CSS props for focus offset and color
  calcite-preset.ts
  src/assets/styles/global.scss
Labels: enhancement, pr ready for visual snapshots

#6844 test(input-date-picker): add accessible test for input-date-picker
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input/input.tsx
Labels: testing

#6277 feat(input): add files property
  src/components/input/input.tsx
Labels: enhancement, pr ready for visual snapshots, Calcite (dev)

#6832 feat(input-time-picker): allow toggling time picker by clicking the input or entering the down/escape key
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.scss
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input-time-picker/resources.ts
Labels: enhancement, pr ready for visual snapshots

#6837 fix(input-time-picker): implement dialog behavior to improve a11y
  src/components/input-time-picker/assets/input-time-picker/t9n/messages_es.json
  src/components/input-time-picker/assets/input-time-picker/t9n/messages_zh-CN.json
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
Labels: bug, pr ready for visual snapshots

#6834 feat(input-time-picker): add focus trap support
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
Labels: enhancement

#6849 docs(changelog): organize and format feats and fixes
  CHANGELOG.md
Labels: docs

#6859 fix: fix inheritance of default focus-color value
  calcite-preset.ts
  src/assets/styles/global.scss
Labels: bug, pr ready for visual snapshots

#6862 fix(chip): Uses correct aria role in a selection-mode:none Chip Group
  src/components/chip/chip.tsx
Labels: bug

#6847 fix(tooltip, popover): Support transparent backgrounds #6803
  src/assets/styles/_floating-ui.scss
  src/components/functional/FloatingArrow.tsx
  src/components/popover/popover.scss
  src/components/popover/popover.stories.ts
  src/components/popover/popover.tsx
  src/components/popover/resources.ts
  src/components/tooltip/resources.ts
  src/components/tooltip/tooltip.scss
  src/components/tooltip/tooltip.stories.ts
  src/components/tooltip/tooltip.tsx
  src/utils/floating-ui.spec.ts
  src/utils/floating-ui.ts
Labels: bug, pr ready for visual snapshots

#6846 test: split up form-associated test helper to run a test per use case
  src/components/checkbox/checkbox.e2e.ts
  src/components/combobox/combobox.e2e.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input-text/input-text.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input/input.e2e.ts
  src/components/radio-button/radio-button.e2e.ts
  src/components/rating/rating.e2e.ts
  src/components/segmented-control/segmented-control.e2e.ts
  src/components/select/select.e2e.ts
  src/components/slider/slider.e2e.ts
  src/components/switch/switch.e2e.ts
  src/components/text-area/text-area.e2e.ts
  src/tests/commonTests.ts
Labels: testing

#6867 ci: adds support and community to issue template chooser
  .github/ISSUE_TEMPLATE/config.yml
Labels: chore

#6874 docs(contributing): community and support guidance
  CONTRIBUTING.md
Labels: docs

#6882 feat(list): Add `single-persist` selection mode
  src/components/list-item/list-item.tsx
  src/components/list/list.e2e.ts
  src/components/list/list.tsx
  src/demos/list.html
Labels: enhancement

#6883 fix(block): Corrects alignment of slotted icon
  src/components/block/block.scss
  src/components/block/block.stories.ts
  src/demos/block.html
Labels: bug, pr ready for visual snapshots

#6887 feat(flow-item): Add action bar slot
  src/components/flow-item/flow-item.stories.ts
  src/components/flow-item/flow-item.tsx
  src/components/flow-item/resources.ts
Labels: enhancement, pr ready for visual snapshots

#6888 feat(action-bar): Improve border display in horizontal layout
  src/components/action-bar/action-bar.scss
  src/demos/panel.html
Labels: enhancement, pr ready for visual snapshots

#6868 fix(tooltip): Open hovered tooltip while pointer is moving
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
Labels: bug, pr ready for visual snapshots
