Repository Esri/calcite-design-system, pull requests merged in 2023-09, with the labels that each got.

#7608 feat(flow): add support for custom flow-item elements
  packages/calcite-components/conventions/README.md
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.tsx
  packages/calcite-components/src/components/flow/interfaces.ts
  packages/calcite-components/src/demos/flow.html
Labels: enhancement, pr ready for visual snapshots

#7648 fix(input, input-number): correctly sanitize numbers when pasting string with 'e'
  packages/calcite-components/src/utils/number.spec.ts
  packages/calcite-components/src/utils/number.ts
Labels: bug, pr ready for visual snapshots

#7644 fix: add drag styles for improved UX
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/assets/styles/global.scss
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: bug, pr ready for visual snapshots

#7557 fix(block, block-section): improve a11y
  packages/calcite-components/src/components/block-section/block-section.e2e.ts
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block-section/resources.ts
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
Labels: bug, pr ready for visual snapshots

#7571 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots, autorelease: pending

#7652 fix(block): provide textual name on collapse and expansion to AT
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
Labels: bug, pr ready for visual snapshots

#7656 ci: make sure to exit on maitenance milestone failure
  .github/scripts/limitPullRequestsForMaintenanceReleases.js
Labels: chore, skip visual snapshots, low risk

#7649 ci(turbo): stop grouping logs in github actions
  package.json
Labels: chore, skip visual snapshots, low risk

#7653 chore(demo): fix missed rename for custom-item-selectors attr
  packages/calcite-components/src/demos/flow.html
Labels: chore, skip visual snapshots, low risk

#7657 docs(pick-list-item): drop reference to removed prop
  packages/calcite-components/src/components/pick-list-item/readme.md
Labels: docs, skip visual snapshots, low risk

#7548 ci(actions): move javascript code to separate files
  .github/scripts/.eslintrc.json
  .github/scripts/addCalcitePackageLabel.js
  .github/scripts/addEsriProductLabel.js
  .github/scripts/addPriorityLabel.js
  .github/scripts/assignForVerification.js
  .github/scripts/assignPullRequestAuthor.js
  .github/scripts/changeMilestone.js
  .github/scripts/closeMilestone.js
  .github/scripts/createMilestone.js
  .github/scripts/labelPullRequestWithCommitType.js
  .github/scripts/limitPullRequestsForMaintenanceReleases.js
  .github/scripts/notifyAboutNewComponent.js
  .github/scripts/notifyWhenReadyForDev.js
  .github/scripts/readme.md
  .github/scripts/validatePullRequestTitle.js
  .github/workflows/add-esri-product-label.yml
  .github/workflows/add-package-label.yml
  .github/workflows/add-priority-label.yml
  .github/workflows/assign-for-verification.yml
  .github/workflows/change-milestone.yml
  .github/workflows/close-milestone.yml
  .github/workflows/create-milestone.yml
  .github/workflows/new-component-notify.yml
  .github/workflows/pr-bot.yml
  .github/workflows/pr-untruncated.yml
  .github/workflows/ready-for-dev.yml
  .lintstagedrc.json
Labels: chore, skip visual snapshots, low risk

#7663 docs(table): Improve slot documentation
  packages/calcite-components/src/components/table/table.tsx
Labels: docs, low risk

#7664 fix(sheet): Update shadow style in display-mode="float"
  packages/calcite-components/src/components/sheet/sheet.scss
Labels: bug, pr ready for visual snapshots, low risk

#7665 fix(table): Allow wrapping text in table-header and table-cell
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table/table.stories.ts
Labels: bug, pr ready for visual snapshots, low risk

#7660 test(combobox): add open in all scales screenshot test
  packages/calcite-components/src/components/combobox/combobox.stories.ts
Labels: testing, pr ready for visual snapshots, low risk

#7661 fix(input-time-zone): prevent items from being deselected
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Labels: bug, skip visual snapshots, low risk

#7666 feat(flow): split up custom flow item interfaces
  packages/calcite-components/conventions/README.md
  packages/calcite-components/src/components/flow/interfaces.ts
Labels: enhancement, skip visual snapshots, low risk

#7650 fix(time-picker): focus corresponding input when nudge buttons are clicked
  packages/calcite-components/src/components/time-picker/resources.ts
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.scss
  packages/calcite-components/src/components/time-picker/time-picker.tsx
Labels: bug, regression, pr ready for visual snapshots

#7683 chore(locale): add extra info to default numbering system export
  packages/calcite-components/src/utils/locale.ts
Labels: chore, skip visual snapshots

#7684 fix(list-item): Do not call preventDefault on enter key within slotted actions
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
Labels: bug, pr ready for visual snapshots, low risk

#7680 fix(modal): calciteModalClose should emit on close button click
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/demos/modal.html
  packages/calcite-components/src/utils/openCloseComponent.ts
Labels: bug, pr ready for visual snapshots, low risk

#7685 fix(sheet): calciteSheetClose should emit on scrim click
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.tsx
Labels: bug, pr ready for visual snapshots, low risk

#7678 fix(list): remove unnecessary z-index
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.scss
Labels: bug, pr ready for visual snapshots, low risk

#7671 fix: resolve vite errors due to using expressions in dynamic imports
  packages/calcite-components-react/src/auto-define.ts
  packages/calcite-components-react/support/patchSSR.ts
Labels: bug, p - high, skip visual snapshots

#7690 fix(action-group): Honor flex-grow on slotted actions
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-group/action-group.stories.ts
Labels: bug, pr ready for visual snapshots, low risk

#7654 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots, autorelease: pending

#7700 chore: adds headless sass vars in includes for component usage.
  packages/calcite-components/src/assets/styles/includes.scss
Labels: chore, pr ready for visual snapshots

#7699 chore: remove breakpoints css
  packages/calcite-components/src/assets/styles/_breakpoints.scss
Labels: chore, pr ready for visual snapshots

#7716 chore: add responsive module
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/tests/utils.ts
  packages/calcite-components/src/utils/responsive.spec.ts
  packages/calcite-components/src/utils/responsive.ts
Labels: chore, skip visual snapshots

#7704 fix(combobox): fix filtering to avoid showing unrelated items
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.scss
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots

#7721 fix(combobox): clears input value on blur
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots

#7715 chore: fix launch config to work with the monorepo
  .vscode/launch.json
Labels: chore, skip visual snapshots

#7730 chore: add spaces around link inside storybook notice
  packages/calcite-components/.storybook/main.ts
Labels: chore, pr ready for visual snapshots

#7742 chore: remove commented-out Tailwind directive
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
Labels: chore, skip visual snapshots

#7747 chore: disable eslint rule "jsdoc/require-returns-type"
  packages/calcite-components/.eslintrc.cjs
Labels: chore

#7746 chore: add "xsmall" to custom spelling dictionary
  support/dictionaries/dict-calcite-design-system.txt
Labels: chore

#7749 test(alert): skip unstable accessible test
  packages/calcite-components/src/components/alert/alert.e2e.ts
Labels: testing

#7705 feat(input-time-zone): add max-items support
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Labels: enhancement, pr ready for visual snapshots

#7750 docs(action, action-pad): update usage and action's `tooltip` slot
  packages/calcite-components/src/components/action-pad/usage/Tooltip.md
  packages/calcite-components/src/components/action/action.tsx
Labels: docs, pr ready for visual snapshots

#7752 fix(dropdown): support dispatching enter key event on dropdown trigger
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Labels: bug, pr ready for visual snapshots

#7743 chore: add util to generate breakpoint stories
  packages/calcite-components/.storybook/utils.tsx
  packages/calcite-components/src/utils/responsive.ts
Labels: chore, skip visual snapshots

#7756 ci(eslint): disable jsdoc/require-property-type
  packages/calcite-components/.eslintrc.cjs
Labels: chore, skip visual snapshots

#7758 chore(tailwind): add missing spacing util for responsive design updates
  packages/calcite-components/calcite-preset.ts
Labels: chore, skip visual snapshots

#7762 docs(block, button, checkbox, combobox): update component use
  packages/calcite-components/src/components/block/usage/Always-open.md
  packages/calcite-components/src/components/block/usage/Collapsible.md
  packages/calcite-components/src/components/block/usage/Header-with-control.md
  packages/calcite-components/src/components/block/usage/Header-with-icon.md
  packages/calcite-components/src/components/button/usage/Within-form.md
  packages/calcite-components/src/components/checkbox/usage/Hovered-with-calcite-label.md
  packages/calcite-components/src/components/checkbox/usage/Indeterminate-with-native-label.md
  packages/calcite-components/src/components/chip-group/usage/Basic.md
  packages/calcite-components/src/components/chip-group/usage/SinglePersist.md
  packages/calcite-components/src/components/combobox/usage/SinglePersist.md
Labels: docs, skip visual snapshots

#7722 feat(pagination): enable responsive layout
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.stories.ts
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/pagination/resources.ts
  packages/calcite-components/src/demos/pagination.html
  packages/calcite-components/src/utils/responsive.ts
Labels: enhancement, pr ready for visual snapshots

#7766 chore: add @esri/eslint-plugin-calcite-components to issue templates
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Labels: chore, skip visual snapshots

#7768 fix(tab-nav): update indicator position when tab icon changes
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Labels: bug, pr ready for visual snapshots

#7763 feat(action-group): add css custom properties to define gap and padding when layout is "grid"
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-group/action-group.stories.ts
Labels: enhancement, pr ready for visual snapshots

#7769 fix(select): allow setting an option value to an empty string
  packages/calcite-components/src/components/option/option.e2e.ts
  packages/calcite-components/src/components/option/option.tsx
  packages/calcite-components/src/components/select/select.e2e.ts
Labels: bug, pr ready for visual snapshots

#7379 test(commonTests, alert, combobox, dropdown, input-date-picker, modal, popover, tooltip): extracts a general test utility `OpenClose` for all components implementing `openCloseComponent` util
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/resources.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Labels: refactor, testing, skip visual snapshots

#7774 style: run lint script
  packages/calcite-components/conventions/README.md
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/table/readme.md
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Labels: chore, skip visual snapshots

#7772 test: increase screenshot test delays.
  packages/calcite-components/src/components/modal/modal.stories.ts
  packages/calcite-components/src/components/sheet/sheet.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/stepper/stepper.stories.ts
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Labels: testing, pr ready for visual snapshots

#7767 fix(alert): regression fix to restore `calciteAlertBeforeOpen` and `calciteAlertOpen` event emitting
  packages/calcite-components/src/components/alert/alert.tsx
Labels: bug, skip visual snapshots

#7773 feat(checkbox): add WCAG AA recommended minimum 24px square hotspot optimized for touch users
  packages/calcite-components/src/components/checkbox/checkbox.e2e.ts
  packages/calcite-components/src/components/checkbox/checkbox.scss
Labels: enhancement, pr ready for visual snapshots

#7865 docs: updates d thru i component usage examples
  packages/calcite-components/src/components/date-picker/usage/Range.md
  packages/calcite-components/src/components/dropdown/usage/Basic.md
  packages/calcite-components/src/components/dropdown/usage/Disabling-close-on-select.md
  packages/calcite-components/src/components/dropdown/usage/Groups.md
  packages/calcite-components/src/components/fab/usage/Loading-and-disabled.md
  packages/calcite-components/src/components/fab/usage/Styling.md
  packages/calcite-components/src/components/fab/usage/With-text.md
  packages/calcite-components/src/components/flow/usage/Basic.md
  packages/calcite-components/src/components/flow/usage/Menu-actions-and-footer-actions.md
  packages/calcite-components/src/components/icon/usage/Custom-icon-color.md
  packages/calcite-components/src/components/inline-editable/usage/Basic.md
  packages/calcite-components/src/components/inline-editable/usage/With-label.md
  packages/calcite-components/src/components/inline-editable/usage/With-save-and-cancel-controls.md
  packages/calcite-components/src/components/input-date-picker/usage/Basic.md
  packages/calcite-components/src/components/input-date-picker/usage/Range.md
  packages/calcite-components/src/components/input-message/usage/Basic.md
  packages/calcite-components/src/components/input-number/usage/Basic.md
  packages/calcite-components/src/components/input-number/usage/Integer.md
  packages/calcite-components/src/components/input-text/usage/Basic.md
  packages/calcite-components/src/components/input/usage/Basic.md
  packages/calcite-components/src/components/input/usage/Clearable.md
  packages/calcite-components/src/components/input/usage/Native-events.md
  packages/calcite-components/src/components/input/usage/With-message.md
Labels: docs, skip visual snapshots, low risk

#7868 docs(contributing): add context to prep for hacktoberfest contributions
  CONTRIBUTING.md
Labels: docs, skip visual snapshots

#7855 feat(flow, flow-item): Allow calciteFlowItemBack event to be cancelled
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.tsx
Labels: enhancement, pr ready for visual snapshots

#7871 build: bump node to v18
  package.json
Labels: chore, skip visual snapshots

#7494 feat(block, input-time-picker, notice): adds `open`, `close`, `beforeOpen`, and `beforeClose` events for consistent event handling
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/notice/notice.e2e.ts
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/utils/openCloseComponent.ts
Labels: enhancement, skip visual snapshots

#7876 ci(chromatic): fix node v18 SSL issue and remove dependabot/markdown skip conditions
  .github/workflows/chromatic.yml
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#7877 fix(action-bar): Improve overflowing horizontal actions.
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-bar/utils.ts
Labels: bug, pr ready for visual snapshots

#7867 feat(action-menu): Add appearance property to configure trigger appearance
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-menu/action-menu.stories.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Labels: enhancement, pr ready for visual snapshots

#7873 fix(action-bar): overflow actions when overflowActionsDisabled is set to false
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
Labels: bug, pr ready for visual snapshots

#7874 feat(list): add newIndex and oldIndex event details to calciteListOrderChange event
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: enhancement, pr ready for visual snapshots

#7857 feat(panel, flow-item): add support for collapsing content
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_ar.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_bg.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_bs.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_ca.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_cs.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_da.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_de.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_el.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_en.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_es.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_et.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_fi.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_fr.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_he.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_hr.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_hu.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_id.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_it.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_ja.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_ko.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_lt.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_lv.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_nl.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_no.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_pl.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_pt-BR.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_pt-PT.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_ro.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_ru.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_sk.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_sl.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_sr.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_sv.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_th.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_tr.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_uk.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_vi.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/panel/assets/panel/t9n/messages_zh-TW.json
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
  packages/calcite-components/src/components/panel/usage/Collapsible.md
  packages/calcite-components/src/demos/panel.html
Labels: enhancement, pr ready for visual snapshots

#7880 build(node): bump npm version and pin node types to v18
  .renovaterc.json
  package-lock.json
  package.json
Labels: chore, skip visual snapshots

#7897 fix(dropdown-group): set selectionMode on slotted dropdown-item children
  packages/calcite-components/src/components/dropdown-group/dropdown-group.e2e.ts
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
Labels: bug, pr ready for visual snapshots

#7755 feat(alert): make component responsive
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/alert/alert.stories.ts
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/alert/resources.ts
Labels: enhancement, pr ready for visual snapshots

#7852 fix(tree): update tree selection per design spec
  packages/calcite-components/src/components/tree-item/interfaces.ts
  packages/calcite-components/src/components/tree-item/tree-item.scss
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.stories.ts
  packages/calcite-components/src/components/tree/tree.tsx
Labels: bug, pr ready for visual snapshots

#7908 fix(tree): fix tree keyboard selection issue
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
Labels: bug, skip visual snapshots

#7658 fix(button): provides context for AT users when used as reference element for collapsible content
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/utils/globalAttributes.ts
Labels: bug, Stale, pr ready for visual snapshots

#7911 fix(action-menu): update active selection to not use the action's active property
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-menu/action-menu.stories.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action-menu/resources.ts
Labels: bug, pr ready for visual snapshots
