Repository Esri/calcite-design-system, pull requests merged in 2023-08, with the labels that each got.

#7378 feat(color-picker): replaces thumb focus outline to rounded
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/color-picker/color-picker.stories.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/color-picker/resources.ts
Labels: enhancement, pr ready for visual snapshots

#7400 fix(color-picker): fix opacity slider keyboard nudging
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Labels: bug, skip visual snapshots

#7414 fix(switch): Fix for focus outline style in certain cases
  packages/calcite-components/src/components/switch/switch.scss
  packages/calcite-components/src/components/switch/switch.stories.ts
Labels: bug, pr ready for visual snapshots

#7418 fix(chip): disconnect mutation observer when component is disconnected from the DOM
  packages/calcite-components/src/components/chip/chip.tsx
Labels: bug, skip visual snapshots

#7109 feat(list): Add support for dragging items.
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_en.json
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/handle/interfaces.d.ts
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
  packages/calcite-components/src/components/list/usage/DragEnabled.md
  packages/calcite-components/src/components/list/usage/DragEnabledNested.md
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
  packages/calcite-components/src/demos/list.html
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: enhancement, pr ready for visual snapshots

#7368 fix(panel): Remove double border styling when content isn't provided
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Labels: bug, pr ready for visual snapshots

#7424 chore(storybook): hide warning and show TestOnly stories in local builds
  packages/calcite-components/.storybook/helpers.ts
  packages/calcite-components/.storybook/main.ts
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#7422 fix(tooltip): avoid extra before open/close event emitting
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Labels: bug, pr ready for visual snapshots

#7421 fix(slider): prevent excessive tick rendering
  packages/calcite-components/src/components/slider/resources.ts
  packages/calcite-components/src/components/slider/slider.stories.ts
  packages/calcite-components/src/components/slider/slider.tsx
Labels: bug, pr ready for visual snapshots

#7398 fix(color-picker): draw slider thumbs within bounds
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/color-picker/resources.ts
  packages/calcite-components/src/utils/math.spec.ts
  packages/calcite-components/src/utils/math.ts
Labels: bug, skip visual snapshots

#7429 test(input, input-number): await on missed `page.waitForChanges` calls
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
Labels: skip visual snapshots

#7302 fix(combobox): add space after grouped items
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.scss
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.tsx
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots

#7261 chore: release latest
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, pr ready for visual snapshots, autorelease: pending

#7443 docs(changelog): modify changelog for text-area description context
  packages/calcite-components/CHANGELOG.md
Labels: docs, skip visual snapshots

#7440 fix(panel): Correct header and action-bar z-indexing display issues
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Labels: bug, pr ready for visual snapshots

#7434 fix(panel): Add native tooltip to close button.
  packages/calcite-components/src/components/panel/panel.tsx
Labels: bug, pr ready for visual snapshots

#7442 fix(flow-item): Use a native tooltip for the back button
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
Labels: bug, pr ready for visual snapshots

#7449 test(input-time-zone): Skip unstable test.
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Labels: testing

#7452 fix(action-bar, action-pad): Add native tooltip to expand action
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
Labels: bug

#7455 chore: improve test failure messaging for defaults and reflects helpers
  packages/calcite-components/src/tests/commonTests.ts
Labels: chore, skip visual snapshots

#7461 fix: fix SSR build error caused by browser-sniffing util
  packages/calcite-components/src/utils/browser.ts
Labels: bug, skip visual snapshots, low risk

#7454 fix(panel): Allow panel content to take full height.
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Labels: bug, pr ready for visual snapshots

#7462 fix(list): Add missing drag handle locale strings
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_ar.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_bg.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_bs.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_ca.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_cs.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_da.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_de.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_el.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_es.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_et.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_fi.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_fr.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_he.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_hr.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_hu.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_id.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_it.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_ja.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_ko.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_lt.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_lv.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_nl.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_no.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_pl.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_pt-BR.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_pt-PT.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_ro.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_ru.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_sk.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_sl.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_sr.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_sv.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_th.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_tr.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_uk.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_vi.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_zh-TW.json
Labels: bug, low risk

#7444 chore: update additional instances of old branch and repo names
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/workflows/deploy-latest.yml
  .husky/pre-push
  packages/calcite-components/src/tests/utils.ts
  packages/calcite-components/support/stencilDoubleBuildTypesWorkaround.sh
  packages/eslint-plugin-calcite-components/rollup.config.ts
Labels: chore, skip visual snapshots

#7441 ci: remove duplicate action for notifying teams about releases
  .github/workflows/teams-release-msg.yml
Labels: chore, skip visual snapshots

#7446 ci(release-please): use default pull request title
  release-please-config.json
Labels: chore, skip visual snapshots

#7466 fix(accordion): restore accordion-items working with accordion across shadow DOM
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion/accordion.tsx
Labels: bug, pr ready for visual snapshots

#7467 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#7392 test(input-time-zone): ensure time zone options are captured in the screenshot
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
Labels: testing, pr ready for visual snapshots

#7476 fix(input): fix clearable from throwing an error when value is undefined
  packages/calcite-components/src/components/input/input.tsx
Labels: bug, pr ready for visual snapshots

#7473 chore(accordion-item): add more info about accordion item sync
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
Labels: chore, skip visual snapshots

#7472 fix(slider): numbers remain on one line for locales with space group separators
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/slider/slider.stories.ts
  packages/calcite-components/src/utils/locale.ts
  packages/calcite-components/src/utils/number.spec.ts
Labels: bug, pr ready for visual snapshots

#7447 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, pr ready for visual snapshots, skip visual snapshots, autorelease: pending

#7435 feat(action-bar): add "actions-end" slot (deprecates "bottom-actions")
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.scss
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-bar/readme.md
  packages/calcite-components/src/components/action-bar/resources.ts
  packages/calcite-components/src/components/action-bar/usage/Actions-end.md
  packages/calcite-components/src/components/action-bar/usage/Bottom-actions.md
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/action-pad/resources.ts
  packages/calcite-components/src/components/shell/readme.md
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/shell/usage/Advanced.md
  packages/calcite-components/src/demos/action.html
  packages/calcite-components/src/demos/mode/auto.html
  packages/calcite-components/src/demos/panel.html
  packages/calcite-components/src/demos/shell-panel.html
  packages/calcite-components/src/demos/shell/block-configurations.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-2-shell-header.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-2.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-3.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-center-row-async.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-center-row.html
  packages/calcite-components/src/demos/shell/demo-app-advanced.html
  packages/calcite-components/src/demos/shell/demo-app-blank.html
  packages/calcite-components/src/demos/shell/demo-app-center-row-action-bar.html
  packages/calcite-components/src/demos/shell/demo-app-full-window-reversed.html
  packages/calcite-components/src/demos/shell/demo-app-full-window.html
  packages/calcite-components/src/demos/shell/nesting-testing-flow.html
  packages/calcite-components/src/demos/shell/nesting-testing.html
  packages/calcite-components/src/demos/shell/popup-config-example.html
  packages/calcite-components/src/demos/shell/resizable-panels.html
Labels: enhancement, pr ready for visual snapshots

#7480 ci: ensure vscode-data is generated during every build
  .github/workflows/deploy-latest.yml
  packages/calcite-components/support/stencilDoubleBuildTypesWorkaround.sh
Labels: chore, skip visual snapshots

#7477 fix(scrim): handle slotted children correctly
  packages/calcite-components/src/components/scrim/scrim.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.tsx
Labels: bug, pr ready for visual snapshots

#7487 fix(chip-group): Add existence checks
  packages/calcite-components/src/components/chip-group/chip-group.tsx
Labels: bug

#7491 fix(panel): Fix heading border when only text content is slotted
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Labels: bug, pr ready for visual snapshots

#7506 ci(deploy-latest): hardcode node version to prevent errors
  .github/workflows/deploy-latest.yml
Labels: chore, skip visual snapshots

#7497 chore(dom): Add additional dom utilities for slot changes
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/dom.ts
Labels: chore, low risk

#7504 docs(modal): update usage file with correct prop
  packages/calcite-components/src/components/modal/usage/Open.md
Labels: docs

#7508 docs(storybook): add list dragEnabled knob and modify stories
  packages/calcite-components/src/components/list/list.stories.ts
Labels: low risk

#7509 fix(scrim): render text content inside scrim
  packages/calcite-components/src/components/scrim/scrim.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.stories.ts
  packages/calcite-components/src/components/scrim/scrim.tsx
Labels: bug, pr ready for visual snapshots

#7503 fix(block): defaults the status icon to `scale=s`
  packages/calcite-components/src/components/block/block.tsx
Labels: bug, pr ready for visual snapshots

#7505 fix(combobox): prevents navigation list with Space key
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots

#7456 test(input-time-zone): unskip test
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Labels: testing, skip visual snapshots

#7427 test(tooltip): unskip tests
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Labels: testing, Stale, skip visual snapshots

#7518 fix(tree): selects all child items when selection-mode is set to ancestors
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.tsx
Labels: bug, pr ready for visual snapshots

#7521 fix: prevent vitetest/ssr errors due to defining components on the server
  packages/calcite-components-react/package.json
  packages/calcite-components-react/src/auto-define.ts
  packages/calcite-components-react/support/patchSSR.ts
Labels: bug, skip visual snapshots

#7257 fix(button,card,fab,inline-editable): provides context to AT users when loading
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/card/card.e2e.ts
  packages/calcite-components/src/components/card/card.tsx
Labels: bug, skip visual snapshots, low risk

#7514 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#7439 fix(slider): rerender ticks when prop is modified
  packages/calcite-components/src/components/slider/slider.stories.ts
  packages/calcite-components/src/components/slider/slider.tsx
Labels: bug, Stale, skip visual snapshots, low risk

#7485 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots, autorelease: pending

#7524 test: skip unstable tests
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Labels: testing, skip visual snapshots

#7465 refactor(shell-panel): Remove usage of getSlotted utility. #6059
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
Labels: refactor, Stale, pr ready for visual snapshots

#7464 refactor(action-bar, action-pad, action-group): Remove usage of getSlotted utility
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
Labels: refactor, pr ready for visual snapshots

#7535 fix(action-bar): restore "bottom-actions" slot functionality.
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-bar/resources.ts
Labels: bug, pr ready for visual snapshots

#7510 chore: add `directory` to package.json `repository` property
  packages/calcite-components/package.json
Labels: skip visual snapshots, low risk

#7517 ci(pr-bot): add write permissions for pull requests
  .github/actions/assignPullRequestAuthor.js
  .github/actions/labelPullRequestWithCommitType.js
  .github/workflows/pr-bot.yml
Labels: chore, skip visual snapshots

#7528 chore(linting): enable one-var rule
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/src/components/color-picker/utils.ts
Labels: chore, skip visual snapshots, low risk

#7389 chore(linting): set up spelling linting
  .cspell.json
  package-lock.json
  package.json
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/avatar/avatar.spec.ts
  packages/calcite-components/src/components/avatar/avatar.tsx
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/filter/filter.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/flow/flow.stories.ts
  packages/calcite-components/src/components/graph/util.ts
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/label/label.e2e.ts
  packages/calcite-components/src/components/link/link.e2e.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/notice/notice.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.stories.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/pick-list-group/pick-list-group.e2e.ts
  packages/calcite-components/src/components/pick-list/pick-list.e2e.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/scrim/scrim.stories.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/tab-title/tab-title.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/components/tile-select-group/tile-select-group.stories.ts
  packages/calcite-components/src/components/tile-select/tile-select.stories.ts
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/tip-manager/tip-manager.e2e.ts
  packages/calcite-components/src/components/tip-manager/tip-manager.stories.ts
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/utils/date.ts
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/focusTrapComponent.ts
  packages/calcite-components/src/utils/label.ts
  packages/calcite-components/src/utils/loadable.spec.ts
  packages/calcite-components/src/utils/number.spec.ts
  packages/calcite-components/support/generateT9nDocsJSON.ts
  support/dictionaries/dict-calcite-design-system.txt
Labels: chore, pr ready for visual snapshots

#7551 fix: fix open/close event emitting in Safari
  packages/calcite-components/src/utils/openCloseComponent.ts
Labels: bug, pr ready for visual snapshots

#7539 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots, autorelease: pending

#7563 fix(color-picker): update value when alphaChannel is toggled
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Labels: bug, pr ready for visual snapshots

#7555 fix(list): fixes dragging nested list items
  packages/calcite-components/src/components/list/list.tsx
Labels: bug

#7401 feat(meter): Add Meter component
  packages/calcite-components/.storybook/preview-head.html
  packages/calcite-components/src/components/meter/interfaces.ts
  packages/calcite-components/src/components/meter/meter.e2e.ts
  packages/calcite-components/src/components/meter/meter.scss
  packages/calcite-components/src/components/meter/meter.stories.ts
  packages/calcite-components/src/components/meter/meter.tsx
  packages/calcite-components/src/components/meter/readme.md
  packages/calcite-components/src/components/meter/resources.ts
  packages/calcite-components/src/components/meter/usage/Advanced.md
  packages/calcite-components/src/components/meter/usage/Basic.md
  packages/calcite-components/src/demos/meter.html
  packages/calcite-components/src/index.html
  packages/calcite-components/stencil.config.ts
Labels: enhancement, new component, pr ready for visual snapshots

#7559 fix(input-date-picker, input-time-picker): do not show dropdown affordance when read-only
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Labels: bug, pr ready for visual snapshots

#7527 fix(dropdown): prevents navigating dropdown items with Tab key
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Labels: bug, pr ready for visual snapshots

#7554 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#7578 fix(date-picker): set start of week to monday in zh-CN
  packages/calcite-components/src/components/date-picker/assets/date-picker/nls/zh-CN.json
Labels: bug, pr ready for visual snapshots

#7562 refactor(combobox, combobox-item, combobox-group): `getElementProp` is refactored out across child components as an outdated pattern in favor of inheritable props set directly on parent
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: refactor, skip visual snapshots

#7586 fix(chip-group): Add existence checks
  packages/calcite-components/src/components/chip-group/chip-group.tsx
Labels: bug

#7584 chore: add explainers to disabled jsx-sort-props on ref prop
  packages/calcite-components/conventions/README.md
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/fab/fab.tsx
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
  packages/calcite-components/src/components/functional/XButton.tsx
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/link/link.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/navigation/navigation.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/pick-list-item/pick-list-item.tsx
  packages/calcite-components/src/components/pick-list/shared-list-render.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/radio-button/radio-button.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/switch/switch.tsx
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/components/tip-manager/tip-manager.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
Labels: chore, skip visual snapshots

#7470 fix(modal): handle removal of open attribute and prevent multiple beforeClose calls
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/modal/modal.tsx
Labels: bug, pr ready for visual snapshots

#7589 test(modal, shell): add delay to recent unstable stories
  packages/calcite-components/src/components/modal/modal.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
Labels: testing, pr ready for visual snapshots

#7415 feat(action-bar, action-pad, action-group): Add label properties for group context
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-bar/usage/With-grouping.md
  packages/calcite-components/src/components/action-group/action-group.e2e.ts
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-group/resources.ts
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/action-pad/usage/With-grouping.md
  packages/calcite-components/src/components/shell/usage/Advanced.md
  packages/calcite-components/src/demos/action.html
Labels: enhancement, pr ready for visual snapshots

#7567 fix(segmented-control): refresh items when added dynamically
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Labels: bug, pr ready for visual snapshots

#7568 fix(split-button): update divider and borders to follow design spec
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/button/button.stories.ts
  packages/calcite-components/src/components/split-button/split-button.scss
  packages/calcite-components/src/components/split-button/split-button.stories.ts
Labels: bug, pr ready for visual snapshots

#7558 fix(combobox): update combobox height to follow design spec
  packages/calcite-components/src/components/combobox/combobox.scss
Labels: bug, pr ready for visual snapshots

#7587 refactor(combobox-item): drop unused variable
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Labels: refactor, skip visual snapshots

#7556 ci: add action to limit pull requests during maintenance releases
  .github/scripts/limitPullRequestsForMaintenanceReleases.js
  .github/workflows/limit-prs-for-maintenance-releases.yml
Labels: chore, skip visual snapshots

#7582 refactor(dropdown, dropdown-item-group, dropdown-item): `getElementProp` is refactored out in favor of inheritable props set directly on parent
  packages/calcite-components/src/components/dropdown-group/dropdown-group.e2e.ts
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/dropdown-group/resources.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/dropdown-item/resources.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Labels: refactor, skip visual snapshots

#7564 fix(loader): tweak loading animations to work in Safari
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/demos/loader.html
Labels: bug, pr ready for visual snapshots

#7592 refactor(segmented-control, segmented-control-item): `getElementProp` is refactored out in favor of inheritable props set directly on parent
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Labels: refactor, pr ready for visual snapshots

#7604 test(list): Use the dragAndDrop utility for mouse tests
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: testing

#7601 fix(flow): catch error when beforeBack promise is rejected
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.tsx
Labels: bug

#7600 fix(modal): catch error when beforeClose promise is rejected
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
Labels: bug

#7583 feat(combobox): add single-persist selection mode
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/utils.ts
  packages/calcite-components/src/demos/combobox.html
Labels: enhancement, pr ready for visual snapshots

#7572 fix(tree-item): updates state when selection changes programmatically for `selection-mode='ancestors'`
  packages/calcite-components/src/components/tree-item/interfaces.ts
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.tsx
Labels: bug, pr ready for visual snapshots

#7341 fix(rating): adds focus outline on click
  packages/calcite-components/src/components/rating/interfaces.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/rating/rating.scss
  packages/calcite-components/src/components/rating/rating.stories.ts
  packages/calcite-components/src/components/rating/rating.tsx
Labels: bug, enhancement, pr ready for visual snapshots

#7561 feat(sheet): Add Sheet component
  packages/calcite-components/src/components/sheet/interfaces.ts
  packages/calcite-components/src/components/sheet/readme.md
  packages/calcite-components/src/components/sheet/resources.ts
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/sheet/sheet.stories.ts
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/sheet/usage/Basic.md
  packages/calcite-components/src/components/sheet/usage/Open.md
  packages/calcite-components/src/components/sheet/usage/Panel.md
  packages/calcite-components/src/components/sheet/usage/Reacting-before-close.md
  packages/calcite-components/src/demos/sheet.html
  packages/calcite-components/src/index.html
  packages/calcite-components/stencil.config.ts
Labels: enhancement, pr ready for visual snapshots

#7579 feat(shell): Add "Sheets" Slot
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/shell/resources.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/shell/shell.tsx
  packages/calcite-components/src/demos/shell/basic-slotted-elements.html
Labels: enhancement, pr ready for visual snapshots

#7610 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#7618 fix(tree): improve keyboard navigation
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.tsx
  packages/calcite-components/src/components/tree/utils.ts
Labels: bug, pr ready for visual snapshots

#7617 feat(sheet): Update default widths
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.scss
Labels: enhancement, pr ready for visual snapshots

#7611 docs(accordion-item): update component description for vscode
  packages/calcite-components/src/components/accordion-item/readme.md
Labels: docs, skip visual snapshots

#7628 docs: add homepage to npm packages
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Labels: docs, skip visual snapshots

#7629 docs(shell): update sheets slot position
  packages/calcite-components/src/components/shell/shell.tsx
Labels: docs, skip visual snapshots

#7532 feat(input-time-picker): support fractional seconds
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-picker/usage/Basic.md
  packages/calcite-components/src/components/input-time-picker/usage/Fractional-seconds.md
  packages/calcite-components/src/components/time-picker/assets/time-picker/t9n/messages.json
  packages/calcite-components/src/components/time-picker/assets/time-picker/t9n/messages_en.json
  packages/calcite-components/src/components/time-picker/resources.ts
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.stories.ts
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/demos/input-time-picker.html
  packages/calcite-components/src/utils/math.spec.ts
  packages/calcite-components/src/utils/math.ts
  packages/calcite-components/src/utils/time.spec.ts
  packages/calcite-components/src/utils/time.ts
Labels: enhancement, pr ready for visual snapshots

#7622 feat(input-date-picker): normalize year to current century
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/util.spec.ts
  packages/calcite-components/src/components/input-date-picker/utils.ts
  packages/calcite-components/src/utils/date.spec.ts
  packages/calcite-components/src/utils/date.ts
Labels: enhancement, pr ready for visual snapshots, low risk

#7637 chore(deps): update calcite-ui-icons to 3.24.1
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#7624 fix(list): Stop emitting calciteListChange when a list-item is disabled or closed.
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, pr ready for visual snapshots

#7640 docs(table): Update usage
  packages/calcite-components/src/components/table/usage/Basic.md
Labels: docs

#7632 fix: make sure components are defined in environments like in codesandbox
  packages/calcite-components-react/src/auto-define.ts
Labels: bug, skip visual snapshots

#7638 feat(input-date-picker): normalize year to current century for user typed values only
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Labels: enhancement, pr ready for visual snapshots

#7641 docs(contributing): update the commit message format example URL
  CONTRIBUTING.md
Labels: docs, skip visual snapshots

#7593 refactor(stepper, stepper-item): `getElementProp` is refactored out in favor of inheritable props set directly on parent
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Labels: refactor, pr ready for visual snapshots

#7560 fix(accordion, accordion-item): improve a11y
  packages/calcite-components/src/components/accordion-item/accordion-item.e2e.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion-item/resources.ts
Labels: bug, pr ready for visual snapshots

#7646 feat(input-number): add integer property
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Labels: enhancement, pr ready for visual snapshots

#7614 fix(list, sortable-list, value-list): Emit calciteListOrderChange when dragging between lists
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: bug, pr ready for visual snapshots
