Repository Esri/calcite-design-system, pull requests merged in 2023-03, with the labels that each got.

#6551 fix(filter, list): filter properly on initialization
  src/components/filter/filter.e2e.ts
  src/components/filter/filter.tsx
  src/components/list/list.e2e.ts
  src/components/list/list.tsx
Labels: bug, pr ready for visual snapshots

#6490 feat(modal): provides `content-top` and `content-bottom` slots
  src/components/modal/modal.scss
  src/components/modal/modal.stories.ts
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
Labels: enhancement, pr ready for visual snapshots

#6553 fix(slider): range slider thumb on all touch-enabled devices now follows touch gesture
  src/components/slider/slider.scss
Labels: bug, pr ready for visual snapshots

#6557 build: ensure required files are available for doc preview build
  package.json
Labels: pr ready for visual snapshots

#6559 chore(block): add t9n message bundles.
  src/components/handle/assets/handle/t9n/messages_ar.json
  src/components/handle/assets/handle/t9n/messages_bg.json
  src/components/handle/assets/handle/t9n/messages_bs.json
  src/components/handle/assets/handle/t9n/messages_ca.json
  src/components/handle/assets/handle/t9n/messages_cs.json
  src/components/handle/assets/handle/t9n/messages_da.json
  src/components/handle/assets/handle/t9n/messages_de.json
  src/components/handle/assets/handle/t9n/messages_el.json
  src/components/handle/assets/handle/t9n/messages_es.json
  src/components/handle/assets/handle/t9n/messages_et.json
  src/components/handle/assets/handle/t9n/messages_fi.json
  src/components/handle/assets/handle/t9n/messages_fr.json
  src/components/handle/assets/handle/t9n/messages_he.json
  src/components/handle/assets/handle/t9n/messages_hr.json
  src/components/handle/assets/handle/t9n/messages_hu.json
  src/components/handle/assets/handle/t9n/messages_id.json
  src/components/handle/assets/handle/t9n/messages_it.json
  src/components/handle/assets/handle/t9n/messages_ja.json
  src/components/handle/assets/handle/t9n/messages_ko.json
  src/components/handle/assets/handle/t9n/messages_lt.json
  src/components/handle/assets/handle/t9n/messages_lv.json
  src/components/handle/assets/handle/t9n/messages_nl.json
  src/components/handle/assets/handle/t9n/messages_no.json
  src/components/handle/assets/handle/t9n/messages_pl.json
  src/components/handle/assets/handle/t9n/messages_pt-BR.json
  src/components/handle/assets/handle/t9n/messages_pt-PT.json
  src/components/handle/assets/handle/t9n/messages_ro.json
  src/components/handle/assets/handle/t9n/messages_ru.json
  src/components/handle/assets/handle/t9n/messages_sk.json
  src/components/handle/assets/handle/t9n/messages_sl.json
  src/components/handle/assets/handle/t9n/messages_sr.json
  src/components/handle/assets/handle/t9n/messages_sv.json
  src/components/handle/assets/handle/t9n/messages_th.json
  src/components/handle/assets/handle/t9n/messages_tr.json
  src/components/handle/assets/handle/t9n/messages_uk.json
  src/components/handle/assets/handle/t9n/messages_vi.json
  src/components/handle/assets/handle/t9n/messages_zh-CN.json
  src/components/handle/assets/handle/t9n/messages_zh-HK.json
  src/components/handle/assets/handle/t9n/messages_zh-TW.json
Labels: chore

#6521 feat(stepper-item): emits `calciteStepperItemSelect` event when selected.
  src/components/stepper-item/stepper-item.e2e.ts
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
  src/components/stepper/utils.ts
Labels: enhancement, pr ready for visual snapshots

#6530 refactor: move ref prop last to ensure ref node is in sync
  conventions/README.md
  src/components/action-bar/action-bar.tsx
  src/components/action-menu/action-menu.tsx
  src/components/action-pad/action-pad.tsx
  src/components/action/action.tsx
  src/components/alert/alert.tsx
  src/components/button/button.tsx
  src/components/checkbox/checkbox.tsx
  src/components/chip/chip.tsx
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month/date-picker-month.tsx
  src/components/dropdown-item/dropdown-item.tsx
  src/components/dropdown/dropdown.tsx
  src/components/fab/fab.tsx
  src/components/filter/filter.tsx
  src/components/flow-item/flow-item.tsx
  src/components/functional/ExpandToggle.tsx
  src/components/handle/handle.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/link/link.tsx
  src/components/list-item/list-item.tsx
  src/components/list/list.tsx
  src/components/modal/modal.tsx
  src/components/notice/notice.tsx
  src/components/panel/panel.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list/shared-list-render.tsx
  src/components/popover/popover.tsx
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.tsx
  src/components/select/select.tsx
  src/components/shell-panel/shell-panel.tsx
  src/components/slider/slider.tsx
  src/components/stepper-item/stepper-item.tsx
  src/components/switch/switch.tsx
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/tab-title.tsx
  src/components/time-picker/time-picker.tsx
  src/components/tip-manager/tip-manager.tsx
  src/components/tooltip/tooltip.tsx
  src/components/tree-item/tree-item.tsx
  src/components/value-list-item/value-list-item.tsx
Labels: refactor, pr ready for visual snapshots

#6560 revert(stepper-item): emits calciteStepperItemSelect event when selected
  src/components/stepper-item/stepper-item.e2e.ts
  src/components/stepper-item/stepper-item.tsx
  src/components/stepper/stepper.e2e.ts
  src/components/stepper/stepper.tsx
  src/components/stepper/utils.ts
Labels: chore, pr ready for visual snapshots

#6503 feat(block): add built-in localization
  src/components/handle/handle.e2e.ts
  src/components/handle/handle.tsx
Labels: enhancement, pr ready for visual snapshots

#6562 fix(action): ensure consistent width to accommodate indicator when displaying text
  src/components/action/action.scss
  src/components/action/action.stories.ts
Labels: bug, pr ready for visual snapshots

#6564 fix(modal): ensure modal transitions are in sync
  src/components/modal/modal.scss
  src/components/modal/modal.tsx
  src/components/modal/resources.ts
Labels: bug, pr ready for visual snapshots

#6416 ci(eslint): ignore private/internal code for jsdoc rules
  .eslintrc.json
Labels: chore, Stale

#6437 test(tabs): delay story due to potential timing chromatic diff
  src/components/tabs/tabs.stories.ts
Labels: testing, Stale, pr ready for visual snapshots

#6580 fix(input, input-number): increment/decrement unsafe numbers without loss of precision
  src/components/input-number/input-number.e2e.ts
  src/components/input-number/input-number.tsx
  src/components/input/input.e2e.ts
  src/components/input/input.tsx
  src/utils/math.spec.ts
  src/utils/math.ts
  src/utils/number.spec.ts
  src/utils/number.ts
Labels: bug, pr ready for visual snapshots

#6589 chore: gitignore Dockerfile
  .gitignore
Labels: chore

#6446 build(browsers): add support for Firefox ESR
  .browserslistrc
Labels: chore, Stale, pr ready for visual snapshots

#6592 fix(avatar): passes color contrast after adjusting text color
  src/components/avatar/avatar.scss
  src/components/avatar/avatar.stories.ts
Labels: bug, pr ready for visual snapshots

#6605 fix(alert, combobox, dropdown, input-date-picker, popover, tooltip): prefers-reduced-motion no longer prevents open/close components from emitting before + open/close events
  src/assets/styles/_animation.scss
  src/components/block/block.scss
  src/components/loader/loader.scss
  src/components/progress/progress.scss
Labels: bug, pr ready for visual snapshots

#6608 fix(accordion, accordion-item): now wraps long words in header (title & description)
  src/components/accordion-item/accordion-item.scss
  src/components/accordion/accordion.stories.ts
Labels: bug, pr ready for visual snapshots

#6527 build: update browserslist db
  package-lock.json
Labels: chore

#6609 ci: update user-defined priority
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
  .github/workflows/add-priority-label.yml
Labels: chore

#6611 build: fix peer dependency resolution error
  .eslintrc.json
  .github/workflows/chromatic.yml
  .github/workflows/deploy-next.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/update-browserslist-db.yml
  .github/workflows/update-doc.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
  src/utils/form.tsx
Labels: chore, pr ready for visual snapshots

#6612 chore: convert all px to rems
  src/assets/styles/_animation.scss
  src/assets/styles/_breakpoints.scss
  src/assets/styles/_floating-ui.scss
  src/assets/styles/_focus.scss
  src/assets/styles/_shadow.scss
  src/assets/styles/global.scss
  src/components/action/action.scss
  src/components/alert/alert.scss
  src/components/button/button.scss
  src/components/checkbox/checkbox.scss
  src/components/color-picker-swatch/color-picker-swatch.scss
  src/components/color-picker/color-picker.scss
  src/components/combobox-item/combobox-item.scss
  src/components/combobox/combobox.scss
  src/components/date-picker-day/date-picker-day.scss
  src/components/date-picker-month-header/date-picker-month-header.scss
  src/components/date-picker-month/date-picker-month.scss
  src/components/date-picker/date-picker.scss
  src/components/flow/flow.scss
  src/components/input-date-picker/input-date-picker.scss
  src/components/input/input.scss
  src/components/link/link.scss
  src/components/modal/modal.scss
  src/components/pagination/pagination.scss
  src/components/progress/progress.scss
  src/components/radio-button/radio-button.scss
  src/components/segmented-control-item/segmented-control-item.scss
  src/components/segmented-control/segmented-control.scss
  src/components/select/select.scss
  src/components/shell-panel/shell-panel.scss
  src/components/slider/slider.scss
  src/components/switch/switch.scss
  src/components/tab-title/tab-title.scss
  src/components/tab/tab.scss
  src/components/tabs/tabs.scss
  src/components/tile-select/tile-select.scss
  src/components/tile/tile.scss
  src/components/time-picker/time-picker.scss
  src/components/tip-manager/tip-manager.scss
Labels: pr ready for visual snapshots

#6613 chore(linting): fix linting errors
  CHANGELOG.md
  src/components/action-bar/action-bar.tsx
  src/components/action-group/action-group.tsx
  src/components/action-pad/action-pad.tsx
  src/components/action/action.tsx
  src/components/alert/alert.tsx
  src/components/block-section/block-section.tsx
  src/components/block/block.tsx
  src/components/button/button.tsx
  src/components/card/card.tsx
  src/components/checkbox/checkbox.tsx
  src/components/chip/chip.tsx
  src/components/color-picker/color-picker.tsx
  src/components/combobox/combobox.tsx
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker/date-picker.tsx
  src/components/filter/filter.tsx
  src/components/flow-item/flow-item.tsx
  src/components/inline-editable/inline-editable.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-message/input-message.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
  src/components/modal/modal.tsx
  src/components/notice/notice.tsx
  src/components/pagination/pagination.tsx
  src/components/panel/panel.tsx
  src/components/pick-list-item/pick-list-item.tsx
  src/components/pick-list/pick-list.tsx
  src/components/popover/popover.tsx
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.tsx
  src/components/scrim/scrim.tsx
  src/components/segmented-control-item/segmented-control-item.tsx
  src/components/shell-panel/shell-panel.tsx
  src/components/tabs/tabs.tsx
  src/components/time-picker/time-picker.tsx
  src/components/tip-manager/tip-manager.tsx
  src/components/tip/tip.tsx
  src/components/tooltip/tooltip.e2e.ts
  src/components/value-list/value-list.tsx
Labels: chore

#6623 fix: restore form control validation in Safari
  src/components/button/button.tsx
  src/utils/form.tsx
Labels: bug

#6625 docs(modal): kebab-case slot names and sticky context
  src/components/modal/modal.tsx
Labels: docs

#6631 docs(accordion-item): add actions-start and actions-end slots
  src/components/accordion-item/accordion-item.tsx
Labels: docs

#6634 docs(input, input-number, input-text): api consistency across components
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input/input.tsx
Labels: docs

#6628 fix(tile): adds styling to `tile` where `link` is present for additional distinction
  src/components/tile/tile.scss
Labels: bug, pr ready for visual snapshots

#6637 fix(pagination): add current page information for screen readers
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.tsx
Labels: bug

#6657 fix(card): provide more meaningful screen reader label for selectable cards (deprecates `deselect` message override)
  src/components/card/assets/card/t9n/messages.json
  src/components/card/assets/card/t9n/messages_en.json
  src/components/card/card.tsx
Labels: bug

#6665 fix(tile-select): fix click not firing in custom-elements build
  src/components/tile-select/tile-select.tsx
Labels: bug

#6666 fix(modal): prevent error when calling setFocus on a recently rendered and opened modal (`dist-custom-elements`)
  src/utils/dom.ts
Labels: bug

#6438 feat(pagination, split-button, dropdown, date-picker, action-group): add setFocus method
  src/components/action-group/action-group.e2e.ts
  src/components/action-group/action-group.tsx
  src/components/date-picker/date-picker.e2e.ts
  src/components/date-picker/date-picker.tsx
  src/components/dropdown/dropdown.e2e.ts
  src/components/dropdown/dropdown.tsx
  src/components/pagination/pagination.e2e.ts
  src/components/pagination/pagination.tsx
  src/components/split-button/split-button.e2e.ts
  src/components/split-button/split-button.tsx
  src/tests/commonTests.ts
Labels: enhancement, pr ready for visual snapshots

#6671 ci(chromatic): allow snapshots to run on draft PRs
  .github/workflows/chromatic.yml
Labels: chore, pr ready for visual snapshots

#6682 feat: support setting form ID on form components
  src/components/button/button.tsx
  src/components/checkbox/checkbox.tsx
  src/components/combobox/combobox.tsx
  src/components/input-date-picker/input-date-picker.tsx
  src/components/input-number/input-number.tsx
  src/components/input-text/input-text.tsx
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input/input.tsx
  src/components/radio-button/radio-button.tsx
  src/components/rating/rating.tsx
  src/components/segmented-control/segmented-control.tsx
  src/components/select/select.tsx
  src/components/slider/slider.tsx
  src/components/switch/switch.tsx
  src/components/text-area/text-area.tsx
  src/tests/commonTests.ts
  src/utils/form.spec.ts
  src/utils/form.tsx
Labels: enhancement

#6683 ci: fix next releases due to failing type test
  src/components/text-area/text-area.tsx
Labels: chore, pr ready for visual snapshots
