Repository Esri/calcite-design-system, pull requests merged in 2023-12, with the labels that each got.

#8304 feat(combobox, checkbox, input-time-zone, select, text-area): add status property
  packages/calcite-components/src/components/checkbox/checkbox.scss
  packages/calcite-components/src/components/checkbox/checkbox.stories.ts
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-text/input-text.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/components/select/select.stories.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/text-area.scss
  packages/calcite-components/src/components/text-area/text-area.stories.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/demos/checkbox.html
Labels: enhancement, pr ready for visual snapshots, skip visual snapshots

#8313 docs(modal): update fullscreen context to updated widthScale prop
  packages/calcite-components/src/components/modal/modal.tsx
Labels: docs, skip visual snapshots

#8308 feat: update json shape for docs
  packages/calcite-design-tokens/src/$config.ts
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/docs.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/attributes/attributePlatformName.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils/setTokenNameByPlatform.ts
  packages/calcite-design-tokens/support/types/fileExtensions.ts
  packages/calcite-design-tokens/support/types/platform.ts
Labels: enhancement, docs, p - high, skip visual snapshots, design-tokens

#8309 fix(label): associate label to component when `for` prop is set after initialization
  packages/calcite-components/src/components/label/label.tsx
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/component.spec.ts
  packages/calcite-components/src/utils/component.ts
  packages/calcite-components/src/utils/label.ts
Labels: bug, pr ready for visual snapshots

#8323 ci(deploy-latest): use volta's pinned node version
  .github/workflows/deploy-latest.yml
Labels: chore

#8324 ci(deploy-latest): hardcode node v18
  .github/workflows/deploy-latest.yml
Labels: chore

#8326 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#8312 feat(dropdown-item): add disabled support
  packages/calcite-components/src/components/dropdown-item/dropdown-item.e2e.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Labels: enhancement, pr ready for visual snapshots

#8328 build(node): bump volta's pinned version to node v18.18.2
  package.json
Labels: chore, pr ready for visual snapshots

#8333 chore(demos): update outdated CSS variable names after token breaking changes
  packages/calcite-components/src/demos/_assets/demos.css
  packages/calcite-components/src/demos/list.html
Labels: skip visual snapshots

#8336 fix(action-menu): Filter hidden or disabled actions via keyboard.
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Labels: bug, skip visual snapshots

#8322 chore(dropdown): update demo page to use selected vs active (removed)
  packages/calcite-components/src/demos/dropdown.html
Labels: chore, skip visual snapshots

#8317 fix(shell, shell-panel): support resizing shell panel when there is an iframe slotted in shell content
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/shell/resources.ts
  packages/calcite-components/src/components/shell/shell.scss
  packages/calcite-components/src/components/shell/shell.tsx
Labels: bug, skip visual snapshots

#8339 fix(action-menu): fix closing action menu after a drag occurs
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Labels: bug, skip visual snapshots

#8321 refactor(dropdown): remove obsolete logic
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Labels: refactor, skip visual snapshots

#8319 test(dropdown): fix dropdown E2E suite grouping
  packages/calcite-components/conventions/Styling.md
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
Labels: testing, skip visual snapshots

#8344 fix(color-context tokens): only apply when `.calcite-mode-auto` is applied
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
Labels: bug, p - high, pr ready for visual snapshots

#8325 ci: remove workarounds no longer needed with Stencil v4
  .github/workflows/deploy-next.yml
  packages/calcite-components/package.json
  packages/calcite-components/support/buildForPreambleVersion.sh
Labels: chore, skip visual snapshots

#8314 fix(shell-panel): adds border at the start when slotted in `panel-end`
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Labels: bug, pr ready for visual snapshots

#8341 fix(input-date-picker): no longer emits redundant change event
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Labels: bug, pr ready for visual snapshots

#8355 feat: provide legacy CSS custom props for backwards compatibility
  packages/calcite-components/src/assets/styles/_legacy.scss
  packages/calcite-components/src/assets/styles/global.scss
Labels: enhancement, p - high, skip visual snapshots

#8370 ci(next): install deps before running npm scripts
  .github/workflows/deploy-next.yml
Labels: chore, skip visual snapshots

#8352 fix: replace "\n" to support Windows for tokens output
  package-lock.json
  package.json
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/css.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/docs.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/javascript.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/scss.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
Labels: bug, p - high, pr ready for visual snapshots

#8361 feat(list): Add `calciteListDragStart` and `calciteListDragEnd` events for when a drag starts and ends.
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: enhancement, skip visual snapshots

#8356 test(tab-nav): stabilize test
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
Labels: testing, skip visual snapshots

#8196 build: swap ts-node for tsx
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
  packages/calcite-design-tokens/package.json
  packages/eslint-plugin-calcite-components/package.json
Labels: chore, Stale, pr ready for visual snapshots, skip visual snapshots

#8381 build(node): bump node version to v20 (latest LTS)
  .github/workflows/deploy-latest.yml
  .github/workflows/pr-tests_eslint-plugin-calcite-components.yml
  .github/workflows/remove-next-changelog-entries.yml
  .github/workflows/update-browserslist-db.yml
  package.json
Labels: chore, pr ready for visual snapshots

#8387 fix(action-menu): keep internal popover open property in sync
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Labels: bug, skip visual snapshots

#8383 fix(input-date-picker): respect the numberingSystem property when rendering the input
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Labels: bug, pr ready for visual snapshots

#8360 refactor(tile-select): remove dependency on calcite-tile
  packages/calcite-components/src/components/tile-select/resources.ts
  packages/calcite-components/src/components/tile-select/tile-select.scss
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/demos/tile-select.html
Labels: refactor, pr ready for visual snapshots

#8357 docs: provide information on legacy support for breaking changes
  packages/calcite-components/conventions/Styling.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/README.md
Labels: docs, p - high, skip visual snapshots, design-tokens

#8399 fix(tab): prevent vertical scrollbar on content pane when the height of outer elements are specified
  packages/calcite-components/src/components/tab/tab.scss
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Labels: bug, pr ready for visual snapshots

#8398 fix(dropdown-item): avoid hover/active styling when disabled
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
Labels: bug, pr ready for visual snapshots

#8401 chore(dropdown-item): remove non-applicable selectors due to lack of visual `::before` pseudo-element
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
Labels: chore, pr ready for visual snapshots

#8400 chore(dropdown): update test page to set selection mode on groups
  packages/calcite-components/src/demos/dropdown.html
Labels: chore, skip visual snapshots

#8412 docs(list): update usage examples.
  packages/calcite-components/src/components/list/usage/Advanced.md
  packages/calcite-components/src/components/list/usage/DragEnabledNested.md
  packages/calcite-components/src/components/list/usage/Nested.md
Labels: docs, skip visual snapshots

#8411 chore(list): fix demo code
  packages/calcite-components/src/demos/list.html
Labels: chore, skip visual snapshots

#8407 fix: use Stencil watchers instead of global attributes util
  packages/calcite-components/conventions/README.md
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/menu/menu.tsx
  packages/calcite-components/src/utils/globalAttributes.spec.ts
  packages/calcite-components/src/utils/globalAttributes.ts
Labels: bug, refactor, pr ready for visual snapshots

#8409 fix(floating-ui): improve floating element performance
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Labels: bug, 2 - in development, pr ready for visual snapshots

#8403 test(tabs): update story to demonstrate vertical scrolling after recent fix
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Labels: docs, testing, pr ready for visual snapshots

#8423 build: ensure patches run after prerender test build
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#8384 docs(s-components): update usage snippets
  packages/calcite-components/src/components/scrim/usage/Basic.md
  packages/calcite-components/src/components/scrim/usage/Loading-scrim-panel.md
  packages/calcite-components/src/components/shell-panel/usage/With-custom-element.md
  packages/calcite-components/src/components/shell-panel/usage/With-flow.md
  packages/calcite-components/src/components/shell-panel/usage/With-panel.md
  packages/calcite-components/src/components/shell/usage/Advanced.md
  packages/calcite-components/src/components/shell/usage/With-panels.md
  packages/calcite-components/src/components/split-button/usage/Basic.md
  packages/calcite-components/src/components/stepper/usage/Basic.md
  packages/calcite-components/src/components/switch/usage/Basic.md
Labels: docs, skip visual snapshots

#8427 test(avatar): Fix placeholder image url.
  packages/calcite-components/src/components/avatar/avatar.e2e.ts
Labels: testing, skip visual snapshots

#8422 fix(stepper): emits `calciteStepperItemChange` event when switched to first step
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Labels: bug, pr ready for visual snapshots

#8426 docs: use example image instead of live url.
  packages/calcite-components/src/components/list/usage/Advanced.md
  packages/calcite-components/src/components/stack/readme.md
  packages/calcite-components/src/components/stack/usage/Basic.md
  packages/calcite-components/src/components/stack/usage/Disabled.md
  packages/calcite-components/src/components/tabs/usage/Basic.md
  packages/calcite-components/src/components/tabs/usage/Bordered.md
  packages/calcite-components/src/components/tip-manager/usage/Basic.md
  packages/calcite-components/src/components/tip/usage/Basic.md
Labels: docs, skip visual snapshots

#8432 chore: update links to use esri.com, update placeholder image reference.
  packages/calcite-components/conventions/Accessibility/AccessibilityDeveloper.md
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/tip/readme.md
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree/tree.e2e.ts
Labels: chore, skip visual snapshots

#8414 fix(input-date-picker): ensure range input toggling is consistent
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/resources.ts
Labels: bug, pr ready for visual snapshots

#8408 fix(menu-item): Improve keyboard navigability when `href` populated
  packages/calcite-components/src/components/menu-item/menu-item.e2e.ts
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/demos/menu.html
Labels: bug, pr ready for visual snapshots

#8438 feat(list): Add drag event details to `calciteListDragStart` and `calciteListDragEnd` events
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: enhancement, skip visual snapshots

#8439 fix(table-cell): Fix background css variable
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table/table.stories.ts
Labels: bug, pr ready for visual snapshots

#8433 feat(list-item): Add calciteListItemToggle event.
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
Labels: enhancement, skip visual snapshots

#8440 refactor(table): Add `striped` property, deprecate `zebra` property
  packages/calcite-components/src/components/table/interfaces.ts
  packages/calcite-components/src/components/table/resources.ts
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.scss
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Labels: refactor, pr ready for visual snapshots

#8389 feat(font tokens): add font family fallbacks
  packages/calcite-design-tokens/src/core/font.json
  packages/calcite-design-tokens/src/semantic/font.json
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueFontFamilyFallbacks.ts
Labels: enhancement, pr ready for visual snapshots

#8446 fix(color tokens): fix errors in schema
  packages/calcite-design-tokens/src/semantic/color.json
Labels: bug, skip visual snapshots

#8305 feat: add `validation-message` and `validation-icon` attributes to form components for new internal `calcite-input-message`
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/functional/Validation.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-message/input-message.scss
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/input-text/input-text.stories.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input/input.scss
  packages/calcite-components/src/components/input/input.stories.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/input/readme.md
  packages/calcite-components/src/components/select/resources.ts
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/components/select/select.stories.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/text-area.scss
  packages/calcite-components/src/components/text-area/text-area.stories.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/demos/combobox.html
  packages/calcite-components/src/demos/input-date-picker.html
  packages/calcite-components/src/demos/input-number.html
  packages/calcite-components/src/demos/input-text.html
  packages/calcite-components/src/demos/input-time-zone.html
  packages/calcite-components/src/demos/input.html
  packages/calcite-components/src/demos/select.html
  packages/calcite-components/src/demos/text-area.html
Labels: enhancement, pr ready for visual snapshots

#8329 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
Labels: chore, skip visual snapshots, autorelease: pending

#8444 fix(date-picker): prevent console error when selecting just an end date for input date picker
  packages/calcite-components/src/components/date-picker/date-picker.tsx
Labels: bug, skip visual snapshots

#8449 feat(table-header): Add style when within a `selected` Table Row
  packages/calcite-components/src/components/table-header/resources.ts
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/demos/table.html
Labels: enhancement, pr ready for visual snapshots

#8459 docs: move maintained wiki pages into the monorepo
  documentation/monorepo.md
  documentation/releasing.md
Labels: docs, skip visual snapshots

#8441 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#8462 fix(list): fix event detail newIndex when down arrow pressed to sort
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, skip visual snapshots

#8166 fix: allow users to control tabindex on interactive components
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/fab/fab.tsx
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/link/link.tsx
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/pick-list-item/pick-list-item.tsx
  packages/calcite-components/src/components/pick-list/shared-list-render.tsx
  packages/calcite-components/src/components/radio-button/radio-button.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/components/split-button/split-button.tsx
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/switch/switch.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/components/tile-select-group/tile-select-group.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
  packages/calcite-components/src/utils/interactive.spec.ts
  packages/calcite-components/src/utils/interactive.tsx
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
Labels: bug, pr ready for visual snapshots

#8447 build: resolve design-tokens dependency related test errors
  package-lock.json
  packages/calcite-components/src/components/split-button/split-button.tsx
  packages/calcite-components/support/patchESMResolution.ts
  packages/calcite-design-tokens/jest.config.json
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/tests/index.spec.ts
  packages/calcite-design-tokens/support/token-transformer/helpers/createCalciteTokenFiles.spec.ts
  packages/calcite-design-tokens/support/token-transformer/helpers/getFiles.spec.ts
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueLineHeight.ts
Labels: chore, skip visual snapshots

#8458 fix(filter): prevent console warning from displaying to end users
  packages/calcite-components/src/components/filter/filter.tsx
Labels: bug, skip visual snapshots

#8410 chore(deps): bump `prettier` to v3
  package-lock.json
  package.json
  packages/calcite-components/support/generateT9nTypes.ts
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/css.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/docs.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/javascript.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/scss.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
Labels: chore, skip visual snapshots

#8467 ci(pre-commit): automatically stage changes to components.d.ts
  .husky/pre-commit
Labels: chore, skip visual snapshots

#8424 fix(table): Improve Table overflow behavior
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/table-cell/resources.ts
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/resources.ts
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/resources.ts
  packages/calcite-components/src/components/table-row/table-row.scss
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.scss
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Labels: bug, pr ready for visual snapshots

#8470 fix(list): fix keyboard arrow navigation
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, skip visual snapshots

#8472 chore(modal): remove e2e tests that are covered by the dedicated `openClose` commonTests helper
  packages/calcite-components/src/components/modal/modal.e2e.ts
Labels: chore, skip visual snapshots, low risk

#8497 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#8481 fix(list): correct selectedItems value when list is filtered
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, skip visual snapshots

#8494 fix(list-item): store last focused cell from focusing on elements within a cell.
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list/list.e2e.ts
Labels: bug, skip visual snapshots

#8511 build(storybook): resolve error due to webpack dependency conflicts
  package-lock.json
  package.json
Labels: chore, pr ready for visual snapshots

#8483 feat(handle): Add `blurUnselectDisabled` property to disable unselecting handle on blur.
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, enhancement, skip visual snapshots

#8509 fix(table): Fix double border on `bordered` Table Rows in `table-footer`
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Labels: bug, pr ready for visual snapshots

#8525 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots
