Repository Esri/calcite-design-system, pull requests merged in 2023-10, with the labels that each got.

#7907 fix(table): Fix selection display in RTL
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table/table.stories.ts
Labels: bug, pr ready for visual snapshots

#7914 chore(tab-nav): adds base message bundles
  packages/calcite-components/src/components/tab-nav/assets/tab-nav/t9n/messages.json
  packages/calcite-components/src/components/tab-nav/assets/tab-nav/t9n/messages_en.json
  t9nmanifest.txt
Labels: chore, skip visual snapshots, low risk

#7918 chore(stepper): add message bundles for responsive layout
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages.json
  packages/calcite-components/src/components/stepper-item/assets/stepper-item/t9n/messages_en.json
Labels: chore, skip visual snapshots, low risk

#7922 ci: the current milestone ends after release day
  .github/scripts/limitPullRequestsForMaintenanceReleases.js
  .github/workflows/limit-prs-for-maintenance-releases.yml
Labels: chore, tooling, skip visual snapshots

#7915 feat(input-date-picker, input-time-picker): add status property
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Labels: enhancement, pr ready for visual snapshots

#7916 chore: add npm script for restoring changes to component readmes
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#7913 feat(input-time-zone): add time zone offset and name mode
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input-time-zone/interfaces.d.ts
  packages/calcite-components/src/components/input-time-zone/usage/Basic.md
  packages/calcite-components/src/components/input-time-zone/usage/TimeZoneNames.md
  packages/calcite-components/src/components/input-time-zone/utils.ts
  packages/calcite-components/src/demos/input-time-zone.html
Labels: enhancement, pr ready for visual snapshots

#7718 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, p - high, skip visual snapshots, autorelease: pending

#7933 build(deps): bump timezone-groups
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, pr ready for visual snapshots, low risk

#7938 chore: update issue template labels to support workflows
  .github/ISSUE_TEMPLATE/research.yml
  .github/ISSUE_TEMPLATE/test.yml
Labels: chore, skip visual snapshots, low risk

#7927 fix(panel): fix collapse action title and reverse icon direction
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Labels: bug, pr ready for visual snapshots, low risk

#7931 test(flow-item, panel): add tests for internal property.
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
Labels: enhancement, testing, pr ready for visual snapshots, low risk

#7949 chore(deps): update calcite-ui-icons to 3.24.7
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots, low risk

#7954 fix(combobox): fix issue causing value to be cleared when selecting an item (Windows + trackpad)
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots, p - critical

#7947 fix(input-time-zone): fix handling of unknown and cityless time zones from offset display mode
  packages/calcite-components/src/components/input-time-zone/utils.ts
Labels: bug, pr ready for visual snapshots, p - critical

#7945 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, p - high, skip visual snapshots, autorelease: pending

#7960 fix(flow-item): update collapsed property when collapse button is clicked
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
Labels: bug, pr ready for visual snapshots, low risk

#7962 build: bump timezone-groups
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, regression, pr ready for visual snapshots

#7967 fix(table): Improve scrollbar display
  packages/calcite-components/src/components/table/table.scss
Labels: bug, pr ready for visual snapshots, low risk

#7971 fix(input-time-zone): fix error caused by time zone group filtering
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/utils.ts
Labels: bug, p - high, pr ready for visual snapshots

#7963 test(input-time-zone): restore common tests
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
Labels: testing, skip visual snapshots, low risk

#7983 ci: don't link design-token version to CC version
  support/syncLinkedPackageVersions.ts
Labels: chore, p - high

#7961 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, p - high, skip visual snapshots, autorelease: pending

#7992 feat: add xxs breakpoint to tokens
  packages/calcite-design-tokens/src/core.json
Labels: enhancement, skip visual snapshots, low risk

#7879 refactor: modify drag-enabled styling on supported components
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/components/list-item/list-item.scss
Labels: refactor, pr ready for visual snapshots, low risk

#7987 chore: add @esri/calcite-design-tokens to issue templates
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Labels: chore, skip visual snapshots, low risk

#7973 refactor: extract icon scale adjustment logic into utility function
  my-con
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/utils/component.spec.ts
  packages/calcite-components/src/utils/component.ts
Labels: refactor, pr ready for visual snapshots, low risk

#8001 fix: floating components will now get an initial position even if they are not opened
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Labels: bug, pr ready for visual snapshots, low risk

#8004 fix(stepper): selects next enabled stepper-item when first one is disabled
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.stories.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Labels: bug, pr ready for visual snapshots, low risk

#8009 fix(icon): use pixel sizes for icons
  packages/calcite-components/src/components/icon/icon.scss
  packages/calcite-components/src/components/icon/icon.stories.ts
Labels: bug, p - high, pr ready for visual snapshots

#8013 refactor(stepper): disconnects observer when component is disconnected
  packages/calcite-components/src/components/stepper/stepper.tsx
Labels: refactor, skip visual snapshots, low risk

#8017 fix(pagination): prevents console error when page-size is set to zero
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.tsx
Labels: bug, pr ready for visual snapshots, low risk

#8014 feat(block): ensure chevron is always displayed
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
Labels: bug, enhancement, skip visual snapshots, low risk

#7999 chore(markdownlint): fix path to gitignore in design-tokens
  packages/calcite-design-tokens/package.json
Labels: chore, skip visual snapshots, low risk

#8034 chore: remove empty file
  my-con
Labels: chore, skip visual snapshots, low risk

#8012 fix(input-date-picker, input-time-picker): adjust chevron scale accordingly
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Labels: bug, pr ready for visual snapshots, low risk

#8015 fix(button, fab, inline-editable, split-button): prevent redundant opacity when button is both loading and disabled
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/button/button.stories.ts
  packages/calcite-components/src/components/fab/fab.stories.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.stories.ts
  packages/calcite-components/src/components/split-button/split-button.stories.ts
Labels: bug, pr ready for visual snapshots, low risk

#8045 test(combobox): add test for filter being cleared if there's a delay between pointer down and up
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Labels: testing, skip visual snapshots, low risk

#8042 fix(list-item): restore tabbability when an item's disabled prop is toggled
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/utils/interactive.ts
Labels: bug, skip visual snapshots, low risk

#8008 feat: add icon tokens
  packages/calcite-design-tokens/src/$themes.json
  packages/calcite-design-tokens/src/component/icon.json
Labels: enhancement, skip visual snapshots, low risk

#8044 feat: add js platform formats to calcite-design-tokens
  package-lock.json
  package.json
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/support/token-transformer/format/javascript.ts
  packages/calcite-design-tokens/support/token-transformer/sd-run.ts
Labels: enhancement, skip visual snapshots, low risk

#7998 chore: align expected node engine with volta
  CONTRIBUTING.md
  package.json
Labels: chore, tooling, skip visual snapshots, low risk

#7994 feat: reorganize breakpoints
  packages/calcite-design-tokens/src/core.json
Labels: enhancement, skip visual snapshots, low risk

#8041 chore(responsive): add xxs breakpoint prop
  packages/calcite-components/src/utils/responsive.spec.ts
  packages/calcite-components/src/utils/responsive.ts
  support/dictionaries/dict-calcite-design-system.txt
Labels: chore, skip visual snapshots, low risk

#8052 refactor(button, scrim): ensure ref is set last so attrs/props are in sync
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/scrim/scrim.tsx
Labels: refactor, pr ready for visual snapshots, low risk

#8054 feat(navigation-logo): Adds `icon` and `iconFlipRtl` properties
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
  packages/calcite-components/src/components/navigation-logo/navigation-logo.stories.ts
  packages/calcite-components/src/components/navigation-logo/navigation-logo.tsx
  packages/calcite-components/src/components/navigation-logo/resources.ts
  packages/calcite-components/src/demos/navigation.html
Labels: enhancement, pr ready for visual snapshots, low risk

#8056 refactor(xbutton): extract icon scale from utility function
  packages/calcite-components/src/components/functional/XButton.tsx
Labels: refactor, pr ready for visual snapshots, low risk

#8066 test(block): Add screenshot test for long Block and Block Section props
  packages/calcite-components/src/components/block/block.stories.ts
Labels: testing, pr ready for visual snapshots, low risk

#8068 docs(contributing): add design estimates
  CONTRIBUTING.md
Labels: docs, skip visual snapshots, low risk

#8058 fix(input-time-zone): fix city translations
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
Labels: bug, skip visual snapshots, low risk

#8070 fix(combobox): clear custom input value on blur
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots, low risk

#8069 fix(filter): corrects the accessible label
  packages/calcite-components/src/components/filter/filter.tsx
Labels: bug, skip visual snapshots, low risk

#8075 fix(combobox): ensure icon scales are consistent
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots, low risk

#8085 test: skip unstable tests
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Labels: testing, skip visual snapshots, low risk

#7605 refactor(tabs, tab, tab-nav, tab-title): `getElementProp` is refactored out in favor of inheritable props set directly on parent
  packages/calcite-components/src/components/tab-nav/readme.md
  packages/calcite-components/src/components/tab-nav/resources.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/tab-nav/usage/Basic.md
  packages/calcite-components/src/components/tab-title/resources.ts
  packages/calcite-components/src/components/tab-title/tab-title.e2e.ts
  packages/calcite-components/src/components/tab-title/tab-title.scss
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/tab/resources.ts
  packages/calcite-components/src/components/tab/tab.e2e.ts
  packages/calcite-components/src/components/tab/tab.scss
  packages/calcite-components/src/components/tab/tab.tsx
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.stories.ts
  packages/calcite-components/src/components/tabs/tabs.tsx
Labels: refactor, skip visual snapshots, low risk

#7997 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package-lock.json
  packages/calcite-design-tokens/package.json
Labels: chore, skip visual snapshots, autorelease: pending, low risk

#8094 test(input-time-zone): update screenshot tests to use time zones unaffected by DST
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
Labels: testing, pr ready for visual snapshots

#8097 docs(contributing): add supporting context for new contributors
  CONTRIBUTING.md
Labels: docs, skip visual snapshots

#8098 ci: automate research spike issue completion
  .github/scripts/notifyWhenSpikeComplete.js
  .github/workflows/spike-complete.yml
Labels: chore, skip visual snapshots

#8093 test(input-time-zone): restore skipped tests
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Labels: testing, skip visual snapshots

#8095 fix(combobox-item): hide disabled item icon
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Labels: bug, pr ready for visual snapshots, low risk

#8096 fix(input-time-zone): fix Indian/Christmas time zone translation
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
Labels: bug, skip visual snapshots
