Repository Esri/calcite-design-system, pull requests merged in 2023-05, with the labels that each got.

#6876 docs(color-picker): update allowEmpty prop description
  src/components/color-picker/color-picker.tsx
Labels: docs

#6891 fix(shell-center-row): Correctly do not set Action Bar layout
  src/components/shell-center-row/shell-center-row.tsx
  src/components/shell/shell.stories.ts
Labels: bug, pr ready for visual snapshots

#6895 fix(deps): move `composed-offset-position` to dependencies
  package-lock.json
  package.json
Labels: bug

#6894 feat(list): adds `calciteListChange` event to get `selectedItems`.
  src/components/list/list.e2e.ts
  src/components/list/list.tsx
  src/components/list/resources.ts
Labels: enhancement, pr ready for visual snapshots

#6900 build(deps): Bump floating-ui from 1.2.1 to 1.2.7
  package-lock.json
  package.json
Labels: chore, pr ready for visual snapshots

#6902 build(deps): bump volta's pinned node version
  package.json
Labels: chore, pr ready for visual snapshots

#2841 feat(color-picker): add support for alpha channel (deprecates `hideChannels`, `hideHex`, `hideSaved`)
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.scss
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
  src/components/color-picker-hex-input/resources.ts
  src/components/color-picker-swatch/color-picker-swatch.e2e.ts
  src/components/color-picker-swatch/color-picker-swatch.scss
  src/components/color-picker-swatch/color-picker-swatch.stories.ts
  src/components/color-picker-swatch/color-picker-swatch.tsx
  src/components/color-picker-swatch/resources.ts
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.scss
  src/components/color-picker/color-picker.stories.ts
  src/components/color-picker/color-picker.tsx
  src/components/color-picker/interfaces.ts
  src/components/color-picker/resources.ts
  src/components/color-picker/utils.spec.ts
  src/components/color-picker/utils.ts
  src/demos/color-picker.html
Labels: enhancement, pr ready for visual snapshots

#6906 feat(panel, flow-item): Add CSS custom property to define footer padding and deprecate "footer-actions" slot.
  src/components/flow-item/flow-item.scss
  src/components/flow-item/flow-item.stories.ts
  src/components/flow-item/flow-item.tsx
  src/components/flow/readme.md
  src/components/flow/usage/Menu-actions-and-footer-actions.md
  src/components/panel/panel.scss
  src/components/panel/panel.stories.ts
  src/components/panel/panel.tsx
  src/components/shell/shell.stories.ts
  src/demos/flow.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-center-row-async.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/demo-app-rtl.html
  src/demos/shell/demo-app.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/nesting-testing.html
Labels: enhancement, pr ready for visual snapshots

#6909 test(list): skip unstable filter test
  src/components/list/list.e2e.ts
Labels: testing

#6911 test(list): skip unstable test
  src/components/list/list.e2e.ts
Labels: testing

#6917 fix(action-bar): Set background color on action-bar
  src/components/action-bar/action-bar.scss
  src/components/panel/panel.stories.ts
Labels: bug, pr ready for visual snapshots

#6920 ci: add ArcGIS Knowledge team label
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
Labels: chore

#6914 build(deps): bump calcite-icons to v3.22.2
  package-lock.json
  package.json
Labels: chore, pr ready for visual snapshots

#6922 fix(tooltip): close tooltip when pointer is moving
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
Labels: bug, pr ready for visual snapshots

#6910 feat(avatar): add label prop for alternative text & aria-label
  src/components/avatar/avatar.stories.ts
  src/components/avatar/avatar.tsx
  src/demos/avatar.html
Labels: enhancement, pr ready for visual snapshots

#6916 chore: update doc for internal DOM utilities
  src/utils/dom.ts
Labels: chore

#6924 test(color-picker): split up some alpha tests to prevent timeouts
  src/components/color-picker/color-picker.e2e.ts
Labels: testing

#6926 fix(tree): allow selection of parent category w/out selecting children
  src/components/tooltip/tooltip.e2e.ts
  src/components/tree-item/tree-item.tsx
  src/components/tree/tree.e2e.ts
  src/components/tree/tree.tsx
  src/demos/tree.html
Labels: bug, pr ready for visual snapshots

#6928 feat(styles): Add additional animation classes
  src/assets/styles/_animation.scss
  src/demos/animation/animation.html
  src/tests/globalStyles.e2e.ts
Labels: enhancement, pr ready for visual snapshots

#6931 build(deps): bump calcite-ui-icons to 3.22.4
  package-lock.json
  package.json
Labels: chore

#6929 test(tooltip): stabilize tests
  src/components/tooltip/tooltip.e2e.ts
Labels: testing

#6938 chore(menu-item): adds base message bundles.
  src/components/menu-item/assets/menu-item/t9n/messages.json
  src/components/menu-item/assets/menu-item/t9n/messages_en.json
  t9nmanifest.txt
Labels: chore, pr ready for visual snapshots

#6935 ci: add label to skip visual snapshots
  .github/workflows/chromatic.yml
Labels: chore, skip visual snapshots

#6915 fix(tooltip): fix focusing tooltip when a referenceElement is within a shadowDOM
  src/components/tooltip/TooltipManager.ts
  src/components/tooltip/tooltip.e2e.ts
  src/utils/dom.spec.ts
  src/utils/dom.ts
Labels: bug, pr ready for visual snapshots

#6946 chore(input-time-zone): add base message bundles
  src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
  t9nmanifest.txt
Labels: chore

#6939 docs: BOILERPLATE_COMPONENT updated per new use of test helpers within describe blocks
  BOILERPLATE_COMPONENT.md
Labels: docs, refactor, skip visual snapshots

#6934 test: set up `focusable` test helper to run a test per use case
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-group/action-group.e2e.ts
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-pad/action-pad.e2e.ts
  src/components/checkbox/checkbox.e2e.ts
  src/components/chip/chip.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker/color-picker.e2e.ts
  src/components/date-picker/date-picker.e2e.ts
  src/components/dropdown-item/dropdown-item.e2e.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/filter/filter.e2e.ts
  src/components/flow-item/flow-item.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input-text/input-text.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input/input.e2e.ts
  src/components/list-item/list-item.e2e.ts
  src/components/list/list.e2e.ts
  src/components/modal/modal.e2e.ts
  src/components/notice/notice.e2e.ts
  src/components/pagination/pagination.e2e.ts
  src/components/panel/panel.e2e.ts
  src/components/pick-list/shared-list-tests.ts
  src/components/popover/popover.e2e.ts
  src/components/radio-button/radio-button.e2e.ts
  src/components/rating/rating.e2e.ts
  src/components/segmented-control/segmented-control.e2e.ts
  src/components/select/select.e2e.ts
  src/components/split-button/split-button.e2e.ts
  src/components/text-area/text-area.e2e.ts
  src/components/tile-select/tile-select.e2e.ts
  src/components/time-picker/time-picker.e2e.ts
  src/components/value-list-item/value-list-item.e2e.ts
  src/tests/commonTests.ts
Labels: testing, skip visual snapshots

#6952 docs(chip, chip-group): provide context to parent scale inheritance
  src/components/chip-group/chip-group.tsx
  src/components/chip/chip.tsx
Labels: docs, skip visual snapshots

#6961 chore(linting): ban use of `:host-context` until all browsers support it
  .stylelintrc.json
  src/components/stepper/stepper.scss
Labels: chore

#6959 fix(tip-manager): Set padding for tips and tip-groups consistently
  src/components/tip-group/tip-group.scss
  src/components/tip-manager/tip-manager.scss
  src/components/tip-manager/tip-manager.stories.ts
  src/index.html
Labels: bug, pr ready for visual snapshots

#6936 fix(input-time-picker): allow entering localized time formats
  package-lock.json
  package.json
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
  src/components/time-picker/time-picker.tsx
  src/demos/_assets/locales.ts
  src/demos/input-time-picker.html
  src/utils/locale.ts
  src/utils/time.spec.ts
  src/utils/time.ts
  support/setUpDayJsLocales.ts
Labels: bug, pr ready for visual snapshots

#6919 feat(shell-panel): Add `displayMode` and `heightScale` properties and deprecate `detached` and `detachedHeightScale`
  src/components/shell-panel/interfaces.d.ts
  src/components/shell-panel/resources.ts
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/shell-panel/shell-panel.scss
  src/components/shell-panel/shell-panel.tsx
  src/components/shell/shell.stories.ts
  src/components/shell/usage/Advanced.md
  src/demos/mode/auto.html
  src/demos/shell-panel.html
  src/demos/shell-panel/basic.html
  src/demos/shell/block-configurations.html
  src/demos/shell/demo-app-advanced-2-shell-header.html
  src/demos/shell/demo-app-advanced-2.html
  src/demos/shell/demo-app-advanced-3.html
  src/demos/shell/demo-app-advanced-center-row.html
  src/demos/shell/demo-app-advanced.html
  src/demos/shell/demo-app-center-row-action-bar.html
  src/demos/shell/demo-app-full-window-reversed.html
  src/demos/shell/demo-app-full-window.html
  src/demos/shell/nesting-testing-flow.html
  src/demos/shell/nesting-testing.html
  src/demos/shell/popup-config-example.html
  src/index.html
  src/utils/resources.ts
Labels: enhancement, pr ready for visual snapshots

#6970 fix(input-date-picker): update input-date-picker to properly handle Buddhist calendar changes
  src/components/date-picker-month-header/date-picker-month-header.tsx
  src/components/date-picker-month-header/resources.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/utils/date.spec.ts
  src/utils/date.ts
Labels: bug, pr ready for visual snapshots

#6974 build(deps): Bump focus-trap from 7.4.1 to 7.4.2
  package-lock.json
  package.json
Labels: chore, pr ready for visual snapshots

#6978 fix(flow-item): Close back button tooltip on click
  src/components/flow-item/flow-item.e2e.ts
  src/components/flow-item/flow-item.tsx
Labels: bug, pr ready for visual snapshots

#6973 fix(combobox): ensure most recent selected item is active when combobox is opened
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots

#6977 fix(popover): change event listener to 'pointerup'
  src/components/popover/PopoverManager.ts
Labels: bug, pr ready for visual snapshots

#6963 fix(segmented-control): handle segmented-control-items with duplicate values
  src/components/segmented-control/segmented-control.tsx
Labels: bug, pr ready for visual snapshots

#6972 feat(combobox): make combobox clearable
  src/assets/styles/includes.scss
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/assets/combobox/t9n/messages.json
  src/components/combobox/assets/combobox/t9n/messages_en.json
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.scss
  src/components/combobox/combobox.stories.ts
  src/components/combobox/combobox.tsx
  src/components/functional/XButton.tsx
Labels: enhancement, pr ready for visual snapshots

#6982 fix(time-picker): prevent time-picker part steppers from being focusable
  src/components/time-picker/time-picker.e2e.ts
  src/components/time-picker/time-picker.tsx
Labels: bug, pr ready for visual snapshots

#6979 refactor(combobox, combobox-item): tidy up CSS object usage
  src/components/combobox/combobox.e2e.ts
  src/components/combobox/combobox.tsx
  src/components/combobox/resources.ts
Labels: refactor, pr ready for visual snapshots

#6984 build(deps): bump calcite-ui-icons to 3.22.6
  package-lock.json
  package.json
Labels: chore, skip visual snapshots

#6985 fix(popover): change event listener to 'pointerup'
  CHANGELOG.md
  src/components/popover/PopoverManager.ts
Labels: bug

#6983 fix(value-list, sortable-list): fix nested sorting components
  src/components/sortable-list/sortable-list.tsx
  src/components/value-list/value-list.tsx
  src/demos/sortable-list.html
  src/utils/sortableComponent.ts
Labels: bug, pr ready for visual snapshots

#6903 feat(stack): Adds new `Stack` component to arrange content and actions
  src/components/stack/readme.md
  src/components/stack/resources.ts
  src/components/stack/stack.e2e.ts
  src/components/stack/stack.scss
  src/components/stack/stack.stories.ts
  src/components/stack/stack.tsx
  src/components/stack/usage/Basic.md
  src/components/stack/usage/Disabled.md
  src/demos/stack.html
  src/index.html
  stencil.config.ts
Labels: enhancement, pr ready for visual snapshots

#6986 fix(tab-nav): ensure selected title is set when tab change event is emitted
  src/components/tab-title/tab-title.tsx
  src/components/tabs/tabs.e2e.ts
Labels: bug, skip visual snapshots

#6873 feat(navigation, navigation-logo, navigation-user): Add navigation, navigation-logo & navigation-user components.
  src/components/menu-item/menu-item.e2e.ts
  src/components/menu-item/menu-item.scss
  src/components/menu-item/menu-item.stories.ts
  src/components/menu-item/readme.md
  src/components/menu/menu.stories.ts
  src/components/menu/readme.md
  src/components/navigation-logo/navigation-logo.e2e.ts
  src/components/navigation-logo/navigation-logo.scss
  src/components/navigation-logo/navigation-logo.stories.ts
  src/components/navigation-logo/navigation-logo.tsx
  src/components/navigation-logo/readme.md
  src/components/navigation-logo/resources.ts
  src/components/navigation-logo/usage/Basic.md
  src/components/navigation-user/navigation-user.e2e.ts
  src/components/navigation-user/navigation-user.scss
  src/components/navigation-user/navigation-user.stories.ts
  src/components/navigation-user/navigation-user.tsx
  src/components/navigation-user/readme.md
  src/components/navigation-user/resources.ts
  src/components/navigation-user/usage/Basic.md
  src/components/navigation/navigation.e2e.ts
  src/components/navigation/navigation.scss
  src/components/navigation/navigation.stories.ts
  src/components/navigation/navigation.tsx
  src/components/navigation/readme.md
  src/components/navigation/resources.ts
  src/components/navigation/usage/Basic.md
  src/demos/_assets/images/acme-logo.svg
  src/demos/_assets/images/dashboard-logo.svg
  src/demos/_assets/images/dev-docs.svg
  src/demos/_assets/images/esri-logo.svg
  src/demos/_assets/images/mapviewer-logo.svg
  src/demos/_assets/images/online-logo.svg
  src/demos/_assets/images/quickcapture-logo.svg
  src/demos/_assets/images/scene-viewer.svg
  src/demos/_assets/images/storymaps-logo.svg
  src/demos/_assets/images/survey123-logo.svg
  src/demos/_assets/navigation-demos.css
  src/demos/menu.html
  src/demos/navigation.html
  src/index.html
  src/utils/dom.spec.ts
  src/utils/dom.ts
  stencil.config.ts
Labels: enhancement, pr ready for visual snapshots

#6740 feat(tab-nav): adds optional closable functionality to individual `tab-titles`
  src/components/tab-nav/tab-nav.tsx
  src/components/tab-title/assets/tab-title/t9n/messages.json
  src/components/tab-title/assets/tab-title/t9n/messages_ar.json
  src/components/tab-title/assets/tab-title/t9n/messages_bg.json
  src/components/tab-title/assets/tab-title/t9n/messages_bs.json
  src/components/tab-title/assets/tab-title/t9n/messages_ca.json
  src/components/tab-title/assets/tab-title/t9n/messages_cs.json
  src/components/tab-title/assets/tab-title/t9n/messages_da.json
  src/components/tab-title/assets/tab-title/t9n/messages_de.json
  src/components/tab-title/assets/tab-title/t9n/messages_el.json
  src/components/tab-title/assets/tab-title/t9n/messages_en.json
  src/components/tab-title/assets/tab-title/t9n/messages_es.json
  src/components/tab-title/assets/tab-title/t9n/messages_et.json
  src/components/tab-title/assets/tab-title/t9n/messages_fi.json
  src/components/tab-title/assets/tab-title/t9n/messages_fr.json
  src/components/tab-title/assets/tab-title/t9n/messages_he.json
  src/components/tab-title/assets/tab-title/t9n/messages_hr.json
  src/components/tab-title/assets/tab-title/t9n/messages_hu.json
  src/components/tab-title/assets/tab-title/t9n/messages_id.json
  src/components/tab-title/assets/tab-title/t9n/messages_it.json
  src/components/tab-title/assets/tab-title/t9n/messages_ja.json
  src/components/tab-title/assets/tab-title/t9n/messages_ko.json
  src/components/tab-title/assets/tab-title/t9n/messages_lt.json
  src/components/tab-title/assets/tab-title/t9n/messages_lv.json
  src/components/tab-title/assets/tab-title/t9n/messages_nl.json
  src/components/tab-title/assets/tab-title/t9n/messages_no.json
  src/components/tab-title/assets/tab-title/t9n/messages_pl.json
  src/components/tab-title/assets/tab-title/t9n/messages_pt-BR.json
  src/components/tab-title/assets/tab-title/t9n/messages_pt-PT.json
  src/components/tab-title/assets/tab-title/t9n/messages_ro.json
  src/components/tab-title/assets/tab-title/t9n/messages_ru.json
  src/components/tab-title/assets/tab-title/t9n/messages_sk.json
  src/components/tab-title/assets/tab-title/t9n/messages_sl.json
  src/components/tab-title/assets/tab-title/t9n/messages_sr.json
  src/components/tab-title/assets/tab-title/t9n/messages_sv.json
  src/components/tab-title/assets/tab-title/t9n/messages_th.json
  src/components/tab-title/assets/tab-title/t9n/messages_tr.json
  src/components/tab-title/assets/tab-title/t9n/messages_uk.json
  src/components/tab-title/assets/tab-title/t9n/messages_vi.json
  src/components/tab-title/assets/tab-title/t9n/messages_zh-CN.json
  src/components/tab-title/assets/tab-title/t9n/messages_zh-HK.json
  src/components/tab-title/assets/tab-title/t9n/messages_zh-TW.json
  src/components/tab-title/resources.ts
  src/components/tab-title/tab-title.e2e.ts
  src/components/tab-title/tab-title.scss
  src/components/tab-title/tab-title.tsx
  src/components/tab/interfaces.ts
  src/components/tab/tab.e2e.ts
  src/components/tabs/tabs.e2e.ts
  src/components/tabs/tabs.stories.ts
  t9nmanifest.txt
Labels: enhancement, pr ready for visual snapshots

#6987 docs(changelog): organize for release
  CHANGELOG.md
Labels: docs, skip visual snapshots

#6999 build(deps): bump calcite-ui-icons to 3.22.7
  package-lock.json
  package.json
Labels: chore, pr ready for visual snapshots

#6992 chore: tidy up imports
  src/components/chip/chip.tsx
  src/components/fab/fab.e2e.ts
  src/components/inline-editable/inline-editable.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input/input.tsx
  src/components/list-item-group/list-item-group.e2e.ts
  src/components/stack/stack.e2e.ts
  src/components/tree-item/tree-item.tsx
Labels: chore

#7002 fix(hydrate): fix errors caused by message bundle fetch attempts during prerendering
  src/utils/t9n.ts
Labels: bug, skip visual snapshots

#7008 docs(navigation, menu-item): reallocate slots for jsdoc generation
  src/components/menu-item/menu-item.tsx
  src/components/navigation/navigation.tsx
Labels: docs, skip visual snapshots

#6932 build: update browserslist db
  package-lock.json
Labels: chore

#7009 fix(color-picker): prevent hue slider thumb from wrapping when dragged near/past the edge
  src/components/color-picker/color-picker.e2e.ts
  src/components/color-picker/color-picker.stories.ts
  src/components/color-picker/color-picker.tsx
Labels: bug, pr ready for visual snapshots

#7011 fix(navigation-logo, navigation-user): Prevent inheriting line-height
  src/components/navigation-logo/navigation-logo.scss
  src/components/navigation-logo/navigation-logo.stories.ts
  src/components/navigation-logo/navigation-logo.tsx
  src/components/navigation-logo/resources.ts
  src/components/navigation-user/navigation-user.scss
  src/components/navigation-user/navigation-user.stories.ts
  src/components/navigation-user/navigation-user.tsx
  src/components/navigation-user/resources.ts
  src/components/navigation/navigation.stories.ts
Labels: bug, pr ready for visual snapshots

#6993 fix(menu): ensure role type is compatible with Stencil's HTMLAttributes interface
  src/components/menu/menu.tsx
  src/utils/globalAttributes.spec.ts
  src/utils/globalAttributes.ts
Labels: bug, skip visual snapshots

#6989 fix(list): filter nested children correctly
  src/components/list-item-group/list-item-group.scss
  src/components/list/list.stories.ts
  src/components/list/list.tsx
  src/demos/list.html
Labels: bug, pr ready for visual snapshots

#7018 ci(lint): add blank line before first jsdoc tag
  .eslintrc.json
Labels: chore, skip visual snapshots

#6990 fix(input-time-picker): ensure dynamic date/time locale config imports are compatible with bundlers that require static import paths
  package-lock.json
  package.json
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input-time-picker/resources.ts
  support/setUpDayJsLocales.ts
Labels: bug, pr ready for visual snapshots

#7024 chore(linting): set up import linting rules
  .eslintrc.json
  package-lock.json
  package.json
  src/components/input-date-picker/input-date-picker.e2e.ts
Labels: chore, skip visual snapshots

#7028 fix(menu-item): Ensure icon displays when `href` is populated
  src/components/menu-item/menu-item.scss
  src/components/menu-item/menu-item.tsx
Labels: bug, pr ready for visual snapshots

#7021 chore(text-area): adds message to improve context when character limit exceeds.
  src/components/text-area/assets/text-area/t9n/messages.json
  src/components/text-area/assets/text-area/t9n/messages_en.json
Labels: enhancement, chore, skip visual snapshots

#7031 fix: ensure mouse events are blocked only when components are disabled
  src/tests/commonTests.ts
  src/utils/interactive.ts
Labels: bug, skip visual snapshots

#7030 fix(color-picker): fix pasting hex with leading # character
  src/components/color-picker-hex-input/color-picker-hex-input.tsx
Labels: bug, pr ready for visual snapshots

#7007 test: set up `defaults` test helper to run a test per use case
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-group/action-group.e2e.ts
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-pad/action-pad.e2e.ts
  src/components/action/action.e2e.ts
  src/components/avatar/avatar.e2e.ts
  src/components/block-section/block-section.e2e.ts
  src/components/block/block.e2e.ts
  src/components/button/button.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker-swatch/color-picker-swatch.e2e.ts
  src/components/color-picker/color-picker.e2e.ts
  src/components/combobox/combobox.e2e.ts
  src/components/date-picker/date-picker.e2e.ts
  src/components/dropdown/dropdown.e2e.ts
  src/components/fab/fab.e2e.ts
  src/components/filter/filter.e2e.ts
  src/components/flow-item/flow-item.e2e.ts
  src/components/graph/graph.e2e.ts
  src/components/icon/icon.e2e.ts
  src/components/input-date-picker/input-date-picker.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input-text/input-text.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input/input.e2e.ts
  src/components/link/link.e2e.ts
  src/components/list-item-group/list-item-group.e2e.ts
  src/components/list-item/list-item.e2e.ts
  src/components/list/list.e2e.ts
  src/components/navigation-user/navigation-user.e2e.ts
  src/components/navigation/navigation.e2e.ts
  src/components/option-group/option-group.e2e.ts
  src/components/option/option.e2e.ts
  src/components/panel/panel.e2e.ts
  src/components/pick-list-group/pick-list-group.e2e.ts
  src/components/pick-list/pick-list.e2e.ts
  src/components/popover/popover.e2e.ts
  src/components/radio-button-group/radio-button-group.e2e.ts
  src/components/radio-button/radio-button.e2e.ts
  src/components/scrim/scrim.e2e.ts
  src/components/shell-center-row/shell-center-row.e2e.ts
  src/components/shell-panel/shell-panel.e2e.ts
  src/components/slider/slider.e2e.ts
  src/components/split-button/split-button.e2e.ts
  src/components/stack/stack.e2e.ts
  src/components/tab/tab.e2e.ts
  src/components/tabs/tabs.e2e.ts
  src/components/text-area/text-area.e2e.ts
  src/components/tile-select-group/tile-select-group.e2e.ts
  src/components/tile-select/tile-select.e2e.ts
  src/components/tile/tile.e2e.ts
  src/components/time-picker/time-picker.e2e.ts
  src/components/tip-manager/tip-manager.e2e.ts
  src/components/tip/tip.e2e.ts
  src/components/tooltip/tooltip.e2e.ts
  src/components/tree-item/tree-item.e2e.ts
  src/components/tree/tree.e2e.ts
  src/tests/commonTests.ts
Labels: testing, skip visual snapshots

#7033 docs(changelog): split beta entries into separate file
  CHANGELOG.md
  CHANGELOG_BETA.md
Labels: docs, skip visual snapshots

#7034 style: lint
  CHANGELOG.md
  src/components/color-picker/color-picker.tsx
  src/components/menu-item/readme.md
  src/components/navigation-logo/navigation-logo.tsx
  src/components/stepper/stepper.scss
  src/utils/globalAttributes.ts
  src/utils/t9n.ts
Labels: chore, skip visual snapshots

#7012 test: set up `reflects` test helper to run a test per use case
  src/components/action-bar/action-bar.e2e.ts
  src/components/action-menu/action-menu.e2e.ts
  src/components/action-pad/action-pad.e2e.ts
  src/components/block-section/block-section.e2e.ts
  src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  src/components/color-picker-swatch/color-picker-swatch.e2e.ts
  src/components/color-picker/color-picker.e2e.ts
  src/components/combobox/combobox.e2e.ts
  src/components/filter/filter.e2e.ts
  src/components/icon/icon.e2e.ts
  src/components/input-number/input-number.e2e.ts
  src/components/input-text/input-text.e2e.ts
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input/input.e2e.ts
  src/components/menu-item/menu-item.e2e.ts
  src/components/navigation-logo/navigation-logo.e2e.ts
  src/components/navigation-user/navigation-user.e2e.ts
  src/components/navigation/navigation.e2e.ts
  src/components/option-group/option-group.e2e.ts
  src/components/option/option.e2e.ts
  src/components/radio-button-group/radio-button-group.e2e.ts
  src/components/radio-button/radio-button.e2e.ts
  src/components/select/select.e2e.ts
  src/components/text-area/text-area.e2e.ts
  src/components/tile-select-group/tile-select-group.e2e.ts
  src/components/tile-select/tile-select.e2e.ts
  src/components/tile/tile.e2e.ts
  src/tests/commonTests.ts
Labels: testing, skip visual snapshots

#7037 fix(input-time-picker): resolve dayjs type error
  src/components/input-time-picker/input-time-picker.tsx
  src/components/input-time-picker/resources.ts
Labels: bug, pr ready for visual snapshots

#7026 fix(tab-title): tabs center when set to `layout='center'`
  src/components/tab-title/tab-title.scss
  src/components/tabs/tabs.stories.ts
Labels: bug, pr ready for visual snapshots

#7038 fix(input-time-picker): allow en-us and other supported lowercase locale codes
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
Labels: bug, pr ready for visual snapshots

#7044 fix(combobox): restore toggling of single-select combobox items
  src/components/combobox-item/combobox-item.tsx
  src/components/combobox/combobox.e2e.ts
Labels: bug, pr ready for visual snapshots

#7016 fix(list-item): Improve item toggle behavior
  src/components/list-item/list-item.e2e.ts
  src/components/list-item/list-item.tsx
  src/components/list/list.tsx
Labels: bug, pr ready for visual snapshots

#7049 fix(input-time-picker): only load valid dayjs locale files and fallback to base lang when region code is unsupported
  src/components/input-time-picker/input-time-picker.e2e.ts
  src/components/input-time-picker/input-time-picker.tsx
Labels: bug, pr ready for visual snapshots

#7047 fix(tab-nav): justify centered `tab-titles` evenly to extend across the width of `tab-nav`
  src/components/tab-nav/tab-nav.scss
  src/components/tab-title/tab-title.scss
  src/components/tabs/tabs.stories.ts
Labels: bug, pr ready for visual snapshots

#7048 test(locale): add `getSupportedLocale` test coverage
  src/utils/locale.spec.ts
Labels: testing, skip visual snapshots

#7058 fix(list-item): always emit calciteListItemSelect on activation
  src/components/list-item/list-item.e2e.ts
  src/components/list-item/list-item.tsx
Labels: bug, pr ready for visual snapshots

#7062 chore: ensure t9nmanifest file is sorted consistently
  support/generateT9nTypes.ts
Labels: chore, skip visual snapshots

#7035 fix(accordion-item): support items working across shadowDOM
  src/components/accordion-item/accordion-item.tsx
Labels: bug, pr ready for visual snapshots

#7051 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots
