Repository Esri/calcite-design-system, pull requests merged in 2024-03, with the labels that each got.

#8853 feat(tab-nav): add component tokens
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
Labels: pr ready for visual snapshots

#8852 feat(tab): add component tokens
  packages/calcite-components/src/components/tab/tab.scss
Labels: pr ready for visual snapshots

#8780 feat(handle): add component tokens
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/handle/handle.scss
  packages/calcite-components/src/components/handle/handle.stories.ts
  packages/calcite-components/src/components/list-item/list-item.scss
Labels: skip visual snapshots, design-tokens

#8836 feat(action): add component tokens
  packages/calcite-components/src/components/action-bar/action-bar.scss
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/resources.ts
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/navigation/navigation.scss
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/stepper/stepper.scss
  packages/calcite-components/src/components/tip-manager/tip-manager.scss
  packages/calcite-components/src/components/tip/tip.scss
Labels: enhancement, design-tokens

#8865 refactor(rating): Update token pattern
  packages/calcite-components/src/components/rating/rating.scss
Labels: pr ready for visual snapshots

#8863 refactor(card-group): Update token pattern
  packages/calcite-components/src/components/card-group/card-group.scss
Labels: pr ready for visual snapshots

#8862 refactor(pagination): Update token pattern
  packages/calcite-components/src/components/pagination/pagination.scss
Labels: pr ready for visual snapshots

#8860 refactor(card): Update token pattern
  packages/calcite-components/src/components/card/card.scss
Labels: pr ready for visual snapshots

#8838 feat(checkbox, tree-item, card): add component tokens with fallbacks
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/card/card.scss
  packages/calcite-components/src/components/checkbox/checkbox.scss
  packages/calcite-components/src/components/icon/icon.scss
  packages/calcite-components/src/components/input-message/input-message.scss
  packages/calcite-components/src/components/tree-item/tree-item.scss
Labels: enhancement, pr ready for visual snapshots, design-tokens

#8857 feat(loader): add fallback component tokens
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/card/card.scss
  packages/calcite-components/src/components/icon/icon.scss
  packages/calcite-components/src/components/input-message/input-message.scss
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/components/scrim/scrim.scss
Labels: enhancement

#8871 fix(action): restore missing CSS lookup props
  packages/calcite-components/src/components/action/resources.ts
Labels: skip visual snapshots

#8872 fix(action): add indicator fallback color
  packages/calcite-components/src/components/action/action.scss
Labels: pr ready for visual snapshots

#8861 refactor(scrim): Update token pattern
  packages/calcite-components/src/components/scrim/scrim.scss
Labels: pr ready for visual snapshots

#8850 test(select): fix form-associated E2E test
  packages/calcite-components/src/components/select/select.e2e.ts
Labels: testing, skip visual snapshots

#8847 refactor(graph): rename to use accent vs highlight
  packages/calcite-components/src/components/graph/graph.scss
Labels: pr ready for visual snapshots

#8874 refactor(card): Update token pattern
  packages/calcite-components/src/components/card/card.scss
Labels: pr ready for visual snapshots

#8873 refactor(meter): Update token pattern
  packages/calcite-components/src/components/meter/meter.scss
Labels: pr ready for visual snapshots

#8876 refactor(chip): Update token pattern
  packages/calcite-components/src/components/chip/chip.scss
Labels: pr ready for visual snapshots

#8822 feat(date-picker): add component tokens
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker/date-picker.scss
Labels: pr ready for visual snapshots

#8866 feat(combobox, combobox-item-group, combobox-item): add component tokens with fallbacks
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.scss
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/input-time-zone/input-time-zone.scss
Labels: pr ready for visual snapshots

#8722 feat(filter): add component tokens
  packages/calcite-components/src/components/filter/filter.scss
  packages/calcite-components/src/components/filter/filter.stories.ts
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/filter/resources.ts
Labels: pr ready for visual snapshots

#8599 feat(select): add component tokens
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/select/select.scss
Labels: pr ready for visual snapshots

#8790 feat(block): add component tokens
  packages/calcite-components/src/components/block/block.scss
Labels: pr ready for visual snapshots

#8795 feat(block-section): add component tokens
  packages/calcite-components/src/components/block-section/block-section.scss
Labels: skip visual snapshots

#8773 feat(list, list-item-group, list-item): Add component tokens
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
Labels: pr ready for visual snapshots

#8835 feat(segmented-control, segmented-control-item): add component tokens
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.scss
  packages/calcite-components/src/components/segmented-control/segmented-control.scss
  packages/calcite-components/src/components/segmented-control/segmented-control.stories.ts
Labels: pr ready for visual snapshots

#8798 feat(shell-center-row): add component tokens
  packages/calcite-components/src/components/shell-center-row/shell-center-row.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Labels: pr ready for visual snapshots

#8796 feat(label): add component tokens
  packages/calcite-components/src/components/label/label.scss
Labels: pr ready for visual snapshots

#8805 refactor(color-picker-swatch): add component tokens
  packages/calcite-components/src/components/color-picker-swatch/color-picker-swatch.scss
Labels: pr ready for visual snapshots, low risk

#8840 test(alert): added text align centered test
  packages/calcite-components/src/components/alert/alert.stories.ts
Labels: enhancement, testing, pr ready for visual snapshots

#8884 refactor(tip): update token pattern
  packages/calcite-components/src/components/tip/tip.scss
  packages/calcite-components/src/components/tip/tip.stories.ts
Labels: pr ready for visual snapshots

#8879 refactor(progress): update token pattern
  packages/calcite-components/src/components/input/input.scss
  packages/calcite-components/src/components/progress/progress.scss
  packages/calcite-components/src/components/progress/progress.stories.ts
Labels: pr ready for visual snapshots

#8893 docs(list): add filter-no-results slot
  packages/calcite-components/src/components/list/list.tsx
Labels: docs, skip visual snapshots

#8882 feat(button): add download property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/demos/button.html
Labels: skip visual snapshots

#8895 feat(navigation-user): adds component tokens
  packages/calcite-components/src/components/navigation-user/navigation-user.scss
Labels: pr ready for visual snapshots

#8905 feat(navigation): adds component tokens
  packages/calcite-components/src/components/navigation/navigation.scss
Labels: pr ready for visual snapshots

#8908 revert: feat(navigation-user): add stateful component tokens
  packages/calcite-components/src/components/navigation-user/navigation-user.scss
Labels: pr ready for visual snapshots

#8898 feat(time-picker): add component tokens to time picker
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/time-picker/time-picker.scss
  packages/calcite-components/src/demos/input-time-picker.html
Labels: enhancement, pr ready for visual snapshots

#8891 fix(link): refactor tokens in link to add fallbacks
  packages/calcite-components/src/components/link/link.scss
  packages/calcite-components/src/demos/link.html
Labels: enhancement, pr ready for visual snapshots

#8894 feat(navigation-logo): adds component tokens
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
  packages/calcite-components/src/components/navigation-logo/navigation-logo.stories.ts
Labels: pr ready for visual snapshots

#8918 fix(navigation-user): allows theming with tokens
  packages/calcite-components/src/components/navigation-user/navigation-user.scss
  packages/calcite-components/src/components/navigation-user/navigation-user.stories.ts
Labels: pr ready for visual snapshots

#8843 feat(menu-item): add component tokens
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/menu-item/menu-item.stories.ts
Labels: pr ready for visual snapshots

#8924 fix(loader): update names
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/card/card.scss
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/components/scrim/scrim.scss
Labels: enhancement, pr ready for visual snapshots

#8923 fix(combobox): prevent toggling items when combobox is closed
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, skip visual snapshots

#8909 fix(combobox): prevent spacebar from opening the menu while focusing on `chip`'s close button
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, skip visual snapshots

#8922 feat(button, fab): add component tokens
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/fab/fab.scss
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/table/table.scss
Labels: enhancement, pr ready for visual snapshots

#8897 ci(pr-semantic): remove no longer needed validateSingleCommit
  .github/workflows/pr-semantic.yml
Labels: chore, Stale, skip visual snapshots

#8932 refactor(select): drop non-subcomponent-related state props
  packages/calcite-components/src/components/select/select.scss
Labels: pr ready for visual snapshots

#8846 feat(switch): add stateful component tokens
  packages/calcite-components/src/components/switch/switch.scss
Labels: pr ready for visual snapshots

#8937 fix(notice): Fix close button focus outline color
  packages/calcite-components/src/components/notice/notice.scss
Labels: pr ready for visual snapshots

#8888 docs(inline-editable): add missing background-color CSS prop
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
Labels: skip visual snapshots

#8878 feat(accordion, accordion-item): add component tokens
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion/accordion.scss
Labels: enhancement, pr ready for visual snapshots

#8921 feat(alert): add component tokens
  packages/calcite-components/src/components/alert/alert.scss
Labels: pr ready for visual snapshots

#8782 feat(tip-manager): add component tokens
  packages/calcite-components/src/components/tip-group/tip-group.scss
  packages/calcite-components/src/components/tip-manager/tip-manager.scss
  packages/calcite-components/src/components/tip-manager/tip-manager.stories.ts
Labels: enhancement, pr ready for visual snapshots

#8941 feat(pagination): Update component tokens
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.stories.ts
  packages/calcite-components/src/demos/pagination.html
Labels: pr ready for visual snapshots

#8936 refactor(date-picker): removes font token and update naming.
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker/date-picker.scss
Labels: pr ready for visual snapshots

#8946 fix(stepper): fix layout when switching modes dynamically to `horizontal-single`
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Labels: bug, pr ready for visual snapshots

#8940 feat(table): Add component tokens
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.scss
  packages/calcite-components/src/components/table/resources.ts
  packages/calcite-components/src/components/table/table.scss
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Labels: pr ready for visual snapshots

#8717 refactor(loader): tidy up styles
  packages/calcite-components/src/components/loader/loader.scss
Labels: refactor, pr ready for visual snapshots, low risk

#8934 feat(date-picker, date-picker-month-header): add component tokens
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
  packages/calcite-components/src/components/date-picker/date-picker.scss
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
Labels: pr ready for visual snapshots

#8619 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action-bar/readme.md
  packages/calcite-components/src/components/action-pad/readme.md
  packages/calcite-components/src/components/block/readme.md
  packages/calcite-components/src/components/button/readme.md
  packages/calcite-components/src/components/card-group/readme.md
  packages/calcite-components/src/components/card/readme.md
  packages/calcite-components/src/components/checkbox/readme.md
  packages/calcite-components/src/components/chip-group/readme.md
  packages/calcite-components/src/components/color-picker/readme.md
  packages/calcite-components/src/components/combobox-item/readme.md
  packages/calcite-components/src/components/combobox/readme.md
  packages/calcite-components/src/components/flow-item/readme.md
  packages/calcite-components/src/components/icon/readme.md
  packages/calcite-components/src/components/input-message/readme.md
  packages/calcite-components/src/components/input-number/readme.md
  packages/calcite-components/src/components/input-text/readme.md
  packages/calcite-components/src/components/input-time-zone/readme.md
  packages/calcite-components/src/components/input/readme.md
  packages/calcite-components/src/components/list/readme.md
  packages/calcite-components/src/components/panel/readme.md
  packages/calcite-components/src/components/radio-button-group/readme.md
  packages/calcite-components/src/components/radio-button/readme.md
  packages/calcite-components/src/components/segmented-control/readme.md
  packages/calcite-components/src/components/stepper-item/readme.md
  packages/calcite-components/src/components/stepper/readme.md
  packages/calcite-components/src/components/tab-nav/readme.md
  packages/calcite-components/src/components/tab/readme.md
  packages/calcite-components/src/components/table/readme.md
  packages/calcite-components/src/components/text-area/readme.md
  packages/calcite-components/src/components/tile-select/readme.md
  packages/calcite-components/src/components/tile/readme.md
Labels: docs, skip visual snapshots

#8608 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#8638 ci(pr-milestone): bump to v3 for Node LTS runner
  .github/workflows/pr-milestone.yml
Labels: chore, skip visual snapshots, low risk

#8951 feat(modal): add component tokens
  packages/calcite-components/src/components/modal/modal.scss
Labels: pr ready for visual snapshots

#8473 refactor(tokens): minor transformer improvements related to Windows support
  packages/calcite-design-tokens/support/tests/index.spec.ts
  packages/calcite-design-tokens/support/token-transformer/helpers/createCalciteTokenFiles.spec.ts
  packages/calcite-design-tokens/support/token-transformer/sd-run.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/docs.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/typography/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/getReferenceFromValue.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/handleBreakpoint.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/handleTypography.ts
Labels: refactor, pr ready for visual snapshots

#8938 fix(list): fix filter box when scrolling in Safari
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, skip visual snapshots

#8957 fix(list, list-item): calcite-select becomes unresponsive in a list-item if drag-disabled is true
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: bug, skip visual snapshots

#8948 refactor(tile): update component CSS props to follow fallback pattern
  packages/calcite-components/src/components/tile/tile.scss
Labels: pr ready for visual snapshots

#8956 feat(color-picker): add component tokens
  packages/calcite-components/src/components/color-picker/color-picker.scss
Labels: pr ready for visual snapshots

#8906 feat(stepper, stepper-item): add component tokens
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper/functional/step-bar.tsx
  packages/calcite-components/src/components/stepper/stepper.scss
  packages/calcite-components/src/components/stepper/stepper.stories.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Labels: pr ready for visual snapshots

#8944 chore: remove storybook doc references
  packages/calcite-components/.storybook/main.ts
  packages/calcite-components/.storybook/preview.ts
  packages/calcite-components/.storybook/utils.tsx
  packages/calcite-components/package.json
Labels: chore, pr ready for visual snapshots

#8870 feat(dropdown, dropdown-item, dropdown-group): add component tokens with fallbacks
  packages/calcite-components/src/components/dropdown-group/dropdown-group.scss
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/split-button/split-button.scss
Labels: enhancement, pr ready for visual snapshots

#8964 fix: fix invalid font stacks
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueFontFamilyFallbacks.ts
Labels: bug, pr ready for visual snapshots

#8962 fix(table): Prevent duplicate scrollbars in certain browsers
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/table-header.tsx
Labels: bug, pr ready for visual snapshots

#8868 feat(icon): add component tokens
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/avatar/avatar.scss
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/components/icon/icon.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-message/input-message.scss
  packages/calcite-components/src/components/link/link.scss
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/components/tab-title/tab-title.scss
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tip-manager/tip-manager.scss
  packages/calcite-components/src/components/tree-item/tree-item.scss
Labels: enhancement

#8961 feat(table-row): Add alignment property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/table-cell/resources.ts
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/resources.ts
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/demos/table.html
Labels: enhancement, pr ready for visual snapshots

#8804 fix(tab): style focus outline of tab content
  packages/calcite-components/src/components/tab/tab.scss
Labels: Stale, skip visual snapshots, low risk

#8949 feat(tree-item): add component tokens
  packages/calcite-components/src/components/tree-item/tree-item.scss
Labels: pr ready for visual snapshots

#8899 feat(slider): add component tokens
  packages/calcite-components/src/components/slider/slider.scss
Labels: pr ready for visual snapshots

#8971 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/color-picker/readme.md
  packages/calcite-components/src/components/table-row/readme.md
Labels: docs

#8972 refactor(split-button): add component tokens
  packages/calcite-components/src/components/split-button/split-button.scss
Labels: enhancement, pr ready for visual snapshots, design-tokens

#8973 fix(dropdown): correct positioning behavior when inside a scrollable container
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
Labels: bug, pr ready for visual snapshots

#8977 refactor(color-picker, color-picker-hex-input): update component tokens
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.scss
  packages/calcite-components/src/components/color-picker/color-picker.scss
Labels: pr ready for visual snapshots

#8968 refactor(action, action-pad, action-bar, action-group, action-menu, popover): component tokens
  packages/calcite-components/src/components/action-bar/action-bar.scss
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-pad/action-pad.scss
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/action/resources.ts
  packages/calcite-components/src/components/popover/popover.scss
Labels: enhancement, pr ready for visual snapshots, design-tokens

#8943 fix(action-menu, combobox, dropdown, popover, tooltip): use click instead of pointerdown for click contexts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/popover/PopoverManager.ts
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
Labels: bug, pr ready for visual snapshots

#8983 fix(popover): prevent disabled reference elements from toggling popover
  packages/calcite-components/src/components/popover/PopoverManager.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/dom.ts
Labels: bug, skip visual snapshots

#8988 feat(tip-group): add component tokens
  packages/calcite-components/src/components/tip-group/tip-group.scss
Labels: pr ready for visual snapshots

#8990 fix(combobox): prevent spacebar from opening the menu when focused on chip's close button
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots

#8998 docs(color-picker): add doc site link to readme
  packages/calcite-components/src/components/color-picker/readme.md
Labels: docs, skip visual snapshots

#8955 fix(input-time-picker): update toggle icon color
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
Labels: bug, pr ready for visual snapshots

#9004 build(deps): update @esri/calcite-ui-icons to v3.26.8
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, pr ready for visual snapshots

#8999 test(action-menu): skip unstable tests
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
Labels: testing, skip visual snapshots

#8984 feat(tile): add content-top and content-bottom slots, deprecate content-start and content-end slots
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile/resources.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/demos/tile.html
Labels: enhancement, pr ready for visual snapshots

#8842 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
Labels: chore, skip visual snapshots, autorelease: pending

#9008 build(components.d.ts): update types for release
  packages/calcite-components/src/components.d.ts
Labels: skip visual snapshots, low risk

#9021 fix(tab-nav): fix custom element creation error in `components` build output
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
Labels: bug, skip visual snapshots

#9019 chore: updates translations.
  packages/calcite-components/src/components/card/assets/card/t9n/messages_ar.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_bg.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_bs.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_ca.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_cs.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_da.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_de.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_el.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_es.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_et.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_fi.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_fr.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_he.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_hr.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_hu.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_id.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_it.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_ja.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_ko.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_lt.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_lv.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_nl.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_no.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_pl.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_pt-BR.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_pt-PT.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_ro.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_ru.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_sk.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_sl.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_sr.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_sv.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_th.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_tr.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_uk.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_vi.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_zh-TW.json
Labels: chore, skip visual snapshots

#8991 fix(table): fix style regression
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table/table.scss
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/demos/table.html
Labels: pr ready for visual snapshots

#9023 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots, autorelease: pending

#9011 ci: prevent outdated types from blocking release
  .github/workflows/deploy-latest.yml
Labels: chore, skip visual snapshots

#8965 fix(tabs): use border prop for bordered styling
  packages/calcite-components/src/components/tab-title/tab-title.scss
  packages/calcite-components/src/components/tabs/tabs.scss
Labels: Stale, pr ready for visual snapshots

#9009 docs(release): add troubleshooting steps
  documentation/releasing.md
Labels: docs, skip visual snapshots
