Repository Esri/calcite-design-system, pull requests merged in 2024-01, with the labels that each got.

#8510 feat(list): Introduce clearer unselected state
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list/list.stories.ts
Labels: enhancement, pr ready for visual snapshots, low risk

#8484 feat(handle): add selected property and calciteHandleChange event.
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/handle/handle.scss
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/handle/resources.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
Labels: enhancement, skip visual snapshots

#8518 fix(input-date-picker): hard to reproduce numbering-system caching issue
  packages/calcite-components/src/components/alert/alert.tsx
Labels: bug, pr ready for visual snapshots

#8524 feat(list-item): Add dragSelected property and calciteListItemDragHandleChange event
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
Labels: enhancement, skip visual snapshots

#8535 docs(tab-nav, table, tabs, tile-select, tree, value-list): consistent api description refs
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/components/tabs/tabs.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/tree/tree.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
Labels: docs, skip visual snapshots

#8537 refactor(list-item): Remove unnecessary code for rendering open caret
  packages/calcite-components/src/components/list-item/list-item.tsx
Labels: bug, refactor, pr ready for visual snapshots

#8542 ci(update-doc): build design tokens to prevent errors
  .github/workflows/update-doc.yml
Labels: chore, skip visual snapshots

#8536 docs(b and c components): consistent api description refs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: docs, skip visual snapshots

#8540 docs(d, f, g, and h-named components): update api description refs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/graph/graph.tsx
  packages/calcite-components/src/components/handle/handle.tsx
Labels: docs, skip visual snapshots

#8491 fix(button): don't needlessly overwrite title
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.tsx
Labels: skip visual snapshots

#8554 fix(input-date-picker): ensure range icon toggles open corresponding date-picker
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Labels: bug, pr ready for visual snapshots

#8551 refactor: remove @ts-ignore needed for Stencil missing in JSX types
  packages/calcite-components/src/utils/interactive.tsx
Labels: refactor, skip visual snapshots

#8541 fix(list, list-item, list-item-group): honor hidden attribute on list-item and list-item-group
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item-group/list-item-group.e2e.ts
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, pr ready for visual snapshots

#8545 docs: consistent api description refs m thru s-comps
  packages/calcite-components/src/components/meter/meter.tsx
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/navigation-logo/navigation-logo.tsx
  packages/calcite-components/src/components/navigation-user/navigation-user.tsx
  packages/calcite-components/src/components/navigation/navigation.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/pick-list/pick-list.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/split-button/split-button.tsx
Labels: docs, skip visual snapshots

#8550 docs(various components): consistent api description refs
  packages/calcite-components/src/components/accordion/accordion.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/table/table.tsx
Labels: docs, skip visual snapshots

#8563 fix(input, input-number, input-text): restore focus on input after browser validation error is displayed and user continues typing
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/common/tests.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/utils/form.tsx
Labels: bug, pr ready for visual snapshots

#8565 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#8532 fix(action): update component tokens to support transparent
  packages/calcite-components/src/components/action/action.scss
Labels: bug, pr ready for visual snapshots, design-tokens

#8573 docs(monorepo): clarify which PR to edit when modifying changelog entry
  documentation/monorepo.md
Labels: docs, skip visual snapshots

#8517 feat(checkbox, combobox, input-date-picker, input-time-picker, segmented-control, select): add required property
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
Labels: enhancement, skip visual snapshots

#8569 feat(list): Add "filter-no-results" slot to display content when no filtered items are shown
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
  packages/calcite-components/src/demos/list.html
Labels: enhancement, pr ready for visual snapshots

#8582 feat(tabs): emit selection-related events when selection is modified after closing the selected tab
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
Labels: enhancement, pr ready for visual snapshots

#8585 test(action-menu): skip close on blur test.
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
Labels: testing, skip visual snapshots

#8580 docs: improve consistency for component prop descriptions
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/fab/fab.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/meter/meter.tsx
  packages/calcite-components/src/components/radio-button/radio-button.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/switch/switch.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/tree/tree.tsx
Labels: docs, skip visual snapshots

#8583 feat: reflect validationIcon property
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Labels: enhancement, refactor, pr ready for visual snapshots

#8584 feat(handle, block, list-item): improve drag handle tooltip to include item label
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages.json
  packages/calcite-components/src/components/handle/assets/handle/t9n/messages_en.json
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/handle/resources.ts
Labels: enhancement, skip visual snapshots

#8592 fix(input-message): add missing margin to scale="s", spacing CSS variable has effect
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-message/input-message.scss
Labels: bug, pr ready for visual snapshots

#8600 chore(inline-editable): add missing scale to slotted inputs in demo page
  packages/calcite-components/src/demos/inline-editable.html
Labels: chore, skip visual snapshots

#8588 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/block-section/readme.md
  packages/calcite-components/src/components/button/readme.md
  packages/calcite-components/src/components/checkbox/readme.md
  packages/calcite-components/src/components/chip/readme.md
  packages/calcite-components/src/components/combobox/readme.md
  packages/calcite-components/src/components/fab/readme.md
  packages/calcite-components/src/components/input-date-picker/readme.md
  packages/calcite-components/src/components/input-number/readme.md
  packages/calcite-components/src/components/input-text/readme.md
  packages/calcite-components/src/components/input-time-picker/readme.md
  packages/calcite-components/src/components/input-time-zone/readme.md
  packages/calcite-components/src/components/input/readme.md
  packages/calcite-components/src/components/meter/readme.md
  packages/calcite-components/src/components/radio-button/readme.md
  packages/calcite-components/src/components/rating/readme.md
  packages/calcite-components/src/components/segmented-control/readme.md
  packages/calcite-components/src/components/select/readme.md
  packages/calcite-components/src/components/shell-panel/readme.md
  packages/calcite-components/src/components/slider/readme.md
  packages/calcite-components/src/components/switch/readme.md
  packages/calcite-components/src/components/text-area/readme.md
  packages/calcite-components/src/components/tile-select/readme.md
  packages/calcite-components/src/components/tile/readme.md
  packages/calcite-components/src/components/tree/readme.md
Labels: docs, skip visual snapshots

#8610 fix(text-area): prevent infinite render loop when `max-length` property is defined
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Labels: bug, pr ready for visual snapshots

#8561 feat(radio-button-group, segmented control): add validationMessage, validationIcon, and status properties
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.e2e.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.scss
  packages/calcite-components/src/components/radio-button-group/radio-button-group.stories.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/radio-button-group/resources.ts
  packages/calcite-components/src/components/segmented-control/resources.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.scss
  packages/calcite-components/src/components/segmented-control/segmented-control.stories.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/demos/radio-button-group.html
  packages/calcite-components/src/demos/segmented-control.html
Labels: enhancement, pr ready for visual snapshots

#8590 refactor(radio-button): fix query selector
  packages/calcite-components/src/components/radio-button/radio-button.tsx
Labels: refactor, skip visual snapshots

#8612 feat(list-item): Add tooltip for expanding and collapsing
  packages/calcite-components/src/components/list-item/assets/list-item/t9n/messages.json
  packages/calcite-components/src/components/list-item/assets/list-item/t9n/messages_en.json
  packages/calcite-components/src/components/list-item/list-item.tsx
Labels: enhancement, skip visual snapshots

#8603 fix(combobox): only allow deleting visible chips with the keyboard
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots

#8574 feat: use input-message to display validation messages for invalid fields after form submission
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/common/tests.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/demos/form.html
  packages/calcite-components/src/utils/form.e2e.ts
  packages/calcite-components/src/utils/form.tsx
  packages/calcite-components/tsconfig-base.json
Labels: enhancement, pr ready for visual snapshots

#8455 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
Labels: chore, skip visual snapshots, autorelease: pending

#8591 refactor: drop `hidden` prop since it is a global attribute
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/radio-button/radio-button.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/tile/tile.tsx
Labels: refactor, pr ready for visual snapshots, low risk

#8622 fix(list-item): always show hover and pointer styling
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
Labels: bug, skip visual snapshots, low risk

#8627 fix(action-menu): clicking an action menu item should call click event.
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Labels: bug, skip visual snapshots, low risk

#8618 feat(button): add component tokens
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/demos/button.html
Labels: enhancement, pr ready for visual snapshots

#8633 feat(action-bar, action-pad, block, flow-item, panel): add `overlayPositioning` prop for built-in menus
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/tests/commonTests.ts
Labels: enhancement, pr ready for visual snapshots, low risk

#8629 feat(tab): add `--calcite-tab-content-block-padding` to override built-in block-padding
  packages/calcite-components/src/components/tab/tab.scss
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Labels: bug, enhancement, pr ready for visual snapshots, low risk

#8625 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, p - high, skip visual snapshots, autorelease: pending

#8602 feat(flow): add component tokens
  packages/calcite-components/src/assets/styles/_host.scss
  packages/calcite-components/src/components/flow/flow.scss
Labels: enhancement, skip visual snapshots

#8648 fix(tile-select): ensure supporting components are auto-defined
  packages/calcite-components/src/components/tile-select/tile-select.tsx
Labels: bug, skip visual snapshots, low risk

#8657 fix(combobox): ensure supporting components are auto-defined
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, skip visual snapshots, low risk

#8656 feat: add `no-dynamic-createelement` rule
  packages/calcite-components/.eslintrc.cjs
  packages/eslint-plugin-calcite-components/docs/no-dynamic-createelement.md
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
  packages/eslint-plugin-calcite-components/src/rules/no-dynamic-createelement.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/no-dynamic-createelement/no-dynamic-createelement.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/no-dynamic-createelement/no-dynamic-createelement.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/no-dynamic-createelement/no-dynamic-createelement.wrong.tsx
Labels: enhancement, skip visual snapshots, low risk

#8665 fix(list-item): Do not focus on item cells on focusIn
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
Labels: bug, pr ready for visual snapshots, low risk

#8663 fix(chip): Prevent rendering internal icon if not necessary.
  packages/calcite-components/src/components/chip/chip.e2e.ts
  packages/calcite-components/src/components/chip/chip.tsx
Labels: bug, skip visual snapshots, low risk
