Repository Esri/calcite-design-system, pull requests merged in 2024-09, with the labels that each got.

#10205 chore: update sortablejs and remove patch
  package-lock.json
  packages/calcite-components/package.json
  patches/sortablejs+1.15.1.patch
Labels: chore, skip visual snapshots

#10128 chore: add translations
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ar.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_bg.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_bs.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ca.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_cs.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_da.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_de.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_el.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_es.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_et.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_fi.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_fr.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_he.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_hr.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_hu.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_id.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_it.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ja.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ko.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_lt.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_lv.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_nl.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_no.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_pl.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_pt-BR.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_pt-PT.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ro.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ru.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_sk.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_sl.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_sr.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_sv.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_th.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_tr.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_uk.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_vi.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-TW.json
Labels: chore, skip visual snapshots

#10141 fix(panel): tweak focusable content area
  packages/calcite-components/src/components/checkbox/checkbox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/radio-button/radio-button.e2e.ts
  packages/calcite-components/src/components/tile-select/tile-select.e2e.ts
  packages/calcite-components/src/tests/commonTests/disabled.ts
  packages/calcite-components/src/tests/commonTests/interfaces.ts
Labels: bug, skip visual snapshots

#10203 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action-bar/readme.md
  packages/calcite-components/src/components/action-group/readme.md
  packages/calcite-components/src/components/action-menu/readme.md
  packages/calcite-components/src/components/action-pad/readme.md
  packages/calcite-components/src/components/action/readme.md
  packages/calcite-components/src/components/card-group/readme.md
  packages/calcite-components/src/components/card/readme.md
  packages/calcite-components/src/components/dialog/readme.md
  packages/calcite-components/src/components/icon/readme.md
  packages/calcite-components/src/components/modal/readme.md
Labels: docs, skip visual snapshots

#10212 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, autorelease: pending

#10213 chore: release main (#10212)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore

#10209 chore: use proper short sha-1 format for startup info message
  packages/calcite-components/stencil.config.ts
Labels: chore, skip visual snapshots

#10200 chore(linting): enable `scss/function-no-unknown` rule
  packages/calcite-components/.stylelintrc.json
Labels: chore, skip visual snapshots

#10189 fix(input-time-picker): automatically close when clicked outside
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Labels: bug, skip visual snapshots

#10226 test(input-time-picker): skip unstable test.
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Labels: skip visual snapshots

#10224 fix(shell): fix z-index of shell-panels
  packages/calcite-components/src/components/shell/shell.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Labels: bug, pr ready for visual snapshots

#10231 chore: update patch for jsdom@21.1.7
  patches/@types+jsdom+21.1.7.patch
Labels: chore, skip visual snapshots

#10239 refactor: only call getElementDir once when positioning floating-ui elements
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Labels: refactor, skip visual snapshots

#10242 fix(panel, flow-item): hide focus-outline when scrolling via mouse to align with browsers
  packages/calcite-components/src/components/panel/panel.scss
Labels: bug, pr ready for visual snapshots

#10228 fix(input-time-zone): ensure `beforeOpen`/`open` and `beforeClose`/`close` events emit properly
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/tests/commonTests/interfaces.ts
  packages/calcite-components/src/tests/commonTests/openClose.ts
  packages/calcite-components/src/tests/commonTests/utils.ts
Labels: bug, skip visual snapshots

#10146 ci(actions): remove needs triage label when issue is ready for dev
  .github/scripts/notifyWhenReadyForDev.js
  .github/scripts/support/resources.js
  .github/scripts/support/utils.js
Labels: chore, skip visual snapshots

#10245 test(input-time-picker): skip unstable test
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Labels: skip visual snapshots

#10247 refactor: resolve minor issues
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion/accordion.e2e.ts
  packages/calcite-components/src/components/graph/graph.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.tsx
Labels: skip visual snapshots

#10246 fix(input-date-picker): no longer emits `calciteInputDatePickerChange` event when `valueAsDate` is set programmatically
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Labels: bug, pr ready for visual snapshots

#10255 chore: release main (#10254)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore

#10266 refactor: simplify HTMLElement type assertions
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/card-group/card-group.tsx
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/utils.ts
  packages/calcite-components/src/components/date-picker-day/date-picker-day.e2e.ts
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/components/menu/menu.tsx
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/radio-button/radio-button.e2e.ts
  packages/calcite-components/src/components/radio-button/radio-button.tsx
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/stepper/stepper.tsx
  packages/calcite-components/src/components/tabs/tabs.tsx
  packages/calcite-components/src/components/tree/tree.tsx
  packages/calcite-components/src/components/value-list/utils.ts
  packages/calcite-components/src/tests/commonTests/formAssociated.ts
  packages/calcite-components/src/utils/dom.ts
  packages/calcite-components/src/utils/form.tsx
  packages/calcite-components/src/utils/label.ts
Labels: skip visual snapshots

#10244 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#10272 feat: add justify
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/justify-16.svg
  packages/calcite-ui-icons/icons/justify-24.svg
  packages/calcite-ui-icons/icons/justify-32.svg
Labels: enhancement, skip visual snapshots

#10250 refactor(openClose): drop unused test helper options
  packages/calcite-components/src/tests/commonTests/openClose.ts
Labels: refactor, skip visual snapshots

#10273 ci(actions): fix adding labels action failing on issues without "Esri team" line
  .github/scripts/addEsriProductLabel.js
Labels: chore, skip visual snapshots

#10268 chore(linting): enable `@typescript-eslint/no-unnecessary-type-assertion` assertion
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/graph/graph.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/meter/meter.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/slider/slider.stories.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
  packages/calcite-components/src/tests/commonTests/themed.ts
  packages/calcite-components/src/tests/utils.ts
  packages/calcite-components/src/utils/date.ts
  packages/calcite-components/src/utils/dom.ts
  packages/calcite-components/src/utils/form.tsx
  packages/calcite-design-tokens/.eslintrc.cjs
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
Labels: chore, skip visual snapshots

#10210 refactor(input-date-picker): update stories to use min/max attributes
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
Labels: refactor, pr ready for visual snapshots

#10261 docs(action-menu, combobox, dropdown, input-date-picker, popover, split-button): update flipPlacements description for consistency
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/split-button/split-button.tsx
Labels: docs, skip visual snapshots

#10206 feat(input, input-number, input-text): add prefix and suffix width css tokens
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/input-number.ts
  packages/calcite-components/src/custom-theme/input-text.ts
  packages/calcite-components/src/custom-theme/input.ts
Labels: enhancement, skip visual snapshots

#10279 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#10286 feat: add web adaptor
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/web-adaptor-16.svg
  packages/calcite-ui-icons/icons/web-adaptor-24.svg
  packages/calcite-ui-icons/icons/web-adaptor-32.svg
Labels: enhancement, skip visual snapshots

#10267 feat(progress): add component tokens
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/progress/progress.e2e.ts
  packages/calcite-components/src/components/progress/progress.scss
  packages/calcite-components/src/components/progress/resources.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/progress.ts
  packages/calcite-components/src/custom-theme/switch.ts
Labels: enhancement, skip visual snapshots

#10296 refactor: avoid and prevent spread attribute usage
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/color-picker-swatch/color-picker-swatch.tsx
  packages/calcite-components/src/components/functional/Heading.tsx
  packages/calcite-components/src/components/loader/loader.tsx
  packages/calcite-components/src/components/pick-list/shared-list-render.tsx
  packages/calcite-components/src/components/rating/functional/star.tsx
Labels: refactor, pr ready for visual snapshots

#10262 feat(handle): add component tokens
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/handle/handle.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/handle.ts
  packages/calcite-components/src/custom-theme/progress.ts
Labels: enhancement, pr ready for visual snapshots

#10294 refactor: remove unused class members
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Labels: refactor, skip visual snapshots

#10305 feat: add model-history, raster-function-history, raster function-template-history, raster-tool-history, tool-history
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/model-history-16.svg
  packages/calcite-ui-icons/icons/model-history-24.svg
  packages/calcite-ui-icons/icons/model-history-32.svg
  packages/calcite-ui-icons/icons/raster-function-history-16.svg
  packages/calcite-ui-icons/icons/raster-function-history-24.svg
  packages/calcite-ui-icons/icons/raster-function-history-32.svg
  packages/calcite-ui-icons/icons/raster-function-template-history-16.svg
  packages/calcite-ui-icons/icons/raster-function-template-history-24.svg
  packages/calcite-ui-icons/icons/raster-function-template-history-32.svg
  packages/calcite-ui-icons/icons/raster-tool-history-16.svg
  packages/calcite-ui-icons/icons/raster-tool-history-24.svg
  packages/calcite-ui-icons/icons/raster-tool-history-32.svg
  packages/calcite-ui-icons/icons/tool-history-16.svg
  packages/calcite-ui-icons/icons/tool-history-24.svg
  packages/calcite-ui-icons/icons/tool-history-32.svg
Labels: enhancement, skip visual snapshots

#10292 chore(icons): ensure UI icons follow naming convention
  .husky/pre-commit
Labels: chore, skip visual snapshots

#10299 revert: "chore: set default page size for E2E tests (#10219)"
  packages/calcite-components/stencil.config.ts
Labels: skip visual snapshots

#10221 feat(checkbox): add component tokens
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/checkbox/checkbox.e2e.ts
  packages/calcite-components/src/components/checkbox/checkbox.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/checkbox.ts
Labels: enhancement, skip visual snapshots

#10295 refactor: fixup typescript errors
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/functional/FloatingArrow.tsx
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/link/link.tsx
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/utils/floating-ui.ts
  packages/calcite-components/src/utils/form.tsx
  packages/calcite-components/src/utils/selectableComponent.ts
  packages/eslint-plugin-calcite-components/src/rules/require-event-emitter-type.ts
  packages/eslint-plugin-calcite-components/src/rules/strict-boolean-attributes.ts
Labels: skip visual snapshots

#10311 refactor(stylelint): change config to module format to enable more dynamic options
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/.stylelintrc.json
Labels: refactor, skip visual snapshots

#10316 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/readme.md
  packages/calcite-components/src/components/action-menu/readme.md
  packages/calcite-components/src/components/checkbox/readme.md
  packages/calcite-components/src/components/combobox/readme.md
  packages/calcite-components/src/components/dropdown/readme.md
  packages/calcite-components/src/components/handle/readme.md
  packages/calcite-components/src/components/input-date-picker/readme.md
  packages/calcite-components/src/components/input-number/readme.md
  packages/calcite-components/src/components/input-text/readme.md
  packages/calcite-components/src/components/input/readme.md
  packages/calcite-components/src/components/loader/readme.md
  packages/calcite-components/src/components/popover/readme.md
  packages/calcite-components/src/components/progress/readme.md
  packages/calcite-components/src/components/split-button/readme.md
Labels: docs, skip visual snapshots

#10314 chore: tidy up demo pages
  packages/calcite-components/src/demos/_assets/head.ts
  packages/calcite-components/src/demos/input-time-picker.html
  packages/calcite-components/src/demos/menu.html
  packages/calcite-components/src/demos/navigation.html
Labels: chore, skip visual snapshots

#10313 chore(linting): automate tracking of custom Sass functions for stylelint
  .husky/pre-commit
  package.json
  packages/calcite-components/.stylelintrc.cjs
  support/updateStylelintCustomSassFunctions.ts
Labels: refactor, chore, skip visual snapshots

#10308 fix(panel): initially closed panel should be hidden
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.tsx
Labels: bug, skip visual snapshots

#10309 fix: correct non-standard filled icon names
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/layers-16-f.svg
  packages/calcite-ui-icons/icons/layers-24-f.svg
  packages/calcite-ui-icons/icons/layers-32-f.svg
  packages/calcite-ui-icons/icons/refresh-16-f.svg
  packages/calcite-ui-icons/icons/refresh-24-f.svg
  packages/calcite-ui-icons/icons/refresh-32-f.svg
  packages/calcite-ui-icons/icons/rss-16-f.svg
  packages/calcite-ui-icons/icons/rss-24-f.svg
  packages/calcite-ui-icons/icons/rss-32-f.svg
Labels: bug, skip visual snapshots

#10338 feat: add content inline right
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/content-inline-right-16.svg
  packages/calcite-ui-icons/icons/content-inline-right-24.svg
  packages/calcite-ui-icons/icons/content-inline-right-32.svg
Labels: enhancement, skip visual snapshots

#10315 feat(carousel): Improve support for high item counts
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
  packages/calcite-components/src/components/carousel/carousel.scss
  packages/calcite-components/src/components/carousel/carousel.stories.ts
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/carousel/resources.ts
  packages/calcite-components/src/demos/carousel.html
Labels: enhancement, pr ready for visual snapshots

#10354 feat: add validate
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/validate-16.svg
  packages/calcite-ui-icons/icons/validate-24.svg
  packages/calcite-ui-icons/icons/validate-32.svg
Labels: enhancement, skip visual snapshots

#10355 fix(action-pad): update layout on action-group elements slotted after initialization
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.tsx
Labels: bug, skip visual snapshots

#10357 fix(popover): update focus trap elements on mutation observer
  packages/calcite-components/src/components/popover/popover.tsx
Labels: bug, skip visual snapshots

#10179 feat(chip): add component tokens
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/chip/chip.e2e.ts
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/chips.ts
Labels: enhancement, pr ready for visual snapshots

#10360 chore(action): add new string for accessible indicator label
  packages/calcite-components/src/components/action/assets/action/t9n/messages.json
  packages/calcite-components/src/components/action/assets/action/t9n/messages_en.json
Labels: i18n-l10n, skip visual snapshots

#10372 docs(a11y): add reference to a11y guidance to issue template
  .github/ISSUE_TEMPLATE/accessibility.yml
Labels: docs, skip visual snapshots

#10367 fix(action): prefer `disabled` in favor of `aria-disabled`
  packages/calcite-components/src/components/action/action.tsx
Labels: bug, skip visual snapshots

#10371 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/avatar/readme.md
  packages/calcite-components/src/components/chip/readme.md
Labels: docs, skip visual snapshots

#10365 ci: resolve husky pre-push and pre-commit errors
  .husky/pre-commit
  .husky/pre-push
  support/updateStylelintCustomSassFunctions.ts
Labels: chore, skip visual snapshots

#10370 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#10373 feat: add 3d building, 3d building parameter, divide, parcel, spaces, spaces parameter, square brackets x, n variable, zoning parameter
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/3d-building-16.svg
  packages/calcite-ui-icons/icons/3d-building-24.svg
  packages/calcite-ui-icons/icons/3d-building-32.svg
  packages/calcite-ui-icons/icons/3d-building-parameter-16.svg
  packages/calcite-ui-icons/icons/3d-building-parameter-24.svg
  packages/calcite-ui-icons/icons/3d-building-parameter-32.svg
  packages/calcite-ui-icons/icons/divide-16.svg
  packages/calcite-ui-icons/icons/divide-24.svg
  packages/calcite-ui-icons/icons/divide-32.svg
  packages/calcite-ui-icons/icons/n-variable-16.svg
  packages/calcite-ui-icons/icons/n-variable-24.svg
  packages/calcite-ui-icons/icons/n-variable-32.svg
  packages/calcite-ui-icons/icons/parcel-16.svg
  packages/calcite-ui-icons/icons/parcel-24.svg
  packages/calcite-ui-icons/icons/parcel-32.svg
  packages/calcite-ui-icons/icons/spaces-16.svg
  packages/calcite-ui-icons/icons/spaces-24.svg
  packages/calcite-ui-icons/icons/spaces-32.svg
  packages/calcite-ui-icons/icons/spaces-parameter-16.svg
  packages/calcite-ui-icons/icons/spaces-parameter-24.svg
  packages/calcite-ui-icons/icons/spaces-parameter-32.svg
  packages/calcite-ui-icons/icons/square-brackets-x-16.svg
  packages/calcite-ui-icons/icons/square-brackets-x-24.svg
  packages/calcite-ui-icons/icons/square-brackets-x-32.svg
  packages/calcite-ui-icons/icons/zoning-parameter-16.svg
  packages/calcite-ui-icons/icons/zoning-parameter-24.svg
  packages/calcite-ui-icons/icons/zoning-parameter-32.svg
Labels: skip visual snapshots

#10339 chore(t9n): add translations
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_ar.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_bg.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_bs.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_ca.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_cs.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_da.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_de.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_el.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_es.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_et.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_fi.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_fr.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_he.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_hr.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_hu.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_id.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_it.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_ja.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_ko.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_lt.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_lv.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_nl.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_no.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_pl.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_pt-BR.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_pt-PT.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_ro.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_ru.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_sk.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_sl.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_sr.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_sv.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_th.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_tr.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_uk.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_vi.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/dialog/assets/dialog/t9n/messages_zh-TW.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_ja.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-CN.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-HK.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_zh-TW.json
Labels: chore, pr ready for visual snapshots

#10253 feat(popover, action): add component tokens
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/popover/resources.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/popover.ts
Labels: enhancement, skip visual snapshots

#10379 refactor(panel): remove duplicate tailwind class
  packages/calcite-components/src/components/panel/panel.scss
Labels: chore, skip visual snapshots

#10218 feat(alert): add component tokens
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/alert.ts
Labels: enhancement, pr ready for visual snapshots

#10344 refactor(tests): reduce TypeScript errors
  packages/calcite-components/src/components/chip-group/chip-group.e2e.ts
  packages/calcite-components/src/components/chip/chip.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/functional/XButton.tsx
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/loader/loader.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/tests/commonTests/t9n.ts
  packages/calcite-components/src/utils/dom.spec.ts
Labels: refactor, skip visual snapshots

#10352 refactor: do not use Host in functional components
  packages/calcite-components/src/components/pick-list/pick-list.tsx
  packages/calcite-components/src/components/pick-list/shared-list-render.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
Labels: refactor, skip visual snapshots

#10356 refactor(components): reduce post-migration TypeScript errors
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/functional/Heading.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/link/link.tsx
  packages/calcite-components/src/components/menu/menu.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
Labels: refactor, skip visual snapshots

#10264 fix(dropdown): open dropdown on `ArrowDown` & `ArrowUp` keys
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Labels: bug, pr ready for visual snapshots

#10366 fix(combobox): selection-mode="single-persist" correctly selects an item when items have same values
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, skip visual snapshots

#10359 fix(action-pad): fix horizontal action group alignment
  packages/calcite-components/src/components/action-pad/action-pad.scss
  packages/calcite-components/src/components/action-pad/action-pad.stories.ts
Labels: bug, pr ready for visual snapshots

#10368 fix(segmented-control): honor appearance, layout and scale when items are added after initialization
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Labels: bug, pr ready for visual snapshots

#10377 feat(list-item): add `unavailable` property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/demos/list.html
Labels: enhancement, pr ready for visual snapshots

#10386 feat(popover): apply component tokens to arrow
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/utils/floating-ui.ts
Labels: enhancement, pr ready for visual snapshots

#10342 fix(list, filter): fix sync between list items and filtered data
  packages/calcite-components/src/components/filter/filter.e2e.ts
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, pr ready for visual snapshots

#10249 feat(action-group, block, panel): add `menuPlacement` and `menuFlipPlacements` properties
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action-group/action-group.e2e.ts
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/tests/commonTests/floatingUI.ts
  packages/calcite-components/src/tests/commonTests/index.ts
  packages/calcite-components/src/utils/floating-ui.ts
Labels: enhancement, pr ready for visual snapshots

#10374 fix: remove aria-disabled from components where necessary
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/card-group/card-group.tsx
  packages/calcite-components/src/components/card/card.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
Labels: bug, pr ready for visual snapshots

#10387 feat(dialog, panel): Add css properties for background-color
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.scss
Labels: enhancement, pr ready for visual snapshots

#10384 feat: add parcel parameter
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/parcel-parameter-16.svg
  packages/calcite-ui-icons/icons/parcel-parameter-24.svg
  packages/calcite-ui-icons/icons/parcel-parameter-32.svg
Labels: enhancement, skip visual snapshots

#10404 fix: properly set aria attributes on components
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/components/tree/tree.tsx
Labels: bug, skip visual snapshots

#10346 ci(changelog): add deprecation commits to changelog automation
  CONTRIBUTING.md
  release-please-config.json
Labels: chore, skip visual snapshots

#10390 fix(text-area): ensure border-color token doesn't override invalid styles
  packages/calcite-components/src/components/text-area/text-area.scss
Labels: enhancement, pr ready for visual snapshots

#10413 fix(input-time-zone): fix region mode quirks after update
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input-time-zone/interfaces.d.ts
  packages/calcite-components/src/components/input-time-zone/utils.ts
Labels: bug, skip visual snapshots

#10417 feat: add dashboard-graph
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/dashboard-graph-16.svg
  packages/calcite-ui-icons/icons/dashboard-graph-24.svg
  packages/calcite-ui-icons/icons/dashboard-graph-32.svg
Labels: skip visual snapshots

#10420 fix(tooltip): closed tooltips should not reappear
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Labels: bug, skip visual snapshots

#10418 chore(issue templates): add arcgis data pipelines to team dropdown
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
Labels: chore, skip visual snapshots

#10427 chore(actions): add custom `deprecate` type to semantic-pr check
  .github/workflows/pr-semantic.yml
Labels: chore, skip visual snapshots

#10421 deprecate: deprecate `enforce-ref-last-prop` rule
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
Labels: skip visual snapshots

#10426 refactor: prevent mixed Sass mixed declaration warnings
  packages/calcite-components/src/assets/styles/_host.scss
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/tip-manager/tip-manager.scss
Labels: refactor, pr ready for visual snapshots

#10430 docs: component token description consistency
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/action-bar/action-bar.scss
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-pad/action-pad.scss
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/avatar/avatar.scss
  packages/calcite-components/src/components/card-group/card-group.scss
  packages/calcite-components/src/components/card/card.scss
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/components/icon/icon.scss
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/progress/progress.scss
  packages/calcite-components/src/components/text-area/text-area.scss
Labels: docs, skip visual snapshots

#10425 refactor(themed): drop broken, unused, regexp arg support
  packages/calcite-components/src/tests/commonTests/themed.ts
Labels: refactor, skip visual snapshots

#10431 test(heading): avoid `newSpecPage` usage to ease Lumina migration
  packages/calcite-components/src/components/functional/Heading.spec.tsx
Labels: skip visual snapshots

#10429 test(card): remove redundant spy and setup wrapper element
  packages/calcite-components/src/components/card/card.e2e.ts
Labels: skip visual snapshots

#10424 test: fix `window.getComputedStyle` arguments
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/chip/chip.e2e.ts
Labels: skip visual snapshots

#10445 deprecate(checkbox, radio-button): deprecate 'guid' properties
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/radio-button/radio-button.tsx
Labels: docs, skip visual snapshots

#10446 feat(panel): improve panel header layout
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/panel/panel.scss
Labels: enhancement, pr ready for visual snapshots
