Repository Esri/calcite-design-system, pull requests merged in 2024-02, with the labels that each got.

#8650 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Labels: chore, p - high, skip visual snapshots, autorelease: pending

#8689 build(storybook): lint component readmes after building docs
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots, low risk

#8693 ci(renovate): remove rate limiting on esri and stencil deps
  .renovaterc.json
Labels: chore, skip visual snapshots, low risk

#8701 chore(deps): drop unused `form-request-submit-polyfill`
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots, low risk

#8680 chore: add angular template link to issue templates
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
Labels: chore, skip visual snapshots, low risk

#8690 fix: don't override existing validationMessage when displaying after form submission
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
  packages/calcite-components/src/tests/commonTests.ts
  packages/calcite-components/src/utils/form.e2e.ts
  packages/calcite-components/src/utils/form.tsx
Labels: bug, pr ready for visual snapshots, low risk

#8672 fix(combobox): avoid inline-start padding on combobox label when icon is displayed
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots, low risk

#8694 fix(preset): add back legacy token for calcite-ui-focus-color
  packages/calcite-components/calcite-preset.ts
Labels: bug, pr ready for visual snapshots, low risk

#8700 fix(color-picker): alpha-channel slider scope updates to reflect current opacity
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Labels: bug, skip visual snapshots, low risk

#8712 fix(list-item): Fix slotted list border styling.
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
Labels: bug, pr ready for visual snapshots, low risk

#8718 test(combobox): fix form-associated test
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: testing, pr ready for visual snapshots, low risk

#8714 fix(loader): optimize animation performance
  packages/calcite-components/src/components/loader/loader.scss
Labels: bug, pr ready for visual snapshots, low risk

#8691 feat(tile): add responsive layout features
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile/readme.md
  packages/calcite-components/src/components/tile/resources.ts
  packages/calcite-components/src/components/tile/tile.e2e.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/demos/tile.html
Labels: enhancement, pr ready for visual snapshots, low risk

#8655 fix(input, input-number, input-text, text-area): ensure all applicable props are considered in form validation
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/common/input.spec.ts
  packages/calcite-components/src/components/input/common/input.ts
  packages/calcite-components/src/components/input/common/tests.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
Labels: bug, pr ready for visual snapshots, low risk

#8686 feat(table): Add `interactionMode` property to control focus behavior
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/table-cell/resources.ts
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/resources.ts
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/interfaces.ts
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Labels: enhancement, pr ready for visual snapshots, low risk

#8662 feat(scrim): Add component tokens
  packages/calcite-components/src/components/scrim/scrim.scss
  packages/calcite-components/src/components/scrim/scrim.stories.ts
  packages/calcite-components/src/demos/scrim.html
Labels: pr ready for visual snapshots

#8605 feat(card): Add component tokens
  packages/calcite-components/src/components/card/card.scss
  packages/calcite-components/src/components/card/card.stories.ts
  packages/calcite-components/src/demos/card.html
Labels: pr ready for visual snapshots

#8739 chore: improve doc for createBreakpointStories helper
  packages/calcite-components/.storybook/utils.tsx
Labels: chore, skip visual snapshots, low risk

#8733 refactor(input): tidy up input spec test
  packages/calcite-components/src/components/input/common/input.spec.ts
Labels: refactor, skip visual snapshots, low risk

#8711 revert: fix(panel, flow-item): remove overflow rule
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/panel/panel.scss
Labels: chore, pr ready for visual snapshots, low risk

#8750 fix: fix styling when dragging items on a mobile device
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: bug, skip visual snapshots, low risk

#8745 feat(icon): add component tokens
  packages/calcite-components/src/components/icon/icon.scss
Labels: design-tokens

#8746 fix: prevent interaction when component is disabled after initialization (Firefox)
  packages/calcite-components/src/utils/interactive.spec.ts
  packages/calcite-components/src/utils/interactive.tsx
Labels: p - high, skip visual snapshots

#8752 build(deps): update dependency @esri/calcite-ui-icons to v3.26.4
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, pr ready for visual snapshots, low risk

#8751 fix: fix dragging items on a mobile device
  package-lock.json
  package.json
  packages/calcite-components/package.json
  patches/sortablejs+1.15.1.patch
Labels: bug, skip visual snapshots, low risk

#8754 feat(table): Improve accessibility of interaction-mode: static Table
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Labels: enhancement, pr ready for visual snapshots, low risk

#8645 feat(notice): Add component tokens
  packages/calcite-components/src/components/notice/notice.scss
  packages/calcite-components/src/components/notice/notice.stories.ts
  packages/calcite-components/src/demos/notice.html
Labels: pr ready for visual snapshots

#8758 fix(stepper): no longer adds default `min-width` for items when `layout='horizontal'`
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/resources.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Labels: bug, pr ready for visual snapshots, skip visual snapshots, low risk

#8706 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, p - high, skip visual snapshots, autorelease: pending

#8762 build(changelog): fix synced version group name
  release-please-config.json
Labels: chore, skip visual snapshots, low risk

#8761 fix: ensure ui-icons are copied from correct path
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/link/link.stories.ts
Labels: bug, chore, pr ready for visual snapshots, low risk

#8765 docs(changelog): specify components group name
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-react/CHANGELOG.md
Labels: docs, skip visual snapshots, low risk

#8642 feat(popover): add component tokens
  packages/calcite-components/src/components/popover/popover.scss
Labels: enhancement, Stale

#8766 fix: prevent package patching on install
  package-lock.json
  package.json
  packages/calcite-components/package.json
Labels: bug, pr ready for visual snapshots, low risk

#8764 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots, autorelease: pending

#8641 feat(tip): add component tokens
  packages/calcite-components/src/components/tip/tip.scss
Labels: enhancement, Stale

#8660 feat(link): add component tokens
  packages/calcite-components/src/components/link/link.scss
  packages/calcite-components/src/demos/link.html
Labels: enhancement, pr ready for visual snapshots

#8607 feat(chip, chip group): Add component tokens
  packages/calcite-components/src/05-custom-theme.stories.mdx
  packages/calcite-components/src/components/chip-group/chip-group.scss
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/components/chip/chip.stories.ts
  packages/calcite-components/src/demos/chip-group.html
  packages/calcite-components/src/demos/chip.html
Labels: pr ready for visual snapshots

#8774 feat(chip): Update token documentation
  packages/calcite-components/src/components/chip/chip.scss
Labels: pr ready for visual snapshots

#8606 feat(meter): Add component tokens
  packages/calcite-components/src/components/meter/meter.scss
  packages/calcite-components/src/components/meter/meter.stories.ts
  packages/calcite-components/src/demos/meter.html
Labels: pr ready for visual snapshots

#8601 feat(text-area): add component tokens
  packages/calcite-components/src/components/text-area/text-area.scss
Labels: enhancement, pr ready for visual snapshots

#8760 style(stepper,stepper-item): lint code
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/stepper.tsx
Labels: chore, skip visual snapshots, low risk

#8687 feat(tile-group): add responsive Tile Group component
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile-group/interfaces.ts
  packages/calcite-components/src/components/tile-group/readme.md
  packages/calcite-components/src/components/tile-group/resources.ts
  packages/calcite-components/src/components/tile-group/tile-group.e2e.ts
  packages/calcite-components/src/components/tile-group/tile-group.scss
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile-group/tile-group.tsx
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/demos/tile-group.html
  packages/calcite-components/src/index.html
Labels: enhancement, pr ready for visual snapshots, low risk

#8775 feat(rating): Add component tokens
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/meter/meter.scss
  packages/calcite-components/src/components/rating/rating.scss
  packages/calcite-components/src/components/rating/rating.stories.ts
  packages/calcite-components/src/demos/rating.html
Labels: pr ready for visual snapshots

#8779 fix(table): Ensure border are correctly applied with complex rowSpan
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/demos/table.html
Labels: bug, pr ready for visual snapshots, low risk

#8788 feat(inline-editable): add component tokens
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
Labels: pr ready for visual snapshots

#8777 feat(pagination): Add component tokens
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.stories.ts
  packages/calcite-components/src/demos/pagination.html
Labels: pr ready for visual snapshots

#8767 feat(input): add component tokens
  packages/calcite-components/src/components/input/input.scss
  packages/calcite-components/src/components/input/input.stories.ts
Labels: pr ready for visual snapshots

#8731 fix(combobox): long text truncates on single and single-persist modes
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
Labels: bug, skip visual snapshots, low risk

#8734 docs(input-number): deprecate `minLength`/`maxLength` props as they have no effect
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Labels: docs, p - low, skip visual snapshots, low risk

#8649 fix: only show validation message when status='invalid'
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.stories.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input/input.stories.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.stories.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.stories.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.stories.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/text-area.stories.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Labels: bug, pr ready for visual snapshots, low risk

#8786 feat(switch): add component tokens
  packages/calcite-components/src/components/switch/switch.scss
Labels: pr ready for visual snapshots

#8812 test(shell-center-row): fix test
  packages/calcite-components/src/components/shell-center-row/shell-center-row.e2e.ts
Labels: testing

#8811 test(option-group): fix
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/option-group/option-group.e2e.ts
Labels: testing

#8810 test(combobox): update test to reduce complexity
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Labels: testing

#8710 feat(checkbox): add component tokens
  packages/calcite-components/src/components/checkbox/checkbox.scss
  packages/calcite-components/src/components/checkbox/checkbox.tsx
Labels: design-tokens

#8806 feat(tile-group): add Tile Group component
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile-group/interfaces.ts
  packages/calcite-components/src/components/tile-group/readme.md
  packages/calcite-components/src/components/tile-group/resources.ts
  packages/calcite-components/src/components/tile-group/tile-group.e2e.ts
  packages/calcite-components/src/components/tile-group/tile-group.scss
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile-group/tile-group.tsx
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/demos/tile-group.html
  packages/calcite-components/src/index.html
Labels: enhancement, pr ready for visual snapshots, low risk

#8819 ci(e2e): manually setup chrome to fix puppeteer errrors
  .github/workflows/pr-e2e.yml
Labels: chore, skip visual snapshots, low risk

#8814 chore(pr-e2e): add workflow_dispatch option for e2e tests
  .github/workflows/pr-e2e.yml
Labels: chore, skip visual snapshots, low risk

#8815 test(shell-center-row): fix test
  packages/calcite-components/src/components/shell-center-row/shell-center-row.e2e.ts
Labels: testing, skip visual snapshots, low risk

#8828 refactor(tile-group): add review suggestions
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile-group/interfaces.ts
  packages/calcite-components/src/components/tile-group/resources.ts
  packages/calcite-components/src/components/tile-group/tile-group.scss
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile-group/tile-group.tsx
  packages/calcite-components/stencil.config.ts
Labels: refactor, pr ready for visual snapshots, low risk

#8830 fix(navigation-logo): no longer changes icon color when `href` is parsed
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
  packages/calcite-components/src/components/navigation-logo/navigation-logo.stories.ts
Labels: bug, pr ready for visual snapshots, low risk

#8809 fix(preset): calcite—color-brand to calcite-color-brand
  packages/calcite-components/calcite-preset.ts
Labels: bug, p - high, pr ready for visual snapshots

#8833 docs(tile): deprecate embed property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile/tile.tsx
Labels: docs, skip visual snapshots, low risk

#8749 feat(card-group): Add Card Group component
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/card-group/card-group.e2e.ts
  packages/calcite-components/src/components/card-group/card-group.scss
  packages/calcite-components/src/components/card-group/card-group.stories.ts
  packages/calcite-components/src/components/card-group/card-group.tsx
  packages/calcite-components/src/components/card-group/readme.md
  packages/calcite-components/src/components/card-group/usage/Basic.md
  packages/calcite-components/src/components/card-group/usage/SelectionMode.md
  packages/calcite-components/src/components/card/assets/card/t9n/messages.json
  packages/calcite-components/src/components/card/assets/card/t9n/messages_en.json
  packages/calcite-components/src/components/card/card.e2e.ts
  packages/calcite-components/src/components/card/card.scss
  packages/calcite-components/src/components/card/card.stories.ts
  packages/calcite-components/src/components/card/card.tsx
  packages/calcite-components/src/components/card/resources.ts
  packages/calcite-components/src/components/chip-group/readme.md
  packages/calcite-components/src/demos/card.html
  packages/calcite-components/src/index.html
  packages/calcite-components/stencil.config.ts
Labels: enhancement, new component, pr ready for visual snapshots, low risk

#8791 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, p - high, skip visual snapshots, autorelease: pending

#8783 fix(tabs): add component tokens
  packages/calcite-components/src/components/tabs/tabs.scss
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Labels: pr ready for visual snapshots

#8721 feat(avatar): component tokens
  packages/calcite-components/src/components/avatar/avatar.scss
  packages/calcite-components/src/components/navigation-user/navigation-user.scss
Labels: enhancement, refactor, p - high, pr ready for visual snapshots, design-tokens

#8844 refactor(flow, flow-item, panel, popover, tooltip): Use fallback method for css vars
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/flow/flow.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/tooltip/tooltip.scss
Labels: pr ready for visual snapshots

#8771 refactor: Use component tokens within includes
  packages/calcite-components/src/assets/styles/_header.scss
  packages/calcite-components/src/assets/styles/_shadow.scss
  packages/calcite-components/src/assets/styles/_sortable.scss
  packages/calcite-components/src/assets/styles/_spacing.scss
  packages/calcite-components/src/assets/styles/_x-button.scss
  packages/calcite-components/src/assets/styles/global.scss
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pick-list-group/pick-list-group.scss
  packages/calcite-components/src/components/progress/progress.scss
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/components/switch/switch.scss
  packages/calcite-components/src/components/text-area/text-area.scss
  packages/calcite-components/src/components/tip-manager/tip-manager.scss
  packages/calcite-components/src/components/tip/tip.scss
Labels: pr ready for visual snapshots

#8837 feat(action menu): add component tokens
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/panel/panel.scss
Labels: pr ready for visual snapshots, design-tokens

#8849 refactor(card-group): Remove unused `scale` property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/card-group/card-group.tsx
Labels: refactor, pr ready for visual snapshots

#8845 feat(input, input-text, input-number, input-time-picker, input-time-zone, input-date-picker, input-message): add component tokens
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.scss
  packages/calcite-components/src/components/filter/filter.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-message/input-message.scss
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/input-time-zone/input-time-zone.scss
  packages/calcite-components/src/components/input/common/_mixins.scss
  packages/calcite-components/src/components/input/input.scss
Labels: enhancement, pr ready for visual snapshots, design-tokens

#8797 perf: update `transition-default` Tailwind util to only target common, animatable properties
  packages/calcite-components/calcite-preset.ts
Labels: chore, pr ready for visual snapshots

#8802 refactor(chip): Remove deprecated component patterns
  packages/calcite-components/src/components/chip/chip.tsx
Labels: refactor, pr ready for visual snapshots
