Repository Esri/calcite-design-system, pull requests merged in 2024-11, with the labels that each got.

#10671 fix: updated offset and properties
  packages/calcite-ui-icons/icons/offset-16.svg
  packages/calcite-ui-icons/icons/offset-24.svg
  packages/calcite-ui-icons/icons/offset-32.svg
  packages/calcite-ui-icons/icons/properties-16.svg
Labels: bug, skip visual snapshots

#10673 chore: update VSCode settings to ensure TS consistency
  .vscode/settings.json
Labels: chore, skip visual snapshots

#10672 test(table): improve stability
  packages/calcite-components/src/components/table/table.e2e.ts
Labels: skip visual snapshots

#10675 refactor!: drop Angular wrapper
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/workflows/deploy-latest.yml
  .release-please-manifest.json
  documentation/releasing.md
  examples/components/angular/.gitignore
  package-lock.json
  package.json
  packages/calcite-components-angular/.eslintrc.json
  packages/calcite-components-angular/.gitignore
  packages/calcite-components-angular/README.md
  packages/calcite-components-angular/angular.json
  packages/calcite-components-angular/package.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/LICENSE.md
  packages/calcite-components-angular/projects/component-library/README.md
  packages/calcite-components-angular/projects/component-library/ng-package.json
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-angular/projects/component-library/src/lib/component-library.module.ts
  packages/calcite-components-angular/projects/component-library/src/public-api.ts
  packages/calcite-components-angular/projects/component-library/tsconfig.lib.json
  packages/calcite-components-angular/support/prepublishBuildForCorrectVersion.sh
  packages/calcite-components-angular/tsconfig.json
  packages/calcite-components-angular/turbo.json
  packages/calcite-components/package.json
  packages/calcite-components/stencil.config.ts
  release-please-config.json
  support/syncLinkedPackageVersions.ts
Labels: refactor, skip visual snapshots

#10676 fix(action-group, input, menu): fix `setFocus` issues in Chrome 128+
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/menu/menu.tsx
Labels: bug, pr ready for visual snapshots

#10677 refactor(date-picker-month-header, sort-handle): fix imports
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
Labels: refactor, skip visual snapshots

#10660 docs: add missing @internal to private events
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list/list.tsx
Labels: docs, skip visual snapshots

#10678 chore: make `build:watch-dev` script migration compatible
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#10679 refactor!: remove deprecated `ban-props-on-host`, `enforce-ref-last-prop`, `require-event-emitter-type` rules
  packages/eslint-plugin-calcite-components/README.md
  packages/eslint-plugin-calcite-components/docs/enforce-ref-last-prop.md
  packages/eslint-plugin-calcite-components/src/configs/base.ts
  packages/eslint-plugin-calcite-components/src/configs/recommended.ts
  packages/eslint-plugin-calcite-components/src/rules/enforce-ref-last-prop.ts
  packages/eslint-plugin-calcite-components/src/rules/index.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-props-on-host/ban-props-on-host.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.output.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/enforce-ref-last-prop/enforce-ref-last-prop.wrong.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.good.tsx
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/require-event-emitter-type/require-event-emitter-type.wrong.tsx
Labels: refactor, skip visual snapshots

#10629 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#10697 docs(angular, vite): cleanup setup instructions for component examples
  examples/components/angular/README.md
  examples/components/angular/src/app/app.component.spec.ts
  examples/components/angular/src/app/app.component.ts
  examples/components/angular/src/main.ts
  examples/components/vite/README.md
Labels: docs

#10700 docs: add calcite-ui-icons package to issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Labels: docs, skip visual snapshots

#10702 feat(list)!: require label for context when dragging between lists
  packages/calcite-components/src/components/list/list.tsx
Labels: enhancement, breaking change, Stale, skip visual snapshots

#10683 fix(utils/dom): fix getModeName function to support auto mode
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/dom.ts
Labels: Stale, skip visual snapshots

#10687 feat(tooltip): add component tokens
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/tooltip.ts
  packages/calcite-components/src/demos/tooltip.html
Labels: enhancement, Stale, pr ready for visual snapshots

#10647 feat(switch): add component tokens
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/switch/switch.e2e.ts
  packages/calcite-components/src/components/switch/switch.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/switch.ts
  packages/calcite-components/src/demos/switch.html
Labels: enhancement, Stale, pr ready for visual snapshots

#10688 feat(label): add component tokens
  packages/calcite-components/src/components/label/label.e2e.ts
  packages/calcite-components/src/components/label/label.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/label.ts
  packages/calcite-components/src/demos/label.html
  packages/calcite-components/src/tests/utils/cssTokenValues.ts
Labels: enhancement, Stale, pr ready for visual snapshots

#10729 fix(input-time-picker): retain focus inside the input when clicked
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
Labels: bug, pr ready for visual snapshots

#10689 feat(link): add component tokens
  packages/calcite-components/src/components/link/link.e2e.ts
  packages/calcite-components/src/components/link/link.scss
  packages/calcite-components/src/components/tile/tile.e2e.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/link.ts
  packages/calcite-components/src/demos/link.html
Labels: enhancement, Stale, pr ready for visual snapshots

#10738 refactor(popover): remove unnecessary CSS
  packages/calcite-components/src/components/popover/popover.scss
Labels: refactor, pr ready for visual snapshots

#10737 fix(tooltip): fix closeOnClick property in Safari
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
Labels: bug, skip visual snapshots

#10749 fix(dialog, panel): restore relative positioning in content area
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/panel/panel.scss
Labels: bug, pr ready for visual snapshots

#10721 feat(accordion-item): custom header and content spacing tokens
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
Labels: enhancement, pr ready for visual snapshots

#10766 fix: bundle-in non-ESM dependencies
  packages/calcite-components/vite.config.ts
Labels: bug, skip visual snapshots

#10722 build(deps): add `@floating-ui/utils` dep
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#10739 feat(block)!: add required label property and mark heading as optional
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.tsx
Labels: enhancement, breaking change, pr ready for visual snapshots

#10747 refactor(input-time-zone)!: drop obsolete time zone translations
  packages/calcite-components/src/components/input-time-zone/assets/t9n/input-time-zone.t9n.en.json
  packages/calcite-components/src/components/input-time-zone/assets/t9n/messages.json
Labels: skip visual snapshots

#10733 refactor: ensure consistent playground stories
  packages/calcite-components/src/components/loader/loader.stories.ts
  packages/calcite-components/src/components/tabs/tabs.stories.ts
Labels: refactor, skip visual snapshots

#10791 fix(combobox, list)!: stop filtering on value by default
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/interfaces.ts
  packages/calcite-components/src/components/list-item/interfaces.d.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, pr ready for visual snapshots

#10793 refactor(combobox, dropdown, input-date-picker, input-time-picker, split-button)!: avoid modifying `open` based on `disabled` prop
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/split-button/split-button.tsx
Labels: refactor, pr ready for visual snapshots

#10716 feat(slider): add component tokens
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/slider/slider.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/slider.ts
  packages/calcite-components/src/demos/slider.html
Labels: enhancement, skip visual snapshots

#10797 refactor(checkbox)!: remove deprecated guid property
  packages/calcite-components/src/components/checkbox/checkbox.tsx
Labels: refactor, pr ready for visual snapshots

#10795 refactor(table)!: remove deprecated zebra property
  packages/calcite-components/src/components/table/table.stories.ts
  packages/calcite-components/src/components/table/table.tsx
Labels: refactor, pr ready for visual snapshots

#10804 fix(t9n): make TypeScript inline .json type imports
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-zone/utils.ts
Labels: bug, skip visual snapshots

#10802 fix(flow-item): fix TS error caused by FlowItemLike type
  packages/calcite-components/src/components/flow-item/flow-item.tsx
Labels: bug, skip visual snapshots

#10800 build: ensure types are specified in TS files
  packages/calcite-components/src/components/handle/interfaces.ts
  packages/calcite-components/src/components/input-time-zone/interfaces.ts
  packages/calcite-components/src/components/list-item/interfaces.ts
  packages/calcite-components/src/components/shell-panel/interfaces.ts
  packages/calcite-components/src/components/slider/interfaces.ts
Labels: chore, skip visual snapshots

#10718 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#10807 chore: fix storybook GH pages deployment
  packages/calcite-components/.storybook/main.ts
  packages/calcite-components/.storybook/static/.nojekyll
Labels: chore, skip visual snapshots

#10740 docs(flow): Add FlowItemLike interface documentation.
  packages/calcite-components/src/components/flow/interfaces.ts
  packages/calcite-components/src/demos/flow.html
Labels: docs, skip visual snapshots

#10798 docs(combobox-item): update description property
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Labels: docs, skip visual snapshots

#10669 feat(list, list-item, list-item-group): add component tokens
  packages/calcite-components/src/components/list-item-group/list-item-group.e2e.ts
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/list.ts
  packages/calcite-components/src/demos/list.html
  packages/calcite-components/src/tests/utils/cssTokenValues.ts
Labels: enhancement, pr ready for visual snapshots

#10792 refactor(action-group)!: remove deprecated layout property
  packages/calcite-components/src/components/action-group/action-group.tsx
Labels: docs, refactor, skip visual snapshots

#10790 refactor(color-picker)!: remove deprecated properties
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/demos/color-picker.html
Labels: refactor, pr ready for visual snapshots

#10691 build(deps): bump React deps to v18
  examples/components/react/package-lock.json
  examples/components/react/package.json
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
Labels: chore, blocked, skip visual snapshots

#10808 refactor: drop unnecessary `LocalizedComponent` interface and utils
  packages/calcite-components/src/utils/locale.ts
Labels: refactor, skip visual snapshots

#10815 build(deps): bump Lumina to latest
  package-lock.json
  package.json
  packages/calcite-components/package.json
Labels: chore, pr ready for visual snapshots

#10816 test(inline-editable): stabilize test
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
Labels: skip visual snapshots

#10818 fix(segmented-control): ensure change event emits after item update
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Labels: bug, pr ready for visual snapshots

#10744 deprecate(letter-spacing, paragraph-spacing, text-decoration, text-case): align with UIKit
  packages/calcite-design-tokens/src/core/font.json
  packages/calcite-design-tokens/src/semantic/font.json
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
Labels: pr ready for visual snapshots

#10622 fix(progress)!: convert value range to 0-100
  packages/calcite-components/src/components/progress/progress.e2e.ts
  packages/calcite-components/src/components/progress/progress.stories.ts
  packages/calcite-components/src/components/progress/progress.tsx
  packages/calcite-components/src/custom-theme/progress.ts
Labels: bug, skip visual snapshots

#10823 fix(checkbox): ensure that border shows in high contrast mode
  packages/calcite-components/src/components/checkbox/checkbox.scss
Labels: bug, pr ready for visual snapshots

#10741 fix(input-date-picker): remove hardcoded strings
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.json
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Labels: bug, skip visual snapshots

#10745 fix(font): change calcite-font-bold to be semi-bold
  packages/calcite-design-tokens/src/semantic/font.json
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
Labels: bug, pr ready for visual snapshots

#10822 feat(panel): Add component tokens
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
  packages/calcite-components/src/demos/panel.html
Labels: enhancement, pr ready for visual snapshots, design-tokens

#10833 fix(block): label property should not be required
  packages/calcite-components/src/components/block/block.tsx
Labels: bug, skip visual snapshots

#10608 feat(navigation-user): add component tokens
  packages/calcite-components/src/components/navigation-user/navigation-user.e2e.ts
  packages/calcite-components/src/components/navigation-user/navigation-user.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/navigation-user.ts
Labels: enhancement, pr ready for visual snapshots

#10799 refactor(radio-button)!: remove deprecated guid property
  packages/calcite-components/src/components/radio-button/radio-button.e2e.ts
  packages/calcite-components/src/components/radio-button/radio-button.tsx
Labels: refactor, skip visual snapshots

#10582 feat(navigation-logo): add component tokens
  packages/calcite-components/src/components/navigation-logo/navigation-logo.e2e.ts
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/navigation-logo.ts
Labels: enhancement, pr ready for visual snapshots

#10838 chore: remove stylelint-updating pre-commit script
  .husky/pre-commit
Labels: chore, skip visual snapshots

#10835 fix(link): fix underline animation
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/link/link.scss
Labels: bug, pr ready for visual snapshots

#10836 fix: fix core transitions across components
  packages/calcite-components/calcite-preset.ts
Labels: bug, pr ready for visual snapshots

#10848 build: externalize non-esm deps in ssr build
  packages/calcite-components/package.json
  packages/calcite-components/vite.config.ts
Labels: chore, skip visual snapshots

#10850 docs: remove outdated docs that moved to the wiki
  documentation/monorepo.md
  documentation/releasing.md
Labels: docs, skip visual snapshots

#10787 refactor(chip)!: make label property required and value optional
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/table/table.tsx
Labels: refactor, skip visual snapshots

#10840 chore: restore stylelint known custom functions
  packages/calcite-components/.stylelintrc.cjs
Labels: chore, skip visual snapshots

#10839 refactor: drop unnecessary prefers-reduced-motion workaround
  packages/calcite-components/src/assets/styles/_animation.scss
  packages/calcite-components/src/components/loader/loader.scss
Labels: refactor, skip visual snapshots

#10858 feat(list-item): update single-select icons
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/resources.ts
Labels: enhancement, pr ready for visual snapshots

#10855 fix(combobox-item): replace type-enforced deprecated + required `textLabel` prop with runtime warning
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/utils/component.ts
Labels: bug, skip visual snapshots

#10786 feat: deprecate widthScale/heightScale in favor of width/height
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/interfaces.ts
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/sheet/resources.ts
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.scss
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/shell-panel/resources.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/split-button/split-button.tsx
  packages/calcite-components/src/utils/dynamicClasses.spec.ts
  packages/calcite-components/src/utils/dynamicClasses.ts
Labels: enhancement, refactor, pr ready for visual snapshots

#10861 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#10857 refactor: drop obsolete `componentOnReady` util
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/utils/component.spec.ts
  packages/calcite-components/src/utils/component.ts
  packages/calcite-components/src/utils/label.ts
Labels: refactor, skip visual snapshots

#10846 docs(demos): update storybook link
  packages/calcite-components/index.html
Labels: docs, skip visual snapshots

#10852 feat(list)!: add displayMode property to choose between flat and nested lists
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/interfaces.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/demos/list.html
Labels: enhancement, pr ready for visual snapshots

#10866 feat(input): Improve display of resize handle for type textarea
  packages/calcite-components/src/components/input/input.scss
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/input/resources.ts
Labels: enhancement, pr ready for visual snapshots

#10870 refactor: use `cssTokenValues` in demo-theme
  packages/calcite-components/src/demos/_assets/demo-theme.ts
Labels: refactor, skip visual snapshots

#10868 fix(dialog): fix error when initially opened
  packages/calcite-components/src/components/dialog/dialog.tsx
Labels: bug, skip visual snapshots

#10820 feat(input): Add component tokens
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.scss
  packages/calcite-components/src/custom-theme/input.ts
  packages/calcite-components/src/demos/input.html
Labels: enhancement, pr ready for visual snapshots, design-tokens

#10856 fix(dialog): update content background color to match modal
  packages/calcite-components/src/components/dialog/dialog.scss
Labels: bug, pr ready for visual snapshots

#10874 fix(combobox-item): fix icon color css override
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/combobox-item.ts
Labels: bug, pr ready for visual snapshots

#10872 fix(alert): add public --calcite-alert-offset-size css token
  packages/calcite-components/src/components/alert/alert.scss
Labels: bug, skip visual snapshots

#10877 feat(chip): add `closeOnDelete` prop
  packages/calcite-components/src/components/chip/chip.e2e.ts
  packages/calcite-components/src/components/chip/chip.tsx
Labels: enhancement, skip visual snapshots

#10871 feat(tab-title): add icon start/end custom CSS prop
  packages/calcite-components/src/components/tab-title/tab-title.e2e.ts
  packages/calcite-components/src/components/tab-title/tab-title.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/tabs.ts
  packages/calcite-components/src/demos/tabs.html
  packages/calcite-components/src/tests/utils/cssTokenValues.ts
Labels: enhancement, pr ready for visual snapshots

#10578 fix(input-date-picker, input-time-picker, modal, sheet): closes on escape when focusTrap is disabled
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.tsx
Labels: bug, pr ready for visual snapshots

#10907 build(deps): update arcgis to v4.32.0-next.29
  package-lock.json
  package.json
  packages/calcite-components/package.json
Labels: chore, dependencies, pr ready for visual snapshots

#10909 chore(linting): update ESLint setup
  .lintstagedrc.json
  package-lock.json
  package.json
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/package.json
  packages/calcite-design-tokens/package.json
Labels: chore, skip visual snapshots

#10888 fix(chip): provide label context to assistive technologies
  packages/calcite-components/src/components/chip/chip.e2e.ts
  packages/calcite-components/src/components/chip/chip.stories.ts
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/demos/chip.html
Labels: bug, skip visual snapshots

#10903 feat(color-picker)!: update color field dimensions
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.scss
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/color-picker/resources.ts
Labels: enhancement, pr ready for visual snapshots

#10853 feat(list, list-item, list-item-group, filter)!: add scales, update padding and spacing, update font sizes
  packages/calcite-components/src/components/filter/filter.scss
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/demos/list.html
Labels: enhancement, pr ready for visual snapshots
