Repository Esri/calcite-design-system, pull requests merged in 2024-05, with the labels that each got.

#9050 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Labels: chore, skip visual snapshots, autorelease: pending

#9145 fix(calcite-button): Make shadow dom button 100% width
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.scss
Labels: bug, pr ready for visual snapshots

#9127 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/carousel-item/readme.md
  packages/calcite-components/src/components/carousel/readme.md
  packages/calcite-components/src/components/checkbox/readme.md
  packages/calcite-components/src/components/combobox/readme.md
  packages/calcite-components/src/components/icon/readme.md
  packages/calcite-components/src/components/input-date-picker/readme.md
  packages/calcite-components/src/components/input-number/readme.md
  packages/calcite-components/src/components/input-text/readme.md
  packages/calcite-components/src/components/input-time-picker/readme.md
  packages/calcite-components/src/components/input-time-zone/readme.md
  packages/calcite-components/src/components/input/readme.md
  packages/calcite-components/src/components/pagination/readme.md
  packages/calcite-components/src/components/pick-list-item/readme.md
  packages/calcite-components/src/components/progress/readme.md
  packages/calcite-components/src/components/segmented-control/readme.md
  packages/calcite-components/src/components/select/readme.md
  packages/calcite-components/src/components/slider/readme.md
  packages/calcite-components/src/components/text-area/readme.md
  packages/calcite-components/src/components/tile-group/readme.md
  packages/calcite-components/src/components/tile/readme.md
  packages/calcite-components/src/components/value-list-item/readme.md
Labels: docs, skip visual snapshots, low risk

#9241 fix(tile): fix spacing between content-top and content-bottom slots
  packages/calcite-components/src/components/tile/resources.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/demos/tile.html
Labels: bug, pr ready for visual snapshots, low risk

#9247 fix(list): border items when an item is programmatically opened.
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, pr ready for visual snapshots

#9243 refactor(tests): extract selected item assertion util
  packages/calcite-components/src/components/card-group/card-group.e2e.ts
  packages/calcite-components/src/components/chip-group/chip-group.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/tile-group/tile-group.e2e.ts
  packages/calcite-components/src/tests/utils.ts
Labels: refactor, skip visual snapshots

#9245 fix(input, input-number, input-text): restore `autofocus`, `enter-key-mode` and `input-mode` attributes
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/common/tests.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
Labels: bug, skip visual snapshots

#9212 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#9230 chore(linting): enable eslint recommended ruleset
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/shell/shell.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/utils/focusTrapComponent.spec.ts
  packages/calcite-components/src/utils/number.ts
  packages/calcite-components/src/utils/openCloseComponent.ts
Labels: chore, skip visual snapshots

#9264 chore(renovate): update ignore list
  .renovaterc.json
Labels: chore, skip visual snapshots

#9270 docs(action): deprecate the slot tooltip
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action/action.tsx
Labels: bug, skip visual snapshots, low risk

#9265 fix(input-date-picker, input-time-picker, list): ensure lang change updates messages
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/tests/commonTests/t9n.ts
Labels: bug, skip visual snapshots, low risk

#9284 fix(tile-group): disallow multiple selected attributes on single selection modes
  packages/calcite-components/src/components/tile-group/tile-group.e2e.ts
  packages/calcite-components/src/components/tile-group/tile-group.tsx
Labels: bug, pr ready for visual snapshots, low risk

#9197 perf(icon): render icon sooner if already visible or loaded
  packages/calcite-components/src/components/icon/icon.tsx
  packages/calcite-components/src/components/icon/utils.ts
Labels: chore, pr ready for visual snapshots

#9304 fix(list-item): decrease horizontal spacing between selection icon and content
  packages/calcite-components/src/components/list-item/list-item.scss
Labels: bug, pr ready for visual snapshots

#9309 ci: remove maintenance release PR blocker action
  .github/scripts/limitPullRequestsForMaintenanceReleases.js
  .github/workflows/limit-prs-for-maintenance-releases.yml
  CONTRIBUTING.md
Labels: chore, skip visual snapshots

#9303 docs(conventions): doc CSS lookup pattern
  packages/calcite-components/conventions/README.md
Labels: docs, skip visual snapshots, low risk

#9306 fix(input, input-number, input-text): restore `autofocus`, `enter-key-mode` and `input-mode` attributes (#9245)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/common/tests.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
Labels: bug, skip visual snapshots

#9288 fix(tile): apply center alignment only to x-axis
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile-group/tile-group.tsx
  packages/calcite-components/src/components/tile/resources.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/demos/tile-group.html
Labels: bug, pr ready for visual snapshots, low risk, visual changes

#9293 feat(panel): add content-top slot
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
  packages/calcite-components/src/demos/panel.html
Labels: enhancement, skip visual snapshots

#9311 feat(panel): add content-bottom slot
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
  packages/calcite-components/src/demos/panel.html
Labels: enhancement, pr ready for visual snapshots

#9194 feat(block-section): add `icon` property (deprecates `status`)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block-section/resources.ts
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/demos/block.html
Labels: enhancement, skip visual snapshots

#9289 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action/readme.md
  packages/calcite-components/src/components/panel/readme.md
  packages/calcite-components/src/components/tile-group/readme.md
Labels: docs, skip visual snapshots

#9285 docs(tip, tip-group, tip-manager): deprecate components
  packages/calcite-components/src/components/tip-group/tip-group.tsx
  packages/calcite-components/src/components/tip-manager/tip-manager.tsx
  packages/calcite-components/src/components/tip/tip.tsx
Labels: docs, p - high, skip visual snapshots

#9320 refactor: remove connect/disconnectOpenCloseComponent no longer in use
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/utils/openCloseComponent.ts
Labels: refactor, skip visual snapshots

#9272 fix(select): fix option selection via initial `value`
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/select/select.tsx
Labels: bug, pr ready for visual snapshots

#9302 docs(tile, tile-group): deprecate components
  packages/calcite-components/src/components/tile-select-group/tile-select-group.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
Labels: docs, skip visual snapshots

#9300 feat(segmented-control-item): allow displaying and icon when items are empty with a start/end icon
  packages/calcite-components/src/components/segmented-control-item/resources.ts
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.e2e.ts
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.scss
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.stories.ts
Labels: enhancement, pr ready for visual snapshots

#9312 docs(pick-list,pick-list-group,pick-list-item,value-list,value-list-item): use "calcite-" naming convention in deprecation descriptions
  packages/calcite-components/src/components/pick-list-group/pick-list-group.tsx
  packages/calcite-components/src/components/pick-list-item/pick-list-item.tsx
  packages/calcite-components/src/components/pick-list/pick-list.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
Labels: docs, skip visual snapshots

#9298 feat(split-button): Make dividers consistent
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/split-button/split-button.scss
Labels: enhancement, pr ready for visual snapshots

#9325 fix(carousel): animate items with the same direction
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/utils/dom.ts
Labels: bug, skip visual snapshots

#9324 build(deps): update dependency @esri/calcite-ui-icons to v3.28.1
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, dependencies, pr ready for visual snapshots

#9308 chore: release hotfix
  .release-please-manifest.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots, autorelease: pending

#9334 fix: add type-fest as dependency due to build error
  package-lock.json
  package.json
  packages/calcite-components/package.json
Labels: bug, chore, skip visual snapshots

#9336 build(deps): update dependency @esri/calcite-ui-icons to v3.28.1
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#9335 fix(carousel): animate items with the same direction
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/utils/dom.ts
Labels: bug, pr ready for visual snapshots

#9337 ci: setup hotfix releasing scripts and settings
  .github/workflows/chromatic-rc.yml
  .github/workflows/chromatic.yml
  .github/workflows/deploy-latest.yml
  .github/workflows/pr-bot.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-tests_eslint-plugin-calcite-components.yml
  lerna.json
  package.json
  support/release.sh
  support/syncLinkedPackageVersions.ts
Labels: chore, skip visual snapshots

#9338 chore: release hotfix
  .release-please-manifest.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots

#9342 ci: ensure all pre-release changelog sections are removed
  .github/workflows/remove-prerelease-changelog-entries.yml
  documentation/monorepo.md
  package.json
  support/removePrereleaseChangelogEntries.ts
Labels: chore, skip visual snapshots

#9343 fix(input, input-number, input-text): ensure autofocus is available on HTMLElement
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
Labels: bug, skip visual snapshots

#9345 chore: release hotfix
  .release-please-manifest.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots, autorelease: tagged

#9347 fix(input, input-number, input-text): ensure autofocus is available on HTMLElement (#9343)
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
Labels: bug, skip visual snapshots

#9346 feat(flow-item): add content-bottom slot
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/flow-item/resources.ts
  packages/calcite-components/src/demos/flow.html
Labels: enhancement, pr ready for visual snapshots

#9344 feat(flow-item): add content-top slot
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/flow-item/resources.ts
  packages/calcite-components/src/demos/flow.html
Labels: enhancement, pr ready for visual snapshots

#9330 feat(dropdown-item): update spacing of icons
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/dropdown-item/resources.ts
Labels: enhancement, pr ready for visual snapshots

#9349 refactor(dropdown-item): remove unused css classes
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/dropdown-item/resources.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
Labels: refactor, pr ready for visual snapshots

#9359 fix(tile): slotted content renders within the border
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/demos/tile-group.html
  packages/calcite-components/src/demos/tile.html
Labels: bug, pr ready for visual snapshots

#9348 chore: release hotfix
  .release-please-manifest.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots

#9362 refactor: add simpler componentFocusable util (deprecates LoadableComponent)
  packages/calcite-components/src/utils/component.spec.ts
  packages/calcite-components/src/utils/component.ts
  packages/calcite-components/src/utils/loadable.ts
Labels: refactor, pr ready for visual snapshots

#9368 fix(t9n): fix error caused by disconnecting components during the setting of initial message overrides
  packages/calcite-components/src/tests/commonTests/t9n.ts
  packages/calcite-components/src/utils/t9n.ts
Labels: skip visual snapshots

#9366 fix(text-area): remove double transparency applied when disabled
  packages/calcite-components/src/components/text-area/text-area.scss
Labels: bug, pr ready for visual snapshots

#9365 fix(switch): prevent hover state change when disabled
  packages/calcite-components/src/components/switch/resources.ts
  packages/calcite-components/src/components/switch/switch.scss
  packages/calcite-components/src/components/switch/switch.tsx
Labels: bug, pr ready for visual snapshots

#9364 feat(accordion-item): add setFocus
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.e2e.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
Labels: enhancement, skip visual snapshots

#9370 chore: adds priority context to tooling issue template
  .github/ISSUE_TEMPLATE/tooling.yml
Labels: chore, skip visual snapshots

#9372 docs(shell): modify panel-named slots to reflect shell-panel
  packages/calcite-components/src/components/shell/shell.tsx
Labels: docs, skip visual snapshots

#9375 build(deps): update dependency @esri/calcite-ui-icons to v3.28.2
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, pr ready for visual snapshots

#9373 fix(combobox): fix error that occurs when a click is emitted when the component is appended to the DOM
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, skip visual snapshots

#9379 ci: setup hotfix releasing scripts and settings
  .github/workflows/deploy-latest.yml
  support/release.sh
Labels: chore

#9377 chore: release hotfix
  .release-please-manifest.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots, autorelease: pending

#9371 chore: refactor user defined priority selection
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
Labels: chore, skip visual snapshots

#9381 build(deps): update dependency @esri/calcite-ui-icons to v3.28.2
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, pr ready for visual snapshots

#9380 fix(combobox): fix error that occurs when a click is emitted when the component is appended to the DOM
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots

#9382 chore: release hotfix
  .release-please-manifest.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots

#9392 chore: use local placeholder image in html files
  packages/calcite-components/src/demos/_assets/images/placeholder.svg
  packages/calcite-components/src/demos/accordion.html
  packages/calcite-components/src/demos/avatar.html
  packages/calcite-components/src/demos/card.html
  packages/calcite-components/src/demos/chip.html
  packages/calcite-components/src/demos/flow.html
  packages/calcite-components/src/demos/input-time-picker.html
  packages/calcite-components/src/demos/link.html
  packages/calcite-components/src/demos/list.html
  packages/calcite-components/src/demos/menu.html
  packages/calcite-components/src/demos/modal.html
  packages/calcite-components/src/demos/mode/auto.html
  packages/calcite-components/src/demos/navigation.html
  packages/calcite-components/src/demos/popover.html
  packages/calcite-components/src/demos/shell-panel.html
  packages/calcite-components/src/demos/shell/basic.html
  packages/calcite-components/src/demos/shell/block-configurations.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-2-shell-header.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-2.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-3.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-center-row-async.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-center-row.html
  packages/calcite-components/src/demos/shell/demo-app-advanced.html
  packages/calcite-components/src/demos/shell/demo-app-blank.html
  packages/calcite-components/src/demos/shell/demo-app-center-row-action-bar.html
  packages/calcite-components/src/demos/shell/demo-app-full-window-reversed.html
  packages/calcite-components/src/demos/shell/demo-app-full-window.html
  packages/calcite-components/src/demos/shell/demo-app-rtl.html
  packages/calcite-components/src/demos/shell/demo-app.html
  packages/calcite-components/src/demos/shell/nesting-testing-flow.html
  packages/calcite-components/src/demos/shell/nesting-testing.html
  packages/calcite-components/src/demos/shell/panel-with-action-bar.html
  packages/calcite-components/src/demos/shell/popup-config-example.html
  packages/calcite-components/src/demos/shell/resizable-panels.html
  packages/calcite-components/src/demos/sortable-list.html
  packages/calcite-components/src/demos/stack.html
  packages/calcite-components/src/demos/tip-manager.html
  packages/calcite-components/src/demos/tip/basic.html
Labels: chore, skip visual snapshots

#9363 fix(tree): allow deselection in single selectionMode
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.tsx
Labels: bug, pr ready for visual snapshots

#9360 fix(dropdown-group): title scale with dropdown scale
  packages/calcite-components/src/components/dropdown-group/dropdown-group.scss
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Labels: bug, pr ready for visual snapshots

#9378 chore(tree): fix multiple selection-mode values set in slotted dropdown-groups
  packages/calcite-components/src/components/tree/tree.stories.ts
Labels: chore, pr ready for visual snapshots

#9351 feat(stepper, stepper-item): add separate change events to stepper and items (deprecates `calciteStepperItemChange` on the parent)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.e2e.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
Labels: enhancement, skip visual snapshots

#9402 feat(split-button): Make dividers consistent
  packages/calcite-components/src/components/split-button/split-button.scss
  packages/calcite-components/src/demos/split-button.html
Labels: enhancement, pr ready for visual snapshots

#9405 fix(tree): allow single select only and add indicator
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.stories.ts
  packages/calcite-components/src/components/tree/tree.tsx
  packages/calcite-components/src/demos/tree.html
Labels: bug, pr ready for visual snapshots

#9263 build: update browserslist db
  package-lock.json
Labels: chore, pr ready for visual snapshots, skip visual snapshots

#9328 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/readme.md
  packages/calcite-components/src/components/action-menu/readme.md
  packages/calcite-components/src/components/block-section/readme.md
  packages/calcite-components/src/components/flow-item/readme.md
  packages/calcite-components/src/components/input-number/readme.md
  packages/calcite-components/src/components/input-text/readme.md
  packages/calcite-components/src/components/input-time-picker/readme.md
  packages/calcite-components/src/components/input/readme.md
  packages/calcite-components/src/components/pick-list-group/readme.md
  packages/calcite-components/src/components/pick-list-item/readme.md
  packages/calcite-components/src/components/pick-list/readme.md
  packages/calcite-components/src/components/popover/readme.md
  packages/calcite-components/src/components/shell/readme.md
  packages/calcite-components/src/components/stepper-item/readme.md
  packages/calcite-components/src/components/stepper/readme.md
  packages/calcite-components/src/components/table/readme.md
  packages/calcite-components/src/components/tile-select-group/readme.md
  packages/calcite-components/src/components/tile-select/readme.md
  packages/calcite-components/src/components/tip-group/readme.md
  packages/calcite-components/src/components/tip-manager/readme.md
  packages/calcite-components/src/components/tip/readme.md
  packages/calcite-components/src/components/tooltip/readme.md
  packages/calcite-components/src/components/value-list-item/readme.md
  packages/calcite-components/src/components/value-list/readme.md
Labels: docs, skip visual snapshots

#9327 refactor(stepper-item): drop unnecessary transitions
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
Labels: refactor, Stale, pr ready for visual snapshots

#9406 fix(input-date-picker, date-picker): ensure min/max can be unset
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Labels: bug, pr ready for visual snapshots, skip visual snapshots

#9429 ci: enable npm provenance statements
  .github/workflows/deploy-latest.yml
  .github/workflows/deploy-next.yml
Labels: chore, skip visual snapshots

#9430 ci: skip chromatic for release and doc update PRs
  .github/workflows/update-browserslist-db.yml
  .github/workflows/update-doc.yml
  release-please-config.json
Labels: chore, skip visual snapshots

#9428 ci: upload dist to github releases
  .github/workflows/deploy-latest.yml
  package.json
  packages/calcite-components-angular/projects/component-library/package.json
  support/uploadReleaseAssets.ts
Labels: chore, skip visual snapshots

#9423 fix(combobox): fix error that occurs in dist-custom-elements (components) output when a click is emitted when the component is appended to the DOM
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots

#9434 ci: combine related actions into single workflow file
  .github/workflows/add-esri-product-label.yml
  .github/workflows/add-package-label.yml
  .github/workflows/add-priority-label.yml
  .github/workflows/assign-for-verification.yml
  .github/workflows/issue-add-labels.yml
  .github/workflows/issue-notifications.yaml
  .github/workflows/new-component-notify.yml
  .github/workflows/pr-bot.yml
  .github/workflows/pr-tests_eslint-plugin-calcite-components.yml
  .github/workflows/ready-for-dev.yml
  .github/workflows/schedule-updates.yml
  .github/workflows/spike-complete.yml
  .github/workflows/update-browserslist-db.yml
  .github/workflows/update-doc.yml
Labels: chore, skip visual snapshots

#9439 build: remove unnecessary dist files before publishing
  packages/calcite-components/package.json
  packages/calcite-components/support/cleanupDistFiles.sh
Labels: chore, skip visual snapshots

#9441 ci(renovate): remove noisy sections from the PR body
  .renovaterc.json
Labels: chore, skip visual snapshots

#9445 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#9446 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
Labels: docs, skip visual snapshots

#9438 chore: release hotfix
  .release-please-manifest.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots, autorelease: pending

#9433 ci(provenance): add missing options from setup doc
  .github/workflows/deploy-latest.yml
  .github/workflows/deploy-next.yml
Labels: chore, skip visual snapshots

#9449 ci: add repo url to package.json files for provenance
  packages/calcite-components-react/package.json
  packages/eslint-plugin-calcite-components/package.json
Labels: chore, skip visual snapshots

#9237 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/eslint-plugin-calcite-components/CHANGELOG.md
Labels: chore, skip visual snapshots, autorelease: pending

#9451 ci(assets): stringify list of paths for released packages
  .github/workflows/deploy-latest.yml
Labels: chore, skip visual snapshots

#9470 fix(combobox, dropdown, input-date-picker, popover, tooltip): fix initialization logic in components output target
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
Labels: bug, skip visual snapshots

#9473 chore: release hotfix
  .release-please-manifest.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots, autorelease: pending

#9479 fix(pagination): use semantic internal elements
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/pagination/resources.ts
  packages/calcite-components/src/components/table/table.e2e.ts
Labels: bug, pr ready for visual snapshots

#9459 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots
