Repository Esri/calcite-design-system, pull requests merged in 2024-07, with the labels that each got.

#9715 fix(flow-item): set closed property to true when internal panel is closed
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
Labels: bug, pr ready for visual snapshots

#9688 fix(block-section): apply missing CSS class to start/end icon
  packages/calcite-components/src/components/block-section/block-section.tsx
Labels: bug, pr ready for visual snapshots

#9723 chore(date-picker): add wide month name for `en-CA` locale
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/date-picker/assets/date-picker/nls/en-CA.json
Labels: chore, skip visual snapshots

#9733 fix(segmented-control): Make check state update correctly
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Labels: bug, pr ready for visual snapshots

#9730 feat(panel, flow-item): add scale property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/flow/flow.stories.ts
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/demos/flow.html
Labels: enhancement, pr ready for visual snapshots

#9747 test(panel, flow-item): add scale control to simple stories
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
Labels: enhancement, pr ready for visual snapshots

#9741 fix(input-number): restore decimal input mode default
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
Labels: bug, skip visual snapshots

#9757 fix(panel, flow-item): fix footer-padding CSS prop regression
  packages/calcite-components/src/components/panel/panel.scss
Labels: bug, pr ready for visual snapshots

#9760 chore(tree-item): fix mutable warning `indeterminate` prop
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Labels: chore, skip visual snapshots

#9732 fix(tile): center align contentTop and contentBottom slots when alignment prop equals "center"
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/demos/tile.html
Labels: bug, skip visual snapshots

#9748 fix(shell): update shell to correctly position calcite shell panel at shell's bottom
  packages/calcite-components/src/components/shell/resources.ts
  packages/calcite-components/src/components/shell/shell.e2e.ts
  packages/calcite-components/src/components/shell/shell.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/shell/shell.tsx
Labels: bug, skip visual snapshots

#9774 build: regenerate package lock due to build errors
  package-lock.json
Labels: chore, skip visual snapshots

#9773 fix(tile): center align slot's text when alignment is equal to center
  packages/calcite-components/src/components/tile/tile.scss
Labels: bug, skip visual snapshots

#9727 chore(formatting): add css tagged template function to leverage Prettier formatting
  packages/calcite-components/support/formatting.ts
Labels: chore, skip visual snapshots

#9770 feat(panel, flow-item): add beforeClose property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.tsx
Labels: enhancement, skip visual snapshots

#9779 build(deps): revert package-lock re-generation
  package-lock.json
Labels: chore, pr ready for visual snapshots

#9739 feat: provide info message on stamped version instead of warning
  packages/calcite-components/src/tests/setupTests.ts
  packages/calcite-components/src/utils/config.spec.ts
  packages/calcite-components/src/utils/config.ts
  packages/calcite-components/stencil.config.ts
Labels: enhancement, skip visual snapshots

#9782 fix(block): remove top padding when no heading is defined
  packages/calcite-components/src/components/block/block.scss
Labels: bug, skip visual snapshots

#9789 style: autofix lint issues
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/notice/notice.scss
  packages/calcite-components/src/components/pick-list-item/pick-list-item.scss
  packages/calcite-components/src/components/slider/slider.scss
  packages/calcite-components/src/components/tab-title/tab-title.scss
  packages/calcite-components/src/components/tree-item/tree-item.scss
Labels: chore, skip visual snapshots

#9790 build: recreate lockfile due to build errors
  package-lock.json
Labels: chore, skip visual snapshots

#9791 chore: fix cleanup npm script
  package.json
Labels: chore, skip visual snapshots

#9771 feat(combobox, combobox-item): add `description`, `shortHeading` props and `content-end` slot
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox-item/resources.ts
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/utils.ts
Labels: enhancement, pr ready for visual snapshots

#9728 refactor(loader): simplify loader part rendering
  packages/calcite-components/src/components/loader/loader.tsx
  packages/calcite-components/src/components/loader/resources.ts
Labels: refactor, Stale, pr ready for visual snapshots

#9786 fix(deps): move @types/sortablejs as a dependency so the public types resolve properly
  package-lock.json
  package.json
  packages/calcite-components/package.json
Labels: bug, skip visual snapshots

#9797 build: fix globby errors
  package-lock.json
  packages/calcite-components/src/components.d.ts
Labels: chore, skip visual snapshots

#9793 fix(radio-button-group): remove blank clickable space outside of label
  packages/calcite-components/src/components/radio-button-group/radio-button-group.e2e.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.scss
Labels: bug, skip visual snapshots

#9711 chore: remove codeowner team to reduce notifications
  .github/CODEOWNERS
  CODEOWNERS
Labels: chore, Stale, skip visual snapshots

#9805 test(combobox-item): add defaults and reflects tests
  packages/calcite-components/src/components/combobox-item/combobox-item.e2e.ts
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Labels: skip visual snapshots

#9794 refactor(dropdown-item): remove unused members
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Labels: refactor, skip visual snapshots

#9734 test(tabs, tab-nav, tab-title, tab): add component token E2E tests
  packages/calcite-components/src/components/tab-nav/resources.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/tab-title/tab-title.e2e.ts
  packages/calcite-components/src/components/tab-title/tab-title.scss
  packages/calcite-components/src/components/tab/tab.e2e.ts
  packages/calcite-components/src/components/tab/tab.scss
  packages/calcite-components/src/components/tabs/resources.ts
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.scss
  packages/calcite-components/src/components/tabs/tabs.tsx
Labels: Stale

#9798 build(deps): fix lerna install errors on osx machines
  package-lock.json
  package.json
Labels: chore, skip visual snapshots

#9808 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/readme.md
  packages/calcite-components/src/components/action/readme.md
  packages/calcite-components/src/components/block-section/readme.md
  packages/calcite-components/src/components/block/readme.md
  packages/calcite-components/src/components/button/readme.md
  packages/calcite-components/src/components/chip/readme.md
  packages/calcite-components/src/components/combobox-item/readme.md
  packages/calcite-components/src/components/combobox/readme.md
  packages/calcite-components/src/components/dropdown-item/readme.md
  packages/calcite-components/src/components/fab/readme.md
  packages/calcite-components/src/components/flow-item/readme.md
  packages/calcite-components/src/components/icon/readme.md
  packages/calcite-components/src/components/link/readme.md
  packages/calcite-components/src/components/menu-item/readme.md
  packages/calcite-components/src/components/navigation-logo/readme.md
  packages/calcite-components/src/components/panel/readme.md
  packages/calcite-components/src/components/segmented-control-item/readme.md
  packages/calcite-components/src/components/split-button/readme.md
  packages/calcite-components/src/components/tab-title/readme.md
  packages/calcite-components/src/components/tile-select/readme.md
  packages/calcite-components/src/components/tile/readme.md
  packages/calcite-components/src/components/tree-item/readme.md
Labels: docs, skip visual snapshots

#9717 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#9701 feat(color-picker, color-picker-hex-input): Add input auto commit, blur and auto select enhancements.
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Labels: enhancement, skip visual snapshots

#9487 feat(tooltip): support touch events
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Labels: enhancement, pr ready for visual snapshots

#9819 feat(combobox, combobox-item): add `metadata` support for filtering
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: enhancement, pr ready for visual snapshots

#9818 fix(combobox-item): tweak center content font-weight and spacing
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots

#9822 build: update browserslist db
  package-lock.json
  package.json
Labels: chore, skip visual snapshots

#9833 build(deps): drop unnecessary @types/prettier dep
  package-lock.json
  package.json
Labels: chore, skip visual snapshots

#9768 fix(tabs): handle tab close events that remove the associated tab-title and tab elements from the DOM
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/tab/tab.tsx
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.tsx
  packages/calcite-components/src/demos/tabs.html
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/dom.ts
Labels: bug, pr ready for visual snapshots

#9842 fix(time-picker): render meridiem first for korean locale
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.stories.ts
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/demos/input-time-picker.html
  packages/calcite-components/src/utils/time.spec.ts
  packages/calcite-components/src/utils/time.ts
Labels: bug, pr ready for visual snapshots

#9817 feat(combobox): append custom values to top of dropdown
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: enhancement, skip visual snapshots

#9846 fix(shell): fix resizing a slotted shell-panel when clicking to resize
  packages/calcite-components/src/components/shell/shell.scss
Labels: bug, pr ready for visual snapshots

#9666 fix(tabs): Update tab title indicator display
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tab-nav/resources.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.scss
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/tab-title/resources.ts
  packages/calcite-components/src/components/tab-title/tab-title.e2e.ts
  packages/calcite-components/src/components/tab-title/tab-title.scss
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.stories.ts
  packages/calcite-components/src/demos/tabs.html
Labels: bug, pr ready for visual snapshots

#9851 ci: add type checking to github scripts
  .github/scripts/addCalcitePackageLabel.js
  .github/scripts/addEsriProductLabel.js
  .github/scripts/addPriorityLabel.js
  .github/scripts/assignForVerification.js
  .github/scripts/assignPullRequestAuthor.js
  .github/scripts/labelPullRequestWithCommitType.js
  .github/scripts/notifyAboutNewComponent.js
  .github/scripts/notifyWhenReadyForDev.js
  .github/scripts/notifyWhenSpikeComplete.js
  .github/scripts/support/utils.js
  .github/scripts/validatePullRequestTitle.js
  package-lock.json
  package.json
Labels: chore, skip visual snapshots

#9856 fix(panel, flow-item): prevent footer slots from conflicting with each other
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/panel/panel.tsx
Labels: bug, pr ready for visual snapshots

#9863 chore(value-list-item): add runtime deprecation warning
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
Labels: chore, skip visual snapshots

#9853 test(tree): stabilize tests
  packages/calcite-components/src/components/tree/tree.e2e.ts
Labels: skip visual snapshots

#9829 refactor: create a common resource to store debounce consts
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-bar/utils.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/filter/filter.e2e.ts
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/filter/resources.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
  packages/calcite-components/src/utils/resources.ts
Labels: refactor, skip visual snapshots

#9870 chore(pick-list, pick-list-item, value-list-item): fix runtime deprecation messages
  packages/calcite-components/src/components/pick-list-item/pick-list-item.tsx
  packages/calcite-components/src/components/pick-list/pick-list.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
Labels: chore, skip visual snapshots

#9866 chore: avoid deleting untracked, non-generated files on npm run clean
  package.json
Labels: chore, skip visual snapshots

#9860 chore(themed): add token CSS variable test helper
  packages/calcite-components/src/demos/_assets/demo-theme.ts
  packages/calcite-components/src/demos/_assets/head.ts
  packages/calcite-components/src/tests/commonTests/themed.ts
  packages/calcite-components/src/tests/utils/cssTokenValues.ts
Labels: chore, testing, p - high, skip visual snapshots, p2 - want for current milestone

#9867 fix(tab-title): Adjust hover styling for `bordered` Tab Title
  packages/calcite-components/src/components/tab-title/tab-title.scss
Labels: bug, pr ready for visual snapshots

#9847 docs(action): deprecates the compact property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/action.stories.ts
  packages/calcite-components/src/components/action/action.tsx
Labels: docs, skip visual snapshots

#9877 ci: fix env var case in workflows
  .github/workflows/issue-notifications.yaml
Labels: chore, skip visual snapshots

#9871 feat(dialog): add padding to default slot
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dialog/resources.ts
Labels: bug, enhancement, pr ready for visual snapshots

#9868 fix(panel): correct footer padding and layout
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
  packages/calcite-components/src/demos/panel.html
Labels: bug, pr ready for visual snapshots

#9883 feat(combobox-item): apply heading color according to updated spec
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
Labels: enhancement, pr ready for visual snapshots

#9887 build(deps): bump node version pinned by volta
  package.json
  packages/calcite-design-tokens/package.json
Labels: chore, skip visual snapshots

#9886 build(deps): update github-script types
  package-lock.json
  package.json
Labels: chore, skip visual snapshots

#9795 feat(shell-panel): deprecate float displayMode and add float-content and float-all
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/shell-panel/interfaces.d.ts
  packages/calcite-components/src/components/shell-panel/resources.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/demos/shell-panel.html
Labels: bug, enhancement, pr ready for visual snapshots

#9852 chore: add license to npm package
  packages/calcite-design-tokens/LICENSE.md
  packages/calcite-design-tokens/package.json
Labels: chore, skip visual snapshots

#9850 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox-item/readme.md
  packages/calcite-components/src/components/dialog/readme.md
  packages/calcite-components/src/components/flow-item/readme.md
  packages/calcite-components/src/components/modal/readme.md
  packages/calcite-components/src/components/panel/readme.md
  packages/calcite-components/src/components/scrim/readme.md
  packages/calcite-components/src/components/shell/readme.md
Labels: docs, skip visual snapshots

#9891 fix(dialog): fix menu positioning when when overlayPositioning is 'fixed' and menuOpen is true
  packages/calcite-components/src/components/dialog/dialog.scss
Labels: bug, pr ready for visual snapshots

#9901 build(deps): resolve husky deprecation warnings
  .husky/pre-commit
  package.json
Labels: chore, skip visual snapshots

#9894 fix(input-date-picker): ensure initial value is in range
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Labels: bug, pr ready for visual snapshots

#9865 chore(.gitignore): drop redundant entry
  .gitignore
Labels: skip visual snapshots

#9907 build(deps): drop unnecessary ESM resolution build patch
  packages/calcite-components/package.json
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/support/patchESMResolution.ts
Labels: chore, skip visual snapshots

#9906 ci: fix chromatic icon build errors
  .github/workflows/chromatic.yml
Labels: chore, pr ready for visual snapshots

#9915 fix: widen icon type to allow string
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/card/card.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/fab/fab.tsx
  packages/calcite-components/src/components/functional/Validation.tsx
  packages/calcite-components/src/components/icon/icon.tsx
  packages/calcite-components/src/components/icon/interfaces.ts
  packages/calcite-components/src/components/icon/utils.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-message/input-message.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/link/link.tsx
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/components/navigation-logo/navigation-logo.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/split-button/split-button.tsx
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/dom.ts
  packages/calcite-components/src/utils/form.tsx
Labels: bug, skip visual snapshots

#9716 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/package.json
Labels: chore, autorelease: pending

#9916 chore: release main (#9716)
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/package.json
Labels: chore, skip visual snapshots

#9911 test(tooltip): enhance test to better cover shadow root elements being focused
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Labels: skip visual snapshots
