Repository Esri/calcite-design-system, pull requests merged in 2024-08, with the labels that each got.

#9928 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/readme.md
  packages/calcite-components/src/components/action-menu/readme.md
  packages/calcite-components/src/components/action/readme.md
  packages/calcite-components/src/components/alert/readme.md
  packages/calcite-components/src/components/block-section/readme.md
  packages/calcite-components/src/components/block/readme.md
  packages/calcite-components/src/components/button/readme.md
  packages/calcite-components/src/components/chip/readme.md
  packages/calcite-components/src/components/combobox-item/readme.md
  packages/calcite-components/src/components/combobox/readme.md
  packages/calcite-components/src/components/dialog/readme.md
  packages/calcite-components/src/components/dropdown-item/readme.md
  packages/calcite-components/src/components/fab/readme.md
  packages/calcite-components/src/components/icon/readme.md
  packages/calcite-components/src/components/input-date-picker/readme.md
  packages/calcite-components/src/components/input-message/readme.md
  packages/calcite-components/src/components/input-number/readme.md
  packages/calcite-components/src/components/input-text/readme.md
  packages/calcite-components/src/components/input-time-picker/readme.md
  packages/calcite-components/src/components/input-time-zone/readme.md
  packages/calcite-components/src/components/input/readme.md
  packages/calcite-components/src/components/link/readme.md
  packages/calcite-components/src/components/menu-item/readme.md
  packages/calcite-components/src/components/navigation-logo/readme.md
  packages/calcite-components/src/components/notice/readme.md
  packages/calcite-components/src/components/popover/readme.md
  packages/calcite-components/src/components/radio-button-group/readme.md
  packages/calcite-components/src/components/segmented-control-item/readme.md
  packages/calcite-components/src/components/segmented-control/readme.md
  packages/calcite-components/src/components/select/readme.md
  packages/calcite-components/src/components/shell-panel/readme.md
  packages/calcite-components/src/components/split-button/readme.md
  packages/calcite-components/src/components/tab-title/readme.md
  packages/calcite-components/src/components/text-area/readme.md
  packages/calcite-components/src/components/tile-select/readme.md
  packages/calcite-components/src/components/tile/readme.md
  packages/calcite-components/src/components/tooltip/readme.md
  packages/calcite-components/src/components/tree-item/readme.md
Labels: docs, skip visual snapshots

#9927 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#9934 docs(list-item): add list as a type of element allowed in default slot.
  packages/calcite-components/src/components/list-item/list-item.tsx
Labels: docs

#9924 fix(block): display correct header spacing when heading or description are present
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
Labels: bug, skip visual snapshots

#9936 fix(panel, flow-item): fix header padding regression
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/panel/panel.scss
Labels: bug, pr ready for visual snapshots

#9873 feat(input-time-zone): add region mode
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.scss
  packages/calcite-components/src/components/input-time-zone/input-time-zone.stories.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input-time-zone/interfaces.d.ts
  packages/calcite-components/src/components/input-time-zone/resources.ts
  packages/calcite-components/src/components/input-time-zone/utils.ts
Labels: enhancement, pr ready for visual snapshots

#9892 feat(input-time-zone): add search placeholder icon to provide hint
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Labels: enhancement, pr ready for visual snapshots

#9917 fix(dropdown): ensure `setFocus` focuses the trigger
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Labels: bug, pr ready for visual snapshots

#9912 fix(shell): position side panels above the center content
  packages/calcite-components/src/components/shell/shell.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Labels: bug, pr ready for visual snapshots

#9942 chore: add 'start:components' npm script
  CONTRIBUTING.md
  package.json
Labels: chore, skip visual snapshots

#9941 refactor: clean up floating ui css and tooltip e2e test.
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Labels: refactor, pr ready for visual snapshots

#9943 fix(combobox): fix selection of items that were previously disabled
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, skip visual snapshots

#9951 ci(lerna): pin versions
  lerna.json
Labels: chore, skip visual snapshots

#9952 chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, autorelease: pending

#9954 chore: release main (#9952)
  .release-please-manifest.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/readme.md
Labels: chore

#9940 fix(input-time-zone): translate region names
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages.json
  packages/calcite-components/src/components/input-time-zone/assets/input-time-zone/t9n/messages_en.json
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Labels: bug, pr ready for visual snapshots

#9956 fix(combobox): update placeholder-icon color
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
Labels: bug, pr ready for visual snapshots

#9948 fix(list-item): prevent scrolling when item is focused.
  packages/calcite-components/src/components/list-item/list-item.scss
Labels: bug, pr ready for visual snapshots

#9966 chore: temporarily disable broken icon diff check
  .github/workflows/icons-diff-check.yml
Labels: chore

#9960 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox-item-group/readme.md
  packages/calcite-components/src/components/input-time-zone/readme.md
  packages/calcite-components/src/components/list-item/readme.md
Labels: docs, skip visual snapshots

#9959 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#9914 feat(tooltip): allow focusing and clicking on interactive elements within a tooltip
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.stories.ts
Labels: enhancement, pr ready for visual snapshots

#9968 chore(e2e): scope log messages to error
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/utils/config.ts
Labels: chore, skip visual snapshots

#9944 fix(accordion-item): align focus styles across browsers
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
Labels: bug, pr ready for visual snapshots

#9845 ci(actions): action to add comment when blocking issue is closed
  .github/scripts/addUnblockedComment.js
  .github/workflows/unblocked-issue-comment.yml
Labels: chore, skip visual snapshots

#9993 build: update browserslist db
  package-lock.json
Labels: chore, pr ready for visual snapshots, skip visual snapshots

#10009 fix(stepper-item): update component to take full width when parent's layout is "vertical"
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper/stepper.stories.ts
Labels: bug, pr ready for visual snapshots

#10030 ci: new version of husky no longer need npx
  .husky/pre-commit
Labels: chore, skip visual snapshots

#9990 fix(label): prevent focusing and toggling elements slotted within a label when a text selection occurs
  packages/calcite-components/src/components/label/label.e2e.ts
  packages/calcite-components/src/components/label/label.tsx
Labels: bug, skip visual snapshots

#10041 ci: fix chromatic and pr-semantic check trigger events
  .github/workflows/chromatic.yml
  .github/workflows/pr-semantic.yml
Labels: chore, skip visual snapshots

#10034 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/input-date-picker/readme.md
  packages/calcite-components/src/components/input-time-picker/readme.md
Labels: docs, skip visual snapshots

#10033 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#10024 build(deps): clean up ui-icon dependencies
  package-lock.json
  packages/calcite-ui-icons/bin/build.js
  packages/calcite-ui-icons/bin/optimize.js
  packages/calcite-ui-icons/bin/path-data.js
  packages/calcite-ui-icons/lib/spriter/index.js
  packages/calcite-ui-icons/package.json
Labels: chore, pr ready for visual snapshots

#10039 feat: add close-caption, transcript, flag, and flag-slash
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/closed-caption-16-f.svg
  packages/calcite-ui-icons/icons/closed-caption-16.svg
  packages/calcite-ui-icons/icons/closed-caption-24-f.svg
  packages/calcite-ui-icons/icons/closed-caption-24.svg
  packages/calcite-ui-icons/icons/closed-caption-32-f.svg
  packages/calcite-ui-icons/icons/closed-caption-32.svg
  packages/calcite-ui-icons/icons/flag-16-f.svg
  packages/calcite-ui-icons/icons/flag-16.svg
  packages/calcite-ui-icons/icons/flag-24-f.svg
  packages/calcite-ui-icons/icons/flag-24.svg
  packages/calcite-ui-icons/icons/flag-32-f.svg
  packages/calcite-ui-icons/icons/flag-32.svg
  packages/calcite-ui-icons/icons/flag-slash-16.svg
  packages/calcite-ui-icons/icons/flag-slash-24.svg
  packages/calcite-ui-icons/icons/flag-slash-32.svg
  packages/calcite-ui-icons/icons/transcript-16-f.svg
  packages/calcite-ui-icons/icons/transcript-16.svg
  packages/calcite-ui-icons/icons/transcript-24-f.svg
  packages/calcite-ui-icons/icons/transcript-24.svg
  packages/calcite-ui-icons/icons/transcript-32-f.svg
  packages/calcite-ui-icons/icons/transcript-32.svg
Labels: enhancement, skip visual snapshots

#10040 chore: stop requesting review from ben/franco for all PRs
  .github/CODEOWNERS
Labels: chore, skip visual snapshots

#9987 feat(combobox-item): add `heading` property (deprecates `textLabel`) and add `label` property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/combobox-item/combobox-item.e2e.ts
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Labels: enhancement, skip visual snapshots

#9849 fix(tree,tree-item): replace checkbox with div and a11y attributes
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tree-item/resources.ts
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.scss
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.stories.ts
  packages/calcite-components/src/demos/tree.html
Labels: bug, Stale, skip visual snapshots

#9836 ci: add contributors action
  .github/workflows/contributors.yml
  readme.md
Labels: chore, Stale, skip visual snapshots

#10053 ci: updates esri team dropdown list
  .github/ISSUE_TEMPLATE/accessibility.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/new-component.yml
Labels: chore, skip visual snapshots

#10047 ci: fix icon diff check failures
  .github/workflows/icons-diff-check.yml
Labels: chore, skip visual snapshots

#10056 ci: bump version in icon docs
  packages/calcite-ui-icons/docs/index.html
  release-please-config.json
Labels: chore, skip visual snapshots

#10057 revert: "build(deps): remove unused cheerio package (#10049)"
  package-lock.json
  package.json
  packages/calcite-components/package.json
Labels: skip visual snapshots

#10045 refactor(color-picker): extract common canvas control pointer down logic
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Labels: refactor, pr ready for visual snapshots

#10008 fix(input, input-number, input-text): no longer set focus when a validation message is clicked
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/input/input.tsx
Labels: bug, skip visual snapshots

#9861 feat(accordion, accordion-item): add component tokens
  packages/calcite-components/src/components/accordion-item/accordion-item.e2e.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion-item/resources.ts
  packages/calcite-components/src/components/accordion/accordion.e2e.ts
  packages/calcite-components/src/components/accordion/accordion.scss
  packages/calcite-components/src/components/accordion/accordion.stories.ts
  packages/calcite-components/src/components/accordion/accordion.tsx
  packages/calcite-components/src/components/accordion/resources.ts
  packages/calcite-components/src/demos/_assets/demo-theme.ts
  packages/calcite-components/src/demos/accordion.html
  packages/calcite-components/src/tests/utils/cssTokenValues.ts
Labels: enhancement, pr ready for visual snapshots, design-tokens

#10060 ci(semantic): add synchronize trigger event
  .github/workflows/pr-semantic.yml
Labels: chore, skip visual snapshots

#10061 chore: use short sha-1 format for startup info message
  packages/calcite-components/stencil.config.ts
Labels: chore, skip visual snapshots

#9904 feat(dialog): add CSS variables to offset the position
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/dialog/dialog.stories.ts
Labels: enhancement, Stale, pr ready for visual snapshots

#10067 feat: add layer-connection
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/layer-connection-16.svg
  packages/calcite-ui-icons/icons/layer-connection-24.svg
  packages/calcite-ui-icons/icons/layer-connection-32.svg
Labels: enhancement, skip visual snapshots

#9945 perf(input-time-zone): improve memory footprint by leveraging browser cache and releasing utils after their use
  packages/calcite-components/src/components/input-time-zone/utils.ts
Labels: chore, pr ready for visual snapshots

#10068 refactor(accordion-item): rename space token
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
Labels: chore, skip visual snapshots

#9880 fix(input, combobox, input-date-picker, input-number, input-text, input-time-picker, radio-button-group, segmented-control, select, text-area): provide clear field error messaging for AT
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
  packages/calcite-components/src/components/functional/Validation.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/resources.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-number/resources.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-text/resources.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-picker/resources.ts
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/input/resources.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/radio-button-group/resources.ts
  packages/calcite-components/src/components/segmented-control/resources.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/resources.ts
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/resources.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Labels: bug, skip visual snapshots

#10070 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/readme.md
  packages/calcite-components/src/components/accordion/readme.md
  packages/calcite-components/src/components/checkbox/readme.md
  packages/calcite-components/src/components/combobox-item/readme.md
  packages/calcite-components/src/components/dialog/readme.md
  packages/calcite-components/src/components/tree-item/readme.md
Labels: docs, skip visual snapshots

#10077 fix: update close-caption, and transcript
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/closed-caption-16-f.svg
  packages/calcite-ui-icons/icons/closed-caption-16.svg
  packages/calcite-ui-icons/icons/closed-caption-24-f.svg
  packages/calcite-ui-icons/icons/closed-caption-24.svg
  packages/calcite-ui-icons/icons/closed-caption-32-f.svg
  packages/calcite-ui-icons/icons/closed-caption-32.svg
  packages/calcite-ui-icons/icons/transcript-16-f.svg
  packages/calcite-ui-icons/icons/transcript-16.svg
  packages/calcite-ui-icons/icons/transcript-24-f.svg
  packages/calcite-ui-icons/icons/transcript-24.svg
  packages/calcite-ui-icons/icons/transcript-32-f.svg
  packages/calcite-ui-icons/icons/transcript-32.svg
Labels: bug, skip visual snapshots

#10073 fix(slider): prevent text selection when using the slider
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/slider/slider.scss
Labels: bug, pr ready for visual snapshots

#10079 fix(combobox, input-date-picker, input-number, input-text, input-time-picker, input, radio-button-group, segmented-control, select, text-area): use toAriaBoolean in aria-invalid attribute to provide valid AT error messaging
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
Labels: bug, skip visual snapshots

#10078 ci(chromatic): ensure skip label added by ci works
  .github/workflows/pr-e2e.yml
Labels: chore, skip visual snapshots

#9978 feat(dialog): add outsideCloseDisabled property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
Labels: enhancement, skip visual snapshots

#10081 feat(dialog): add escapeDisabled property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
Labels: enhancement, skip visual snapshots

#10085 fix(panel): define heading and description line height
  packages/calcite-components/src/components/panel/panel.scss
Labels: bug, pr ready for visual snapshots

#10029 feat(alert): add 'queue' property to prioritize the ordering of alerts when opened
  packages/calcite-components/.storybook/resources.ts
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.stories.ts
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/alert/interfaces.ts
Labels: enhancement, pr ready for visual snapshots

#10097 fix(dialog): fix escapeDisabled when the escape key is pressed on the panel
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/demos/dialog.html
Labels: bug, skip visual snapshots

#10100 build: resolve EMFILE build errors on Windows
  package-lock.json
  packages/calcite-ui-icons/bin/build.js
  packages/calcite-ui-icons/bin/convert-mobile.js
  packages/calcite-ui-icons/bin/optimize.js
  packages/calcite-ui-icons/bin/path-data.js
  packages/calcite-ui-icons/lib/spriter/cli.js
  packages/calcite-ui-icons/lib/spriter/index.js
  packages/calcite-ui-icons/package.json
Labels: chore, skip visual snapshots

#10096 build(deps): remove unused updtr package
  package-lock.json
  package.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#9957 feat(loader): add `determinate-value` type
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/components/loader/loader.stories.ts
  packages/calcite-components/src/components/loader/loader.tsx
Labels: enhancement, pr ready for visual snapshots

#10101 test(color-picker): fix test covering hue scope keyboard nudging with shift
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
Labels: skip visual snapshots

#10032 fix(alert): properly form a queue of alerts
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/alert/AlertManager.spec.ts
  packages/calcite-components/src/components/alert/AlertManager.ts
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/alert/interfaces.ts
  packages/calcite-components/src/components/alert/resources.ts
Labels: bug, pr ready for visual snapshots

#10110 test(alert): unskip a11y test
  packages/calcite-components/src/components/alert/alert.e2e.ts
Labels: skip visual snapshots

#10111 chore(custom-theme): refactor storybook theme for component tokens
  packages/calcite-components/.storybook/placeholder-image.ts
  packages/calcite-components/src/components/avatar/avatar.e2e.ts
  packages/calcite-components/src/components/card/card.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/accordion-item.ts
  packages/calcite-components/src/custom-theme/accordion.ts
  packages/calcite-components/src/custom-theme/button.ts
  packages/calcite-components/src/custom-theme/card.ts
  packages/calcite-components/src/custom-theme/checkbox.ts
  packages/calcite-components/src/custom-theme/chips.ts
  packages/calcite-components/src/custom-theme/date-picker.ts
  packages/calcite-components/src/custom-theme/dropdown.ts
  packages/calcite-components/src/custom-theme/icon.ts
  packages/calcite-components/src/custom-theme/loader.ts
  packages/calcite-components/src/custom-theme/notice.ts
  packages/calcite-components/src/custom-theme/pagination.ts
  packages/calcite-components/src/custom-theme/segmented-control.ts
  packages/calcite-components/src/custom-theme/slider.ts
  packages/calcite-components/src/custom-theme/switch.ts
  packages/calcite-components/src/custom-theme/tabs.ts
  packages/calcite-components/src/custom-theme/tree.ts
Labels: chore, skip visual snapshots

#10121 docs: update instructions for blocked issues in contributing docs
  CONTRIBUTING.md
Labels: docs, skip visual snapshots

#10133 chore(placeholder-image): fix renamed module imports
  packages/calcite-components/src/components/accordion/accordion.stories.ts
  packages/calcite-components/src/components/avatar/avatar.stories.ts
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/card-group/card-group.stories.ts
  packages/calcite-components/src/components/card/card.stories.ts
  packages/calcite-components/src/components/carousel/carousel.stories.ts
  packages/calcite-components/src/components/chip/chip.stories.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/navigation-logo/navigation-logo.stories.ts
  packages/calcite-components/src/components/navigation-user/navigation-user.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/stack/stack.stories.ts
  packages/calcite-components/src/components/tabs/tabs.stories.ts
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/components/tip-manager/tip-manager.stories.ts
  packages/calcite-components/src/components/tip/tip.stories.ts
  packages/calcite-components/src/components/tooltip/tooltip.stories.ts
Labels: chore

#10125 feat(table): Update multiple selection iconography
  packages/calcite-components/src/components/table-header/resources.ts
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table/table.stories.ts
Labels: enhancement, pr ready for visual snapshots, visual changes

#10117 feat(panel): add '--calcite-panel-content-space' style
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.scss
Labels: enhancement, pr ready for visual snapshots

#10135 ci(actions): fix regex, and catch issue not found error on blocked issue action
  .github/scripts/addUnblockedComment.js
Labels: chore, skip visual snapshots

#10118 fix(dialog): allow shell to be slotted inside
  packages/calcite-components/src/components/dialog/dialog.scss
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dialog/resources.ts
Labels: bug, pr ready for visual snapshots

#10134 ci: fix json string escaping for release asset upload
  .github/workflows/deploy-latest.yml
Labels: chore, skip visual snapshots

#10130 fix(dialog, flow-item): slotted closable panels should not close the component
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/panel/resources.ts
Labels: bug, skip visual snapshots

#10144 chore: fix vite example windows build issues
  examples/components/vite/README.md
  examples/components/vite/vite.config.ts
Labels: chore, skip visual snapshots

#10149 fix(filter): fix setFocus method
  packages/calcite-components/src/components/filter/filter.e2e.ts
  packages/calcite-components/src/components/filter/filter.tsx
Labels: bug, skip visual snapshots

#10138 test(popover): unskip focusable test
  packages/calcite-components/src/components/popover/popover.e2e.ts
Labels: skip visual snapshots

#10147 refactor(stylelint): refactor to and enforce kebab-casing for Sass utilities
  packages/calcite-components/.stylelintrc.json
  packages/calcite-components/src/assets/styles/_animation.scss
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/alert/alert.scss
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/components/notice/notice.scss
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/progress/progress.scss
  packages/calcite-components/src/components/stepper/stepper.scss
  packages/calcite-components/src/components/tooltip/tooltip.scss
  packages/calcite-components/src/components/tree-item/tree-item.scss
Labels: refactor, pr ready for visual snapshots

#10058 feat(action, action-bar, action-group, action-menu, action-pad): add component tokens
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.scss
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-group/action-group.e2e.ts
  packages/calcite-components/src/components/action-group/action-group.scss
  packages/calcite-components/src/components/action-group/action-group.stories.ts
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.scss
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.scss
  packages/calcite-components/src/components/action-pad/action-pad.stories.ts
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/action.stories.ts
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/action.ts
  packages/calcite-components/src/demos/_assets/demo-theme.ts
  packages/calcite-components/src/demos/action.html
  packages/calcite-components/src/tests/commonTests/themed.ts
  packages/calcite-components/src/tests/utils/cssTokenValues.ts
Labels: enhancement, pr ready for visual snapshots

#10162 fix(input-date-picker): prevent console error when using a lang
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Labels: bug, skip visual snapshots

#10164 refactor: fix `FunctionalComponent` return types
  packages/calcite-components/src/components/functional/ExpandToggle.tsx
  packages/calcite-components/src/components/functional/FloatingArrow.tsx
  packages/calcite-components/src/components/functional/Heading.tsx
  packages/calcite-components/src/components/functional/Validation.tsx
  packages/calcite-components/src/components/functional/XButton.tsx
  packages/calcite-components/src/components/rating/functional/star.tsx
  packages/calcite-components/src/components/stepper/functional/step-bar.tsx
  packages/calcite-components/src/utils/form.tsx
  packages/calcite-components/src/utils/interactive.tsx
Labels: refactor, skip visual snapshots

#10062 feat(icon): add component tokens
  packages/calcite-components/calcite-preset.ts
  packages/calcite-components/src/assets/styles/global.scss
  packages/calcite-components/src/components/card/card.scss
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/components/chip/chip.stories.ts
  packages/calcite-components/src/components/icon/icon.e2e.ts
  packages/calcite-components/src/components/icon/icon.scss
  packages/calcite-components/src/components/icon/icon.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
  packages/calcite-components/src/components/navigation-user/navigation-user.scss
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/demos/chip-group.html
  packages/calcite-components/src/demos/chip.html
  packages/calcite-components/src/demos/icon.html
  packages/calcite-components/src/demos/navigation.html
  packages/calcite-components/src/demos/table.html
Labels: enhancement, pr ready for visual snapshots

#10157 chore(segmented-control): remove empty and irrelevant `describe` block
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
Labels: chore, skip visual snapshots

#10103 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/alert/readme.md
  packages/calcite-components/src/components/dialog/readme.md
  packages/calcite-components/src/components/loader/readme.md
  packages/calcite-components/src/components/panel/readme.md
Labels: docs, skip visual snapshots

#10148 fix(slider): resolve step & snap floating point precision
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/slider/slider.tsx
Labels: bug, pr ready for visual snapshots, skip visual snapshots

#10170 ci(release): fix jsonpath syntax for updating extra files
  release-please-config.json
Labels: chore, skip visual snapshots

#10171 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/docs/index.html
  packages/calcite-ui-icons/package.json
Labels: chore, autorelease: pending

#10172 chore: release main (#10171)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/docs/index.html
  packages/calcite-ui-icons/package.json
Labels: chore, skip visual snapshots

#10161 feat(card): component tokens
  packages/calcite-components/src/components/card-group/card-group.e2e.ts
  packages/calcite-components/src/components/card-group/card-group.scss
  packages/calcite-components/src/components/card/card.e2e.ts
  packages/calcite-components/src/components/card/card.scss
  packages/calcite-components/src/components/card/card.stories.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/card.ts
Labels: enhancement, pr ready for visual snapshots

#10167 test(action-group): remove extraneous template
  packages/calcite-components/src/components/action-group/action-group.stories.ts
Labels: skip visual snapshots

#8732 refactor: drop Firefox-specific logic for consistent disabled behavior
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/card-group/card-group.tsx
  packages/calcite-components/src/components/card/card.tsx
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/chip/chip.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/fab/fab.tsx
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/link/link.tsx
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/pick-list-item/pick-list-item.tsx
  packages/calcite-components/src/components/pick-list/pick-list.tsx
  packages/calcite-components/src/components/radio-button/radio-button.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/components/split-button/split-button.tsx
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/switch/switch.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/components/tile-group/tile-group.tsx
  packages/calcite-components/src/components/tile-select-group/tile-select-group.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/value-list-item/value-list-item.tsx
  packages/calcite-components/src/components/value-list/value-list.tsx
  packages/calcite-components/src/utils/interactive.tsx
Labels: bug, refactor, skip visual snapshots

#10185 fix(shell-panel): fill available space
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
Labels: bug, pr ready for visual snapshots

#10191 fix(switch): fix focus state styling in Safari
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/switch/switch.scss
Labels: bug, pr ready for visual snapshots

#10196 feat: add trace path and trace path complete
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/trace-path-16.svg
  packages/calcite-ui-icons/icons/trace-path-24.svg
  packages/calcite-ui-icons/icons/trace-path-32.svg
  packages/calcite-ui-icons/icons/trace-path-complete-16.svg
  packages/calcite-ui-icons/icons/trace-path-complete-24.svg
  packages/calcite-ui-icons/icons/trace-path-complete-32.svg
Labels: enhancement, skip visual snapshots

#10198 feat: added connection end left, connection end right, connection middle, connection to connection
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/connection-end-left-16.svg
  packages/calcite-ui-icons/icons/connection-end-left-24.svg
  packages/calcite-ui-icons/icons/connection-end-left-32.svg
  packages/calcite-ui-icons/icons/connection-end-right-16.svg
  packages/calcite-ui-icons/icons/connection-end-right-24.svg
  packages/calcite-ui-icons/icons/connection-end-right-32.svg
  packages/calcite-ui-icons/icons/connection-middle-16.svg
  packages/calcite-ui-icons/icons/connection-middle-24.svg
  packages/calcite-ui-icons/icons/connection-middle-32.svg
  packages/calcite-ui-icons/icons/connection-to-connection-16.svg
  packages/calcite-ui-icons/icons/connection-to-connection-24.svg
  packages/calcite-ui-icons/icons/connection-to-connection-32.svg
Labels: enhancement, skip visual snapshots

#10199 fix(list-item): decrease horizontal spacing between selection icon and content (#9304)
  packages/calcite-components/src/components/list-item/list-item.scss
Labels: bug, pr ready for visual snapshots

#10201 docs(modal): restore component-level doc
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/modal/modal.tsx
Labels: docs, skip visual snapshots
