Repository Esri/calcite-design-system, pull requests merged in 2024-10, with the labels that each got.

#10457 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/docs/index.html
  packages/calcite-ui-icons/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Labels: chore, autorelease: pending

#10452 refactor(card-group): fix typo
  packages/calcite-components/src/components/card-group/card-group.tsx
Labels: refactor, skip visual snapshots

#10448 refactor(alert): simplify setFocus method
  packages/calcite-components/src/components/alert/alert.tsx
Labels: refactor, pr ready for visual snapshots

#10449 fix(block): fix rendering tied to named-slot content
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.tsx
Labels: bug, pr ready for visual snapshots

#10450 fix(combobox-item): fix rendering tied to named-slot content
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Labels: bug, pr ready for visual snapshots

#10453 fix(notice): fix rendering tied to named-slot content
  packages/calcite-components/src/components/notice/notice.tsx
Labels: bug, pr ready for visual snapshots

#10447 fix(accordion-item): fix rendering tied to named-slot content
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
Labels: bug, pr ready for visual snapshots

#10464 refactor(action-bar, action-group, action-pad, shell, shell-panel): remove conditional slot component where not necessary
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/shell/shell.tsx
Labels: refactor, pr ready for visual snapshots

#10456 fix(inline-editable): fix rendering tied to default slot content
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
Labels: bug, pr ready for visual snapshots

#10451 fix(shell-center-row): fix rendering tied to named-slot content
  packages/calcite-components/src/components/shell-center-row/shell-center-row.e2e.ts
  packages/calcite-components/src/components/shell-center-row/shell-center-row.tsx
Labels: bug, pr ready for visual snapshots

#10469 fix(modal): fix rendering tied to named-slot content
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
Labels: bug, pr ready for visual snapshots

#10442 ci: compile estimate totals per milestone
  .github/scripts/trackMilestoneEstimates.js
  .github/workflows/track-milestone-estimates.yml
Labels: chore, skip visual snapshots

#10470 fix(tip): fix rendering tied to named-slot content
  packages/calcite-components/src/components/tip/resources.ts
  packages/calcite-components/src/components/tip/tip.scss
  packages/calcite-components/src/components/tip/tip.tsx
  packages/calcite-components/src/demos/tip-manager.html
  packages/calcite-components/src/demos/tip/basic.html
Labels: bug, pr ready for visual snapshots

#10432 refactor: use `requestAnimationFrame` to replace `readTask`
  packages/calcite-components/src/components/stepper/stepper.tsx
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/utils/openCloseComponent.spec.ts
  packages/calcite-components/src/utils/openCloseComponent.ts
Labels: refactor, skip visual snapshots

#10475 feat(stepper-item): update component's active state background color.
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
Labels: enhancement, skip visual snapshots

#10479 docs(accordion-item): fix deprecation tag
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
Labels: docs, skip visual snapshots

#10300 chore: add cssrem VSCode extension recommendation
  .vscode/extensions.json
Labels: chore, skip visual snapshots

#10478 chore: remove commented-out code
  packages/calcite-components/src/custom-theme/accordion.ts
Labels: chore, skip visual snapshots

#9250 feat(accordion-item): stretch slotted actions to fill its height
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion/accordion.stories.ts
  packages/calcite-components/src/demos/accordion.html
Labels: enhancement, pr ready for visual snapshots

#10474 chore(sort-handle): add messages
  packages/calcite-components/src/components/sort-handle/assets/sort-handle/t9n/messages.json
  packages/calcite-components/src/components/sort-handle/assets/sort-handle/t9n/messages_en.json
  t9nmanifest.txt
Labels: chore, skip visual snapshots

#10503 fix(dialog): no longer apply transform styling unless dragEnabled or resizable
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
Labels: bug, skip visual snapshots

#10507 docs(shell-center-row): add logger + component deprecation context
  packages/calcite-components/src/components/shell-center-row/shell-center-row.tsx
Labels: docs, skip visual snapshots

#10488 refactor: tidy up custom theme story
  packages/calcite-components/src/custom-theme.stories.ts
Labels: refactor, skip visual snapshots

#10485 feat(pagination): enhance component's interactive states
  packages/calcite-components/src/components/pagination/pagination.scss
Labels: enhancement, pr ready for visual snapshots

#10487 feat(stepper-item): update component's active state background color
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
Labels: enhancement, pr ready for visual snapshots

#10517 feat: add portal-other, replica sync enable
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/portal-other-16.svg
  packages/calcite-ui-icons/icons/portal-other-24.svg
  packages/calcite-ui-icons/icons/portal-other-32.svg
  packages/calcite-ui-icons/icons/replica-sync-enable-16.svg
  packages/calcite-ui-icons/icons/replica-sync-enable-24.svg
  packages/calcite-ui-icons/icons/replica-sync-enable-32.svg
Labels: enhancement, skip visual snapshots

#10498 fix(combobox): restores `filterText` when filtered items are empty
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
Labels: bug, pr ready for visual snapshots

#10518 fix(notice): ensure closed notice does not affect layout
  packages/calcite-components/src/components/notice/notice.e2e.ts
  packages/calcite-components/src/components/notice/notice.scss
  packages/calcite-components/src/tests/commonTests/openClose.ts
  packages/calcite-components/src/tests/commonTests/themed.ts
  packages/calcite-components/src/tests/utils.ts
Labels: bug, pr ready for visual snapshots

#10489 feat(input,input-text,text-area): support `spellcheck` property
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
Labels: enhancement, pr ready for visual snapshots

#10493 fix(chip): fix close icon color inconsistency
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/chip/chip.scss
Labels: bug, pr ready for visual snapshots

#10496 revert(panel): revert relative positioning on content
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/panel/panel.scss
Labels: bug, chore, pr ready for visual snapshots

#10523 feat(pagination): remove gap at start and end of component.
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/pagination/resources.ts
Labels: enhancement, pr ready for visual snapshots

#10392 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#10501 refactor(list): use roles instead of table elements
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.tsx
Labels: refactor, pr ready for visual snapshots

#10527 ci(husky): fix pre-push tty issue
  .husky/pre-push
Labels: chore, skip visual snapshots

#10530 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, autorelease: pending

#10393 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/readme.md
  packages/calcite-components/src/components/action-bar/readme.md
  packages/calcite-components/src/components/action-group/readme.md
  packages/calcite-components/src/components/action-pad/readme.md
  packages/calcite-components/src/components/action/readme.md
  packages/calcite-components/src/components/alert/readme.md
  packages/calcite-components/src/components/avatar/readme.md
  packages/calcite-components/src/components/block/readme.md
  packages/calcite-components/src/components/card-group/readme.md
  packages/calcite-components/src/components/card/readme.md
  packages/calcite-components/src/components/checkbox/readme.md
  packages/calcite-components/src/components/chip/readme.md
  packages/calcite-components/src/components/color-picker-hex-input/readme.md
  packages/calcite-components/src/components/dialog/readme.md
  packages/calcite-components/src/components/icon/readme.md
  packages/calcite-components/src/components/list-item-group/readme.md
  packages/calcite-components/src/components/list-item/readme.md
  packages/calcite-components/src/components/panel/readme.md
  packages/calcite-components/src/components/popover/readme.md
  packages/calcite-components/src/components/progress/readme.md
  packages/calcite-components/src/components/radio-button/readme.md
  packages/calcite-components/src/components/shell-center-row/readme.md
  packages/calcite-components/src/components/text-area/readme.md
Labels: docs, skip visual snapshots

#10531 chore: release main (#10530)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/readme.md
Labels: chore

#10533 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#10548 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#10553 feat: add drag resize vertical and drag resize horizontal
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/drag-resize-horizontal-16.svg
  packages/calcite-ui-icons/icons/drag-resize-horizontal-24.svg
  packages/calcite-ui-icons/icons/drag-resize-horizontal-32.svg
  packages/calcite-ui-icons/icons/drag-resize-vertical-16.svg
  packages/calcite-ui-icons/icons/drag-resize-vertical-24.svg
  packages/calcite-ui-icons/icons/drag-resize-vertical-32.svg
Labels: enhancement, skip visual snapshots

#10552 chore: fix code scanning alert no. 47: DOM text reinterpreted as HTML
  packages/calcite-ui-icons/docs/app.js
Labels: skip visual snapshots

#10551 chore: fix code scanning alert no. 48: DOM text reinterpreted as HTML
  packages/calcite-ui-icons/docs/app.js
Labels: chore, skip visual snapshots

#9839 refactor(tooltip): no longer use capture events.
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
Labels: refactor, pr ready for visual snapshots

#10561 fix(shell-center-row): ensure deprecation warning doesn’t show when using standalone `shell` or `shell-panel`
  packages/calcite-components/src/components/shell-center-row/shell-center-row.tsx
Labels: chore, skip visual snapshots

#10538 fix(inline-editable): add tooltips for controls
  packages/calcite-components/src/components/inline-editable/assets/inline-editable/t9n/messages.json
  packages/calcite-components/src/components/inline-editable/assets/inline-editable/t9n/messages_en.json
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
Labels: bug, skip visual snapshots

#10473 feat(list, list-item): add non-interactive option to remove hover/pointer changes.
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/interfaces.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: enhancement, skip visual snapshots

#10581 fix: updated web-adapter name
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/web-adapter-16.svg
  packages/calcite-ui-icons/icons/web-adapter-24.svg
  packages/calcite-ui-icons/icons/web-adapter-32.svg
Labels: bug, skip visual snapshots

#8402 feat(input-date-picker, date-picker): improve date picking experience
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker-month-header/resources.ts
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/date-picker-month/resources.ts
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/date-picker/date-picker.scss
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/resources.ts
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/utils/date.spec.ts
  packages/calcite-components/src/utils/date.ts
Labels: enhancement, pr ready for visual snapshots, visual changes

#10594 feat: add buffer point, buffer polygon, buffer polyline, contour, offset
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/buffer-point-16.svg
  packages/calcite-ui-icons/icons/buffer-point-24.svg
  packages/calcite-ui-icons/icons/buffer-point-32.svg
  packages/calcite-ui-icons/icons/buffer-polygon-16.svg
  packages/calcite-ui-icons/icons/buffer-polygon-24.svg
  packages/calcite-ui-icons/icons/buffer-polygon-32.svg
  packages/calcite-ui-icons/icons/buffer-polyline-16.svg
  packages/calcite-ui-icons/icons/buffer-polyline-24.svg
  packages/calcite-ui-icons/icons/buffer-polyline-32.svg
  packages/calcite-ui-icons/icons/contour-16.svg
  packages/calcite-ui-icons/icons/contour-24.svg
  packages/calcite-ui-icons/icons/contour-32.svg
  packages/calcite-ui-icons/icons/offset-16.svg
  packages/calcite-ui-icons/icons/offset-24.svg
  packages/calcite-ui-icons/icons/offset-32.svg
Labels: enhancement, skip visual snapshots

#10590 ci: add calcite-ui-icons label to relevant package PRs
  .github/scripts/iconTeamDiffCheck.js
  .github/scripts/support/resources.js
Labels: chore, skip visual snapshots

#10589 ci(chromatic): build storybook even when skipping snapshots
  .github/workflows/chromatic.yml
Labels: chore, pr ready for visual snapshots

#10597 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-angular/projects/component-library/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, autorelease: pending

#10600 docs: update component READMEs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action/readme.md
  packages/calcite-components/src/components/date-picker-day/readme.md
  packages/calcite-components/src/components/date-picker-month-header/readme.md
  packages/calcite-components/src/components/date-picker-month/readme.md
  packages/calcite-components/src/components/date-picker/readme.md
  packages/calcite-components/src/components/icon/readme.md
  packages/calcite-components/src/components/input-date-picker/readme.md
  packages/calcite-components/src/components/list/readme.md
  packages/calcite-components/src/components/option/readme.md
  packages/calcite-components/src/components/select/readme.md
Labels: docs, skip visual snapshots

#10598 deprecate: deprecate web-adaptor in favor of web-adapter
  packages/calcite-ui-icons/icons/web-adaptor-16.svg
  packages/calcite-ui-icons/icons/web-adaptor-24.svg
  packages/calcite-ui-icons/icons/web-adaptor-32.svg
Labels: enhancement, skip visual snapshots

#10476 feat(tile): add design tokens
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile/tile.e2e.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/tile.ts
  packages/calcite-components/src/demos/tile-group.html
Labels: enhancement, pr ready for visual snapshots

#10623 test(input-time-picker): wait for changes after typing value
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Labels: skip visual snapshots

#10615 test: ensure `skipAnimation` calls take place after content is set
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/modal/modal.e2e.ts
Labels: skip visual snapshots

#10611 chore(input-time-zone): rename t9n test for consistency
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Labels: chore, skip visual snapshots

#10614 refactor: remove unnecessary `skipAnimations` delay workaround
  packages/calcite-components/src/tests/commonTests/openClose.ts
  packages/calcite-components/src/tests/utils.ts
Labels: refactor, skip visual snapshots

#10625 feat: add user risk
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/user-risk-16.svg
  packages/calcite-ui-icons/icons/user-risk-24.svg
  packages/calcite-ui-icons/icons/user-risk-32.svg
Labels: skip visual snapshots

#10612 refactor: move deprecation warnings to componentWillLoad to avoid incorrect messaging due to bundling
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/tile-select-group/tile-select-group.tsx
  packages/calcite-components/src/components/tile-select/tile-select.tsx
  packages/calcite-components/src/components/tip-group/tip-group.tsx
  packages/calcite-components/src/components/tip-manager/tip-manager.tsx
  packages/calcite-components/src/components/tip/tip.tsx
Labels: refactor, skip visual snapshots

#10626 test(tooltip): skip unstable test
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Labels: skip visual snapshots

#10613 refactor: simplify `newProgrammaticE2EPage`
  packages/calcite-components/src/tests/utils.ts
Labels: refactor, skip visual snapshots

#10624 chore: tidy up imports
  packages/calcite-components/src/tests/commonTests/labelable.ts
Labels: chore, skip visual snapshots

#10638 deprecate: deprecate `require-event-emitter-type` rule
  packages/eslint-plugin-calcite-components/docs/require-event-emitter-type.md
  packages/eslint-plugin-calcite-components/src/rules/require-event-emitter-type.ts
Labels: skip visual snapshots

#10621 feat(rating, slider): add validation message to support form error handling
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/rating/rating.scss
  packages/calcite-components/src/components/rating/rating.stories.ts
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/rating/resources.ts
  packages/calcite-components/src/components/slider/resources.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/slider/slider.scss
  packages/calcite-components/src/components/slider/slider.stories.ts
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/demos/rating.html
  packages/calcite-components/src/demos/slider.html
  packages/calcite-components/src/demos/validation.html
Labels: enhancement, pr ready for visual snapshots

#10637 docs(ban-events): fix typo
  packages/eslint-plugin-calcite-components/docs/ban-events.md
Labels: docs, skip visual snapshots

#10640 fix: update collaboration user, properties, text-button
  packages/calcite-ui-icons/icons/collaboration-user-24.svg
  packages/calcite-ui-icons/icons/properties-16.svg
  packages/calcite-ui-icons/icons/text-button-16.svg
  packages/calcite-ui-icons/icons/text-button-24.svg
  packages/calcite-ui-icons/icons/text-button-32.svg
Labels: bug, skip visual snapshots

#10642 deprecate: deprecate `ban-props-on-host` rule
  packages/eslint-plugin-calcite-components/docs/ban-props-on-host.md
  packages/eslint-plugin-calcite-components/src/rules/ban-props-on-host.ts
Labels: skip visual snapshots

#10628 test(date-picker, input-date-picker): improve consistency of screenshot tests
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
Labels: pr ready for visual snapshots

#10644 feat(navigation): add component tokens
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components/navigation/navigation.e2e.ts
  packages/calcite-components/src/components/navigation/navigation.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/navigation.ts
Labels: enhancement, pr ready for visual snapshots

#10512 feat: add default focus color token
  packages/calcite-components/calcite-preset.ts
  packages/calcite-design-tokens/src/semantic/color.json
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/token-transformer/helpers/createCalciteTokenFiles.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/css.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/scss.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatExtraOutput.ts
  packages/calcite-design-tokens/support/types/config.ts
Labels: enhancement, Stale, pr ready for visual snapshots, design-tokens

#10651 ci(actions): fix contributor list action failing
  .github/workflows/contributors.yml
Labels: chore, skip visual snapshots

#10659 docs: fixup invalid JSDoc blocks
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/link/link.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
Labels: docs, skip visual snapshots

#9554 fix(action-bar, action-pad)!: Do not modify text-enabled on slotted actions unless expanded is toggled
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.stories.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.stories.ts
  packages/calcite-components/src/components/action-pad/action-pad.tsx
Labels: bug, breaking change, pr ready for visual snapshots

#9390 feat(flow, flow-item)!: avoids removing flow-items from the DOM and adds selected property
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.scss
  packages/calcite-components/src/components/flow-item/flow-item.stories.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.scss
  packages/calcite-components/src/components/flow/flow.stories.ts
  packages/calcite-components/src/components/flow/flow.tsx
  packages/calcite-components/src/components/flow/interfaces.ts
  packages/calcite-components/src/demos/flow.html
Labels: enhancement, breaking change, pr ready for visual snapshots

#10480 feat(list)!: Support moving between different lists via keyboard
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/interfaces.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sort-handle/interfaces.ts
  packages/calcite-components/src/components/sort-handle/readme.md
  packages/calcite-components/src/components/sort-handle/resources.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.scss
  packages/calcite-components/src/components/sort-handle/sort-handle.stories.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
  packages/calcite-components/src/demos/list.html
  packages/calcite-components/src/demos/sort-handle.html
  packages/calcite-components/src/index.html
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: enhancement, breaking change, pr ready for visual snapshots

#10662 refactor: handle stencil vs lumina boolean reflection differences
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/demos/validation.html
  packages/calcite-components/src/tests/commonTests/formAssociated.ts
  packages/calcite-components/src/utils/dom.ts
  packages/calcite-components/src/utils/form.tsx
Labels: refactor, pr ready for visual snapshots, skip visual snapshots

#10241 fix!: floating-ui elements no longer take up space when closed
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/dropdown/resources.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/resources.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/popover/popover.stories.ts
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/popover/resources.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/tooltip/resources.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.scss
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/floating-ui.ts
Labels: bug, breaking change, pr ready for visual snapshots

#10663 fix(sort-handle): adjust icon color
  packages/calcite-components/src/components/sort-handle/sort-handle.scss
Labels: bug, pr ready for visual snapshots

#10471 refactor: remove deprecated utilities and functions
  packages/calcite-components/src/utils/conditionalSlot.ts
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/dom.ts
Labels: chore, Stale, skip visual snapshots

#10511 fix(combobox): include groups in filtering
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/interfaces.ts
Labels: bug, pr ready for visual snapshots
