Repository Esri/calcite-design-system, pull requests merged in 2025-10, with the labels that each got.

#12991 ci(deploy): combine next/latest workflows
  .github/workflows/deploy-prerelease.yml
  .github/workflows/deploy.yml
Labels: chore, skip visual snapshots

#12990 feat(color-picker, date-picker): adjust outline color for 4.0
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/date-picker/date-picker.scss
Labels: enhancement, pr ready for visual snapshots

#12998 ci(deploy): remove the npm token environment variables
  .github/workflows/deploy.yml
Labels: chore, skip visual snapshots

#12995 chore: update `peopleMap` used by Monday.com support script
  .github/scripts/support/monday.js
Labels: chore, skip visual snapshots

#13002 revert: use a granular npm token for deployment
  .github/workflows/deploy-latest.yml
  .github/workflows/deploy-prerelease.yml
Labels: skip visual snapshots

#13001 chore: drop obsolete dist cleaning script
  packages/calcite-components/package.json
  packages/calcite-components/support/cleanupDistFiles.sh
Labels: chore, skip visual snapshots

#13025 fix(table-row): add deprecated background token as fallback
  packages/calcite-components/src/components/table-row/table-row.scss
Labels: skip visual snapshots

#13027 refactor(color-picker, dialog): drop duplicate CSS prop overrides
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/dialog/dialog.scss
Labels: refactor, skip visual snapshots

#13029 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
  packages/calcite-components/package.json
Labels: chore, autorelease: pending

#13031 chore: release main (#13029)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
Labels: chore, skip visual snapshots

#13040 docs(button, split-button): reword `icon-color` token docs to avoid forward slash
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/components/split-button/split-button.scss
Labels: docs, skip visual snapshots

#13048 build(deps): bump `focus-trap`
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, pr ready for visual snapshots

#13052 build(deps): tweak dep ranges
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
  packages/calcite-tailwind-preset/package.json
  release-please-config.json
Labels: chore, pr ready for visual snapshots

#13058 fix(button): add backward compatibility for `--calcite-ui-icon-color` token
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.scss
Labels: bug, pr ready for visual snapshots

#13063 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
  packages/calcite-components/package.json
Labels: chore, autorelease: pending

#13059 build(deps): bump `@arcgis` deps to latest
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#13070 chore(examples): fix typo
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
Labels: chore, skip visual snapshots

#13065 chore(combobox): add t9n strings for readonly
  packages/calcite-components/src/components/combobox/assets/t9n/messages.en.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.json
Labels: chore, skip visual snapshots
