Repository Esri/calcite-design-system, pull requests merged in 2025-09, with the labels that each got.

#12799 fix(list, block-group): emit calciteListOrderChange on destination when adding or moving from the menu
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, skip visual snapshots

#12777 fix(block): allow customizing heading text color when expanded & deprecate tokens
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
Labels: bug, pr ready for visual snapshots

#12802 fix(panel): alert slot should not take up any height
  packages/calcite-components/src/components/panel/panel.scss
Labels: bug, pr ready for visual snapshots

#12801 fix(block): no longer renders an empty header
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
Labels: bug, pr ready for visual snapshots

#12806 docs(slider, stepper-item, flow-item): feedback changes for boolean property consistency
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
Labels: docs, skip visual snapshots

#12757 feat(combobox): single-persist mode ignores clearDisabled
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Labels: enhancement, pr ready for visual snapshots

#12821 chore: add design label to new component issue template
  .github/ISSUE_TEMPLATE/new-component.yml
Labels: chore, skip visual snapshots

#12823 ci(renovate): allow prerelease bumps for arcgis deps
  .renovaterc.json
Labels: chore, skip visual snapshots

#12813 feat(panel): Add `collapseDirection` as public property
  packages/calcite-components/src/components/panel/panel.tsx
Labels: enhancement, docs, skip visual snapshots

#12828 fix(tokens): update `--calcite-font-line-height-relative` to resolve as a valid value
  packages/calcite-design-tokens/src/tokens/core/size.json
  packages/calcite-design-tokens/src/tokens/semantic/font.json
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Labels: bug, pr ready for visual snapshots

#12825 docs: boolean property context consistency
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/components/table/table.tsx
Labels: docs, skip visual snapshots

#12798 feat(tokens): add missing line height tokens
  packages/calcite-components/src/components/radio-button/radio-button.scss
  packages/calcite-components/src/components/rating/rating.scss
  packages/calcite-components/src/components/text-area/text-area.scss
  packages/calcite-design-tokens/src/tokens/semantic/font.json
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Labels: enhancement, skip visual snapshots, design-tokens, calcite-design-tokens

#12824 build(deps): bump arcgis deps to next
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Labels: chore, pr ready for visual snapshots, skip visual snapshots

#12822 chore(storybook): restore `@whitespace/storybook-addon-html`
  package-lock.json
  package.json
  packages/calcite-components/.storybook/main.ts
Labels: chore, pr ready for visual snapshots

#12811 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#12834 docs(conventions): add boolean attribute rule to Documentation Style Guide
  packages/calcite-components/conventions/Documentation.md
Labels: docs, skip visual snapshots

#12835 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#12848 fix(list, block-group): sort handle menu should respond to new lists or label changes
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, skip visual snapshots

#12849 feat(accordion-item): add content-start and content-end slots
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion-item/resources.ts
  packages/calcite-components/src/components/accordion/accordion.stories.ts
Labels: enhancement, pr ready for visual snapshots

#12832 docs(radio-button-group): deprecate `"grid"` value for `layout` property, add logger
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
Labels: docs, skip visual snapshots

#12855 fix(swatch): Ensure corner radius css property is correctly applied
  packages/calcite-components/src/components/swatch/swatch.e2e.ts
  packages/calcite-components/src/components/swatch/swatch.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/swatch-group.ts
  packages/calcite-components/src/custom-theme/swatch.ts
  packages/calcite-components/src/demos/swatch-group.html
Labels: bug, pr ready for visual snapshots

#12874 feat(input-time-picker): Add component tokens
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/input-time-picker.ts
  packages/calcite-components/src/demos/input-time-picker.html
Labels: enhancement, pr ready for visual snapshots

#12887 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
  packages/calcite-components/package.json
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/calcite-tailwind-preset/CHANGELOG.md
  packages/calcite-tailwind-preset/package.json
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/docs/index.html
  packages/calcite-ui-icons/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Labels: chore, autorelease: pending

#12875 fix(core-tokens): add missing color token `l-vv-100`
  packages/calcite-design-tokens/src/tokens/$themes.json
  packages/calcite-design-tokens/src/tokens/core/color.json
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Labels: bug, pr ready for visual snapshots

#12888 feat(date-picker, table-cell): update to use color-surface-highlight token
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/table-cell/table-cell.scss
Labels: enhancement, pr ready for visual snapshots

#12892 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#12820 ci(actions): add Monday.com syncing automations
  .github/scripts/monday/createTask.js
  .github/scripts/monday/removeLabel.js
  .github/scripts/monday/updateAssignee.js
  .github/scripts/monday/updateLabels.js
  .github/scripts/monday/updateMilestone.js
  .github/scripts/monday/updateState.js
  .github/scripts/monday/updateTitle.js
  .github/scripts/notifyWhenReadyForDev.js
  .github/scripts/notifyWhenSpikeComplete.js
  .github/scripts/support/monday.js
  .github/scripts/support/resources.js
  .github/scripts/support/utils.js
  .github/workflows/issue-monday-sync.yml
Labels: chore, skip visual snapshots

#12907 feat: add integer set and number set
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/integer-set-16.svg
  packages/calcite-ui-icons/icons/integer-set-24.svg
  packages/calcite-ui-icons/icons/integer-set-32.svg
  packages/calcite-ui-icons/icons/number-set-16.svg
  packages/calcite-ui-icons/icons/number-set-24.svg
  packages/calcite-ui-icons/icons/number-set-32.svg
Labels: enhancement, skip visual snapshots

#12905 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#12900 ci(actions): update unblocked issues action to take full URLs
  .github/scripts/addUnblockedComment.js
Labels: chore, skip visual snapshots

#12912 chore: release main (#12887)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
  packages/calcite-components/package.json
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/calcite-tailwind-preset/CHANGELOG.md
  packages/calcite-tailwind-preset/package.json
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/docs/index.html
  packages/calcite-ui-icons/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Labels: chore

#12903 fix(inline-editable): prevent interaction with start-editing button when hidden
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
Labels: bug, pr ready for visual snapshots

#12918 ci(actions): fix Monday sync bugs and trigger sync from `ready for dev` action
  .github/scripts/monday/handleReadyForDev.js
  .github/scripts/monday/updateAssignee.js
  .github/scripts/monday/updateLabels.js
  .github/scripts/monday/updateState.js
  .github/scripts/notifyWhenReadyForDev.js
  .github/scripts/support/monday.js
  .github/workflows/issue-monday-sync.yml
  .github/workflows/issue-notifications.yml
Labels: chore, skip visual snapshots

#12921 docs(contributing): update blocked issue instructions
  CONTRIBUTING.md
Labels: docs, skip visual snapshots

#12916 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#12752 chore(linting): use `no-restricted-syntax` to enforce consistent ref naming
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/card/card.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/chip-group/chip-group.tsx
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dropdown-item/dropdown-item.tsx
  packages/calcite-components/src/components/fab/fab.tsx
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/components/meter/meter.tsx
  packages/calcite-components/src/components/navigation/navigation.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/swatch-group/swatch-group.tsx
  packages/calcite-components/src/components/swatch/swatch.tsx
  packages/calcite-components/src/components/table-cell/table-cell.tsx
  packages/calcite-components/src/components/table-header/table-header.tsx
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Labels: chore, skip visual snapshots

#12939 refactor(dropdown): drop redundant event.stopPropagation()
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Labels: refactor, skip visual snapshots

#12899 feat(dropdown-group): update design for 4.0
  packages/calcite-components/src/components/dropdown-group/dropdown-group.e2e.ts
  packages/calcite-components/src/components/dropdown-group/dropdown-group.scss
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/dropdown-group/resources.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
Labels: enhancement, skip visual snapshots

#12924 ci(actions): fix Monday.com sync issues/logic
  .github/scripts/monday/createTask.js
  .github/scripts/monday/handleReadyForDev.js
  .github/scripts/monday/updateLabels.js
  .github/scripts/notifyWhenReadyForDev.js
  .github/scripts/support/monday.js
  .github/workflows/issue-monday-sync.yml
Labels: chore, skip visual snapshots

#12954 ci(actions): sync design tokens labels to Monday
  .github/scripts/monday/removeLabel.js
  .github/scripts/support/monday.js
  .github/scripts/support/resources.js
  .github/workflows/issue-monday-sync.yml
Labels: chore, skip visual snapshots

#12851 feat(tree-item): add `calciteTreeItemSelect` event
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Labels: enhancement, skip visual snapshots

#12956 fix(list-item): fix memory leak caused by focusing before disconnecting
  packages/calcite-components/src/components/list-item/list-item.tsx
Labels: bug, pr ready for visual snapshots

#12957 ci(actions): pass query variables explicitly as property named `variables`
  .github/scripts/support/monday.js
Labels: chore, skip visual snapshots

#12948 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#12963 fix(panel): Ensure `content-top` and `action-bar` slots are visible
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/demos/panel.html
Labels: bug, pr ready for visual snapshots

#12946 refactor(color-picker): tidy up
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/color-picker/utils.spec.ts
  packages/calcite-components/src/components/color-picker/utils.ts
Labels: refactor, pr ready for visual snapshots

#12966 refactor(dropdown): drop multi-trigger handling logic
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/interfaces.ts
Labels: refactor, skip visual snapshots

#12902 fix(carousel): Ensure icon tokens are correctly applied
  packages/calcite-components/src/components/carousel/carousel.scss
  packages/calcite-components/src/demos/carousel.html
Labels: bug, pr ready for visual snapshots, design-tokens

#12976 chore: fix a broken link in changelog
  packages/calcite-components/CHANGELOG.md
Labels: chore, skip visual snapshots

#12961 fix(list): fix loader scrim height for empty list
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.stories.ts
Labels: bug, pr ready for visual snapshots

#12980 docs(conventions): revert boolean guidelines to "When `true`, xxx"
  packages/calcite-components/conventions/Documentation.md
Labels: docs, skip visual snapshots

#12977 feat(list-item-group): update design for 4.0
  packages/calcite-components/src/components/list-item-group/list-item-group.scss
Labels: enhancement, pr ready for visual snapshots

#12992 chore: release main (#12989)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-tailwind-preset/CHANGELOG.md
Labels: chore
