Repository Esri/calcite-design-system, pull requests merged in 2025-07, with the labels that each got.

#12292 refactor: add cancelableResourceController and test utils
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/src/components/action-bar/action-bar.browser.e2e.tsx
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.browser.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/block-group/block-group.browser.e2e.tsx
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/color-picker/color-picker.browser.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/combobox/combobox.browser.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/filter/filter.browser.e2e.ts
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/list/list.browser.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/text-area/text-area.browser.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/controllers/useCancelable.browser.spec.ts
  packages/calcite-components/src/controllers/useCancelable.ts
  packages/calcite-components/src/tests/commonTests/browser/cancelable.ts
  packages/calcite-components/src/tests/commonTests/browser/index.ts
  packages/calcite-components/src/tests/commonTests/interfaces.ts
  packages/calcite-components/src/tests/commonTests/t9n.ts
  packages/calcite-components/src/tests/utils/puppeteer.ts
  support/dictionaries/dict-calcite-design-system.txt
Labels: refactor, testing, pr ready for visual snapshots

#12435 feat: add js-api icons
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/arc-segment-16.svg
  packages/calcite-ui-icons/icons/arc-segment-24.svg
  packages/calcite-ui-icons/icons/arc-segment-32.svg
  packages/calcite-ui-icons/icons/arrow-curve-tool-16.svg
  packages/calcite-ui-icons/icons/arrow-curve-tool-24.svg
  packages/calcite-ui-icons/icons/arrow-curve-tool-32.svg
  packages/calcite-ui-icons/icons/bezier-curve-16.svg
  packages/calcite-ui-icons/icons/bezier-curve-24.svg
  packages/calcite-ui-icons/icons/bezier-curve-32.svg
  packages/calcite-ui-icons/icons/end-point-arc-segment-16.svg
  packages/calcite-ui-icons/icons/end-point-arc-segment-24.svg
  packages/calcite-ui-icons/icons/end-point-arc-segment-32.svg
  packages/calcite-ui-icons/icons/tangent-curve-16.svg
  packages/calcite-ui-icons/icons/tangent-curve-24.svg
  packages/calcite-ui-icons/icons/tangent-curve-32.svg
Labels: enhancement, skip visual snapshots

#12439 chore(icons): remove surrounding space from keywords metadata
  packages/calcite-ui-icons/docs/keywords.json
Labels: chore, skip visual snapshots

#12414 fix(input-number): add token to customize icon color
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/custom-theme/input-number.ts
  packages/calcite-components/src/demos/input-number.html
Labels: bug, pr ready for visual snapshots

#12444 chore(icons): optimize newest icons
  packages/calcite-ui-icons/icons/arc-segment-16.svg
  packages/calcite-ui-icons/icons/arc-segment-24.svg
  packages/calcite-ui-icons/icons/arc-segment-32.svg
  packages/calcite-ui-icons/icons/arrow-curve-tool-16.svg
  packages/calcite-ui-icons/icons/arrow-curve-tool-24.svg
  packages/calcite-ui-icons/icons/arrow-curve-tool-32.svg
  packages/calcite-ui-icons/icons/bezier-curve-16.svg
  packages/calcite-ui-icons/icons/bezier-curve-24.svg
  packages/calcite-ui-icons/icons/bezier-curve-32.svg
  packages/calcite-ui-icons/icons/end-point-arc-segment-16.svg
  packages/calcite-ui-icons/icons/end-point-arc-segment-24.svg
  packages/calcite-ui-icons/icons/end-point-arc-segment-32.svg
  packages/calcite-ui-icons/icons/tangent-curve-16.svg
  packages/calcite-ui-icons/icons/tangent-curve-24.svg
  packages/calcite-ui-icons/icons/tangent-curve-32.svg
Labels: chore, skip visual snapshots

#12447 chore: use change-case for all casing conversions
  packages/calcite-design-tokens/src/build/transforms/attribute/platform-names.ts
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Labels: chore, skip visual snapshots

#12436 feat(stepper-item): improve single selection icon color
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
Labels: enhancement, pr ready for visual snapshots

#12453 chore: fix markdown linting error
  packages/calcite-components/conventions/Internationalization.md
Labels: chore, skip visual snapshots

#12443 fix(autocomplete): announce result to screen readers using aria-live attribute
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Labels: bug, skip visual snapshots

#12463 chore(localization): update translation
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ar.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.bg.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ca.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.cs.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.da.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.de.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.el.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.es.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.et.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.fi.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.fr.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.he.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.hr.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.hu.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.id.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.it.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ja.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ko.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.lt.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.lv.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.nl.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.no.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.pl.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.pt-BR.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.pt-PT.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ro.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.ru.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.sk.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.sl.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.sr.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.sv.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.th.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.tr.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.uk.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.vi.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.zh-CN.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.zh-TW.json
Labels: chore, skip visual snapshots

#12471 refactor: enforce usage of `useCancelable` controller via linting
  packages/calcite-components/CHANGELOG_BETA.md
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/src/controllers/useCancelable.ts
  packages/calcite-components/src/utils/floating-ui.ts
Labels: refactor, skip visual snapshots

#12467 feat(time-picker): apply consistent styling for floating elements
  packages/calcite-components/src/components/input-time-picker/input-time-picker.scss
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.scss
  packages/calcite-components/src/custom-theme/time-picker.ts
Labels: enhancement, pr ready for visual snapshots

#12478 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#12483 feat: add dimensions centered
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/dimensions-centered-16.svg
  packages/calcite-ui-icons/icons/dimensions-centered-24.svg
  packages/calcite-ui-icons/icons/dimensions-centered-32.svg
Labels: enhancement, skip visual snapshots

#12488 refactor(semantic-tokens): rename `--calcite-color-foreground-highlight` to `--calcite-color-surface-highlight`
  packages/calcite-design-tokens/src/tokens/semantic/color/dark.json
  packages/calcite-design-tokens/src/tokens/semantic/color/light.json
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Labels: pr ready for visual snapshots, calcite-design-tokens

#12495 chore(storybook): update brand logo
  packages/calcite-components/.storybook/logo.svg
Labels: chore, pr ready for visual snapshots

#12477 refactor(dom): restore currentTarget in slot utils
  packages/calcite-components/src/utils/dom.browser.spec.ts
  packages/calcite-components/src/utils/dom.ts
Labels: refactor, skip visual snapshots

#12509 feat: add person magnifying glass
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/person-magnifying-glass-16.svg
  packages/calcite-ui-icons/icons/person-magnifying-glass-24.svg
  packages/calcite-ui-icons/icons/person-magnifying-glass-32.svg
Labels: skip visual snapshots

#12502 feat(time-picker): apply rounded corners inside popover
  packages/calcite-components/src/components/time-picker/time-picker.scss
Labels: enhancement, pr ready for visual snapshots

#12511 fix(slider): remove fill color when dragged handle is released and no longer has focus
  packages/calcite-components/src/components/slider/slider.tsx
Labels: bug, pr ready for visual snapshots

#12510 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#12508 refactor(semantic-tokens): update deprecation comment for --calcite-color-foreground-current
  packages/calcite-design-tokens/src/tokens/semantic/color/dark.json
  packages/calcite-design-tokens/src/tokens/semantic/color/light.json
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Labels: refactor, skip visual snapshots, calcite-design-tokens

#12446 chore(linting): consolidate prettier ignore files
  .prettierignore
  packages/calcite-components/.prettierignore
  packages/calcite-design-tokens/.prettierignore
Labels: chore, Stale, skip visual snapshots

#12523 chore(linting): update linting setup
  .markdownlint-cli2.jsonc
  .prettierignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  packages/calcite-components/conventions/Styling.md
  packages/calcite-components/conventions/Testing.md
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/package.json
  packages/calcite-components/src/components/radio-button/radio-button.scss
  packages/calcite-design-tokens/package.json
  packages/calcite-tailwind-preset/package.json
  packages/calcite-ui-icons/README.md
  packages/calcite-ui-icons/eslint.config.mjs
  packages/calcite-ui-icons/package.json
  support/syncLinkedPackageVersions.ts
Labels: chore, skip visual snapshots

#12529 chore(linting): fix linting setup issues
  .github/scripts/lint-staged.config.mjs
  .markdownlint-cli2.jsonc
  lint-staged.config.mjs
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/lint-staged.config.mjs
  packages/calcite-components/package.json
  packages/calcite-design-tokens/lint-staged.config.mjs
  packages/calcite-design-tokens/package.json
  packages/calcite-tailwind-preset/lint-staged.config.mjs
  packages/calcite-tailwind-preset/package.json
  packages/calcite-ui-icons/lint-staged.config.mjs
  packages/calcite-ui-icons/package.json
  packages/eslint-config-calcite/core.js
  packages/eslint-plugin-calcite-components/package.json
Labels: chore, skip visual snapshots

#12531 chore: drop commented-out import
  packages/calcite-components/src/components/accordion/accordion.stories.ts
Labels: chore, skip visual snapshots

#12540 docs(conventions): fix a11y conventions styling
  packages/calcite-components/conventions/Accessibility.md
Labels: docs, skip visual snapshots

#12516 feat(popover): add token for specifying the max width
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/custom-theme/popover.ts
Labels: enhancement, pr ready for visual snapshots

#12557 fix(pagination): prevent invalid start-item and set default to 1
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.tsx
Labels: bug, skip visual snapshots

#12560 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#12554 refactor(dom): drop unused util
  packages/calcite-components/src/utils/dom.ts
Labels: refactor, skip visual snapshots

#12567 docs: restore unintentionally removed options param doc for `scrollContentTo`
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/dialog/dialog.tsx
Labels: docs, skip visual snapshots

#12465 chore(deps): bump @arcgis deps to 4.34.0@next
  package-lock.json
  package.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/controllers/useTime.ts
  packages/calcite-components/vite.config.ts
  support/createThirdPartyLicenses.ts
Labels: chore, skip visual snapshots

#12570 chore(localization): update translation
  packages/calcite-components/src/components/combobox/assets/t9n/messages.ar.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.bg.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.ca.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.cs.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.da.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.de.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.el.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.es.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.et.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.fi.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.fr.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.he.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.hr.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.hu.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.id.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.it.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.ja.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.ko.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.lt.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.lv.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.nl.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.no.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.pl.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.pt-BR.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.pt-PT.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.ro.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.ru.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.sk.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.sl.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.sr.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.sv.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.th.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.tr.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.uk.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.vi.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.zh-CN.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.zh-TW.json
Labels: chore, skip visual snapshots

#12569 fix(pagination): restore original default value for totalItems
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.tsx
Labels: bug, skip visual snapshots, no changelog entry

#12588 chore(combobox): add message strings
  packages/calcite-components/src/components/combobox/assets/t9n/messages.en.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.json
Labels: skip visual snapshots

#12575 docs(contributing): update roles and responsibilities
  CONTRIBUTING.md
Labels: docs, skip visual snapshots

#12568 refactor(date-picker): update error message
  packages/calcite-components/src/components/date-picker/utils.ts
Labels: bug, refactor, skip visual snapshots

#12592 chore(localization): update translation
  packages/calcite-components/src/components/combobox/assets/t9n/messages.ar.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.bg.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.bs.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.ca.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.cs.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.da.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.de.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.el.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.es.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.et.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.fi.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.fr.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.he.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.hr.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.hu.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.id.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.it.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.ja.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.ko.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.lt.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.lv.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.nl.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.no.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.pl.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.pt-BR.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.pt-PT.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.ro.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.ru.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.sk.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.sl.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.sr.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.sv.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.th.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.tr.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.uk.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.vi.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.zh-CN.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.zh-HK.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.zh-TW.json
Labels: chore, skip visual snapshots

#12600 docs(examples): treat tags including `calcite-` as custom elements
  examples/components/vue/vite.config.ts
Labels: docs, skip visual snapshots

#12612 chore(autocomplete, checkbox, combobox, input-date-picker, input-number, input-text, input-time-picker, input, radio-button-group, rating, segmented-control, select, slider, text-area): add message strings
  packages/calcite-components/src/components/autocomplete/assets/t9n/messages.en.json
  packages/calcite-components/src/components/autocomplete/assets/t9n/messages.json
  packages/calcite-components/src/components/checkbox/assets/t9n/messages.en.json
  packages/calcite-components/src/components/checkbox/assets/t9n/messages.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.en.json
  packages/calcite-components/src/components/combobox/assets/t9n/messages.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.en.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.json
  packages/calcite-components/src/components/input-number/assets/t9n/messages.en.json
  packages/calcite-components/src/components/input-number/assets/t9n/messages.json
  packages/calcite-components/src/components/input-text/assets/t9n/messages.en.json
  packages/calcite-components/src/components/input-text/assets/t9n/messages.json
  packages/calcite-components/src/components/input-time-picker/assets/t9n/messages.en.json
  packages/calcite-components/src/components/input-time-picker/assets/t9n/messages.json
  packages/calcite-components/src/components/input/assets/t9n/messages.en.json
  packages/calcite-components/src/components/input/assets/t9n/messages.json
  packages/calcite-components/src/components/radio-button-group/assets/t9n/messages.en.json
  packages/calcite-components/src/components/radio-button-group/assets/t9n/messages.json
  packages/calcite-components/src/components/rating/assets/t9n/messages.en.json
  packages/calcite-components/src/components/rating/assets/t9n/messages.json
  packages/calcite-components/src/components/segmented-control/assets/t9n/messages.en.json
  packages/calcite-components/src/components/segmented-control/assets/t9n/messages.json
  packages/calcite-components/src/components/select/assets/t9n/messages.en.json
  packages/calcite-components/src/components/select/assets/t9n/messages.json
  packages/calcite-components/src/components/slider/assets/t9n/messages.en.json
  packages/calcite-components/src/components/slider/assets/t9n/messages.json
  packages/calcite-components/src/components/text-area/assets/t9n/messages.en.json
  packages/calcite-components/src/components/text-area/assets/t9n/messages.json
Labels: chore, skip visual snapshots

#12595 fix(list): added scrim for empty list
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
Labels: bug, pr ready for visual snapshots

#12614 chore(deps): unpin lit dependency
  package-lock.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#12623 chore(dialog): Remove unused css props from demo
  packages/calcite-components/src/demos/dialog.html
Labels: chore

#12580 feat: emit `expanded`/`collapsed` end-state events for expandable components
  packages/calcite-components/src/components/accordion-item/accordion-item.e2e.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/action-group/action-group.e2e.ts
  packages/calcite-components/src/components/action-group/action-group.tsx
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.tsx
  packages/calcite-components/src/components/block-section/block-section.e2e.ts
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.tsx
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.tsx
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Labels: enhancement, pr ready for visual snapshots

#12625 docs(flow-item): `beforeBack` property should be optional
  packages/calcite-components/src/components/flow-item/flow-item.tsx
Labels: bug, skip visual snapshots

#12627 chore(t9n): fix `update-t9n-manifest` script
  packages/calcite-components/support/updateT9nManifest.ts
  t9nmanifest.txt
Labels: chore, skip visual snapshots
