Repository Esri/calcite-design-system, pull requests merged in 2025-08, with the labels that each got.

#12631 fix(list): prevent drag flickering while sorting
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: bug, skip visual snapshots

#12611 fix(list): fix visual artifacts when you initiate a drag operation with the drag handle menu open
  packages/calcite-components/src/assets/styles/_sortable.scss
Labels: skip visual snapshots

#12525 feat(combobox): Provide context when filtering and there are no matching results
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
  packages/calcite-components/src/custom-theme/combobox.ts
Labels: enhancement, pr ready for visual snapshots

#12584 feat(swatch, swatch-group): Add new components
  packages/calcite-components/index.html
  packages/calcite-components/src/components/swatch-group/readme.md
  packages/calcite-components/src/components/swatch-group/resources.ts
  packages/calcite-components/src/components/swatch-group/swatch-group.e2e.ts
  packages/calcite-components/src/components/swatch-group/swatch-group.scss
  packages/calcite-components/src/components/swatch-group/swatch-group.stories.ts
  packages/calcite-components/src/components/swatch-group/swatch-group.tsx
  packages/calcite-components/src/components/swatch/readme.md
  packages/calcite-components/src/components/swatch/resources.ts
  packages/calcite-components/src/components/swatch/swatch.e2e.ts
  packages/calcite-components/src/components/swatch/swatch.scss
  packages/calcite-components/src/components/swatch/swatch.stories.ts
  packages/calcite-components/src/components/swatch/swatch.tsx
  packages/calcite-components/src/demos/_assets/images/hatch-1.png
  packages/calcite-components/src/demos/_assets/images/hatch-2.png
  packages/calcite-components/src/demos/_assets/images/hatch-3.png
  packages/calcite-components/src/demos/_assets/images/hatch-4.png
  packages/calcite-components/src/demos/_assets/images/hatch-5.png
  packages/calcite-components/src/demos/_assets/images/pattern-1.png
  packages/calcite-components/src/demos/_assets/images/pattern-2.png
  packages/calcite-components/src/demos/_assets/images/pattern-3.png
  packages/calcite-components/src/demos/_assets/images/pattern-4.png
  packages/calcite-components/src/demos/swatch-group.html
Labels: enhancement, new component, pr ready for visual snapshots

#12616 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#12640 chore: restore sass deprecation warning silencing
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/vite.config.ts
Labels: chore, pr ready for visual snapshots

#12574 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#12521 refactor(sheet): align open state logic with dialog and panel
  packages/calcite-components/src/components/sheet/sheet.tsx
Labels: refactor, pr ready for visual snapshots

#12615 feat(list, block-group, sort-handle): add sortDisabled property to prevent reordering
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/demos/sortable-list.html
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: enhancement, pr ready for visual snapshots

#12639 chore: replace lodash-es with es-toolkit
  package-lock.json
  package.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/action-bar/action-bar.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/filter/filter.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
  packages/calcite-components/src/utils/filter.ts
  packages/calcite-components/src/utils/floating-ui.ts
  packages/calcite-design-tokens/src/build/format/typography.ts
  packages/calcite-ui-icons/bin/path-data.js
Labels: chore, skip visual snapshots

#12660 docs: update 3rd party licenses
  packages/calcite-components-react/THIRD-PARTY-LICENSES.md
  packages/calcite-components/THIRD-PARTY-LICENSES.md
Labels: docs, skip visual snapshots

#12659 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#12630 fix(select): fix error thrown when component is removed before initialization
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/select/select.tsx
Labels: bug, skip visual snapshots

#12545 chore: ensure `en` bundles are synced via precommit hook
  .husky/pre-commit
  packages/calcite-components/package.json
  packages/calcite-components/support/syncEnT9nBundles.ts
Labels: chore, skip visual snapshots

#12674 chore(icons): update missed es-toolkit import
  packages/calcite-ui-icons/bin/server.js
Labels: chore, skip visual snapshots

#12665 chore: ensure t9n manifest updates are committed by precommit hook
  .husky/pre-commit
Labels: chore, skip visual snapshots

#12661 test(custom-theme): fix non-existent icon names
  packages/calcite-components/src/custom-theme/panel.ts
  packages/calcite-components/src/custom-theme/shell-panel.ts
Labels: pr ready for visual snapshots

#12685 feat: add rtl of list icons
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/list-check-all-rtl-16.svg
  packages/calcite-ui-icons/icons/list-check-all-rtl-24.svg
  packages/calcite-ui-icons/icons/list-check-all-rtl-32.svg
  packages/calcite-ui-icons/icons/list-check-rtl-16.svg
  packages/calcite-ui-icons/icons/list-check-rtl-24.svg
  packages/calcite-ui-icons/icons/list-check-rtl-32.svg
Labels: enhancement, skip visual snapshots

#12692 chore: ensure auto-generated internal custom CSS prop doc is committed by precommit hook
  .husky/pre-commit
Labels: chore, skip visual snapshots

#12695 feat(input-number, input-text): add center alignment
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/components/input-number/input-number.stories.ts
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/input-text/input-text.stories.ts
  packages/calcite-components/src/components/input-text/input-text.tsx
Labels: enhancement, pr ready for visual snapshots

#12701 test(input-message): improve theming tests
  packages/calcite-components/src/components/input-message/input-message.e2e.ts
  packages/calcite-components/src/components/input-message/input-message.scss
  packages/calcite-components/src/components/input-message/input-message.stories.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/input-message.ts
Labels: refactor, skip visual snapshots

#12690 test(themed): fail test if token is used as its own target prop
  packages/calcite-components/src/tests/commonTests/themed.ts
Labels: skip visual snapshots

#12702 docs(action): update unnamed slot description to fit more use cases
  packages/calcite-components/src/components/action/action.tsx
Labels: docs, skip visual snapshots

#12704 feat(block): add --calcite-block-content-space css token
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/custom-theme/block.ts
Labels: enhancement, skip visual snapshots

#12544 chore: tidy up Esri-license group info
  support/createThirdPartyLicenses.ts
Labels: chore, Stale, skip visual snapshots

#12713 refactor(dropdown): drop component name from CSS classes
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/dropdown/resources.ts
Labels: refactor, pr ready for visual snapshots

#12715 chore(accordion-item): add message strings
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.en.json
  packages/calcite-components/src/components/accordion-item/assets/t9n/messages.json
  t9nmanifest.txt
Labels: chore, skip visual snapshots

#12727 docs: update loader size token description
  packages/calcite-components/src/components/loader/loader.scss
Labels: enhancement, skip visual snapshots

#12724 fix(card): ensure `setFocus` focuses card when it contains nested interactive children
  packages/calcite-components/src/components/card/card.e2e.ts
  packages/calcite-components/src/components/card/card.tsx
Labels: bug, skip visual snapshots

#12628 feat(list, block-group, sort-handle): add support for cloning dragged items
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/input-number/input-number.scss
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sort-handle/assets/t9n/messages.en.json
  packages/calcite-components/src/components/sort-handle/assets/t9n/messages.json
  packages/calcite-components/src/components/sort-handle/interfaces.ts
  packages/calcite-components/src/components/sort-handle/resources.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.stories.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: enhancement, pr ready for visual snapshots

#12728 chore(deps): drop dayjs
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#12479 feat(date-picker, input-date-picker): add `calendars` property to support one month view in range
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/date-picker/date-picker.scss
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/demos/date-picker.html
  packages/calcite-components/src/demos/input-date-picker.html
Labels: enhancement, pr ready for visual snapshots

#12735 docs(color-picker-swatch): Deprecate component
  packages/calcite-components/src/components/color-picker-swatch/color-picker-swatch.tsx
  packages/calcite-components/src/components/swatch/swatch.tsx
Labels: docs

#12742 docs: update 3rd party licenses
  packages/calcite-components-react/THIRD-PARTY-LICENSES.md
  packages/calcite-components/THIRD-PARTY-LICENSES.md
Labels: docs, skip visual snapshots

#12706 fix(date-picker): honor `minAsDate` & `maxAsDate` when set
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/date-picker/date-picker.tsx
Labels: bug, pr ready for visual snapshots

#12736 refactor(color-picker): Update to use Swatch Group and Swatch
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/color-picker/resources.ts
Labels: refactor, pr ready for visual snapshots

#12746 test(date-picker): tidy up
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
Labels: skip visual snapshots

#12738 feat: added camera sensor icons
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/camera-sensor-16.svg
  packages/calcite-ui-icons/icons/camera-sensor-24.svg
  packages/calcite-ui-icons/icons/camera-sensor-32.svg
  packages/calcite-ui-icons/icons/camera-sensor-layer-16.svg
  packages/calcite-ui-icons/icons/camera-sensor-layer-24.svg
  packages/calcite-ui-icons/icons/camera-sensor-layer-32.svg
  packages/calcite-ui-icons/icons/camera-sensor-map-16.svg
  packages/calcite-ui-icons/icons/camera-sensor-map-24.svg
  packages/calcite-ui-icons/icons/camera-sensor-map-32.svg
  packages/calcite-ui-icons/icons/livestream-video-protocols-16.svg
  packages/calcite-ui-icons/icons/livestream-video-protocols-24.svg
  packages/calcite-ui-icons/icons/livestream-video-protocols-32.svg
  packages/calcite-ui-icons/icons/security-camera-16.svg
  packages/calcite-ui-icons/icons/security-camera-24.svg
  packages/calcite-ui-icons/icons/security-camera-32.svg
  packages/calcite-ui-icons/icons/video-metadata-16.svg
  packages/calcite-ui-icons/icons/video-metadata-24.svg
  packages/calcite-ui-icons/icons/video-metadata-32.svg
Labels: enhancement, skip visual snapshots

#12747 refactor: drop futile `state()` usage
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
Labels: refactor, pr ready for visual snapshots

#12731 chore: check for volta install at root level
  package.json
  support/check-volta.ts
Labels: chore, skip visual snapshots

#12758 feat: add shopping-cart-f, shopping cart plus, carousel frames
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/carousel-frames-16.svg
  packages/calcite-ui-icons/icons/carousel-frames-24.svg
  packages/calcite-ui-icons/icons/carousel-frames-32.svg
  packages/calcite-ui-icons/icons/shopping-cart-16-f.svg
  packages/calcite-ui-icons/icons/shopping-cart-24-f.svg
  packages/calcite-ui-icons/icons/shopping-cart-32-f.svg
  packages/calcite-ui-icons/icons/shopping-cart-plus-16.svg
  packages/calcite-ui-icons/icons/shopping-cart-plus-24.svg
  packages/calcite-ui-icons/icons/shopping-cart-plus-32.svg
Labels: enhancement, skip visual snapshots

#11734 feat(input-date-picker): add component tokens
  packages/calcite-components/CHANGELOG_BETA.md
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/input-date-picker.ts
Labels: enhancement, skip visual snapshots

#12768 feat: add select row icon
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/select-row-16.svg
  packages/calcite-ui-icons/icons/select-row-24.svg
  packages/calcite-ui-icons/icons/select-row-32.svg
Labels: enhancement, skip visual snapshots

#12781 fix(combobox): adjust padding for no-matches context
  packages/calcite-components/src/components/combobox/combobox.scss
Labels: pr ready for visual snapshots
