Repository Esri/calcite-design-system, pull requests merged in 2025-01, with the labels that each got.

#11098 chore(linting): enable radix rule
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/shell-panel/shell-panel.tsx
Labels: chore, Stale, skip visual snapshots

#10997 feat(input-time-picker): add hour-format property
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.stories.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/time-picker/resources.ts
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/demos/_assets/locales.ts
  packages/calcite-components/src/demos/input-time-picker.html
  packages/calcite-components/src/utils/locale.ts
  packages/calcite-components/src/utils/time.spec.ts
  packages/calcite-components/src/utils/time.ts
Labels: enhancement, Stale, pr ready for visual snapshots

#11184 chore: add script to generate supported browser info for docs
  packages/calcite-components/package.json
  packages/calcite-components/support/generateSupportedBrowsersJSON.ts
Labels: chore, skip visual snapshots

#10996 feat: add icon font files
  package-lock.json
  packages/calcite-ui-icons/.gitignore
  packages/calcite-ui-icons/bin/build-fonts.sh
  packages/calcite-ui-icons/bin/server.js
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/package.json
Labels: enhancement, Stale, skip visual snapshots, calcite-ui-icons

#10664 fix(list): include groups in filtering
  packages/calcite-components/src/components/list-item/interfaces.ts
  packages/calcite-components/src/components/list/interfaces.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, pr ready for visual snapshots

#11190 ci(renovate): use bump range strategy instead of `followTag` for @arcgis prereleases
  .renovaterc.json
  package.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#11191 fix(autocomplete): fix item key functionality
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Labels: bug, skip visual snapshots, no changelog entry

#11196 perf: speed up build-fonts script
  packages/calcite-ui-icons/bin/build-fonts.js
  packages/calcite-ui-icons/bin/build-fonts.sh
  packages/calcite-ui-icons/package.json
Labels: chore, skip visual snapshots

#11192 docs: update copyright to 2025
  LICENSE.md
  packages/calcite-components-react/LICENSE.md
  packages/calcite-components/LICENSE.md
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/LICENSE.md
  packages/calcite-ui-icons/LICENSE.md
  packages/eslint-plugin-calcite-components/LICENSE.md
  packages/eslint-plugin-calcite-components/README.md
  readme.md
Labels: docs, skip visual snapshots

#11193 feat(combobox, input-time-zone): highlight text matches consistently
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.scss
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
  packages/calcite-components/src/utils/text.tsx
Labels: enhancement, skip visual snapshots

#11201 chore(themed): disable animations for consistent assertion results
  packages/calcite-components/src/tests/commonTests/themed.ts
Labels: chore, skip visual snapshots

#11200 fix(time-picker): display correct localized hour based on hour-format when no value is set
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/utils/time.ts
Labels: bug, pr ready for visual snapshots, no changelog entry

#11107 fix(input): correctly apply placeholder styles
  packages/calcite-components/src/components/input/input.scss
Labels: bug, pr ready for visual snapshots, no changelog entry

#11209 docs(block, notice): update component token descriptions
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/notice/notice.scss
Labels: docs, skip visual snapshots

#11212 deprecate(notice): deprecate --calcite-notice-width token
  packages/calcite-components/src/components/notice/notice.scss
Labels: skip visual snapshots

#11218 fix(text-area): make `readOnly` prop writable
  packages/calcite-components/src/components/text-area/text-area.tsx
Labels: bug, skip visual snapshots, no changelog entry

#11219 fix(docs): use updated translation bundle paths to generate `translations.json`
  packages/calcite-components/support/generateT9nDocsJSON.ts
Labels: bug, skip visual snapshots, no changelog entry

#11203 chore(themed): fix issue where class-based matching would not work due to resolved class value
  packages/calcite-components/src/tests/commonTests/themed.ts
Labels: chore, skip visual snapshots

#11150 feat(rating): add component tokens
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/rating/rating.scss
  packages/calcite-components/src/components/rating/resources.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/rating.ts
  packages/calcite-components/src/tests/utils/cssTokenValues.ts
Labels: enhancement, skip visual snapshots

#11221 fix(docs): add docs package export
  packages/calcite-components/package.json
Labels: bug, skip visual snapshots, no changelog entry

#11223 refactor: remove unnecessary @readonly tags
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
Labels: refactor, skip visual snapshots

#11213 fix(tile): wrap overflowing text content
  packages/calcite-components/src/components/tile/tile.scss
Labels: bug, pr ready for visual snapshots

#10654 feat(menu-item): add component tokens
  packages/calcite-components/src/components/menu-item/interfaces.ts
  packages/calcite-components/src/components/menu-item/menu-item.e2e.ts
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/menu-item/menu-item.tsx
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/menu-item.ts
Labels: enhancement, pr ready for visual snapshots

#11188 fix(color-picker): ensure shorthand hex is expanded regardless of alpha channel presence
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.tsx
Labels: bug, skip visual snapshots

#11232 ci: ensure lint-staged works with typescript
  .github/scripts/eslint.config.cjs
  package-lock.json
  package.json
  packages/calcite-components/.gitignore
  packages/calcite-components/.lintstagedrc.js
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/tsconfig-eslint.json
  packages/calcite-design-tokens/eslint.config.mjs
Labels: chore, skip visual snapshots

#11214 feat(time-picker): expose `calciteTimePickerChange` event
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.tsx
Labels: enhancement, skip visual snapshots

#11205 fix(input): fix clipping for type=file with Japanese locale
  packages/calcite-components/src/components/input/input.scss
Labels: bug, pr ready for visual snapshots

#11215 fix(tile-group): keep selection icon size consistent for large tiles
  packages/calcite-components/src/components/tile-group/tile-group.stories.ts
  packages/calcite-components/src/components/tile/tile.scss
Labels: bug, pr ready for visual snapshots

#11234 docs(contributing): update style lint link
  CONTRIBUTING.md
Labels: docs, skip visual snapshots

#11237 fix(table, table-row): Improve programmatic Table Row selection behavior
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/demos/table.html
Labels: bug, pr ready for visual snapshots

#11238 ci(renovate): group dep-bump PRs for @floating-ui packages
  .renovaterc.json
Labels: chore, skip visual snapshots

#11239 fix(autocomplete): allow hiding icon
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.stories.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/autocomplete/resources.ts
  packages/calcite-components/src/utils/dom.spec.ts
Labels: bug, pr ready for visual snapshots, no changelog entry

#11243 ci(linting): fix typescript parser issue
  packages/calcite-components/eslint.config.mjs
  packages/calcite-design-tokens/eslint.config.mjs
Labels: chore, skip visual snapshots

#11242 fix(autocomplete): ignore disabled items when navigating via keyboard
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Labels: bug, skip visual snapshots, no changelog entry

#11164 chore(linting): clean up cspell warnings
  .cspell.json
  package-lock.json
  package.json
  packages/calcite-components/.storybook/placeholder-image.ts
  packages/calcite-components/src/components/avatar/avatar.spec.ts
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/card/card.stories.ts
  packages/calcite-components/src/components/color-picker-hex-input/color-picker-hex-input.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.stories.ts
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/input-time-zone/utils.ts
  packages/calcite-components/src/components/menu/menu.e2e.ts
  packages/calcite-components/src/components/panel/panel.stories.ts
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/sheet/sheet.stories.ts
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/components/stepper/stepper.stories.ts
  packages/calcite-components/src/components/tabs/tabs.stories.ts
  packages/calcite-components/src/components/tile/tile.stories.ts
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/custom-theme/tile.ts
  packages/calcite-components/src/demos/mode/auto.html
  packages/calcite-components/src/demos/shell-panel.html
  packages/calcite-components/src/demos/shell/basic-slotted-elements.html
  packages/calcite-components/src/demos/shell/block-configurations.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-center-row-async.html
  packages/calcite-components/src/demos/shell/demo-app-advanced-center-row.html
  packages/calcite-components/src/demos/shell/demo-app-advanced.html
  packages/calcite-components/src/demos/shell/demo-app-blank.html
  packages/calcite-components/src/demos/shell/demo-app-center-row-action-bar.html
  packages/calcite-components/src/demos/shell/nesting-testing-flow.html
  packages/calcite-components/src/demos/shell/nesting-testing.html
  packages/calcite-components/src/demos/shell/popup-config-example.html
  packages/calcite-components/src/demos/shell/resizable-panels.html
  packages/calcite-components/src/tests/globalStyles.e2e.ts
  packages/calcite-components/src/utils/date.spec.ts
  support/dictionaries/dict-calcite-design-system-examples.txt
  support/dictionaries/dict-calcite-design-system.txt
  support/dictionaries/dict-cspell-pending-upstream.txt
Labels: chore, pr ready for visual snapshots

#11165 chore(linting): clean up warnings
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input/input.tsx
Labels: chore, skip visual snapshots

#11248 chore(themed): improve matching of interaction target elements
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/navigation-logo/navigation-logo.e2e.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/tests/commonTests/themed.ts
Labels: chore, skip visual snapshots

#11250 feat(combobox-item): Add support for `content-start` slot
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox-item/resources.ts
  packages/calcite-components/src/components/combobox/combobox.stories.ts
Labels: enhancement, figma changes, pr ready for visual snapshots

#11178 feat(select): add component tokens
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/select.ts
Labels: enhancement, skip visual snapshots

#11259 refactor(list): use debounce value from common debounce module instead of local one
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/list/resources.ts
Labels: refactor, skip visual snapshots

#11255 ci(renovate): group dep-bump PRs for @cspell packages
  .renovaterc.json
Labels: chore, skip visual snapshots

#11262 fix(input): update files property on input event when type="file"
  packages/calcite-components/src/components/input/input.tsx
Labels: bug, skip visual snapshots

#11202 feat(navigation-logo): enable interactive states only when href is specified
  packages/calcite-components/src/components/navigation-logo/navigation-logo.e2e.ts
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
  packages/calcite-components/src/components/navigation-logo/navigation-logo.tsx
  packages/calcite-components/src/components/navigation-logo/resources.ts
Labels: enhancement, skip visual snapshots

#11265 perf(combobox): fix initialization performance regression
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: chore, pr ready for visual snapshots, no changelog entry

#11251 refactor: tidy up theme tests
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/menu-item/menu-item.e2e.ts
Labels: refactor, skip visual snapshots

#11266 build: simplify version placeholder replacement
  package-lock.json
  package.json
  packages/calcite-components/src/utils/config.spec.ts
  packages/calcite-components/src/utils/config.ts
  packages/calcite-components/vite-env.d.ts
  packages/calcite-components/vite.config.ts
Labels: chore, skip visual snapshots

#11269 chore: remove unrelated jest-axe expect extensions
  packages/calcite-components/src/tests/commonTests/defaults.ts
  packages/calcite-components/src/tests/commonTests/disabled.ts
  packages/calcite-components/src/tests/commonTests/floatingUI.ts
  packages/calcite-components/src/tests/commonTests/focusable.ts
  packages/calcite-components/src/tests/commonTests/formAssociated.ts
  packages/calcite-components/src/tests/commonTests/hidden.ts
  packages/calcite-components/src/tests/commonTests/labelable.ts
  packages/calcite-components/src/tests/commonTests/openClose.ts
  packages/calcite-components/src/tests/commonTests/reflects.ts
  packages/calcite-components/src/tests/commonTests/renders.ts
  packages/calcite-components/src/tests/commonTests/slots.ts
  packages/calcite-components/src/tests/commonTests/t9n.ts
  packages/calcite-components/src/tests/commonTests/themed.ts
  packages/calcite-components/src/tests/commonTests/utils.ts
Labels: chore, skip visual snapshots

#11157 feat(pagination): add component tokens
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/pagination.ts
Labels: enhancement, pr ready for visual snapshots

#11272 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#11284 build: auto-clean js files created by 'npm start'
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#11283 fix(tile): allow percentage inline-size on slotted content to be based on host
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
Labels: bug, pr ready for visual snapshots

#11296 test(combobox): skip unstable test
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Labels: skip visual snapshots

#11287 ci: fix icon-name pre-commit checks
  .husky/pre-commit
Labels: chore, skip visual snapshots

#11282 fix(action): reflect the icon property
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.tsx
Labels: bug, skip visual snapshots

#11279 fix(sort-handle): Fix dragging in Firefox
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.scss
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
Labels: bug, pr ready for visual snapshots, no changelog entry

#11288 fix(list-item): fix selection indicator placement in RTL
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
Labels: bug, skip visual snapshots, no changelog entry

#11299 feat: add utility network layer
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/utility-network-layer-16.svg
  packages/calcite-ui-icons/icons/utility-network-layer-24.svg
  packages/calcite-ui-icons/icons/utility-network-layer-32.svg
Labels: skip visual snapshots

#11289 fix(combobox): fix accessibility when an item's heading or label changes
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
Labels: bug, skip visual snapshots

#11285 docs(autocomplete, input, input-text): update pattern context for residing in a parent form
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
Labels: docs, skip visual snapshots

#11286 refactor(openClose): use the correct property to specify open/close transition prop
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/utils/openCloseComponent.spec.ts
  packages/calcite-components/src/utils/openCloseComponent.ts
Labels: bug, refactor, skip visual snapshots

#11306 fix: fix open/close event emitting of initially open components
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/tests/spec-helpers/animationEvents.ts
  packages/calcite-components/src/tests/spec-helpers/computedStyle.ts
  packages/calcite-components/src/tests/spec-helpers/transitionEvents.ts
  packages/calcite-components/src/tests/utils/promises.ts
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/dom.ts
  packages/calcite-components/src/utils/openCloseComponent.spec.ts
  packages/calcite-components/src/utils/openCloseComponent.ts
Labels: bug, skip visual snapshots

#11311 docs: update `required`, `max`, `min`, `maxLength` + `minLength` to include parent form
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/checkbox/checkbox.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/radio-button-group/radio-button-group.tsx
  packages/calcite-components/src/components/radio-button/radio-button.tsx
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
Labels: docs, skip visual snapshots

#11315 ci: resolve e2e errors due to updated actions runner
  .github/workflows/deploy-latest.yml
  .github/workflows/deploy-prerelease.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/remove-prerelease-changelog-entries.yml
Labels: chore, skip visual snapshots

#11278 fix(tooltip, popover): honor prevented events
  packages/calcite-components/src/components/popover/PopoverManager.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Labels: bug, skip visual snapshots

#11310 fix(list): only focus on row when clicking a list item
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
Labels: bug, pr ready for visual snapshots

#11314 refactor(block): heading text color
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/custom-theme/block.ts
Labels: refactor, pr ready for visual snapshots

#11323 fix(list-item): reflect the sortHandleOpen property
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
Labels: bug, skip visual snapshots

#11331 feat: add crosshair
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/crosshair-16.svg
  packages/calcite-ui-icons/icons/crosshair-24.svg
  packages/calcite-ui-icons/icons/crosshair-32.svg
Labels: enhancement, skip visual snapshots

#11312 refactor(loadable): deprecate obsolete helpers
  packages/calcite-components/src/utils/loadable.spec.ts
  packages/calcite-components/src/utils/loadable.ts
Labels: refactor, pr ready for visual snapshots

#11336 chore(utility-network-layer, crosshair): add font codepoints
  packages/calcite-ui-icons/fantasticonrc.json
Labels: chore, skip visual snapshots

#11332 test(combobox): use async expect for non-throwing test case
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Labels: skip visual snapshots

#11263 chore(actions): add icon leads notification for calcite-ui-icons requests
  .github/scripts/notifyAboutIconRequest.js
  .github/workflows/issue-notifications.yml
Labels: chore, skip visual snapshots

#11341 chore(table): move workaround comment back to its usage
  packages/calcite-components/src/components/table/table.tsx
Labels: chore, skip visual snapshots

#11344 chore: add ui icons package to enhancement template
  .github/ISSUE_TEMPLATE/enhancement.yml
Labels: chore, skip visual snapshots

#11300 feat(panel): control panel header action tokens
  packages/calcite-components/src/components/panel/panel.scss
Labels: enhancement, pr ready for visual snapshots, design-tokens

#10358 feat(button): add component tokens
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.scss
Labels: enhancement, pr ready for visual snapshots

#11348 ci: lint monorepo
  CONTRIBUTING.md
  packages/calcite-components/src/utils/loadable.ts
Labels: skip visual snapshots

#11354 chore: update lockfile
  package-lock.json
Labels: chore, skip visual snapshots

#11351 fix(color-picker): fix error caused by initial value with a different format
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
Labels: bug, pr ready for visual snapshots, no changelog entry

#11346 fix(tree): render lines correctly in RTL direction
  packages/calcite-components/src/components/tree-item/tree-item.scss
  packages/calcite-components/src/components/tree/tree.stories.ts
Labels: bug, pr ready for visual snapshots, no changelog entry

#11349 refactor(action-pad): remove unnecessary overflow css styling.
  packages/calcite-components/src/components/action-pad/action-pad.scss
Labels: bug, pr ready for visual snapshots

#11281 test(combobox): avoid emitting change event for value property update
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Labels: skip visual snapshots

#11358 refactor(action-pad): restore rounded styling
  packages/calcite-components/src/components/action-pad/action-pad.scss
Labels: pr ready for visual snapshots

#10983 fix(combobox, stepper, table): respect user hidden attribute
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.scss
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.tsx
  packages/calcite-components/src/components/table-row/table-row.scss
  packages/calcite-components/src/components/table-row/table-row.tsx
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/utils/component.ts
Labels: bug, pr ready for visual snapshots

#11364 fix(flow): process items on loaded
  packages/calcite-components/src/components/flow/flow.tsx
Labels: bug, pr ready for visual snapshots, no changelog entry

#11338 fix(carousel): Ensure correct `autoplay` display and animation
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
  packages/calcite-components/src/components/carousel/carousel.tsx
Labels: bug, pr ready for visual snapshots

#11369 fix(date-picker): remove outline for header actions
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
Labels: bug, pr ready for visual snapshots, no changelog entry

#11367 chore(icon): improve icon load error message
  packages/calcite-components/src/components/icon/utils.ts
Labels: chore, skip visual snapshots

#11350 fix(date-picker): no longer disable min/max value month in select menu
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
Labels: bug, pr ready for visual snapshots

#11373 fix(popover, tooltip): drop relative-positioning to reduce risk of clipping
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/tooltip/tooltip.scss
Labels: chore, pr ready for visual snapshots, no changelog entry

#11355 feat(graph): add component tokens
  packages/calcite-components/src/components/graph/graph.e2e.ts
  packages/calcite-components/src/components/graph/graph.scss
  packages/calcite-components/src/components/graph/graph.tsx
  packages/calcite-components/src/components/graph/resources.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/graph.ts
  packages/calcite-components/src/demos/graph.html
Labels: enhancement, pr ready for visual snapshots

#11339 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#11337 style: run prettier from monorepo root
  packages/calcite-components-react/eslint.config.mjs
  packages/calcite-components/src/01-introduction.mdx
  packages/calcite-components/src/02-contributing.mdx
  packages/calcite-components/src/03-code-of-conduct.mdx
  packages/calcite-components/src/04-licensing.mdx
  packages/calcite-components/src/06-faq.mdx
  packages/calcite-components/src/07-conventions.mdx
  packages/calcite-components/src/15-internationalization.mdx
  packages/calcite-ui-icons/bin/build-fonts.js
  packages/calcite-ui-icons/docs/app.js
  packages/eslint-config-calcite/core.js
  packages/eslint-config-calcite/jsx.js
  packages/eslint-plugin-calcite-components/eslint.config.mjs
  packages/eslint-plugin-calcite-components/src/utils/rule-tester.ts
Labels: chore, skip visual snapshots

#11383 fix(combobox): improve prop update times
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots

#11379 refactor: address ts-strict-ignore comment
  packages/calcite-components/vite.config.ts
Labels: refactor, skip visual snapshots

#11384 fix(popover, tooltip): change display to contents
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/popover/popover.scss
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.scss
Labels: refactor, pr ready for visual snapshots, no changelog entry

#11392 fix(meter): add fill style for high-contrast mode
  packages/calcite-components/src/components/meter/meter.scss
Labels: bug, pr ready for visual snapshots

#11072 feat(dialog): add 'custom-content' slot
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.stories.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dialog/resources.ts
  packages/calcite-components/src/demos/dialog.html
Labels: enhancement, docs

#11347 fix(tree): fix has-children logic
  packages/calcite-components/src/components/tree-item/tree-item.tsx
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/components/tree/tree.stories.ts
Labels: bug, pr ready for visual snapshots, no changelog entry

#11363 fix(chip): fix inverse close color
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/components/chip/chip.stories.ts
Labels: bug, pr ready for visual snapshots

#11356 chore(linting): drop `liberty/use-logical-spec` workaround for left/right props
  packages/calcite-components/.stylelintrc-postcss.json
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/components/sheet/sheet.scss
Labels: chore, pr ready for visual snapshots

#11396 feat: add hammer coin and hammer lock
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/hammer-coin-16.svg
  packages/calcite-ui-icons/icons/hammer-coin-24.svg
  packages/calcite-ui-icons/icons/hammer-coin-32.svg
  packages/calcite-ui-icons/icons/hammer-lock-16.svg
  packages/calcite-ui-icons/icons/hammer-lock-24.svg
  packages/calcite-ui-icons/icons/hammer-lock-32.svg
Labels: enhancement, skip visual snapshots

#11400 fix(combobox): ensure disabled items get proper scale
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots

#10904 feat(color-picker): enable responsive layout
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.scss
  packages/calcite-components/src/components/color-picker/color-picker.stories.ts
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/color-picker/resources.ts
  packages/calcite-components/src/components/color-picker/utils.ts
  packages/calcite-components/src/components/graph/interfaces.ts
  packages/calcite-components/src/components/interfaces.ts
Labels: enhancement, pr ready for visual snapshots

#11359 feat(segmented-control, segmented-control-item): add component tokens
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.e2e.ts
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.scss
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/segmented-control.ts
  packages/calcite-components/src/demos/segmented-control.html
Labels: enhancement, pr ready for visual snapshots

#11357 feat(inline-editable): add component tokens
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/inline-editable.ts
  packages/calcite-components/src/demos/inline-editable.html
Labels: enhancement, pr ready for visual snapshots

#11405 fix(combobox): update internal state after custom value is added
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/tests/utils.ts
Labels: bug, skip visual snapshots, no changelog entry

#11401 test: fix empty findAll results
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/src/components/accordion/accordion.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
  packages/calcite-components/src/components/checkbox/checkbox.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/dropdown-group/dropdown-group.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/fab/fab.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.e2e.ts
  packages/calcite-components/src/components/radio-button/radio-button.e2e.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/sortable-list/sortable-list.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/tile-group/tile-group.e2e.ts
  packages/calcite-components/src/components/tip-manager/tip-manager.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/tests/utils.ts
Labels: skip visual snapshots

#11402 fix(list): drag event properties `newIndex` and `oldIndex` should only reflect list item indexes
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/utils/sortableComponent.ts
Labels: bug, pr ready for visual snapshots

#11409 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#11418 fix(form): add ariaHidden property to the hidden form input
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/tests/commonTests/formAssociated.ts
  packages/calcite-components/src/utils/form.tsx
Labels: bug, skip visual snapshots

#11422 chore(test-utils): add more context to getTag error message
  packages/calcite-components/src/tests/commonTests/utils.ts
Labels: chore, skip visual snapshots
