Repository Esri/calcite-design-system, pull requests merged in 2025-06, with the labels that each got.

#12261 chore(localization): update translation
  packages/calcite-components/src/components/sort-handle/assets/t9n/messages.de.json
Labels: chore, skip visual snapshots

#12267 refactor(semantic-tokens): update description for `--calcite-corner-radius-sharp`
  packages/calcite-design-tokens/src/tokens/semantic/corner.json
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Labels: refactor, skip visual snapshots, calcite-design-tokens

#12252 fix(input-time-zone): display 'city, country' when control closed and value set programatically
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Labels: bug, pr ready for visual snapshots

#12269 fix(accordion-item): fix font size for headingLevel property
  packages/calcite-components/src/components/accordion-item/accordion-item.e2e.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion-item/accordion-item.tsx
  packages/calcite-components/src/components/accordion/accordion.stories.ts
Labels: bug, pr ready for visual snapshots

#12257 refactor(action, action-menu): use private activeDescendant property in place of data attribute
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
  packages/calcite-components/src/components/action-menu/resources.ts
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/action.tsx
Labels: refactor, pr ready for visual snapshots

#12159 test: improve test stability
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/card-group/card-group.e2e.ts
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
  packages/calcite-components/src/components/chip/chip.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/filter/filter.e2e.ts
  packages/calcite-components/src/components/handle/handle.e2e.ts
  packages/calcite-components/src/components/icon/icon.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/meter/meter.e2e.ts
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/shell/shell.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/tab-nav/tab-nav.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
  packages/calcite-components/src/tests/commonTests/accessible.ts
  packages/calcite-components/src/tests/commonTests/disabled.ts
  packages/calcite-components/src/tests/commonTests/focusTrap.ts
  packages/calcite-components/src/tests/commonTests/openClose.ts
  packages/calcite-components/src/tests/commonTests/themed.ts
  packages/calcite-components/src/tests/globalStyles.e2e.ts
  packages/calcite-components/src/tests/stackedFocusTrap.e2e.ts
  packages/calcite-components/src/tests/utils/puppeteer.ts
  packages/calcite-components/src/tests/utils/timing.ts
  packages/calcite-components/src/utils/dom.spec.ts
  packages/calcite-components/src/utils/floating-ui.spec.ts
  packages/calcite-components/src/utils/openCloseComponent.spec.ts
Labels: chore, skip visual snapshots

#12276 fix(input-time-picker): add label property
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Labels: bug, skip visual snapshots

#12297 docs(button): correct conflicting JSDoc for `loading` prop
  packages/calcite-components/src/components/button/button.tsx
Labels: docs, skip visual snapshots

#12291 refactor(block-section): use appropriate class name for `icon-end` element
  packages/calcite-components/src/components/block-section/block-section.e2e.ts
  packages/calcite-components/src/components/block-section/block-section.tsx
Labels: refactor, pr ready for visual snapshots

#12265 refactor(sortable-list): remove unsupported properties from demo
  packages/calcite-components/src/demos/sortable-list.html
Labels: refactor, skip visual snapshots

#12303 feat: add subheading icons
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/subheading-1-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-1-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-1-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-2-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-3-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-4-rtl-32.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-16.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-24.svg
  packages/calcite-ui-icons/icons/subheading-5-rtl-32.svg
Labels: enhancement, skip visual snapshots

#12298 fix(stepper-item): remove margin when slotted content is empty
  packages/calcite-components/src/components/stepper-item/resources.ts
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/stepper.stories.ts
Labels: bug, pr ready for visual snapshots

#12309 chore(input-date-picker): add message strings
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.en.json
  packages/calcite-components/src/components/input-date-picker/assets/t9n/messages.json
Labels: chore, skip visual snapshots

#12307 docs(storybook): fix markdown imports by adding `raw` query parameter
  packages/calcite-components/src/04-licensing.mdx
  packages/calcite-components/src/06-faq.mdx
  packages/calcite-components/src/07-conventions.mdx
Labels: docs, skip visual snapshots

#12280 test(link): drop redundant tests covered by themed/screenshot tests
  packages/calcite-components/src/components/link/link.e2e.ts
Labels: skip visual snapshots

#12318 ci: fix next deployments by restoring version
  package-lock.json
  packages/calcite-components-react/package.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#12312 fix(input-time-picker): apply aria-label and aria-controls attributes correctly to support NVDA and JAWS
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/input-time-picker/resources.ts
Labels: bug, skip visual snapshots

#12219 chore: add action to assign reviewers for translation PR
  .github/scripts/assignPullRequestReviewer.js
  .github/scripts/support/resources.js
  .github/workflows/pr-t9n.yml
Labels: chore, skip visual snapshots

#12293 fix(input-time-zone): address code review comments
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Labels: bug, pr ready for visual snapshots

#12317 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#12260 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#12335 build: restore usage of monorepo package dependencies
  package-lock.json
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#12333 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#12342 chore(tokens): enable `strict` and drop `typescript-strict-plugin`
  packages/calcite-design-tokens/tsconfig-base.json
  packages/calcite-design-tokens/tsconfig.json
Labels: chore, skip visual snapshots

#12347 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#12350 feat: add content side by side right
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/content-side-by-side-right-16.svg
  packages/calcite-ui-icons/icons/content-side-by-side-right-24.svg
  packages/calcite-ui-icons/icons/content-side-by-side-right-32.svg
Labels: skip visual snapshots

#12348 refactor: wire up design tokens in custom Tailwind focus utils
  packages/calcite-components/tailwind.config.ts
  packages/calcite-tailwind-preset/src/index.ts
Labels: refactor, pr ready for visual snapshots

#12139 fix(input-date-picker): no longer close when non-interactive areas are clicked in Safari
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/date-picker/date-picker.scss
  packages/calcite-components/src/components/date-picker/date-picker.tsx
Labels: bug, pr ready for visual snapshots

#12372 chore(storybook): html preview attribute cleanup
  package-lock.json
  package.json
  packages/calcite-components/.storybook/manager.ts
Labels: chore

#12373 refactor(autocomplete): merge `willUpdate` repositioning logic
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Labels: refactor, pr ready for visual snapshots

#12376 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#12384 fix(input-time-zone): fix selected time zone label flicker and scroll delay for region mode
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/utils/openCloseComponent.ts
Labels: bug, pr ready for visual snapshots, no changelog entry

#12392 fix: ensure initial transitions are applied consistently
  packages/calcite-components/src/assets/styles/_floating-ui.scss
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/tests/commonTests/openClose.ts
Labels: pr ready for visual snapshots

#12397 fix: remove breakpoint tokens from semantic output
  packages/calcite-design-tokens/src/build/filter/semantic.ts
  packages/calcite-design-tokens/tests/spec/__snapshots__/index.spec.ts.snap
Labels: bug, pr ready for visual snapshots

#12406 feat: add location local
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/location-label-16.svg
  packages/calcite-ui-icons/icons/location-label-24.svg
  packages/calcite-ui-icons/icons/location-label-32.svg
Labels: enhancement, skip visual snapshots

#12242 feat(input-text): add component tokens
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input-text/resources.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/input-text.ts
  packages/calcite-components/src/demos/input-text.html
  packages/calcite-components/src/tests/commonTests/themed.ts
Labels: enhancement, pr ready for visual snapshots

#12400 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#12396 refactor(date-picker, input-date-picker): drop checks for required localeData prop
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Labels: refactor, pr ready for visual snapshots

#12352 refactor(time-picker): use the useTime controller
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
  packages/calcite-components/src/components/time-picker/time-picker.tsx
  packages/calcite-components/src/controllers/useTime.ts
Labels: refactor, pr ready for visual snapshots

#12409 refactor: drop redundant hidden styles
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/assets/styles/includes.scss
  packages/calcite-components/src/components/modal/modal.scss
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/tip/tip.scss
Labels: refactor, pr ready for visual snapshots

#11770 feat(table, table-row, table-header, table-cell): Add component tokens
  packages/calcite-components/src/components/table-cell/table-cell.scss
  packages/calcite-components/src/components/table-header/table-header.scss
  packages/calcite-components/src/components/table-row/table-row.scss
  packages/calcite-components/src/components/table/resources.ts
  packages/calcite-components/src/components/table/table.e2e.ts
  packages/calcite-components/src/components/table/table.scss
  packages/calcite-components/src/components/table/table.tsx
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/table.ts
  packages/calcite-components/src/demos/table.html
Labels: enhancement, pr ready for visual snapshots, design-tokens
