Repository Esri/calcite-design-system, pull requests merged in 2025-02, with the labels that each got.

#11427 fix(combobx): display selected item when initally opened
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: bug, pr ready for visual snapshots

#11429 fix(dialog): toggle focus-trap on DOM connect and disconnect
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/controllers/useFocusTrap.ts
  packages/calcite-components/src/utils/focusTrapComponent.ts
Labels: bug, pr ready for visual snapshots, no changelog entry

#11433 test(input-date-picker): date selection is independent of days in month
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
Labels: testing, skip visual snapshots

#11410 fix(shell-panel): Fix visual issues in `displayMode="float-all"`
  packages/calcite-components/src/components/shell-panel/shell-panel.e2e.ts
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/custom-theme/calcite-shell-panel.ts
  packages/calcite-components/src/demos/shell-panel.html
Labels: bug, pr ready for visual snapshots

#11319 feat(block-group, block): add block-group component
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.scss
  packages/calcite-components/src/components/block-group/block-group.stories.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/block-group/interfaces.ts
  packages/calcite-components/src/components/block-group/resources.ts
  packages/calcite-components/src/components/block-group/utils.ts
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/utils.ts
  packages/calcite-components/src/components/handle/handle.tsx
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
  packages/calcite-components/src/demos/block.html
Labels: enhancement, new component, pr ready for visual snapshots

#11436 refactor(block, loader, progress): remove unnecessary sass import
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/components/progress/progress.scss
Labels: refactor, pr ready for visual snapshots

#11437 refactor(list, list-item): use constant for querySelector and remove unnecessary conditional
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: refactor, skip visual snapshots

#11439 fix(carousel): Improve Carousel navigation display
  packages/calcite-components/src/components/carousel/carousel.scss
Labels: bug, figma changes, pr ready for visual snapshots, no changelog entry

#11440 feat(text-area): add `limitText` prop to prevent input beyond max-length
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Labels: enhancement, skip visual snapshots

#11445 feat: add dual image area, dual image direction, and dual image location
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/dual-image-area-16.svg
  packages/calcite-ui-icons/icons/dual-image-area-24.svg
  packages/calcite-ui-icons/icons/dual-image-area-32.svg
  packages/calcite-ui-icons/icons/dual-image-distance-16.svg
  packages/calcite-ui-icons/icons/dual-image-distance-24.svg
  packages/calcite-ui-icons/icons/dual-image-distance-32.svg
  packages/calcite-ui-icons/icons/dual-image-location-16.svg
  packages/calcite-ui-icons/icons/dual-image-location-24.svg
  packages/calcite-ui-icons/icons/dual-image-location-32.svg
Labels: enhancement, skip visual snapshots

#11446 chore(scripts): remove clean-readmes script
  packages/calcite-components/package.json
Labels: chore, skip visual snapshots

#11461 docs(sheet): add default slot for docs
  packages/calcite-components/src/components/sheet/sheet.tsx
Labels: docs, skip visual snapshots

#11362 feat(dialog): add focusTrapDisabled property for non-modal dialogs
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/controllers/useFocusTrap.ts
  packages/calcite-components/src/utils/focusTrapComponent.spec.ts
  packages/calcite-components/src/utils/focusTrapComponent.ts
Labels: enhancement, skip visual snapshots

#11380 feat(date-picker): add component tokens
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/date-picker/date-picker.scss
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/date-picker.ts
  packages/calcite-components/src/demos/date-picker.html
Labels: enhancement, pr ready for visual snapshots

#11466 fix(table): Fix `bordered` styling in Firefox
  packages/calcite-components/src/components/table-row/table-row.scss
  packages/calcite-components/src/components/table/table.scss
  packages/calcite-components/src/demos/table.html
Labels: bug, pr ready for visual snapshots

#11453 feat(dialog, modal, popover, sheet): add options prop to customize focus-trap
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/controllers/useFocusTrap.ts
Labels: enhancement, pr ready for visual snapshots

#11467 docs(time-picker): add description to time picker change event
  packages/calcite-components/src/components/time-picker/time-picker.tsx
Labels: skip visual snapshots

#11468 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#11476 refactor(text-area): clear maxLength instead of directly setting it to the default
  packages/calcite-components/src/components/text-area/text-area.tsx
Labels: refactor, skip visual snapshots

#11481 fix(dialog, modal, popover): add type to `focusTrapOptions` prop
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/controllers/useFocusTrap.ts
Labels: bug, skip visual snapshots, no changelog entry

#11480 fix(dropdown): avoid showing scroller when max-items equals items
  packages/calcite-components/src/components/dropdown-group/dropdown-group.scss
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/dropdown/resources.ts
Labels: bug, pr ready for visual snapshots, no changelog entry

#11482 fix(stepper-item): keep initial focus on newly selected item
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
Labels: bug, pr ready for visual snapshots, no changelog entry

#11485 ci: stop running icon diff check on pr review submit
  .github/scripts/iconTeamDiffCheck.js
  .github/workflows/icons-diff-check.yml
Labels: chore, skip visual snapshots

#11498 fix(modal): fix issue caused by early opening logic calls
  packages/calcite-components/src/components/modal/modal.tsx
Labels: bug, pr ready for visual snapshots, no changelog entry

#11501 ci: increase release-please commit search depth
  release-please-config.json
Labels: chore, skip visual snapshots

#11500 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/docs/index.html
  packages/calcite-ui-icons/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Labels: chore, autorelease: pending

#11504 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/docs/index.html
  packages/calcite-ui-icons/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Labels: chore

#11507 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#11493 feat(tab-title): enhance component's interactivity states
  packages/calcite-components/src/components/tab-title/tab-title.scss
Labels: enhancement, pr ready for visual snapshots

#11478 feat(action): enhance component's interactivity states
  packages/calcite-components/src/components/action/action.scss
Labels: enhancement, pr ready for visual snapshots

#11519 ci: ensure contributors workflow runs on dev
  .github/workflows/contributors.yml
Labels: chore, skip visual snapshots

#11528 docs(examples): update module imports after 3x breaking change
  examples/components/angular/README.md
  examples/components/angular/src/app/app.component.ts
  examples/components/react/README.md
  examples/components/react/src/App.tsx
Labels: docs, skip visual snapshots

#11465 feat(dropdown): add component tokens
  packages/calcite-components/src/components/dropdown-group/dropdown-group.e2e.ts
  packages/calcite-components/src/components/dropdown-group/dropdown-group.scss
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/dropdown-group/resources.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.e2e.ts
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/dropdown.ts
Labels: enhancement, pr ready for visual snapshots

#11537 docs(dropdown, dropdown-group, dropdown-item): update component token descriptions
  packages/calcite-components/src/components/dropdown-group/dropdown-group.scss
  packages/calcite-components/src/components/dropdown-item/dropdown-item.scss
  packages/calcite-components/src/components/dropdown/dropdown.scss
Labels: docs, skip visual snapshots

#11526 test(dropdown, accordion, stepper): fix tests for inheritable props
  packages/calcite-components/src/components/accordion/accordion.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
Labels: skip visual snapshots

#11510 chore(input-date-picker): drop an unnecessary comment
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
Labels: chore, skip visual snapshots

#11535 docs(loader): update references to reflect component use
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/components/loader/loader.tsx
Labels: docs, skip visual snapshots

#11515 fix(list, block-group): drag menu 'Move to' actions broken when list elements have explicit ids
  packages/calcite-components/src/components/block-group/block-group.e2e.ts
  packages/calcite-components/src/components/block-group/block-group.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Labels: bug, skip visual snapshots

#11520 feat(split-button): make downloadable and linkable
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.stories.ts
  packages/calcite-components/src/components/split-button/split-button.tsx
  packages/calcite-components/src/demos/split-button.html
Labels: enhancement, pr ready for visual snapshots

#11531 docs: link to package readmes from root readme
  readme.md
Labels: docs, skip visual snapshots

#11477 feat(segmented-control-item): enhance component's interactivity states
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.scss
Labels: enhancement, skip visual snapshots

#11548 fix(dialog, modal, sheet): preserve focus-trap extra containers across internal trap updates
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/controllers/useFocusTrap.ts
Labels: bug, pr ready for visual snapshots

#11539 build(deps): update arcgis to ^4.33.0-next.13
  package-lock.json
  package.json
  packages/calcite-components/package.json
Labels: chore, pr ready for visual snapshots

#11551 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, autorelease: pending

#11552 chore: release main (#11551)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components/readme.md
Labels: chore

#11556 fix(dialog, modal, popover, sheet): fixes an issue that caused extra containers to be lost after internal trap updates
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
Labels: bug, skip visual snapshots

#11559 revert: build(deps): update arcgis to ^4.33.0-next.13 (#11539)
  package-lock.json
  package.json
  packages/calcite-components/package.json
Labels: skip visual snapshots

#11561 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, autorelease: pending

#11562 chore: release main (#11561)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots

#11557 fix(tooltip): close tooltips on prevented pointer move events
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Labels: bug, skip visual snapshots

#11538 feat(chip): enhance component's interactivity states
  packages/calcite-components/src/components/chip-group/chip-group.stories.ts
  packages/calcite-components/src/components/chip/chip.scss
Labels: enhancement, pr ready for visual snapshots

#11568 chore(tip-manager): drop empty spec test
  packages/calcite-components/src/components/tip-manager/tip-manager.spec.ts
Labels: chore, skip visual snapshots

#11571 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#11530 docs(readme): remove redundant sections, fix broken link
  packages/calcite-components-react/README.md
  packages/calcite-components/readme.md
Labels: docs, skip visual snapshots

#11569 docs(list, sortable-list): remove consecutive spaces in documentation
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/components/sortable-list/sortable-list.tsx
Labels: docs, skip visual snapshots

#11389 feat(chip): deprecate `pressed` in favor of `press`
  packages/calcite-components/src/components/chip/chip.e2e.ts
  packages/calcite-components/src/components/chip/chip.scss
  packages/calcite-components/src/custom-theme/chips.ts
  packages/calcite-components/src/demos/chip.html
Labels: enhancement, chore, pr ready for visual snapshots

#11564 refactor(useFocusTrap): remove activate/deactivate override options for consistent behavior
  packages/calcite-components/src/controllers/useFocusTrap.ts
Labels: refactor, skip visual snapshots

#11580 refactor(segmented-control-item): use --calcite-z-index css token instead of hardcoded value
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.scss
Labels: refactor, skip visual snapshots

#11586 fix(dialog, modal, popover, sheet): restore `focusTrapDisabled` reactiveness
  packages/calcite-components/src/controllers/useFocusTrap.ts
Labels: bug, pr ready for visual snapshots

#11587 fix(slider): ensure histograms with non-zero min are displayed correctly
  packages/calcite-components/src/components/graph/graph.e2e.ts
  packages/calcite-components/src/components/graph/util.ts
  packages/calcite-components/src/components/slider/slider.stories.ts
Labels: bug, skip visual snapshots

#11585 docs(block-group): update documentation for canPull
  packages/calcite-components/src/components/block-group/block-group.tsx
Labels: docs, skip visual snapshots

#11525 fix(input-date-picker): no longer close while navigating months with chevron actions
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
Labels: bug, regression, pr ready for visual snapshots

#11540 refactor(combobox): address post-commit review comments
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Labels: refactor, pr ready for visual snapshots

#11596 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/package.json
  packages/calcite-components/readme.md
Labels: chore, autorelease: pending

#11598 chore: release main (#11596)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components/readme.md
Labels: chore, skip visual snapshots

#11469 feat(rating): enhance component's interactivity states
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/rating/rating.scss
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/custom-theme/rating.ts
Labels: enhancement, pr ready for visual snapshots

#11595 chore(rating, segmented-control): improve event handler types
  packages/calcite-components/src/components/rating/rating.tsx
  packages/calcite-components/src/components/segmented-control/segmented-control.tsx
Labels: chore, skip visual snapshots

#11590 feat(button): enhance component's interactivity states
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.scss
  packages/calcite-components/src/demos/button.html
Labels: enhancement, skip visual snapshots

#11612 fix(dropdown-group): fix error caused by early removal
  packages/calcite-components/src/components/dropdown-group/dropdown-group.e2e.ts
  packages/calcite-components/src/components/dropdown-group/dropdown-group.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
Labels: bug, pr ready for visual snapshots

#11613 chore(linting): move stylelint `lint-staged` command to `calcite-components` to prevent config errors
  .lintstagedrc.js
  packages/calcite-components/.lintstagedrc.js
Labels: chore, skip visual snapshots

#11614 feat(dropdown): add `offsetDistance` and `offsetSkidding` properties
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.stories.ts
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/utils/floating-ui.ts
Labels: enhancement, pr ready for visual snapshots

#11599 fix(tooltip): do not open after the pointer has moved off of the reference element
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/resources.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Labels: bug, pr ready for visual snapshots

#11600 fix(tooltip): close tooltip when hovering out of an iframe
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Labels: bug, skip visual snapshots

#11497 refactor(alert, autocomplete, combobox, dialog, dropdown, input-date-picker, modal, notice, popover, sheet, tooltip): avoid clearing `transitionEl` ref nodes
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
Labels: bug, Stale, pr ready for visual snapshots

#11617 ci(actions): add action to close issues without enough information
  .github/scripts/closeNeedMoreInfoIssues.js
  .github/scripts/support/resources.js
  .github/workflows/close-needs-more-info-issues.yml
Labels: chore, skip visual snapshots

#11495 fix(panel): apply custom styles correctly to header actions
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/panel/panel.e2e.ts
  packages/calcite-components/src/components/panel/panel.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/panel.ts
  packages/calcite-components/src/demos/panel.html
Labels: bug, pr ready for visual snapshots

#11624 test(chip): tidy up tests
  packages/calcite-components/src/components/chip/chip.e2e.ts
Labels: skip visual snapshots

#11638 fix(card-group): Restore default gap spacing
  packages/calcite-components/src/components/card-group/card-group.scss
Labels: bug, pr ready for visual snapshots
