Repository Esri/calcite-design-system, pull requests merged in 2025-03, with the labels that each got.

#11635 test(shell-panel): Fix token story set up
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/calcite-shell-panel.ts
  packages/calcite-components/src/custom-theme/shell-panel.ts
Labels: pr ready for visual snapshots

#11492 fix(tabs): redisplay close button when more than one tab is closable
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
Labels: bug, Stale, pr ready for visual snapshots

#11003 feat(list-item, list): add `expanded` property and deprecate `open` property
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/demos/list.html
  readme.md
Labels: enhancement, skip visual snapshots

#11582 feat(block, block-section): add `expanded` property and deprecate `open` property
  packages/calcite-components/src/components/block-section/block-section.e2e.ts
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/components/block-section/block-section.tsx
  packages/calcite-components/src/components/block-section/resources.ts
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/components/block/block.stories.ts
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/block/resources.ts
  packages/calcite-components/src/demos/block.html
Labels: enhancement, skip visual snapshots

#11639 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#11656 docs: remove extraneous stylesheet reference
  packages/calcite-components/readme.md
Labels: docs, skip visual snapshots

#11693 ci: fix contributors action creating multiple PRs
  .github/workflows/contributors.yml
Labels: chore, skip visual snapshots

#11702 docs: update list of contributors
  readme.md
Labels: docs, skip visual snapshots

#11708 docs(contributors): exclude calcite-admin bot from list
  readme.md
Labels: docs, skip visual snapshots

#11709 docs: update list of contributors
  readme.md
Labels: docs, skip visual snapshots

#11703 chore: rename READMEs for consistency
  .github/scripts/README.md
  .github/workflows/contributors.yml
  README.md
  packages/calcite-components/README.md
  packages/calcite-components/src/assets/styles/README.md
  release-please-config.json
Labels: chore, skip visual snapshots

#11711 fix: allow global focus color token to inherit fallback value
  packages/calcite-design-tokens/src/semantic/color.json
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
Labels: bug, pr ready for visual snapshots

#11722 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#11647 feat(combobox-item): update interactive state
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox-item/resources.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Labels: enhancement, pr ready for visual snapshots

#11726 feat(combobox-item): update selection icons
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
Labels: enhancement, pr ready for visual snapshots

#11739 feat: add language-2
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/language-2-16.svg
  packages/calcite-ui-icons/icons/language-2-24.svg
  packages/calcite-ui-icons/icons/language-2-32.svg
Labels: enhancement, skip visual snapshots, calcite-ui-icons

#11746 chore: improve dev workflow (build watch mode + test reruns)
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/vitest.config.ts
Labels: chore, skip visual snapshots

#11751 fix(text-area): fix error caused by internal measuring on disconnect
  packages/calcite-components/src/components/text-area/resources.ts
  packages/calcite-components/src/components/text-area/text-area.e2e.ts
  packages/calcite-components/src/components/text-area/text-area.tsx
Labels: bug, skip visual snapshots

#11738 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#11753 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#11752 chore: use Vite for `@esri/eslint-plugin-calcite-components` build
  package-lock.json
  package.json
  packages/eslint-plugin-calcite-components/package.json
  packages/eslint-plugin-calcite-components/rollup.config.ts
  packages/eslint-plugin-calcite-components/tsconfig.json
  packages/eslint-plugin-calcite-components/vite.config.mts
Labels: chore, skip visual snapshots

#11758 refactor(filter): remove unused styles
  packages/calcite-components/src/components/filter/filter.scss
  packages/calcite-components/src/components/filter/resources.ts
Labels: enhancement, pr ready for visual snapshots

#11768 fix: Update README.md
  packages/calcite-ui-icons/README.md
Labels: bug, skip visual snapshots

#11623 feat(combobox, combobox-item-group): add component tokens
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.scss
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.scss
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/combobox.ts
  packages/calcite-components/src/demos/combobox.html
Labels: enhancement, pr ready for visual snapshots

#11773 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#11769 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#11779 feat: add browser join and browser plus
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/fantasticonrc.json
  packages/calcite-ui-icons/icons/browser-join-16.svg
  packages/calcite-ui-icons/icons/browser-join-24.svg
  packages/calcite-ui-icons/icons/browser-join-32.svg
  packages/calcite-ui-icons/icons/browser-plus-16.svg
  packages/calcite-ui-icons/icons/browser-plus-24.svg
  packages/calcite-ui-icons/icons/browser-plus-32.svg
Labels: enhancement, skip visual snapshots

#11645 feat(combobox-item): add component tokens
  README.md
  packages/calcite-components/src/components/combobox-item/combobox-item.e2e.ts
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox-item/resources.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/combobox-item.ts
Labels: enhancement, pr ready for visual snapshots

#11780 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#11792 build: update browserslist db
  package-lock.json
Labels: chore, skip visual snapshots

#11390 feat(accordion): add new component tokens and deprecate old tokens
  packages/calcite-components/src/components/accordion-item/accordion-item.e2e.ts
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion/accordion.e2e.ts
  packages/calcite-components/src/components/accordion/accordion.scss
  packages/calcite-components/src/custom-theme/accordion-item.ts
  packages/calcite-components/src/custom-theme/accordion.ts
  packages/calcite-components/src/demos/accordion.html
Labels: enhancement, chore, pr ready for visual snapshots

#11799 feat: add check
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/check-16.svg
  packages/calcite-ui-icons/icons/check-24.svg
  packages/calcite-ui-icons/icons/check-32.svg
Labels: enhancement, skip visual snapshots

#11803 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#11723 feat(fab): add component tokens
  packages/calcite-components/src/components/fab/fab.e2e.ts
  packages/calcite-components/src/components/fab/fab.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/fab.ts
Labels: enhancement, pr ready for visual snapshots

#11806 docs(combobox, combobox-item): update token descriptions
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
  packages/calcite-components/src/components/combobox/combobox.scss
Labels: docs, skip visual snapshots

#11805 revert(fab): add component tokens
  packages/calcite-components/src/components/fab/fab.e2e.ts
  packages/calcite-components/src/components/fab/fab.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/fab.ts
Labels: chore, pr ready for visual snapshots

#11791 feat(flow-item): expose `FlowItemLike` type
  packages/calcite-components/src/components/flow/types/index.ts
Labels: enhancement, skip visual snapshots

#11810 build(deps): update package-lock
  package-lock.json
Labels: chore, skip visual snapshots

#11809 chore: release main
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  package-lock.json
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components-react/package.json
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/README.md
  packages/calcite-components/package.json
  packages/calcite-design-tokens/CHANGELOG.md
  packages/calcite-design-tokens/package.json
  packages/calcite-ui-icons/CHANGELOG.md
  packages/calcite-ui-icons/docs/index.html
  packages/calcite-ui-icons/package.json
  packages/eslint-plugin-calcite-components/CHANGELOG.md
  packages/eslint-plugin-calcite-components/package.json
Labels: chore, autorelease: pending

#11808 fix: update tags
  packages/calcite-ui-icons/docs/keywords.json
Labels: bug, skip visual snapshots

#11759 feat(input-message): add component tokens and deprecate --calcite-input-message-spacing-value
  packages/calcite-components/src/components/input-message/input-message.e2e.ts
  packages/calcite-components/src/components/input-message/input-message.scss
  packages/calcite-components/src/components/input-message/resources.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/input-message.ts
Labels: enhancement, pr ready for visual snapshots

#11828 chore: ignore iml files
  .gitignore
Labels: chore, skip visual snapshots

#11822 chore: include all node_modules dirs in clean script
  package.json
  packages/calcite-design-tokens/package.json
  packages/calcite-ui-icons/package.json
  packages/eslint-plugin-calcite-components/package.json
Labels: chore, skip visual snapshots

#11829 docs: update list of contributors
  README.md
Labels: docs, skip visual snapshots

#11824 feat(list-item): enhance component's interactivity states
  packages/calcite-components/src/components/list-item/list-item.scss
Labels: enhancement, pr ready for visual snapshots

#11811 ci: move 3rd party license generation to scheduled workflow
  .github/workflows/deploy-latest.yml
  .github/workflows/schedule-updates.yml
Labels: chore, skip visual snapshots
